Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

chore: update docker-compose and helm chart
  docker-compose.yml
Labels: none

add pool button
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

docs for git repo storage 4789 (#5064)
  docs/docs/media/repository_architecture.excalidraw.svg
  docs/docs/topics/repository.mdx
Labels: type/documentation

Fix git auth prompting and allow config of '.git' auto suffix
  backend/infrahub/config.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/workers/infrahub_async.py
  backend/tests/unit/graphql/mutations/test_repository.py
  changelog/+ddd89dc2.fixed.md
  changelog/5077.added.md
Labels: group/backend

chore: update docker-compose and helm chart
  docker-compose.yml
Labels: none

Added combobox component for Relationship many (#4422) (#5095)
  frontend/app/src/components/filters/utils/getFiltersFromFormData.ts
  frontend/app/src/components/filters/utils/getObjectFromFilters.ts
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-many.field.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/input.tsx
  frontend/app/src/components/ui/style.ts
  frontend/app/src/graphql/mutations/groups/updateGroupsQuery.ts
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/screens/groups/add-group-form.tsx
  frontend/app/src/screens/groups/add-group-trigger-button.tsx
  frontend/app/src/screens/groups/groups-manager.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/form/proposed-change-edit-form.tsx
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  frontend/app/tests/e2e/form/multi-select.spec.ts
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-groups.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/mocks/data/task_6.ts
  frontend/app/tests/unit/components/filters/getFiltersFromFormData.test.ts
  frontend/app/tests/unit/components/filters/getObjectFromFilters.test.ts
  frontend/app/tests/unit/components/form/utils/getCreateMutationFromFormData.test.ts
  frontend/app/tests/unit/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/tests/unit/components/form/utils/getUpdateMutationFromFormData.test.ts
Labels: group/frontend

update style
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

update tests
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: group/frontend

udpate test
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
Labels: group/frontend

Use plain instead of enriched stack traceback
  backend/infrahub/log.py
Labels: group/backend

Fix query filter on attribute of type List
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/utils.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/5091.fixed.md
Labels: group/backend

Close button was looking for not disabled rather than disabled. Added check to existing test to validate PC details has the close button as not disabled.
  frontend/app/src/screens/proposed-changes/action-button/pc-close-button.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

start update tests
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
Labels: group/frontend

fix close button state for proposed changes
  frontend/app/src/screens/proposed-changes/action-button/pc-close-button.tsx
Labels: group/frontend

fix(docker): remove task worker shared storage
  development/docker-compose.local-build.yml
  development/docker-compose.yml
  docker-compose.yml
  tasks/shared.py
Labels: none

update docs installation guide
  docs/docs/guides/installation.mdx
  docs/docs/python-sdk/reference/config.mdx
Labels: type/documentation

Initial testing library based on docker compose
  backend/infrahub/testing/__init__.py
  backend/infrahub/testing/container.py
  backend/infrahub/testing/docker-compose.test.yml
  backend/infrahub/testing/helpers.py
  backend/infrahub/testing/schemas/__init__.py
  backend/infrahub/testing/schemas/car_person.py
  backend/tests/integration_docker/__init__.py
  backend/tests/integration_docker/test_schema_migration.py
Labels: group/backend

Support updating artifact definition targets
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  changelog/5060.fixed.md
Labels: group/backend

uniformize VERSION
  docker-compose.yml
Labels: none

npm audit fix
  frontend/app/package-lock.json
Labels: group/frontend

re-generate
  docs/docs/python-sdk/reference/config.mdx
Labels: type/documentation

uniformize VERSION (#5113)
  docker-compose.yml
Labels: none

uniformize VERSION (#5113)
  docker-compose.yml
Labels: none

npm audit fix (#5114)
  frontend/app/package-lock.json
Labels: group/frontend

Close button was looking for not disabled rather than disabled. Added check to existing test to validate PC details has the close button as not disabled. (#5105)
  frontend/app/src/screens/proposed-changes/action-button/pc-close-button.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

correctly set value for list field on create/update mutation
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/tests/unit/components/form/utils/getCreateMutationFromFormData.test.ts
  frontend/app/tests/unit/components/form/utils/getUpdateMutationFromFormData.test.ts
Labels: group/frontend

fix(docs): update helm docs
  docs/docs/guides/installation.mdx
Labels: type/documentation

fix(helm): remove shared storage dependency
  helm/Chart.yaml
  helm/templates/infrahub-task-worker.yaml
  helm/values.yaml
Labels: none

fix(docs): update helm docs
  docs/docs/guides/installation.mdx
Labels: type/documentation

fix(helm): remove shared storage dependency
  helm/Chart.yaml
  helm/templates/infrahub-task-worker.yaml
  helm/values.yaml
Labels: none

correctly set and get filter value for attribute of kind list
  frontend/app/src/components/filters/utils/getFiltersFromFormData.ts
  frontend/app/src/components/filters/utils/getObjectFromFilters.ts
  frontend/app/tests/unit/components/filters/getFiltersFromFormData.test.ts
  frontend/app/tests/unit/components/filters/getObjectFromFilters.test.ts
Labels: group/frontend

Remove schema_validators_checker
  backend/infrahub/core/validators/checker.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/unit/core/constraint_validators/test_checker.py
Labels: group/backend

Fix tests
  backend/infrahub/api/schema.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/api/test_40_schema_api.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
Labels: group/backend

Finalize the migration of schema validation and schema migration tasks
  backend/infrahub/core/migrations/schema/models.py
  backend/infrahub/core/migrations/schema/runner.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/models/validate_migration.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/schema_migration_path.py
  backend/infrahub/message_bus/messages/schema_validator_path.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/schema/__init__.py
  backend/infrahub/message_bus/operations/schema/migration.py
  backend/infrahub/message_bus/operations/schema/validator.py
  backend/tests/unit/api/test_40_schema_api.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/migrations/schema/test_node_attribute_add.py
  backend/tests/unit/core/migrations/schema/test_node_remove.py
  backend/tests/unit/core/migrations/schema/test_runner.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Refactor schema_validate_migrations to return a list of SchemaValidatorPathResponseData
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/validators/models/validate_migration.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
Labels: group/backend

handle managed relationships in more places
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/dependencies/builder/diff/conflicts_enricher.py
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
Labels: group/backend

special handling for IP relationships in diff and merge
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/diff/managed_relationship_checker.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/ipam/kinds_getter.py
  backend/infrahub/dependencies/builder/diff/calculator.py
  backend/infrahub/dependencies/builder/diff/managed_relationship_checker.py
  backend/infrahub/dependencies/builder/diff/query_parser.py
  backend/infrahub/dependencies/registry.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

small unit test fixes
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
Labels: group/backend

fix some unit tests, remove unnecessary code
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/dependencies/builder/diff/conflicts_enricher.py
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
Labels: group/backend

Fixes user permissions updates (#4985)
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/components/ui/search-input.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend
