Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

got it working, I think
  docs/docs/media/guides/resource_manager_pool_ip.png
  docs/docs/media/guides/resource_manager_pool_prefix.png
  docs/docs/media/guides/resource_manager_pool_vlan.png
  docs/docs/media/guides/resource_manager_rss_prefix_10_100_0.png
  docs/docs/media/guides/resource_manager_rss_prefix_10_100_1.png
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend, type/documentation

extracted pool-select component from relationship-one component
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/src/shared/components/inputs/pool-select.tsx
  frontend/app/src/shared/components/inputs/relationship-one.tsx
Labels: group/frontend

add default case
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

add group event and ensure default display
  frontend/app/src/entities/events/ui/global-branch-event.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/group-event.tsx
  frontend/app/src/entities/events/ui/standard-event.tsx
  frontend/app/src/entities/events/utils/constants.ts
Labels: group/frontend

fix global event
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

fix branch event with new properties
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/branch-event.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

inter
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend

linter bis
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend

update branch events
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/branch-event.tsx
  frontend/app/src/entities/events/utils/constants.ts
Labels: group/frontend

always display link
  frontend/app/src/entities/events/ui/node-events.tsx
Labels: group/frontend

code improvement
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
Labels: group/frontend

merge origin/release-1.2 + regenerate activity log screenshots
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

merge origin/release-1.2 + regenerate activity log screenshots
  docs/docs/media/activity_log_device.png
  docs/docs/media/activity_log_device_popover.png
  docs/docs/media/activity_log_global_details_children.png
  docs/docs/media/activity_log_global_filters_children.png
  docs/docs/media/activity_log_global_filters_primary.png
  docs/docs/media/location_menu.png
  docs/docs/media/tasks_list.png
  docs/docs/topics/activity-log.mdx
Labels: type/documentation

linter
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

linter
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

linter terse sorry
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

added pool on relationship hierarchical
  frontend/app/src/shared/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/tests/e2e/objects/object-groups.spec.ts
Labels: group/frontend

Added changelog
  changelog/5888.fixed.md
Labels: none

Update resource_manager_guide.spec.ts
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend

update detailled view for link issue
  docs/docs/media/activity_log_device.png
  docs/docs/media/activity_log_device_popover.png
  docs/docs/media/activity_log_global_details_children.png
  docs/docs/media/activity_log_global_filters_children.png
  docs/docs/media/location_menu.png
  docs/docs/media/tasks_list.png
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
Labels: group/frontend, type/documentation

one day ..
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
Labels: group/frontend

Update resource_manager_guide.spec.ts
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend

Update resource_manager_guide.spec.ts
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-menu.mdx
  docs/docs/infrahubctl/infrahubctl-object.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/infrahubctl/infrahubctl-schema.mdx
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend, type/documentation

Update resource_manager_guide.spec.ts
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend

fix links from events
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
Labels: group/frontend

udpate date in tooltip
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

Activity logs Docs (#5863)
  backend/infrahub/events/models.py
  backend/infrahub/message_bus/messages/send_echo_request.py
  docs/_templates/infrahub-events.j2
  docs/_templates/message-bus-events.j2
  docs/docs/guides/artifact.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/repository.mdx
  docs/docs/media/activity_log_device.png
  docs/docs/media/activity_log_device_popover.png
  docs/docs/media/activity_log_global.png
  docs/docs/media/activity_log_global_details_children.png
  docs/docs/media/activity_log_global_filters_children.png
  docs/docs/media/activity_log_global_filters_primary.png
  docs/docs/media/location_menu.png
  docs/docs/media/tasks_list.png
  docs/docs/reference/api-server.mdx
  docs/docs/reference/infrahub-events.mdx
  docs/docs/reference/message-bus-events.mdx
  docs/docs/reference/task-worker.mdx
  docs/docs/topics/activity-log.mdx
  docs/docs/topics/bus-event-handling.mdx
  docs/docs/topics/infrahub-event.mdx
  docs/docs/topics/repository.mdx
  docs/docs/topics/tasks.mdx
  docs/docs/tutorials/getting-started/git-integration.mdx
  docs/docs/tutorials/getting-started/schema.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
  frontend/app/tests/e2e/login.spec.ts
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
  frontend/app/tests/utils.ts
  tasks/docs.py
Labels: group/backend, group/frontend, type/documentation

error message update
  backend/infrahub/core/diff/parent_node_adder.py
Labels: group/backend

Update protocols
  backend/infrahub/core/protocols.py
Labels: group/backend

Use computed attribute for permission identifier
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/schema/definitions/core/permission.py
Labels: group/backend

Fix line length
  backend/infrahub/core/schema/definitions/core/permission.py
Labels: group/backend

fix typo
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
Labels: group/frontend

diff OOM errors and performance (#5887)
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/parent_node_adder.py
  backend/infrahub/core/diff/payload_builder.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/summary_counts_enricher.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/dependencies/builder/diff/deserializer.py
  backend/infrahub/dependencies/builder/diff/enricher/hierarchy.py
  backend/infrahub/dependencies/builder/diff/parent_node_adder.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_diff_get_all_conflicts.py
  backend/tests/unit/core/diff/test_diff_has_conflicts_query.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/graphql/diff/test_diff_update_mutation.py
Labels: group/backend

handle commit events
  frontend/app/src/entities/events/ui/global-standard-event.tsx
  frontend/app/src/entities/events/ui/standard-event.tsx
Labels: group/frontend

reduce load time by around 30s, so around 10%
  models/infrastructure_edge.py
Labels: none

ruff check and format loader
  models/infrastructure_edge.py
Labels: none

Add `generate_template` to node and generic schema
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m020_add_generate_template_attr.py
Labels: group/backend

Improve demo data loading by 10% (#5915)
  models/infrastructure_edge.py
Labels: none

display branch
  frontend/app/src/entities/events/ui/event.tsx
Labels: group/frontend

fix(backend): ignore prefect typing errors
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/tests/integration/git/test_git_repository.py
Labels: group/backend
