Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

removed references to default_filter - more changes
  models/examples/ipfabric/ipfabric.yml
  models/examples/nautobot/nautobot-v1.yml
  models/examples/nautobot/nautobot-v2.yml
Labels: none

update test for new ui
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

lint
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

removed references to default_filter - more changes
  models/examples/netbox/netbox.yml
Labels: none

Animate popover open/close
  frontend/app/src/components/ui/popover.tsx
Labels: group/frontend

Fix service fixture initialization for test_merged
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

Fix number pool allocation report for deleted nodes
  backend/infrahub/core/query/resource_manager.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
Labels: group/backend

Fix Ruff UP007 for tests and utils
  backend/tests/helpers/graphql.py
  backend/tests/integration/ipam/test_ipam_utilization.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  backend/tests/unit/git/test_git_rpc.py
  pyproject.toml
  tasks/container_ops.py
  tasks/dev.py
Labels: group/backend

Add / correct typehints to query.attribute
  backend/infrahub/core/query/attribute.py
  pyproject.toml
Labels: group/backend

Update resource manager documentation (#4609)
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

Update resource manager documentation (#4609)
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

Convert branch rebase mutation to a workflow
  backend/infrahub/core/branch/__init__.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/message_bus/messages/event_branch_rebased.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

refetch queries on logout
  frontend/app/src/hooks/useAuth.tsx
Labels: group/frontend

remove log
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

rename file
  frontend/app/src/screens/role-management/constants.ts
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

Update resource manager documentation (#4609)
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

Permissions updates - IFC-788 / IFC-794 / IFC-798 / IFC-799 / IFC-800 / IFC-805 / IFC-806 / IFC-807 / IFC-809 (#4683)
  frontend/app/src/components/display/slide-over.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/graphql/queries/objects/dropdownOptions.ts
  frontend/app/src/graphql/queries/objects/getObjectDisplayLabel.ts
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/constants.ts
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

fix(ci): run CI for release branches
  .github/workflows/ci.yml
Labels: group/ci

cleanup accordion
  frontend/app/src/components/display/accordion.tsx
Labels: group/frontend

add accordion in unauth screen
  frontend/app/src/screens/errors/unauthorized-screen.tsx
Labels: group/frontend

use hfid for site relation when creating circuit endpoints
  models/infrastructure_edge.py
Labels: none

fix(ci): run CI for release branches
  .github/workflows/ci.yml
Labels: group/ci

cleanup unauth screen
  frontend/app/src/screens/errors/unauthorized-screen.tsx
Labels: group/frontend

Return friendly error for invalid uniqueness_constraint
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/__init__.py
  backend/tests/unit/core/schema/schema_branch/__init__.py
  backend/tests/unit/core/schema/schema_branch/test_schema_uniqueness_constraints.py
  changelog/4677.fixed.md
Labels: group/backend

Migrate TriggerArtifactDefinitionGenerate to prefect
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/trigger_artifact_definition_generate.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/trigger/__init__.py
  backend/infrahub/message_bus/operations/trigger/artifact_definition.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

create circuit endpoints use site hfid instead of default_filter
  models/infrastructure_edge.py
Labels: none

Mock WorkflowLocalExecution.submit_workflow
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

Update resource manager documentation (#4609)
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

add relationships view for all objects + upate queries
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/relationship-display.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

Add clear message if view is not authorized + refresh permissions on logout - IFC-797 / IFC-804 (#4696)
  frontend/app/src/components/display/accordion.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/screens/errors/unauthorized-screen.tsx
  frontend/app/src/screens/role-management/contants.ts
Labels: group/frontend

removing useless div
  frontend/app/src/screens/role-management/index.tsx
Labels: group/frontend

added search on accounts in role management
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/screens/role-management/accounts.tsx
Labels: group/frontend

biome format graphql
  frontend/app/biome.json
Labels: group/frontend

improve debounce function + add TS
  frontend/app/src/utils/common.ts
Labels: group/frontend

no qsp
  frontend/app/src/screens/role-management/accounts.tsx
Labels: group/frontend

Added search in groups
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/screens/role-management/groups.tsx
Labels: group/frontend

make avatar focusable
  frontend/app/src/components/display/avatar.tsx
Labels: group/frontend

update group member for remaining members
  frontend/app/src/screens/role-management/group-member.tsx
Labels: group/frontend

update remaining items
  frontend/app/src/screens/role-management/group-member.tsx
  frontend/app/src/screens/role-management/relationship-display.tsx
Labels: group/frontend

Set services.service.client in TestProposedChangeReconcile
  backend/infrahub/services/__init__.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/ipam/test_ipam_merge_reconcile.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
