Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

refactor Search Anywhere component
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/api/client.ts
  frontend/app/src/components/search/queries/get-doc-results.ts
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/components/search/search-anywhere-context.ts
  frontend/app/src/components/search/search-anywhere-dialog.tsx
  frontend/app/src/components/search/search-anywhere-empty.tsx
  frontend/app/src/components/search/search-anywhere-group.tsx
  frontend/app/src/components/search/search-anywhere-input.tsx
  frontend/app/src/components/search/search-anywhere-item.tsx
  frontend/app/src/components/search/search-anywhere-trigger.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/search/search-docs.tsx
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/src/devtools.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

Define as @classmethod and remove noqa statements
  backend/infrahub/config.py
Labels: group/backend

Update trigger-submodule.yml (#5174)
  .github/workflows/trigger-submodule.yml
Labels: group/ci

Update release.py
  tasks/release.py
Labels: none

fix wrong env variable + add update to enterprise
  .github/workflows/trigger-submodule.yml
  .github/workflows/update-submodule.yml
Labels: group/ci

linter
  .github/workflows/update-submodule.yml
Labels: group/ci

fix test
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

fix error shellcheck
  .github/workflows/update-submodule.yml
Labels: group/ci

add workflow to release process
  .github/workflows/release.yml
Labels: group/ci

refactor Search Anywhere component (#5175)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/api/client.ts
  frontend/app/src/components/search/queries/get-doc-results.ts
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/components/search/search-anywhere-context.ts
  frontend/app/src/components/search/search-anywhere-dialog.tsx
  frontend/app/src/components/search/search-anywhere-empty.tsx
  frontend/app/src/components/search/search-anywhere-group.tsx
  frontend/app/src/components/search/search-anywhere-input.tsx
  frontend/app/src/components/search/search-anywhere-item.tsx
  frontend/app/src/components/search/search-anywhere-trigger.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/search/search-docs.tsx
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/src/devtools.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

Add trigger to update submodule in Enterprise (#5179)
  .github/workflows/release.yml
  .github/workflows/trigger-submodule.yml
  .github/workflows/update-submodule.yml
Labels: group/ci

Consistently use "Save" on all forms submit button
  changelog/4850.fixed.md
  frontend/app/src/App.tsx
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend

Consistently use "Save" on all forms submit button (#5181)
  changelog/4850.fixed.md
  frontend/app/src/App.tsx
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend

removed trailing space
  changelog/5099.fixed.md
Labels: none

fix menu search
  frontend/app/src/state/atoms/schema.atom.ts
Labels: group/frontend

Added changelog
  changelog/5099.fixed.md
Labels: none

Refresh menu when access token expires
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/api/client.ts
  frontend/app/src/infraops.d.ts
  frontend/app/src/screens/layout/menu-navigation/get-menu.ts
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
  frontend/app/tsconfig.json
Labels: group/frontend

fix e2e
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/state/atoms/schema.atom.ts
Labels: group/frontend

Refresh menu after access token has expired (#5180)
  changelog/5099.fixed.md
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/api/client.ts
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/infraops.d.ts
  frontend/app/src/screens/layout/menu-navigation/get-menu.ts
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/state/atoms/schema.atom.ts
  frontend/app/tsconfig.json
Labels: group/frontend

revert and update change for pep440 for docker and helm chart
  tasks/release.py
Labels: none

linter
  tasks/release.py
Labels: none

Add uuid to spelling-exceptions
  .vale/styles/spelling-exceptions.txt
Labels: none

Add uuid to spelling-exceptions (#5182)
  .vale/styles/spelling-exceptions.txt
Labels: none

Added always-on sandbox and instruqt tutorial
  CONTRIBUTING.md
  README.md
  docs/docs/faq/faq.mdx
  docs/docs/guides/installation.mdx
  docs/docs/tutorials/getting-started/readme.mdx
Labels: type/documentation

On generic schema viewer, display "Hierarchical" value
  frontend/app/src/screens/schema/schema-viewer.tsx
  frontend/app/src/screens/schema/utils.ts
Labels: group/frontend

replace function isGeneric -> isGenericSchema
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/schema/schema-selector.tsx
  frontend/app/src/screens/schema/schema-viewer.tsx
  frontend/app/src/utils/common.ts
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/src/utils/objects.ts
Labels: group/frontend

lint
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/hooks/useObjectDetails.ts
Labels: group/frontend

added changelog
  changelog/+schema-viewer.added.md
Labels: none

On generic schema viewer, display "Hierarchical" value (#5184)
  changelog/+schema-viewer.added.md
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/schema/schema-selector.tsx
  frontend/app/src/screens/schema/schema-viewer.tsx
  frontend/app/src/screens/schema/utils.ts
  frontend/app/src/utils/common.ts
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/src/utils/objects.ts
Labels: group/frontend

fix flaky when uuid contains "256"
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

chore: lint
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

Initialize services for infrahub db update-core-schema
  backend/infrahub/cli/db.py
  development/docker-compose-database-neo4j.yml
Labels: group/backend

Remove infrahub_db_port in neo4j docker file
  development/docker-compose-database-neo4j.yml
Labels: none

Allow pool as relationship name
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/__init__.py
  changelog/4807.fixed.md
Labels: group/backend

Add tags and logs to RabbitMQ tasks
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/workflows/utils.py
Labels: group/backend

Exclude git.file.get from flow test
  backend/tests/unit/message_bus/test_mappings.py
Labels: group/backend

Search shortcuts show 'Cmd' on macOS and 'Ctrl' on other systems.
  changelog/4861.fixed.md
  frontend/app/src/components/search/search-anywhere-trigger.tsx
Labels: group/frontend

fix msg
  changelog/4861.fixed.md
Labels: none

Search shortcuts show 'Cmd' on macOS and 'Ctrl' on other systems. (#5191)
  changelog/4861.fixed.md
  frontend/app/src/components/search/search-anywhere-trigger.tsx
Labels: group/frontend

Fixes SEMVER release tasks (#5172)
  tasks/release.py
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
