Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Cleanup merge operation checker test
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
Labels: group/backend

Restore ignore pylint issue
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

stash WIP
  tasks/release.py
Labels: none

Parametrize demo edge script (#4374)
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
  models/infrastructure_edge.py
Labels: group/frontend

Add support for custom CA bundles to http.adapter
  backend/infrahub/config.py
  backend/infrahub/services/adapters/http/httpx.py
  pyproject.toml
Labels: group/backend

Switch Font to Inter
  frontend/app/index.html
  frontend/app/src/styles/index.css
Labels: group/frontend

Fix custom provider and swap out json -> data in payload
  backend/infrahub/api/oauth2.py
  backend/infrahub/config.py
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
Labels: group/backend

add custom object permission form in object form
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

add role form
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

add group form
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/groups.tsx
Labels: group/frontend

add account form
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
Labels: group/frontend

Switch Infrahub font to Inter (#4527)
  frontend/app/index.html
  frontend/app/src/styles/index.css
Labels: group/frontend

fix delete functions
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

remove log
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

IFC-671 Lock branch and proposed change merge with global permission (#4443)
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/permissions/local_backend.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

add on cancel on each form
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

Fix imports after non rebased merge
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
Labels: group/backend

remove placeholder
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

Fix imports after non rebased merge (#4529)
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
Labels: group/backend

Add OIDC support and cleanup of OAuth2
  backend/infrahub/api/__init__.py
  backend/infrahub/api/oidc.py
  backend/infrahub/auth.py
  backend/infrahub/config.py
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
Labels: group/backend

fix bug in delete relationship query
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

remove UNCHANGED properties, attrs, relationships from calculated diffs
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

consolidate same_value checking logic in ConflictsEnricher
  backend/infrahub/core/diff/conflicts_enricher.py
Labels: group/backend

refactor diff query to exclude intra-branch updates, add previous_values flag
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

fixes for diff recalculation
  backend/infrahub/core/diff/coordinator.py
Labels: group/backend

use branched_from instead of created_at for diff calculation
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

more fixes and tests for diff calculation
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

normalize time comparisons
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
Labels: group/backend

Remove filters from the schema
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/constants.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/filter.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/fixtures/schemas/core_schema_01.json
  backend/tests/fixtures/schemas/schema_01.json
  backend/tests/fixtures/schemas/schema_02.json
  backend/tests/unit/api/test_40_schema_api.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  frontend/app/tests/fixtures/schema.json
Labels: group/backend, group/frontend

Cleanup tests dependencies
  backend/tests/conftest.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  backend/tests/integration/transform/test_transform_jinja2.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/api/test_05_query_api.py
  backend/tests/unit/api/test_10_transformation_api.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/api/test_12_file.py
  backend/tests/unit/api/test_40_schema_api.py
  backend/tests/unit/api/test_60_storage.py
  backend/tests/unit/graphql/test_app.py
  backend/tests/unit/services/adapters/redis/test_redis.py
Labels: group/backend

chore: dynamic port pipeline
  .github/workflows/ci.yml
  .github/workflows/scale-tests.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci

update router
  frontend/app/src/router.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
Labels: group/frontend

remove combobox
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-navigation.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-loading.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/utils/objects.ts
Labels: group/frontend

Added breadcrumb based on current route
  frontend/app/src/components/breadcrumb/breadcrumb.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/decorators/withSchemaContext.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/pages/branches/index.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-link.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/style.ts
  frontend/app/src/screens/layout/content.tsx
  frontend/app/src/screens/layout/header.tsx
  frontend/app/src/utils/objects.ts
Labels: group/frontend

reorganize
  frontend/app/src/components/ui/breadcrumb.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-navigation.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-link.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/style.ts
  frontend/app/src/screens/layout/breadcrumb-navigation/type.ts
  frontend/app/src/screens/layout/header.tsx
Labels: group/frontend

fix e2e test
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/tests/e2e/ipam/prefix-summary.spec.ts
Labels: group/frontend

fix e2e tests
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

cleaning before submit
  frontend/app/src/decorators/withSchemaContext.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/pages/branches/index.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/utils/objects.ts
Labels: group/frontend

update style to hightlight last breadcrumb item
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb.tsx
Labels: group/frontend

chore: dynamic port pipeline
  .github/workflows/ci.yml
  .github/workflows/scale-tests.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci
