Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix ts
  frontend/app/src/shared/components/errors/error-boundary-app.tsx
Labels: group/frontend

Removed useless call to get config (#5876)
  frontend/app/src/shared/hooks/usePagination.ts
Labels: group/frontend

Tweak test to check for different rel kind
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Support generic relationships in object templates
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Support generic relationships in object templates (#5879)
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Display custom error page on crash (#5880)
  frontend/app/src/app/app.tsx
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/shared/components/errors/error-boundary-app.tsx
  frontend/app/src/shared/components/errors/error-boundary-router.tsx
  frontend/app/src/shared/components/errors/error-fallback.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend

Add test to validate source
  backend/tests/unit/core/test_node.py
Labels: group/backend

Validate value from db too
  backend/tests/unit/core/test_node.py
Labels: group/backend

Set attr source when using values from template
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

Replace pendumum with whenever
  backend/infrahub/core/attribute.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/timestamp.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/server.py
  backend/infrahub/task_manager/models.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/api/diff/test_diff_query_validation.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/test_branch.py
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/core/test_query.py
  backend/tests/unit/graphql/diff/test_diff_tree_query.py
  backend/tests/unit/graphql/queries/test_task.py
  backend/tests/unit/graphql/test_graphql_query.py
  poetry.lock
  pyproject.toml
Labels: group/backend

Set attr source when using values from template (#5875)
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/core/test_node.py
Labels: group/backend

Optimized count query on object list page
  frontend/app/src/entities/nodes/api/getObjectItems.ts
  frontend/app/src/entities/nodes/hooks/useObjectItems.ts
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object/api/get-objects-count-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.ts
  frontend/app/src/entities/user-profile/api/getTokens.ts
Labels: group/frontend

Reorganize core schema into multiple files
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/account.py
  backend/infrahub/core/schema/definitions/core/artifact.py
  backend/infrahub/core/schema/definitions/core/builtin.py
  backend/infrahub/core/schema/definitions/core/check.py
  backend/infrahub/core/schema/definitions/core/generator.py
  backend/infrahub/core/schema/definitions/core/graphql_query.py
  backend/infrahub/core/schema/definitions/core/group.py
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/definitions/core/lineage.py
  backend/infrahub/core/schema/definitions/core/permission.py
  backend/infrahub/core/schema/definitions/core/profile.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/infrahub/core/schema/definitions/core/propose_change_comment.py
  backend/infrahub/core/schema/definitions/core/propose_change_validator.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/infrahub/core/schema/definitions/core/template.py
  backend/infrahub/core/schema/definitions/core/transform.py
  backend/infrahub/core/schema/definitions/core/webhook.py
Labels: group/backend

add event page, update activity-log docs with new changes, regenerate associated screenshots
  docs/_templates/infrahub-events.j2
  docs/_templates/message-bus-events.j2
  docs/docs/guides/artifact.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/repository.mdx
  docs/docs/media/activity_log_device.png
  docs/docs/media/activity_log_device_popover.png
  docs/docs/media/activity_log_global_details_children.png
  docs/docs/media/activity_log_global_filters_children.png
  docs/docs/media/activity_log_global_filters_primary.png
  docs/docs/media/tasks_list.png
  docs/docs/reference/api-server.mdx
  docs/docs/reference/infrahub-events.mdx
  docs/docs/reference/message-bus-events.mdx
  docs/docs/reference/task-worker.mdx
  docs/docs/topics/activity-log.mdx
  docs/docs/topics/bus-event-handling.mdx
  docs/docs/topics/infrahub-event.mdx
  docs/docs/topics/repository.mdx
  docs/docs/tutorials/getting-started/git-integration.mdx
  docs/docs/tutorials/getting-started/schema.mdx
  tasks/docs.py
Labels: type/documentation

keep link only at the end
  docs/docs/topics/schema.mdx
Labels: type/documentation

heavy hands
  docs/docs/topics/schema.mdx
Labels: type/documentation

improve schema topic (#5867)
  docs/docs/media/location_menu.png
  docs/docs/media/reference/schema/location_menu.png
  docs/docs/topics/computed-attributes.mdx
  docs/docs/topics/schema.mdx
  frontend/app/tests/e2e/menu/menu-view.spec.ts
Labels: group/frontend, type/documentation

ruff
  tasks/docs.py
Labels: none

batch getting display labels if over maximum node limit
  backend/infrahub/core/diff/payload_builder.py
Labels: group/backend

try getting the hierarchy for multiple nodes at once
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

query update to improve performance of diff parent linking
  backend/infrahub/core/diff/query/save.py
Labels: group/backend

clean up diff save method
  backend/infrahub/core/diff/repository/repository.py
Labels: group/backend

add diff indices
  backend/infrahub/core/graph/index.py
Labels: group/backend

more logging, smaller pieces when saving a diff
  backend/infrahub/core/diff/repository/repository.py
Labels: group/backend

split diff hierarchy linking query into smaller batches
  backend/infrahub/core/diff/query/save.py
Labels: group/backend

a few more logging statements in the enrichers
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/enricher/path_identifier.py
Labels: group/backend

Revert "try getting the hierarchy for multiple nodes at once"
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

split diff summary query in two
  backend/infrahub/core/diff/query/summary_counts_enricher.py
  backend/infrahub/core/diff/repository/repository.py
Labels: group/backend

forgot sidebar updated
  docs/docs/topics/activity-log.mdx
  docs/sidebars.ts
Labels: type/documentation

unused media
  docs/docs/media/artifacts.cy.ts/artifacts-1-definition-details.png
  docs/docs/media/artifacts.cy.ts/artifacts-2-artifact-details.png
  docs/docs/media/github_access_settings.png
  docs/docs/media/github_create_fork.png
  docs/docs/media/github_forked_repo.png
Labels: type/documentation

Fix relationship changelogs with new RelationshipDeleteAllQuery
  backend/infrahub/core/changelog/diff.py
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/constants/schema.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/changelog/test_models.py
Labels: group/backend

fix test
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
Labels: group/frontend

Refactor of webbook to support event_type and branch_scope
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/webhook.py
  backend/infrahub/menu/menu.py
  backend/infrahub/message_bus/operations/event/worker.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/webhook/triggers.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/unit/trigger/__init__.py
  backend/tests/unit/trigger/test_catalogue.py
  backend/tests/unit/webhook/test_models.py
  backend/tests/unit/workflows/test_models.py
Labels: group/backend

Fix format
  backend/infrahub/trigger/tasks.py
Labels: group/backend

add kind filter form for filter
  frontend/app/src/entities/events/ui/filter-kind-select.tsx
  frontend/app/src/entities/events/ui/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/global-kind-filter-form.tsx
  frontend/app/src/entities/events/ui/global-kind-filter.tsx
  frontend/app/src/entities/events/utils/constants.ts
  frontend/app/src/entities/nodes/object/ui/filters/kind-combobox-list.tsx
Labels: group/frontend

linter
  docs/docs/topics/activity-log.mdx
Labels: type/documentation

Optimized count query on object list page (#5884)
  frontend/app/src/entities/nodes/api/getObjectItems.ts
  frontend/app/src/entities/nodes/hooks/useObjectItems.ts
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object/api/get-objects-count-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.ts
  frontend/app/src/entities/user-profile/api/getTokens.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
Labels: group/frontend

add new group event properties
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/event.tsx
Labels: group/frontend

ui + lint
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-kind-filter.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
Labels: group/frontend

Provide option to set GraphQL context information as input to mutations
  backend/infrahub/graphql/context.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/diff_conflict.py
  backend/infrahub/graphql/mutations/generator.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/types/context.py
  backend/tests/unit/graphql/mutations/test_mutation_context.py
Labels: group/backend
