Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

added search on role manager
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

placeholder in plural
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

Add option to find impacted macros after a change
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/process/__init__.py
  backend/infrahub/process/computed_attribute/__init__.py
  backend/infrahub/process/computed_attribute/tasks.py
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

Added search on role management tables (#4698)
  frontend/app/biome.json
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/index.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/utils/common.ts
Labels: group/frontend

Migrate RequestArtifactGenerate to prefect
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/artifact.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/conftest.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
Labels: group/backend

Add generated docs'
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation

Removing ignored rule as there are no violations left
  pyproject.toml
Labels: none

Fix Yoda condition rule for ruff
  backend/infrahub/graphql/manager.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/test_graphql_partial_match.py
  pyproject.toml
  tasks/shared.py
Labels: group/backend

only add status=deleted edges if relationship crosses branches
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
Labels: group/backend

fixes for diff calculation following relationship delete change
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

some changes to old BranchDiffer for new delete-edge logic
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_payload.py
Labels: group/backend

diff query parser relationship sorting fix
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

pylint ignore
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

add some unit tests
  backend/tests/unit/core/test_relationships_rebase.py
Labels: group/backend

format
  backend/tests/unit/core/test_relationships_rebase.py
Labels: group/backend

incorporate updates from other PRs
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/graphql/mutations/test_branch.py
Labels: group/backend

Convert branch rebase mutation to a workflow
  backend/infrahub/core/branch/__init__.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/ipam/tasks.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/message_bus/messages/event_branch_rebased.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/graphql/mutations/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Disable test_create_proposed_change temporarily
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
Labels: group/backend

Add tags for deployment and run in prefect
  backend/infrahub/api/schema.py
  backend/infrahub/cli/db.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/git/tasks.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/models.py
  backend/infrahub/workflows/utils.py
Labels: group/backend

add linter
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

properly delete inherited attribute and relationship on Node
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4301.fixed.md
Labels: group/backend

Add final uuid to order_by clause
  backend/infrahub/core/query/node.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/widget.py
  backend/tests/unit/core/test_node_get_list_query.py
Labels: group/backend

Fixes for PEP 484 prohibits implicit `Optional`
  backend/infrahub/core/query/relationship.py
  backend/infrahub/trace.py
  pyproject.toml
Labels: group/backend

Add note about GraphQL schema endpoint
  docs/docs/topics/graphql.mdx
Labels: type/documentation

Update resource manager documentation (#4609) (#4695)
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

Add towncrier item for #4700
  changelog/4700.fixed.md
Labels: none

[FIX] Highlight tab in role management when there is query params in url
  frontend/app/src/components/tabs-routes.tsx
Labels: group/frontend

TestInfrahubApp.client fixture set services.service.client for local worker
  backend/tests/helpers/test_app.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/ipam/test_ipam_merge_reconcile.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
Labels: group/backend

fix delete role
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

update test
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

update tests
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

fix(helm): load menu during demo data job
  helm/values.yaml
Labels: none

fix(models): wrong namespace for manufacturer
  models/base_menu.yml
Labels: none

Updates relationships display in role management - IFC-835 (#4697)
  frontend/app/src/components/display/avatar.tsx
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/group-member.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/relationship-display.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

Override prefect logs
  backend/infrahub/log.py
Labels: group/backend

undo unnecessary hashing change
  backend/infrahub/core/diff/model/path.py
Labels: group/backend

add badge to dropdown optino
  frontend/app/src/components/inputs/dropdown.tsx
Labels: group/frontend

set namespace on name select
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

only add status=deleted edges if relationship crosses branches (#4688)
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_payload.py
  backend/tests/unit/core/test_relationships_rebase.py
Labels: group/backend

Docs and image updates for 1.0 release
  README.md
  docs/docs/faq/faq.mdx
  docs/docs/media/infrahub-readme.gif
  docs/docs/media/infrahub-readme.png
Labels: type/documentation
