Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Add changelog for deleting agnostic relationships
  changelog/5463.fixed.md
Labels: none

assert functional tests results
  backend/infrahub/graphql/queries/convert_object_type_mapping.py
  backend/infrahub/graphql/schema.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
Labels: group/backend

update transform
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/converted_person_with_cars.py
Labels: group/backend

fix(ci): repository dispatch after image is published
  .github/workflows/release.yml
Labels: group/ci

fix: neo4j docker healthcheck fills storage
  development/docker-compose-database-neo4j.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

ci: add INFRAHUB_CUSTOMER2_REPOSITORY to repository-dispatcher
  .github/workflows/repository-dispatch.yml
Labels: group/ci

Flesh out getting started quick start page
  docs/docs/getting-started/overview.mdx
  docs/docs/getting-started/quick-start.mdx
  docs/sidebars.ts
Labels: type/documentation

Various lint fixes
  docs/docs/getting-started/quick-start.mdx
Labels: type/documentation

add generic use case
  frontend/app/src/entities/nodes/relationships/utils/can-dissociate-relationship.ts
Labels: group/frontend

fix textarea display
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
Labels: group/frontend

fix display value component
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
Labels: group/frontend

add fragment
  changelog/6400.fixed.md
Labels: none

add util function
  frontend/app/src/shared/utils/date.ts
Labels: group/frontend

show year only for dates before the current year
  frontend/app/src/shared/components/display/date-display.tsx
Labels: group/frontend

update fragment
  changelog/+date-format.fixed.md
Labels: none

ignore textarea spelling in fragment
  changelog/6400.fixed.md
Labels: none

update fragment
  changelog/6400.fixed.md
Labels: none

Fix textarea UI display in object details view (#6414)
  changelog/6400.fixed.md
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
Labels: group/frontend

improve modal description
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-object-modal.tsx
Labels: group/frontend

logic for deleting nodes removed from a diff (#6391)
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/drop_nodes.py
  backend/infrahub/core/diff/query/filters.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

create one requets with a mutation for each node to delete
  frontend/app/src/entities/nodes/object/api/delete-objects-from-api.ts
  frontend/app/src/shared/utils/string.tsx
Labels: group/frontend

add a docstring for a class
  backend/infrahub/core/diff/model/path.py
Labels: group/backend

formatting
  backend/infrahub/core/diff/model/path.py
Labels: group/backend

fix(backend): improve NodeGetHierarchyQuery performance on default branch
  backend/infrahub/core/query/node.py
Labels: group/backend

update types and fix mutation to include objects kind
  frontend/app/src/entities/nodes/object/api/delete-objects-from-api.ts
  frontend/app/src/entities/nodes/object/domain/delete-objects.mutation.ts
  frontend/app/src/entities/nodes/object/domain/delete-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-object-modal.tsx
Labels: group/frontend

add node kind to node field specifiers (#6359)
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/field_specifiers_map.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/parent_node_adder.py
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/get_one_node.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

fix(backend): make sure filter subqueries start from the node
  backend/infrahub/core/query/subquery.py
  backend/tests/unit/core/test_query_subquery.py
Labels: group/backend

remove old mock data
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/interfaces.ts
Labels: group/frontend

use utils function
  frontend/app/src/entities/nodes/relationships/utils/can-dissociate-relationship.test.ts
Labels: group/frontend

minor changes
  backend/infrahub/core/convert_object_type/schema_mapping.py
  backend/infrahub/core/node/create.py
  backend/infrahub/graphql/mutations/convert_object_type.py
  backend/infrahub/graphql/queries/convert_object_type_mapping.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
  backend/tests/unit/core/convert_object_type/test_convert_object_type.py
Labels: group/backend

Add changelog for deleting agnostic relationships (#6409)
  changelog/5463.fixed.md
Labels: none

Add support for converting object type (#6343)
  backend/infrahub/core/convert_object_type/__init__.py
  backend/infrahub/core/convert_object_type/conversion.py
  backend/infrahub/core/convert_object_type/schema_mapping.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/create.py
  backend/infrahub/core/protocols_base.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/graphql/mutations/convert_object_type.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/queries/convert_object_type_mapping.py
  backend/infrahub/graphql/schema.py
  backend/tests/conftest.py
  backend/tests/functional/convert_object_type/__init__.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
  backend/tests/unit/core/convert_object_type/__init__.py
  backend/tests/unit/core/convert_object_type/test_convert_object_type.py
Labels: group/backend

fix bug in rel create for migrated kind nodes
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_relationship_query.py
  changelog/+rel_create_on_migrated_kind_node.fixed.md
Labels: group/backend

handle agnostic rels correctly
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/query/relationship.py
Labels: group/backend

WIP on including migrated kinds in diff
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

small changes to diff calculation queries for properties of nodes with migrated kind/inheritance
  backend/infrahub/core/query/diff.py
Labels: group/backend

expand unit test for migrated kind diff... big time
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

finish up giant unit test
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

use db_id instead of labels, will need it for merge updates
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

fix(testcontainers): change json format to JS compatible
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
