Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

update frontend dependencies (#5512)
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/shared/api/graphql/graphqlClientApollo.tsx
  frontend/app/vite.config.ts
Labels: group/frontend

fix json highlight
  frontend/app/src/shared/components/editor/json/json-editor.tsx
Labels: group/frontend

update log and infrahub dasbord
  development/docker-compose-database-neo4j.yml
  development/docker-compose.yml
  development/grafana/provisioning/dashboards/infrahub_monitoring.json
  development/grafana/provisioning/dashboards/neo4j_monitoring.json
  development/promtail/config.yml
Labels: none

fix yamlint
  development/promtail/config.yml
Labels: none

remove test
  frontend/app/src/shared/components/form/fields/relationships.field.test.tsx
Labels: group/frontend

Initialize InfrahubComponent correctly
  backend/infrahub/services/__init__.py
Labels: group/backend

update test and mock data
  frontend/app/tests/unit/data/deviceSchema.ts
  frontend/app/tests/unit/utils/getSchemaObjectColumns.test.ts
Labels: group/frontend

update test and mock data
  frontend/app/tests/unit/data/deviceSchema.ts
  frontend/app/tests/unit/utils/getSchemaObjectColumns.test.ts
Labels: group/frontend

update unit test
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.test.ts
Labels: group/frontend

add fragment
  changelog/5418.fixed.md
Labels: none

Retrieve correctly the profile attributes for the form (#5470)
  changelog/5276.fixed.md
  frontend/app/src/shared/components/editor/json/json-editor.tsx
  frontend/app/src/shared/components/form/profiles-selector.tsx
  frontend/app/tests/unit/data/deviceSchema.ts
  frontend/app/tests/unit/utils/getSchemaObjectColumns.test.ts
Labels: group/frontend

Switch to query_report for GraphQL Analyzer
  backend/infrahub/api/query.py
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/mutations/graphql_query.py
  changelog/4644.changed.md
Labels: group/backend

Fix multiselect update mutation to set the field to null if the values are empty (#5468)
  changelog/5334.fixed.md
  frontend/app/src/entities/proposed-changes/ui/proposed-change-edit-form.tsx
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

Fix parent filter rule for relationships in forms to not mark as required if the field is required (#5454)
  changelog/5418.fixed.md
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
Labels: group/frontend

Ensure Transform and Checks are executed with the correct timeout
  backend/infrahub/api/artifact.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/message_bus/messages/check_repository_usercheck.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/transformations/constants.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/person_with_cars_transform.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  changelog/5456.fixed.md
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Switch healthcheck to config API
  changelog/5522.fixed.md
  development/docker-compose.yml
  docker-compose.yml
  helm/templates/infrahub-server.yaml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

Activate ruff B008 rule.
  backend/infrahub/api/__init__.py
  backend/infrahub/api/artifact.py
  backend/infrahub/api/query.py
  pyproject.toml
Labels: group/backend

more verbose schema integrity error message (#5495)
  backend/infrahub/core/validators/aggregated_checker.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_add_mandatory_attr_rel.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_inherit_from.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_rebase.py
  backend/tests/unit/api/test_40_schema.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+constraint-error-messages.fixed.md
Labels: group/backend

Activate ruff B904 rule.
  backend/infrahub/cli/git_agent.py
  backend/infrahub/graphql/app.py
  backend/infrahub/storage.py
  backend/infrahub/workers/infrahub_async.py
  backend/tests/scale/common/utils.py
  changelog/2193.changed.md
  pyproject.toml
Labels: group/backend

Updates per pr review.
  backend/infrahub/api/__init__.py
Labels: group/backend

move node-level diff query to its own query and limit it
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

skip loading a diff when we just need the conflicts from it
  backend/infrahub/core/diff/query/all_conflicts.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/merge.py
Labels: group/backend

fix variable name
  backend/infrahub/core/diff/calculator.py
Labels: group/backend

remove dead code
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/test_query_diff.py
Labels: group/backend

fix query, add tests
  backend/infrahub/core/diff/query/all_conflicts.py
  backend/tests/unit/core/diff/test_diff_get_all_conflicts.py
Labels: group/backend

fix query and tests
  backend/infrahub/core/diff/query/all_conflicts.py
  backend/tests/unit/core/diff/test_diff_get_all_conflicts.py
Labels: group/backend

initial query interfaces for events
  backend/infrahub/events/models.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/helpers/events.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

WIP: E2E test using playwright python
  backend/tests/integration_docker/test_e2e.py
  backend/tests/integration_docker/test_example.py
  frontend/app/src/shared/utils/common.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
  frontend/app/tests/e2e/utils/actions.ts
  poetry.lock
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: group/backend, group/frontend

update modal
  frontend/app/src/shared/components/modals/modal.tsx
Labels: group/frontend

add badge
  frontend/app/src/entities/schema/ui/styled.tsx
Labels: group/frontend

add variant
  frontend/app/src/shared/components/buttons/button-primitive.tsx
Labels: group/frontend

add component for computed attribute
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
Labels: group/frontend

update schema visualizer
  frontend/app/src/entities/schema/ui/attribute-display.tsx
Labels: group/frontend

lint
  backend/tests/integration_docker/test_e2e.py
  backend/tests/integration_docker/test_example.py
  frontend/app/src/shared/utils/common.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/backend, group/frontend

Allow OIDC fallback to id_token for group support
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/api/oidc.py
  backend/tests/adapters/http.py
  backend/tests/unit/api/test_oidc.py
  changelog/5464.added.md
  poetry.lock
  pyproject.toml
Labels: group/backend

handle transform python
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
Labels: group/frontend

add fragment
  changelog/5515.added.md
Labels: none

Improved typing and naming on attribute kind
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/edit-form-hook/dynamic-control-types.ts
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visibile-in-list.test.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visible-in-list.ts
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/entities/schema/constants.ts
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/search/search-nodes.tsx
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

test merging pr into lgu-stable
  backend/tests/functional/ipam/test_load_concurrent_prefixes.py
Labels: group/backend

Improved typing and naming on attribute kind (#5535)
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/edit-form-hook/dynamic-control-types.ts
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visibile-in-list.test.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visible-in-list.ts
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/entities/schema/constants.ts
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/search/search-nodes.tsx
  frontend/app/tests/fake/schema.ts
Labels: group/frontend
