Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix(testcontainers): fix prefect redis config bis
  python_testcontainers/infrahub_testcontainers/docker-compose-cluster.test.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

add infrahub db check-inheritance command
  backend/infrahub/cli/db.py
  backend/infrahub/cli/db_commands/__init__.py
  backend/infrahub/cli/db_commands/check_inheritance.py
Labels: group/backend

regenerate docs
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation

make NodeDuplicateQuery idempotent
  backend/infrahub/core/migrations/query/node_duplicate.py
Labels: group/backend

add changelog
  changelog/+orphaned-relationship-check.added.md
Labels: none

add new infrahub db check query for orphaned relationships
  backend/infrahub/cli/db.py
Labels: group/backend

update command to handle complete migration failures on branches
  backend/infrahub/cli/db.py
  backend/infrahub/cli/db_commands/check_inheritance.py
  backend/tests/unit/core/schema/test_check_inheritance_cmd.py
Labels: group/backend

add changelog
  changelog/+inheritance-fix-command.added.md
Labels: none

cleanup install guide
  docs/docs/guides/installation.mdx
  docs/docs/topics/local-demo-environment.mdx
  docs/docs/tutorials/getting-started/readme.mdx
Labels: type/documentation

add rhel and cleanup
  docs/docs/guides/installation.mdx
Labels: type/documentation

cleanup
  docs/docs/guides/installation.mdx
Labels: type/documentation

make the rabbit happy!
  docs/docs/guides/installation.mdx
Labels: type/documentation

cleanup and best practices
  docs/docs/guides/create-schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

add netpicker mention
  CLAUDE.md
  docs/docs/faq/faq.mdx
  docs/docs/getting-started/next-steps.mdx
Labels: type/documentation

spelling
  .vale/styles/spelling-exceptions.txt
Labels: none

update cards
  docs/docs/home.mdx
Labels: type/documentation

spelling
  .vale/styles/spelling-exceptions.txt
Labels: none

sentence case
  .vale/styles/Infrahub/sentence-case.yml
Labels: none

excalidraw
  docs/docs/development/docs.mdx
Labels: type/documentation

vale
  docs/docs/development/docs.mdx
Labels: type/documentation

improve profiles docs
  docs/docs/guides/profiles.mdx
  docs/docs/topics/profiles.mdx
Labels: type/documentation

update code
  docs/docs/guides/profiles.mdx
Labels: type/documentation

fix: add missing newline at end of profiles topic documentation
  docs/docs/topics/profiles.mdx
Labels: type/documentation

remove comments and toml from docs generation
  .github/workflows/ci.yml
  tasks/docs.py
Labels: group/ci

add back toml
  .github/workflows/ci.yml
Labels: group/ci

fix: import Self from typing_extensions for Python 3.10 compatibility
  backend/infrahub/core/branch/models.py
Labels: group/backend

fix: use poetry environment for invoke/toml installation in CI
  .github/workflows/ci.yml
Labels: group/ci

fix: use poetry environment for invoke installation in validator job
  .github/workflows/ci.yml
Labels: group/ci

revert: undo models.py change, fixed CI environment instead
  backend/infrahub/core/branch/models.py
Labels: group/backend

fix: force poetry to use correct Python 3.12 environment
  .github/workflows/ci.yml
Labels: group/ci

fix ci
  .github/workflows/ci.yml
Labels: group/ci

ci fix
  .github/workflows/ci.yml
Labels: group/ci

more ci
  .github/workflows/ci.yml
Labels: group/ci

moar ci
  .github/workflows/ci.yml
Labels: group/ci

even moar ci
  .github/workflows/ci.yml
Labels: group/ci

still moar
  .github/workflows/ci.yml
Labels: group/ci

fix npm path
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test vale action
  .github/workflows/ci.yml
Labels: group/ci

fix vale
  .github/workflows/ci.yml
Labels: group/ci
