Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

add test
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
Labels: group/frontend

add test id
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
Labels: group/frontend

update props
  frontend/app/src/entities/schema/ui/schema-viewer.tsx
Labels: group/frontend

update icon
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
Labels: group/frontend

move node-level diff query to its own query and limit it (#5528)
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/test_query_diff.py
Labels: group/backend

skip loading a diff when we just need the conflicts from it (#5529)
  backend/infrahub/core/diff/query/all_conflicts.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/merge.py
  backend/tests/unit/core/diff/test_diff_get_all_conflicts.py
Labels: group/backend

Fix too many relationship error
  backend/infrahub/core/relationship/model.py
  backend/tests/functional/ipam/conftest.py
  backend/tests/functional/ipam/test_load_concurrent_prefixes.py
Labels: group/backend

limit attributes/relationship diffs
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
Labels: group/backend

Activate ruff RET503 rule.
  backend/infrahub/core/node/__init__.py
  backend/infrahub/database/__init__.py
  backend/tests/benchmark/conftest.py
  backend/tests/unit/core/schema_manager/conftest.py
  backend/tests/unit/core/test_relationship_query.py
  backend/tests/unit/graphql/conftest.py
  models/infrastructure_edge.py
  pyproject.toml
Labels: group/backend

fix yamlint
  development/promtail/config.yml
Labels: none

update log and infrahub dasbord
  development/docker-compose-database-neo4j.yml
  development/docker-compose.yml
  development/grafana/provisioning/dashboards/infrahub_monitoring.json
  development/grafana/provisioning/dashboards/neo4j_monitoring.json
Labels: none

use model display for transforms
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
Labels: group/frontend

feat(backend): enable tracing for task workers
  backend/infrahub/workers/infrahub_async.py
Labels: group/backend

Upgrade Prefect to 3.1.13
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/task_manager/constants.py
  backend/infrahub/task_manager/task.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/tasks/telemetry.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/workflows/initialization.py
  backend/tests/conftest.py
  backend/tests/functional/conftest.py
  backend/tests/helpers/utils.py
  backend/tests/integration/conftest.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/queries/test_task.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  helm/values.yaml
  poetry.lock
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
Labels: group/backend

fix(backend, tests): increase sleep time during rmq test
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
Labels: group/backend

fix(backend, tests): increase prefect startup timeout
  backend/tests/functional/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/unit/conftest.py
Labels: group/backend

Add changelog fragment
  changelog/5474.fixed.md
Labels: none

Add test to reproduce issue #4780
  backend/tests/unit/core/test_node_manager_delete.py
Labels: group/backend

fix scroll
  frontend/app/src/pages/schema.tsx
Labels: group/frontend

update test
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
Labels: group/frontend

fix(ci): use old Prefect version when testing demo
  .github/workflows/ci.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci

modify ci for sync docs
  .github/workflows/sync-docs.yml
Labels: group/ci

Sync docs: update sidebars and transform relative links to absolute paths
  .github/workflows/sync-docs.yml
Labels: group/ci

Sync docs: update sidebars and transform relative links to absolute paths
  .github/workflows/sync-docs.yml
Labels: group/ci

move code editor and markdown editor
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/shared/components/conversations/comment.tsx
  frontend/app/src/shared/components/editor/code/code-editor.tsx
  frontend/app/src/shared/components/editor/code/code-viewer-limiter.tsx
  frontend/app/src/shared/components/editor/graphql/graphql-viewer.tsx
  frontend/app/src/shared/components/editor/markdown/index.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-editor-header.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-viewer.tsx
Labels: group/frontend

Sync docs: update sidebars and transform relative links to absolute paths
  .github/workflows/sync-docs.yml
Labels: group/ci

Sync docs: update sidebars and transform relative links to absolute paths
  .github/workflows/sync-docs.yml
Labels: group/ci

get content type
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
Labels: group/frontend

add download component
  frontend/app/src/shared/components/buttons/download.tsx
Labels: group/frontend

update import
  frontend/app/src/shared/components/form/fields/textarea.field.tsx
Labels: group/frontend

add more editors
  frontend/app/src/shared/components/display/svg.tsx
  frontend/app/src/shared/components/editor/text/text-editor.tsx
  frontend/app/src/shared/components/editor/yaml/yaml-editor.tsx
Labels: group/frontend

update file component to use different editors
  frontend/app/src/shared/components/file.tsx
Labels: group/frontend

fix: use infrahub image to run prefect server
  .github/workflows/ci.yml
  .github/workflows/version-upgrade.yml
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
Labels: group/ci

fix(ci): run invoke demo start test only on stable
  .github/workflows/ci.yml
Labels: group/ci

Activate ruff B rules (#5527)
  backend/infrahub/api/artifact.py
  backend/infrahub/api/query.py
  backend/infrahub/cli/git_agent.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/storage.py
  backend/infrahub/workers/infrahub_async.py
  backend/tests/conftest.py
  backend/tests/scale/common/utils.py
  backend/tests/unit/core/test_protocols.py
  backend/tests/unit/git/test_git_repository.py
  changelog/2193.changed.md
  models/infrastructure_edge.py
  pyproject.toml
Labels: group/backend

update markdown editor
  frontend/app/src/shared/components/editor/markdown/index.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-editor-header.tsx
  frontend/app/src/shared/components/file.tsx
Labels: group/frontend

fix(ci): run invoke demo start test only on stable
  .github/workflows/ci.yml
Labels: group/ci

update ui for artifacts details
  frontend/app/src/entities/artifacts/constants.ts
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/shared/components/file.tsx
Labels: group/frontend

some more logging
  backend/infrahub/core/diff/calculator.py
Labels: group/backend

Specify image version of testcontainers only through env var
  .github/workflows/ci.yml
  backend/tests/integration_docker/classes.py
  backend/tests/integration_docker/test_propose_change_repository.py
  backend/tests/integration_docker/test_schema_migration.py
  python_testcontainers/infrahub_testcontainers/__init__.py
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/helpers.py
  tasks/shared.py
Labels: group/ci, group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
