Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Dropdown enum cleanup
  backend/infrahub/actions/constants.py
Labels: group/backend

Fixed an error on pool selection when ip's namespace was not Ipam
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/nodes/api/dropdownOptions.ts
  frontend/app/src/shared/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/src/shared/components/form/utils/get-pool-kind-from-schema.test.ts
  frontend/app/src/shared/components/form/utils/get-pool-kind-from-schema.ts
  frontend/app/src/shared/components/inputs/pool-select.tsx
Labels: group/frontend

Create attribute based NumberPools when the schema is updated
  backend/infrahub/pools/tasks.py
  backend/tests/functional/pools/test_numberpool_lifecycle.py
Labels: group/backend

filter by peer kind of pool selector
  frontend/app/src/shared/components/display/meta-details-tooltips.tsx
  frontend/app/src/shared/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/src/shared/components/inputs/pool-select.tsx
Labels: group/frontend

Add missing kinds for Trigger rule setup in Prefect
  backend/infrahub/actions/constants.py
Labels: group/backend

fix poetry.lock for python_testcontainers
  python_testcontainers/poetry.lock
Labels: none

Added a link "Raw" to open raw artifact file in a new tab
  changelog/6513.added.md
  frontend/app/src/entities/artifacts/ui/artifact-file-button.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-copy.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-download.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file.tsx
Labels: group/frontend

ci: add poetry lock file check for infrahub-testcontainers
  .github/workflows/ci.yml
Labels: group/ci

add changelog
  changelog/6581.fixed.md
Labels: none

start fix peer retrieval
  frontend/app/src/shared/components/form/fields/relationship-parent-constraint.field.tsx
Labels: group/frontend

Added a link "Raw" to open raw artifact file in a new tab (#6622)
  changelog/6513.added.md
  frontend/app/src/entities/artifacts/ui/artifact-file-button.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-copy.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-download.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file.tsx
Labels: group/frontend

Add more info and a guide doc for object files
  docs/docs/guides/menu.mdx
  docs/docs/guides/object-load.mdx
  docs/docs/topics/infrahub-yml.mdx
  docs/sidebars.ts
Labels: type/documentation

bump version to v1.3.0b5
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

fix lint md
  changelog/6581.fixed.md
Labels: none

make the assertion errors in db_snapshot.py more verbose in pytest (#6610)
  backend/tests/conftest.py
Labels: group/backend

Fixed an error on pool selection when ip's namespace was not Ipam (#6620)
  changelog/6581.fixed.md
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/nodes/api/dropdownOptions.ts
  frontend/app/src/shared/components/display/meta-details-tooltips.tsx
  frontend/app/src/shared/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/src/shared/components/form/utils/get-pool-kind-from-schema.test.ts
  frontend/app/src/shared/components/form/utils/get-pool-kind-from-schema.ts
  frontend/app/src/shared/components/inputs/pool-select.tsx
Labels: group/frontend

Adding small note about dangling docker images after upgrade
  docs/docs/guides/upgrade.mdx
Labels: type/documentation

Adjust relationship so we can delete device (#6496)
  models/base/dcim.yml
  models/base/routing.yml
Labels: none

add psutil to install procedures for `invoke bundle.collect`
  docs/docs/guides/installation.mdx
Labels: type/documentation

add psutil to spelling
  .vale/styles/spelling-exceptions.txt
Labels: none

Adjust cal link
  docs/docs/getting-started/next-steps.mdx
  docs/docs/getting-started/quick-start.mdx
  docs/docs/home.mdx
Labels: type/documentation

Cleanup & rewording
  README.md
  docs/docs/faq/faq.mdx
  docs/docs/getting-started/quick-start.mdx
  docs/docs/guides/artifact.mdx
  docs/docs/guides/check.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/import-schema.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/home.mdx
  docs/docs/topics/resources-testing-framework.mdx
  docs/docs/topics/tasks.mdx
  docs/docs/tutorials/getting-started/rendering-configuration.mdx
  docs/src/components/HomePage/header.tsx
Labels: type/documentation

skip migration tests
  backend/tests/db_snapshot.py
  backend/tests/unit/core/migrations/graph/test_001.py
  backend/tests/unit/core/migrations/graph/test_003.py
  backend/tests/unit/core/migrations/graph/test_012.py
  backend/tests/unit/core/migrations/graph/test_013.py
  backend/tests/unit/core/migrations/graph/test_014.py
  backend/tests/unit/core/migrations/graph/test_017.py
  backend/tests/unit/core/migrations/graph/test_018_025.py
  backend/tests/unit/core/migrations/graph/test_019.py
  backend/tests/unit/core/migrations/graph/test_020.py
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_027.py
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
  backend/tests/unit/core/migrations/graph/test_030.py
Labels: group/backend

Update whenever=0.8.4
  poetry.lock
  pyproject.toml
Labels: none

Add display labels for matches
  backend/infrahub/actions/schema.py
Labels: group/backend

query trigger rule to get node kind
  frontend/app/src/entities/nodes/object/api/get-match-parent-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-match-parent.query.ts
  frontend/app/src/entities/nodes/object/domain/get-match-parent.ts
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
Labels: group/frontend

move files, update const
  frontend/app/src/entities/triggers/api/get-match-parent-from-api.ts
  frontend/app/src/entities/triggers/constants.ts
  frontend/app/src/entities/triggers/domain/get-match-parent.query.ts
  frontend/app/src/entities/triggers/domain/get-match-parent.ts
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: group/frontend

Remove delete option for node trigger rules (for now)
  backend/infrahub/actions/constants.py
  backend/tests/unit/actions/test_gather.py
Labels: group/backend

add psutil
  docs/docs/guides/installation.mdx
Labels: type/documentation

Fix linting
  docs/docs/getting-started/next-steps.mdx
Labels: type/documentation

Add function test
  backend/infrahub/core/relationship/constraints/peer_parent.py
Labels: group/backend

Add `common_parent` relationship attribute
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  docs/docs/reference/schema/relationship.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

Really add test
  backend/tests/functional/constraints/peer_parent.py
Labels: group/backend

Add some comments
  backend/infrahub/core/relationship/constraints/peer_parent.py
  backend/infrahub/graphql/mutations/relationship.py
Labels: group/backend

Add schema validation when `common_parent` is set
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Fix typo
  backend/infrahub/core/schema/generated/relationship_schema.py
  docs/docs/reference/schema/relationship.mdx
Labels: group/backend, type/documentation

Add peer parent relationship constraint validator
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/constraints/count.py
  backend/infrahub/core/relationship/constraints/interface.py
  backend/infrahub/core/relationship/constraints/peer_kind.py
  backend/infrahub/core/relationship/constraints/peer_parent.py
  backend/infrahub/core/relationship/constraints/peer_relatives.py
  backend/infrahub/core/relationship/constraints/profiles_kind.py
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/infrahub/dependencies/builder/constraint/relationship_manager/peer_parent.py
  backend/infrahub/dependencies/registry.py
  backend/tests/functional/constraints/peer_relatives.py
  backend/tests/helpers/schema/device.py
  backend/tests/unit/core/constraint_validators/test_relationship_manager.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_relatives.py
  backend/tests/unit/core/constraint_validators/test_relationship_profiles_kind.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Remove extra `from None` on exception raise
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Support peer parent validation in `RelationshipAdd`
  backend/infrahub/graphql/mutations/relationship.py
Labels: group/backend

Set `common_*` rel attribute update support to allowed
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
