Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Add tests
  backend/tests/integration_docker/test_files/delete_interface_schema.yml
  backend/tests/integration_docker/test_files/device_and_interface_schema.yml
  backend/tests/integration_docker/test_schema_migration.py
Labels: group/backend

Add lock on object creation
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/lock.py
  backend/tests/functional/ipam/__init__.py
  backend/tests/functional/ipam/test_load_concurrent_prefixes.py
  backend/tests/unit/core/test_get_kinds_lock.py
  pyproject.toml
Labels: group/backend

fix value for relationship many
  frontend/app/src/components/inputs/relationship-many.tsx
Labels: group/frontend

Fix formatting of a :::warning in topics/schema. (#5202)
  docs/docs/topics/schema.mdx
Labels: type/documentation

Enable docker integration tests
  .github/workflows/ci.yml
Labels: group/ci

Temporary ignore ASYNC230 in schema tests
  pyproject.toml
Labels: none

Temporarily ignore ASYNC230
  pyproject.toml
Labels: none

Only lock on main branch + refactoring
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/functional/ipam/base.py
  backend/tests/functional/ipam/conftest.py
  backend/tests/functional/ipam/test_ipam_merge_reconcile.py
  backend/tests/functional/ipam/test_ipam_rebase_reconcile.py
  backend/tests/functional/ipam/test_ipam_utilization.py
  backend/tests/functional/ipam/test_load_concurrent_prefixes.py
  backend/tests/functional/ipam/test_proposed_change_reconcile.py
  backend/tests/integration/ipam/__init__.py
  backend/tests/unit/core/test_get_kinds_lock.py
Labels: group/backend

Update tests for release-1.1 due to changes in stable
  backend/tests/helpers/schema/__init__.py
  backend/tests/integration/user_workflows/test_user_worflow.py
Labels: group/backend

release v1.0.9 prep
  CHANGELOG.md
  changelog/+branch-hash-id.fixed.md
  changelog/+changelog_edits.fixed.md
  changelog/+f91354a0.fixed.md
  changelog/+schema-viewer.added.md
  changelog/+search-pagination-combobox.added.md
  changelog/+towncrier_template.added.md
  changelog/4332.fixed.md
  changelog/4519.added.md
  changelog/4807.fixed.md
  changelog/4836.fixed.md
  changelog/4850.fixed.md
  changelog/4861.fixed.md
  changelog/5035.fixed.md
  changelog/5099.fixed.md
  changelog/5100.fixed.md
  changelog/5106.fixed.md
  changelog/5130.fixed.md
  changelog/5132.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_9.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

release v1.0.9 prep (#5209)
  CHANGELOG.md
  changelog/+branch-hash-id.fixed.md
  changelog/+changelog_edits.fixed.md
  changelog/+f91354a0.fixed.md
  changelog/+schema-viewer.added.md
  changelog/+search-pagination-combobox.added.md
  changelog/+towncrier_template.added.md
  changelog/4332.fixed.md
  changelog/4519.added.md
  changelog/4807.fixed.md
  changelog/4836.fixed.md
  changelog/4850.fixed.md
  changelog/4861.fixed.md
  changelog/5035.fixed.md
  changelog/5099.fixed.md
  changelog/5100.fixed.md
  changelog/5106.fixed.md
  changelog/5130.fixed.md
  changelog/5132.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_9.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

update changelog
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
Labels: type/documentation

update changelog
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
Labels: type/documentation

Release 1.1.0b2 prep (#5210)
  CHANGELOG.md
  changelog/+branch-hash-id.fixed.md
  changelog/+changelog_edits.fixed.md
  changelog/+f91354a0.fixed.md
  changelog/+schema-viewer.added.md
  changelog/+search-pagination-combobox.added.md
  changelog/+towncrier_template.added.md
  changelog/4332.fixed.md
  changelog/4519.added.md
  changelog/4807.fixed.md
  changelog/4836.fixed.md
  changelog/4850.fixed.md
  changelog/4861.fixed.md
  changelog/5035.fixed.md
  changelog/5099.fixed.md
  changelog/5100.fixed.md
  changelog/5106.fixed.md
  changelog/5130.fixed.md
  changelog/5132.fixed.md
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_9.mdx
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

Remove flow from git-repository-get-file
  backend/infrahub/message_bus/operations/git/file.py
  backend/tests/unit/message_bus/test_mappings.py
Labels: group/backend

Add flow_run_name in a few places
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/infrahub/message_bus/operations/git/repository.py
Labels: group/backend

Don't always pull images
  .github/workflows/ci.yml
Labels: group/ci

Update RabbitMQ image to use 3.13.6 instead of 3.13.7
  backend/infrahub/testing/docker-compose.test.yml
  docker-compose.yml
  tasks/shared.py
Labels: group/backend

Update tests.
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

Use uuid for branch identifier in schema converge function
  backend/infrahub/workflows/utils.py
Labels: group/backend

bump helm chart version after v1.0.9 release
  helm/Chart.yaml
Labels: none

Replace PrefixPool with netaddr.IPSet (#4896)
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/pools/prefix.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/pools/test_prefix.py
  changelog/3547.changed.md
Labels: group/backend

Add debug profile
  development/docker-compose-observability.yml
  development/docker-compose.override.yml.tmp
  development/prometheus/config.yml
  tasks/shared.py
Labels: none

Set query type when missing
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/graph/m013_convert_git_password_credential.py
  backend/infrahub/core/query/diff.py
Labels: group/backend

fix value for relationship many (#5220)
  frontend/app/src/components/inputs/relationship-many.tsx
Labels: group/frontend

add wrap for pagination
  frontend/app/src/components/ui/pagination.tsx
Labels: group/frontend

Add option to define default runtime and ensure Parallel runtime can't be used on a write query
  backend/infrahub/core/account.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/diff/query/artifact.py
  backend/infrahub/core/graph/constraints.py
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/graph/m013_convert_git_password_credential.py
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/core/migrations/query/delete_element_in_schema.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/query/relationship_duplicate.py
  backend/infrahub/core/migrations/query/schema_attribute_update.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/query/standard_node.py
  backend/infrahub/core/utils.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/neo4j.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/unit/core/test_query.py
Labels: group/backend

add wrap for pagination (#5222)
  frontend/app/src/components/ui/pagination.tsx
Labels: group/frontend

fix: update version prefect 3.1.5 from helm
  helm/Chart.yaml
  helm/values.yaml
Labels: none

Add tags on flows in check/repositories
  backend/infrahub/message_bus/operations/check/repository.py
Labels: group/backend

Update version to 3.0.9
  backend/infrahub/testing/docker-compose.test.yml
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  helm/Chart.yaml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

Cont working on flows for git tasks
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/requests/repository.py
Labels: group/backend

Add namespace tag to all flows
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/workflows/utils.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

Set false as the default value for attribute of kind boolean/checkbox
  frontend/app/src/components/form/fields/checkbox.field.tsx
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/tests/unit/components/form/utils/getFieldDefaultValue.test.ts
Labels: group/frontend

fix(backend, tests): pin redis version
  backend/tests/conftest.py
  development/docker-compose-deps.yml
Labels: group/backend

update 3.0.11 prefect
  backend/infrahub/testing/docker-compose.test.yml
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  helm/Chart.yaml
  helm/values.yaml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

add url display in object details
  frontend/app/src/components/ui/link.tsx
  frontend/app/src/utils/getObjectItemDisplayValue.tsx
Labels: group/frontend

update 3.0.11 prefect
  backend/infrahub/testing/docker-compose.test.yml
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  helm/Chart.yaml
  helm/values.yaml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

add fragment
  changelog/5005.added.md
Labels: none

Added check on combobox hierarchical
  frontend/app/src/screens/objects/relationships/api/queries.ts
  frontend/app/src/screens/objects/relationships/components/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships.ts
Labels: group/frontend
