Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Update schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

Update schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

Update schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

IFC-838 update merge logic to handle AttributeValues of unexpected type
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

Migrate RequestArtifactDefinitionGenerate to prefect
  backend/infrahub/api/artifact.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_artifactdefinition_generate.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

move unit test for rebase_branch
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/graphql/mutations/test_branch.py
Labels: group/backend

Migrate RequestGeneratorRun to prefect
  backend/infrahub/generators/__init__.py
  backend/infrahub/generators/models.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

ruff fix Optional in task/dev.py
  tasks/dev.py
Labels: none

replace git agent in CI workflow based on new demo/dev commands
  .github/workflows/ci.yml
Labels: group/ci

reset to release-1.0
  docs/docs/topics/schema.mdx
Labels: type/documentation

add more links between auth and permissions
  docs/docs/topics/permissions-roles.mdx
Labels: type/documentation

Added button to filter auto generated groups is items view
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/graphql/queries/objects/objectTreeQuery.tsx
  frontend/app/src/screens/groups/groups-auto-generated-filter-button.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  frontend/app/src/screens/schema/utils.ts
  frontend/app/src/state/atoms/schema.atom.ts
Labels: group/frontend

fix lint
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

fix race condition (I need react-query :'))
  frontend/app/src/screens/objects/hierarchical-tree.tsx
Labels: group/frontend

add more links between auth and permissions
  docs/docs/topics/auth.mdx
  docs/docs/topics/permissions-roles.mdx
Labels: type/documentation

add more links between auth and permissions
  docs/docs/guides/accounts-permissions.mdx
  docs/docs/python-sdk/reference/config.mdx
  docs/docs/topics/permissions-roles.mdx
Labels: type/documentation

Add warning regarding casade delete for Component
  docs/docs/topics/schema.mdx
Labels: type/documentation

Revert "Hide INFRAHUB_DEV variables"
  docker-compose.yml
Labels: none

rollback change on invoke commands, will be done after release
  development/docker-compose-deps.yml
  development/docker-compose.yml
  docker-compose.yml
  tasks/demo.py
  tasks/infra_ops.py
Labels: none

more cleanup
  .github/workflows/ci.yml
  tasks/dev.py
Labels: group/ci

add permission creation in guide.
  docs/docs/guides/accounts-permissions.mdx
Labels: type/documentation

Added resizable panel + use it on hierarchical view
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/ui/resizable.tsx
  frontend/app/src/pages/objects/layout.tsx
Labels: group/frontend

reduce max size of tree
  frontend/app/src/pages/objects/layout.tsx
Labels: group/frontend

update permissions to not check current branch
  frontend/app/src/screens/permission/types.ts
  frontend/app/src/screens/permission/utils.ts
Labels: group/frontend

Rename enum to `BranchRelative...`
  backend/infrahub/graphql/types/attribute.py
  backend/infrahub/graphql/types/enums.py
  backend/infrahub/graphql/types/permission.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/report.py
  backend/infrahub/permissions/types.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

Make permission report branch aware
  backend/infrahub/core/attribute.py
  backend/infrahub/graphql/types/attribute.py
  backend/infrahub/graphql/types/enums.py
  backend/infrahub/graphql/types/permission.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/report.py
  backend/infrahub/permissions/types.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

add failing test
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
Labels: group/backend

I guess I nuke soemthing
  frontend/app/tests/mocks/data/devices.ts
Labels: group/frontend

Biome: Disallow the use of console.log
  frontend/app/biome.json
  frontend/app/src/components/notifications.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

fix reset form on cancel update
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

Again
  frontend/app/tests/mocks/data/permissions.ts
Labels: group/frontend

fix svgs not displaying
  docs/docs/media/overview-interfaces.excalidraw.svg
  docs/docs/media/overview.excalidraw.svg
  docs/docs/overview/readme.mdx
Labels: type/documentation

If branch not found, show option to create new branch from input
  changelog/new-layout.added.md
  frontend/app/src/components/branch-selector.tsx
  frontend/app/src/components/form/branch-create-form.tsx
  frontend/app/tests/e2e/branches.spec.ts
Labels: group/frontend

fix flaky
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

fix relationship count validation for directions and no max count
  backend/infrahub/core/validators/relationship/count.py
  backend/tests/unit/core/constraint_validators/test_relationship_count.py
Labels: group/backend

mypy fix
  backend/infrahub/core/validators/relationship/count.py
Labels: group/backend

reset integration test to old version
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
Labels: group/backend

remove unused code from integration test
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
Labels: group/backend

Remove at parameter from graphql mutate functions.
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/infrahub/graphql/mutations/node_getter/by_default_filter.py
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/infrahub/graphql/mutations/node_getter/by_id.py
  backend/infrahub/graphql/mutations/node_getter/interface.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/resource_manager.py
  changelog/3587.removed.md
Labels: group/backend

IFC-840 fix serialization problem for node name update migration
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/schema/node_kind_update.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
