Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

revert CALL subquery deprecation ignore (#6656)
  backend/infrahub/database/__init__.py
Labels: group/backend

Allow for optional relationships to be missing in computed attributes
  backend/infrahub/core/node/__init__.py
  changelog/6426.fixed.md
Labels: group/backend

Update python-transform.mdx
  docs/docs/guides/python-transform.mdx
Labels: type/documentation

updates for rel directions, deletes, and branches
  backend/infrahub/core/path.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_common_parent_rel.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_common_parent_update.py
Labels: group/backend

typing for StandardNode id/uuid seems to help for some reason
  backend/infrahub/core/node/standard.py
Labels: group/backend

try coercing to UUID during save instead
  backend/infrahub/core/node/standard.py
Labels: group/backend

Refresh GraphQL schema after a branch rebase operation
  backend/infrahub/message_bus/operations/refresh/registry.py
  changelog/6561.fixed.md
Labels: group/backend

refresh archive for demo-edge
  backend/tests/fixtures/infrahub-demo-edge-d309567.tar.gz
  backend/tests/integration/git/test_git_repository.py
Labels: group/backend

safer DataPath hash
  backend/infrahub/core/path.py
Labels: group/backend

cherry-pic dotinfrahub
  docs/docs/reference/dotinfrahub.mdx
Labels: type/documentation

Add common parent schema update validator (#6646)
  backend/infrahub/core/path.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/dependencies/builder/constraint/schema/aggregated.py
  backend/infrahub/dependencies/builder/constraint/schema/relationship_peer.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_common_parent_rel.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_common_parent_update.py
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

Doc Updates: convert_query_response in python tranforms and webhook data (#6532)
  docs/docs/guides/python-transform.mdx
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

other fixture ?
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/schemas/demo_edge_fabric.yml
Labels: group/backend

Create number pools within a lock
  backend/infrahub/core/node/__init__.py
  backend/infrahub/pools/models.py
  backend/infrahub/pools/tasks.py
Labels: group/backend

Update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

more
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

update graphiql
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend

move flow decorator
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/node/standard.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
Labels: group/backend

Update frontend dependencies (#6666)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend

Infrahub 1.3.0 beta6
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

don't validate params for the flow
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/node/standard.py
Labels: group/backend

name and comment updates
  backend/infrahub/core/schema/basenode_schema.py
Labels: group/backend

make diff update methods prefect flows (#6653)
  backend/infrahub/core/diff/coordinator.py
Labels: group/backend

fix(testcontainers): switch prefect dep to prefect-client
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: none

add groups in tests
  backend/tests/integration/git/test_git_repository.py
Labels: group/backend

Fix overfetching on hierarchical tree
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/shared/utils/element.ts
Labels: group/frontend

lint
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
Labels: group/frontend

fack it
  frontend/app/tests/e2e/events/events-rules-actions.spec.ts
Labels: group/frontend

fix types
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
Labels: group/frontend

fix(testcontainers): switch prefect dep to prefect-client
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: none

Update event-actions.mdx
  docs/docs/topics/event-actions.mdx
Labels: type/documentation

Adding missing env INFRAHUB_OIDC_PROVIDER1_SCOPES
  development/docker-compose.yml
Labels: none

Update event-actions.mdx
  docs/docs/topics/event-actions.mdx
Labels: type/documentation

create form context
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

create form context
  frontend/app/src/shared/components/form/utils/form-context.tsx
Labels: group/frontend

get form context in main relationship field
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
Labels: group/frontend

remove logs
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
Labels: group/frontend

Fixed overfetching in hierarchical tree view (#6672)
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/shared/utils/element.ts
Labels: group/frontend

fix(development): tempo syntax
  development/tempo/config.yml
Labels: none

update final CALL subqueries for new format
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/graph/m023_deduplicate_cardinality_one_relationships.py
  backend/infrahub/core/migrations/graph/m029_duplicates_cleanup.py
  backend/infrahub/core/migrations/query/attribute_rename.py
  backend/infrahub/core/query/delete.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
