Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Use branch fixture
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Cleanup
  backend/infrahub/core/validators/node/inherit_from.py
Labels: group/backend

bump graph version to be correct
  backend/infrahub/core/graph/__init__.py
Labels: group/backend

re-add object template guide and topic to docs sidebar menu
  docs/sidebars.ts
Labels: type/documentation

docs: update local-demo-environment topic
  docs/docs/topics/local-demo-environment.mdx
Labels: type/documentation

inherited schema fixes (#6074)
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
Labels: group/backend

handling for existing for duplicate inherited schema fields (#6123)
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/schema/manager.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
  changelog/5793.fixed.md
Labels: group/backend

Fix object template rel create in a branch (#6143)
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/+templateinbranch.fixed.md
Labels: group/backend

Allow renaming of inherited kinds (#6130)
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/models.py
  backend/infrahub/core/validators/interface.py
  backend/infrahub/core/validators/model.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/tests/unit/core/constraint_validators/test_attribute_choices_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_enum_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_kind_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_optional.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_unique_update.py
  backend/tests/unit/core/constraint_validators/test_node_generate_profiles_update.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_count.py
  backend/tests/unit/core/constraint_validators/test_relationship_optional_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  changelog/6051.fixed.md
  changelog/6060.fixed.md
Labels: group/backend

Update local-demo-environment.mdx
  docs/docs/topics/local-demo-environment.mdx
Labels: type/documentation

Update sidebars.ts
  docs/sidebars.ts
Labels: type/documentation

Fox version of internal graph after 1.2 release
  backend/infrahub/core/graph/__init__.py
  changelog/+graphver.fixed.md
Labels: group/backend

fix(testcontainers): always run metric scraper
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

Cleanup helpers file
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: none

Add performance test plugin for pytest
  .gitignore
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/constants.py
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/helpers.py
  python_testcontainers/infrahub_testcontainers/host.py
  python_testcontainers/infrahub_testcontainers/measurements.py
  python_testcontainers/infrahub_testcontainers/models.py
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/plugin.py
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
  python_testcontainers/tests/__init__.py
  python_testcontainers/tests/test_results.py
Labels: none

fix(testcontainers): do not send perf results if not required
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

feat(testcontainers): start metrics scraper with perftest plugin
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

fix(infrahub_testcontainers): display report and toggle reporting
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

fix(testcontainers): add missing dependencies
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: none

fix(python_testcontainers): lint
  python_testcontainers/infrahub_testcontainers/host.py
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

feat(infrahub_testcontainers): fetch and push metrics
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/plugin.py
  python_testcontainers/infrahub_testcontainers/prometheus.yml
  python_testcontainers/pyproject.toml
Labels: none

feat(infrahub_testcontainers): collect system metrics
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/prometheus.yml
Labels: none

Improve node upsert performances
  .github/workflows/ci.yml
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/exceptions.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/node_getter/by_default_filter.py
  backend/infrahub/server.py
  backend/tests/conftest.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/ci, group/backend

minor fixes
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

Add some tests
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/conftest.py
  backend/tests/node_creation.py
  backend/tests/unit/core/changelog/test_models.py
  backend/tests/unit/core/constraint_validators/conftest.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

Allow renaming of inherited kinds (#6130)
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/models.py
  backend/infrahub/core/validators/interface.py
  backend/infrahub/core/validators/model.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/tests/unit/core/constraint_validators/test_attribute_choices_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_enum_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_kind_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_optional.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_unique_update.py
  backend/tests/unit/core/constraint_validators/test_node_generate_profiles_update.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_count.py
  backend/tests/unit/core/constraint_validators/test_relationship_optional_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  changelog/6051.fixed.md
  changelog/6060.fixed.md
Labels: group/backend

Fix pydantic schema generation error
  backend/infrahub/core/validators/model.py
Labels: group/backend

disable failing tests
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/prefix-summary.spec.ts
  frontend/app/tests/e2e/object-template/create-object-instance-using-template.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

remove extra comments
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

changelog
  changelog/+schemastrictmode.added.md
  changelog/upsertperformances.changed.md
Labels: none

disable another test
  frontend/app/tests/e2e/branches.spec.ts
Labels: group/frontend

Improve node upsert performances (#5966)
  .github/workflows/ci.yml
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/infrahub/exceptions.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/node_getter/by_default_filter.py
  backend/infrahub/server.py
  backend/tests/conftest.py
  backend/tests/node_creation.py
  backend/tests/unit/core/changelog/test_models.py
  backend/tests/unit/core/constraint_validators/conftest.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+schemastrictmode.added.md
  changelog/upsertperformances.changed.md
Labels: group/ci, group/backend

Add improve upsert performances changelog
  changelog/upsertperformances.changed.md
Labels: none

Add improve upsert performances changelog (#6155)
  changelog/upsertperformances.changed.md
Labels: none

disable test
  frontend/app/tests/e2e/docs-regression-check/guides/resource_manager_guide.spec.ts
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-3_schema.spec.ts
Labels: group/frontend

disable another test
  frontend/app/tests/e2e/branches.spec.ts
Labels: group/frontend

disable failing tests
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/prefix-summary.spec.ts
  frontend/app/tests/e2e/object-template/create-object-instance-using-template.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

disable another test
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
Labels: group/frontend

Disable failing E2E tests to unblock CI (#6154)
  frontend/app/tests/e2e/branches.spec.ts
  frontend/app/tests/e2e/docs-regression-check/guides/resource_manager_guide.spec.ts
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
  frontend/app/tests/e2e/ipam/prefix-summary.spec.ts
  frontend/app/tests/e2e/object-template/create-object-instance-using-template.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

add upgrade docs
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/sidebars.ts
Labels: type/documentation
