Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Verify approval/rejection events
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

Fix typo
  backend/infrahub/core/constants/__init__.py
Labels: group/backend

Add proposed change event types in enum
  backend/infrahub/events/proposed_change_action.py
Labels: group/backend

update ui
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend

add poll interval and update types
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/domain/get-events.query.ts
  frontend/app/src/entities/proposed-changes/ui/overview.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
Labels: group/frontend

add events for approvals / rejection + merge
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
Labels: group/frontend

Add trigger for proposed change review events
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

Fix typo
  backend/infrahub/events/proposed_change_action.py
Labels: group/backend

Fix enum to use new events
  backend/infrahub/core/constants/__init__.py
Labels: group/backend

Tweak test event a bit
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

Remove review requested event trigger for now
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

fix thread
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

Update docs
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation

update types
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend

update variant
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend

Fix typo
  backend/infrahub/events/proposed_change_action.py
  docs/docs/reference/infrahub-events.mdx
Labels: group/backend, type/documentation

Add fields in graphql response for pc events
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
Labels: group/backend

update ui
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend

Update docs
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation

add thread event
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-thread-event.tsx
  frontend/app/src/entities/proposed-changes/api/get-proposed-change-thread-from-api.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.ts
  frontend/app/src/shared/components/conversations/thread.tsx
Labels: group/frontend

Use prefect client to assert events
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

Dead code
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

add order filter
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
  frontend/app/src/shared/hooks/useFilters.ts
Labels: group/frontend

Fix still_draft assignement
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

Rearrange fixtures
  backend/tests/functional/proposed_change/test_review.py
  backend/tests/functional/proposed_change/test_thread_events.py
  backend/tests/helpers/test_app.py
Labels: group/backend

Hide IPAM menu when there are no IP node kinds
  backend/infrahub/core/schema/manager.py
  backend/infrahub/menu/generator.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/menu/test_generator.py
  changelog/+dbcd1be4.changed.md
Labels: group/backend

Add events related to proposed change reviews
  backend/infrahub/events/proposed_change_action.py
Labels: group/backend

Add functional tests to validate behaviour
  backend/tests/functional/proposed_change/test_review.py
  backend/tests/functional/proposed_change/test_thread_events.py
  backend/tests/helpers/test_app.py
Labels: group/backend

clean up
  frontend/app/src/entities/events/ui/event-card.tsx
Labels: group/frontend

Add specific events for threads in proposed change
  backend/infrahub/events/__init__.py
  backend/infrahub/events/generator.py
  backend/infrahub/events/proposed_change_action.py
  backend/infrahub/graphql/types/event.py
Labels: group/backend

fix overview
  frontend/app/src/entities/proposed-changes/ui/overview.tsx
Labels: group/frontend

remove bad code
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
Labels: group/frontend

update thread ui
  frontend/app/src/shared/components/conversations/thread.tsx
Labels: group/frontend

Remove unused imports
  backend/tests/functional/proposed_change/test_review.py
  backend/tests/helpers/test_app.py
Labels: group/backend

Split events into more specific ones
  backend/infrahub/events/__init__.py
  backend/infrahub/events/proposed_change_action.py
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

rephrase
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
Labels: group/frontend

update types
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend

update variant
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend

start add events
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/proposed-changes/ui/conversations.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
Labels: group/frontend

update ui
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend
