Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

remove duplicate txn from Migration014
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
Labels: group/backend

AggregatedConstraintChecker correctly raises errors (#6369)
  backend/infrahub/core/validators/aggregated_checker.py
Labels: group/backend

fix(docs): bad pg_dump command with docker
  docs/docs/guides/installation-enterprise.mdx
Labels: type/documentation

fix(backend): improve node uniqueness constraint query
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

remove duplicate txn from Migration014
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
Labels: group/backend

fix(backend): add db value index feature flag
  backend/infrahub/config.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/server.py
  backend/tests/conftest.py
  development/docker-compose.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: group/backend

fix(backend): reintroduce attribute value indexes
  backend/infrahub/core/graph/index.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_attribute.py
Labels: group/backend

ensure database index manager uses the correct database object
  backend/infrahub/database/__init__.py
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_024.py
Labels: group/backend

fix(backend, tests): failing migration test due to indexes
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_024.py
Labels: group/backend

add deduplicate edges patch
  backend/infrahub/core/migrations/graph/patch_0001.py
  backend/infrahub/patch/queries/delete_duplicated_edges.py
Labels: group/backend

comments in the deduplication patch
  backend/infrahub/core/migrations/graph/patch_0001.py
  backend/infrahub/patch/queries/consolidate_duplicated_nodes.py
Labels: group/backend

fix infrahub version in repository dispatch call in release workflow
  .github/workflows/release.yml
Labels: group/ci

Upgrade Prefect to 3.3.7
  backend/tests/helpers/utils.py
  changelog/+1f69fa65.housekeeping.md
  poetry.lock
  pyproject.toml
Labels: group/backend

Fix flaky e2e test tutorial-1 (#6362)
  frontend/app/playwright.config.ts
  frontend/app/src/shared/components/buttons/button.tsx
  frontend/app/src/shared/components/ui/form.tsx
  frontend/app/tests/e2e/branches/merge-branch.spec.ts
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-2_data-lineage-and-metadata.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/utils.ts
Labels: group/frontend

Move database constants to constants folder
  backend/infrahub/config.py
  backend/infrahub/constants/__init__.py
  backend/infrahub/constants/database.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/index.py
  backend/infrahub/database/memgraph.py
  backend/infrahub/database/neo4j.py
  backend/infrahub/git_credential/helper.py
  backend/tests/helpers/query_benchmark/benchmark_config.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/test_diff_query.py
  backend/tests/query_benchmark/test_node_get_list.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/unit/core/migrations/graph/test_014.py
  tasks/release.py
Labels: group/backend

lint
  frontend/app/src/entities/nodes/object/ui/object-details.tsx
  frontend/app/src/entities/permission/ui/require-object-permissions.tsx
  frontend/app/src/pages/objects/object-details.tsx
Labels: group/frontend

added useGetObject and useTaskCount
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object/domain/get-object.query.ts
  frontend/app/src/entities/nodes/object/domain/get-object.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-details.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/utils/get-attributes-visible-in-list-view.test.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visible-in-list-view.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-detailed-view.test.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-detailed-view.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-list-view.test.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-list-view.ts
  frontend/app/src/entities/nodes/relationships/api/get-object-relationships-from-api.ts
  frontend/app/src/entities/tasks/api/get-task-count-from-api.ts
  frontend/app/src/entities/tasks/domain/get-node-task-count/get-task-count.query.ts
  frontend/app/src/entities/tasks/domain/get-node-task-count/get-task-count.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch/is-task-running-on-branch.query.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch/is-task-running-on-branch.test.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch/is-task-running-on-branch.ts
  frontend/app/src/entities/tasks/ui/task-status.tsx
Labels: group/frontend

invalidate query after mutation
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/repository/ui/repository-action-menu.tsx
  frontend/app/src/entities/tasks/api/get-task-count-from-api.ts
  frontend/app/src/entities/tasks/domain/get-node-task-count/get-task-count.query.ts
  frontend/app/src/entities/tasks/domain/get-node-task-count/get-task-count.ts
  frontend/app/src/shared/components/form/object-create-form-trigger.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/tests/e2e/objects/object-update.spec.ts
Labels: group/frontend

Introduce RequireObjectPermissions component
  frontend/app/src/entities/graphql/ui/graphql-query-details-card.tsx
  frontend/app/src/entities/nodes/object/ui/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/entities/nodes/object/ui/object-details.tsx
  frontend/app/src/entities/permission/ui/require-object-permissions.tsx
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/mocks/data/devices.ts
Labels: group/frontend

tabs
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object/ui/object-details.tsx
  frontend/app/src/entities/nodes/object/ui/object-tabs.tsx
  frontend/app/src/entities/nodes/relationships/api/get-relationship-count-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
Labels: group/frontend

classname
  frontend/app/src/entities/permission/ui/require-object-permissions.tsx
  frontend/app/src/pages/objects/object-details.tsx
Labels: group/frontend

enable dissocate action only for optional relationships
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
Labels: group/frontend

add fragment
  changelog/+dissociate.fixed.md
Labels: none

fix object rela spec test
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

fix webhook spec
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

lint
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

Add support for application/hcl content type
  backend/infrahub/core/constants/__init__.py
  docs/docs/topics/artifact.mdx
Labels: group/backend, type/documentation

add hcl content type in code viewer
  frontend/app/src/entities/artifacts/types.ts
  frontend/app/src/entities/artifacts/ui/artifact-file.tsx
Labels: group/frontend

add fragment
  changelog/+hcl.added.md
Labels: none

Move database constants to constants folder (#6372)
  backend/infrahub/config.py
  backend/infrahub/constants/__init__.py
  backend/infrahub/constants/database.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/index.py
  backend/infrahub/database/memgraph.py
  backend/infrahub/database/neo4j.py
  backend/infrahub/git_credential/helper.py
  backend/tests/helpers/query_benchmark/benchmark_config.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/test_diff_query.py
  backend/tests/query_benchmark/test_node_get_list.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/unit/core/migrations/graph/test_014.py
  tasks/release.py
Labels: group/backend

Separate the query for object details and tasks count into two distinct queries (#6330)
  frontend/app/src/entities/graphql/ui/graphql-query-details-card.tsx
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object/domain/get-object.query.ts
  frontend/app/src/entities/nodes/object/domain/get-object.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/entities/nodes/object/ui/object-details.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/object-tabs.tsx
  frontend/app/src/entities/nodes/object/utils/get-attributes-visible-in-list-view.test.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visible-in-list-view.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-detailed-view.test.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-detailed-view.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-list-view.test.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-list-view.ts
  frontend/app/src/entities/nodes/relationships/api/get-object-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/api/get-relationship-count-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.ts
  frontend/app/src/entities/permission/ui/require-object-permissions.tsx
  frontend/app/src/entities/repository/ui/repository-action-menu.tsx
  frontend/app/src/entities/tasks/api/get-task-count-from-api.ts
  frontend/app/src/entities/tasks/domain/get-node-task-count/get-task-count.query.ts
  frontend/app/src/entities/tasks/domain/get-node-task-count/get-task-count.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch/is-task-running-on-branch.query.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch/is-task-running-on-branch.test.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch/is-task-running-on-branch.ts
  frontend/app/src/entities/tasks/ui/task-status.tsx
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/shared/components/form/object-create-form-trigger.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/mocks/data/devices.ts
Labels: group/frontend

add unit tests on an export of the bad data
  .gitignore
  backend/tests/unit/patch/kind_deduplication_patches/__init__.py
  backend/tests/unit/patch/kind_deduplication_patches/data_export/README.txt
  backend/tests/unit/patch/kind_deduplication_patches/data_export/edges.csv
  backend/tests/unit/patch/kind_deduplication_patches/data_export/vertices.csv
  backend/tests/unit/patch/kind_deduplication_patches/test_patches.py
Labels: group/backend

Enable HCL syntax highlighting (#6374)
  backend/infrahub/core/constants/__init__.py
  changelog/+hcl.added.md
  docs/docs/topics/artifact.mdx
  frontend/app/src/entities/artifacts/types.ts
  frontend/app/src/entities/artifacts/ui/artifact-file.tsx
Labels: group/backend, group/frontend, type/documentation

add count
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/get-relationship-actions-column.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend

dissociate if min_count is fine
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
Labels: group/frontend

rename variable and fix edit form
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/get-relationship-actions-column.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend

Ignore support logs from git tracking
  .gitignore
Labels: none

Fix typo in tag schema description
  backend/infrahub/core/schema/definitions/core/builtin.py
  backend/tests/fixtures/schemas/schema_02.json
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/fake/schema.ts
Labels: group/backend, group/frontend

Use repository name for user facing logging
  backend/infrahub/git/tasks.py
Labels: group/backend

Rollback to keep repository only
  backend/infrahub/git/tasks.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
