Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

clean up
  frontend/app/src/entities/events/ui/event-card.tsx
Labels: group/frontend

fix overview
  frontend/app/src/entities/proposed-changes/ui/overview.tsx
Labels: group/frontend

add order filter
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
  frontend/app/src/shared/hooks/useFilters.ts
Labels: group/frontend

rename
  frontend/app/src/entities/proposed-changes/ui/overview.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

remove bad code
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
Labels: group/frontend

update ui
  frontend/app/src/shared/components/conversations/comment.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
Labels: group/frontend

add thread event
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-thread-event.tsx
  frontend/app/src/entities/proposed-changes/api/get-proposed-change-thread-from-api.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.ts
  frontend/app/src/shared/components/conversations/thread.tsx
Labels: group/frontend

add events for approvals / rejection + merge
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
Labels: group/frontend

fix thread
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

update ui
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/src/shared/components/modals/modal-confirm.tsx
Labels: group/frontend

add poll interval and update types
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/domain/get-events.query.ts
  frontend/app/src/entities/proposed-changes/ui/overview.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
Labels: group/frontend

update thread ui
  frontend/app/src/shared/components/conversations/thread.tsx
Labels: group/frontend

remove
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

fix import
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

add changelog
  changelog/proposed-changes.changed.md
Labels: none

Get available actions for a proposed change (#6944)
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-available-actions-from-api.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-available-actions.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-available-actions.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
  frontend/app/src/entities/proposed-changes/ui/pc-actions-permissions-context.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

set experimental value_db_index setting to deprecated
  backend/infrahub/config.py
Labels: group/backend

more
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-mutate-object.tsx
Labels: group/frontend

better popover
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
Labels: group/frontend

Add bulk edit on object table
  frontend/app/src/entities/nodes/object/domain/update-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-context.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-mutate-object.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-edit-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-relationships-manager.tsx
  frontend/app/src/shared/api/types.ts
  frontend/app/src/shared/components/aria/modal.tsx
  frontend/app/src/shared/components/form/node-form.tsx
Labels: group/frontend

filter fields
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
Labels: group/frontend

fix ts
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-bulk-edit-objects.tsx
Labels: group/frontend

better refresh
  frontend/app/src/entities/nodes/object/domain/update-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-mutate-object.tsx
Labels: group/frontend

cleaning
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-item.tsx
Labels: group/frontend

Cleanup existing
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-delete-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/toolbar-button.tsx
Labels: group/frontend

fix unit test
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-edit-action.tsx
Labels: group/frontend

Improve ressource manager guide
  .vale/styles/Infrahub/sentence-case.yml
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

Add missing coma
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

make sure non-indexed nodes are not indexed
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/core/query/node.py
Labels: group/backend

add missing %-format
  backend/infrahub/core/migrations/query/attribute_add.py
Labels: group/backend

add changelog
  changelog/+ifc225.added.md
Labels: none

add e2e
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/tests/e2e/objects/object-list-bulk-edit.spec.ts
Labels: group/frontend

Add bulk edit on object table (#6986)
  changelog/+ifc225.added.md
  frontend/app/src/entities/nodes/object/domain/update-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-context.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-mutate-object.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-delete-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-edit-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/toolbar-button.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-relationships-manager.tsx
  frontend/app/src/shared/api/types.ts
  frontend/app/src/shared/components/aria/modal.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/tests/e2e/objects/object-list-bulk-edit.spec.ts
Labels: group/frontend

adding AttributeValueIndexed nodes (#6764)
  backend/infrahub/cli/db.py
  backend/infrahub/config.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/core/graph/schema.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m035_drop_attr_value_index.py
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/core/validators/uniqueness/model.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/types.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_constraint_query.py
  backend/tests/unit/core/test_attribute.py
  backend/tests/unit/core/test_query_subquery.py
  backend/tests/unit/core/test_schema.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/+6587.added.md
Labels: group/backend

support infrahub.yml or infrahub.yaml
  backend/infrahub/git/integrator.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

import yml or yaml
  backend/infrahub/git/integrator.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

improve error handling
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

import yml or yaml (#6990)
  backend/infrahub/git/integrator.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

cleanup resource manager guide (#6932)
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
  docs/docs/tutorials/getting-started/resource-manager.mdx
Labels: type/documentation

fix(backend): create node with many rels faster
  backend/infrahub/core/query/node.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
