Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

add fragment
  changelog/+activities.added.md
Labels: none

lint
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
Labels: group/frontend

Add changelog record
  changelog/4303.fixed.md
Labels: none

Use same transaction for object mutate create
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

fix e2e tests
  frontend/app/tests/e2e/tutorial/tutorial-3_schema.spec.ts
Labels: group/frontend

IFC-681 Use same transaction for object mutate create (#5704)
  backend/infrahub/graphql/mutations/main.py
  changelog/4303.fixed.md
Labels: group/backend

fix links
  docs/docs/overview/data.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
Labels: type/documentation

fix links (#5710)
  docs/docs/overview/data.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
Labels: type/documentation

feat(testcontainers): add database backup helpers
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: none

close after submit filter form
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
Labels: group/frontend

Improved filter popover for relationship column
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-input.tsx
  frontend/app/src/shared/components/ui/combobox.tsx
Labels: group/frontend

fix
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

make it better
  frontend/app/src/entities/nodes/edit-form-hook/dynamic-control-types.ts
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/filters/active-filter-tags.tsx
  frontend/app/src/entities/nodes/object/ui/filters/filter-condition-select.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/shared/components/aria/list-box.tsx
  frontend/app/src/shared/components/aria/popover.tsx
  frontend/app/src/shared/components/aria/select.tsx
  frontend/app/src/shared/components/buttons/button-primitive.tsx
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.ts
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/inputs/select-old.tsx
  frontend/app/src/shared/components/ui/combobox.tsx
Labels: group/frontend

better colors
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/style.tsx
Labels: group/frontend

shadow
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/style.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-row-identifier.tsx
Labels: group/frontend

bg white
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-row-identifier.tsx
Labels: group/frontend

backend/git/base.py: Pass in branch_name to the exception within create_locally for proper error message.
  backend/infrahub/git/base.py
  backend/tests/unit/git/test_git_read_only_repository.py
  backend/tests/unit/git/test_git_repository.py
Labels: group/backend

Tests and fixes for InfrahubContext
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/workers/utils.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/api/test_10_query.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_repository.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

remove hover bg for action and id column
  frontend/app/src/entities/nodes/object/ui/objects-table/get-object-table-columns.tsx
Labels: group/frontend

Remove client init method from documentation (#5707)
  docs/docs/python-sdk/guides/resource-manager.mdx
Labels: type/documentation

Improved filter popover for relationship column (#5699)
  frontend/app/src/entities/nodes/edit-form-hook/dynamic-control-types.ts
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/filters/active-filter-tags.tsx
  frontend/app/src/entities/nodes/object/ui/filters/filter-condition-select.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/style.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-row-identifier.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-input.tsx
  frontend/app/src/shared/components/aria/list-box.tsx
  frontend/app/src/shared/components/aria/popover.tsx
  frontend/app/src/shared/components/aria/select.tsx
  frontend/app/src/shared/components/buttons/button-primitive.tsx
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.ts
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/inputs/select-old.tsx
  frontend/app/src/shared/components/ui/combobox.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

Use dedicated session for constraint runner
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

Missing type hint
  backend/infrahub/database/__init__.py
Labels: group/backend

Use dedicated database session for constraint runner (#5718)
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

Fix illegal test dataset
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch.py
  backend/tests/unit/core/test_branch_merge.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

add constants variables for filter condition
  frontend/app/src/entities/nodes/object/ui/filters/filter-condition-select.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.ts
Labels: group/frontend

adjusted popover filter width
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
Labels: group/frontend

fix test
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/shared/components/filters/filter-kind-selector.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

attribute filter v2
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/dynamic-filter-input.tsx
  frontend/app/src/entities/nodes/object/ui/filters/filter-condition-select.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
  frontend/app/src/shared/components/aria/radio-group.tsx
  frontend/app/src/shared/components/inputs/dropdown.tsx
Labels: group/frontend

only return diff metadata after update
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/aggregated.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/all_conflicts.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query/field_summary.py
  backend/infrahub/core/diff/query/has_conflicts_query.py
  backend/infrahub/core/diff/query/merge_tracking_id.py
  backend/infrahub/core/diff/query/roots_metadata.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/time_range_query.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

add project argument to compose installation method in docs
  docs/docs/guides/installation.mdx
Labels: type/documentation

Improved UI/UX on attribute filters (#5717)
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/dynamic-filter-input.tsx
  frontend/app/src/entities/nodes/object/ui/filters/filter-condition-select.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
  frontend/app/src/shared/components/aria/radio-group.tsx
  frontend/app/src/shared/components/filters/filter-kind-selector.tsx
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.ts
  frontend/app/src/shared/components/inputs/dropdown.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

Revert changes to base_dataset_02 fixture
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch.py
  backend/tests/unit/core/test_branch_merge.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

Ensure SearchAnyWhere resolver returns valid responses
  backend/infrahub/graphql/queries/search.py
  backend/tests/unit/graphql/queries/test_search.py
Labels: group/backend

Add API wrapper to Prefect for custom endpoints
  .github/workflows/version-upgrade.yml
  backend/infrahub/events/models.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/prefect_server/__init__.py
  backend/infrahub/prefect_server/app.py
  backend/infrahub/prefect_server/database.py
  backend/infrahub/prefect_server/events.py
  backend/infrahub/prefect_server/models.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/queries/test_event.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  development/docker-compose.local-build-deps.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
Labels: group/ci, group/backend

fix test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

update tests
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

update and rename files
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/api/get-events.ts
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/entities/events/utils/constants.ts
  frontend/app/src/entities/nodes/activities/ui/activity-details.tsx
  frontend/app/src/entities/nodes/activities/ui/global-activities.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/pages/activities/details.tsx
  frontend/app/src/pages/activities/index.tsx
Labels: group/frontend

split components
  frontend/app/src/entities/events/api/get-events.ts
  frontend/app/src/entities/events/ui/branch-event.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
Labels: group/frontend

improve ui
  frontend/app/src/entities/events/ui/node-event.tsx
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
