Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Various linting related fixes
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

remove logs
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
Labels: group/frontend

Fix typo
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

cleaning
  backend/infrahub/config.py
  backend/tests/conftest.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/query_benchmark/utils.py
Labels: group/backend

Add reo.dev analytics to documentation (#4638)
  changelog/+reo_dot_dev.added.md
  docs/docusaurus.config.ts
  docs/static/js/custom-reo.js
Labels: type/documentation

improve test and fix generate artifacts
  frontend/app/src/screens/artifacts/generate.tsx
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
Labels: group/frontend

update mock data
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
Labels: group/frontend

bring reo.dev into stable docs
  docs/docusaurus.config.ts
  docs/static/js/custom-reo.js
Labels: type/documentation

Add support for additional context to the metrics for query execution time
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/metrics.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
Labels: group/backend

Fix metric missing the query name in Prometheus data
  backend/infrahub/core/query/standard_node.py
  changelog/+metric-none.fixed.md
Labels: group/backend

Convert Transform tasks to prefect
  backend/infrahub/api/transformation.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/transform_python_data.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/transform/__init__.py
  backend/infrahub/message_bus/operations/transform/jinja.py
  backend/infrahub/message_bus/operations/transform/python.py
  backend/infrahub/transformations/__init__.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/api/test_10_transformation_api.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/message_bus/operations/transform/test_python.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Add support for initial generation of computed macros
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/support/__init__.py
  backend/infrahub/support/macro.py
  backend/templates/attributeschema_imports.j2
  backend/tests/constants/kind.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/child.py
  backend/tests/helpers/schema/thing.py
  backend/tests/unit/core/schema/__init__.py
  backend/tests/unit/core/schema/schema_branch/__init__.py
  backend/tests/unit/core/schema/schema_branch/test_validate_computed_attributes.py
  backend/tests/unit/graphql/test_mutation_create_macros.py
  docs/docs/reference/schema/attribute.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

revert use auth role for forms
  frontend/app/src/hooks/useAuth.tsx
Labels: group/frontend

fix permission for prefixes list
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-list.tsx
Labels: group/frontend

fix prefix list permission
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-list.tsx
Labels: group/frontend

fix ipam title crashing when error
  frontend/app/src/screens/ipam/ip-namespace-selector.tsx
Labels: group/frontend

fix thread permission
  frontend/app/src/components/conversations/thread.tsx
Labels: group/frontend

[FIX] allow ReactNode as value in table
  frontend/app/src/components/table/table.tsx
Labels: group/frontend

Update development/docker-compose.yml
  development/docker-compose.yml
Labels: none

Update development/docker-compose.yml
  development/docker-compose.yml
Labels: none

wait for view to be loaded
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

bring reo.dev into stable docs (#4660)
  docs/docusaurus.config.ts
  docs/static/js/custom-reo.js
Labels: type/documentation

update
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/utils/getSchemaObjectColumns.ts
Labels: group/frontend

[FIX] allow ReactNode as value in table (#4663)
  frontend/app/src/components/table/table.tsx
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/utils/getSchemaObjectColumns.ts
Labels: group/frontend

update loading message + quick fix for role access (backend issue)
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

update mock data
  frontend/app/tests/integrations/screens/artifact-diff.cy.tsx
  frontend/app/tests/mocks/data/artifact.ts
Labels: group/frontend

New Layout: wrapped all pages main content in a card
  frontend/app/src/components/editor/code-editor.tsx
  frontend/app/src/components/tabs.tsx
  frontend/app/src/components/ui/scroll-area.tsx
  frontend/app/src/graphql/queries/proposed-changes/getProposedChanges.ts
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/pages/role-management/index.tsx
  frontend/app/src/pages/schema.tsx
  frontend/app/src/pages/tasks/index.tsx
  frontend/app/src/pages/tasks/task-details.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/diff/checks/checks.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/graphql/details/graphql-query-details-card.tsx
  frontend/app/src/screens/graphql/details/graphql-query-viewer-card.tsx
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/screens/layout/content.tsx
  frontend/app/src/screens/layout/layout.tsx
  frontend/app/src/screens/object-item-details/object-attribute-row.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-cell.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/user-profile/user-profile.tsx
Labels: group/frontend

remove unused import
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
Labels: group/frontend

Update graphene, gunicorn and uvicorn to latest version
  poetry.lock
  pyproject.toml
Labels: none

Fix metric missing the query name in Prometheus data
  backend/infrahub/core/node/standard.py
  backend/infrahub/core/query/standard_node.py
  changelog/+metric-none.fixed.md
Labels: group/backend

Add menu to admin section of the meny and Disable profiles for menu
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/menu/menu.py
Labels: group/backend

Convert Transform tasks to prefect
  backend/infrahub/api/transformation.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/transform_python_data.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/transform/__init__.py
  backend/infrahub/message_bus/operations/transform/jinja.py
  backend/infrahub/message_bus/operations/transform/python.py
  backend/infrahub/transformations/__init__.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/__init__.py
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/person_with_cars_transform.py
  backend/tests/integration/conftest.py
  backend/tests/integration/transform/test_transform.py
  backend/tests/unit/api/test_10_transformation_api.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/message_bus/operations/transform/test_python.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Ensure the HFID of a related node is propery returned via GraphQL
  backend/infrahub/core/manager.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/4482.fixed.md
Labels: group/backend

Refactor QueryAnalyzer to GraphProfileGenerator for query benchmarks
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
Labels: group/backend

Make ops-team global read-only
  models/infrastructure_edge.py
Labels: none

Update protocols
  backend/infrahub/core/protocols.py
Labels: group/backend

Check labels for user instead of names
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

Make account group lineage owner/source
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend

Fix test credentials for new dataset
  frontend/app/tests/constants.ts
Labels: group/frontend

Add groups, roles, permissions and accounts
  models/infrastructure_edge.py
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
