Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

revert collapsed
  frontend/app/src/components/search/search-anywhere.tsx
Labels: group/frontend

update style
  frontend/app/src/components/search/search-anywhere.tsx
Labels: group/frontend

update style
  frontend/app/src/components/search/search-anywhere.tsx
Labels: group/frontend

Modify error message on login and -> or
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/tests/e2e/login.spec.ts
Labels: group/frontend

Streamline sentence
  docs/docs/guides/computed-attributes.mdx
Labels: type/documentation

update setisopen
  frontend/app/src/components/search/search-anywhere.tsx
Labels: group/frontend

update fragment
  changelog/4715.fixed.md
Labels: none

Added a small note about async task
  docs/docs/topics/computed-attributes.mdx
Labels: type/documentation

Added a line about data for the test
  docs/docs/guides/computed-attributes.mdx
Labels: type/documentation

Remove trailing blank space
  docs/docs/guides/computed-attributes.mdx
Labels: type/documentation

Add more groups to /docs/. (#5040)
  .github/CODEOWNERS
Labels: group/ci

Set INFRAHUB_PRODUCTION=false for testing
  pyproject.toml
Labels: none

Log graphql errors while testing
  backend/tests/benchmark/test_graphql_query.py
  backend/tests/helpers/graphql.py
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
  backend/tests/integration/ipam/test_ipam_utilization.py
  backend/tests/integration/profiles/test_profile_lifecycle.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/graphql/mutations/test_schema.py
  backend/tests/unit/graphql/mutations/test_task.py
  backend/tests/unit/graphql/mutations/test_update_generic.py
  backend/tests/unit/graphql/profiles/test_mutation_create.py
  backend/tests/unit/graphql/profiles/test_query.py
  backend/tests/unit/graphql/queries/test_branch.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/queries/test_relationship.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  backend/tests/unit/graphql/queries/test_search.py
  backend/tests/unit/graphql/queries/test_task.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/graphql/test_diff_tree_query.py
  backend/tests/unit/graphql/test_graphql_query.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  backend/tests/unit/graphql/test_mutation_delete.py
  backend/tests/unit/graphql/test_mutation_graphqlquery.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  backend/tests/unit/graphql/test_parser.py
Labels: group/backend

Set artifact content type when rendered
  backend/infrahub/git/integrator.py
  changelog/4969.fixed.md
Labels: group/backend

Load and process new schema before replacing registry branch
  backend/infrahub/tasks/registry.py
  changelog/5008.fixed.md
Labels: group/backend

Correct branch match for when all branches share the same schema
  backend/infrahub/computed_attribute/tasks.py
Labels: group/backend

Set artifact content type when rendered (#5047)
  backend/infrahub/git/integrator.py
  changelog/4969.fixed.md
Labels: group/backend

restoring inadvertently deleted changelog entries
  changelog/+diff-api-endpoints.removed.md
  changelog/+diff-artifacts.fixed.md
  changelog/+irresolvable-conflicts.fixed.md
  changelog/+merge-rel-metadata.fixed.md
  changelog/+perm-accountrole.removed.md
  changelog/+perm-check.fixed.md
  changelog/3173.fixed.md
  changelog/3587.removed.md
  changelog/4198.fixed.md
  changelog/4245.added.md
  changelog/4296.fixed.md
  changelog/4613.fixed.md
  changelog/4649.added.md
  changelog/4789.fixed.md
  changelog/4909.fixed.md
  changelog/4936.fixed.md
Labels: none

use CommandItem to enable arrows navigation
  frontend/app/src/components/search/search-anywhere.tsx
Labels: group/frontend

handle node deleted merge edge case (#5026)
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/test_utils.py
Labels: group/backend

unit tests and a first fix
  backend/infrahub/core/query/ipam.py
  backend/tests/unit/core/ipam/test_ipam_reconcile_query.py
Labels: group/backend

add labels filter to IP nodes so we don't pick up DiffNodes
  backend/infrahub/core/query/ipam.py
Labels: group/backend

update reconcile query for deleted edges
  backend/infrahub/core/query/ipam.py
Labels: group/backend

allow deleting last prefix
  backend/infrahub/core/query/ipam.py
  backend/tests/unit/graphql/mutations/test_ipam.py
Labels: group/backend

fix(helm): enable rabbitmq startup probe
  helm/Chart.yaml
  helm/values.yaml
Labels: none

fix(helm): enable rabbitmq startup probe
  helm/Chart.yaml
  helm/values.yaml
Labels: none

Use raise from
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
Labels: group/backend

Also raise for IP address pool
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
Labels: group/backend

Raise error if pool allocation misses data
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
Labels: group/backend

Raise error if pool allocation misses data to create node (#5050)
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
Labels: group/backend

Computed attribute documentation (#4978)
  docs/docs/guides/computed-attributes.mdx
  docs/docs/topics/computed-attributes.mdx
  docs/sidebars.ts
  models/base/dcim.yml
Labels: type/documentation

Add wait and remove restart after loading schema in CI
  tasks/dev.py
Labels: none

Add changelog for PR #5050
  changelog/5006.fixed.md
Labels: none

Add changelog for PR #5050 (#5056)
  changelog/5006.fixed.md
Labels: none

allow read-only repo linked to generator
  backend/infrahub/generators/tasks.py
Labels: group/backend

add changelog
  changelog/+generator-read-only-repo.fixed.md
Labels: none

drop tracking id from any diffs using it after a merge completes
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/query/drop_tracking_id.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

add fragments
  changelog/+branch-exists.fixed.md
  changelog/4861.fixed.md
  changelog/4863.fixed.md
  changelog/4881.fixed.md
  changelog/4952.fixed.md
  changelog/4962.fixed.md
Labels: none

fix typo
  changelog/4861.fixed.md
Labels: none

Cleanup workflows for computed attributes
  backend/infrahub/computed_attribute/tasks.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
