Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix controlled form re render
  frontend/app/src/components/ui/form.tsx
Labels: group/frontend

update account form
  frontend/app/src/screens/role-management/account-form.tsx
Labels: group/frontend

update group form
  frontend/app/src/screens/role-management/account-group-form.tsx
Labels: group/frontend

update role form
  frontend/app/src/screens/role-management/account-role-form.tsx
Labels: group/frontend

update object permissions
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

fix: allow sso button to redirect outside of current domain
  backend/infrahub/config.py
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
Labels: group/backend, group/frontend

fix: allow sso button to redirect outside of current domain (#4535)
  backend/infrahub/config.py
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
Labels: group/backend, group/frontend

update table for actions
  frontend/app/src/components/table/table.tsx
Labels: group/frontend

add custom form for roles
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
Labels: group/frontend

Added breadcrumb based on current route (#4521)
  frontend/app/src/components/ui/breadcrumb.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-navigation.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-link.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-loading.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/style.ts
  frontend/app/src/screens/layout/breadcrumb-navigation/type.ts
  frontend/app/src/screens/layout/content.tsx
  frontend/app/src/screens/layout/header.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/utils/objects.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/prefix-summary.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

chore: fix pipeline
  .github/workflows/ci-docker-image.yml
  .github/workflows/publish-dev-docker-image.yml
Labels: group/ci

chore: fix pipeline
  .github/workflows/ci-docker-image.yml
  .github/workflows/publish-dev-docker-image.yml
Labels: group/ci

fix diff calculation bug around deleted edges (#4532)
  backend/infrahub/core/branch.py
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/relationship.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

Add missing special method return types (for ANN204)
  backend/infrahub/core/manager.py
  backend/infrahub/core/validators/attribute/unique.py
  backend/infrahub/core/validators/determiner.py
  backend/infrahub/core/validators/node/generate_profile.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/relationship/count.py
  backend/infrahub/core/validators/relationship/optional.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/core/validators/shared.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/core/validators/uniqueness/index.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/index.py
  backend/infrahub/database/manager.py
  backend/infrahub/database/memgraph.py
  backend/infrahub/database/neo4j.py
  backend/infrahub/exceptions.py
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/auth/query_permission_checker/anonymous_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/checker.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/node_getter/by_default_filter.py
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/infrahub/graphql/mutations/node_getter/by_id.py
  backend/infrahub/lock.py
  backend/infrahub/middleware.py
  backend/infrahub/pools/prefix.py
  backend/infrahub/serve/log.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/message_bus/local.py
  backend/infrahub/test_data/shared.py
Labels: group/backend

Replace ternary `if` expression with `or` operator (ruff: FURB110)
  backend/infrahub/core/ipam/utilization.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  pyproject.toml
Labels: group/backend

IFC-751 save diff in smaller pieces to prevent OOM
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

Add guides for OAuth2 and OICD
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  backend/infrahub/config.py
  docs/docs/guides/sso.mdx
  docs/sidebars.ts
Labels: group/backend, type/documentation

Merge infrahub-git agent and task runner into task-worker
  .devcontainer/updateContentCommand.sh
  .github/workflows/ci.yml
  .github/workflows/scale-tests.yml
  .github/workflows/version-upgrade.yml
  backend/infrahub/workers/infrahub_async.py
  backend/tests/scale/common/config.py
  changelog/1075.fixed.md
  development/Dockerfile
  development/docker-compose-database-memgraph.yml
  development/docker-compose-database-neo4j.yml
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  development/docker-compose-test-scale.yml
  development/docker-compose.default.yml
  development/docker-compose.dev-override.yml.tmp
  development/docker-compose.local-build.yml
  development/docker-compose.override.yml.tmp
  development/docker-compose.yml
  development/infrahub.toml
  development/prometheus/config.yml
  development/vmagent.yml
  docs/docs/reference/configuration.mdx
  tasks/container_ops.py
  tasks/demo.py
  tasks/dev.py
  tasks/infra_ops.py
  tasks/shared.py
Labels: group/ci, group/backend, type/documentation

Move account resolver from schema.py to resolver.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/schema.py
  pyproject.toml
Labels: group/backend

add changelog entry
  changelog/4511.fixed.md
Labels: none

IFC-751 save diff in smaller pieces to prevent OOM (#4544)
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
  changelog/4511.fixed.md
Labels: group/backend

add support for node conflicts
  backend/infrahub/core/diff/merger/serializer.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

IFC-675 start new DiffMerger class
  backend/infrahub/core/diff/merger/__init__.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

Fix typing for graphql.resolver
  backend/infrahub/graphql/parser.py
  backend/infrahub/graphql/resolver.py
  pyproject.toml
Labels: group/backend

neo4j WITH fix
  backend/infrahub/core/diff/query/merge.py
Labels: group/backend

initial implementation of menu endpoint
  backend/infrahub/api/menu.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/menu.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/unit/api/test_menu.py
Labels: group/backend

Fix typing
  backend/infrahub/api/menu.py
Labels: group/backend

Cleanup initialization file
  backend/infrahub/core/initialization.py
Labels: group/backend

Add creation form for Role Management (#4530)
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

fix(ci): update infrahub address after restarting
  .github/workflows/ci.yml
Labels: group/ci

fix(ci): update infrahub address after restarting
  .github/workflows/ci.yml
Labels: group/ci

reorganize module for new menu
  backend/infrahub/api/menu.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/menu.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/menu/__init__.py
  backend/infrahub/menu/constants.py
  backend/infrahub/menu/generator.py
  backend/infrahub/menu/menu.py
  backend/infrahub/menu/models.py
  backend/tests/unit/api/test_menu.py
  backend/tests/unit/menu/__init__.py
  backend/tests/unit/menu/test_generator.py
Labels: group/backend

ignore self-assigning-variable for pylint because ruff is already checking it
  pyproject.toml
Labels: none

Add manage account related objects permission
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/super_admin_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Remove comment
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
Labels: group/backend

Allow viewing profile
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Remove code intended for another PR
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
Labels: group/backend

Add protection in GraphQL for protected menu items
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/manager.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/menu.py
  backend/infrahub/menu/generator.py
  backend/tests/unit/graphql/mutations/test_menu.py
Labels: group/backend

All Account button, beside icon, is a link to login page
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/screens/layout/app-version.tsx
  frontend/app/tests/e2e/signin.spec.ts
Labels: group/frontend

IFC-668 Add manage account related objects permission (#4534)
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/super_admin_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend
