Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Update FastAPI & starlette
  poetry.lock
  pyproject.toml
  python_testcontainers/poetry.lock
Labels: none

Add support for new filter kind in iPAM list view
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-prefixes/api/get-ip-prefix-list-from-api.ts
Labels: group/frontend

Add support for new filter kind in iPAM list view (#6962)
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-prefixes/api/get-ip-prefix-list-from-api.ts
Labels: group/frontend

Added preview of current IP attributes/rels in IPAM details page header
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-details-header.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-prefix-attributes-visible-in-list-view.ts
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-menu.tsx
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/shared/components/container.tsx
Labels: group/frontend

fix e2e
  frontend/app/tests/e2e/ipam/ip-prefix-list.spec.ts
Labels: group/frontend

fix install and spelling
  .vale/styles/Infrahub/swap.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/installation.mdx
Labels: type/documentation

spelling
  .vale/styles/Infrahub/sentence-case.yml
Labels: none

fixes
  docs/docs/guides/profiles.mdx
  docs/docs/topics/profiles.mdx
Labels: type/documentation

ci
  .github/workflows/ci.yml
Labels: group/ci

markdownlint
  docs/docs/topics/profiles.mdx
Labels: type/documentation

Added preview of current IP attributes/rels in IPAM details page header (#6960)
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-details-header.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-prefix-attributes-visible-in-list-view.ts
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-menu.tsx
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/shared/components/container.tsx
  frontend/app/tests/e2e/ipam/ip-prefix-list.spec.ts
Labels: group/frontend

Enable collapsing IPAM tree
  frontend/app/src/config/localStorage.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-details-header.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/pages/ipam/ipam-layout.tsx
  frontend/app/src/shared/components/aria/separator.tsx
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
Labels: group/frontend

removed useless "use client"
  frontend/app/src/shared/components/aria/radio-group.tsx
  frontend/app/src/shared/components/ui/accordion.tsx
Labels: group/frontend

broken link
  docs/docs/tutorials/getting-started/resource-manager.mdx
Labels: type/documentation

fixes
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/schema.mdx
Labels: type/documentation

fix link
  docs/docs/tutorials/getting-started/resource-manager.mdx
Labels: type/documentation

Enable collapsing IPAM tree (#6963)
  frontend/app/src/config/localStorage.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-details-header.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/pages/ipam/ipam-layout.tsx
  frontend/app/src/shared/components/aria/separator.tsx
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
Labels: group/frontend

Replace Divider component by Separator
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/layout/sidebar.tsx
  frontend/app/src/shared/components/ui/divider.tsx
Labels: group/frontend

removed useless "use client" (#6964)
  frontend/app/src/shared/components/aria/radio-group.tsx
  frontend/app/src/shared/components/ui/accordion.tsx
Labels: group/frontend

add separator
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
Labels: group/frontend

update RelationshipGetPeerQuery to support migrated-kind nodes
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

fix issue in property-level diff calculation for migrated-kind nodes
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

add changelog
  changelog/+migrated-kind-diff.fixed.md
Labels: none

add some comments
  backend/infrahub/core/migrations/query/node_duplicate.py
Labels: group/backend

Replace Divider component by Separator (#6965)
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/layout/sidebar.tsx
  frontend/app/src/shared/components/ui/divider.tsx
Labels: group/frontend

Various tweaks
  docs/docs/guides/sso.mdx
  docs/docs/reference/sso.mdx
  docs/docs/topics/authentication.mdx
Labels: type/documentation

Remove trailing space
  docs/docs/guides/sso.mdx
Labels: type/documentation

Release note for 1.3.5
  CHANGELOG.md
  changelog/+migrated-kind-diff.fixed.md
  changelog/+orphaned-relationship-check.added.md
  changelog/6730.fixed.md
  changelog/6928.fixed.md
  changelog/repo-objects.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_5.mdx
Labels: type/documentation

fix vale
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_3_5.mdx
Labels: type/documentation

Add package file
  pyproject.toml
Labels: none

Remove ProposedChangeCheckForApprovalRevoke mutation
  backend/infrahub/graphql/schema.py
Labels: group/backend

And test container
  python_testcontainers/pyproject.toml
Labels: none

Bump version
  python_testcontainers/pyproject.toml
Labels: none

Release note for 1.3.5 (#6968)
  CHANGELOG.md
  changelog/+migrated-kind-diff.fixed.md
  changelog/+orphaned-relationship-check.added.md
  changelog/6730.fixed.md
  changelog/6928.fixed.md
  changelog/repo-objects.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_5.mdx
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

chore: update docker-compose
  docker-compose.yml
Labels: none

Fix all docs
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/schema.mdx
Labels: type/documentation

Fix all docs (#6972)
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/schema.mdx
Labels: type/documentation

Fix links
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

Split review into several actions + move some code around
  backend/infrahub/graphql/queries/proposed_change.py
  backend/infrahub/proposed_change/action_checker.py
  backend/infrahub/proposed_change/constants.py
  backend/tests/unit/graphql/queries/test_proposed_change_actions.py
Labels: group/backend

Fix rule and move rules to appropriate module
  backend/infrahub/graphql/queries/proposed_change.py
  backend/infrahub/proposed_change/action_checker.py
  backend/tests/unit/graphql/queries/test_proposed_change_actions.py
Labels: group/backend
