Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Fix duplicate `member_type` arg for prefix pool (#6798)
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  changelog/+prefixpool-member_type.fixed.md
Labels: group/backend

new infrahub db migrate --migration-number option
  backend/infrahub/cli/db.py
  backend/infrahub/core/migrations/graph/__init__.py
  changelog/+run-migration-command.added.md
Labels: group/backend

add infrahub db check command (#6792)
  backend/infrahub/cli/db.py
  changelog/+db_sanity_cmd.added.md
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: group/backend, type/documentation

fix doc links
  docs/docs/development/frontend/testing-guidelines.mdx
Labels: type/documentation

fix underscore
  docs/docs/topics/hardware-requirements.mdx
Labels: type/documentation

final
  frontend/app/src/entities/nodes/object-item-meta-edit/getMutationMetaDetailsFromFormData.test.ts
  frontend/app/tests/mocks/data/devices.ts
Labels: group/frontend

Adjust cale spelling
  .vale/styles/spelling-exceptions.txt
Labels: none

header
  frontend/app/src/entities/schema/ui/providers/schema-provider.tsx
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-create-form.tsx
  frontend/app/src/entities/user-profile/ui/token-schema.ts
  frontend/app/src/shared/components/menu/object-help-button.tsx
Labels: group/frontend

ip address pool
  frontend/app/src/entities/resource-manager/ui/ip-address-pool-form.tsx
Labels: group/frontend

number pool + ip prefix pool
  frontend/app/src/entities/nodes/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/object-actions-cell.tsx
  frontend/app/src/entities/resource-manager/ui/ip-prefix-pool-form.tsx
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/shared/components/form/node-form.tsx
Labels: group/frontend

conversation + comments
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/nodes/relationships/ui/add-relationship-action.tsx
  frontend/app/src/entities/proposed-changes/ui/conversations.tsx
  frontend/app/src/entities/repository/ui/repository-form.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
Labels: group/frontend

Add create object use case in domain
  frontend/app/src/entities/nodes/object/api/create-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/create-object.query.ts
  frontend/app/src/entities/nodes/object/domain/create-object.ts
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: group/frontend

account token create form
  frontend/app/src/entities/nodes/object/api/create-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/create-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/create-object.ts
  frontend/app/src/entities/user-profile/api/create-account-token-from-api.ts
  frontend/app/src/entities/user-profile/api/createAccountToken.ts
  frontend/app/src/entities/user-profile/domain/create-account-token.mutation.ts
  frontend/app/src/entities/user-profile/domain/create-account-token.ts
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-create-form.tsx
  frontend/app/src/entities/user-profile/ui/token-schema.ts
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/modals/modal-success.tsx
Labels: group/frontend

fix test account token
  frontend/app/tests/e2e/profile/account-tokens.spec.ts
Labels: group/frontend

Adjust cale spelling (#6806)
  .vale/styles/spelling-exceptions.txt
Labels: none

migrate all createObject and deleteObject to hooks
  frontend/app/src/entities/diff/artifact-diff/artifact-content-diff.tsx
  frontend/app/src/entities/diff/file-diff/file-content-diff.tsx
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/nodes/api/createObject.ts
  frontend/app/src/entities/nodes/api/deleteObject.ts
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/delete-object-modal.tsx
  frontend/app/src/entities/proposed-changes/ui/conversations.tsx
  frontend/app/src/entities/role-manager/ui/account-form.tsx
  frontend/app/src/entities/role-manager/ui/account-group-form.tsx
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/role-manager/ui/global-permissions-form.tsx
  frontend/app/src/entities/role-manager/ui/object-permissions-form.tsx
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
  frontend/app/src/shared/components/modals/modal-delete-object.tsx
Labels: group/frontend

fix update
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/entities/nodes/object-item-edit/object-item-edit-paginated.tsx
Labels: group/frontend

fix graphql
  frontend/app/src/shared/components/form/object-edit-slide-over-trigger.tsx
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
Labels: group/frontend

remove unused file
  frontend/app/src/entities/proposed-changes/ui/counter.tsx
Labels: group/frontend

remove unused files
  frontend/app/src/entities/proposed-changes/api/getProposedChanges.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesArtifacts.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesTasks.ts
Labels: group/frontend

fix
  frontend/app/src/entities/role-manager/ui/object-permissions-form.tsx
Labels: group/frontend

update docs, remove unnecessary conditional
  backend/infrahub/core/migrations/graph/__init__.py
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: group/backend, type/documentation

update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

add enterprise hw reqs (#6801)
  docs/docs/topics/hardware-requirements.mdx
Labels: type/documentation

add delete button
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
Labels: group/frontend

udpate test ids
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

update graphiql
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend

new infrahub db migrate --migration-number option (#6804)
  backend/infrahub/cli/db.py
  backend/infrahub/core/migrations/graph/__init__.py
  changelog/+run-migration-command.added.md
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: group/backend, type/documentation

changelog and fix
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  changelog/+prevent_dup_rels.fixed.md
Labels: group/backend

fix branch support
  backend/infrahub/core/query/node.py
Labels: group/backend

add tests for duplicated relationships bug
  backend/tests/unit/core/test_relationship_query.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_update.py
Labels: group/backend

update frontend dependencies (#6807)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend

more correct branch-agnostic handlind hopefully
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_relatives.py
Labels: group/backend

handling for pool-things created during node create
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
Labels: group/backend

Add `Infrahub` namespace to get resource mutations
  backend/infrahub/graphql/schema.py
  changelog/+ifc1601.changed.md
Labels: group/backend

Use new mutations in tests
  backend/tests/unit/graphql/mutations/test_resource_manager.py
Labels: group/backend

Update documentation
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

some cypher query comments
  backend/infrahub/core/query/node.py
Labels: group/backend

Add `Infrahub` namespace to get resource mutations (#6810)
  backend/infrahub/graphql/schema.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  changelog/+ifc1601.changed.md
  docs/docs/guides/resource-manager.mdx
Labels: group/backend, type/documentation

fix tests
  frontend/app/src/entities/nodes/object/ui/delete-object-modal.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: group/frontend
