Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

check permissions on role management access + rename titles
  frontend/app/src/pages/role-management/index.tsx
  frontend/app/src/router.tsx
  frontend/app/tests/e2e/permissions/role-management.spec.ts
Labels: group/frontend

Reload menu when switching branch
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
Labels: group/frontend

Fix PC reviewer e2e test
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

Update demo user list
  docs/docs/tutorials/getting-started/readme.mdx
Labels: type/documentation

Fix perm for R/W on other branches
  models/infrastructure_edge.py
Labels: none

Only create permission if needed
  frontend/app/tests/e2e/role-management/read.spec.ts
  models/infrastructure_edge.py
Labels: group/frontend

Make ops-team global read-only
  models/infrastructure_edge.py
Labels: none

Check labels for user instead of names
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

Give eng-team the right to edit the default branch
  models/infrastructure_edge.py
Labels: none

Update protocols
  backend/infrahub/core/protocols.py
Labels: group/backend

Fix E2E metadata test
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: group/frontend

Add groups, roles, permissions and accounts
  models/infrastructure_edge.py
Labels: none

Adjust e2e tests
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-2_data-lineage-and-metadata.spec.ts
Labels: group/frontend

Make account group lineage owner/source
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend

Fix test credentials for new dataset
  frontend/app/tests/constants.ts
Labels: group/frontend

Do not create global permissions
  models/infrastructure_edge.py
Labels: none

menu accordion are always default open
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

Open menu accordion if there is 0 or 1 childrne
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

improve overflow handling
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/ui/scroll-area.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
Labels: group/frontend

update on Menu accordion UX/UI
  frontend/app/src/components/ui/accordion.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/screens/layout/menu-navigation/styles.tsx
Labels: group/frontend

update style
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

remove `default_filter` from create schema guide in docs
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

remove `default_filter` from generator guide in docs
  docs/docs/guides/generator.mdx
Labels: type/documentation

removed references to default_filter
  .gitignore
Labels: none

remove `default_filter` usage from groups topic in docs
  docs/docs/topics/groups.mdx
Labels: type/documentation

removed references to default_filter - more changes
  models/examples/netbox/netbox.yml
Labels: none

removed references to default_filter
  .gitignore
  models/base/dcim.yml
  models/base/ipam.yml
  models/base/location.yml
  models/base/organization.yml
  models/base/routing.yml
  models/base/service.yml
  models/examples/extension_rack.yml
  models/examples/ipfabric/ipfabric.yml
  models/examples/nautobot/nautobot-v1.yml
  models/examples/nautobot/nautobot-v2.yml
  models/examples/netbox/netbox.yml
Labels: none

removed references to default_filter - more changes
  models/examples/ipfabric/ipfabric.yml
  models/examples/nautobot/nautobot-v1.yml
  models/examples/nautobot/nautobot-v2.yml
Labels: none

create circuit endpoints use site hfid instead of default_filter
  models/infrastructure_edge.py
Labels: none

adding new newsfragmets and fixing issues
  CHANGELOG.md
  changelog/4595.fixed.md
  docs/docs/release-notes/infrahub/release-1_0.mdx
Labels: type/documentation

fixing date
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_0.mdx
Labels: type/documentation

finishing release notes
  .vale/styles/spelling-exceptions.txt
  docs/docs/media/release_notes/infrahub_1_0/1_0_ui.png
  docs/docs/media/release_notes/infrahub_1_0/permissions_1_0.excalidraw.svg
  docs/docs/release-notes/infrahub/release-1_0.mdx
  docs/sidebars.ts
Labels: type/documentation

fix list
  docs/docs/release-notes/infrahub/release-1_0.mdx
Labels: type/documentation

edited creating a schema page
  docs/docs/guides/create-schema.mdx
  docs/docs/media/guides/create_schema_1.png
  docs/docs/media/guides/create_schema_2.png
  docs/docs/media/guides/create_schema_3.png
Labels: type/documentation

fixed typo
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

shorten title to just 1.0 in some contexts
  docs/docs/release-notes/infrahub/release-1_0.mdx
Labels: type/documentation

bring latest changelog entries
  CHANGELOG.md
  changelog/+order-weight-demo-schema.fixed.md
  docs/docs/release-notes/infrahub/release-1_0.mdx
Labels: type/documentation

update helm chart
  helm/Chart.yaml
Labels: none

enhanced migration docs
  docs/docs/release-notes/infrahub/release-1_0.mdx
Labels: type/documentation

update docker and helm update task with new pattern + add exception for CI
  tasks/dev.py
Labels: none
