Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Added support for hierarchical selection on relationship many (#5321)
  frontend/app/playwright/index.html
  frontend/app/playwright/index.tsx
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-input.tsx
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

update vitest to 2.1.8
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/tests/unit/components/button.test.tsx
Labels: group/frontend

removing react-test-renderer
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

update vitest to 2.1.8 (#5324)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/tests/unit/components/button.test.tsx
Labels: group/frontend

Add testcontainers packages and move testing to the SDK
  .gitignore
  backend/infrahub/testing/__init__.py
  backend/infrahub/testing/helpers.py
  backend/infrahub/testing/schemas/__init__.py
  backend/infrahub/testing/schemas/car_person.py
  backend/tests/integration_docker/test_propose_change_repository.py
  backend/tests/integration_docker/test_schema_migration.py
  poetry.lock
  pyproject.toml
  python_testcontainers/README.md
  python_testcontainers/infrahub_testcontainers/__init__.py
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/helpers.py
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
  python_testcontainers/tasks.py
Labels: group/backend

fix(backend): randomize telemetry workflow schedule
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

fix(docker): remove build warning
  development/Dockerfile
Labels: none

update with latest changelog entries
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
Labels: type/documentation

satisfying Vale for the new docs
  .vale/styles/Infrahub/sentence-case.yml
  docs/docs/guides/computed-attributes.mdx
  docs/docs/topics/computed-attributes.mdx
  docs/docs/topics/developer-guide.mdx
Labels: type/documentation

bump jinja2
  poetry.lock
Labels: none

date fix
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
Labels: type/documentation

bump jinja2 (#5329)
  poetry.lock
Labels: none

v1.1.0 Release Prep (#5290)
  .vale/styles/Infrahub/sentence-case.yml
  CHANGELOG.md
  docs/docs/guides/computed-attributes.mdx
  docs/docs/media/release_notes/infrahub_1_1/task_update.png
  docs/docs/release-notes/infrahub/release-1_0_5.mdx
  docs/docs/release-notes/infrahub/release-1_0_7.mdx
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
  docs/docs/topics/computed-attributes.mdx
  docs/docs/topics/developer-guide.mdx
  pyproject.toml
Labels: type/documentation

remove newsfragments
  changelog/+branch-exists.fixed.md
  changelog/+diff-api-endpoints.removed.md
  changelog/+diff-artifacts.fixed.md
  changelog/+has-schema-change.fixed.md
  changelog/+irresolvable-conflicts.fixed.md
  changelog/+menu-api.changed.md
  changelog/+merge-rel-metadata.fixed.md
  changelog/+perm-accountrole.removed.md
  changelog/+perm-check.fixed.md
  changelog/+tasks-display.fixed.md
  changelog/3173.fixed.md
  changelog/3545.changed.md
  changelog/3577.fixed.md
  changelog/3587.removed.md
  changelog/3637.added.md
  changelog/4245.added.md
  changelog/4296.fixed.md
  changelog/4613.fixed.md
  changelog/4636.added.md
  changelog/4649.added.md
  changelog/4678.fixed.md
  changelog/4789.fixed.md
  changelog/4863.fixed.md
  changelog/4909.fixed.md
  changelog/4936.fixed.md
  changelog/4962.fixed.md
  changelog/5002.fixed.md
  changelog/5118.fixed.md
  changelog/522.changed.md
  changelog/5293.fixed.md
Labels: none

update helm chart and docker compose file
  docker-compose.yml
  helm/Chart.yaml
Labels: none

chore: update docker-compose and helm chart
  docker-compose.yml
Labels: none

Update infrahub-testcontainers to 1.1.0
  python_testcontainers/pyproject.toml
Labels: none

Fix an issue with session management that could lead to the crash of the GraphQL resolver
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/+gqlquery.fixed.md
Labels: group/backend

spelling cleanup
  .vale/styles/spelling-exceptions.txt
  docs/docs/integrations/sync/reference/config.mdx
Labels: type/documentation

spelling cleanup (#5341)
  .vale/styles/spelling-exceptions.txt
  docs/docs/integrations/sync/reference/config.mdx
Labels: type/documentation

Moved created git repository to step 1 and other minor updates.
  docs/docs/guides/generator.mdx
Labels: type/documentation

docs: Optional is False by default rather than True. (#5288)
  .github/file-filters.yml
  .github/workflows/ci.yml
  backend/infrahub/core/schema/definitions/internal.py
  docs/docs/reference/schema/attribute.mdx
Labels: group/ci, group/backend, type/documentation

fix issue with log level
  docker-compose.yml
  tasks/release.py
Labels: none

Fix query response time when the number of historical value for a given attribute is large
  backend/infrahub/core/query/node.py
  changelog/+attrquery.fixed.md
Labels: group/backend

docs: fix some typos in the documentation
  docs/docs/topics/schema.mdx
Labels: type/documentation

fix(backend): early filter on relationship_get_peer
  backend/infrahub/core/query/relationship.py
Labels: group/backend

fix(backend): early filter on relationship_get_peer
  backend/infrahub/core/query/relationship.py
Labels: group/backend

update copy buttons
  frontend/app/src/components/buttons/copy-to-clipboard.tsx
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/screens/objects/object-header.tsx
Labels: group/frontend

remove id in details list
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

get description from object instead of schema if possible
  frontend/app/src/screens/objects/object-header.tsx
Labels: group/frontend

add fragment
  changelog/4648.fixed.md
Labels: none

update mock data
  frontend/app/tests/mocks/data/devices.ts
Labels: group/frontend

fix hfid
  frontend/app/src/screens/objects/object-header.tsx
Labels: group/frontend

fix component check
  frontend/app/src/screens/objects/object-header.tsx
Labels: group/frontend

update tests
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

update test
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

Active all rules in ruff by default
  pyproject.toml
Labels: none

change the details button to keep the help button as it is
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/screens/objects/object-header.tsx
Labels: group/frontend

update fragment
  changelog/4648.changed.md
Labels: none

update node select for filters
  frontend/app/src/components/filters/tasks-filter-form.tsx
  frontend/app/src/components/form/node-select.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend
