Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Upgrade Jinja2 to 3.1.6
  poetry.lock
Labels: none

Better handle get event details query
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/api/get-event-details.query.ts
  frontend/app/src/entities/events/domain/get-event-details.query.ts
  frontend/app/src/entities/events/domain/get-event-details.ts
  frontend/app/src/pages/activities/details.tsx
Labels: group/frontend

renamed EventDetailsView -> GlobalEventDetails to match file name
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/pages/activities/details.tsx
Labels: group/frontend

more cleanup on test
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
Labels: group/frontend

splitted the logic of event details and its page loading/layout
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/pages/activities/details.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/pages/activities/details.tsx
Labels: group/frontend

default link when schema not found
  frontend/app/src/entities/nodes/utils.ts
Labels: group/frontend

removed duplicate query
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/domain/get-event-details.ts
Labels: group/frontend

split api/domain on get events
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/domain/get-events.query.ts
  frontend/app/src/entities/events/domain/get-events.ts
  frontend/app/src/entities/events/ui/filters/global-events-filters.tsx
  frontend/app/src/entities/events/ui/node-details-events.tsx
  frontend/app/src/pages/activities/index.tsx
Labels: group/frontend

Add infinite scroll on global activites + cleaning code
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/pages/activities/index.tsx
  frontend/app/src/shared/components/ui/scroll-area.tsx
  frontend/app/src/shared/components/utils/infinite-scroll.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
Labels: group/frontend

remove typo
  frontend/app/src/pages/activities/details.tsx
Labels: group/frontend

activityid -> activityId
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
Labels: group/frontend

removed useless code
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/utils.ts
  frontend/app/src/shared/components/buttons/copy-to-clipboard.tsx
Labels: group/frontend

fix
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
Labels: group/frontend

Add missing event descriptions and node_kind to docs
  backend/infrahub/events/artifact_action.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/node_action.py
  docs/_templates/infrahub-events.j2
  docs/docs/reference/infrahub-events.mdx
  tasks/docs.py
Labels: group/backend, type/documentation

Change name format for computed attribute jinja2 triggers
  backend/infrahub/computed_attribute/models.py
  backend/tests/unit/computed_attribute/test_gather.py
Labels: group/backend

Added infinite scroll on activities page + cleaned code (#6014)
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/api/get-event-details.query.ts
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/domain/get-event-details.query.ts
  frontend/app/src/entities/events/domain/get-event-details.ts
  frontend/app/src/entities/events/domain/get-events.query.ts
  frontend/app/src/entities/events/domain/get-events.ts
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/filters/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/node-details-events.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/utils.ts
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/pages/activities/details.tsx
  frontend/app/src/pages/activities/index.tsx
  frontend/app/src/shared/components/buttons/copy-to-clipboard.tsx
  frontend/app/src/shared/components/ui/scroll-area.tsx
  frontend/app/src/shared/components/utils/infinite-scroll.tsx
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
Labels: group/frontend

Documentation for object template feature (#5928)
  docs/docs/guides/object-template.mdx
  docs/docs/media/guides/object-template/form_with_template.png
  docs/docs/media/guides/object-template/object_components_created_using_template.png
  docs/docs/media/guides/object-template/object_template_mockup.png
  docs/docs/media/guides/object-template/template_list.png
  docs/docs/media/guides/object-template/template_or_from_scratch.png
  docs/docs/topics/object-template.mdx
  docs/docs/topics/schema.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/object-template/create-object-instance-using-template.spec.ts
  models/base/dcim.yml
  models/infrastructure_edge.py
Labels: group/frontend, type/documentation

Return default value when template relationship many is an empty array
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.ts
Labels: group/frontend

release 1.1.9 (#6039) (#6041)
  CHANGELOG.md
  changelog/+many_data_loader.added.md
  changelog/+relationship_query.fixed.md
  changelog/6019.fixed.md
  docs/docs/release-notes/infrahub/release-1_1_9.mdx
  docs/sidebars.ts
Labels: type/documentation

fix(ci): avoid stale containers when cancelling job
  .github/workflows/ci.yml
Labels: group/ci

Refactor menu utils into repository Rename _id to id
  .github/workflows/version-upgrade.yml
  backend/infrahub/cli/upgrade.py
  backend/infrahub/menu/models.py
  backend/infrahub/menu/repository.py
  backend/infrahub/menu/utils.py
  backend/tests/unit/menu/conftest.py
  backend/tests/unit/menu/test_generator.py
  backend/tests/unit/menu/test_repository.py
Labels: group/ci, group/backend

fix(ci): ignore empty commit error
  .github/workflows/update-compose-file-and-chart.yml
Labels: group/ci

Make component template inherit from own generic
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/template.py
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Update protocols
  backend/infrahub/core/protocols.py
Labels: group/backend

Fix test
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

:sights:
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

IFC-1390 Make component template inherit from own generic (#6054)
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/template.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

Return default value when template relationship many is an empty array (#6052)
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.ts
Labels: group/frontend

Convert core schema in dict format to use proper Model
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/account.py
  backend/infrahub/core/schema/definitions/core/artifact.py
  backend/infrahub/core/schema/definitions/core/builtin.py
  backend/infrahub/core/schema/definitions/core/check.py
  backend/infrahub/core/schema/definitions/core/core.py
  backend/infrahub/core/schema/definitions/core/generator.py
  backend/infrahub/core/schema/definitions/core/graphql_query.py
  backend/infrahub/core/schema/definitions/core/group.py
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/definitions/core/lineage.py
  backend/infrahub/core/schema/definitions/core/menu.py
  backend/infrahub/core/schema/definitions/core/permission.py
  backend/infrahub/core/schema/definitions/core/profile.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/infrahub/core/schema/definitions/core/propose_change_comment.py
  backend/infrahub/core/schema/definitions/core/propose_change_validator.py
  backend/infrahub/core/schema/definitions/core/repository.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/infrahub/core/schema/definitions/core/template.py
  backend/infrahub/core/schema/definitions/core/transform.py
  backend/infrahub/core/schema/definitions/core/webhook.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Refactor Webhook and Computed attribute gather function to use the db instead of the SDK
  backend/infrahub/cli/upgrade.py
  backend/infrahub/computed_attribute/gather.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/git/models.py
  backend/infrahub/git/utils.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/gather.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/unit/computed_attribute/conftest.py
  backend/tests/unit/computed_attribute/test_gather.py
  backend/tests/unit/git/test_utils.py
Labels: group/backend

Add infrahub upgrade command
  backend/infrahub/cli/__init__.py
  backend/infrahub/cli/constants.py
  backend/infrahub/cli/db.py
  backend/infrahub/cli/upgrade.py
Labels: group/backend

Refactor menu utils into repository Rename _id to id
  .github/workflows/version-upgrade.yml
  backend/infrahub/cli/upgrade.py
  backend/infrahub/menu/models.py
  backend/infrahub/menu/repository.py
  backend/infrahub/menu/utils.py
  backend/tests/unit/menu/conftest.py
  backend/tests/unit/menu/test_generator.py
  backend/tests/unit/menu/test_repository.py
Labels: group/ci, group/backend

Run infrahub upgrade in CI
  .github/workflows/version-upgrade.yml
  backend/infrahub/cli/upgrade.py
  tasks/container_ops.py
  tasks/dev.py
Labels: group/ci, group/backend

Fixes for Ruff007
  backend/infrahub/core/account.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/diff/model/diff.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/ipam/constants.py
  backend/infrahub/core/ipam/reconciler.py
  backend/infrahub/core/ipam/utilization.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/core/migrations/query/schema_attribute_update.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/base.py
  backend/infrahub/core/node/constraints/attribute_uniqueness.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/node/constraints/interface.py
  backend/infrahub/core/node/delete_validator.py
  backend/infrahub/core/node/ipam.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/path.py
  backend/infrahub/core/property.py
  backend/infrahub/core/relationship/constraints/count.py
  backend/infrahub/core/relationship/constraints/peer_kind.py
  backend/infrahub/core/relationship/constraints/profiles_kind.py
  backend/infrahub/core/relationship/model.py
  pyproject.toml
Labels: group/backend

Fixes for Ruff UP007
  backend/infrahub/core/account.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/diff/model/diff.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/ipam/constants.py
  backend/infrahub/core/ipam/reconciler.py
  backend/infrahub/core/ipam/utilization.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/core/migrations/query/schema_attribute_update.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/base.py
  backend/infrahub/core/node/constraints/attribute_uniqueness.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/node/constraints/interface.py
  backend/infrahub/core/node/delete_validator.py
  backend/infrahub/core/node/ipam.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/path.py
  backend/infrahub/core/property.py
  backend/infrahub/core/relationship/constraints/count.py
  backend/infrahub/core/relationship/constraints/peer_kind.py
  backend/infrahub/core/relationship/constraints/profiles_kind.py
  backend/infrahub/core/relationship/model.py
  pyproject.toml
Labels: group/backend

Cleanup of typing for main mutation logic
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

Make template name not unique for components
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Restrict HFID to unique attributes combination
  backend/infrahub/core/initialization.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
Labels: group/backend
