Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

chore: update docker-compose and helm chart
  docker-compose.yml
  helm/Chart.yaml
Labels: none

fix re render for options on namespace filter
  frontend/app/src/components/inputs/dropdown.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

add fragment
  changelog/5100.fixed.md
Labels: none

add changelog
  changelog/4332.fixed.md
Labels: none

handle generics and generics peers correctly when deleting nodes (#5133)
  backend/infrahub/core/node/delete_validator.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_node_manager_delete.py
  changelog/4332.fixed.md
Labels: group/backend

refactor to reduce duplication
  backend/tests/conftest.py
  backend/tests/unit/core/ipam/conftest.py
Labels: group/backend

update changelog
  CHANGELOG.md
Labels: none

fix poetry lock + lint
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/integration/git/test_git_repository.py
  poetry.lock
  tasks/shared.py
Labels: group/backend

fix lint changelog
  changelog/+branch-exists.fixed.md
  changelog/+diff-api-endpoints.removed.md
  changelog/+perm-accountrole.removed.md
  changelog/3587.removed.md
  changelog/4861.fixed.md
  changelog/4863.fixed.md
  changelog/4962.fixed.md
Labels: none

Initialize component/cache within test_proposed_changes.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
Labels: group/backend

fix e2e search
  frontend/app/src/components/search/search-anywhere-dialog.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/search/search-nodes.tsx
Labels: group/frontend

refactor ipam unit tests to maintain data (#5163)
  backend/infrahub/core/query/delete.py
  backend/tests/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/ipam/conftest.py
  backend/tests/unit/core/ipam/test_ipam_reconcile_query.py
  backend/tests/unit/core/ipam/test_ipam_reconciler.py
Labels: group/backend

fix attribute in query for relatisonhip parent
  frontend/app/src/components/form/fields/relationship.field.tsx
Labels: group/frontend

add fragment
  changelog/5035.fixed.md
Labels: none

cleanup unused code
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
Labels: group/frontend

chore: removed duplicated component AddRelationshipAction
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/screens/objects/relationships/components/add-relationship-action.tsx
Labels: group/frontend

fix
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

update naming and remove duplicate
  frontend/app/src/components/form/fields/relationship.field.tsx
Labels: group/frontend

remove use effect
  frontend/app/src/components/inputs/dropdown.tsx
Labels: group/frontend

update key for re render
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

chore: removed duplicated component AddRelationshipAction (#5199)
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/screens/objects/relationships/components/add-relationship-action.tsx
Labels: group/frontend

Fix parent query in relationship to ensure to get the parent of the current node (#5200)
  changelog/5035.fixed.md
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
Labels: group/frontend

remove comments
  frontend/app/src/components/inputs/dropdown.tsx
Labels: group/frontend

Fix uniqueness constraint with enum attributes
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
Labels: group/backend

Add tests to validate fix
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
Labels: group/backend

Add changelog entry
  changelog/5132.fixed.md
Labels: none

Added always-on sandbox and instruqt tutorial (#5185)
  CONTRIBUTING.md
  README.md
  docs/docs/faq/faq.mdx
  docs/docs/guides/installation.mdx
  docs/docs/tutorials/getting-started/readme.mdx
Labels: type/documentation

Fix name dropdown selection for object permissions form (#5192)
  changelog/5100.fixed.md
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

Fix formatting of a :::warning in topics/schema.
  docs/docs/topics/schema.mdx
Labels: type/documentation

IFC-993 Fix uniqueness constraint with enum attributes (#5195)
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  changelog/5132.fixed.md
Labels: group/backend

IFC-993 Fix uniqueness constraint with enum attributes (#5195)
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  changelog/5132.fixed.md
Labels: group/backend

Upgrade prefect to 3.1.6
  backend/infrahub/testing/docker-compose.test.yml
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

Disable caching for all prefect tasks
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/tasks/telemetry.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/initialization.py
Labels: group/backend

Switch to 3.1.5
  backend/infrahub/task_manager/task.py
  backend/infrahub/testing/docker-compose.test.yml
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

Add CoreProfile to diff
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_migration_hierarchy_change.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Generate GraphQL schema during startup
  backend/infrahub/core/initialization.py
Labels: group/backend

Generate GraphQL schema on branch refresh
  backend/infrahub/tasks/registry.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/unit/api/test_50_config_api.py
  backend/tests/unit/api/test_auth.py
  backend/tests/unit/api/test_openapi.py
Labels: group/backend

IFC-993 Fix uniqueness constraint with enum attributes (#5203)
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  changelog/5132.fixed.md
Labels: group/backend

Update SchemaBranchDiff format
  backend/infrahub/core/merge.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/manager.py
Labels: group/backend

Ensure that deleted nodes are removed from the schema_branch
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4836.fixed.md
Labels: group/backend
