Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix imports
  frontend/app/src/entities/nodes/relationships/domain/get-default-parent.query.ts
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
Labels: group/frontend

Prep release 1.3.1
  CHANGELOG.md
  changelog/+invalinumberattrstrictmode.md
  changelog/6147.fixed.md
  changelog/6715.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_1.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

Prep release 1.3.1 (#6748)
  CHANGELOG.md
  changelog/+invalinumberattrstrictmode.md
  changelog/6147.fixed.md
  changelog/6715.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_1.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

chore: update docker-compose
  docker-compose.yml
Labels: none

Fetch merging PC's in UI
  frontend/app/src/entities/proposed-changes/ui/items.tsx
Labels: group/frontend

wip testing
  docs/docs/faq/faq.mdx
  docs/docs/guides/artifacts_combined.mdx
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

refactor tracking node specifiers to perform better
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

simpler uniqueness query for node constraints (#6694)
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/validators/uniqueness/model.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_validation_query.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/6377.fixed.md
Labels: group/backend

fix hook
  frontend/app/src/shared/components/form/utils/getParentRelationship.ts
Labels: group/frontend

update import
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
Labels: group/frontend

update type
  frontend/app/src/shared/components/form/utils/getParentRelationship.ts
  test-2.yaml
  test.yaml
Labels: group/frontend

fix types
  frontend/app/src/entities/nodes/relationships/api/get-default-parent-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-default-parent.ts
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/regular-relationship.field.tsx
Labels: group/frontend

fix style
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
Labels: group/frontend

update placholder for node select
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
Labels: group/frontend

Fixed kind filter in template list view (#6747)
  changelog/6724.fixed.md
  frontend/app/src/shared/components/filters/filter-kind-selector.tsx
Labels: group/frontend

Add changelog
  changelog/6749.fixed.md
Labels: none

Fixed validation on attributes and relationships
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/entities/schema/utils/validation/validate-number-attribute.test.ts
  frontend/app/src/entities/schema/utils/validation/validate-number-attribute.ts
  frontend/app/src/entities/schema/utils/validation/validate-relationship-many.ts
  frontend/app/src/entities/schema/utils/validation/validate-text-attribute.test.ts
  frontend/app/src/entities/schema/utils/validation/validate-text-attribute.ts
  frontend/app/src/shared/components/form/fields/number.field.tsx
  frontend/app/src/shared/components/form/fields/relationship-many.field.test.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/validation.test.ts
  frontend/app/src/shared/components/form/utils/validation.ts
Labels: group/frontend

emptying relationship many input result as null value instead of empty array
  frontend/app/src/shared/components/form/fields/relationship-many.field.tsx
Labels: group/frontend

fix default value in attribute match form
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.ts
Labels: group/frontend

fallback to DEFAULT_FORM_FIELD_VALUE on custom form
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/entities/role-manager/ui/account-form.tsx
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/role-manager/ui/global-permissions-form.tsx
  frontend/app/src/entities/role-manager/ui/object-permissions-form.tsx
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
Labels: group/frontend

fix ts type
  frontend/app/src/shared/components/form/node-form.tsx
Labels: group/frontend

fix
  frontend/app/src/entities/user-profile/ui/token-schema.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
Labels: group/frontend

added changelog
  changelog/6671.fixed.md
Labels: none

update label
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
Labels: group/frontend

add changelog
  changelog/6751.fixed.md
Labels: none

Fixed search in object template selector during creation form
  changelog/6724.fixed.md
  frontend/app/src/entities/nodes/object-template/object-template-autocomplete.tsx
Labels: group/frontend

remove test schemas
  test-2.yaml
  test.yaml
Labels: none

refactor tracking node specifiers to perform better (#6752)
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/query_parser.py
  changelog/6751.fixed.md
Labels: group/backend

Fetch merging PC's in UI (#6750)
  changelog/6749.fixed.md
  frontend/app/src/entities/proposed-changes/ui/items.tsx
Labels: group/frontend

Use get_database instead of building a new driver
  backend/infrahub/cli/__init__.py
  backend/infrahub/cli/context.py
  backend/infrahub/server.py
  backend/infrahub/workers/dependencies.py
  backend/tests/conftest.py
Labels: group/backend

Fixed: min/max constraints no longer trigger on empty values when the field is optional (#6745)
  changelog/6671.fixed.md
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/entities/role-manager/ui/account-form.tsx
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/role-manager/ui/global-permissions-form.tsx
  frontend/app/src/entities/role-manager/ui/object-permissions-form.tsx
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/entities/schema/utils/validation/validate-number-attribute.test.ts
  frontend/app/src/entities/schema/utils/validation/validate-number-attribute.ts
  frontend/app/src/entities/schema/utils/validation/validate-relationship-many.ts
  frontend/app/src/entities/schema/utils/validation/validate-text-attribute.test.ts
  frontend/app/src/entities/schema/utils/validation/validate-text-attribute.ts
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
  frontend/app/src/entities/user-profile/ui/token-schema.ts
  frontend/app/src/shared/components/form/fields/number.field.tsx
  frontend/app/src/shared/components/form/fields/relationship-many.field.test.tsx
  frontend/app/src/shared/components/form/fields/relationship-many.field.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/validation.test.ts
  frontend/app/src/shared/components/form/utils/validation.ts
Labels: group/frontend

Fixed search in object template selector during creation form (#6756)
  changelog/6724.fixed.md
  frontend/app/src/entities/nodes/object-template/object-template-autocomplete.tsx
Labels: group/frontend

bump version
  pyproject.toml
Labels: none

update changelog
  CHANGELOG.md
  changelog/6377.fixed.md
  changelog/6671.fixed.md
  changelog/6724.fixed.md
  changelog/6751.fixed.md
Labels: none

clean up CHANGELOG
  CHANGELOG.md
Labels: none

add release notes to sidebar
  docs/sidebars.ts
Labels: type/documentation

add release note
  docs/docs/release-notes/infrahub/release-1_3_2.mdx
Labels: type/documentation

bump infrahub version in test containers
  python_testcontainers/pyproject.toml
Labels: none

prep release 1.3.2 (#6759)
  CHANGELOG.md
  changelog/6377.fixed.md
  changelog/6671.fixed.md
  changelog/6724.fixed.md
  changelog/6751.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_2.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

chore: update docker-compose
  docker-compose.yml
Labels: none
