Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

prep release 1.3.3 (#6829)
  CHANGELOG.md
  changelog/+db_sanity_cmd.added.md
  changelog/+delete-dup-rels.fixed.md
  changelog/+graphiql.added.md
  changelog/+integration-test-neo4j.fixed.md
  changelog/+prefixpool-member_type.fixed.md
  changelog/+prevent_dup_rels.fixed.md
  changelog/+run-migration-command.added.md
  changelog/6641.fixed.md
  changelog/6704.fixed.md
  changelog/6797.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_3.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

chore: update docker-compose
  docker-compose.yml
Labels: none

unit test and fix for diff crash with double-deleted schema
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

add changelog
  changelog/6830.fixed.md
Labels: none

Add py.typed file
  backend/infrahub/py.typed
Labels: group/backend

Fixed validation bug on number attribute using number pool (#6823)
  changelog/6817.fixed.md
  frontend/app/src/entities/nodes/api/getFormRequirements.ts
  frontend/app/src/entities/resource-manager/api/get-number-pools-from-api.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.query.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.ts
  frontend/app/src/entities/resource-manager/domain/type.ts
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/pool-selector.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
Labels: group/frontend

Add mutation to review a proposed change
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/proposed_change/constants.py
Labels: group/backend

update ui
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
Labels: group/frontend

fix filter
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
Labels: group/frontend

Added copilot top level instructions + fix md
  .github/copilot-instructions.md
  .github/instructions/documentation.instructions.md
  docs/docs/development/docs.mdx
Labels: group/ci, type/documentation

Adding service catalog to the getting started doc
  docs/docs/getting-started/quick-start.mdx
Labels: type/documentation

Tweak display label for IP range and include ID in test queries
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

Add `include_available` for IP related schemas
  backend/infrahub/graphql/manager.py
Labels: group/backend

Rename some code pieces for harmony
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/types/__init__.py
  backend/infrahub/graphql/types/attribute.py
Labels: group/backend

Move tests into a class
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

Support `include_available` only for generic query
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/profile_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/template_schema.py
  backend/infrahub/graphql/manager.py
Labels: group/backend

Add custom graphql resolver for bultin ipam
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  pyproject.toml
Labels: group/backend

Move `is_ip_*` to properties
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/profile_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/template_schema.py
  backend/infrahub/graphql/manager.py
Labels: group/backend

Mention IPv4 first in descriptions (/me sad)
  backend/infrahub/core/schema/definitions/core/ipam.py
Labels: group/backend

Use sorted nodes when resolving gaps
  backend/infrahub/graphql/resolvers/ipam.py
Labels: group/backend

Prevent internal nodes to be listed in `used_by`
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Add new node to represent free IP ranges
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/ipam.py
Labels: group/backend

Handle pagination
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

Add node to represent available prefixes
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

Avoid going through the whole prefix to find gaps
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

Add changelog record
  changelog/+ifc1588.added.md
Labels: none

fixes 500 error on empty schemas list
  backend/infrahub/api/schema.py
  changelog/6834.fixed.md
Labels: group/backend

IFC-1588 Change GraphQL resolver to return available IP prefixes/addresses (#6786)
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/profile_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/template_schema.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolvers/ipam.py
  backend/infrahub/graphql/types/__init__.py
  backend/infrahub/graphql/types/attribute.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+ifc1588.added.md
  pyproject.toml
Labels: group/backend

fixes 500 error on empty schemas list (#6835)
  backend/infrahub/api/schema.py
  changelog/6834.fixed.md
Labels: group/backend

Fix GraphiQL autocomplete in production build
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/pages/graphql/graphql-worker.ts
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/vite.config.ts
Labels: group/frontend

changelog
  changelog/+graphiql.fixed.md
Labels: none

update md
  changelog/+graphiql.fixed.md
Labels: none

add expection
  .vale/styles/spelling-exceptions.txt
Labels: none

cleanup
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend

Add draft state
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
Labels: group/backend

Fix GraphiQL 5 autocomplete in production build (#6839)
  .vale/styles/spelling-exceptions.txt
  changelog/+graphiql.fixed.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/pages/graphql/graphql-worker.ts
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/vite.config.ts
Labels: group/frontend

Add approved_by / rejected_by logic
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/proposed_change/constants.py
  backend/tests/functional/proposed_change/test_proposed_change_review.py
Labels: group/backend

add integration test for merge, rebase flow
  backend/tests/integration/diff/test_diff_rebase.py
Labels: group/backend

fix feedback
  utilities/scan.py
Labels: none

fixes
  utilities/scan.py
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
