Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

add thread context and diff object link
  frontend/app/src/entities/diff/utils.tsx
  frontend/app/src/entities/proposed-changes/api/get-proposed-change-thread-from-api.ts
Labels: group/frontend

fix(backend): batch peers fetch only for many cardinality
  backend/infrahub/core/query/node.py
Labels: group/backend

fix(tasks): update release command for #7008
  tasks/release.py
Labels: none

update context display in threads
  frontend/app/src/entities/diff/utils.tsx
Labels: group/frontend

start add thread id for anchors
  frontend/app/src/entities/diff/artifact-diff/artifact-content-diff.tsx
  frontend/app/src/entities/diff/artifact-diff/artifact-repo-diff.tsx
Labels: group/frontend

remove branch name for propsoed change events
  frontend/app/src/entities/events/ui/event-card.tsx
Labels: group/frontend

fix Migraiton033 minimum version (#7021)
  backend/infrahub/core/migrations/graph/m033_deduplicate_relationship_vertices.py
Labels: group/backend

lint
  frontend/app/src/entities/diff/utils.tsx
Labels: group/frontend

remove hook
  frontend/app/src/entities/diff/utils.tsx
Labels: group/frontend

:wrench:
  frontend/app/src/entities/diff/utils.tsx
Labels: group/frontend

:wrench:
  frontend/app/src/entities/diff/utils.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/diff/artifact-diff/artifact-content-diff.tsx
Labels: group/frontend

display labels aggregation bug (#7023)
  backend/tests/unit/core/test_schema.py
  changelog/7022.fixed.md
Labels: group/backend

Improve threads context in overview page (#7032)
  frontend/app/src/entities/diff/artifact-diff/artifact-content-diff.tsx
  frontend/app/src/entities/diff/artifact-diff/artifact-repo-diff.tsx
  frontend/app/src/entities/diff/utils.tsx
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-thread-event.tsx
  frontend/app/src/entities/proposed-changes/api/get-proposed-change-thread-from-api.ts
Labels: group/frontend

Prevent draft proposed change merged via mutation
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/permissions/constants.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

Simplify error message when missing review permission
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

Also validate possible future draft state
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

add skeleton for migration
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/schema/attribute_kind_update.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
Labels: group/backend

add migration and start of integration test
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/schema/attribute_kind_update.py
  backend/tests/integration/schema_lifecycle/test_migration_attribute_kind.py
Labels: group/backend

Remove useless condition
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

IFC-1745 Prevent draft proposed change merged via mutation (#7031)
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/permissions/constants.py
  backend/tests/functional/proposed_change/test_review.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

handle errors
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button copy.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
Labels: group/frontend

remove unwanted file
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button copy.tsx
Labels: group/frontend

accessibility
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
Labels: group/frontend

fix(docs): add memory sizing requirements
  docs/docs/guides/installation.mdx
Labels: type/documentation

fix(docs): add memory sizing requirements
  docs/docs/guides/installation.mdx
Labels: type/documentation

feat(docs): add config preset for enterprise install
  docs/docs/guides/installation.mdx
Labels: type/documentation

Handle proposed change action errors (#7035)
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
Labels: group/frontend

Upgrade FastAPI & starlette
  poetry.lock
  pyproject.toml
  python_testcontainers/poetry.lock
Labels: none

Add GraphQL type
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
Labels: group/backend

Use factories
  backend/infrahub/events/proposed_change_action.py
Labels: group/backend

Remove unused function
  backend/infrahub/task_manager/event.py
Labels: group/backend

Add event to log several revoked approvals on a PC
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/__init__.py
  backend/infrahub/events/proposed_change_action.py
Labels: group/backend

Lint
  backend/infrahub/task_manager/event.py
Labels: group/backend

Use a ID/name dict instead of 2 lists
  backend/infrahub/events/proposed_change_action.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  docs/docs/reference/infrahub-events.mdx
Labels: group/backend, type/documentation

Add proposed change event when multiple approvals are revoked (#7033)
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/__init__.py
  backend/infrahub/events/proposed_change_action.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  docs/docs/reference/infrahub-events.mdx
Labels: group/backend, type/documentation

Fix default PC Reviewer role permission set
  backend/infrahub/core/initialization.py
  backend/infrahub/permissions/__init__.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/globals.py
Labels: group/backend

Fix E2E test
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

IFC-1750 Fix default PC Reviewer role permission set (#7038)
  backend/infrahub/core/initialization.py
  backend/infrahub/permissions/__init__.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/globals.py
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/backend, group/frontend

prepare release 1.3.7
  CHANGELOG.md
  changelog/+a97e7d93.fixed.md
  changelog/6410.fixed.md
  changelog/6933.fixed.md
  changelog/7022.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_7.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
