Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Check diff endpoints work as expected
  backend/infrahub/api/diff/diff.py
  backend/tests/unit/api/test_15_diff.py
Labels: group/backend

enforce authorization header in all requests
  frontend/app/src/utils/fetch.ts
Labels: group/frontend

Fix internal endpoints access
  backend/infrahub/api/internal.py
  backend/tests/unit/api/test_50_config_api.py
Labels: group/backend

Fix of fix
  backend/infrahub/api/diff/diff.py
Labels: group/backend

Refresh typing
  backend/infrahub/api/__init__.py
  backend/infrahub/api/auth.py
  backend/infrahub/api/storage.py
  backend/infrahub/api/transformation.py
Labels: group/backend

Rename files
  backend/tests/unit/api/test_50_config_api.py
  backend/tests/unit/api/test_artifact.py
  backend/tests/unit/api/test_base.py
  backend/tests/unit/api/test_diff.py
  backend/tests/unit/api/test_file.py
  backend/tests/unit/api/test_graphql.py
  backend/tests/unit/api/test_internals.py
  backend/tests/unit/api/test_query.py
  backend/tests/unit/api/test_schema.py
  backend/tests/unit/api/test_storage.py
Labels: group/backend

Make sure query endpoint work as expected
  backend/tests/unit/api/test_05_query_api.py
Labels: group/backend

Allow test base to run independently
  backend/tests/unit/api/test_base.py
Labels: group/backend

Look for session account in artifact endpoint
  backend/infrahub/api/artifact.py
  backend/tests/unit/api/test_11_artifact.py
Labels: group/backend

Allow config endpoint for anonymous
  backend/infrahub/api/internal.py
  backend/tests/unit/api/test_50_internals.py
Labels: group/backend

Fix schema get endpoints
  backend/infrahub/api/schema.py
  backend/tests/unit/api/test_40_schema_api.py
Labels: group/backend

Bring back numbers
  backend/tests/unit/api/test_00_auth.py
  backend/tests/unit/api/test_01_auth_cookies.py
  backend/tests/unit/api/test_02_base.py
  backend/tests/unit/api/test_03_menu.py
  backend/tests/unit/api/test_10_query.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/api/test_12_file.py
  backend/tests/unit/api/test_15_diff.py
  backend/tests/unit/api/test_20_graphql.py
  backend/tests/unit/api/test_40_schema.py
  backend/tests/unit/api/test_50_internals.py
  backend/tests/unit/api/test_60_storage.py
  backend/tests/unit/api/test_70_openapi.py
  backend/tests/unit/api/test_openapi.py
Labels: group/backend

IFC-1031 Fix access to REST endpoints for anonymous (#5415)
  backend/infrahub/api/__init__.py
  backend/infrahub/api/artifact.py
  backend/infrahub/api/auth.py
  backend/infrahub/api/diff/diff.py
  backend/infrahub/api/file.py
  backend/infrahub/api/internal.py
  backend/infrahub/api/schema.py
  backend/infrahub/api/storage.py
  backend/infrahub/api/transformation.py
  backend/infrahub/graphql/api/endpoints.py
  backend/tests/unit/api/test_00_auth.py
  backend/tests/unit/api/test_01_auth_cookies.py
  backend/tests/unit/api/test_02_base.py
  backend/tests/unit/api/test_03_menu.py
  backend/tests/unit/api/test_10_query.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/api/test_12_file.py
  backend/tests/unit/api/test_15_diff.py
  backend/tests/unit/api/test_20_graphql.py
  backend/tests/unit/api/test_40_schema.py
  backend/tests/unit/api/test_50_config_api.py
  backend/tests/unit/api/test_50_internals.py
  backend/tests/unit/api/test_70_openapi.py
  backend/tests/unit/api/test_api_base.py
  changelog/5312.fixed.md
  frontend/app/src/utils/fetch.ts
Labels: group/backend, group/frontend

fix async query in other branch in documentation
  docs/docs/python-sdk/guides/query_data.mdx
Labels: type/documentation

add doc to query large amount of nodes in SDK query data guide
  docs/docs/python-sdk/guides/query_data.mdx
Labels: type/documentation

Fix TS errors on *.svg import
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/pages/login.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
  frontend/app/src/screens/proposed-changes/item-info.tsx
  frontend/app/src/vite-env.d.ts
  frontend/app/vite.config.ts
Labels: group/frontend

use hover for inline display button
  frontend/app/src/components/display/inline-display.tsx
Labels: group/frontend

add fragment
  changelog/related-nodes.changed.md
Labels: none

remove props for testing
  frontend/app/src/screens/tasks/task-items.tsx
Labels: group/frontend

Fix TS errors on *.svg import (#5429)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/pages/login.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
  frontend/app/src/screens/proposed-changes/item-info.tsx
  frontend/app/src/vite-env.d.ts
  frontend/app/vite.config.ts
Labels: group/frontend

update fragment
  changelog/related-nodes.changed.md
Labels: none

rename param
  frontend/app/src/graphql/queries/tasks/getTasksItems.ts
  frontend/app/src/screens/tasks/task-items.tsx
Labels: group/frontend

Handle multiple related nodes in the tasks list view (#5412)
  changelog/related-nodes.changed.md
  frontend/app/src/components/display/inline-display.tsx
  frontend/app/src/graphql/queries/tasks/getTasksItemDetails.ts
  frontend/app/src/graphql/queries/tasks/getTasksItems.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
  frontend/app/src/screens/tasks/task-items.tsx
Labels: group/frontend

Extend InfrahubTask query to return multiple related nodes
  backend/infrahub/graphql/types/task.py
  backend/infrahub/task_manager/models.py
  backend/infrahub/task_manager/task.py
  backend/tests/unit/graphql/queries/test_task.py
  changelog/+task-deprecated.changed.md
  changelog/+tasknode.added.md
Labels: group/backend

docs: fix some typos in the documentation
  docs/docs/topics/schema.mdx
Labels: type/documentation

Keep subquery even if we are using filters
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_get_list_query.py
Labels: group/backend

Upgrade ruff=0.8.6
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/infrahub/api/artifact.py
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/diff/diff.py
  backend/infrahub/api/file.py
  backend/infrahub/api/menu.py
  backend/infrahub/api/query.py
  backend/infrahub/api/schema.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/core/task/task_log.py
  backend/infrahub/core/validators/shared.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/database/index.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/proposed_change/tasks.py
  backend/templates/attributeschema_imports.j2
  backend/templates/basenodeschema_imports.j2
  backend/templates/genericschema_imports.j2
  backend/templates/relationshipschema_imports.j2
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/graphql/mutations/test_repository.py
  poetry.lock
  pyproject.toml
Labels: group/ci, group/backend

fix missing branch param in computed attributes logic (#5386)
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  changelog/5385.fixed.md
Labels: group/backend

enable docker integration tests
  .github/workflows/ci.yml
Labels: group/ci

Improve NodeGetListQuery on default branch and when using filters
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_get_list_query.py
Labels: group/backend

IFC-1015 Fix schema dropdown removal (#5392)
  backend/infrahub/graphql/mutations/schema.py
  changelog/5242.fixed.md
Labels: group/backend

Add await keyword
  backend/tests/unit/graphql/test_schema.py
Labels: group/backend

Update docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

Update pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

Fix issue where related nodes are not present unless the query include related node too
  backend/infrahub/task_manager/task.py
Labels: group/backend

fix test
  frontend/app/.gitignore
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
Labels: group/frontend

moved some unit test files
  frontend/app/src/entities/nodes/object-item-meta-edit/getMutationMetaDetailsFromFormData.test.ts
  frontend/app/src/shared/components/filters/utils/getFiltersFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.test.ts
  frontend/app/src/shared/components/form/utils/isFieldDisabled.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.test.ts
  frontend/app/tests/unit/components/filters/getObjectFromFilters.test.ts
Labels: group/frontend

fix
  frontend/app/src/entities/groups/ui/add-group-trigger-button.tsx
  frontend/app/src/entities/proposed-changes/ui/counter.tsx
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend

fix link
  frontend/app/src/entities/role-manager/ui/index.tsx
Labels: group/frontend

fix wrong update
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/search.spec.ts
  frontend/app/vite.config.ts
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
