Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Add hfid to uniqueness constraints even if they already exist
  .github/workflows/ci.yml
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  models/base/ipam.yml
  models/base/routing.yml
  models/infrastructure_edge.py
Labels: group/ci, group/backend

add allow_upsert for some ip address creation
  models/infrastructure_edge.py
Labels: none

add test version upgrade new infra schemas load
  .github/workflows/version-upgrade.yml
Labels: group/ci

add demo schema patch
  models/base/patches/IPAddress_unique_patch.yml
  tasks/demo.py
  tasks/infra_ops.py
Labels: none

Add patch scripts
  .github/workflows/ci.yml
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  models/base/patches/IPAddress_unique_patch.yml
  models/infrastructure_edge.py
  models/patches/data/__init__.py
  models/patches/data/dedup_ip_addresses.py
  models/patches/schema/IPAddress_unique_patch.yml
  tasks/demo.py
  tasks/infra_ops.py
Labels: group/ci, group/backend

load schema patch in all branches
  .github/workflows/version-upgrade.yml
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  models/patches/data/dedup_ip_addresses.py
  models/patches/fix_unique_ip_address/IPAddress_unique_patch.yml
  models/patches/fix_unique_ip_address/__init__.py
  models/patches/fix_unique_ip_address/dedup_ip_addresses.py
  tasks/demo.py
  tasks/infra_ops.py
Labels: group/ci, group/backend

fix broken link
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation

Make template name not unique for components (#6057)
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

fix(ci): avoid stale containers when cancelling job
  .github/workflows/ci.yml
Labels: group/ci

link fixes
  docs/_templates/infrahub-events.j2
  docs/docs/reference/infrahub-events.mdx
  docs/docs/topics/events.mdx
Labels: type/documentation

Fix HFID constraint using new logic
  .github/workflows/version-upgrade.yml
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
Labels: group/ci, group/backend

Add artifact events to event filter dropdown
  frontend/app/src/entities/events/constants.ts
Labels: group/frontend

[FLAKY] Immediately show account token after creation
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
Labels: group/frontend

exrtact data integrity check conflicts
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/diff/checks/conflict.tsx
  frontend/app/src/entities/diff/checks/data-integrity-conflicts.tsx
Labels: group/frontend

renale component
  frontend/app/src/entities/diff/checks/data-conflict.tsx
  frontend/app/src/entities/diff/checks/data-integrity-conflicts.tsx
  frontend/app/src/entities/diff/node-diff/node-attribute.tsx
  frontend/app/src/entities/diff/node-diff/node-property.tsx
Labels: group/frontend

[FLAKY] Immediately show account token after creation (#6067)
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
Labels: group/frontend

add schema conflicts
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/diff/checks/schema-conflict.tsx
  frontend/app/src/entities/diff/checks/schema-integrity-conflicts.tsx
Labels: group/frontend

fix import
  frontend/app/src/entities/diff/checks/data-integrity-conflicts.tsx
Labels: group/frontend

update type
  frontend/app/src/entities/diff/checks/data-conflict.tsx
  frontend/app/src/entities/diff/checks/schema-conflict.tsx
Labels: group/frontend

update kind display
  frontend/app/src/entities/diff/checks/data-conflict.tsx
  frontend/app/src/entities/diff/checks/schema-conflict.tsx
Labels: group/frontend

Restrict HFID to unique attributes combination (#6012)
  .github/workflows/version-upgrade.yml
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  models/base/ipam.yml
  models/infrastructure_edge.py
  models/patches/fix_unique_ip_address/IPAddress_unique_patch.yml
  models/patches/fix_unique_ip_address/__init__.py
  models/patches/fix_unique_ip_address/dedup_ip_addresses.py
  tasks/demo.py
  tasks/infra_ops.py
Labels: group/ci, group/backend

Upgrade ruff=0.11.0
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/infrahub/api/schema.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/utils.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/workflows/models.py
  backend/tests/adapters/cache.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_schema.py
  poetry.lock
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/container.py
Labels: group/ci, group/backend

Add node creations batch benchmark
  backend/tests/benchmark/test_batch_create.py
  backend/tests/conftest.py
  backend/tests/unit/conftest.py
Labels: group/backend

add neo4j container logs
  backend/tests/benchmark/test_batch_create.py
  backend/tests/conftest.py
Labels: group/backend

isolate test
  .github/workflows/ci.yml
  backend/tests/conftest.py
Labels: group/ci, group/backend

Refactor anomymous telemetry
  backend/infrahub/telemetry/__init__.py
  backend/infrahub/telemetry/constants.py
  backend/infrahub/telemetry/database.py
  backend/infrahub/telemetry/models.py
  backend/infrahub/telemetry/task_manager.py
  backend/infrahub/telemetry/tasks.py
  backend/infrahub/telemetry/utils.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/telemetry/__init__.py
  backend/tests/unit/telemetry/test_datatabase.py
  backend/tests/unit/telemetry/test_task_manager.py
Labels: group/backend

Remove typing exception for task decorator
  backend/infrahub/telemetry/database.py
  backend/infrahub/telemetry/models.py
  backend/infrahub/telemetry/task_manager.py
  backend/infrahub/telemetry/tasks.py
Labels: group/backend

update ui
  frontend/app/src/entities/diff/checks/schema-conflict.tsx
Labels: group/frontend

remove unused
  frontend/app/src/entities/diff/checks/check.tsx
Labels: group/frontend

fix(ci): ensure python 3.12 on failing jobs
  .github/workflows/ci.yml
Labels: group/ci

Fix typing for GraphQL return statements
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  pyproject.toml
Labels: group/backend

Fix flaky test on group E2E test
  frontend/app/tests/e2e/groups/groups.spec.ts
Labels: group/frontend

Fix flaky test on group E2E test (#6079)
  frontend/app/tests/e2e/groups/groups.spec.ts
Labels: group/frontend

fetch generic/component on IPAM views
  frontend/app/src/entities/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/entities/ipam/prefixes/ipam-prefixes-summary-details.tsx
Labels: group/frontend

Correctly display relationship of cardinality many on IPAM summary
  frontend/app/src/entities/ipam/common/ip-details-card.tsx
  frontend/app/src/entities/role-manager/ui/relationship-display.tsx
Labels: group/frontend

Added changelog
  changelog/5925.fixed.md
Labels: none

update changelog
  changelog/5925.fixed.md
Labels: none

fix test
  frontend/app/src/entities/diff/checks/check.tsx
Labels: group/frontend

update ci file
  .github/labels.yml
  .github/workflows/ci.yml
  backend/tests/benchmark/intensive/__init__.py
  backend/tests/benchmark/intensive/test_batch_create.py
  backend/tests/conftest.py
Labels: group/ci, group/backend

Correctly display all relationships in IPAM summary views (#6072)
  changelog/5925.fixed.md
  frontend/app/src/entities/ipam/common/ip-details-card.tsx
  frontend/app/src/entities/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/entities/ipam/prefixes/ipam-prefixes-summary-details.tsx
  frontend/app/src/entities/role-manager/ui/relationship-display.tsx
Labels: group/frontend
