Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Remove unscoped code and update protocol
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend

Decision is only for object perms
  backend/infrahub/core/node/permissions.py
Labels: group/backend

Fix unit test with management IPs
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
Labels: group/frontend

Adjust prefixes values in e2e tests
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
  models/infrastructure_edge.py
Labels: group/frontend

Fix further e2e tests
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
Labels: group/frontend

Improve repository guide
  docs/docs/guides/repository.mdx
Labels: type/documentation

Improve the topic part
  docs/docs/topics/repository.mdx
Labels: type/documentation

Fix documentation style
  docs/docs/guides/repository.mdx
  docs/docs/topics/repository.mdx
Labels: type/documentation

Remove unwanted changes around account
  models/infrastructure_edge.py
Labels: none

Remove "any" as permission branch/name/namespace wildcard
  backend/infrahub/core/initialization.py
  backend/infrahub/permissions/local_backend.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Fix ability to run tests without testcontainers enabled
  backend/tests/conftest.py
Labels: group/backend

Add `identifier` read-only field to permissions (#4470)
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend

fix error in tabs
  frontend/app/src/screens/role-management/index.tsx
Labels: group/frontend

add idientifier
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

:wrench:
  backend/infrahub/api/menu.py
Labels: group/backend

fix avatar schema load
  frontend/app/src/components/account-menu.tsx
Labels: group/frontend

fix account constant
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/form/proposed-change-edit-form.tsx
  frontend/app/src/screens/role-management/index.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/src/screens/user-profile/user-profile.tsx
Labels: group/frontend

fix action attribute
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/screens/role-management/global-permissions.tsx
Labels: group/frontend

add newsfragment
  changelog/4438.fixed.md
Labels: none

Another round of fixing
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  models/infrastructure_edge.py
Labels: group/frontend

Improve documentation around Git integration (#4464)
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/topics/repository.mdx
Labels: type/documentation

refactor diff calculation query to get less information (#4376)
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/dependencies/builder/diff/conflicts_enricher.py
  backend/infrahub/dependencies/registry.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  changelog/4438.fixed.md
Labels: group/backend

Removed web-vitals package
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/Root.tsx
  frontend/app/src/reportWebVitals.ts
Labels: group/frontend

Removed web-vitals package (#4481)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/Root.tsx
  frontend/app/src/reportWebVitals.ts
Labels: group/frontend

add database IDs to diffs for use in merge
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_diff_combiner.py
Labels: group/backend

Updated Playwright, Cypress and Browserslist to latest version
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Updated Playwright, Cypress and Browserslist to latest version (#4485)
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Enable using jotai in AuthProvider
  frontend/app/src/App.tsx
Labels: group/frontend

Make icon global to the complete app
  frontend/app/src/App.tsx
  frontend/app/src/Root.tsx
Labels: group/frontend

update jotai and iconify to latest version
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Fix config for PLW3201 Bad or misspelled dunder method name
  pyproject.toml
Labels: none

Make icon global to the complete app
  frontend/app/src/App.tsx
  frontend/app/src/Root.tsx
Labels: group/frontend

Enable using jotai in AuthProvider
  frontend/app/src/App.tsx
Labels: group/frontend

update jotai and iconify to latest version
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Remove unnecessary key check before dictionary access
  backend/infrahub/core/diff/branch_differ.py
  pyproject.toml
Labels: group/backend

Remove GetListMixin
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/permissions.py
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/graphql/types/__init__.py
  backend/infrahub/graphql/types/interface.py
  backend/infrahub/graphql/types/mixin.py
  backend/infrahub/graphql/types/node.py
Labels: group/backend

remove race condition on login redirection path
  frontend/app/src/pages/sign-in.tsx
Labels: group/frontend

prevent date in test from behind from before data load
  frontend/app/tests/e2e/signin.spec.ts
Labels: group/frontend

Fix login redirection that was sending users to the homepage instead of the previous page in some cases (#4491)
  frontend/app/src/pages/sign-in.tsx
  frontend/app/tests/e2e/signin.spec.ts
Labels: group/frontend

fix dependency alert on docs, ui, and plugins
  docs/package-lock.json
  docs/package.json
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: group/frontend, type/documentation
