Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

update import
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/nodes/object/ui/object-table/cells/node-kind-cell.tsx
Labels: group/frontend

rename and rework dispatch to other repositories to make it easier to extend
  .github/workflows/repository-dispatch.yml
  .github/workflows/update-sdk-submodule.yml
Labels: group/ci

Raise better error messages on HFID lookup failure
  backend/infrahub/core/manager.py
  backend/tests/unit/core/test_manager_node.py
  changelog/+properhfiderrormessage.changed.md
Labels: group/backend

feat(benchtool): show cpu model
  utilities/benchmark/entrypoint.sh
Labels: none

Update repository-dispatch.yml
  .github/workflows/repository-dispatch.yml
Labels: group/ci

kepe renaming
  .github/workflows/release.yml
Labels: group/ci

Update repository-dispatch.yml
  .github/workflows/repository-dispatch.yml
Labels: group/ci

Update repository-dispatch.yml
  .github/workflows/repository-dispatch.yml
Labels: group/ci

fix(testcontainers): show context when printing measurements
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

fix(testcontainers): add db resources limit parameters
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix(testcontainers): increase metric fetch timeout
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

Raise better error messages on HFID lookup failure (#6321)
  backend/infrahub/core/manager.py
  backend/tests/unit/core/test_manager_node.py
  changelog/+properhfiderrormessage.changed.md
Labels: group/backend

Add node kind select input for webhook (#6314)
  changelog/+webhook.added.md
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/node-kind-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
  frontend/app/src/entities/webhook/ui/webhook-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/node-kind.field.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

Add changelog record
  changelog/6301.fixed.md
Labels: none

Allow looking up generic template by HFID
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

fix(testcontainers): do not stop all services when restoring
  python_testcontainers/infrahub_testcontainers/container.py
Labels: none

fix(testcontainers): wait for database to become online after restore
  python_testcontainers/infrahub_testcontainers/container.py
Labels: none

fix(testcontainers): restore permissions on db restore
  python_testcontainers/infrahub_testcontainers/container.py
Labels: none

More accurate test
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

IFC-1453 Add HFID to generic template to fix HFID usage (#6319)
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/6301.fixed.md
Labels: group/backend

fix(deployment): update Infrahub version and storage class configuration
  development/deploy.tf
Labels: none

feat(k8s): add Helm chart values for Infrahub components and architecture documentation
  development/k8s/infrahub-values.yaml
  development/k8s/minio-values.yaml
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
  development/k8s/rabbitmq-values.yaml
  development/k8s/redis-sentinel-proxy-deploy.yaml
  development/k8s/redis-sentinel-proxy-svc.yaml
  development/k8s/redis-values.yaml
  development/k8s/service-values.yaml
  development/k8s/taskmanagerdb.yaml
  docs/docs/topics/architecture.mdx
Labels: type/documentation

fix(k8s): update Neo4j resource limits and Prefect image tag
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
Labels: none

fix(docs): remove redundant Neo4j configuration snippet from architecture documentation
  docs/docs/topics/architecture.mdx
Labels: type/documentation

fix(docs): correct redis-sentinel proxy service deployment instructions and add Prefect Helm chart scaling note
  docs/docs/topics/architecture.mdx
Labels: type/documentation

fix(docs): reorder redis-sentinel proxy service YAML block in architecture documentation
  docs/docs/topics/architecture.mdx
Labels: type/documentation

Bump patch version of frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

update react to 19.1
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

bump headlessui
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

more
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

update react-router
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

more update
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Update frontend dependencies (#6317)
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Update .github/workflows/repository-dispatch.yml
  .github/workflows/repository-dispatch.yml
Labels: group/ci

Rename and rework `repository_dispatch` (#6320)
  .github/workflows/release.yml
  .github/workflows/repository-dispatch.yml
  .github/workflows/update-sdk-submodule.yml
  .github/workflows/update-submodule.yml
Labels: group/ci

fix(testcontainers): increase metric fetch timeout
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

fix(testcontainers): show context when printing measurements
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

fix(testcontainers): restore permissions on db restore
  python_testcontainers/infrahub_testcontainers/container.py
Labels: none

fix(testcontainers): do not stop all services when restoring
  python_testcontainers/infrahub_testcontainers/container.py
Labels: none
