Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

remove test that belongs in sdk
  backend/tests/unit/graphql/test_graphql_query.py
Labels: group/backend

calculate diff in pc pipeline
  backend/infrahub/message_bus/operations/requests/proposed_change.py
Labels: group/backend

update integration test
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
Labels: group/backend

fix unit test, generate docs
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  docs/docs/infrahubctl/infrahubctl-protocols.mdx
Labels: group/backend, type/documentation

Closes #4564
  models/examples/slurpit/slurpit.yml
Labels: none

clean up NodeDiff imports following SDK changes
  backend/infrahub/core/validators/determiner.py
  backend/infrahub/message_bus/types.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
Labels: group/backend

force full import for docs generation
  backend/infrahub/message_bus/types.py
Labels: group/backend

update diff merge query to handle relationships and attributes
  backend/infrahub/core/diff/merger/model.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

neo4j syntax fix
  backend/infrahub/core/diff/query/merge.py
Labels: group/backend

Fix start_services in invoke
  tasks/container_ops.py
Labels: none

Add final_url to oidc
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  backend/infrahub/models.py
Labels: group/backend

front: handle final_url on frontend
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
Labels: group/frontend

final_url on oauth2
  backend/infrahub/api/oauth2.py
  backend/infrahub/models.py
Labels: group/backend

Various enhancements around Prefect
  backend/infrahub/cli/__init__.py
  backend/infrahub/cli/tasks.py
  backend/infrahub/config.py
  backend/infrahub/graphql/app.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/services/component.py
  backend/infrahub/tasks/dummy.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/conftest.py
  backend/tests/integration/services/adapters/workflow/__init__.py
  backend/tests/integration/services/adapters/workflow/conftest.py
  backend/tests/integration/services/adapters/workflow/test_prefect.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  development/docker-compose.local-build.yml
  development/docker-compose.yml
  docker-compose.yml
  helm/values.yaml
Labels: group/backend

Trigger backend tests on updated SDK commits
  .github/file-filters.yml
Labels: group/ci

Add checker to restrict permission management
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Raise early
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
Labels: group/backend

IFC-669 Add permission management global permission (#4553)
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Implement redirection to initial URL after SSO login (#4557)
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  backend/infrahub/models.py
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
Labels: group/backend, group/frontend

[FRONT] Handle error response on authorization code validation
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/pages/sign-in.tsx
Labels: group/frontend

[FRONT] Handle error response on authorization code validation (#4572)
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/pages/sign-in.tsx
Labels: group/frontend

update edit forms
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

Fix checker when trying to mutate a generic repo
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Add checker to restrict repository management
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Raise early
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
Labels: group/backend

Add SSO through OAuth & OIDC
  changelog/1568.added.md
Labels: none

IFC-672 Add global permission to protect repositories against changes (#4562)
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

fix update mutation for relationships many
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
Labels: group/frontend

fix branches link in new menu
  backend/infrahub/menu/menu.py
  backend/tests/unit/graphql/mutations/test_menu.py
Labels: group/backend

update tests locators
  frontend/app/src/components/table/table.tsx
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/profile/tokens.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
Labels: group/frontend

maintain directionality for relationships
  backend/infrahub/core/diff/query/merge.py
Labels: group/backend

added icons on internal menu items
  backend/infrahub/menu/menu.py
Labels: group/backend

Add stable branch for demo install
  docs/docs/guides/installation.mdx
Labels: type/documentation

fixed link + added icons in new menu (#4575)
  backend/infrahub/menu/menu.py
  backend/tests/unit/graphql/mutations/test_menu.py
Labels: group/backend

Specify stable branch for demo install
  docs/docs/guides/installation.mdx
Labels: type/documentation

Protect schema load API endpoint with a permission
  backend/infrahub/api/schema.py
  backend/infrahub/core/constants/__init__.py
  backend/tests/unit/api/test_40_schema_api.py
Labels: group/backend

Raise early
  backend/infrahub/api/schema.py
Labels: group/backend

Specify stable branch for demo install (#4577)
  docs/docs/guides/installation.mdx
Labels: type/documentation

IFC-670 Add global permission to protect schema against changes (#4560)
  backend/infrahub/api/schema.py
  backend/infrahub/core/constants/__init__.py
  backend/tests/unit/api/test_40_schema_api.py
Labels: group/backend

fix: git-agent bad address
  development/docker-compose.yml
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
