Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

add edit relationship test + use branch
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

deduplication patches (#6340)
  .gitignore
  backend/infrahub/patch/queries/consolidate_duplicated_nodes.py
  backend/infrahub/patch/queries/delete_duplicated_edges.py
  backend/tests/unit/patch/kind_deduplication_patches/__init__.py
  backend/tests/unit/patch/kind_deduplication_patches/data_export/README.txt
  backend/tests/unit/patch/kind_deduplication_patches/data_export/edges.csv
  backend/tests/unit/patch/kind_deduplication_patches/data_export/vertices.csv
  backend/tests/unit/patch/kind_deduplication_patches/test_patches.py
Labels: group/backend

Add support for convert_query_response to Python Transforms
  backend/infrahub/api/transformation.py
  backend/infrahub/artifacts/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/transform.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/templates/person_with_cars.gql
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/converted_person_with_cars.py
  backend/tests/fixtures/schemas/schema_02.json
  backend/tests/functional/webhook/test_task.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/integration/transform/test_transform.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/git/test_git_transform.py
  changelog/6383.added.md
  docs/docs/reference/dotinfrahub.mdx
Labels: group/backend, type/documentation

Add note about rebase after core schema updates
  backend/infrahub/cli/db.py
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
Labels: group/backend, type/documentation

fix dissociate checks
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
Labels: group/frontend

update NodeListGetRelationshipQuery to be more efficient
  backend/infrahub/core/query/node.py
Labels: group/backend

slight performance improvement for query
  backend/infrahub/core/query/node.py
Labels: group/backend

add changelog
  changelog/+node_list_get_relationship_query.fixed.md
Labels: none

allow filters for inbound/outbound/bidirectional rel identifiers
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

Update backend/infrahub/cli/db.py
  backend/infrahub/cli/db.py
Labels: group/backend

Update docs/docs/guides/upgrade.mdx
  docs/docs/guides/upgrade.mdx
Labels: type/documentation

Update docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade-enterprise.mdx
Labels: type/documentation

Add note about rebase after core schema updates (#6384)
  backend/infrahub/cli/db.py
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
Labels: group/backend, type/documentation

Prepare release 1.2.8
  CHANGELOG.md
  changelog/+1f69fa65.housekeeping.md
  changelog/+hcl.added.md
  changelog/+node_list_get_relationship_query.fixed.md
  changelog/6383.added.md
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

Prepare release 1.2.8 (#6390)
  CHANGELOG.md
  changelog/+1f69fa65.housekeeping.md
  changelog/+hcl.added.md
  changelog/+node_list_get_relationship_query.fixed.md
  changelog/6383.added.md
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

chore: update docker-compose
  docker-compose.yml
Labels: none

fix(backend): make uniqueness constraint query use indexes
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

use filter model instead of dict, use NodeIdentifier in filters
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/diff/query/filters.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

logic for deleting nodes removed from a diff
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/drop_nodes.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

update drop nodes query to remove diff nodes completely
  backend/infrahub/core/diff/query/drop_nodes.py
Labels: group/backend

add a hash method for some reason
  backend/infrahub/core/diff/model/field_specifiers_map.py
Labels: group/backend

add node kind to node field specifiers
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/field_specifiers_map.py
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

remove extraneous, commented-out line
  backend/infrahub/core/branch/tasks.py
Labels: group/backend

replace kind and uuid on DiffNode classes with NodeIdentifier that includes database-level labels
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/parent_node_adder.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/get_one_node.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
Labels: group/backend

small cleanup tasks
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

use IDs list in diff path queries
  backend/infrahub/core/diff/model/field_specifiers_map.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

update fragment
  changelog/+dissociate.fixed.md
Labels: none

start add bulk delete
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-object-modal.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-delete-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
Labels: group/frontend

udpate fragment
  changelog/+selection-table.added.md
Labels: none

fix(backend): add extra where clause in uniqueness constraint query
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

fix: neo4j docker healthcheck fills storage
  development/docker-compose-database-neo4j.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

update dissociate action
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
  frontend/app/src/entities/nodes/relationships/utils/utils.ts
Labels: group/frontend

add comment
  frontend/app/src/entities/nodes/relationships/utils/utils.ts
Labels: group/frontend

rename file and update import
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
  frontend/app/src/entities/nodes/relationships/utils/index.ts
Labels: group/frontend

update logic
  frontend/app/src/entities/nodes/relationships/utils/index.ts
Labels: group/frontend

save changes to test for diff calculation with migrated kind for later
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

fix dissociate check
  frontend/app/src/entities/nodes/relationships/utils/index.ts
Labels: group/frontend

update check
  frontend/app/src/entities/nodes/relationships/utils/index.ts
Labels: group/frontend

add mock data
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/interfaces.ts
  frontend/app/tests/mocks/data/schema.ts
Labels: group/frontend

add test
  frontend/app/src/entities/nodes/relationships/utils/dissociate.test.tsx
Labels: group/frontend
