Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, group/infrahubctl, group/nornir, group/python-sdk, group/sync-engine, type/documentation

remove at from mutation validator
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/repository.py
Labels: group/backend

linter
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

add option to remove delay while typing
  frontend/tests/e2e/proposed-changes.cy.ts
Labels: group/frontend

Add Branch in mutation validation (#1271)
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/repository.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Build list of Model using CoreNode
  backend/infrahub/core/schema_manager.py
Labels: group/backend

Add support for @alias in graphql query gen
  python_sdk/infrahub_client/graphql.py
  python_sdk/tests/unit/test_graphql.py
Labels: group/python-sdk

Move logic to generate GraphQL filter to InfrahubDataType
  backend/infrahub/graphql/generator.py
  backend/infrahub/types.py
Labels: group/backend

Extend filters in schema to both node and generic and bring parity with GQL
  backend/infrahub/core/schema.py
  backend/infrahub/core/schema_manager.py
Labels: group/backend

Fix format for pylint
  backend/infrahub/core/schema_manager.py
Labels: group/backend

Fix unit tests
  backend/tests/unit/core/test_manager_schema.py
  backend/tests/unit/git_credential/conftest.py
  python_sdk/tests/integration/test_infrahub_client.py
  python_sdk/tests/integration/test_infrahub_client_sync.py
  python_sdk/tests/integration/test_schema.py
Labels: group/backend, group/python-sdk

Add typing and add function to get_attribute_type
  backend/infrahub/types.py
Labels: group/backend

Disable fragment generation by default, add typename to all queries, add from_graphql method to dynamically identify the type
  python_sdk/infrahub_client/client.py
  python_sdk/infrahub_client/node.py
  python_sdk/tests/unit/conftest.py
  python_sdk/tests/unit/test_client.py
  python_sdk/tests/unit/test_node.py
Labels: group/python-sdk

Fix unit tests after adding CoreNode label
  backend/tests/unit/core/test_branch_diff.py
Labels: group/backend

Include feedback from review
  backend/infrahub/core/schema_manager.py
  backend/infrahub/types.py
  python_sdk/infrahub_client/node.py
Labels: group/backend, group/python-sdk

Remove deprecated function from tests id > element_id
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

Add integration tests
  python_sdk/infrahub_client/client.py
  python_sdk/infrahub_client/node.py
  python_sdk/tests/integration/test_infrahub_client.py
  python_sdk/tests/integration/test_infrahub_client_sync.py
  python_sdk/tests/unit/test_node.py
Labels: group/python-sdk

Update testdata
  backend/tests/unit/message_bus/operations/requests/test_data/repository_checks_01/post_http_infrahub-testing_8000__graphql__main_5f4db3784eb5c622d8594f27e74c704309980fc8304daa36b7a6dec1.json
  backend/tests/unit/message_bus/operations/requests/test_data/repository_checks_01/post_http_infrahub-testing_8000__graphql__main_d9d8f7030c64617fddcb6ce0e17c19e22e7d9c33dd800dba43acb27a.json
  backend/tests/unit/message_bus/operations/requests/test_data/repository_checks_01/post_http_infrahub-testing_8000__graphql__test-pc-1_50a961b0cd443324a90f14c5167c3968393b0aa283423a65006147fe.json
  backend/tests/unit/message_bus/operations/requests/test_data/repository_checks_01/post_http_infrahub-testing_8000__graphql__test-pc-1_5cb57c6017d7779e521e849256f38bb1192e2c6e2f8d319eb399e452.json
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

Fix unit tests
  python_sdk/tests/unit/conftest.py
  python_sdk/tests/unit/test_client.py
  python_sdk/tests/unit/test_node.py
Labels: group/python-sdk

Add CoreNode label to most nodes to allow global search
  backend/infrahub/core/node/__init__.py
Labels: group/backend

Breakdown generate_query_data into smaller function and add support for fragments for GenericSchema
  python_sdk/infrahub_client/client.py
  python_sdk/infrahub_client/node.py
  python_sdk/infrahub_client/schema.py
  python_sdk/tests/fixtures/schema_02.json
  python_sdk/tests/unit/conftest.py
  python_sdk/tests/unit/test_graphql.py
  python_sdk/tests/unit/test_node.py
Labels: group/python-sdk

Add support for Querying Generic in SDK
  python_sdk/infrahub_client/client.py
  python_sdk/infrahub_client/exceptions.py
  python_sdk/infrahub_client/node.py
  python_sdk/infrahub_client/schema.py
Labels: group/python-sdk

Extend add_to_query to accept a list as well
  backend/infrahub/core/query/__init__.py
Labels: group/backend

Update filters generator to skip groups
  backend/infrahub/graphql/generator.py
  backend/infrahub/types.py
  backend/tests/unit/graphql/test_generator.py
Labels: group/backend

Fix build_subquery_filter
  backend/infrahub/core/query/subquery.py
Labels: group/backend

extend get_query_filter for attribute to support any and property search
  backend/infrahub/core/attribute.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/subquery.py
  backend/infrahub/core/schema.py
  backend/tests/unit/core/test_attribute.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

Add function to validate Attribute and Relationships names
  backend/infrahub/core/constants.py
  backend/infrahub/core/schema_manager.py
Labels: group/backend

Fix filter generation
  backend/infrahub/core/schema_manager.py
Labels: group/backend

Upgrade gitpython=3.1.40
  poetry.lock
  pyproject.toml
Labels: none

remove xfail unit test that is also depreciated
  backend/tests/unit/api/test_15_diff.py
Labels: group/backend

remove failing unit tests
  backend/tests/unit/api/test_15_diff.py
Labels: group/backend

removing /data and /schema endpoint and renaming /data-new and /schema-new
  backend/infrahub/api/diff.py
Labels: group/backend

fix up failing integration test
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/api/test_15_diff.py
Labels: group/backend

lint
  backend/tests/integration/user_workflows/test_user_worflow.py
Labels: group/backend

add conflcit info in checks
  frontend/src/graphql/queries/diff/getCheckDetails.ts
  frontend/src/graphql/queries/proposed-changes/getThreadsAndChecks.ts
  frontend/src/screens/diff/checks/check.tsx
  frontend/src/screens/diff/checks/conflict.tsx
  frontend/src/screens/diff/checks/validator-details.tsx
  frontend/src/screens/diff/data-diff-node.tsx
  frontend/src/utils/diff.tsx
Labels: group/frontend

Add event when a branch is deleted
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/event_branch_delete.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
Labels: group/backend

fix conflict in data diff view
  frontend/src/screens/diff/data-diff.tsx
  frontend/src/screens/diff/diff-conflict-info.tsx
Labels: group/frontend

Merge branch when proposed change state is updated to merged
  backend/infrahub/core/constants.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/tests/unit/core/test_constants.py
  frontend/src/screens/proposed-changes/conversations.tsx
Labels: group/backend, group/frontend

frontend changes - again
  frontend/src/config/config.ts
Labels: group/frontend

removing /data and /schema endpoint (#1244)
  backend/infrahub/api/diff.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/api/test_15_diff.py
  frontend/src/config/config.ts
Labels: group/backend, group/frontend

Move gitpython to global group
  poetry.lock
  pyproject.toml
Labels: none

.github/labeler.yml:

---
"group/ci":
  - .github/**

"group/backend":
  - backend/**

"group/frontend":
  - frontend/**

"group/infrahubctl":
  - ctl/**

"group/nornir":
  - nornir_plugin/**

"group/python-sdk":
  - python_sdk/**

"group/sync-engine":
  - sync/**

"type/documentation":
  - docs/**
