Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix markdown
  changelog/+account-tokens.changed.md
Labels: none

Add spelling for nornir (#5658)
  .vale/styles/spelling-exceptions.txt
Labels: none

Reworked Account tokens view (#5656)
  changelog/+account-tokens.changed.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/groups/ui/groups-auto-generated-filter-button.tsx
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object-items/object-items-paginated.tsx
  frontend/app/src/entities/user-profile/api/createAccountToken.ts
  frontend/app/src/entities/user-profile/api/get-account-token-from-api.ts
  frontend/app/src/entities/user-profile/domain/get-infrahub-account-token.query.ts
  frontend/app/src/entities/user-profile/domain/get-infrahub-account-token.ts
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-delete-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-item.tsx
  frontend/app/src/entities/user-profile/ui/account-token-list.tsx
  frontend/app/src/entities/user-profile/ui/tab-tokens.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/utils/date.ts
  frontend/app/tests/e2e/profile/account-tokens.spec.ts
Labels: group/frontend

rename queries
  frontend/app/src/entities/diff/api/getCheckDetails.ts
  frontend/app/src/entities/diff/api/getValidatorDetails.ts
  frontend/app/src/entities/diff/api/getValidators.ts
Labels: group/frontend

add branches display
  frontend/app/src/entities/diff/checks/check.tsx
Labels: group/frontend

use diff row
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

update type
  frontend/app/src/entities/diff/node-diff/utils.tsx
Labels: group/frontend

udpate ui to use diff row
  frontend/app/src/entities/diff/checks/check.tsx
Labels: group/frontend

update style
  frontend/app/src/entities/diff/node-diff/utils.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

fix style
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

remove accordion if there is no children
  frontend/app/src/entities/diff/node-diff/utils.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/diff/checks/check.tsx
Labels: group/frontend

add link to data diff node
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

FIxed overflow issues on sidebar's menu
  changelog/+menu.fixed.md
  frontend/app/src/shared/components/account-menu.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

fix diff limit/offset logic
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

fix diff limit/offset logic (#5663)
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

Exclude node properties from node events
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/ipam.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/core/test_node.py
  changelog/5664.changed.md
Labels: group/backend

FIxed overflow issues on sidebar's menu (#5662)
  changelog/+menu.fixed.md
  frontend/app/src/shared/components/account-menu.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

Update InfrahubEvent with filters and counting
  backend/infrahub/api/schema.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/events/repository_action.py
  backend/infrahub/events/schema_action.py
  backend/infrahub/git/integrator.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/types/enums.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/graphql/test_mutation_update.py
Labels: group/backend

move to new "housekeeping" towncrier section (#5665)
  changelog/2193.housekeeping.md
  changelog/2194.housekeeping.md
Labels: none

add support for updating nodes and attributes when saving a diff
  backend/infrahub/core/diff/query/save.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

support relationship updates
  backend/infrahub/core/diff/query/save.py
Labels: group/backend

allow updating a diff when saving instead of forcing a create (#5617)
  backend/infrahub/core/diff/query/save.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

update id from conflict to get display label of related node
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

add fragment
  changelog/+checks.fixed.md
Labels: none

use PathType.from_relationship
  backend/infrahub/core/diff/enricher/path_identifier.py
Labels: group/backend

fix handling to be unique on name AND identifier
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_path_identifier_enricher.py
Labels: group/backend

look before you leap
  backend/infrahub/core/diff/enricher/labels.py
Labels: group/backend

add test and changes for a relationship identifier migration
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

mypy fix
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

add test and changes for a relationship identifier migration (#5652)
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_path_identifier_enricher.py
Labels: group/backend

Add containerlab to codespace image (#5643)
  .devcontainer/Dockerfile
  changelog/458.added.md
Labels: none

Add node_changelog for deleted nodes & cardinaly many relationships
  backend/infrahub/core/attribute.py
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/test_changelog.py
Labels: group/backend

adding intitial changelog/release notes for 1.2
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
  docs/sidebars.ts
Labels: type/documentation

initial changes
  backend/infrahub/menu/menu.py
Labels: group/backend

more cleaning
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/ui/diff-computing.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: group/frontend

more cleaning
  frontend/app/src/entities/diff/checks/conflict.tsx
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/node-diff/node-attribute.tsx
  frontend/app/src/entities/diff/node-diff/node-property.tsx
  frontend/app/src/entities/diff/node-diff/node-relationship-element.tsx
  frontend/app/src/entities/diff/node-diff/thread.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/diff/ui/diff-badge.tsx
  frontend/app/src/entities/diff/ui/diff-no-found.tsx
  frontend/app/src/entities/diff/ui/diff-tree.tsx
  frontend/app/src/entities/diff/utils.tsx
  frontend/app/src/entities/proposed-changes/ui/diff-filter.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/tests/unit/diff/diff-tree/formatDiffNodesToDiffTree.test.ts
  frontend/app/tests/unit/diff/diff-tree/generateRootCategoryNodeForDiffTree.test.ts
Labels: group/frontend

Split node diff into multiple components
  frontend/app/src/entities/diff/api/update-diff-from-api.ts
  frontend/app/src/entities/diff/domain/update-diff.mutation.ts
  frontend/app/src/entities/diff/domain/update-diff.ts
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/ui/diff-computing.tsx
  frontend/app/src/entities/diff/ui/diff-empty.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: group/frontend

fix e2e
  frontend/app/src/entities/diff/api/diff-update.ts
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: group/frontend
