Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix nav
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-combobox-list.tsx
Labels: group/frontend

added filterItem prop
  frontend/app/src/screens/objects/relationships/components/relationship-combobox-list.tsx
Labels: group/frontend

Added component relationship list for combobox
  frontend/app/src/screens/branches/get-currench-branch.ts
  frontend/app/src/screens/objects/relationships/api/queries.ts
  frontend/app/src/screens/objects/relationships/components/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships.ts
  frontend/app/src/screens/objects/relationships/domain/types.ts
Labels: group/frontend

added test for get schema
  frontend/app/src/screens/schema/get-schema.test.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

lint fix
  frontend/app/package.json
Labels: group/frontend

Added simple field relationship for hierarchical
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships.ts
  frontend/app/src/screens/schema/get-schema.ts
  frontend/app/src/screens/schema/utils.ts
Labels: group/frontend

css load more + debounce search
  frontend/app/src/screens/objects/relationships/components/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships.ts
Labels: group/frontend

test current branch
  frontend/app/src/screens/branches/get-current-branch.test.ts
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-combobox-list.tsx
  frontend/app/tests/fake/branch.ts
Labels: group/frontend

navigate hierarchical
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/popover.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
  frontend/app/src/screens/schema/utils.ts
Labels: group/frontend

Added test schema utils
  frontend/app/src/screens/schema/utils.test.ts
Labels: group/frontend

test get relationship
  frontend/app/src/screens/branches/get-current-branch.test.ts
  frontend/app/src/screens/branches/get-current-branch.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships.test.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships.ts
Labels: group/frontend

update fragment
  changelog/5005.added.md
Labels: none

update type
  frontend/app/src/components/ui/link.tsx
Labels: group/frontend

Clickable link for URL kind in the details view (#5231)
  changelog/5005.added.md
  frontend/app/src/components/ui/link.tsx
  frontend/app/src/utils/getObjectItemDisplayValue.tsx
Labels: group/frontend

added changelog
  changelog/4636.added.md
Labels: none

added e2e + fix label
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
Labels: group/frontend

fix(backend, tests): pin redis version
  backend/tests/conftest.py
  development/docker-compose-deps.yml
Labels: group/backend

refresh version to use the one in pyproject to test more easily
  docker-compose.yml
  helm/Chart.yaml
Labels: none

Enhanced relationship inputs for hierarchical models with a new option to navigate and select objects directly within the hierarchy (#5201)
  changelog/4636.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/popover.tsx
  frontend/app/src/screens/branches/get-current-branch.test.ts
  frontend/app/src/screens/branches/get-current-branch.ts
  frontend/app/src/screens/objects/relationships/api/queries.ts
  frontend/app/src/screens/objects/relationships/components/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships.test.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships.ts
  frontend/app/src/screens/objects/relationships/domain/types.ts
  frontend/app/src/screens/schema/get-schema.test.ts
  frontend/app/src/screens/schema/get-schema.ts
  frontend/app/src/screens/schema/utils.test.ts
  frontend/app/src/screens/schema/utils.ts
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
  frontend/app/tests/fake/branch.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

go back to 4.0.3 for helm chart version
  helm/Chart.yaml
Labels: none

WIP prototype using DataLoader for single_relationship_resolver
  backend/infrahub/core/query/relationship.py
  backend/infrahub/dependencies/component/registry.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/resolver.py
  poetry.lock
  pyproject.toml
Labels: group/backend

pylint
  backend/infrahub/graphql/resolver.py
Labels: group/backend

format
  backend/infrahub/graphql/resolver.py
Labels: group/backend

remove component caching
  backend/infrahub/dependencies/component/registry.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/resolver.py
Labels: group/backend

pylint fix
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/subscription/graphql_query.py
Labels: group/backend

use get_many for cardinality-one data loader
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/resolver.py
  backend/tests/unit/graphql/test_graphql_query.py
Labels: group/backend

fix rel_manager conditional check
  backend/infrahub/core/node/__init__.py
Labels: group/backend

update biome to 1.9.4
  .github/workflows/ci.yml
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/ci, group/frontend

enable noUnusedVariables
  frontend/app/biome.json
  frontend/app/src/api/client.ts
  frontend/app/src/components/display/password-display.tsx
  frontend/app/src/components/form/fields/json.field.tsx
  frontend/app/src/components/inputs/input.tsx
  frontend/app/src/components/inputs/multiple-input.tsx
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/components/notifications.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/screens/diff/checks/checks.tsx
  frontend/app/src/screens/diff/file-diff/files-diff.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefix-details.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-list.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
  frontend/app/src/utils/common.ts
Labels: group/frontend

add old resolve logic as fallback when metadata is required
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/resolver.py
Labels: group/backend

Fix NodeListGetRelationshipsQuery query
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
Labels: group/backend

Fix prefetch_relationships to work with hierarchical nodes
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_manager_node.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

use data-transfer object instead of dictionaries
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

add changelog
  changelog/3065.fixed.md
Labels: none

fix set unioning
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
Labels: group/backend

allow empty cardinality=one relationships
  backend/infrahub/core/manager.py
Labels: group/backend

Add logs and tags to flow for proposed change
  backend/infrahub/message_bus/messages/request_repository_userchecks.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/task_manager/task.py
  backend/tests/integration/diff/test_diff_update.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Refresh Docker-compose and Helm Chart (#5237)
  docker-compose.yml
  helm/Chart.yaml
Labels: none

Add migration to add CoreProfile to the graph
  backend/infrahub/cli/db.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
Labels: group/backend

enable Biome rule noUnusedVariables (#5239)
  .github/workflows/ci.yml
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/api/client.ts
  frontend/app/src/components/display/password-display.tsx
  frontend/app/src/components/form/fields/json.field.tsx
  frontend/app/src/components/inputs/input.tsx
  frontend/app/src/components/inputs/multiple-input.tsx
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/components/notifications.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/screens/diff/checks/checks.tsx
  frontend/app/src/screens/diff/file-diff/files-diff.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefix-details.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-list.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
  frontend/app/src/utils/common.ts
Labels: group/ci, group/frontend
