Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Fix cypher query for global permissions (#4455)
  backend/infrahub/core/account.py
Labels: group/backend

add router tabs
  frontend/app/src/components/display/pill.tsx
  frontend/app/src/components/tabs-routes.tsx
  frontend/app/src/graphql/queries/role-management/getCounts.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/router.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/index.tsx
  frontend/app/src/screens/role-management/permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

update avatar ui
  frontend/app/src/components/display/avatar.tsx
Labels: group/frontend

Refine values for profile
  models/infrastructure_edge.py
Labels: none

Add OAuth2 support for basic login
  backend/infrahub/api/__init__.py
  backend/infrahub/api/internal.py
  backend/infrahub/api/oauth2.py
  backend/infrahub/config.py
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
  backend/tests/unit/api/test_50_config_api.py
  poetry.lock
  pyproject.toml
Labels: group/backend

Fix performance issue for count queries
  backend/infrahub/graphql/types/mixin.py
  changelog/4454.fixed.md
Labels: group/backend

Fix ability to construct HFID for upsert mutations where a number attribute is used
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/tests/constants/kind.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/4460.fixed.md
Labels: group/backend

Simplify repo creation using Graphql
  docs/docs/guides/repository.mdx
Labels: type/documentation

Fix performance issue for count queries
  backend/infrahub/graphql/types/mixin.py
  changelog/4454.fixed.md
Labels: group/backend

add accounts, groups, and fix tabs router
  frontend/app/src/components/tabs-routes.tsx
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/group-member.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/index.tsx
Labels: group/frontend

Add advanced actions section
  docs/docs/topics/repository.mdx
Labels: type/documentation

Add missing queries section to j2 transform
  docs/docs/guides/jinja2-transform.mdx
Labels: type/documentation

add roles
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

add permissions and badge copy
  frontend/app/src/components/ui/badge-copy.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/queries/role-management/getPermissions.ts
  frontend/app/src/screens/role-management/index.tsx
  frontend/app/src/screens/role-management/permissions.tsx
Labels: group/frontend

Add healthcheck to memgraph testcontainer
  backend/tests/conftest.py
Labels: group/backend

update icon
  frontend/app/src/screens/role-management/index.tsx
Labels: group/frontend

update group member ui
  frontend/app/src/screens/role-management/group-member.tsx
Labels: group/frontend

update permissions icon
  frontend/app/src/graphql/queries/role-management/getPermissions.ts
  frontend/app/src/screens/role-management/permissions.tsx
Labels: group/frontend

add delete account
  frontend/app/src/screens/role-management/accounts.tsx
Labels: group/frontend

update table
  frontend/app/src/components/table/table.tsx
Labels: group/frontend

delete group
  frontend/app/src/screens/role-management/groups.tsx
Labels: group/frontend

delete roles
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

delete permissions
  frontend/app/src/screens/role-management/permissions.tsx
Labels: group/frontend

fix delete labels
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

fix(ci): publish checkbox is reversed
  .github/workflows/publish-dev-docker-image.yml
Labels: group/ci

fix(ci): publish checkbox is reversed
  .github/workflows/publish-dev-docker-image.yml
Labels: group/ci

fix(ci): publish checkbox is reversed
  .github/workflows/publish-dev-docker-image.yml
Labels: group/ci

fix(ci): publish checkbox is reversed
  .github/workflows/publish-dev-docker-image.yml
Labels: group/ci

separate global and object permissions
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/queries/role-management/getCounts.ts
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/router.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/index.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

Add exceptions and config for HTTP adapter
  backend/infrahub/config.py
  backend/infrahub/exceptions.py
  backend/infrahub/services/adapters/http/httpx.py
Labels: group/backend

put all the pieces together
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/dependencies/builder/diff/conflicts_enricher.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

IFC-580 refactor diff calculation query to get less information
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
Labels: group/backend

changes to support memgraph
  backend/infrahub/core/query/diff.py
Labels: group/backend

link base and diff branch diffs more strongly
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

format
  backend/infrahub/core/diff/conflicts_enricher.py
Labels: group/backend

neo4j typo, one more unit test
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

add a "migration" to delete all diffs b/c of the new format
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/dependencies/registry.py
Labels: group/backend

fix some more bugs and add tests
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

fix save query for memgraph
  backend/infrahub/core/diff/query/save_query.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
Labels: group/backend

Add `identifier` read-only field to permissions
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
