Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Small rewrite
  backend/infrahub/graphql/resolvers/ipam.py
Labels: group/backend

troubleshoot failing migration unit test
  backend/infrahub/core/migrations/graph/m034_find_orphaned_schema_fields.py
Labels: group/backend

maybe fix migration test
  backend/tests/unit/core/migrations/graph/test_034.py
Labels: group/backend

finalize migration
  backend/infrahub/core/migrations/graph/m034_find_orphaned_schema_fields.py
Labels: group/backend

add registry initialization to migration (#6878)
  backend/infrahub/core/migrations/graph/m034_find_orphaned_schema_fields.py
  backend/tests/unit/core/migrations/graph/test_034.py
Labels: group/backend

IFC-1690 Fix available prefixes when parent prefix is empty (#6874)
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

Prepare release 1.3.4
  CHANGELOG.md
  changelog/+graphiql.fixed.md
  changelog/6802.fixed.md
  changelog/6817.fixed.md
  changelog/6830.fixed.md
  changelog/6834.fixed.md
  changelog/6838.fixed.md
  changelog/6845.fixed.md
  changelog/6852.fixed.md
  changelog/6855.fixed.md
  changelog/6859.fixed.md
  changelog/6865.fixed.md
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

lint
  frontend/app/src/entities/proposed-changes/ui/action-button/placeholder-button.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
Labels: group/frontend

Custom style for sidebar + collapse setting
  docs/sidebars.ts
  docs/src/css/custom.css
Labels: type/documentation

add rejected by
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

add fragment
  changelog/proposed-changes.changed.md
Labels: none

typo
  frontend/app/src/entities/proposed-changes/api/updateReviewFromApi.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.ts
Labels: group/frontend

rename
  frontend/app/src/entities/proposed-changes/api/updateReviewFromApi.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.ts
Labels: group/frontend

update const
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

:wrench:
  frontend/app/src/entities/proposed-changes/api/updateReviewFromApi.ts
Labels: group/frontend

remove key
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
Labels: group/frontend

rename
  frontend/app/src/entities/proposed-changes/api/updateProposedChangeReviewFromApi.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/reject-button.tsx
Labels: group/frontend

update types
  frontend/app/src/entities/proposed-changes/ui/action-button/actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/reject-button.tsx
  frontend/app/src/entities/proposed-changes/utils/has-user-approved-proposed-change.ts
  frontend/app/src/entities/proposed-changes/utils/has-user-rejected-proposed-change.ts
Labels: group/frontend

rename files
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-placeholder-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
Labels: group/frontend

remove props
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

use mutate
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
Labels: group/frontend

remove unused
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

remove unused query
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

update
  frontend/app/src/entities/nodes/object/api/update-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/update-object.ts
  frontend/app/src/entities/proposed-changes/api/updateProposedChangeReviewFromApi.ts
  frontend/app/src/entities/proposed-changes/domain/update-proposed-change-review.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/utils/has-user-approved-proposed-change.ts
Labels: group/frontend

Entire rework of the generator guide
  .github/instructions/documentation.instructions.md
  docs/docs/guides/generator.mdx
Labels: group/ci, type/documentation

Vale please pass
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/generator.mdx
Labels: type/documentation

Fine tune vale
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
Labels: none

Update python version
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
Labels: group/backend

Allow user to cancel proposed changes actions (#6846)
  backend/infrahub/core/schema/definitions/core/propose_change.py
  changelog/proposed-changes.changed.md
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/nodes/object/api/update-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/update-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/update-object.ts
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-from-api.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesDetails.ts
  frontend/app/src/entities/proposed-changes/api/updateProposedChangeReviewFromApi.ts
  frontend/app/src/entities/proposed-changes/constant.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/update-proposed-change-review.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-placeholder-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/types.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter-link.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
  frontend/app/src/entities/proposed-changes/utils/has-user-approved-proposed-change.ts
  frontend/app/src/entities/proposed-changes/utils/has-user-rejected-proposed-change.ts
  frontend/app/src/pages/proposed-changes/items.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/backend, group/frontend

Move testing to developer resource
  docs/sidebars.ts
Labels: type/documentation

chore: update docker-compose
  docker-compose.yml
Labels: none

fix(testcontainers): we must enable background svc explicitely
  python_testcontainers/infrahub_testcontainers/docker-compose-cluster.test.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

prevent duplicate edges in node kind migration
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
Labels: group/backend

small unit test update
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
Labels: group/backend

Add section to show how to access files stored in the Git repository when using a Python transform.
  docs/docs/topics/transformation.mdx
Labels: type/documentation

Remove unused class
  docs/sidebars.ts
Labels: type/documentation

improve no data message
  frontend/app/src/shared/components/errors/no-data-found.tsx
Labels: group/frontend

fix undefined data result
  frontend/app/src/entities/repository/domain/get-repository-group.ts
  frontend/app/src/entities/repository/ui/repository-objects-manager.tsx
Labels: group/frontend

add default value
  frontend/app/src/entities/repository/ui/repository-objects-tab.tsx
Labels: group/frontend
