Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

more tests
  backend/infrahub/core/query/node.py
  backend/tests/helpers/db_validation.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

update changelog
  changelog/+rel_create_on_migrated_kind_node.fixed.md
Labels: none

Upgrade Prefect to 3.4.1
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
Labels: group/backend

add changelog fragment
  changelog/6323.fixed.md
Labels: none

fix webhook receiver example in docs to calculate signature from json payload
  docs/docs/media/fastapi_webhook_reciever.txt
Labels: type/documentation

correct filename of webhook receiver example
  docs/docs/media/fastapi_webhook_receiver.txt
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

fix(testcontainers): rename deprecated neo4j config
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix(testcontainers): change json format to JS compatible
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

Very basic version of next steps
  docs/docs/getting-started/next-steps.mdx
  docs/sidebars.ts
Labels: type/documentation

Comment out sidebar
  docs/sidebars.ts
Labels: type/documentation

Rollback change
  docs/docs/tutorials/getting-started/schema.mdx
Labels: type/documentation

Make sure doc sync only runs on commit to stable (#6429)
  .github/workflows/sync-docs.yml
Labels: group/ci

remove accidental change
  backend/infrahub/core/query/node.py
Labels: group/backend

account for timestamp in simple relationship query
  backend/infrahub/core/query/relationship.py
Labels: group/backend

Add 'List' kinds to LARGE_ATTRIBUTE_TYPES
  backend/infrahub/types.py
  changelog/+f9d7f87b.fixed.md
Labels: group/backend

test for timestamp stuff on relationships
  backend/tests/unit/core/test_relationship.py
Labels: group/backend

undo some changes in DiffQueryParser that are no longer needed
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

comment placement fix
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

test and support for merging branch with migrated kind node
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/tests/integration/schema_lifecycle/test_migration_kind_update.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

update unit test for is_node_kind_migration
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

add changelog
  changelog/+merge_merge_node_kind_migration.fixed.md
Labels: none

remove commented out code
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

handle migrated node that is later deleted
  backend/infrahub/core/diff/merger/merger.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

same updates for node and relationship delete queries
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
Labels: group/backend

Display "dissociate" action only if possible on relationships table's row actions (#6373)
  changelog/+dissociate.fixed.md
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/get-relationship-actions-column.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
  frontend/app/src/entities/nodes/relationships/utils/can-dissociate-relationship.test.ts
  frontend/app/src/entities/nodes/relationships/utils/can-dissociate-relationship.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/schema.ts
Labels: group/frontend

update types
  frontend/app/src/entities/nodes/object/api/delete-objects-from-api.ts
  frontend/app/src/entities/nodes/object/domain/delete-objects.mutation.ts
  frontend/app/src/entities/nodes/object/domain/delete-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-object-modal.tsx
Labels: group/frontend

:wrench:
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-object-modal.tsx
Labels: group/frontend

add checkbox in skeleton
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-skeleton.tsx
Labels: group/frontend

add fragment
  changelog/2932.added.md
Labels: none

Add python sdk example to consume object template
  docs/docs/guides/object-template.mdx
Labels: type/documentation

Add parsing of variables and queries to GraphQL analyzer
  backend/infrahub/graphql/analyzer.py
  backend/tests/helpers/schema/tshirt.py
  backend/tests/unit/graphql/test_query_analyzer.py
Labels: group/backend

edit demo to sandbox doc
  README.md
  docs/docs/faq/faq.mdx
Labels: type/documentation

remove comment from testing
  backend/infrahub/core/query/relationship.py
Labels: group/backend

fix indent error
  backend/infrahub/core/query/node.py
Labels: group/backend

add cypher comment
  backend/infrahub/core/query/diff.py
Labels: group/backend

remove unused property
  backend/infrahub/core/diff/model/path.py
Labels: group/backend

update comment, remove unnecessary int() casting
  backend/infrahub/core/diff/calculator.py
Labels: group/backend

edit demo to sandbox doc
  README.md
  docs/docs/faq/faq.mdx
Labels: type/documentation

fix DelationshipDeleteAllQuery update
  backend/infrahub/core/query/relationship.py
Labels: group/backend

linting
  backend/infrahub/core/query/diff.py
Labels: group/backend
