Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

get correct attributes for dropdown
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
Labels: group/frontend

update type
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
Labels: group/frontend

use new hook
  frontend/app/src/entities/triggers/ui/node-trigger-form.tsx
Labels: group/frontend

Fix issue where next page loaded even when table wasn't scrolled (#6476)
  .vale/styles/spelling-exceptions.txt
  changelog/infinite-scroll.fixed.md
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-skeleton.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/shared/components/table/data-table.tsx
  frontend/app/src/shared/components/ui/scroll-area.tsx
  frontend/app/src/shared/components/utils/infinite-scroll.tsx
Labels: group/frontend

remove log
  frontend/app/src/shared/components/form/object-form.tsx
Labels: group/frontend

:wrench:
  frontend/app/src/entities/triggers/ui/node-trigger-form.tsx
Labels: group/frontend

use new hook
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
Labels: group/frontend

Revert: no skeleton when table is refreshing
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend

prefill trigger option
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
Labels: group/frontend

fix util function
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.ts
Labels: group/frontend

update test to handle new use case
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
Labels: group/frontend

Revert: do not display table skeleton when table's data is refreshing (#6479)
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend

js lint
  frontend/app/src/shared/components/table/data-table.tsx
Labels: group/frontend

Retrieve all tasks logs
  backend/infrahub/task_manager/task.py
Labels: group/backend

support pagination
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/types/task_log.py
  backend/infrahub/task_manager/task.py
Labels: group/backend

fix(backend): update query syntax for latest neo4j (stable)
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/query/delete.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
Labels: group/backend

Upgrade to neo4j 2025.03.0
  backend/tests/helpers/constants.py
  docker-compose.yml
  tasks/shared.py
  utilities/db_backup/__main__.py
Labels: group/backend

fix cicd version neo4j
  python_testcontainers/infrahub_testcontainers/container.py
Labels: none

remove unnecessary typing ignores
  backend/infrahub/core/models.py
Labels: group/backend

handle double falsy values
  backend/infrahub/core/schema/attribute_schema.py
Labels: group/backend

add new ConstraintIdentifier enum
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/enum.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

update comment
  backend/tests/integration/schema_lifecycle/test_attribute_parameters_update.py
Labels: group/backend

maybe fix flaky test
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

allow parameters fields to specify validator behavior
  backend/infrahub/core/models.py
Labels: group/backend

fix batching bug in diff query
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
Labels: group/backend

add changelog
  changelog/+diff_batch_bug.fixed.md
Labels: none

Fix for typing within SchemaBranch
  backend/infrahub/core/schema/schema_branch.py
  pyproject.toml
Labels: group/backend

Rename intro to home and add managing infrahub
  docs/docs/home.mdx
  docs/sidebars.ts
Labels: type/documentation

Rename to old
  docs/docs/old.readme.mdx.old
Labels: type/documentation

Fleshout overview
  docs/docs/getting-started/overview.mdx
Labels: type/documentation

Fleshout concepts
  docs/docs/getting-started/concepts.mdx
Labels: type/documentation

Archive the old overview
  docs/docs/overview/data.mdx.old
  docs/docs/overview/generators.mdx.old
  docs/docs/overview/integrations.mdx.old
  docs/docs/overview/interfaces.mdx.old
  docs/docs/overview/readme.mdx.old
  docs/docs/overview/schema.mdx.old
  docs/docs/overview/transformations.mdx.old
  docs/docs/overview/versioning.mdx.old
Labels: type/documentation

Adjust links in FAQ
  docs/docs/faq/faq.mdx
Labels: type/documentation

minor changes + add test
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/task_manager/task.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

Menu changes for trigger rules and actions
  backend/infrahub/actions/schema.py
  backend/infrahub/menu/menu.py
Labels: group/backend

start add relationship match
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: group/frontend

add const
  frontend/app/src/entities/schema/constants.ts
Labels: group/frontend

use NodeKind in attributes for core namespace and node_kind attributes
  frontend/app/src/entities/schema/constants.ts
  frontend/app/src/entities/schema/ui/providers/schema-provider.tsx
  frontend/app/src/entities/triggers/ui/node-trigger-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
Labels: group/frontend

Correct code for wait for prefect automations
  backend/tests/integration_docker/test_triggered_actions.py
Labels: group/backend

Correctly save proposed changed with merging state
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend
