Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

chore: cleanup release-drafter
  .github/infrahub-release-drafter.yml
  .github/workflows/release-note.yml
Labels: group/ci

Revert proposed change state to open on merge failure
  backend/infrahub/proposed_change/tasks.py
  changelog/5563.fixed.md
Labels: group/backend

update test
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
Labels: group/frontend

add changelog
  changelog/+diff-perf.fixed.md
Labels: none

reduce duplicate paths examined in diff calculation queries
  backend/infrahub/core/query/diff.py
Labels: group/backend

limit properties diff calculation query
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
  backend/tests/query_benchmark/test_diff_query.py
Labels: group/backend

fix inverted query conditional
  backend/infrahub/core/query/diff.py
Labels: group/backend

refactor diff calculation of properties changes (#5560)
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
  backend/tests/query_benchmark/test_diff_query.py
  changelog/+diff-perf.fixed.md
Labels: group/backend

refactor diff retrieval to use more smaller queries
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

Fix branch agnostic too many relationships error
  backend/infrahub/core/relationship/model.py
  backend/tests/functional/branch/conftest.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
Labels: group/backend

invalidate query and handle errors
  frontend/app/src/entities/artifacts/ui/generate.tsx
Labels: group/frontend

Add test for failure path
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
Labels: group/backend

Docs: Add images and more details to the topics - proposed change documentation.
  .vale/styles/spelling-exceptions.txt
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/media/topics/proposed_change/pc_check_conflict.png
  docs/docs/media/topics/proposed_change/pc_comments_1.png
  docs/docs/media/topics/proposed_change/pc_conflict_fix.png
  docs/docs/media/topics/proposed_change/pc_data_conflict.png
  docs/docs/media/topics/proposed_change/pc_diff_icons.png
  docs/docs/media/topics/proposed_change/pc_tab_artifacts.png
  docs/docs/media/topics/proposed_change/pc_tab_checks.png
  docs/docs/media/topics/proposed_change/pc_tab_data.png
  docs/docs/media/topics/proposed_change/pc_tab_overview.png
  docs/docs/media/topics/proposed_change/pc_tab_schema.png
  docs/docs/media/topics/proposed_change/pc_tab_tasks.png
  docs/docs/topics/proposed-change.mdx
Labels: type/documentation

Use existing fixtures for tests
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Fix types
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Add changelog record
  changelog/3682.fixed.md
Labels: none

Basic tests to set expectations
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

Make `parent` mandatory in some cases
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Fix integration testing data
  backend/tests/test_data/dataset01.py
Labels: group/backend

Fix typo
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Add hierarchical relationships before validations
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

IFC-15 Support for mandatory/optional parent relationship (#5561)
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/test_data/dataset01.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/3682.fixed.md
Labels: group/backend

Models for node mutation events
  backend/infrahub/events/models.py
Labels: group/backend

chore: cleanup release-drafter (#5586)
  .github/infrahub-release-drafter.yml
  .github/workflows/release-note.yml
Labels: group/ci

Test github bot
  backend/infrahub/core/relationship/model.py
Labels: group/backend

test gh bot
  backend/infrahub/core/relationship/model.py
Labels: group/backend

Add markdown and yaml artifacts
  backend/infrahub/git/integrator.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/templates/person_with_cars_yaml.j2
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/car_spec_markdown.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration_docker/test_propose_change_repository.py
Labels: group/backend

WIP: Test Github bot
  backend/infrahub/core/relationship/model.py
Labels: group/backend

update test fixture
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

Add docs for API Tokens UI (#5585)
  docs/docs/guides/managing-api-tokens.mdx
  docs/docs/media/profile_tokens.png
  docs/docs/media/profile_tokens_copy.png
  docs/docs/media/profile_tokens_create.png
  frontend/app/tests/e2e/profile/tokens.spec.ts
Labels: group/frontend, type/documentation

get diffs batched (#5575)
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

WIP: Test Github Bot
  backend/infrahub/core/branch/tasks.py
Labels: group/backend

fix if no res
  frontend/app/src/entities/artifacts/ui/generate.tsx
Labels: group/frontend

New content-types in artifacts preview (#5555)
  changelog/5452.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/entities/artifacts/ui/artifact-header.tsx
  frontend/app/src/entities/artifacts/ui/generate.tsx
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
  frontend/app/src/shared/components/buttons/copy-to-clipboard.tsx
  frontend/app/src/shared/components/buttons/download.tsx
  frontend/app/src/shared/components/conversations/comment.tsx
  frontend/app/src/shared/components/display/svg.tsx
  frontend/app/src/shared/components/editor/code-editor.tsx
  frontend/app/src/shared/components/editor/code/code-viewer-limiter.tsx
  frontend/app/src/shared/components/editor/code/code-viewer.tsx
  frontend/app/src/shared/components/editor/graphql/graphql-viewer.tsx
  frontend/app/src/shared/components/editor/markdown/index.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-editor-header.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-render.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-viewer.tsx
  frontend/app/src/shared/components/file.tsx
  frontend/app/src/shared/components/form/fields/textarea.field.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: group/frontend

add custom form for ip address pool
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/resource-manager/constants.ts
  frontend/app/src/entities/resource-manager/ui/ip-address-pool-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: group/frontend

add fragment
  changelog/3489.added.md
Labels: none

remove log
  frontend/app/src/shared/components/form/dynamic-form.tsx
Labels: group/frontend

fix bug in merge logic
  backend/infrahub/core/diff/merger/serializer.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

prevent ipam diff parser crash
  backend/infrahub/core/diff/ipam_diff_parser.py
Labels: group/backend

prevent ipam diff parser crash (#5606)
  backend/infrahub/core/diff/ipam_diff_parser.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
