Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

fix
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

add main structure
  frontend/app/src/entities/nodes/activities/api/get-activities.query.ts
  frontend/app/src/entities/nodes/activities/api/get-activities.ts
  frontend/app/src/entities/nodes/activities/ui/activities.tsx
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
  frontend/app/src/entities/nodes/activities/utils/constants.ts
Labels: group/frontend

fix 2
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

Update frontend dependencies (#5689)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

Update to React 19
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

add display label component to query value from id
  frontend/app/src/shared/components/ui/display-label.tsx
Labels: group/frontend

add attributes
  frontend/app/src/entities/nodes/activities/ui/activities.tsx
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
Labels: group/frontend

fix
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

switch display label to tanstack query
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
  frontend/app/src/shared/components/ui/display-label.tsx
  frontend/app/src/shared/components/ui/timeline-border.tsx
Labels: group/frontend

react 19 use hook for context + remove context provider
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/diff/node-diff/thread.tsx
  frontend/app/src/entities/schema/decorators/withSchemaContext.tsx
  frontend/app/src/shared/components/display/slide-over.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/components/search/search-anywhere-context.ts
  frontend/app/src/shared/components/search/search-anywhere.tsx
  frontend/app/src/shared/components/ui/form.tsx
  frontend/app/src/shared/lib/use-query-params.ts
Labels: group/frontend

start add new routes and pages
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/nodes/activities/ui/activity-details.tsx
  frontend/app/src/entities/nodes/activities/ui/global-activities.tsx
  frontend/app/src/pages/activities/details.tsx
  frontend/app/src/pages/activities/index.tsx
Labels: group/frontend

Update to React 19 (#5694)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/diff/node-diff/thread.tsx
  frontend/app/src/entities/schema/decorators/withSchemaContext.tsx
  frontend/app/src/shared/components/display/slide-over.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/components/search/search-anywhere-context.ts
  frontend/app/src/shared/components/search/search-anywhere.tsx
  frontend/app/src/shared/components/ui/form.tsx
  frontend/app/src/shared/lib/use-query-params.ts
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

start add more details
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
Labels: group/frontend

update readme
  CONTRIBUTING.md
  README.md
Labels: none

fix nornir link
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
Labels: type/documentation

update readme (#5696)
  CONTRIBUTING.md
  README.md
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
Labels: type/documentation

Initial commit for context in task
  backend/infrahub/api/artifact.py
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/query.py
  backend/infrahub/api/schema.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/context.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/messages/event_branch_merge.py
  backend/infrahub/message_bus/messages/request_proposedchange_pipeline.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/workers/utils.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

Move RequestDiffUpdate out of type checking block
  backend/infrahub/core/diff/tasks.py
Labels: group/backend

Fix doc & mypy
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/workers/utils.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Ensure call to submit_workflow include context
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/proposed_change/tasks.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/git/test_git_rpc.py
Labels: group/backend

Fix mypy
  backend/tests/integration/git/test_readonly_repository.py
Labels: group/backend

Add event levels, related nodes and enforce use of EventMeta
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/models.py
  backend/infrahub/graphql/types/common.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

Don't collect 'source' and 'owner' for relationship
  backend/infrahub/graphql/mutations/relationship.py
Labels: group/backend

update readme
  README.md
Labels: none

fix import
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

Fix security vulnerability from dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

update queries to get param
  frontend/app/src/entities/nodes/activities/api/get-activities.query.ts
  frontend/app/src/entities/nodes/activities/api/get-activities.ts
Labels: group/frontend

add param
  frontend/app/src/entities/nodes/activities/ui/activities.tsx
Labels: group/frontend

update constants
  frontend/app/src/entities/nodes/activities/utils/constants.ts
Labels: group/frontend

update ui
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

update timeline style
  frontend/app/src/shared/components/ui/timeline-border.tsx
Labels: group/frontend

handle multiple activities
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
Labels: group/frontend

update readme (#5702)
  README.md
Labels: none

add responsive
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

Fix security vulnerability from dependencies (#5703)
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Remove client init method from documentation
  docs/docs/python-sdk/guides/resource-manager.mdx
Labels: type/documentation

Add events from relationship updates
  backend/infrahub/core/changelog/models.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/models.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  pyproject.toml
Labels: group/backend

update default param
  frontend/app/src/entities/nodes/activities/api/get-activities.query.ts
Labels: group/frontend

update ui
  frontend/app/src/entities/nodes/activities/ui/activity.tsx
Labels: group/frontend
