Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Add changelog entry
  changelog/+artifact-target.fixed.md
Labels: none

Lint JS code
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

fix object relationship test
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

fix select one
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

IFC-988 Enforce artifact's object to be artifact targets (#5127)
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/helpers/schema/person.py
  changelog/+artifact-target.fixed.md
  changelog/+generator-group-create.fixed.md
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/backend, group/frontend

fix pc test
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/screens/proposed-changes/create-form.tsx
Labels: group/frontend

v1.0.8
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/+artifact-target.fixed.md
  changelog/+ddd89dc2.fixed.md
  changelog/+generator-group-create.fixed.md
  changelog/+generator-read-only-repo.fixed.md
  changelog/+ipam-reconcile-delete.fixed.md
  changelog/+retry-ipam-reconcile.fixed.md
  changelog/+schema-rename-diff.fixed.md
  changelog/4198.fixed.md
  changelog/4715.fixed.md
  changelog/4881.fixed.md
  changelog/4912.fixed.md
  changelog/4924.added.md
  changelog/4952.fixed.md
  changelog/4969.fixed.md
  changelog/5006.fixed.md
  changelog/5008.fixed.md
  changelog/5051.fixed.md
  changelog/5060.fixed.md
  changelog/5077.added.md
  changelog/5091.fixed.md
  changelog/5110.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_8.mdx
  docs/docs/release-notes/infrahub/release-1_0_9-DRAFT.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

update search
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/components/ui/combobox.tsx
Labels: group/frontend

start fix input
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

fix rebase for search
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/components/ui/combobox.tsx
Labels: group/frontend

fix spacing in changelog
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_0_8.mdx
Labels: type/documentation

Update docs installation guide (#5112)
  docs/docs/guides/installation.mdx
Labels: type/documentation

fix pagination and reset state
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

fix some test
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
Labels: group/frontend

update timeout for tests
  frontend/app/playwright.config.ts
Labels: group/frontend

Fix error message returned while querying for a missing repository file
  backend/infrahub/api/file.py
  backend/infrahub/exceptions.py
  backend/infrahub/message_bus/messages/git_file_get.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/tests/integration/git/test_git_repository.py
Labels: group/backend

fix close select
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend

Add validator when adding a new attribute to the schema
  backend/infrahub/core/models.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/attribute/choices.py
  backend/infrahub/core/validators/attribute/enum.py
  backend/infrahub/core/validators/attribute/kind.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/optional.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/attribute/unique.py
  backend/infrahub/core/validators/node/attribute.py
  backend/infrahub/core/validators/node/generate_profile.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/node/relationship.py
  backend/infrahub/core/validators/query.py
  backend/infrahub/core/validators/relationship/count.py
  backend/infrahub/core/validators/relationship/optional.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/dependencies/builder/constraint/schema/aggregated.py
  backend/infrahub/dependencies/builder/constraint/schema/node_attribute.py
  backend/infrahub/dependencies/builder/constraint/schema/node_relationship.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_add_mandatory_attr_rel.py
  backend/tests/unit/core/constraint_validators/test_query_node_not_present.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/5106.fixed.md
Labels: group/backend

fix test selector
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/tests/e2e/objects/object-details.spec.ts
Labels: group/frontend

fix resource manager e2e test
  frontend/app/src/components/form/fields/relationship.field.tsx
Labels: group/frontend

fix metadata locators
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: group/frontend

Use the branch uuid instead of the internal database id to track the hash of the schema in the cache
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/services/component.py
  changelog/+branch-hash-id.fixed.md
Labels: group/backend

Refresh branch hash in cache for local worker on create
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/unit/graphql/mutations/test_branch.py
  changelog/5130.fixed.md
Labels: group/backend

add latest changelog
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_0_8.mdx
Labels: type/documentation

release v1.0.8 (#5137)
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/+artifact-target.fixed.md
  changelog/+ddd89dc2.fixed.md
  changelog/+generator-group-create.fixed.md
  changelog/+generator-read-only-repo.fixed.md
  changelog/+ipam-reconcile-delete.fixed.md
  changelog/+retry-ipam-reconcile.fixed.md
  changelog/+schema-rename-diff.fixed.md
  changelog/4198.fixed.md
  changelog/4715.fixed.md
  changelog/4881.fixed.md
  changelog/4912.fixed.md
  changelog/4924.added.md
  changelog/4952.fixed.md
  changelog/4969.fixed.md
  changelog/5006.fixed.md
  changelog/5008.fixed.md
  changelog/5051.fixed.md
  changelog/5060.fixed.md
  changelog/5077.added.md
  changelog/5091.fixed.md
  changelog/5110.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_8.mdx
  docs/docs/release-notes/infrahub/release-1_0_9-DRAFT.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

display pool on relationship one
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/graphql/utils.ts
Labels: group/frontend

use relationship many in users permissions and add custom field to display
  frontend/app/src/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend

remove log
  frontend/app/src/screens/role-management/account-role-form.tsx
Labels: group/frontend

remove log
  frontend/app/src/screens/role-management/account-role-form.tsx
Labels: group/frontend

add fragment
  changelog/+search-pagination-combobox.added.md
Labels: none

add search and pagination to relationship many
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

add pypi publish
  .github/workflows/publish-pypi.yml
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
Labels: group/ci

fix(ci): update release workflow to use release events
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
Labels: group/ci

fix(ci): ignore some linter rules
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: group/ci

fix open state for metadata edit form
  frontend/app/src/components/display/slide-over.tsx
Labels: group/frontend

fix state condition value
  frontend/app/src/components/display/slide-over.tsx
Labels: group/frontend

Review the overview
  docs/docs/overview/generators.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/schema.mdx
  docs/docs/overview/versioning.mdx
  docs/docs/topics/infrahub-yml.mdx
Labels: type/documentation

fix(ci): ignore some linter rules
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: group/ci

add pypi publish
  .github/workflows/publish-pypi.yml
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
Labels: group/ci

fix(ci): update release workflow to use release events
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
Labels: group/ci

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
