Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Raise issue differently
  backend/infrahub/core/validators/relationship/peer.py
Labels: group/backend

spelling & linting
  .vale/styles/spelling-exceptions.txt
  docs/docs/getting-started/next-steps.mdx
Labels: type/documentation

add schema lab
  docs/docs/getting-started/concepts.mdx
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

Activate ruff builtin rule and set ignores
  pyproject.toml
Labels: none

Merge pull request #6644 from opsmill/ajtm-06052025-delete-diff-update
  backend/infrahub/core/diff/query/delete_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/graph/m016_diff_delete_bug_fix.py
  backend/infrahub/core/migrations/graph/m028_delete_diffs.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
Labels: group/backend

revert CALL subquery deprecation ignore
  backend/infrahub/database/__init__.py
Labels: group/backend

Various corrections
  docs/docs/getting-started/concepts.mdx
  docs/docs/getting-started/next-steps.mdx
  docs/docs/getting-started/overview.mdx
  docs/docs/getting-started/quick-start.mdx
  docs/docs/home.mdx
Labels: type/documentation

Improve icons main page
  docs/docs/home.mdx
  docs/static/img/discord.png
  docs/static/img/github.png
  docs/static/img/python.svg
Labels: type/documentation

Adjust relationship so we can delete device (#6496)
  models/base/dcim.yml
  models/base/routing.yml
Labels: none

add psutil to spelling
  .vale/styles/spelling-exceptions.txt
Labels: none

Adding small note about dangling docker images after upgrade
  docs/docs/guides/upgrade.mdx
Labels: type/documentation

make the assertion errors in db_snapshot.py more verbose in pytest (#6610)
  backend/tests/conftest.py
Labels: group/backend

Flesh out getting started quick start page
  docs/docs/getting-started/overview.mdx
  docs/docs/getting-started/quick-start.mdx
  docs/sidebars.ts
Labels: type/documentation

Fixed an error on pool selection when ip's namespace was not Ipam (#6620)
  changelog/6581.fixed.md
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/nodes/api/dropdownOptions.ts
  frontend/app/src/shared/components/display/meta-details-tooltips.tsx
  frontend/app/src/shared/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/src/shared/components/form/utils/get-pool-kind-from-schema.test.ts
  frontend/app/src/shared/components/form/utils/get-pool-kind-from-schema.ts
  frontend/app/src/shared/components/inputs/pool-select.tsx
Labels: group/frontend

add psutil
  docs/docs/guides/installation.mdx
Labels: type/documentation

Detail use cases in concepts
  docs/docs/getting-started/concepts.mdx
Labels: type/documentation

Complete rework of the next steps section
  docs/docs/getting-started/next-steps.mdx
Labels: type/documentation

Complete refactor of introduction page
  .github/workflows/sync-docs.yml
  docs/docs/introduction.mdx
  docs/docs/old.readme.mdx
  docs/sidebars.ts
  docs/src/components/HomePage/card.tsx
  docs/src/components/HomePage/header.tsx
  docs/src/components/HomePage/styles.module.css
  docs/static/img/ansible.svg
  docs/static/img/arrow-right.svg
  docs/static/img/education.svg
  docs/static/img/infrahub.svg
  docs/static/img/nornir.png
  docs/static/img/sync.svg
  docs/static/img/yaml.png
  docs/static/medias/demo.mp4
Labels: group/ci, type/documentation

Rename intro to home and add managing infrahub
  docs/docs/home.mdx
  docs/sidebars.ts
Labels: type/documentation

Fleshout concepts
  docs/docs/getting-started/concepts.mdx
Labels: type/documentation

Very basic version of next steps
  docs/docs/getting-started/next-steps.mdx
  docs/sidebars.ts
Labels: type/documentation

Fleshout overview
  docs/docs/getting-started/overview.mdx
Labels: type/documentation

Adjust links in FAQ
  docs/docs/faq/faq.mdx
Labels: type/documentation

Rename to old
  docs/docs/old.readme.mdx.old
Labels: type/documentation

skip broken test (#6631)
  backend/tests/db_snapshot.py
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
Labels: group/backend

Fix links and improve titles on Home page
  docs/docs/home.mdx
  docs/src/components/HomePage/header.tsx
Labels: type/documentation

Various lint fixes
  docs/docs/getting-started/quick-start.mdx
Labels: type/documentation

add psutil to install procedures for `invoke bundle.collect`
  docs/docs/guides/installation.mdx
Labels: type/documentation

Adjust cal link
  docs/docs/getting-started/next-steps.mdx
  docs/docs/getting-started/quick-start.mdx
  docs/docs/home.mdx
Labels: type/documentation

Comment out sidebar
  docs/sidebars.ts
Labels: type/documentation

Archive the old overview
  docs/docs/overview/data.mdx.old
  docs/docs/overview/generators.mdx.old
  docs/docs/overview/integrations.mdx.old
  docs/docs/overview/interfaces.mdx.old
  docs/docs/overview/readme.mdx.old
  docs/docs/overview/schema.mdx.old
  docs/docs/overview/transformations.mdx.old
  docs/docs/overview/versioning.mdx.old
Labels: type/documentation

Cleanup & rewording
  docs/docs/getting-started/quick-start.mdx
  docs/docs/guides/artifact.mdx
  docs/docs/guides/check.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/import-schema.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/home.mdx
  docs/docs/topics/resources-testing-framework.mdx
  docs/docs/topics/tasks.mdx
  docs/docs/tutorials/getting-started/rendering-configuration.mdx
  docs/src/components/HomePage/header.tsx
Labels: type/documentation

Various updates
  .github/workflows/sync-docs.yml
  docs/docs/getting-started/next-steps.mdx
  docs/docs/old.readme.mdx.old
  docs/sidebars.ts
Labels: group/ci, type/documentation

Cleanup wording
  docs/docs/getting-started/overview.mdx
  docs/src/components/HomePage/header.tsx
Labels: type/documentation

Fix lint
  docs/docs/getting-started/concepts.mdx
  docs/docs/getting-started/next-steps.mdx
  docs/docs/home.mdx
Labels: type/documentation

spelling & linting
  .vale/styles/spelling-exceptions.txt
  docs/docs/getting-started/next-steps.mdx
Labels: type/documentation

Fix linting
  docs/docs/getting-started/next-steps.mdx
Labels: type/documentation

Adjust sync?
  .github/workflows/sync-docs.yml
Labels: group/ci

add schema lab
  docs/docs/getting-started/concepts.mdx
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

Merge pull request #6644 from opsmill/ajtm-06052025-delete-diff-update
  backend/infrahub/core/diff/query/delete_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/graph/m016_diff_delete_bug_fix.py
  backend/infrahub/core/migrations/graph/m028_delete_diffs.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
Labels: group/backend
