Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

add links to related nodes
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
Labels: group/frontend

Fix unit test
  backend/tests/unit/graphql/test_mutation_generator.py
Labels: group/backend

Support `wait_until_completion`
  backend/infrahub/graphql/mutations/generator.py
Labels: group/backend

Add mutation to trigger run of a generator
  backend/infrahub/graphql/mutations/generator.py
  backend/infrahub/graphql/schema.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_mutation_generator.py
Labels: group/backend

We all love `Any` to silence mypy
  backend/infrahub/graphql/mutations/generator.py
Labels: group/backend

Allow running generator for some targets
  backend/infrahub/generators/models.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/graphql/mutations/generator.py
  backend/tests/functional/generator/test_mutation_generator.py
Labels: group/backend

That's a lot of ignore
  backend/infrahub/graphql/mutations/generator.py
Labels: group/backend

Fix typing
  backend/infrahub/generators/tasks.py
Labels: group/backend

Add descriptions to fields and fix typing
  backend/infrahub/graphql/mutations/generator.py
Labels: group/backend

IFC-1053 Add mutation to trigger run of a generator (#5791)
  backend/infrahub/generators/models.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/graphql/mutations/generator.py
  backend/infrahub/graphql/schema.py
  backend/tests/functional/generator/test_mutation_generator.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_mutation_generator.py
Labels: group/backend

chore: remove helm chart
  .github/file-filters.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/publish-helm-chart.yml
  .github/workflows/release.yml
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/templates/_env.tpl
  helm/templates/_helpers.tpl
  helm/templates/infrahub-demo-data-job.yaml
  helm/templates/infrahub-server-db-init-job.yaml
  helm/templates/infrahub-server-ingress.yaml
  helm/templates/infrahub-server.yaml
  helm/templates/infrahub-task-worker.yaml
  helm/values.yaml
Labels: group/ci

Fix template generation for generics
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

update ui
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
Labels: group/frontend

fix query and update related node display
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
Labels: group/frontend

fix event node label
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/standard-event.tsx
Labels: group/frontend

fix sticky filters
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

fixes to allow getting a diff for a single branch
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

Fix template generation for generics (#5840)
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

fix error in peer count query
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  changelog/+peer-count.fixed.md
Labels: group/backend

Fix node kind migration with agnostic/aware schema
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/tests/conftest.py
  backend/tests/functional/branch/conftest.py
  backend/tests/helpers/db_validation.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  backend/tests/unit/core/migrations/schema/test_node_remove.py
Labels: group/backend

Clean CYPHER query
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/tests/helpers/db_validation.py
Labels: group/backend

fix
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/relationship.py
Labels: group/backend

first commit
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_node_manager_delete.py
  pyproject.toml
Labels: group/backend

update ui
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

update title
  frontend/app/src/entities/events/ui/global-event-details.tsx
Labels: group/frontend

Set branch to "main" if not set
  models/infrastructure_edge.py
Labels: none

Minor fixes
  backend/infrahub/core/query/relationship.py
  pyproject.toml
Labels: group/backend

Clean up error logging on validation errors
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

Add back branch name to node mutation event resource
  backend/infrahub/events/node_action.py
Labels: group/backend

Add missing context parameter
  backend/infrahub/computed_attribute/tasks.py
Labels: group/backend

Add support for changelog conflict resolution for attribute properties
  backend/infrahub/core/changelog/diff.py
  backend/tests/unit/core/changelog/test_diff.py
Labels: group/backend

change theme and import to fix highlighting issues
  frontend/app/src/shared/components/editor/code/code-viewer.tsx
Labels: group/frontend

change theme and import to fix highlighting issues (#5849)
  frontend/app/src/shared/components/editor/code/code-viewer.tsx
Labels: group/frontend

update menu link
  backend/infrahub/menu/menu.py
Labels: group/backend

fix error in peer count query (#5843)
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  changelog/+peer-count.fixed.md
Labels: group/backend

Update activities UI (#5841)
  backend/infrahub/menu/menu.py
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/standard-event.tsx
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
Labels: group/backend, group/frontend

fixes to allow getting a diff for a single branch (#5842)
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

Update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Update frontend dependencies (#5837)
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Add node changelog events for cascade delete mutations
  backend/infrahub/core/manager.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/tests/unit/graphql/test_mutation_delete.py
Labels: group/backend
