Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Convert Ipam reconciliation task to prefect
  backend/infrahub/core/ipam/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/trigger_ipam_reconciliation.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/trigger/__init__.py
  backend/infrahub/message_bus/operations/trigger/ipam.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/adapters/message_bus.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

remove permission from branch selector
  frontend/app/src/components/branch-selector.tsx
Labels: group/frontend

fix filter test
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

use admin auth for artifacts
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: group/frontend

fix artifacts details view with object permission
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

fix auth for object list
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: group/frontend

fix loading state for items
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

update mock data
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/graphqlQueries.ts
  frontend/app/tests/mocks/data/permissions.ts
  frontend/app/tests/mocks/data/task.ts
  frontend/app/tests/mocks/data/task_1.ts
  frontend/app/tests/mocks/data/task_2.ts
  frontend/app/tests/mocks/data/task_3.ts
  frontend/app/tests/mocks/data/task_4.ts
  frontend/app/tests/mocks/data/task_5.ts
  frontend/app/tests/mocks/data/task_6.ts
  frontend/app/tests/mocks/data/task_7.ts
Labels: group/frontend

update test for role-management (will be improved)
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/tests/e2e/permissions/accounts-object.spec.ts
  frontend/app/tests/e2e/permissions/role-management.spec.ts
Labels: group/frontend

check permission for object details and items
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/graphql/queries/objects/getObjectItems.ts
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/screens/errors/unauthorized-screen.tsx
  frontend/app/src/screens/groups/groups-manager-trigger-button.tsx
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

skip anonymous test for now
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

fix auth
  frontend/app/tests/e2e/objects/object-list-search.spec.ts
Labels: group/frontend

update types
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

add kind for filter in use object items for permission
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

skip anonymous profile test
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

add flag for artifact
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

use auth in hierarchical view test
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
Labels: group/frontend

update types + renaming
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/role-management/types.ts
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

fix unauth test
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

fix token.spec.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

update message
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

add message from api on 403
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

update permissions structure to not provide a message if it's allowed + relationship example
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

fix profile
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/utils/permissions.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

update message
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

start update messages and use new logic with current branch
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

fix search e2e
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

permission for profile
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/graphql/queries/objects/getObjectItems.ts
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

remove log
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

skip profiles
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

better message
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

Add towncrier item for permissions
  changelog/+d25b6331.deprecated.md
  changelog/+f4bb80ab.added.md
Labels: none

disable generic selector item when not allowed to create
  frontend/app/src/components/form/generic-object-form.tsx
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/hooks/useSchema.ts
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/permission/queries/getObjectPermissions.ts
  frontend/app/src/screens/permission/types.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

moved to permission folder
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/permission/utils.ts
Labels: group/frontend

enabled skipped tests
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

update types
  frontend/app/src/components/display/properties-popover.tsx
  frontend/app/src/components/form/object-edit-slide-over-trigger.tsx
  frontend/app/src/screens/graphql/details/graphql-query-details-card.tsx
  frontend/app/src/screens/groups/add-group-trigger-button.tsx
  frontend/app/src/screens/ipam/common/ip-details-card.tsx
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

remove old file
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

replace imports
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/screens/groups/groups-manager.tsx
  frontend/app/src/screens/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-details.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
Labels: group/frontend

fix mock data
  frontend/app/tests/mocks/data/permissions.ts
Labels: group/frontend

Add more site fields to match API and add relation from Interface to IP's
  models/examples/slurpit/slurpit.yml
Labels: none
