Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Add git pull step
  docs/docs/guides/upgrade.mdx
Labels: type/documentation

Update upgrade procedure for demo env (#6700)
  docs/docs/guides/upgrade.mdx
Labels: type/documentation

Add livestream to docs
  docs/docs/getting-started/concepts.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

linting
  docs/docs/topics/schema.mdx
Labels: type/documentation

linting
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/release-notes/infrahub/release-1_3_0.mdx
  docs/docs/topics/schema-attr-kind-number-pool.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

fix(graphql): Validate origin_branch on BranchCreate(#5674)
  backend/infrahub/graphql/mutations/branch.py
Labels: group/backend

close redis connection
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/cache/__init__.py
  backend/infrahub/services/adapters/cache/nats.py
  backend/infrahub/services/adapters/cache/redis.py
  backend/tests/adapters/cache.py
Labels: group/backend

clarify migration guide in 1.3.0 release notes
  docs/docs/release-notes/infrahub/release-1_3_0.mdx
Labels: type/documentation

clarify migration guide in 1.3.0 release notes (#6705)
  docs/docs/release-notes/infrahub/release-1_3_0.mdx
Labels: type/documentation

add min version requirement for infrahub-sdk to v1.3.0 release notes
  docs/docs/release-notes/infrahub/release-1_3_0.mdx
Labels: type/documentation

add min version requirement for infrahub-sdk to v1.3.0 release notes (#6707)
  docs/docs/release-notes/infrahub/release-1_3_0.mdx
Labels: type/documentation

Update docs for Python Transformations, artifacts, and checks.
  docs/docs/guides/artifact.mdx
  docs/docs/guides/check.mdx
  docs/docs/guides/python-transform.mdx
Labels: type/documentation

Fix Vale spelling errors.
  docs/docs/guides/artifact.mdx
Labels: type/documentation

Use provider.scope instead of override
  backend/tests/functional/pools/test_numberpool_lifecycle.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/message_bus/operations/git/test_file.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

split and fix logic
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/get-default-parent-from-api.ts
  frontend/app/src/shared/components/form/fields/relationships/get-default-parent.query.tsx
  frontend/app/src/shared/components/form/fields/relationships/regular-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship.field.tsx
Labels: group/frontend

move files
  frontend/app/src/entities/nodes/relationships/api/get-default-parent-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-default-parent.query.tsx
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/regular-relationship.field.tsx
Labels: group/frontend

minor changes
  backend/infrahub/proposed_change/branch_diff.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/services/adapters/cache/nats.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/adapters/cache.py
Labels: group/backend

fix(backend): add database version check on startup
  backend/infrahub/database/__init__.py
Labels: group/backend

Fix Number min/max_value not restricting values
  backend/infrahub/core/attribute.py
  backend/tests/functional/schemas/__init__.py
  backend/tests/functional/schemas/test_load_number_parameters.py
Labels: group/backend

changelog + enforce excluded values
  backend/infrahub/core/attribute.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/tests/functional/schemas/test_load_number_parameters.py
Labels: group/backend

Fix Number min/max_value not restricting values (#6716)
  backend/infrahub/core/attribute.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/tests/functional/schemas/__init__.py
  backend/tests/functional/schemas/test_load_number_parameters.py
Labels: group/backend

First poc
  .github/instructions/write-doc.instructions.md
  docs/_templates/docs/guides-template.mdx
Labels: group/ci, type/documentation

Right path
  .github/instructions/write-doc.instructions.md
Labels: group/ci

feat: add schema-loader docker compose
  schema-loader.docker-compose.yml
Labels: none

Fix return-value in SchemaBranch
  backend/infrahub/core/schema/schema_branch.py
  pyproject.toml
Labels: group/backend

Fix untyped def in proposed change mutation
  backend/infrahub/graphql/mutations/proposed_change.py
  pyproject.toml
Labels: group/backend

Fix untyped def for node
  backend/infrahub/core/node/__init__.py
  pyproject.toml
Labels: group/backend

Fix return values (Ruff - RET503)
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/database/__init__.py
  backend/tests/benchmark/conftest.py
  backend/tests/unit/core/schema_manager/conftest.py
  backend/tests/unit/core/test_relationship_query.py
  backend/tests/unit/graphql/conftest.py
  backend/tests/unit/patch/test_patch_runner.py
  models/infrastructure_edge.py
  pyproject.toml
Labels: group/backend

Fix untyped def for node
  backend/infrahub/core/node/__init__.py
  pyproject.toml
Labels: group/backend

Remove extra line
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

Fix flow tags
  backend/infrahub/cli/tasks.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/models.py
Labels: group/backend

Make work pools configurable
  backend/infrahub/config.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
Labels: group/backend

Move worker type value to constant enum
  backend/infrahub/config.py
  backend/infrahub/workflows/constants.py
Labels: group/backend

Try to fix integration tests
  backend/infrahub/config.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/helpers/test_worker.py
  backend/tests/integration/services/adapters/workflow/test_setup.py
  backend/tests/integration/services/adapters/workflow/test_workflow_execution.py
Labels: group/backend

Remove unneeded option
  backend/infrahub/config.py
Labels: group/backend

Fix catalogue test
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend

meh
  backend/tests/integration/services/adapters/workflow/test_setup.py
Labels: group/backend

Move fixtures around
  backend/tests/helpers/test_worker.py
  backend/tests/integration/conftest.py
  backend/tests/integration/services/adapters/workflow/test_setup.py
Labels: group/backend

Unneeded import
  backend/tests/integration/services/adapters/workflow/test_setup.py
Labels: group/backend

Re-fix
  backend/tests/integration/services/adapters/workflow/test_workflow_execution.py
Labels: group/backend
