Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix for reverting deleted edge linked to deleted vertex
  backend/infrahub/patch/constants.py
  backend/infrahub/patch/models.py
  backend/infrahub/patch/plan_reader.py
  backend/infrahub/patch/plan_writer.py
  backend/infrahub/patch/runner.py
  backend/tests/db_snapshot.py
  backend/tests/unit/patch/test_patch_runner.py
Labels: group/backend

Mutating a backend node with extra attrs logs instead of raising
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/test_node.py
  changelog/6349.fixed.md
Labels: group/backend

feat(taskmgr): instrument API calls
  backend/infrahub/prefect_server/app.py
Labels: group/backend

patching command framework `infrahub db patch plan/apply/revert` (#6311)
  backend/infrahub/cli/db.py
  backend/infrahub/cli/patch.py
  backend/infrahub/patch/__init__.py
  backend/infrahub/patch/constants.py
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/edge_deleter.py
  backend/infrahub/patch/edge_updater.py
  backend/infrahub/patch/models.py
  backend/infrahub/patch/plan_reader.py
  backend/infrahub/patch/plan_writer.py
  backend/infrahub/patch/queries/__init__.py
  backend/infrahub/patch/queries/base.py
  backend/infrahub/patch/runner.py
  backend/infrahub/patch/vertex_adder.py
  backend/infrahub/patch/vertex_deleter.py
  backend/infrahub/patch/vertex_updater.py
  backend/tests/db_snapshot.py
  backend/tests/unit/patch/__init__.py
  backend/tests/unit/patch/test_patch_runner.py
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: group/backend, type/documentation

docs: clarify supported transformation output formats
  docs/docs/topics/transformation.mdx
Labels: type/documentation

docs: add different content types for artifacts
  docs/docs/topics/artifact.mdx
Labels: type/documentation

add mass creation user, branch and proposed changes
  utilities/infrahub_load_tester.py
Labels: none

Refactor computed attribute update_computed_attribute_value_jinja2
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  changelog/6351.fixed.md
Labels: group/backend

Update vulnerable h11 package
  changelog/+5af618e3.security.md
  poetry.lock
  python_testcontainers/poetry.lock
Labels: none

fix(backend): reintroduce attribute value indexes
  backend/infrahub/core/graph/index.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_attribute.py
Labels: group/backend

fix(backend): improve node uniqueness constraint query
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

Upgrade to neo4j 2025.03.0
  backend/tests/helpers/constants.py
  docker-compose.yml
  tasks/shared.py
  utilities/db_backup/__main__.py
Labels: group/backend

fix(ci): force neo4j 2025 usage
  .github/workflows/ci.yml
Labels: group/ci

change date set
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

fix(backend): improve IPPrefixReconcileQuery performance
  backend/infrahub/core/query/ipam.py
  changelog/+a17d8299.fixed.md
Labels: group/backend

Mutating a backend node with extra attrs logs instead of raising (#6350)
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/test_node.py
  changelog/6349.fixed.md
Labels: group/backend

fix(ci): use previous neo4j version when testing upgrade
  .github/workflows/version-upgrade.yml
Labels: group/ci

fix(backend): improve IPPrefixReconcileQuery performance (#6249)
  backend/infrahub/core/query/ipam.py
  changelog/+a17d8299.fixed.md
Labels: group/backend

fix(backend, tests): failing migration test due to indexes
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_024.py
Labels: group/backend

fix(backend): add db value index feature flag
  backend/infrahub/config.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/server.py
  backend/tests/conftest.py
  development/docker-compose.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: group/backend

improve video player appearance
  docs/docs/guides/artifact.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/ipam.mdx
  docs/docs/topics/proposed-change.mdx
  docs/docs/topics/schema.mdx
  docs/docs/topics/version-control.mdx
  docs/docs/tutorials/getting-started/branches.mdx
  docs/package-lock.json
  docs/src/components/VideoPlayer/index.tsx
Labels: type/documentation

fix(backend): remove query comments
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/nodes/object/utils/get-node-label.test.ts
Labels: group/frontend

update radix
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

fix audit ui/tempalte
  docs/package-lock.json
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: group/frontend, type/documentation

update loader margin
  frontend/app/src/shared/components/buttons/button.tsx
Labels: group/frontend

update branch generator to avoid undefined in the string
  frontend/app/tests/utils.ts
Labels: group/frontend

update frontend dependencies
  docs/package-lock.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/nodes/object/utils/get-node-label.test.ts
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: group/frontend, type/documentation

update merge test
  frontend/app/tests/e2e/branches/merge-branch.spec.ts
Labels: group/frontend

add random branches
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

delete branch after test
  frontend/app/tests/e2e/branches/merge-branch.spec.ts
Labels: group/frontend

set to 2 workers
  frontend/app/playwright.config.ts
Labels: group/frontend

remove test id for cypress
  frontend/app/src/shared/components/ui/form.tsx
Labels: group/frontend

update test to ensure the alert visibility
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-2_data-lineage-and-metadata.spec.ts
Labels: group/frontend

v1.2.7 release prep
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/+5af618e3.security.md
  changelog/+86233926.housekeeping.md
  changelog/+a17d8299.fixed.md
  changelog/6349.fixed.md
  changelog/6351.fixed.md
  docs/docs/release-notes/infrahub/release-1_2_4.mdx
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
  docs/docs/release-notes/infrahub/release-1_2_6.mdx
  docs/docs/release-notes/infrahub/release-1_2_7.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

v1.2.7 release prep
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/+5af618e3.security.md
  changelog/+86233926.housekeeping.md
  changelog/+a17d8299.fixed.md
  changelog/6349.fixed.md
  changelog/6351.fixed.md
  docs/docs/release-notes/infrahub/release-1_2_4.mdx
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
  docs/docs/release-notes/infrahub/release-1_2_6.mdx
  docs/docs/release-notes/infrahub/release-1_2_7.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

chore: update docker-compose
  docker-compose.yml
Labels: none

fix(docs): bad pg_dump command with docker
  docs/docs/guides/installation-enterprise.mdx
Labels: type/documentation

AggregatedConstraintChecker correctly raises errors
  backend/infrahub/core/validators/aggregated_checker.py
Labels: group/backend

ensure database index manager uses the correct database object
  backend/infrahub/database/__init__.py
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_024.py
Labels: group/backend
