Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix linting
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

Add node creations batch benchmark (#5998)
  .github/labels.yml
  .github/workflows/ci.yml
  backend/tests/benchmark/intensive/__init__.py
  backend/tests/benchmark/intensive/test_batch_create.py
  backend/tests/conftest.py
  backend/tests/unit/conftest.py
Labels: group/ci, group/backend

split test
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

split test in serial mode
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

fix initial step
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

Fix computed attribute relationship issue of passing object by reference
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/tests/integration_docker/test_computed_attributes.py
Labels: group/backend

update test
  frontend/app/tests/e2e/activities/object-activities.spec.ts
Labels: group/frontend

Fix computed attribute relationship issue of passing object by reference
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/tests/integration_docker/test_computed_attributes.py
Labels: group/backend

Docs: Webhook docs (#5965)
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/webhooks.mdx
  docs/docs/media/fastapi_webhook_reciever.txt
  docs/docs/media/webhook_create.png
  docs/docs/media/webhook_detail.png
  docs/docs/media/webhook_list.png
  docs/docs/topics/events.mdx
  docs/docs/topics/webhooks.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/activities/object-activities.spec.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend, type/documentation

update with webhooks docs
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

update with webhooks docs (#6098)
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

chore: update docker-compose
  docker-compose.yml
Labels: none

replace Template Namespace by Choice for 1.2
  models/examples/extension_peering_manager.yml
  models/examples/ipfabric/ipfabric.yml
  models/examples/nautobot/nautobot-v1.yml
  models/examples/nautobot/nautobot-v2.yml
  models/examples/netbox/netbox.yml
  models/examples/slurpit/slurpit.yml
Labels: none

rollback peeringmanager change
  models/examples/extension_peering_manager.yml
Labels: none

update 1.2.0 release notes
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

Remove extra CI benchmarks run
  .github/workflows/ci.yml
Labels: group/ci

Do not allow edit metadata on read_only attribute
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

add changelog
  changelog/5558.fixed.md
Labels: none

added test
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: group/frontend

fix md
  changelog/5558.fixed.md
Labels: none

Remove extra CI benchmarks run (#6104)
  .github/workflows/ci.yml
Labels: group/ci

feat(taskmanager): run in separate deployment mode
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix labels
  frontend/app/src/entities/events/ui/event-details.tsx
Labels: group/frontend

add relationships in event details
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/node-events/event-relationships.tsx
Labels: group/frontend

changing manufacturer as optional as it's not mandatory in Nautobot
  models/examples/nautobot/nautobot-v1.yml
  models/examples/nautobot/nautobot-v2.yml
Labels: none

update ui
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/node-events/event-relationships.tsx
Labels: group/frontend

Fix HFID validation with empty peer uniqueness constraints
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
Labels: group/backend

update release notes for 1.2
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

update release notes for 1.2
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

fix(ci): enable flaky e2e test detection
  .github/workflows/ci.yml
Labels: group/ci

fix(ci): enable flaky e2e test detection
  .github/workflows/ci.yml
Labels: group/ci

fix(ci): enable flaky e2e test detection
  .github/workflows/ci.yml
Labels: group/ci

fix(ci): enable flaky e2e test detection
  .github/workflows/ci.yml
Labels: group/ci

Fix HFID validation with empty peer uniqueness constraints (#6117)
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
Labels: group/backend

Do not allow editing metadata on read_only attribute (#6106)
  changelog/5558.fixed.md
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: group/frontend

Adapt existing tests
  backend/infrahub/core/validators/node/inherit_from.py
  backend/tests/unit/core/constraint_validators/test_attribute_choices_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_enum_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_kind_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_optional.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_unique_update.py
  backend/tests/unit/core/constraint_validators/test_node_generate_profiles_update.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_count.py
  backend/tests/unit/core/constraint_validators/test_relationship_optional_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
Labels: group/backend

fix(ci): avoid stale containers when cancelling job
  .github/workflows/ci.yml
Labels: group/ci

fix(ci): update helm dependencies on release
  tasks/release.py
Labels: none

Fix node duplicate query for inbound relationships
  backend/infrahub/core/migrations/query/node_duplicate.py
Labels: group/backend

Allow renaming of inherited kinds
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/model.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/tasks.py
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
Labels: group/backend
