Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Make things recursive
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Remove duplicates in test schema
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Fix `generate_template` update support value
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/genericnode_schema.py
  backend/infrahub/core/schema/generated/node_schema.py
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

First shot at populating rels via template
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Handle object template in create mutation
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_node.py
Labels: group/backend

Add a changelog entry
  changelog/+object-templates.added.md
Labels: none

Add docstring to function
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

Fix duplicated rels for nodes from templates
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

IFC-1245 Initial implementation for object templates (#5610)
  backend/infrahub/api/schema.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/delete_validator.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/protocols_base.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/utils.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/genericnode_schema.py
  backend/infrahub/core/schema/generated/node_schema.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/template_schema.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/types/node.py
  backend/infrahub/menu/constants.py
  backend/infrahub/menu/generator.py
  backend/infrahub/menu/models.py
  backend/tests/constants/kind.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/device.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_node.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+object-templates.added.md
  docs/docs/reference/schema/generic.mdx
  docs/docs/reference/schema/node.mdx
  docs/docs/reference/schema/relationship.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

add blog link to docs
  docs/docs/guides/generator.mdx
  docs/docs/overview/data.mdx
  docs/docs/overview/generators.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/overview/readme.mdx
  docs/docs/overview/schema.mdx
  docs/docs/overview/transformations.mdx
  docs/docs/overview/versioning.mdx
  docs/docs/topics/generator.mdx
Labels: type/documentation

small query change to improve performance, add changelog
  backend/infrahub/core/diff/query/save.py
  changelog/+diff-performance.fixed.md
Labels: group/backend

only get and save the parts of the diff we need (#5671)
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/filters.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  changelog/+diff-performance.fixed.md
Labels: group/backend

Add additional parameters to InfrahubEvent
  backend/infrahub/core/changelog/models.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

add context to branches provider
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/entities/branches/ui/hooks/use-current-branch.ts
  frontend/app/src/entities/tasks/ui/task-status.test.tsx
  frontend/app/src/entities/tasks/ui/task-status.tsx
Labels: group/frontend

more
  frontend/app/src/entities/diff/node-diff/conflict.tsx
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/entities/permission/domain/get-object-permissions.query.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-edit-form.tsx
  frontend/app/src/shared/components/branch-selector.tsx
  frontend/app/src/shared/components/display/slide-over.tsx
  frontend/app/src/shared/components/menu/domain/get-menu.query.ts
Labels: group/frontend

fix
  frontend/app/src/entities/branches/ui/branches-provider.tsx
Labels: group/frontend

fix test
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
Labels: group/frontend

fix test
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
Labels: group/frontend

ensure api query reacts to branch and date changes
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/entities/nodes/object/api/delete-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/delete-object.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
  frontend/app/src/entities/nodes/relationships/api/get-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/entities/nodes/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/entities/permission/domain/get-object-permissions.query.ts
  frontend/app/src/entities/permission/domain/get-object-permissions.ts
  frontend/app/src/shared/api/types.ts
Labels: group/frontend

add time menu
  frontend/app/src/shared/components/menu/domain/get-menu.query.ts
  frontend/app/src/shared/components/menu/domain/get-menu.ts
Labels: group/frontend

move menu
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/menu/domain/get-menu.query.ts
  frontend/app/src/shared/components/menu/domain/get-menu.ts
  frontend/app/src/shared/components/search/search-actions.tsx
Labels: group/frontend

menu
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch.query.ts
  frontend/app/src/shared/components/layout/menu-navigation/domain/get-menu.query.ts
  frontend/app/src/shared/components/layout/menu-navigation/domain/get-menu.ts
  frontend/app/src/shared/components/layout/menu-navigation/get-menu.ts
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/search/search-actions.tsx
Labels: group/frontend

more
  frontend/app/src/entities/diff/api/get-diff-tree-from-api.ts
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/nodes/api/generateRelationshipListQuery.ts
  frontend/app/src/entities/permission/api/get-permissions-from-api.ts
  frontend/app/src/entities/permission/domain/get-object-permissions.ts
Labels: group/frontend

Add list of ancestor events
  backend/infrahub/events/models.py
Labels: group/backend

Fix incorrect event value for proposed change state after merging
  backend/infrahub/graphql/mutations/proposed_change.py
  changelog/5600.fixed.md
Labels: group/backend

add blog link to docs (#5773)
  docs/docs/guides/generator.mdx
  docs/docs/overview/data.mdx
  docs/docs/overview/generators.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/overview/readme.mdx
  docs/docs/overview/schema.mdx
  docs/docs/overview/transformations.mdx
  docs/docs/overview/versioning.mdx
  docs/docs/topics/generator.mdx
Labels: type/documentation

fix test
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/tests/components/render.tsx
Labels: group/frontend

Refactor InfrahubEventFilter
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/task_manager/event.py
  backend/infrahub/task_manager/models.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

feat(testcontainers): add api and task worker scale out
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/haproxy.cfg
Labels: none

ensure api query reacts to branch and date changes (#5771)
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/entities/branches/ui/hooks/use-current-branch.ts
  frontend/app/src/entities/diff/api/get-diff-tree-from-api.ts
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/node-diff/conflict.tsx
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/entities/nodes/api/generateRelationshipListQuery.ts
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object/api/delete-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/delete-object.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
  frontend/app/src/entities/nodes/relationships/api/get-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/entities/nodes/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/entities/permission/api/get-permissions-from-api.ts
  frontend/app/src/entities/permission/domain/get-object-permissions.query.ts
  frontend/app/src/entities/permission/domain/get-object-permissions.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-edit-form.tsx
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch.query.ts
  frontend/app/src/entities/tasks/ui/task-status.test.tsx
  frontend/app/src/entities/tasks/ui/task-status.tsx
  frontend/app/src/shared/api/types.ts
  frontend/app/src/shared/components/branch-selector.tsx
  frontend/app/src/shared/components/display/slide-over.tsx
  frontend/app/src/shared/components/layout/menu-navigation/get-menu.ts
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/menu/domain/get-menu.query.ts
  frontend/app/src/shared/components/menu/domain/get-menu.ts
  frontend/app/src/shared/components/search/search-actions.tsx
  frontend/app/tests/components/render.tsx
Labels: group/frontend

Use react-query instead of apollo to remove a relationship
  frontend/app/src/entities/groups/ui/object-groups-list.tsx
  frontend/app/src/entities/nodes/relationships/api/remove-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.mutation.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.ts
  frontend/app/src/shared/api/types.ts
Labels: group/frontend

added test
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.test.ts
Labels: group/frontend

Use react-query instead of apollo to remove a relationship (#5780)
  frontend/app/src/entities/groups/ui/object-groups-list.tsx
  frontend/app/src/entities/nodes/relationships/api/remove-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.mutation.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.ts
  frontend/app/src/shared/api/types.ts
Labels: group/frontend

feat(testcontainers): add api and task worker scale out
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/haproxy.cfg
Labels: none

Validate `get_global_permission_for_kind`
  backend/tests/unit/permissions/test_types.py
Labels: group/backend

Check for permissions in rel add/delete mutations
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/permissions/__init__.py
  backend/infrahub/permissions/types.py
Labels: group/backend

Add changelog record
  changelog/+relationship-mutation-permission.fixed.md
Labels: none

Add tests to validate behaviour
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

Added edit in object table actions
  frontend/app/src/entities/nodes/object/ui/object-table/cells/actions-cell.tsx
Labels: group/frontend

fix import
  frontend/app/src/entities/nodes/object/ui/filters/filter-search-input.tsx
Labels: group/frontend
