Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

cleanup
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
Labels: type/documentation

cleanup
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
Labels: type/documentation

add changelog
  changelog/cardinalityonerelationship.fixed.md
Labels: none

Add checks within test
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/test_get_kinds_lock.py
Labels: group/backend

rebase
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/m023_deduplicate_cardinality_one_relationships.py
  backend/tests/unit/core/migrations/graph/test_023.py
Labels: group/backend

016, Migration017,Fix multiple cardinality one relationships
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m021_deduplicate_cardinality_one_relationships.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_get_kinds_lock.py
Labels: group/backend

add ip prefix lock on any branch
  backend/infrahub/graphql/mutations/ipam.py
Labels: group/backend

Minor CYPHER query changes
  backend/infrahub/core/migrations/graph/m021_deduplicate_cardinality_one_relationships.py
  backend/tests/unit/graphql/test_manager.py
Labels: group/backend

Minor changes
  backend/infrahub/graphql/mutations/ipam.py
Labels: group/backend

changelog
  changelog/cardinalityonerelationship.fixed.md
  changelog/ipaddressmultipleprefixes.fixed.md
Labels: none

inherited schema fields fixes (#6146)
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
  changelog/5793.fixed.md
Labels: group/backend

disable test
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
Labels: group/frontend

disable test
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: group/frontend

Migration to fix cardinality one relationships (#5930)
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m023_deduplicate_cardinality_one_relationships.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/tests/conftest.py
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/graphql/test_manager.py
  changelog/ipaddressmultipleprefixes.fixed.md
Labels: group/backend

[FIX] Ensure links navigates to a node custom view every time
  changelog/url.fixed.md
  frontend/app/src/entities/events/ui/artifact-events/artifact-event-title.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
  frontend/app/src/entities/graphql/ui/graphql-query-details-card.tsx
  frontend/app/src/entities/groups/ui/object-groups-list.tsx
  frontend/app/src/entities/ipam/common/ip-details-card.tsx
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/entities/nodes/object-items/object-items-cell.tsx
  frontend/app/src/entities/nodes/object/ui/node-description.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/object-actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-relationships-manager.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/resource-manager/ui/resource-selector.tsx
  frontend/app/src/entities/schema/ui/schema-help-menu.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/resource-allocation-details.tsx
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/shared/components/form/fields/common.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/shared/components/search/search-nodes.tsx
Labels: group/frontend

Add INFRAHUB_SCHEMA_STRICT_MODE environment variable that defaults to true.
  development/docker-compose.yml
Labels: none

Disable duplicated addresses migration
  backend/infrahub/core/migrations/graph/__init__.py
Labels: group/backend

[FIX] Ensure links navigates to a node custom view every time (#6159)
  changelog/url.fixed.md
  frontend/app/src/entities/events/ui/artifact-events/artifact-event-title.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
  frontend/app/src/entities/graphql/ui/graphql-query-details-card.tsx
  frontend/app/src/entities/groups/ui/object-groups-list.tsx
  frontend/app/src/entities/ipam/common/ip-details-card.tsx
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/entities/nodes/object-items/object-items-cell.tsx
  frontend/app/src/entities/nodes/object/ui/node-description.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/object-actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-relationships-manager.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/resource-manager/ui/resource-selector.tsx
  frontend/app/src/entities/schema/ui/schema-help-menu.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/resource-allocation-details.tsx
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/shared/components/form/fields/common.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/shared/components/search/search-nodes.tsx
Labels: group/frontend

Disable test
  backend/tests/unit/core/migrations/graph/test_023.py
Labels: group/backend

fix(testcontainers): change perf fixture scope
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

Disable duplicated addresses migration (#6158)
  backend/infrahub/core/migrations/graph/__init__.py
  backend/tests/unit/core/migrations/graph/test_023.py
Labels: group/backend

Display relationships updates in activity details (#6116)
  changelog/activities.added.md
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/node-events/event-relationships.tsx
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
Labels: group/frontend

fix(testcontainers): change perf fixture scope
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

Increase benchmarks timeout
  backend/tests/benchmark/intensive/test_batch_create.py
  pyproject.toml
Labels: group/backend

Fix merge button state depending on ongoing merge tasks (#6135)
  changelog/6059.fixed.md
  frontend/app/src/entities/branches/ui/branch-details.tsx
  frontend/app/src/entities/branches/ui/branch-merge-button.tsx
  frontend/app/tests/e2e/branches/branches.spec.ts
  frontend/app/tests/e2e/branches/merge-branch.spec.ts
  frontend/app/tests/e2e/docs-regression-check/guides/resource_manager_guide.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: group/frontend

Pass message to init
  backend/infrahub/exceptions.py
  backend/tests/unit/git/test_git_repository.py
Labels: group/backend

Use service fixture
  backend/tests/integration/git/test_repository.py
Labels: group/backend

Set client in tests to avoid failure
  backend/tests/unit/git/test_git_repository.py
Labels: group/backend

Add mock response for operation status update in tests
  backend/tests/unit/git/test_git_repository.py
Labels: group/backend

Set operational status of repo after fetch
  backend/infrahub/exceptions.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/tests/integration/git/test_repository.py
Labels: group/backend

Fix tests. Add news fragment.
  backend/tests/unit/git/test_git_read_only_repository.py
  backend/tests/unit/git/test_git_repository.py
  changelog/5713fixed.md
Labels: group/backend

Add upgrade documentation (#6157)
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/sidebars.ts
Labels: type/documentation

stop using local_rels/attrs in schema update
  backend/infrahub/core/schema/manager.py
Labels: group/backend

more tests
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

add attributes to test
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

pylint fix
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

formatting
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

fix functional test
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

add functional test
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

mypy fix
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
