Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix profile
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/utils/permissions.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

fix filter test
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

fix search e2e
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

fix auth
  frontend/app/tests/e2e/objects/object-list-search.spec.ts
Labels: group/frontend

skip profiles
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

check permission for object details and items
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/graphql/queries/objects/getObjectItems.ts
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/screens/errors/unauthorized-screen.tsx
  frontend/app/src/screens/groups/groups-manager-trigger-button.tsx
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

skip anonymous test for now
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

update mock data
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/graphqlQueries.ts
  frontend/app/tests/mocks/data/permissions.ts
  frontend/app/tests/mocks/data/task.ts
  frontend/app/tests/mocks/data/task_1.ts
  frontend/app/tests/mocks/data/task_2.ts
  frontend/app/tests/mocks/data/task_3.ts
  frontend/app/tests/mocks/data/task_4.ts
  frontend/app/tests/mocks/data/task_5.ts
  frontend/app/tests/mocks/data/task_6.ts
  frontend/app/tests/mocks/data/task_7.ts
Labels: group/frontend

skip anonymous profile test
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

use admin auth for artifacts
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: group/frontend

remove permission from branch selector
  frontend/app/src/components/branch-selector.tsx
Labels: group/frontend

update types
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

fix token.spec.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

fix auth for object list
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: group/frontend

add kind for filter in use object items for permission
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
  development/docker-compose.yml
Labels: group/ci

test
  development/docker-compose.yml
Labels: none

added content card around branch details
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/layout/content.tsx
Labels: group/frontend

branches list
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/content.tsx
Labels: group/frontend

Add cardcontent
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/layout/content.tsx
Labels: group/frontend

color svg on active
  frontend/app/src/screens/layout/breadcrumb-navigation/style.ts
Labels: group/frontend

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

New Layout: Wrap banch related pages in a card (#4626)
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/style.ts
  frontend/app/src/screens/layout/content.tsx
Labels: group/frontend

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

add flag for artifact
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

remove log
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

fix unauth test
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

test
  .github/workflows/ci.yml
Labels: group/ci

remove husky everywhere
  .dockerignore
  frontend/app/package-lock.json
  frontend/app/package.json
  package-lock.json
  package.json
Labels: group/frontend
