Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Fix issues with markdown lint
  .github/workflows/ci.yml
  .markdownlint.yaml
Labels: group/ci

Add support for NumberPool attribute kind
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/database/__init__.py
  backend/infrahub/types.py
  backend/templates/attributeschema_imports.j2
  backend/tests/helpers/schema/snow.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
  docs/docs/reference/schema/attribute.mdx
Labels: group/backend, type/documentation

fix test
  frontend/app/tests/e2e/schema.spec.ts
Labels: group/frontend

Migrated menu to react-aria-components
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/artifacts/ui/artifact-details-menu.tsx
  frontend/app/src/entities/repository/ui/repository-action-menu.tsx
  frontend/app/src/entities/schema/ui/schema-help-menu.tsx
  frontend/app/src/shared/components/aria/menu.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/src/shared/components/menu/object-help-button.tsx
Labels: group/frontend

added changelog
  changelog/+menu.added.md
Labels: none

update remaining cypher CALL subqueries to new format
  backend/infrahub/core/migrations/query/attribute_rename.py
  backend/infrahub/core/migrations/query/delete_element_in_schema.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/query/relationship_duplicate.py
  backend/infrahub/core/migrations/schema/node_attribute_remove.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/infrahub/core/query/relationship.py
Labels: group/backend

update remaining cypher CALL subqueries to new format (#6512)
  backend/infrahub/core/migrations/query/attribute_rename.py
  backend/infrahub/core/migrations/query/delete_element_in_schema.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/query/relationship_duplicate.py
  backend/infrahub/core/migrations/schema/node_attribute_remove.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/infrahub/core/query/relationship.py
Labels: group/backend

Address feedback
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/attribute_schema.py
Labels: group/backend

Add weighted pool resource generic
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/resource_manager/test_ipaddress_pool.py
  backend/tests/unit/core/resource_manager/test_prefix_pool.py
Labels: group/backend

Rename attribute to `pool_allocation_weight`
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/tests/unit/conftest.py
Labels: group/backend

Add protocol
  backend/infrahub/core/protocols.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

Remove pool prefix from attr name
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
Labels: group/backend

Add changelog record
  changelog/+pool_weighted_allocation.added.md
Labels: none

Fix tests
  backend/tests/unit/core/resource_manager/test_ipaddress_pool.py
  backend/tests/unit/core/resource_manager/test_prefix_pool.py
Labels: group/backend

clean up deduplicate edges patch
  backend/infrahub/patch/queries/delete_duplicated_edges.py
Labels: group/backend

IFC-1530 Add weighted pool resource generic (#6511)
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/resource_manager/test_ipaddress_pool.py
  backend/tests/unit/core/resource_manager/test_prefix_pool.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+pool_weighted_allocation.added.md
Labels: group/backend

Migrated menu to react-aria-components (#6504)
  changelog/+menu.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/artifacts/ui/artifact-details-menu.tsx
  frontend/app/src/entities/repository/ui/repository-action-menu.tsx
  frontend/app/src/entities/schema/ui/schema-help-menu.tsx
  frontend/app/src/shared/components/aria/menu.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/src/shared/components/menu/object-help-button.tsx
  frontend/app/tests/e2e/schema.spec.ts
Labels: group/frontend

Allow passing filters to object count query in UI
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object/api/get-objects-count-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.ts
Labels: group/frontend

add changelog
  changelog/object-count.added.md
Labels: none

fix(testcontainers): show container logs on test failure
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: none

Add Number attribute min/max_value
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/attribute/min_max.py
  backend/infrahub/core/validators/enum.py
  backend/tests/integration/schema_lifecycle/test_attribute_parameters_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_number_constraints.py
Labels: group/backend

Add excluded values + support number pool
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/attribute/min_max.py
  backend/infrahub/core/validators/enum.py
  backend/tests/unit/core/constraint_validators/test_attribute_number_constraints.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
Labels: group/backend

remove top level min/max_value
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/validators/attribute/min_max.py
  backend/tests/integration/schema_lifecycle/test_attribute_parameters_update.py
Labels: group/backend

minor changes
  backend/infrahub/core/validators/attribute/choices.py
  backend/infrahub/core/validators/attribute/enum.py
  backend/infrahub/core/validators/attribute/kind.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/min_max.py
  backend/infrahub/core/validators/attribute/optional.py
  backend/infrahub/core/validators/attribute/regex.py
Labels: group/backend

NumberPoolParameters inherit from NumberParameters
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/templates/attributeschema_imports.j2
  backend/tests/unit/core/schema/test_attribute_parameters.py
Labels: group/backend

Allow passing filters to object count query in UI (#6514)
  changelog/object-count.added.md
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object/api/get-objects-count-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.ts
Labels: group/frontend

fix attribute display and update test
  frontend/app/src/entities/schema/ui/attribute-display.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
Labels: group/frontend

Display new attributes parameters in the schema viewer - IFC-1527 (#6510)
  frontend/app/src/entities/schema/ui/attribute-display.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
  frontend/app/src/entities/schema/ui/styled.tsx
Labels: group/frontend

add parameters display for number pool
  frontend/app/src/entities/schema/ui/attribute-display.tsx
Labels: group/frontend

update mocks
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

update test
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
Labels: group/frontend

fix test
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
Labels: group/frontend

fix(backend): ignore neo4j deprecation logs
  backend/infrahub/database/__init__.py
Labels: group/backend

Add docs
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

Add attribute description
  backend/infrahub/core/schema/definitions/core/resource_pool.py
Labels: group/backend

New ip namespace list view with count
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/namespaces/domain/get-ip-namespace-list.query.ts
  frontend/app/src/entities/ipam/namespaces/domain/get-ip-namespace-list.ts
  frontend/app/src/entities/ipam/namespaces/ui/ip-namespace-card.tsx
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/ipam/namespaces/ip-namespace-list-page.tsx
  frontend/app/src/shared/components/container.tsx
Labels: group/frontend

Add style on focus
  frontend/app/src/entities/ipam/namespaces/ui/ip-namespace-card.tsx
Labels: group/frontend

add link to all namespaces in ip namespace selector
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/pages/ipam/namespaces/ip-namespace-list-page.tsx
  frontend/app/src/shared/components/container.tsx
Labels: group/frontend

add inherited generic
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

fix(backend): ignore neo4j deprecation logs
  backend/infrahub/database/__init__.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
