Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

one more comment
  backend/tests/db_snapshot.py
Labels: group/backend

use assert_equal instead of compare
  backend/tests/db_snapshot.py
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
Labels: group/backend

make sure all "to_delete" vertexes are deleted
  backend/infrahub/core/migrations/graph/m029_duplicates_cleanup.py
Labels: group/backend

Initial topic for NumberPools attribute. Autogenerated screenshots, etc.
  docs/docs/media/numberpool_attribute_kind_resource_manager.png
  docs/docs/media/schema_numberpool.png
  docs/docs/topics/attribute-kind-number-pool.mdx
  docs/docs/topics/schema-attr-kind-number-pool.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/tests/e2e/schema.spec.ts
  models/base/service.yml
  models/infrastructure_edge.py
Labels: group/frontend, type/documentation

fix attribute add migration for deleted nodes (#6569)
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m030_illegal_edges.py
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/database/validation.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
  backend/tests/integration/schema_lifecycle/test_migration_attribute_branch.py
  backend/tests/integration/schema_lifecycle/test_migration_generic_renaming.py
  backend/tests/integration/schema_lifecycle/test_migration_hierarchy_change.py
  backend/tests/integration/schema_lifecycle/test_migration_kind_update.py
  backend/tests/integration/schema_lifecycle/test_migration_relationship_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_attribute_remove_add.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_main.py
  backend/tests/integration/schema_lifecycle/test_schema_template_update.py
  backend/tests/integration/schema_lifecycle/test_schema_update.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_add_mandatory_attr_rel.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_inherit_from.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_rebase.py
  backend/tests/unit/core/migrations/graph/test_030.py
  changelog/+posthumous-edges.fixed.md
Labels: group/backend

Fix formatting issue in JS.
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/tests/e2e/schema.spec.ts
Labels: group/frontend

extra-thorough test for latest migration (#6567)
  backend/infrahub/core/migrations/graph/m029_duplicates_cleanup.py
  backend/tests/db_snapshot.py
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
Labels: group/backend

fix(ci/docker): workaround issue with poetry 2
  development/Dockerfile
Labels: none

Added automated generation of schema kind parameters.
  docs/_templates/schema/attribute_kind_params.j2
  docs/docs/snippets/attribute-kind-params.mdx
  docs/docs/topics/schema-attr-kind-number-pool.mdx
  docs/docs/topics/schema.mdx
  docs/sidebars.ts
  tasks/docs.py
Labels: type/documentation

Fixing linting/formatting issues.
  docs/_templates/schema/attribute_kind_params.j2
  docs/docs/snippets/attribute-kind-params.mdx
  tasks/docs.py
Labels: type/documentation

Fixed acorn issue.
  docs/_templates/schema/attribute_kind_params.j2
  docs/docs/snippets/attribute-kind-params.mdx
Labels: type/documentation

fix(ci/docker): workaround issue with poetry 2
  development/Dockerfile
Labels: none

fix(ci/docker): workaround issue with poetry 2
  development/Dockerfile
Labels: none

update cypher query to use less memory
  backend/infrahub/core/diff/query/save.py
  changelog/6568.fixed.md
Labels: group/backend

fix(backend): improve uniqueness constraint query
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

add more unit tests
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
Labels: group/backend

handle queries where no attrs match, but relationships do
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

fix(backend): fixes after rebase
  backend/infrahub/core/validators/uniqueness/query.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_constraint_query.py
Labels: group/backend

update to handle UNWIND on empty list ending query
  backend/infrahub/core/diff/query/save.py
Labels: group/backend

update cypher query to use less memory (#6580)
  backend/infrahub/core/diff/query/save.py
  changelog/6568.fixed.md
Labels: group/backend

update cypher query to use less memory (#6580)
  backend/infrahub/core/diff/query/save.py
  changelog/6568.fixed.md
Labels: group/backend

fix(testcontainers): allow running without pytest plugin
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: none

update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

more update
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

update frontend dependencies (#6574)
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Delete unused schema defined NumberPools whey they are no longer in use
  backend/infrahub/branch/__init__.py
  backend/infrahub/branch/tasks.py
  backend/infrahub/branch/triggers.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/infrahub/pools/registration.py
  backend/infrahub/pools/tasks.py
  backend/infrahub/schema/__init__.py
  backend/infrahub/schema/tasks.py
  backend/infrahub/schema/triggers.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/pools/__init__.py
  backend/tests/functional/pools/test_numberpool_lifecycle.py
Labels: group/backend

ui finetune
  frontend/app/src/entities/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/entities/ipam/prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/pages/ipam/ipam-details-page.tsx
  frontend/app/src/pages/ipam/layout.tsx
Labels: group/frontend

added back ip namespace test
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/ipam-tree/ipam-tree.state.ts
  frontend/app/src/entities/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/entities/ipam/namespaces/ui/ip-namespace-provider.tsx
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-menu.tsx
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-tab.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager-toolbar.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/shared/components/errors/error-screen.tsx
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
Labels: group/frontend

fix ip address test
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
Labels: group/frontend

same width trigger
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
Labels: group/frontend

add breadcrumb
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-manager.tsx
  frontend/app/src/entities/ipam/prefixes/ui/ip-prefix-manager.tsx
  frontend/app/src/pages/ipam/ipam-breadcrumb.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
Labels: group/frontend

extract object table toolbar into a dedicated component
  frontend/app/src/entities/nodes/object/ui/objects-manager-toolbar.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
Labels: group/frontend

fix scroll x ip address table
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
Labels: group/frontend

better width
  frontend/app/src/pages/ipam/layout.tsx
Labels: group/frontend

more renaming
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/ipam/ip-namespaces/domain/get-ip-namespace-list.query.ts
  frontend/app/src/entities/ipam/ip-namespaces/domain/get-ip-namespace-list.ts
  frontend/app/src/entities/ipam/utils.ts
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/pages/ipam/ipam-namespace-list-page.tsx
Labels: group/frontend

new route
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-details.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-manager.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/src/entities/ipam/namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/entities/ipam/prefixes/domain/get-ip-prefix-list.query.ts
  frontend/app/src/entities/ipam/prefixes/domain/get-ip-prefix-list.ts
  frontend/app/src/entities/ipam/prefixes/ipam-prefixes-summary-details.tsx
  frontend/app/src/entities/ipam/prefixes/ui/ip-prefix-details.tsx
  frontend/app/src/entities/ipam/prefixes/ui/ip-prefix-manager.tsx
  frontend/app/src/entities/ipam/prefixes/ui/ip-prefix-table.tsx
  frontend/app/src/entities/ipam/prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/entities/ipam/prefixes/utils/get-prefix-attributes-visible-in-list-view.ts
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-menu.tsx
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-tab.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header-icon.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/pages/ipam/ipam-details-page.tsx
  frontend/app/src/pages/ipam/ipam-details-relationship-page.tsx
  frontend/app/src/pages/ipam/ipam-ip-addresses-page.tsx
  frontend/app/src/pages/ipam/ipam-ip-prefixes-page.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/shared/components/ui/link.tsx
Labels: group/frontend

ui table adjustment
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/src/entities/ipam/prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/shared/components/table/data-table.tsx
Labels: group/frontend

added test on filter prefix list + ui adjustement
  frontend/app/src/entities/ipam/ip-namespaces/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-provider.tsx
  frontend/app/src/entities/ipam/ipam-breadcrumb.tsx
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/pages/ipam/ipam-layout.tsx
  frontend/app/src/pages/ipam/ipam-namespace-list-page.tsx
  frontend/app/src/shared/components/ui/link.tsx
  frontend/app/tests/e2e/ipam/ip-prefix-list-filters.spec.ts
Labels: group/frontend

lint
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-menu.tsx
  frontend/app/src/pages/ipam/ipam-breadcrumb.tsx
Labels: group/frontend

folder renaming
  frontend/app/src/entities/ipam/ip-namespaces/domain/get-ip-namespace-list.query.ts
  frontend/app/src/entities/ipam/ip-namespaces/domain/get-ip-namespace-list.ts
  frontend/app/src/entities/ipam/ip-namespaces/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-card.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-provider.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-ip-prefix-list.query.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-ip-prefix-list.ts
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-details.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-manager.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-table.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-prefix-attributes-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ipam-tree/ipam-tree.state.ts
  frontend/app/src/entities/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/pages/ipam/ipam-details-page.tsx
  frontend/app/src/pages/ipam/ipam-details-relationship-page.tsx
  frontend/app/src/pages/ipam/ipam-ip-addresses-list-page.tsx
  frontend/app/src/pages/ipam/ipam-ip-prefixes-list-page.tsx
  frontend/app/src/pages/ipam/ipam-layout.tsx
  frontend/app/src/pages/ipam/ipam-namespace-list-page.tsx
Labels: group/frontend
