Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

lint
  backend/infrahub/config.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/proposed_change/approval_revoker.py
Labels: group/backend

Add using api tolen
  docs/docs/guides/managing-api-tokens.mdx
Labels: type/documentation

Delete auth guide
  docs/docs/topics/auth.mdx
Labels: type/documentation

Final version of sso guide
  docs/docs/guides/sso.mdx
Labels: type/documentation

SSO reference
  docs/docs/reference/sso.mdx
Labels: type/documentation

Final version of authentication topic
  docs/docs/topics/authentication.mdx
Labels: type/documentation

add mutation test
  backend/tests/functional/proposed_change/test_check_for_approval_revoke.py
Labels: group/backend

Permission and role topic
  docs/docs/topics/permissions-roles.mdx
Labels: type/documentation

Permission reference
  docs/docs/reference/permissions.mdx
Labels: type/documentation

Linting
  docs/docs/guides/managing-api-tokens.mdx
  docs/docs/guides/sso.mdx
  docs/docs/reference/permissions.mdx
  docs/docs/reference/sso.mdx
Labels: type/documentation

add lock
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/message_bus/types.py
Labels: group/backend

use NodeManager.query
  backend/infrahub/core/node/proposed_change.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/tests/functional/proposed_change/test_comment_counts.py
Labels: group/backend

lint
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/schema.py
Labels: group/backend

Update sidebar
  docs/sidebars.ts
Labels: type/documentation

add single lock instead of multi
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

lint
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

Add ProposedChange.total_comments readonly property (#6919)
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/proposed_change.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/tests/functional/proposed_change/test_comment_counts.py
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

Add check merge dependencies for proposed change approval (#6895)
  backend/infrahub/config.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/proposed_change/approval_revoker.py
  backend/infrahub/proposed_change/checker.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/tests/functional/proposed_change/test_check_for_approval_revoke.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend

add test
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/tests/e2e/ipam/ip-prefix-list.spec.ts
Labels: group/frontend

typo
  changelog/+ifc1586.added.md
Labels: none

fix
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/shared/components/ui/link.tsx
Labels: group/frontend

IP Prefix details page show the list of members first instead of full details
  changelog/+ifc1586.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/ipam-details-tabs.tsx
  frontend/app/src/pages/ipam/ipam-details-index-page.tsx
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/shared/components/ui/link.tsx
Labels: group/frontend

Add logic to exclude environment vars defined in 'x-infrahub-api-server'
  tasks/release.py
Labels: none

IP Prefix details page now show the list of members first instead of full details (#6930)
  changelog/+ifc1586.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/entities/ipam/ipam-details-tabs.tsx
  frontend/app/src/pages/ipam/ipam-details-index-page.tsx
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/shared/components/ui/link.tsx
  frontend/app/tests/e2e/ipam/ip-prefix-list.spec.ts
Labels: group/frontend

clean up deletes, finish test
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

add changelog
  changelog/6928.fixed.md
Labels: none

cleanup resource manager guide
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

markdownlint
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

copy pasta error
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

Add support for nested GraphQL fragments
  backend/infrahub/graphql/field_extractor.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/parser.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/queries/branch.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/queries/relationship.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/graphql/queries/search.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/resolvers/ipam.py
  backend/infrahub/graphql/resolvers/many_relationship.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/5322.added.md
Labels: group/backend

chore: upgrade prefect-redis to latest
  poetry.lock
  pyproject.toml
Labels: none

chore: upgrade prefect to 3.4.11
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: group/backend

chore: upgrade prefect to 3.4.11
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: group/backend

chore: upgrade prefect-redis to latest
  poetry.lock
  pyproject.toml
Labels: none

Split events into more specific ones
  backend/infrahub/events/__init__.py
  backend/infrahub/events/proposed_change_action.py
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

Remove review requested event trigger for now
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

Fix enum to use new events
  backend/infrahub/core/constants/__init__.py
Labels: group/backend

Add trigger to proposed change merged event
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

Update docs
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation

Update doc
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
