Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Address Vale issues found with spelling of VSCode/vscode and sentence-case header issues.
  .vale/styles/spelling-exceptions.txt
  docs/docs/development/docs.mdx
Labels: type/documentation

migrate tasks to `release` namespace and update to use `yaml`
  .github/workflows/update-compose-file-and-chart.yml
  poetry.lock
  pyproject.toml
  tasks/dev.py
  tasks/release.py
  tasks/shared.py
  tasks/utils.py
Labels: group/ci

Update Benchmark Docker Image Output Directory
  utilities/benchmark/Dockerfile
Labels: none

fix(utilities, benchmark): follow redirect for tool
  utilities/benchmark/Dockerfile
Labels: none

Update create-schema.mdx
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

update constant
  frontend/app/src/screens/tasks/constants.ts
Labels: group/frontend

update tasks to display al of them
  frontend/app/src/screens/branches/task-display.tsx
Labels: group/frontend

update test to wait for completed merge
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

remove log
  frontend/app/src/screens/branches/task-display.tsx
Labels: group/frontend

update test to open accordion
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

fix missing import
  tasks/__init__.py
Labels: none

stash wip
  tasks/release.py
  tasks/shared.py
Labels: none

fix loading after search
  frontend/app/src/screens/tasks/task-items.tsx
Labels: group/frontend

add default value from search filter
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

update style
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
Labels: group/frontend

fix docstring and add logging
  tasks/release.py
  tasks/shared.py
Labels: none

remove depricated default_filter
  models/examples/slurpit/slurpit.yml
Labels: none

remove depricated default_filter
  models/examples/slurpit/slurpit.yml
Labels: none

Forbid changing optional prop of inherited attr
  backend/infrahub/core/schema/node_schema.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

update loading message
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

Update slurpit.yml
  models/examples/slurpit/slurpit.yml
Labels: none

Add changelog entry
  changelog/4936.fixed.md
Labels: none

remove wait for completion in mutation
  frontend/app/src/graphql/mutations/branches/deleteBranch.ts
Labels: group/frontend

wip on reworking release notes
  changelog/infrahub-v1.0.4.md
  pyproject.toml
  tasks/release.py
Labels: none

Forbid changing optional property of inherited attributes (#4940)
  backend/infrahub/core/schema/node_schema.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4936.fixed.md
Labels: group/backend

Updates per PR review.
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/pools/prefix.py
  backend/tests/unit/pools/test_prefix.py
Labels: group/backend

Update get_next_available_prefix docstring.
  backend/infrahub/pools/prefix.py
Labels: group/backend

add schema back to menu
  docs/sidebars.ts
Labels: type/documentation

add type
  frontend/app/src/utils/fetch.ts
Labels: group/frontend

update signout
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/hooks/useAuth.tsx
Labels: group/frontend

chore: release 1.0.6
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/+anonymous.fixed.md
  changelog/4936.fixed.md
  changelog/4958.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_6.mdx
  docs/docs/release-notes/infrahub/release-1_0_7-DRAFT.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

fix hierarchical relationship handling in diff (#4889)
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

remove parent nodes from copy during diff combine
  backend/infrahub/core/diff/combiner.py
Labels: group/backend

add changelog
  changelog/+diff-hierarchy-add.fixed.md
Labels: none

only add deleted edges where necessary when deleting a relationship
  backend/infrahub/core/query/relationship.py
Labels: group/backend

account for branches
  backend/infrahub/core/query/relationship.py
Labels: group/backend

add changelog
  changelog/+extra-deleted-edges.fixed.md
Labels: none

Enforce repo management permission
  backend/infrahub/graphql/api/dependencies.py
Labels: group/backend

Enforce repo management permission
  backend/infrahub/graphql/api/dependencies.py
Labels: group/backend

Fix report for nodes covered by gloab perms
  backend/infrahub/permissions/report.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
