Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

pylint
  backend/infrahub/graphql/resolver.py
Labels: group/backend

WIP prototype using DataLoader for single_relationship_resolver
  backend/infrahub/core/query/relationship.py
  backend/infrahub/dependencies/component/registry.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/resolver.py
  poetry.lock
  pyproject.toml
Labels: group/backend

remove component caching
  backend/infrahub/dependencies/component/registry.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/resolver.py
Labels: group/backend

use get_many for cardinality-one data loader
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/resolver.py
  backend/tests/unit/graphql/test_graphql_query.py
Labels: group/backend

add old resolve logic as fallback when metadata is required
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/resolver.py
Labels: group/backend

fix rel_manager conditional check
  backend/infrahub/core/node/__init__.py
Labels: group/backend

pylint fix
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/subscription/graphql_query.py
Labels: group/backend

add changelog
  changelog/522.changed.md
Labels: none

move code around
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/loaders/__init__.py
  backend/infrahub/graphql/loaders/node.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolvers/__init__.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/infrahub/graphql/subscription/graphql_query.py
  pyproject.toml
Labels: group/backend

big refactor, relationship identifier filter for query
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_manager_node.py
Labels: group/backend

Add branch support to transform based computed attributes
  backend/infrahub/computed_attribute/constants.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/branch/constants.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/registry.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/server.py
  backend/infrahub/services/scheduler.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/ipam/test_proposed_change_reconcile.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

Prevent double tab navigation with a button is inside a link (#5256)
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
Labels: group/frontend

Correctly scroll and form fields when there is a submit error (#5252)
  frontend/app/src/components/editor/index.tsx
  frontend/app/src/components/editor/json/json-editor.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/components/form/fields/relationship-many.field.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/inputs/color-picker.tsx
  frontend/app/src/components/inputs/date-picker.tsx
  frontend/app/src/components/inputs/input.tsx
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/list.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/components/ui/style.ts
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
Labels: group/frontend

Add local lock to ensure 2 tasks aren't making changes to the local directory at the same time
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/repository.py
  backend/infrahub/lock.py
Labels: group/backend

Add identifier and direction into the Schema Topics (#5251)
  docs/docs/topics/schema.mdx
Labels: type/documentation

Correctly reset search params when going back in hierarchical explorer
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/screens/objects/relationships/ui/add-relationship-action.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-input.tsx
Labels: group/frontend

fix typo in variables
  frontend/app/src/components/ui/id.tsx
Labels: group/frontend

add fragments
  changelog/5002.fixed.md
  changelog/5118.fixed.md
Labels: none

Added new "dev" command that enable devtools on UI
  frontend/app/package.json
  frontend/app/src/devtools.tsx
Labels: group/frontend

Fix query to correctly send variables in the task details query (#5262)
  changelog/5002.fixed.md
  changelog/5118.fixed.md
  frontend/app/src/components/ui/id.tsx
Labels: group/frontend

adds branch locking mechanism explanation to version control topic
  docs/docs/topics/version-control.mdx
Labels: type/documentation

Improved response time of menu api endpoint
  backend/infrahub/api/menu.py
  changelog/+menu-api.changed.md
Labels: group/backend

Add more logging to generators
  backend/infrahub/message_bus/messages/check_generator_run.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Add more logs during Artifact processing in a propose change
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
Labels: group/backend

test upgrade version
  .github/workflows/ci.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci

release 1.0.10
  CHANGELOG.md
  changelog/3065.fixed.md
  changelog/5005.added.md
  docs/docs/release-notes/infrahub/release-1_0_10.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

stage latest changelog
  CHANGELOG.md
  pyproject.toml
Labels: none

fix e2e
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
Labels: group/frontend

fix current selected value
  frontend/app/src/components/ui/pagination.tsx
Labels: group/frontend

switch to combobox
  frontend/app/src/components/ui/pagination.tsx
Labels: group/frontend

updated component test
  frontend/app/src/components/ui/pagination.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend

update to command and fix style
  frontend/app/src/components/ui/pagination.tsx
Labels: group/frontend

cleaning
  frontend/app/src/components/ui/pagination.tsx
Labels: group/frontend

stage release note updates
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
Labels: type/documentation

add changelog entry for fixes to `db update-core-schema`
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_0_10.mdx
Labels: type/documentation

Introduce the new combobox for the pagination (#5267)
  frontend/app/src/components/ui/pagination.tsx
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend

stash release-notes progress
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
Labels: type/documentation

Use combobox for ip namespace selector in IPAM
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/graphql/queries/ipam/ip-namespaces.ts
  frontend/app/src/screens/ipam/ip-namespace-selector.tsx
Labels: group/frontend

fix e2e
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
Labels: group/frontend

Use combobox for ip namespace selector in IPAM (#5271)
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/graphql/queries/ipam/ip-namespaces.ts
  frontend/app/src/screens/ipam/ip-namespace-selector.tsx
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
Labels: group/frontend
