Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix markdown
  changelog/+ifc1586.added.md
Labels: none

Use async for SDK node `extract` method
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

minor fix 1
  backend/infrahub/proposed_change/checker.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

Display available IP prefixes in list view (#6870)
  changelog/+ifc1586.added.md
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/ipam/ip-prefix-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-prefixes/api/get-ip-prefix-list-from-api.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-ip-prefix-list.ts
  frontend/app/src/entities/ipam/ip-prefixes/types.ts
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-available-identifier.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/filters/active-object-filter-tags.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/object-actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/style.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-actions-column.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-remove-from-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-objects-modal.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-delete-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/table/data-table.tsx
  frontend/app/src/shared/components/table/style.tsx
  frontend/app/src/shared/hooks/useFilters.ts
Labels: group/frontend

minor fix 2
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend

fix param for opened filter
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
Labels: group/frontend

minor fixes
  backend/infrahub/graphql/schema.py
  backend/infrahub/proposed_change/approval_revoker.py
  backend/infrahub/proposed_change/checker.py
Labels: group/backend

Add ProposedChange.comments_count readonly property
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/proposed_change.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/tests/functional/proposed_change/test_comment_counts.py
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

Remove prefect events ASC flaky test
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

Create authentication topic
  docs/docs/topics/authentication.mdx
Labels: type/documentation

Update the method of finding infrahub-server config YAML anchors to search for the new anchor name.
  tasks/release.py
Labels: none

Reverted file formatting changes in tasks/release.py
  tasks/release.py
Labels: none

Reverted file formatting changes in tasks/release.py
  tasks/release.py
Labels: none

Lint
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/authentication.mdx
Labels: type/documentation

Enable draft in proposed changes (#6905)
  changelog/proposed-changes.changed.md
  frontend/app/src/entities/nodes/object/domain/update-object.ts
  frontend/app/src/entities/proposed-changes/api/createProposedChange.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesDetails.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-state-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-state-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/types.ts
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
  frontend/app/src/entities/proposed-changes/utils/proposed-changes.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
Labels: group/frontend

Vale
  .vale/styles/spelling-exceptions.txt
Labels: none

type improvement
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.ts
Labels: group/frontend

add suggestion filter for ip address availability
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-availability-filter-tag.tsx
  frontend/app/src/entities/nodes/object/ui/filters/active-object-filter-tags.tsx
Labels: group/frontend

fix
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-create-form-trigger.tsx
Labels: group/frontend

Display available ip addresses in ip address list view
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.query.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/types.ts
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-identifier.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-attributes-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-relationships-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
Labels: group/frontend

add create form on ip available click
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-create-form-trigger.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-identifier.tsx
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
Labels: group/frontend

cleaning
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-attributes-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
Labels: group/frontend

Use async for SDK node `extract` method (#6916)
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

other fixes
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/proposed_change/checker.py
  backend/infrahub/proposed_change/tasks.py
  backend/tests/helpers/constants.py
Labels: group/backend

repo diff changes
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
Labels: group/backend

lint
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
Labels: group/backend

Remove prefect events ASC flaky test (#6922)
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

Add prefix length to IP range addresses
  backend/infrahub/graphql/resolvers/ipam.py
Labels: group/backend

Pass ipaddress object to function
  backend/infrahub/graphql/resolvers/ipam.py
Labels: group/backend

Add prefix length to IP range addresses (#6925)
  backend/infrahub/graphql/resolvers/ipam.py
Labels: group/backend

WIP fix for diff bug
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

linting
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

Prevent generic relationship peer to be overriden
  backend/infrahub/core/schema/node_schema.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/6699.fixed.md
Labels: group/backend

Display available ip addresses in ip address list view (#6920)
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.query.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/types.ts
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-create-form-trigger.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-identifier.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-attributes-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-relationships-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/filters/active-object-filter-tags.tsx
Labels: group/frontend

Refresh of the SSO guide
  docs/docs/guides/sso.mdx
Labels: type/documentation

sso guide rework
  docs/docs/guides/sso.mdx
Labels: type/documentation

small tweaks
  docs/docs/guides/sso.mdx
Labels: type/documentation

Introduce new categories (#6877)
  docs/sidebars.ts
  docs/src/css/custom.css
Labels: type/documentation

add config
  backend/infrahub/config.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/schema.py
Labels: group/backend

changes
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/proposed_change/approval_revoker.py
Labels: group/backend
