Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, group/infrahubctl, group/nornir, group/python-sdk, group/sync-engine, type/documentation

.github/labeler.yml:

---
"group/ci":
  - .github/**

"group/backend":
  - backend/**

"group/frontend":
  - frontend/**

"group/infrahubctl":
  - ctl/**

"group/nornir":
  - nornir_plugin/**

"group/python-sdk":
  - python_sdk/**

"group/sync-engine":
  - sync/**

"type/documentation":
  - docs/**

better log.info for deleteing circuit
  models/infrastructure_edge.py
Labels: none

typo
  models/infrastructure_edge.py
Labels: none

Add vscode section in devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

smthg
  models/infrastructure_edge.py
Labels: none

add basic labels for our issue-template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: group/ci

Check validator conclusions before merge
  backend/infrahub/core/branch.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/unit/core/test_branch.py
  backend/tests/unit/core/test_branch_diff.py
Labels: group/backend

Leverage env variables to define the docker images of the deps
  development/docker-compose-database-memgraph.yml
  development/docker-compose-database-neo4j.yml
  development/docker-compose-deps.yml
  development/docker-compose-test-database-memgraph.yml
  development/docker-compose-test-database-neo4j.yml
  development/docker-compose-test.yml
  development/docker-compose.override.yml.tmp
  development/docker-compose.yml
  tasks/shared.py
Labels: none

Update invoke tasks for sdk & ctl
  tasks/sdk.py
Labels: none

Fix f-string without any placeholders
  tasks/sdk.py
Labels: none

Fix format
  tasks/shared.py
Labels: none

Add --no-directory option to poetry install in docker
  development/Dockerfile
Labels: none

Move back depends_on for infrahub-test to original docker compose file
  development/docker-compose-test-database-memgraph.yml
  development/docker-compose-test-database-neo4j.yml
  development/docker-compose-test.yml
Labels: none

Refactor docker commands for the sdk
  tasks/sdk.py
Labels: none

remove mention of infrahub_client
  pyproject.toml
  python_sdk/infrahub_ctl/branch.py
  python_sdk/infrahub_ctl/cli.py
  python_sdk/infrahub_ctl/schema.py
  python_sdk/infrahub_sdk/client.py
  python_sdk/pyproject.toml
  tasks/nornir.py
  tasks/sdk.py
  tasks/sync.py
Labels: group/python-sdk

Update import sorting and classification
  python_sdk/infrahub_ctl/check.py
  python_sdk/tests/integration/conftest.py
  python_sdk/tests/integration/test_infrahub_client.py
  python_sdk/tests/integration/test_infrahub_client_sync.py
  python_sdk/tests/integration/test_node.py
  python_sdk/tests/integration/test_schema.py
Labels: group/python-sdk

Disable faiing test for now
  python_sdk/tests/unit/ctl/test_schema_app.py
Labels: group/python-sdk

add circle as component
  frontend/src/components/circle.tsx
Labels: group/frontend

first try to update menu structure
  frontend/src/components/badge-circle.tsx
  frontend/src/screens/layout/desktop-menu-header.tsx
  frontend/src/screens/layout/desktop-menu-item.tsx
  frontend/src/screens/layout/desktop-menu.tsx
Labels: group/frontend

Add missing image to create an organization
  docs/media/tutorial/tutorial-1-branch-and-version-control.cy.ts/tutorial_1_organization_create.png
Labels: type/documentation

sort branches in branch selector
  frontend/src/components/branch-selector.tsx
Labels: group/frontend

Regenerated documentation for docs
  docs/components/infrahub-cli/infrahub-git-agent.md
  docs/infrahubctl/infrahubctl-schema.md
Labels: type/documentation

Update known_first_party for isort
  python_sdk/pyproject.toml
Labels: group/python-sdk

fix selected branch, add scroll
  frontend/src/components/branch-selector.tsx
  frontend/src/components/select-button.tsx
Labels: group/frontend

fix sort
  frontend/src/components/branch-selector.tsx
Labels: group/frontend

Update SDK Version to 0.2.0
  .gitignore
  python_sdk/pyproject.toml
Labels: group/python-sdk
