Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

make created_by read_only
  backend/infrahub/core/schema/definitions/core/propose_change.py
Labels: group/backend

allow override data in mutate_create
  backend/infrahub/graphql/mutations/action.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/webhook.py
Labels: group/backend

fix kwarg name typo
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

add changelog
  changelog/+ifc1650.added.md
Labels: none

fix test and add created_by test
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

diff crash with double-deleted schemas (#6831)
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/diff/test_coordinator.py
  changelog/6830.fixed.md
Labels: group/backend

make attribute non optional
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
Labels: group/backend

add keyword scanner (#6784)
  .github/workflows/ci.yml
  .github/workflows/keyword-scan.yml
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  tasks/main.py
  utilities/scan.py
Labels: group/ci

fix e2e
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
Labels: group/frontend

Enable using resource pool in IPAM creation form
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-creation-form.tsx
  frontend/app/src/entities/resource-manager/api/allocate-resource-from-api.ts
  frontend/app/src/entities/resource-manager/domain/allocate-resource.mutation.ts
  frontend/app/src/entities/resource-manager/domain/allocate-resource.ts
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/entities/resource-manager/utils/get-allocate-mutation-name-from-schema.ts
  frontend/app/src/entities/resource-manager/utils/get-pool-kind-from-schema.test.ts
  frontend/app/src/entities/resource-manager/utils/get-pool-kind-from-schema.ts
  frontend/app/src/shared/components/form/fields/input.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/regular-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/select.field.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/inputs/pool-select.tsx
Labels: group/frontend

minor changes
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/tests/functional/proposed_change/test_proposed_change_review.py
Labels: group/backend

Set approved_by and reject_by as readonly
  backend/infrahub/core/schema/definitions/core/propose_change.py
Labels: group/backend

fix
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
Labels: group/frontend

remove created_by from mutation
  frontend/app/src/entities/proposed-changes/api/createProposedChange.ts
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
Labels: group/frontend

rename undo to cancel
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/proposed_change/constants.py
  backend/tests/functional/proposed_change/test_proposed_change_review.py
Labels: group/backend

remove components
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
Labels: group/frontend

add actions button
  frontend/app/src/entities/proposed-changes/ui/action-button/actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

add use update review
  frontend/app/src/entities/proposed-changes/api/updateReviewFromApi.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.ts
Labels: group/frontend

add use update
  frontend/app/src/entities/nodes/object/api/update-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/update-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/update-object.ts
Labels: group/frontend

add e2e test
  frontend/app/tests/e2e/ipam/ip-address-create-with-pool.spec.ts
  frontend/app/tests/e2e/ipam/ip-prefix-create-with-pool.spec.ts
Labels: group/frontend

docs video fix
  docs/docs/topics/graphql.mdx
  docs/docs/tutorials/getting-started/graphql-query.mdx
Labels: type/documentation

start add actions
  frontend/app/src/entities/proposed-changes/api/updateReviewFromApi.ts
  frontend/app/src/entities/proposed-changes/constant.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
Labels: group/frontend

rename
  frontend/app/src/entities/nodes/object/ui/delete-object-modal.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
Labels: group/frontend

update types
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
Labels: group/frontend

update types
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-from-api.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
Labels: group/frontend

throw errors
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
Labels: group/frontend

update queries keys
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
Labels: group/frontend

update page
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-page.tsx
  frontend/app/src/pages/proposed-changes/items.tsx
Labels: group/frontend

update types and move file
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-from-api.ts
  frontend/app/src/entities/proposed-changes/constant.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
  frontend/app/src/entities/proposed-changes/utils/computeFilters.ts
  frontend/app/src/pages/proposed-changes/items.tsx
Labels: group/frontend

remove comments
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager-toolbar.tsx
Labels: group/frontend

update skeleton
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-skeleton.tsx
Labels: group/frontend

update types
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
  frontend/app/src/entities/proposed-changes/utils/computeFilters.ts
Labels: group/frontend

upate typo
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-skeleton.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
Labels: group/frontend

upate types and imports
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
Labels: group/frontend

rename
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/ui/table-column-header-link.tsx
Labels: group/frontend

update types
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
Labels: group/frontend

rename components
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/ui/table-column-header-link.tsx
  frontend/app/src/entities/proposed-changes/ui/table-column-header.tsx
Labels: group/frontend

docs video fix (#6848)
  docs/docs/topics/graphql.mdx
  docs/docs/tutorials/getting-started/graphql-query.mdx
Labels: type/documentation

make proposed change `created_by` relationship read_only (#6842)
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/infrahub/graphql/mutations/action.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/webhook.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  changelog/+ifc1650.added.md
  frontend/app/src/entities/proposed-changes/api/createProposedChange.ts
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
Labels: group/backend, group/frontend

add failing test
  backend/infrahub/core/schema/relationship_schema.py
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend
