Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix child relationship for template node
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

Added "start from a template" on object creation form (#5828)
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object-template/object-template-autocomplete.tsx
  frontend/app/src/entities/nodes/object-template/object-template-form.tsx
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/types.ts
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.tsx
  frontend/app/src/entities/schema/utils/get-template-relationship-from-schema.test.ts
  frontend/app/src/entities/schema/utils/get-template-relationship-from-schema.ts
  frontend/app/src/entities/schema/utils/is-template-schema.test.ts
  frontend/app/src/entities/schema/utils/is-template-schema.ts
  frontend/app/src/shared/components/form/fields/common.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/src/shared/components/form/utils/getRelationshipParent.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/shared/components/ui/combobox.tsx
Labels: group/frontend

[FIX] remove filter when submitting filter form without value (#5860)
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header.tsx
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.test.ts
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.ts
Labels: group/frontend

set current branch in filter
  frontend/app/src/entities/events/ui/global-branch-filter.tsx
  frontend/app/src/entities/events/ui/global-events-filters.tsx
Labels: group/frontend

Fix getting permissions for templates
  backend/infrahub/graphql/permissions.py
Labels: group/backend

set current branch in filter + update event type filter
  frontend/app/src/entities/events/ui/global-branch-filter.tsx
  frontend/app/src/entities/events/ui/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-filter-tag.tsx
  frontend/app/src/entities/events/ui/global-filter.tsx
  frontend/app/src/entities/events/utils/constants.ts
Labels: group/frontend

Create docs for activity logs, update bus and write down something for task and infrahub event
  backend/infrahub/events/models.py
  backend/infrahub/message_bus/messages/send_echo_request.py
  docs/_templates/infrahub-events.j2
  docs/_templates/message-bus-events.j2
  docs/docs/media/activity_log_device.png
  docs/docs/media/activity_log_device_popover.png
  docs/docs/media/activity_log_global.png
  docs/docs/media/activity_log_global_details_children.png
  docs/docs/media/activity_log_global_filters_children.png
  docs/docs/media/activity_log_global_filters_primary.png
  docs/docs/media/tasks_list.png
  docs/docs/reference/infrahub-events.mdx
  docs/docs/reference/message-bus-events.mdx
  docs/docs/topics/activity-log.mdx
  docs/docs/topics/tasks.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
  frontend/app/tests/e2e/login.spec.ts
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
  frontend/app/tests/utils.ts
  tasks/docs.py
Labels: group/backend, group/frontend, type/documentation

add event type
  frontend/app/src/entities/events/utils/constants.ts
Labels: group/frontend

linter
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
  frontend/app/tests/e2e/login.spec.ts
  frontend/app/tests/utils.ts
  tasks/docs.py
Labels: group/frontend

linter
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

linter
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

linter
  docs/_templates/infrahub-events.j2
  docs/docs/reference/infrahub-events.mdx
  tasks/docs.py
Labels: type/documentation

Fix getting permissions for templates (#5861)
  backend/infrahub/graphql/permissions.py
Labels: group/backend

Add aware node/relationship test
  backend/infrahub/core/migrations/graph/m019_restore_rels_to_time.py
  backend/tests/conftest.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
  backend/tests/helpers/db_validation.py
  backend/tests/unit/core/migrations/graph/test_019.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  backend/tests/unit/core/migrations/schema/test_node_remove.py
Labels: group/backend

fix param
  frontend/app/src/entities/events/ui/global-branch-filter.tsx
Labels: group/frontend

improve schema topic
  docs/docs/topics/schema.mdx
Labels: type/documentation

adding 2 issues to help users understand/track topics
  docs/docs/topics/computed-attributes.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

improve diff save performance (#5801)
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/diff.py
  backend/tests/unit/core/diff/repository/base.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  changelog/+diff-save.changed.md
Labels: group/backend

Updated all Menu YAML to use infrahub-jsonschema
  docs/docs/guides/menu.mdx
  docs/docs/reference/menu.mdx
  models/base_menu.yml
Labels: type/documentation

Migrate run repository user checks tasks
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/check_repository_checkdefinition.py
  backend/infrahub/message_bus/messages/check_repository_mergeconflicts.py
  backend/infrahub/message_bus/messages/check_repository_usercheck.py
  backend/infrahub/message_bus/messages/request_repository_checks.py
  backend/infrahub/message_bus/messages/request_repository_userchecks.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/check/__init__.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Housekeeping on GraphqlQueryDetailsPage component
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/object-details.tsx
Labels: group/frontend

since adding __init__ mardkwonlint requested to replace * by _, not gonna fight it even it's dumb
  docs/docs/topics/schema.mdx
Labels: type/documentation

fix test
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend

Display icons of sub-menu items.
  changelog/+icon-sub-menu.added.md
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/shared/components/ui/dropdown-menu.tsx
Labels: group/frontend

Set current branch in activities filter and update event type filter options (#5862)
  frontend/app/src/entities/events/ui/global-branch-filter.tsx
  frontend/app/src/entities/events/ui/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-filter-tag.tsx
  frontend/app/src/entities/events/utils/constants.ts
Labels: group/frontend

Added support for object template on a generic
  frontend/app/src/entities/nodes/object-template/object-template-form.tsx
  frontend/app/src/shared/components/form/generic-object-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: group/frontend

Add ancestors to group events
  backend/infrahub/core/manager.py
  backend/infrahub/events/group_action.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

Added support for object template on a generic (#5873)
  frontend/app/src/entities/nodes/object-template/object-template-form.tsx
  frontend/app/src/shared/components/form/generic-object-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: group/frontend

Housekeeping on GraphqlQueryDetailsPage component (#5871)
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend

Display icons on sidebar sub-menu items. (#5872)
  changelog/+icon-sub-menu.added.md
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/shared/components/ui/dropdown-menu.tsx
Labels: group/frontend

update location_menu with the location_menu instead of the BGP Session :D
  docs/docs/media/location_menu.png
  docs/docs/media/reference/schema/location_menu.png
  docs/docs/topics/schema.mdx
  frontend/app/tests/e2e/menu/menu-view.spec.ts
Labels: group/frontend, type/documentation

linter and merge origin/stable
  frontend/app/tests/e2e/menu/menu-view.spec.ts
Labels: group/frontend

more linter
  docs/docs/topics/schema.mdx
Labels: type/documentation

as usual 3 times do the charm
  frontend/app/tests/e2e/menu/menu-view.spec.ts
Labels: group/frontend

no comment
  frontend/app/tests/e2e/menu/menu-view.spec.ts
Labels: group/frontend

no comment
  frontend/app/tests/e2e/menu/menu-view.spec.ts
Labels: group/frontend

Removed useless call to get config
  frontend/app/src/shared/hooks/usePagination.ts
Labels: group/frontend

updating screenshots for 1.2 before release to see the coverage
  docs/docs/media/group_tagconfig_grp_adding_members.png
  docs/docs/media/group_tagconfig_grp_new_grp.png
  docs/docs/media/group_tagconfig_grp_new_members.png
  docs/docs/media/profile_tokens.png
  docs/docs/media/profile_tokens_copy.png
  docs/docs/media/profile_tokens_create.png
  docs/docs/media/tutorial_1_branch_creation.png
  docs/docs/media/tutorial_1_branch_details.png
  docs/docs/media/tutorial_1_branch_diff.png
  docs/docs/media/tutorial_1_branch_list.png
  docs/docs/media/tutorial_1_organization_create.png
  docs/docs/media/tutorial_1_organization_details.png
  docs/docs/media/tutorial_1_organization_edit.png
  docs/docs/media/tutorial_1_organizations.png
  docs/docs/media/tutorial_2_historical.png
  docs/docs/media/tutorial_3_schema.png
  docs/docs/media/tutorial_4_metadata.png
  docs/docs/media/tutorial_4_metadata_edit.png
  docs/docs/media/tutorial_6_branch_creation.png
  docs/docs/media/tutorial_6_interface_update.png
Labels: type/documentation

update ui
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

Display custom error page on crash
  frontend/app/src/app/app.tsx
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/shared/components/errors/error-boundary-app.tsx
  frontend/app/src/shared/components/errors/error-boundary-router.tsx
  frontend/app/src/shared/components/errors/error-fallback.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend
