Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Fix adding/updating Generic/Component Relationships in IPAM views
  changelog/5924.fixed.md
  frontend/app/src/entities/nodes/object-item-edit/generateObjectEditFormQuery.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: group/frontend

update
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: group/frontend

Update schema integrity check (#6069)
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/diff/checks/data-conflict.tsx
  frontend/app/src/entities/diff/checks/data-integrity-conflicts.tsx
  frontend/app/src/entities/diff/checks/schema-conflict.tsx
  frontend/app/src/entities/diff/checks/schema-integrity-conflicts.tsx
  frontend/app/src/entities/diff/node-diff/node-attribute.tsx
  frontend/app/src/entities/diff/node-diff/node-property.tsx
Labels: group/frontend

advanced config
  changelog/+member_of_groups.added.md
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: group/frontend

Generate group events from generic node mutation
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/groups/ancestors.py
  backend/infrahub/groups/parsers.py
  backend/tests/unit/graphql/mutations/test_group_event_collection.py
Labels: group/backend

Fix adding/updating Generic/Component Relationships in IPAM views (#6081)
  changelog/5924.fixed.md
  frontend/app/src/entities/nodes/object-item-edit/generateObjectEditFormQuery.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: group/frontend

extract event details component
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
Labels: group/frontend

On object creation form, display field for members_of_groups relationship (#6082)
  changelog/+member_of_groups.added.md
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: group/frontend

Added missing changelog
  changelog/+layout.added.md
  changelog/3456.added.md
  changelog/5354.added.md
  changelog/5889.fixed.md
Labels: none

md lint
  changelog/3456.added.md
Labels: none

Added missing changelog (#6083)
  changelog/+layout.added.md
  changelog/3456.added.md
  changelog/5354.added.md
  changelog/5889.fixed.md
Labels: none

fix(ci): ensure python 3.12 on failing jobs
  .github/workflows/ci.yml
Labels: group/ci

Simplify main mutation code and move out event collection
  backend/infrahub/events/generator.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

prep release notes and changelog for 1.2
  .vale/styles/Infrahub/sentence-case.yml
  CHANGELOG.md
  changelog/+account-tokens.changed.md
  changelog/+activities.added.md
  changelog/+faster-object-list.changed.md
  changelog/+graphql.changed.md
  changelog/+icon-sub-menu.added.md
  changelog/+layout.added.md
  changelog/+member_of_groups.added.md
  changelog/+menu_reorg.changed.md
  changelog/+new-layout.added.md
  changelog/+object-templates.added.md
  changelog/2193.housekeeping.md
  changelog/2194.housekeeping.md
  changelog/3456.added.md
  changelog/3547.changed.md
  changelog/458.added.md
  changelog/4644.changed.md
  changelog/5232.fixed.md
  changelog/5354.added.md
  changelog/5553.housekeeping.md
  changelog/5600.fixed.md
  changelog/5661.added.md
  changelog/5888.fixed.md
  changelog/5889.fixed.md
  changelog/5908.fixed.md
  changelog/5924.fixed.md
  changelog/5925.fixed.md
  changelog/5934.fixed.md
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
  pyproject.toml
Labels: type/documentation

update test containers
  python_testcontainers/pyproject.toml
Labels: none

prep release notes and changelog for 1.2
  .vale/styles/Infrahub/sentence-case.yml
  CHANGELOG.md
  changelog/+account-tokens.changed.md
  changelog/+activities.added.md
  changelog/+faster-object-list.changed.md
  changelog/+graphql.changed.md
  changelog/+icon-sub-menu.added.md
  changelog/+layout.added.md
  changelog/+member_of_groups.added.md
  changelog/+menu_reorg.changed.md
  changelog/+new-layout.added.md
  changelog/+object-templates.added.md
  changelog/2193.housekeeping.md
  changelog/2194.housekeeping.md
  changelog/3456.added.md
  changelog/3547.changed.md
  changelog/458.added.md
  changelog/4644.changed.md
  changelog/5232.fixed.md
  changelog/5354.added.md
  changelog/5553.housekeeping.md
  changelog/5600.fixed.md
  changelog/5661.added.md
  changelog/5888.fixed.md
  changelog/5889.fixed.md
  changelog/5908.fixed.md
  changelog/5924.fixed.md
  changelog/5925.fixed.md
  changelog/5934.fixed.md
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
  pyproject.toml
Labels: type/documentation

update test containers
  python_testcontainers/pyproject.toml
Labels: none

fix(ci): ensure python 3.12 on failing jobs
  .github/workflows/ci.yml
Labels: group/ci

Fix deprecated warnings for Pydantic
  backend/infrahub/core/migrations/schema/models.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/models/validate_migration.py
  backend/tests/unit/core/constraint_validators/test_models.py
  backend/tests/unit/core/migrations/schema/test_models.py
Labels: group/backend

Add relationship info to node mutation activity log entries
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

fix(ci): update helm dependencies on release
  tasks/release.py
Labels: none

fix(ci): make benchmarks verbose to catch exceptions
  .github/workflows/ci.yml
Labels: group/ci

fix(docs): add backup tool workaround
  docs/docs/guides/database-backup.mdx
Labels: type/documentation

add artifact event in query
  frontend/app/src/entities/events/api/get-events-from-api.ts
Labels: group/frontend

add artifact event title
  frontend/app/src/entities/events/ui/artifact-events/artifact-event-title.tsx
Labels: group/frontend

update types
  frontend/app/src/entities/events/constants.ts
  frontend/app/src/entities/events/types.ts
  frontend/app/src/entities/events/ui/branch-events/branch-event-title.tsx
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/group-events/group-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
Labels: group/frontend

update ui
  frontend/app/src/entities/events/ui/branch-events/branch-event-title.tsx
Labels: group/frontend

Add webhooks docs
  docs/docs/guides/webhooks.mdx
  docs/docs/media/fastapi_webhook_reciever.py
  docs/docs/media/webhook_create.png
  docs/docs/media/webhook_detail.png
  docs/docs/media/webhook_list.png
  docs/docs/topics/events.mdx
  docs/docs/topics/webhooks.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend, type/documentation

Add node kind
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

Individual node webhook events
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

Fix linting issues
  docs/docs/media/fastapi_webhook_reciever.txt
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

update screenshots
  docs/docs/media/webhook_create.png
  docs/docs/media/webhook_detail.png
  docs/docs/media/webhook_list.png
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend, type/documentation

Fix linting issues
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/webhooks.mdx
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

update examples
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

fix linting
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

Fix links and sidebar
  docs/docs/topics/webhooks.mdx
  docs/sidebars.ts
Labels: type/documentation

Remove fixed timeout
  docs/docs/media/webhook_detail.png
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend, type/documentation

fix(tasks, release): update prefect server tag
  tasks/release.py
Labels: none

Add artifact activities (#6095)
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/constants.ts
  frontend/app/src/entities/events/types.ts
  frontend/app/src/entities/events/ui/artifact-events/artifact-event-title.tsx
  frontend/app/src/entities/events/ui/branch-events/branch-event-title.tsx
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/group-events/group-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
Labels: group/frontend

Improve test
  docs/docs/media/webhook_create.png
  docs/docs/media/webhook_detail.png
  docs/docs/media/webhook_list.png
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend, type/documentation
