Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Add NumberPool as source during migration
  backend/infrahub/core/migrations/schema/node_attribute_add.py
  backend/tests/functional/pools/test_numberpool_lifecycle.py
Labels: group/backend

Change main license to Apache 2.0
  CONTRIBUTING.md
  LICENSE.txt
  LICENSING.md
  pyproject.toml
Labels: none

Add migration for Attribute NumberPool on existing nodes (#6813)
  backend/infrahub/core/migrations/schema/node_attribute_add.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/validators/node/attribute.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/tasks/registry.py
  backend/tests/functional/pools/test_numberpool_lifecycle.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
  changelog/6802.fixed.md
Labels: group/backend

Use BitInt instead of Int for InfrahubResourcePoolUtilization query to accomodate IPv6
  backend/infrahub/graphql/queries/resource_manager.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  changelog/6855.fixed.md
Labels: group/backend

Add unit test for display_label using computed attribute
  backend/tests/unit/graphql/queries/test_display_label.py
  backend/tests/unit/graphql/test_graphql_query.py
Labels: group/backend

Add step to calculate the order weight for template
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/test_node.py
  changelog/6838.fixed.md
Labels: group/backend

Make relationship always optional for Template
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

fix(docker-compose): remove task-manager-init service
  backend/infrahub/prefect_server/app.py
  backend/infrahub/prefect_server/bootstrap.py
  python_testcontainers/infrahub_testcontainers/docker-compose-cluster.test.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: group/backend

fix(testcontainers): allow setting pagination size
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: none

fix(testcontainers): taskmanager typo
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix(testcontainers): add taskmgr scaleout to clustered mode
  python_testcontainers/infrahub_testcontainers/docker-compose-cluster.test.yml
Labels: none

fix(testcontainers): do not enable taskmgr scale out by default
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

update 1
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
Labels: group/frontend

Fix: send object template id even if there is no field using template value
  frontend/app/src/entities/repository/ui/repository-form.tsx
  frontend/app/src/entities/resource-manager/ui/ip-address-pool-form.tsx
  frontend/app/src/entities/resource-manager/ui/ip-prefix-pool-form.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.ts
Labels: group/frontend

changelog
  changelog/6859.fixed.md
Labels: none

fix
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.ts
Labels: group/frontend

more test
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
Labels: group/frontend

update 2
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
  frontend/app/src/pages/proposed-changes/items.tsx
Labels: group/frontend

renamed component
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter-link.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
Labels: group/frontend

chore: upgrade prefect to 3.4.9
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
Labels: group/backend

chore(testcontainers): update prefect client
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: none

chore(testcontainers): update prefect client
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: none

Refactor NumberPoolGetUsed query to account for deleted node and branch
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/resource_manager.py
  backend/tests/functional/pools/test_numberpool_branch.py
  backend/tests/unit/core/resource_manager/test_number_pool_query.py
  changelog/6865.fixed.md
Labels: group/backend

Enhanced List View with Filters and UI Redesign - IFC-1638 - IFC-1543 (#6796)
  changelog/proposed-changes.changed.md
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/object/ui/delete-object-modal.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-from-api.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChanges.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesArtifacts.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesTasks.ts
  frontend/app/src/entities/proposed-changes/constant.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
  frontend/app/src/entities/proposed-changes/ui/counter.tsx
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
  frontend/app/src/entities/proposed-changes/ui/item-info.tsx
  frontend/app/src/entities/proposed-changes/ui/items.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter-link.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager-toolbar.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-skeleton.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
  frontend/app/src/pages/proposed-changes/items.tsx
  frontend/app/src/shared/components/display/date-display.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: group/frontend

Fix: Object template wasn't sent on creation if no form fields had values from template (#6867)
  changelog/6859.fixed.md
  frontend/app/src/entities/repository/ui/repository-form.tsx
  frontend/app/src/entities/resource-manager/ui/ip-address-pool-form.tsx
  frontend/app/src/entities/resource-manager/ui/ip-prefix-pool-form.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.ts
Labels: group/frontend

update constants
  frontend/app/src/entities/proposed-changes/constant.ts
Labels: group/frontend

update constants
  frontend/app/src/entities/proposed-changes/constant.ts
Labels: group/frontend

Ensure NumberPool reservation are updated when a node is being converted
  backend/infrahub/core/convert_object_type/conversion.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/query/resource_manager.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
  backend/tests/unit/core/resource_manager/test_number_pool_query.py
Labels: group/backend

add action buttons
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/proposed-changes/constant.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/open-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/reject-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/types.ts
  frontend/app/src/entities/proposed-changes/utils/has-user-approved.ts
Labels: group/frontend

Fix available prefixes when parent is free
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

Improve typing
  backend/infrahub/graphql/resolvers/ipam.py
Labels: group/backend

add open close button
  frontend/app/src/entities/proposed-changes/constant.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/open-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/reject-button.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
Labels: group/frontend

add reject and update constants
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-from-api.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesDetails.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/ui/action-button/actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/reject-button.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
  frontend/app/src/entities/proposed-changes/utils/has-user-approved.ts
  frontend/app/src/entities/proposed-changes/utils/has-user-rejected.ts
  frontend/app/src/pages/proposed-changes/items.tsx
Labels: group/frontend

fix merge develop
  backend/infrahub/core/schema/definitions/core/propose_change.py
Labels: group/backend

add placeholde button if not logged in
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/placeholder-button.tsx
Labels: group/frontend

Introduce new categories
  docs/sidebars.ts
Labels: type/documentation

handle disabled states
  frontend/app/src/entities/proposed-changes/ui/action-button/approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/reject-button.tsx
Labels: group/frontend

update test
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

fix update in list view
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter-link.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
Labels: group/frontend

add registry initialization to migration
  backend/infrahub/core/migrations/graph/m034_find_orphaned_schema_fields.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
