Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

fix(backend): include prefect-redis as dependency
  poetry.lock
  pyproject.toml
Labels: none

fix(backend): ignore prefect typing errors
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/tests/integration/git/test_git_repository.py
Labels: group/backend

Upgrade Prefect to 3.2.11
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
Labels: group/backend

Fix support for Offset Datetime
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

Fix mdlint
  docs/docs/guides/object-template.mdx
Labels: type/documentation

Fix lint
  docs/docs/guides/object-template.mdx
Labels: type/documentation

Delete from an object details view does not redirect do main anymore
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
Labels: group/frontend

Remove note as it doesn't pass mdlint
  docs/docs/guides/object-template.mdx
Labels: type/documentation

add changelog
  changelog/5232.fixed.md
Labels: none

Fixes HFID format in mutations IPAddressPoolGetResource and IPPrefixPoolGetResource (#5943)
  backend/infrahub/graphql/mutations/resource_manager.py
  changelog/+getresource.fixed.md
Labels: group/backend

Fix file selection for documentation style CI job
  .github/workflows/ci.yml
  docs/_templates/infrahub-events.j2
  docs/docs/reference/infrahub-events.mdx
Labels: group/ci, type/documentation

Remove notes from tab
  docs/docs/guides/object-template.mdx
Labels: type/documentation

Add default value for speed attribute
  docs/docs/guides/object-template.mdx
Labels: type/documentation

added delete e2e test
  frontend/app/tests/e2e/objects/object-details-delete.spec.ts
  frontend/app/tests/e2e/utils/graphql.ts
Labels: group/frontend

lint
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
Labels: group/frontend

[FIX] Deleting an object from the details view keeps you on your current branch instead of redirecting to the main branch (#5948)
  changelog/5232.fixed.md
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/tests/e2e/objects/object-details-delete.spec.ts
  frontend/app/tests/e2e/utils/graphql.ts
Labels: group/frontend

Fix tabs
  docs/docs/guides/object-template.mdx
Labels: type/documentation

fix grow
  frontend/app/src/entities/events/ui/event-card.tsx
Labels: group/frontend

update tests
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
Labels: group/frontend

update test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

generated docs
  docs/docs/reference/infrahub-events.mdx
  frontend/app/playwright.config.ts
Labels: group/frontend, type/documentation

Activities cleanup and UI updates (#5937)
  backend/infrahub/menu/menu.py
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/constants.ts
  frontend/app/src/entities/events/domain/get-events.ts
  frontend/app/src/entities/events/types.ts
  frontend/app/src/entities/events/ui/branch-event.tsx
  frontend/app/src/entities/events/ui/branch-events/branch-event-title.tsx
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/filters/filter-kind-select.tsx
  frontend/app/src/entities/events/ui/filters/global-branch-filter.tsx
  frontend/app/src/entities/events/ui/filters/global-events-filters.tsx
  frontend/app/src/entities/events/ui/filters/global-filter-form.tsx
  frontend/app/src/entities/events/ui/filters/global-filter-tag.tsx
  frontend/app/src/entities/events/ui/filters/global-filter.tsx
  frontend/app/src/entities/events/ui/filters/global-kind-filter-form.tsx
  frontend/app/src/entities/events/ui/filters/global-kind-filter.tsx
  frontend/app/src/entities/events/ui/global-branch-event.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/global-standard-event.tsx
  frontend/app/src/entities/events/ui/group-events/group-event-title.tsx
  frontend/app/src/entities/events/ui/node-details-events.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events/constants.ts
  frontend/app/src/entities/events/ui/node-events/event-attributes.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
  frontend/app/src/entities/nodes/object-item-details/object-attribute-row.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/backend, group/frontend

should not have commit that
  frontend/app/playwright.config.ts
Labels: group/frontend

fix display label in other branches
  frontend/app/src/entities/events/ui/branch-events/branch-event-title.tsx
  frontend/app/src/entities/events/ui/group-events/group-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
Labels: group/frontend

unit test for duplicate attribute edges in database
  backend/tests/unit/core/test_concurrent_save.py
Labels: group/backend

fix display label in other branches (#5952)
  frontend/app/src/entities/events/ui/branch-events/branch-event-title.tsx
  frontend/app/src/entities/events/ui/group-events/group-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
Labels: group/frontend

fix(backend): node_create_all duplicate AttributeValue rels
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/resource_manager.py
Labels: group/backend

unit test for duplicate attribute edges in database
  backend/tests/unit/core/test_concurrent_save.py
Labels: group/backend

skip running node-level uniqueness constraints when possible
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
Labels: group/backend

fix unit test for new order of constraint execution
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
Labels: group/backend

migration to clean up duplicated edges
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m020_duplicate_edges.py
  backend/infrahub/core/migrations/shared.py
  backend/tests/unit/core/migrations/graph/test_020.py
  changelog/+duplicate-db-edges.fixed.md
Labels: group/backend

make migrations idempotent
  backend/infrahub/core/migrations/graph/m020_duplicate_edges.py
Labels: group/backend

fix deprercated param
  frontend/app/src/entities/branches/api/rebase-branch-from-api.ts
  frontend/app/src/entities/branches/domain/rebase-branch.ts
  frontend/app/src/entities/branches/ui/branch-rebase-button.tsx
  frontend/app/src/entities/diff/api/update-diff-from-api.ts
  frontend/app/src/entities/diff/domain/update-diff.ts
Labels: group/frontend

update texts
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

update ui
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
Labels: group/frontend

fix deprercated param (#5957)
  frontend/app/src/entities/branches/api/rebase-branch-from-api.ts
  frontend/app/src/entities/branches/domain/rebase-branch.ts
  frontend/app/src/entities/branches/ui/branch-rebase-button.tsx
  frontend/app/src/entities/diff/api/update-diff-from-api.ts
  frontend/app/src/entities/diff/domain/update-diff.ts
Labels: group/frontend

rework/cleanup after merge origin/release-1.2
  docs/docs/media/guides/resources-manager/resource_manager_pool_ip.png
  docs/docs/media/guides/resources-manager/resource_manager_rss_prefix_10_100_1.png
  docs/docs/media/topics/activity-logs/activity_log_device.png
  docs/docs/media/topics/activity-logs/activity_log_device_popover.png
  docs/docs/media/topics/activity-logs/activity_log_global_details_children.png
  docs/docs/media/topics/activity-logs/activity_log_global_filters_children.png
  docs/docs/media/topics/activity-logs/activity_log_global_filters_primary.png
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
  frontend/app/tests/e2e/guide/resource_manager_guide.spec.ts
Labels: group/frontend, type/documentation

Fixed pagination on relationship table
  frontend/app/src/entities/nodes/relationships/api/get-object-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.ts
Labels: group/frontend

Add validator events
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/validators/checks_runner.py
  backend/infrahub/events/validator_action.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/finalize_validator_execution.py
  backend/infrahub/message_bus/messages/request_generatordefinition_check.py
  backend/infrahub/message_bus/operations/finalize/validator.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/validators/__init__.py
  backend/infrahub/validators/events.py
  backend/infrahub/workers/utils.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  docs/docs/reference/infrahub-events.mdx
  docs/docs/reference/message-bus-events.mdx
  frontend/app/src/entities/events/constants.ts
Labels: group/backend, group/frontend, type/documentation

fix max cell width
  frontend/app/src/shared/components/table/style.tsx
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
