Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Handle return value with `exec_async`
  backend/tests/benchmark/conftest.py
Labels: group/backend

Fix linter reported issues
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/menu/generator.py
  backend/infrahub/permissions/constants.py
Labels: group/backend

Remove unneeded perm manager instantiation
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/queries/account.py
Labels: group/backend

Fix benchmark tests
  backend/tests/benchmark/test_graphql_query.py
Labels: group/backend

Fix menu rendering
  backend/infrahub/menu/generator.py
Labels: group/backend

Inline global perm `from_string` method
  backend/infrahub/core/account.py
Labels: group/backend

Add methods to raise permission denial error
  backend/infrahub/api/artifact.py
  backend/infrahub/api/schema.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/menu/generator.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/manager.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/permissions/test_manager.py
Labels: group/backend

Use permissions in context for reports
  backend/infrahub/graphql/permissions.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

Add optional message to raise for perm methods
  backend/infrahub/menu/generator.py
  backend/infrahub/permissions/manager.py
  backend/tests/unit/permissions/test_manager.py
Labels: group/backend

Add test loading permissions from several backends
  backend/infrahub/permissions/manager.py
  backend/tests/unit/permissions/test_manager.py
Labels: group/backend

Remove unused parameter
  backend/infrahub/graphql/permissions.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/permissions/report.py
Labels: group/backend

Fix bench test for menu
  backend/tests/benchmark/test_get_menu.py
Labels: group/backend

Remove useless return statement
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
Labels: group/backend

Add changelog entry
  changelog/5350.added.md
Labels: none

Use perm manager dep for menu endpoint
  backend/infrahub/api/menu.py
  backend/infrahub/menu/generator.py
Labels: group/backend

Add retry_db_transaction decorator to a few mutations where it was missing
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/resource_manager.py
Labels: group/backend

Ensure top level types in GraphQL schema are not defined as optional and that list elements are non nullable
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/queries/branch.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/queries/internal.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/graphql/queries/relationship.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/graphql/queries/search.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/infrahub/graphql/types/permission.py
  backend/infrahub/graphql/types/relationship.py
  backend/infrahub/graphql/utils.py
  backend/tests/unit/graphql/test_schema.py
  changelog/+graphql.changed.md
Labels: group/backend

Set PREFECT_API_URL correctly during tests
  backend/tests/helpers/test_app.py
Labels: group/backend

Add parameters to NodeGetListQuery to disable ordering
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_get_list_query.py
Labels: group/backend

Add node_get_list benchmark
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/node.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/models.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/tests/helpers/test_app.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_diff_query.py
  backend/tests/query_benchmark/test_node_get_list.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/unit/core/test_node_get_list_query.py
  backend/tests/unit/graphql/queries/test_order.py
  backend/tests/unit/graphql/test_manager.py
  changelog/add.5376.md
Labels: group/backend

treat "NULL" as actual value for uniqueness checks
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/validators/uniqueness/index.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
Labels: group/backend

update integration test
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
Labels: group/backend

add migration
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/tests/unit/core/migrations/graph/test_018.py
Labels: group/backend

a little registry/manager massaging to run in the migration context
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/tests/unit/core/migrations/graph/test_018.py
Labels: group/backend

add changelog
  changelog/+uniqueness-nulls.fixed.md
Labels: none

value update
  changelog/+uniqueness-nulls.fixed.md
Labels: none

fix missing branch param in computed attributes logic
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  changelog/5385.fixed.md
Labels: group/backend

Add TriggerType and cleanup
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/trigger/constants.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/triggers.py
Labels: group/backend

Ensure top level types in GraphQL schema are not defined as optional and that list elements are non nullable
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/queries/branch.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/queries/internal.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/graphql/queries/relationship.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/graphql/queries/search.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/types/permission.py
  backend/infrahub/graphql/types/relationship.py
  backend/tests/unit/graphql/test_schema.py
Labels: group/backend

Initial commit to add trigger
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/branch/constants.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/git/constants.py
  backend/infrahub/git/tasks.py
  backend/infrahub/schema/constants.py
  backend/infrahub/schema/tasks.py
  backend/infrahub/trigger/__init__.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/constants.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/constants.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/webhook/triggers.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
Labels: group/backend

add component for merge button
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/branches/branch-merge/branch-merge-button.tsx
  frontend/app/src/screens/branches/branch-merge/graphql/getBranchMergeState.ts
Labels: group/frontend

remove log
  frontend/app/src/screens/branches/branch-merge/branch-merge-button.tsx
Labels: group/frontend

remove unused values
  frontend/app/src/components/filters/tasks-filter-form.tsx
Labels: group/frontend

update folder
  frontend/app/src/screens/branches/branch-actions/branch-merge-button.tsx
  frontend/app/src/screens/branches/branch-actions/graphql/getBranchMergeState.ts
  frontend/app/src/screens/branches/branch-details.tsx
Labels: group/frontend

Format schema converge time
  backend/infrahub/workflows/utils.py
Labels: group/backend

more spans
  backend/infrahub/core/initialization.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/server.py
Labels: group/backend

add rebase button
  frontend/app/src/screens/branches/branch-actions/branch-rebase-button.tsx
  frontend/app/src/screens/branches/branch-actions/graphql/getBranchActionState.ts
  frontend/app/src/screens/branches/branch-actions/graphql/getBranchMergeState.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/tasks/constants.ts
Labels: group/frontend

fix missing branch param in computed attributes logic (#5386)
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  changelog/5385.fixed.md
Labels: group/backend

add validate button
  frontend/app/src/screens/branches/branch-actions/branch-validate-button.tsx
  frontend/app/src/screens/branches/branch-details.tsx
Labels: group/frontend

:wrench:
  frontend/app/src/screens/branches/branch-details.tsx
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
