Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Do not display error message on search anywhere
  frontend/app/src/components/search/search-nodes.tsx
Labels: group/frontend

add query
  frontend/app/src/graphql/queries/tasks/checkTasksItemDetails.ts
Labels: group/frontend

update style
  frontend/app/src/screens/branches/task-display.tsx
Labels: group/frontend

check count and hide tasks accordion in proposed changes view
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
Labels: group/frontend

update filters
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/tasks/constants.ts
Labels: group/frontend

disable merge button
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
Labels: group/frontend

fix data access
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
Labels: group/frontend

add fragment
  changelog/+tasks-display.fixed.md
Labels: none

update fragment
  changelog/+tasks-display.fixed.md
Labels: none

update pollinterval
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
Labels: group/frontend

add pollintervak on proposed changes data to update informations
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
Labels: group/frontend

update fragment
  changelog/+tasks-display.fixed.md
Labels: none

Use 3.0.11-python3.12 in docker-compose oneliner
  docker-compose.yml
Labels: none

Do not display error message on search anywhere (#5246)
  frontend/app/src/components/search/search-nodes.tsx
Labels: group/frontend

Do not send EventBranchDelete, EventSchemaUpdate and EventNodeMutated messages
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/node_action.py
  backend/infrahub/events/schema_action.py
Labels: group/backend

update fragment
  changelog/+tasks-display.fixed.md
Labels: none

fix typo
  changelog/+tasks-display.fixed.md
Labels: none

Add identifier and direction into the Schema Topics
  docs/docs/topics/schema.mdx
Labels: type/documentation

Add test for migration 17
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/migrations/graph/test_017.py
Labels: group/backend

Display tasks in the proposed changes view only if needed - IFC-1010 (#5248)
  changelog/+tasks-display.fixed.md
  frontend/app/src/graphql/queries/tasks/checkTasksItemDetails.ts
  frontend/app/src/screens/branches/task-display.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/tasks/constants.ts
Labels: group/frontend

Ensure git repository is initialized locally before accessing files
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/exceptions.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/repository.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
Labels: group/backend

test: check parallel
  backend/infrahub/server.py
  backend/tests/conftest.py
Labels: group/backend

Update docs/docs/topics/schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

Update docs/docs/topics/schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

Update docs/docs/topics/schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

Update homepage to add card about Infrahub labs and schema library
  frontend/app/src/pages/homepage.tsx
Labels: group/frontend

Prevent double tab navigation with a button is inside a link
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
Labels: group/frontend

visual focus on combobox after submit error
  frontend/app/src/components/editor/index.tsx
  frontend/app/src/components/form/fields/relationship-many.field.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/form.tsx
Labels: group/frontend

Adujst ui field border on focus and error
  frontend/app/src/components/editor/index.tsx
  frontend/app/src/components/editor/json/json-editor.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/components/ui/style.ts
Labels: group/frontend

scroll and focus on hirerarchical input on validation error
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
Labels: group/frontend

Remove extra kind print
  backend/infrahub/core/schema/manager.py
Labels: group/backend

added focusWithinStyle
  frontend/app/src/components/editor/index.tsx
  frontend/app/src/components/editor/json/json-editor.tsx
  frontend/app/src/components/ui/style.ts
Labels: group/frontend

all fields are now highlighted when error
  frontend/app/src/components/inputs/color-picker.tsx
  frontend/app/src/components/inputs/date-picker.tsx
  frontend/app/src/components/inputs/input.tsx
  frontend/app/src/components/list.tsx
Labels: group/frontend

scroll and focus list on validation error
  frontend/app/src/components/inputs/input.tsx
Labels: group/frontend

fix lint
  frontend/app/src/components/editor/index.tsx
Labels: group/frontend

fix frontend lint
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
Labels: group/frontend

Update homepage to add card about Infrahub labs and schema library (#5255)
  frontend/app/src/pages/homepage.tsx
Labels: group/frontend

Merge pull request #5245 from opsmill/fix-5235
  backend/infrahub/cli/db.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/migrations/graph/test_017.py
Labels: group/backend

Fix db migration
  backend/infrahub/cli/db.py
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/manager.py
Labels: group/backend

format
  backend/infrahub/graphql/resolver.py
Labels: group/backend
