Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

update ci for documentation
  .github/workflows/ci.yml
Labels: group/ci

lint package json
  frontend/app/package.json
Labels: group/frontend

update cache path
  .github/workflows/ci.yml
Labels: group/ci

add support for merging relationship properties (#4593)
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

add new merge finalizer query to set all the to times on source branch
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/query/merge.py
Labels: group/backend

add handling for cardinality-one conflicts to diff merger
  backend/infrahub/core/diff/merger/serializer.py
  backend/tests/integration/diff/test_diff_merge.py
Labels: group/backend

fix for NULL handling on boolean attributes
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
Labels: group/backend

chore: add pipeline test invoke demo
  .github/workflows/ci.yml
Labels: group/ci

Integrate python SDK into main python project
  .github/workflows/ci.yml
  backend/infrahub/__init__.py
  backend/infrahub/menu/models.py
  backend/infrahub/workflows/models.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/infrahubctl/infrahubctl-menu.mdx
  docs/docs/infrahubctl/infrahubctl-object.mdx
  docs/docs/python-sdk/reference/config.mdx
  poetry.lock
  pyproject.toml
Labels: group/ci, group/backend, type/documentation

chore: add pipeline test invoke demo
  .github/workflows/ci.yml
Labels: group/ci

Cont working on the new menu in the backend
  backend/infrahub/api/menu.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/menu/generator.py
  backend/infrahub/menu/menu.py
  backend/infrahub/menu/models.py
  backend/infrahub/menu/utils.py
  backend/tests/benchmark/test_get_menu.py
  backend/tests/integration/schema_lifecycle/test_schema_missing_menu_placement.py
  backend/tests/unit/api/test_menu.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/menu/test_generator.py
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/src/config/config.ts
  frontend/app/src/infraops.d.ts
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/screens/layout/menu-navigation/components/object-avatar.tsx
  frontend/app/src/screens/layout/sidebar.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/schema/schema-help-menu.tsx
  frontend/app/src/state/atoms/schema.atom.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
  frontend/app/tests/fixtures/menu.json
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  models/base/dcim.yml
  models/base/location.yml
  models/base/organization.yml
  models/base/routing.yml
  models/base/service.yml
  models/base_menu.yml
  tasks/infra_ops.py
Labels: group/backend, group/frontend

Add context to InfrahubDatabase
  backend/infrahub/database/__init__.py
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_manager_query.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/query_benchmark/utils.py
  pyproject.toml
Labels: group/backend

Update lock file
  poetry.lock
Labels: none

update permissions structure to not provide a message if it's allowed + relationship example
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

Base class get_context returns an empty dict
  backend/infrahub/database/__init__.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
Labels: group/backend

add permissions for graphql queries
  frontend/app/src/components/display/properties-popover.tsx
  frontend/app/src/components/form/object-edit-slide-over-trigger.tsx
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/graphql/details/graphql-query-details-card.tsx
Labels: group/frontend

Check labels for user instead of names
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

Fix PC reviewer e2e test
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

Update protocols
  backend/infrahub/core/protocols.py
Labels: group/backend

Fix E2E metadata test
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: group/frontend

Add groups, roles, permissions and accounts
  models/infrastructure_edge.py
Labels: none

Make ops-team global read-only
  models/infrastructure_edge.py
Labels: none

Give eng-team the right to edit the default branch
  models/infrastructure_edge.py
Labels: none

Adjust e2e tests
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-2_data-lineage-and-metadata.spec.ts
Labels: group/frontend

Fix test credentials for new dataset
  frontend/app/tests/constants.ts
Labels: group/frontend

Make account group lineage owner/source
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend

fixes python sdk store guide
  docs/docs/python-sdk/guides/store.mdx
Labels: type/documentation

add message from api on 403
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

update message
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

update message
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

fix properties
  frontend/app/src/components/display/properties-popover.tsx
Labels: group/frontend

add example schema regarding Relationships kinds
  docs/docs/topics/schema.mdx
Labels: type/documentation

wording
  docs/docs/topics/schema.mdx
Labels: type/documentation

Retry all button for checks is bigger
  changelog/4315.fixed.md
  frontend/app/src/screens/diff/checks/checks-summary.tsx
Labels: group/frontend

update permissions for groups and ipam
  frontend/app/src/graphql/queries/groups/getGroups.ts
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/screens/groups/add-group-trigger-button.tsx
  frontend/app/src/screens/groups/groups-manager.tsx
  frontend/app/src/screens/ipam/common/ip-details-card.tsx
  frontend/app/src/screens/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-details.tsx
Labels: group/frontend

Added link to our Discord server in the account menu
  changelog/+discord-link.added.md
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/config/config.ts
Labels: group/frontend

added back space
  frontend/app/src/components/account-menu.tsx
Labels: group/frontend

Retry all button for checks is bigger (#4632)
  changelog/4315.fixed.md
  frontend/app/src/screens/diff/checks/checks-summary.tsx
Labels: group/frontend

Added link to our Discord server in the account menu (#4634)
  changelog/+discord-link.added.md
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/config/config.ts
Labels: group/frontend

Disable approve/merge/close buttons for merged Proposed Changes
  changelog/3495.fixed.md
  frontend/app/src/screens/proposed-changes/action-button/pc-approve-button.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
