Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Fix test read.spec.ts
  frontend/app/playwright.config.ts
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

fix more
  frontend/app/tests/e2e/role-management/account-and-group-crud.spec.ts
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
  frontend/app/tests/utils.ts
Labels: group/frontend

improve test
  frontend/app/src/entities/events/ui/node-details-events.tsx
  frontend/app/tests/e2e/activities/object-activities.spec.ts
Labels: group/frontend

Fixed menu upgrade when Non-Builtin items are attached to a Builtin menu item
  backend/infrahub/menu/repository.py
  backend/tests/unit/menu/conftest.py
  changelog/6182.fixed.md
Labels: group/backend

fix(testcontainers): disable lb timeouts
  python_testcontainers/infrahub_testcontainers/haproxy.cfg
Labels: none

fix flaky read
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend

update
  frontend/app/tests/utils.ts
Labels: group/frontend

fix(testcontainers): ensure prefect ui is disabled with enterprise
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix(testcontainers): disable lb timeouts
  python_testcontainers/infrahub_testcontainers/haproxy.cfg
Labels: none

fix(testcontainers): ensure static files are included in package
  python_testcontainers/pyproject.toml
Labels: none

Fix test read.spec.ts (#6176)
  frontend/app/playwright.config.ts
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/role-management/account-and-group-crud.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
  frontend/app/tests/utils.ts
Labels: group/frontend

add while loop
  frontend/app/tests/e2e/activities/object-activities.spec.ts
Labels: group/frontend

use utils
  frontend/app/tests/e2e/branches/branches.spec.ts
  frontend/app/tests/utils.ts
Labels: group/frontend

enable test
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-3_schema.spec.ts
Labels: group/frontend

enable test
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
Labels: group/frontend

enable test
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

Enable back E2E tests for groups
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/role-management/account-and-group-crud.spec.ts
Labels: group/frontend

reduce workers
  frontend/app/playwright.config.ts
Labels: group/frontend

update test config
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
Labels: group/frontend

use request
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
Labels: group/frontend

Enable back E2E tests for groups (#6188)
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/role-management/account-and-group-crud.spec.ts
Labels: group/frontend

serial for the whole test
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

Enhance support data collection tool
  tasks/bundle.py
  tasks/container_ops.py
  utilities/collect
Labels: none

new migration to fix missing hierarchy for merged,deleted branches
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m024_missing_hierarchy_backfill.py
  backend/tests/unit/core/migrations/graph/test_024.py
Labels: group/backend

Fix upsert
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

new migration to fix missing hierarchy for merged,deleted branches
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m022_missing_hierarchy_backfill.py
  backend/tests/unit/core/migrations/graph/test_022.py
Labels: group/backend

add changelog
  changelog/+upsertuniqueattributes.fixed.md
Labels: none

Fix upserting a node with an existing non-hfid unique attribute in payload (#6193)
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+upsertuniqueattributes.fixed.md
Labels: group/backend

unit test update for CI test runner
  backend/tests/unit/core/migrations/graph/test_022.py
Labels: group/backend

temp change to troubleshoot failing ci unit test
  backend/infrahub/core/migrations/shared.py
  tasks/backend.py
Labels: group/backend

format
  tasks/backend.py
Labels: none

Revert "temp change to troubleshoot failing ci unit test"
  backend/infrahub/core/migrations/shared.py
  backend/tests/unit/core/migrations/graph/test_022.py
  tasks/backend.py
Labels: group/backend

fix off by one error in ip prefix reconcile query
  backend/infrahub/core/query/ipam.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/ipam/test_ipam_reconcile_query.py
Labels: group/backend

add changelog
  changelog/6172.fixed.md
Labels: none

add changelog
  changelog/6019.fixed.md
Labels: none

Ensure node level migrations are not executed on a generic
  backend/infrahub/core/models.py
  backend/tests/integration/schema_lifecycle/test_migration_generic_renaming.py
  changelog/+migration.fixed.md
Labels: group/backend

fix await
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
Labels: group/frontend

fix delete branch
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
Labels: group/frontend

chore
  frontend/app/tests/e2e/groups/groups.spec.ts
Labels: group/frontend

Enable back E2E tests on profile
  frontend/app/tests/e2e/objects/profiles/profile-on-generic.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend
