Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

another typo
  .github/workflows/sync-docs.yml
  docs/docs/media/high_level_architecture.excalidraw.excalidraw
  docs/docs/media/high_level_architecture_ha.excalidraw.crswap
Labels: group/ci, type/documentation

some more logs, use info level
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/repository.py
Labels: group/backend

Add support for signature version documentation and update alias
  backend/infrahub/config.py
  docs/docs/reference/configuration.mdx
Labels: group/backend, type/documentation

file fixes
  docs/docs/media/high_level_architecture.excalidraw.svg
  docs/docs/media/high_level_architecture_ha.excalidraw.svg
Labels: type/documentation

Inject InfrahubServices within flows
  backend/infrahub/cli/git_agent.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/server.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/cache/__init__.py
  backend/infrahub/services/adapters/message_bus/__init__.py
  backend/infrahub/services/adapters/message_bus/local.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/services/component.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workers/utils.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/adapters/message_bus.py
  backend/tests/conftest.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/integration/diff/test_merge_rollback.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/integration/proposed_change/test_proposed_change_profile.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
  backend/tests/integration/transform/test_transform.py
  backend/tests/unit/workflows/test_catalogue.py
  pyproject.toml
Labels: group/backend

Minor modifications
  backend/infrahub/cli/events.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/event/__init__.py
  backend/infrahub/services/adapters/message_bus/__init__.py
  backend/infrahub/services/adapters/message_bus/local.py
  backend/infrahub/services/scheduler.py
  backend/infrahub/workers/utils.py
  backend/tests/adapters/message_bus.py
  backend/tests/conftest.py
Labels: group/backend

cleanup and add vale sync
  .github/workflows/sync-docs.yml
  docs/docs/development/docs.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/generator.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
  docs/docs/python-sdk/readme.mdx
  docs/docs/topics/computed-attributes.mdx
Labels: group/ci, type/documentation

spelling
  .vale/styles/spelling-exceptions.txt
Labels: none

document docs sync to infrahub-docs
  docs/docs/development/docs.mdx
Labels: type/documentation

remove rules for parent filter
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
Labels: group/frontend

add more diff-related logging (#5445)
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/merge.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

Fix event trigger match
  backend/infrahub/trigger/models.py
Labels: group/backend

Initial commit to add trigger
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/branch/constants.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/git/constants.py
  backend/infrahub/git/tasks.py
  backend/infrahub/schema/constants.py
  backend/infrahub/schema/tasks.py
  backend/infrahub/trigger/__init__.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/constants.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/constants.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/webhook/triggers.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend

fix(docker): use tini as entrypoint
  development/Dockerfile
Labels: none

add AttributeKindChecker to aggregated constraints
  backend/infrahub/dependencies/builder/constraint/schema/aggregated.py
  backend/infrahub/dependencies/builder/constraint/schema/attribute_kind.py
Labels: group/backend

add missing validate_format methods
  backend/infrahub/core/attribute.py
  backend/infrahub/core/validators/attribute/kind.py
Labels: group/backend

skip profile schemas when checking for schema migrations
  backend/infrahub/core/validators/tasks.py
Labels: group/backend

remove dead code
  backend/infrahub/core/validators/models/violation.py
Labels: group/backend

invert the conditional
  backend/infrahub/core/validators/tasks.py
Labels: group/backend

skip profile schemas when checking for schema migrations (#5446)
  backend/infrahub/core/validators/models/violation.py
  backend/infrahub/core/validators/tasks.py
Labels: group/backend

add changelog
  changelog/5460.fixed.md
Labels: none

set s3 storage default_acl to private
  backend/infrahub/config.py
  changelog/s3-storage-default-acl.changed.md
Labels: group/backend

fix previous value bug for multiple updates on branch
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

chore: update docker-compose and helm chart
  docker-compose.yml
Labels: none

Added config provider to guarantee config data availability
  frontend/app/src/app/app.tsx
  frontend/app/src/app/root.tsx
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/authentication/ui/login.tsx
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/config/config-provider.tsx
  frontend/app/src/entities/config/get-config.query.ts
  frontend/app/src/entities/config/get-config.ts
  frontend/app/src/entities/config/types.ts
  frontend/app/src/entities/permission/utils.ts
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/shared/hooks/usePagination.ts
Labels: group/frontend

fix cypress test
  frontend/app/cypress/support/component.tsx
  frontend/app/src/entities/permission/utils.ts
  frontend/app/tests/integrations/screens/artifact-diff.cy.tsx
  frontend/app/tests/integrations/screens/conversations.cy.tsx
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend

cleaning
  frontend/app/src/config/config.atom.ts
  frontend/app/src/entities/authentication/ui/login-sso-buttons.tsx
  frontend/app/src/entities/config/types.ts
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
Labels: group/frontend

cleaning
  frontend/app/src/config/config.ts
Labels: group/frontend

added component infrahub loading
  frontend/app/src/entities/config/config-provider.tsx
  frontend/app/src/shared/components/loading/infrahub-loading.tsx
Labels: group/frontend

error screen
  frontend/app/src/entities/config/config-provider.tsx
Labels: group/frontend

start add test
  frontend/app/src/shared/components/form/fields/relationships.field.test.tsx
Labels: group/frontend

Added ConfigProvider to ensure config data is always available (#5465)
  frontend/app/cypress/support/component.tsx
  frontend/app/src/app/app.tsx
  frontend/app/src/app/root.tsx
  frontend/app/src/app/router.tsx
  frontend/app/src/config/config.atom.ts
  frontend/app/src/config/config.ts
  frontend/app/src/entities/authentication/ui/login-sso-buttons.tsx
  frontend/app/src/entities/authentication/ui/login.tsx
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/config/config-provider.tsx
  frontend/app/src/entities/config/get-config.query.ts
  frontend/app/src/entities/config/get-config.ts
  frontend/app/src/entities/config/types.ts
  frontend/app/src/entities/permission/utils.ts
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/shared/components/loading/infrahub-loading.tsx
  frontend/app/src/shared/hooks/usePagination.ts
  frontend/app/tests/integrations/screens/artifact-diff.cy.tsx
  frontend/app/tests/integrations/screens/conversations.cy.tsx
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend

fix overflow
  frontend/app/src/entities/proposed-changes/ui/proposed-change-edit-form.tsx
Labels: group/frontend

fix value update for empty array
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.ts
Labels: group/frontend

add fragment
  changelog/5334.fixed.md
Labels: none

add tracing sso
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  development/docker-compose.yml
Labels: group/backend

fix function to get profile values
  frontend/app/src/shared/components/form/profiles-selector.tsx
Labels: group/frontend

add fragment
  changelog/5276.fixed.md
Labels: none

Consolidate Prefect automation into Trigger (#5387)
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/branch/constants.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/git/constants.py
  backend/infrahub/git/tasks.py
  backend/infrahub/schema/constants.py
  backend/infrahub/schema/tasks.py
  backend/infrahub/trigger/__init__.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/constants.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/constants.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/webhook/triggers.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend

add tracing sso
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  development/docker-compose.yml
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
