Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Check for schema node type
  backend/infrahub/permissions/report.py
Labels: group/backend

Make device description a computed attribute
  models/base/dcim.yml
Labels: none

Adapt tests
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

clean docker compose
  development/docker-compose-test-database-memgraph.yml
  development/docker-compose-test-database-neo4j.yml
  development/docker-compose-test-deps.yml
  development/docker-compose-test-message-queue.yml
  development/docker-compose-test-metrics.yml
  development/docker-compose-test-scale.yml
  development/docker-compose-test.yml
  tasks/backend.py
  tasks/docs.py
  tasks/sdk.py
  tasks/shared.py
Labels: none

Flesh out topics documentation
  docs/docs/guides/computed-attributes.mdx
  docs/docs/topics/computed-attributes.mdx
  docs/sidebars.ts
Labels: type/documentation

Improve jinja computed attribute in schema
  models/base/dcim.yml
Labels: none

Actually let's create a separated field for that
  models/base/dcim.yml
Labels: none

Return early for super admin
  backend/infrahub/permissions/report.py
Labels: group/backend

Remove duplicate return
  backend/infrahub/permissions/report.py
Labels: group/backend

fix relationship delete query some more
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

un-delete variable_name variable
  backend/infrahub/core/branch/models.py
Labels: group/backend

fix f-string
  backend/infrahub/core/branch/models.py
Labels: group/backend

update alerts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

forget
  .github/workflows/ci.yml
  development/docker-compose-test-metrics.yml
  tasks/backend.py
  tasks/docs.py
  tasks/sdk.py
  tasks/shared.py
Labels: group/ci

fix relationship mutation
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
Labels: group/frontend

Enforce repo management permission (#4976)
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

add test for role crud
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend

update diff update integration test
  backend/tests/integration/diff/test_diff_update.py
Labels: group/backend

add changelog
  changelog/+irresolvable-conflicts.fixed.md
Labels: none

nevermind, this is required
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

try turning off include_unchanged
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

block resolving irresolvable conflicts
  backend/infrahub/graphql/mutations/diff_conflict.py
Labels: group/backend

skip some failing tests that will be fixed in a follow-up PR
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
Labels: group/backend

remove conflicts from entities removed from base-side of diff
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

add handling for irresolvable conflicts
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/merge.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/test_diff_combiner.py
Labels: group/backend

update test
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend

fix modal delete
  frontend/app/src/components/modals/modal-delete-object.tsx
Labels: group/frontend

rename a few things
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

fix modal delete
  frontend/app/src/components/modals/modal-delete-object.tsx
Labels: group/frontend

fix global permission delete modal
  frontend/app/src/screens/role-management/global-permissions.tsx
Labels: group/frontend

fix test
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend

fix update global permission
  frontend/app/src/screens/role-management/global-permissions.tsx
Labels: group/frontend

Create custom-certificates.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
Labels: type/documentation

Update custom-certificates.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
Labels: type/documentation

Update custom-certificates.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
Labels: type/documentation

Update custom-certificates.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
Labels: type/documentation

Update custom-certificates.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
Labels: type/documentation

Update readme.mdx
  docs/docs/integrations/sync/readme.mdx
Labels: type/documentation

Convert EventBranchRebased to InfrahubEvent
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/models.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  backend/tests/unit/message_bus/operations/refresh/__init__.py
  backend/tests/unit/message_bus/operations/refresh/test_registry.py
Labels: group/backend

fix for merging diff with attrs set to null
  backend/infrahub/core/diff/merger/serializer.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
