Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Trigger `node.inherit_from.update` migration on changed
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/models.py
Labels: group/backend

fix(ci): ensure python 3.12 on failing jobs
  .github/workflows/ci.yml
Labels: group/ci

Add support for hierarchy in node duplicate query
  backend/infrahub/core/migrations/query/node_duplicate.py
Labels: group/backend

fix(ci): make benchmarks verbose to catch exceptions
  .github/workflows/ci.yml
Labels: group/ci

fix(tasks, release): update prefect server tag
  tasks/release.py
Labels: none

fix(docs): add backup tool workaround
  docs/docs/guides/database-backup.mdx
Labels: type/documentation

fix(ci): ignore empty commit error
  .github/workflows/update-compose-file-and-chart.yml
Labels: group/ci

fix(backend): add more tracing spans
  backend/infrahub/graphql/resolvers/resolver.py
Labels: group/backend

Allow renaming of inherited kinds
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/model.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/tasks.py
  backend/tests/unit/core/constraint_validators/test_attribute_choices_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_enum_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_kind_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_optional.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_unique_update.py
  backend/tests/unit/core/constraint_validators/test_node_generate_profiles_update.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_count.py
  backend/tests/unit/core/constraint_validators/test_relationship_optional_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
Labels: group/backend

Trigger `node.inherit_from.update` migration on changed
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/models.py
Labels: group/backend

Fix node duplicate query for inbound relationships
  backend/infrahub/core/migrations/query/node_duplicate.py
Labels: group/backend

Add support for hierarchy in node duplicate query
  backend/infrahub/core/migrations/query/node_duplicate.py
Labels: group/backend

disabled flaky test
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

feat(infrahub_testcontainers): collect system metrics
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/prometheus.yml
Labels: none

Cleanup helpers file
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: none

feat(testcontainers): start metrics scraper with perftest plugin
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

feat(infrahub_testcontainers): fetch and push metrics
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/plugin.py
  python_testcontainers/infrahub_testcontainers/prometheus.yml
  python_testcontainers/pyproject.toml
Labels: none

Add performance test plugin for pytest
  .gitignore
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/constants.py
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/helpers.py
  python_testcontainers/infrahub_testcontainers/host.py
  python_testcontainers/infrahub_testcontainers/measurements.py
  python_testcontainers/infrahub_testcontainers/models.py
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/plugin.py
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
  python_testcontainers/tests/__init__.py
  python_testcontainers/tests/test_results.py
Labels: none

fix(testcontainers): add missing dependencies
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: none

fix(testcontainers): always run metric scraper
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

fix(testcontainers): do not send perf results if not required
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

fix(infrahub_testcontainers): display report and toggle reporting
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

fix(backend): add more tracing spans
  backend/infrahub/graphql/resolvers/resolver.py
Labels: group/backend

Add unit tests
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
Labels: group/backend

disabled flaky test (#6131)
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

Fix typing for core.utils
  backend/infrahub/core/utils.py
  pyproject.toml
Labels: group/backend

Fix typing for infrahub.trace
  backend/infrahub/trace.py
  pyproject.toml
Labels: group/backend

Remove node creation from event filter of mandatory computed attributes
  backend/infrahub/computed_attribute/models.py
  changelog/6105.changed.md
Labels: group/backend

fix(python_testcontainers): lint
  python_testcontainers/infrahub_testcontainers/host.py
  python_testcontainers/infrahub_testcontainers/performance_test.py
  python_testcontainers/infrahub_testcontainers/plugin.py
Labels: none

add fragment
  changelog/activities.added.md
Labels: none

update fragment
  changelog/activities.added.md
Labels: none

Add test to validate hierarchy migration
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
Labels: group/backend

Restrict event query filters for transform based computed attributes
  backend/infrahub/computed_attribute/gather.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/graphql/analyzer.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/integration_docker/test_files/repos/computed_attribute/.gitignore
  backend/tests/integration_docker/test_files/repos/computed_attribute/.infrahub.yml
  backend/tests/integration_docker/test_files/repos/computed_attribute/README.md
  backend/tests/integration_docker/test_files/repos/computed_attribute/transforms/device_name_attribute.gql
  backend/tests/integration_docker/test_files/repos/computed_attribute/transforms/device_name_attribute.py
  changelog/6113.changed.md
Labels: group/backend

Use schema_hash in client.schema.all() to speed up Jinja2 attributes
  backend/infrahub/computed_attribute/tasks.py
  changelog/6133.changed.md
Labels: group/backend

Fix what mostly looks like a copy/paste
  backend/infrahub/core/migrations/query/node_duplicate.py
Labels: group/backend

more unit tests
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
Labels: group/backend

updates for special order_weight and branch property handling
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
Labels: group/backend

try a sentinel value
  backend/infrahub/core/schema/basenode_schema.py
Labels: group/backend

typing fix and cleanup
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

WIP code fix and unit test
  backend/infrahub/core/schema/manager.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
