Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

test
  pyproject.toml
Labels: none

test
  development/Dockerfile
Labels: none

test
  .github/workflows/ci.yml
  development/Dockerfile
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  backend/infrahub/testing/container.py
Labels: group/backend

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

testfix
  .github/workflows/ci.yml
Labels: group/ci

Display the IP Namespace for prefixes and IP adresses in the searchanywhere - IFC-299 (#5274)
  changelog/3577.fixed.md
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

Fix: error log due to wrong semantic element on avatar
  frontend/app/src/components/display/avatar.tsx
Labels: group/frontend

Fix: error log due to wrong semantic element on avatar (#5286)
  frontend/app/src/components/display/avatar.tsx
Labels: group/frontend

Optional is by default rather than .
  docs/docs/reference/schema/attribute.mdx
Labels: type/documentation

add failing test
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

fix overlapping partial diffs issue
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

fix(docs): remove helm pull policy example
  docs/docs/guides/installation.mdx
Labels: type/documentation

fix(docs): remove helm pull policy example
  docs/docs/guides/installation.mdx
Labels: type/documentation

Update generator guide to add convert_query_response and re-ordered guide.
  .vale/styles/Infrahub/spelling.yml
  docs/docs/guides/generator.mdx
  docs/docs/media/guides/generator_pc_1.png
  docs/docs/media/guides/generator_pc_2.png
  docs/docs/media/guides/generator_pc_3.png
Labels: type/documentation

minor adjustment of flow logs
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/message_bus/operations/check/repository.py
Labels: group/backend

fix issue that causes illegal diff query (#5291)
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

small diff updates
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/integration/diff/test_diff_merge.py
Labels: group/backend

more diff tweaks
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

remove comments
  backend/infrahub/core/diff/query_parser.py
Labels: group/backend

Fi issue with branch management in git
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/merge.py
  backend/infrahub/git/base.py
  backend/infrahub/git/models.py
  backend/infrahub/git/repository.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/message_bus/messages/refresh_git_fetch.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/reference/message-bus-events.mdx
  pyproject.toml
Labels: group/backend, type/documentation

Add newsfragment for computed attributes
  changelog/3637.added.md
Labels: none

Latest SDK commit and update imports
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/tests/functional/api/test_load_schema.py
  backend/tests/unit/git/conftest.py
  tasks/docs.py
  tasks/schema.py
Labels: group/backend

Run get_commit_worktree() at correct indentation level
  backend/infrahub/git/integrator.py
Labels: group/backend

Cleanup graphql-query tasks
  backend/infrahub/api/query.py
  backend/infrahub/git/tasks.py
  backend/infrahub/groups/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/api/test_05_query_api.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
Labels: group/backend

Capture additional logger during task execution
  backend/infrahub/cli/tasks.py
  backend/infrahub/config.py
  backend/infrahub/log.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/tasks/dummy.py
  backend/infrahub/workers/infrahub_async.py
  docs/docs/topics/developer-guide.mdx
  docs/sidebars.ts
Labels: group/backend, type/documentation

update relationship docs to add some information about default value
  docs/docs/topics/schema.mdx
Labels: type/documentation

Update source of attribute optional doc so it will be auto-generated.
  backend/infrahub/core/schema/definitions/internal.py
Labels: group/backend

Testing to see if pipeline works with new changes to check for auto generated docs changes.
  .github/file-filters.yml
  .github/workflows/ci.yml
  backend/infrahub/core/schema/definitions/internal.py
Labels: group/ci, group/backend

Ensure all tasks accessing the database are using a dedicated session
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/tasks/telemetry.py
Labels: group/backend

Add back the upstream Python change for optional attribute default to be False.
  backend/infrahub/core/schema/definitions/internal.py
Labels: group/backend

Deprecate infrahub tasks (internal)
  backend/infrahub/graphql/mutations/task.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/schema.py
  backend/tests/unit/graphql/mutations/test_task.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

typo fix
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
Labels: type/documentation

Consider updated fields for Jinja2 based computed attributes
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/webhook/tasks.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
Labels: group/backend

Ensure flows are empty before starting the tests
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
