Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

use getRelationshipCount
  frontend/app/src/entities/nodes/relationships/api/get-relationship-count-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.ts
  frontend/app/src/entities/repository/api/get-repository-objects-count-from-api.ts
  frontend/app/src/entities/repository/domain/get-repository-objects-count.query.ts
  frontend/app/src/entities/repository/domain/get-repository-objects-count.ts
  frontend/app/src/entities/repository/ui/repository-objects-tab.tsx
Labels: group/frontend

fix loading state for tabs
  frontend/app/src/entities/nodes/object/ui/object-tabs.tsx
  frontend/app/src/entities/tasks/ui/task-tab.tsx
Labels: group/frontend

remove logs
  frontend/app/src/entities/nodes/relationships/api/get-relationship-count-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.ts
Labels: group/frontend

fix test
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

refresh demo-edge archive to the latest version
  backend/tests/fixtures/infrahub-demo-edge-d309567.tar.gz
  backend/tests/unit/git/conftest.py
Labels: group/backend

refresh demo-edge fixture to the latest version
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/.gitignore
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/__init__.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/checks/__init__.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/checks/check_backbone_link_redundancy.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/checks/check_backbone_link_redundancy.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/backbone_service.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/backbone_service.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/circuit_endpoints.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/circuit_endpoints.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/drained_circuit_bgp_sessions.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/drained_circuit_bgp_sessions.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/upstream_interfaces.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/upstream_interfaces.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/playbooks/avd-config.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/playbooks/inventory.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/schemas/demo_edge_fabric.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/templates/device_startup_config.tpl.j2
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/templates/device_startup_info.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/tests/test_check.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/tests/test_graphql.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/tests/test_transform_j2.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/tests/test_transform_python.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/topology/topo2.clabs.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/topology/topology.clabs.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/topology/topology.tpl.j2
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/topology/topology_info.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/transforms/computed_circuit_description.gql
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/transforms/computed_circuit_description.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/transforms/openconfig.py
Labels: group/backend

fix lint
  docs/docs/guides/object-load.mdx
Labels: type/documentation

fix test
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

linter for demo-edge
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/checks/check_backbone_link_redundancy.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/backbone_service.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/circuit_endpoints.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/generators/drained_circuit_bgp_sessions.py
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/playbooks/avd-config.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/playbooks/inventory.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/tests/test_graphql.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/tests/test_transform_python.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/topology/topo2.clabs.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/topology/topology.clabs.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/transforms/computed_circuit_description.py
Labels: group/backend

Remove branch parameter from ConvertObjectType mutation (#6616)
  backend/infrahub/core/convert_object_type/conversion.py
  backend/infrahub/graphql/mutations/convert_object_type.py
  backend/infrahub/graphql/queries/convert_object_type_mapping.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
  backend/tests/unit/core/convert_object_type/test_convert_object_type.py
Labels: group/backend

fix test
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

fix(development): tempo syntax
  development/tempo/config.yml
Labels: none

Cleanup, the return
  backend/infrahub/cli/db.py
  backend/infrahub/cli/upgrade.py
  backend/infrahub/git/integrator.py
Labels: group/backend

Remove `get_infrahub_services`
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/merge.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/refresh/registry.py
  backend/infrahub/message_bus/operations/send/echo.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/telemetry/tasks.py
Labels: group/backend

Bring back logs
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
Labels: group/backend

We should not need override here
  backend/tests/integration_docker/test_computed_attributes.py
Labels: group/backend

Needs a little push
  backend/tests/unit/graphql/queries/test_branch.py
Labels: group/backend

Missing await
  backend/infrahub/core/migrations/schema/tasks.py
Labels: group/backend

Do not clear dependency overrides
  backend/infrahub/proposed_change/tasks.py
  backend/tests/conftest.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/queries/test_branch.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

Cleanup
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/functional/generator/test_mutation_generator.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/integration/diff/test_merge_rollback.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/integration/proposed_change/test_proposed_change_profile.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
  backend/tests/unit/graphql/mutations/test_branch.py
Labels: group/backend

Override dependencies to fix `test_merge_proposed_change_permission_failure`
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

Fix mypy highlighted errors
  backend/infrahub/message_bus/operations/refresh/registry.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

Remove unnecessary service instance in test
  backend/tests/conftest.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

Override dep instead of mock patch
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
Labels: group/backend

Fix schema getting out of sync across workers
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  backend/infrahub/workers/infrahub_async.py
Labels: group/backend

New try at solving schema sync issue
  backend/infrahub/server.py
Labels: group/backend

Keep component type in singleton dict
  backend/infrahub/server.py
  backend/infrahub/workers/infrahub_async.py
Labels: group/backend

Missing lines
  backend/infrahub/server.py
  backend/infrahub/workers/infrahub_async.py
Labels: group/backend

Set cache policy to none for tasks with client param
  backend/infrahub/git/repository.py
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

Use dep override for functional test http service
  backend/tests/functional/webhook/test_task.py
Labels: group/backend

Fix function that should not be awaited
  backend/infrahub/proposed_change/tasks.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/functional/generator/test_mutation_generator.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/diff/test_merge_rollback.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/integration/proposed_change/test_proposed_change_profile.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
Labels: group/backend

Fix issues post rebase
  backend/infrahub/workers/infrahub_async.py
Labels: group/backend

Remove `get_log()` to use existing `get_logger()`
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/refresh/registry.py
  backend/infrahub/message_bus/operations/send/echo.py
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
Labels: group/backend

Remove memory cache fixture usage
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/queries/test_branch.py
Labels: group/backend

Instantiate component independently from services
  backend/infrahub/server.py
  backend/infrahub/services/__init__.py
  backend/infrahub/workers/infrahub_async.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/queries/test_status.py
Labels: group/backend

Revert change in a test
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
Labels: group/backend

Try fixing test failures due to broken event loop
  backend/tests/helpers/test_app.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/queries/test_branch.py
Labels: group/backend

Set overrides in test helper
  backend/tests/helpers/test_app.py
  backend/tests/integration/diff/test_diff_update.py
Labels: group/backend

Add dep overrides on bus and local workflow usage in API tests
  backend/tests/unit/api/conftest.py
Labels: group/backend

Try at fixing branch rebase diff conflict test
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/git/test_git_rpc.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
