Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, group/infrahubctl, group/nornir, group/python-sdk, group/sync-engine, type/documentation

.github/labeler.yml:

---
"group/ci":
  - .github/**

"group/backend":
  - backend/**

"group/frontend":
  - frontend/**

"group/infrahubctl":
  - ctl/**

"group/nornir":
  - nornir_plugin/**

"group/python-sdk":
  - python_sdk/**

"group/sync-engine":
  - sync/**

"type/documentation":
  - docs/**

cleanup duplicate class BranchData
  python_sdk/infrahub_client/client.py
  python_sdk/infrahub_client/data.py
Labels: group/python-sdk

Fix type hints on main graphql mutation
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

upate tooltip animation durations
  frontend/src/components/tooltip.tsx
Labels: group/frontend

linter
  python_sdk/infrahub_client/client.py
  python_sdk/infrahub_client/data.py
Labels: group/python-sdk

fix diff view with conflict info and add conflict links
  frontend/src/components/link.tsx
  frontend/src/screens/diff/checks/conflict.tsx
  frontend/src/screens/diff/data-diff-element.tsx
  frontend/src/screens/diff/data-diff-peer.tsx
  frontend/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/src/utils/fetch.ts
Labels: group/frontend

fix tooltip for diff view
  frontend/src/components/tooltip.tsx
  frontend/src/screens/diff/diff-thread.tsx
Labels: group/frontend

add more informations for conflicts
  frontend/src/components/clipboard.tsx
  frontend/src/screens/diff/checks/check.tsx
  frontend/src/screens/diff/checks/conflict.tsx
  frontend/src/screens/diff/diff-conflict-info.tsx
Labels: group/frontend

Update diff apis to leverage new diff filtering
  backend/infrahub/api/diff.py
Labels: group/backend

Extend diff to support namespace and kind filtering
  backend/infrahub/api/diff.py
  backend/infrahub/core/branch.py
Labels: group/backend

Set Artifact attributes as branch local
  backend/infrahub/core/schema.py
Labels: group/backend

Extend DiffRelationshipQuery to add support for namespace and kind filters
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/test_query_diff.py
Labels: group/backend

Extend DiffNodeQuery and DiffAttributeQuery to filter based on namespaces, kinds and branch type
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/test_query_diff.py
Labels: group/backend

Add namespace to Node
  backend/infrahub/core/query/node.py
  backend/tests/unit/conftest.py
Labels: group/backend

Generate artifact on artifact definition creation
  backend/infrahub/graphql/generator.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/mutations/artifact_definition.py
Labels: group/backend

Fix type hint for some graphql mutations
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
Labels: group/backend

Add unit tests for artifact definition mutations
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
Labels: group/backend

Convert entire artifact as Branch LOCAL
  backend/infrahub/core/schema.py
Labels: group/backend

Account for artifact conflicts in diff api
  backend/infrahub/api/diff.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/api/test_15_diff.py
Labels: group/backend

add links between views (checks / diff)
  frontend/src/graphql/queries/diff/getCheckDetails.ts
  frontend/src/screens/diff/checks/check.tsx
Labels: group/frontend

fix popover click
  frontend/src/components/popover.tsx
Labels: group/frontend

remove log
  frontend/src/screens/diff/checks/conflict.tsx
Labels: group/frontend

fix height for login view
  frontend/index.html
Labels: group/frontend

fix relationship edit form
  frontend/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/src/screens/object-item-edit/object-item-edit-paginated.tsx
Labels: group/frontend

Query targets in main as well
  backend/infrahub/api/diff.py
Labels: group/backend

remove typeing animation
  frontend/tests/e2e/object-creation.cy.ts
Labels: group/frontend

fix relationship redirection
  frontend/src/screens/object-item-details/relationship-details-paginated.tsx
Labels: group/frontend

lint
  frontend/src/config/config.ts
Labels: group/frontend

Add conflict information on data integrity checks
  backend/infrahub/core/branch.py
  backend/infrahub/core/constants.py
  backend/infrahub/core/schema.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  frontend/src/graphql/queries/diff/getValidatorDetails.ts
Labels: group/backend, group/frontend

fix diff view with conflict info and add conflict links
  frontend/src/components/link.tsx
  frontend/src/screens/diff/checks/conflict.tsx
  frontend/src/screens/diff/data-diff-element.tsx
  frontend/src/screens/diff/data-diff-peer.tsx
  frontend/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/src/utils/fetch.ts
Labels: group/frontend

upate tooltip animation durations
  frontend/src/components/tooltip.tsx
Labels: group/frontend

fix conflict in data diff view
  frontend/src/screens/diff/data-diff.tsx
  frontend/src/screens/diff/diff-conflict-info.tsx
Labels: group/frontend

fix tooltip for diff view
  frontend/src/components/tooltip.tsx
  frontend/src/screens/diff/diff-thread.tsx
Labels: group/frontend

add more informations for conflicts
  frontend/src/components/clipboard.tsx
  frontend/src/screens/diff/checks/check.tsx
  frontend/src/screens/diff/checks/conflict.tsx
  frontend/src/screens/diff/diff-conflict-info.tsx
Labels: group/frontend

add conflcit info in checks
  frontend/src/graphql/queries/diff/getCheckDetails.ts
  frontend/src/graphql/queries/proposed-changes/getThreadsAndChecks.ts
  frontend/src/screens/diff/checks/check.tsx
  frontend/src/screens/diff/checks/conflict.tsx
  frontend/src/screens/diff/checks/validator-details.tsx
  frontend/src/screens/diff/data-diff-node.tsx
  frontend/src/utils/diff.tsx
Labels: group/frontend

fix path for peer node
  frontend/src/screens/diff/data-diff-element.tsx
  frontend/src/screens/diff/diff-conflict-info.tsx
Labels: group/frontend

Fix for updates on relationship_one with values
  backend/infrahub/core/branch.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  pyproject.toml
Labels: group/backend

Update Neo4j docker image to 5,13 community
  development/docker-compose-database-neo4j.yml
  development/docker-compose-test-database-neo4j.yml
  development/docker-compose.dev-override.yml.tmp
  development/docker-compose.override.yml.tmp
Labels: none

Add support for Node Create with an ID in core
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Add support for Node Create with ID in the SDK
  python_sdk/infrahub_client/node.py
Labels: group/python-sdk

Remove test for neo4j to validate the creation of the db since it's not supported by the community version
  backend/tests/unit/test_database.py
Labels: group/backend
