Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Fix typing for menu mutations
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
Labels: group/backend

All Account button, beside icon, is a link to login page (#4539)
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/screens/layout/app-version.tsx
  frontend/app/tests/e2e/signin.spec.ts
Labels: group/frontend

removed eslint and prettier
  .github/workflows/ci.yml
  frontend/app/.eslintignore
  frontend/app/.eslintrc
  frontend/app/.prettierignore
  frontend/app/.prettierrc.json
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/ci, group/frontend

added Biome dependency + config
  .github/workflows/ci.yml
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/ci, group/frontend

always run
  .github/workflows/ci.yml
Labels: group/ci

fix command
  .github/workflows/ci.yml
Labels: group/ci

rebase
  frontend/app/src/components/account-menu.tsx
Labels: group/frontend

Fix get_one
  backend/infrahub/api/menu.py
  backend/infrahub/core/manager.py
  backend/tests/unit/api/test_menu.py
Labels: group/backend

chore
  frontend/app/biome.json
  package.json
Labels: group/frontend

Revert Builtin as restricted namespace for now
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/mutations/menu.py
Labels: group/backend

Fix format
  backend/infrahub/graphql/mutations/menu.py
Labels: group/backend

removed ts-node
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

fix flaky
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

Update test_get_proposed_change_schema_integrity_constraints
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

ignore files generated by e2e tests
  frontend/app/biome.json
Labels: group/frontend

fix flaky 2
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
Labels: group/frontend

fixes SDK batch documentation on handling exceptions
  changelog/+sdk-batch-docs.fixed.md
  docs/docs/python-sdk/guides/batch.mdx
Labels: type/documentation

Removed unused dependencies + fixed flaky e2e tests (#4541)
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

allow to customize infrahub docker image source
  docker-compose.yml
Labels: none

start fix edit form for accounts
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/components/table/table.tsx
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
Labels: group/frontend

rename
  frontend/app/src/screens/role-management/accounts.tsx
Labels: group/frontend

rename
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

start add group update form
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/groups.tsx
Labels: group/frontend

more template fixes
  changelog/docs_release_notes.mdx.template
  changelog/github_release_notes.md.template
  changelog/towncrier.md.template
  pyproject.toml
Labels: none

start update role form
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

start update object permissions form
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

Fix test_schema_integrity graphql mock endpoint
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

allow to customize infrahub docker image source
  docker-compose.yml
Labels: none

allow to customize infrahub docker image source
  docker-compose.yml
Labels: none

Convert new menu interface to list instead of dict
  backend/infrahub/core/initialization.py
  backend/infrahub/menu/generator.py
  backend/infrahub/menu/menu.py
  backend/infrahub/menu/models.py
Labels: group/backend

add new WIP `DiffMerger` class (#4505)
  backend/infrahub/core/diff/merger/__init__.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

Move InfrahubServices out of TYPE_CHECKING block
  backend/infrahub/message_bus/operations/requests/proposed_change.py
Labels: group/backend

Skip prefect when using BusSimulator
  backend/infrahub/message_bus/operations/__init__.py
  backend/tests/adapters/message_bus.py
Labels: group/backend

Convert all operations to prefect flow
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/finalize/validator.py
  backend/infrahub/message_bus/operations/git/branch.py
  backend/infrahub/message_bus/operations/git/diff.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/message_bus/operations/refresh/registry.py
  backend/infrahub/message_bus/operations/refresh/webhook.py
  backend/infrahub/message_bus/operations/requests/artifact.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/diff.py
  backend/infrahub/message_bus/operations/requests/generator.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/message_bus/operations/requests/git.py
  backend/infrahub/message_bus/operations/requests/graphql_query_group.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/message_bus/operations/transform/jinja.py
  backend/infrahub/message_bus/operations/transform/python.py
  backend/infrahub/message_bus/operations/trigger/artifact_definition.py
  backend/infrahub/message_bus/operations/trigger/generator_definition.py
  backend/infrahub/message_bus/operations/trigger/ipam.py
  backend/infrahub/message_bus/operations/trigger/proposed_change.py
Labels: group/backend

Fix format
  backend/infrahub/message_bus/operations/refresh/registry.py
Labels: group/backend

remove tasks and adjust unit tests and http mock is in use
  backend/infrahub/message_bus/operations/requests/graphql_query_group.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

Add flow decorator to all tasks
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/event/node.py
  backend/infrahub/message_bus/operations/event/schema.py
  backend/infrahub/message_bus/operations/event/worker.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/message_bus/operations/schema/migration.py
  backend/infrahub/message_bus/operations/schema/validator.py
  backend/infrahub/message_bus/operations/send/echo.py
  backend/infrahub/message_bus/operations/send/telemetry.py
  backend/infrahub/message_bus/operations/send/webhook.py
  backend/infrahub/message_bus/operations/trigger/webhook.py
  backend/tests/unit/message_bus/test_mappings.py
Labels: group/backend

Remove flow for refresh.registry.* tasks
  backend/infrahub/message_bus/operations/refresh/registry.py
  backend/tests/unit/message_bus/test_mappings.py
Labels: group/backend

support deletes in AccountPermissionQuery
  backend/infrahub/core/account.py
  backend/tests/unit/graphql/test_core_account.py
Labels: group/backend

Add new menu model and endpoint
  backend/infrahub/api/menu.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/infrahub/menu/__init__.py
  backend/infrahub/menu/constants.py
  backend/infrahub/menu/generator.py
  backend/infrahub/menu/menu.py
  backend/infrahub/menu/models.py
  backend/tests/unit/api/test_menu.py
  backend/tests/unit/graphql/mutations/test_menu.py
  backend/tests/unit/menu/__init__.py
  backend/tests/unit/menu/test_generator.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  pyproject.toml
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
