Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Add containerlab to codespace image
  .devcontainer/Dockerfile
  changelog/458.added.md
Labels: none

Add containerlab to codespace image
  .devcontainer/Dockerfile
  changelog/458.added.md
Labels: none

Added data-testid on filter buttons of pc diff view
  frontend/app/src/entities/proposed-changes/ui/diff-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/diff-summary.tsx
Labels: group/frontend

Added data-testid on filter buttons of pc diff view (#5644)
  frontend/app/src/entities/proposed-changes/ui/diff-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/diff-summary.tsx
Labels: group/frontend

Add documentation around git submodules
  docs/docs/development/backend.mdx
Labels: type/documentation

update diff logic to handle schema kind migration (#5634)
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

Fix linting issues
  docs/docs/development/backend.mdx
Labels: type/documentation

Add postgres to architecture drawings
  docs/docs/media/high_level_architecture.excalidraw.svg
  docs/docs/media/high_level_architecture_ha.excalidraw.svg
Labels: type/documentation

Add postgres to tables
  docs/docs/media/high_level_architecture.excalidraw.svg
  docs/docs/media/high_level_architecture_ha.excalidraw.svg
  docs/docs/topics/architecture.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
Labels: type/documentation

Add information about git submodules (#5645)
  docs/docs/development/backend.mdx
Labels: type/documentation

Add PostgreSQL to architecture drawings (#5646)
  docs/docs/media/high_level_architecture.excalidraw.svg
  docs/docs/media/high_level_architecture_ha.excalidraw.svg
  docs/docs/topics/architecture.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
Labels: type/documentation

fix(backend): early filter on uniqueness constraint query
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

fix: test attrvalue indexes
  backend/infrahub/core/graph/index.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/tests/conftest.py
Labels: group/backend

fix(backend): use explicit where clause instead of all()
  backend/infrahub/core/query/node.py
Labels: group/backend

fix(backend): improve node_uniqueness_constraints query
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

fix(backend): do not use old uniqueness constraint filter
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

fix(backend): improve relationship_count_per_node query
  backend/infrahub/core/query/relationship.py
Labels: group/backend

fix(backend): early filter on uniqueness constraint query
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

move integrations to other repos
  docs/docs/integrations/infrahub-ansible/readme.mdx
  docs/docs/integrations/readme.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
  docs/sidebars.ts
  frontend/app/src/pages/homepage.tsx
Labels: group/frontend, type/documentation

fix broken link
  docs/docs/faq/faq.mdx
Labels: type/documentation

move integrations to other repos (#5649)
  docs/docs/faq/faq.mdx
  docs/docs/integrations/infrahub-ansible/readme.mdx
  docs/docs/integrations/readme.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
  docs/sidebars.ts
  frontend/app/src/pages/homepage.tsx
Labels: group/frontend, type/documentation

Updates for relationships for Node changelog
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/relationship/model.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_changelog.py
Labels: group/backend

Fix service init in test
  backend/tests/unit/api/test_oidc.py
Labels: group/backend

removed always true test
  frontend/app/tests/e2e/objects/object-groups.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

Fix CoreNumberPool utilization
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
Labels: group/backend

Reworked Account tokens view
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/groups/ui/groups-auto-generated-filter-button.tsx
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object-items/object-items-paginated.tsx
  frontend/app/src/entities/user-profile/api/createAccountToken.ts
  frontend/app/src/entities/user-profile/api/get-account-token-from-api.ts
  frontend/app/src/entities/user-profile/domain/get-infrahub-account-token.query.ts
  frontend/app/src/entities/user-profile/domain/get-infrahub-account-token.ts
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-delete-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-item.tsx
  frontend/app/src/entities/user-profile/ui/account-token-list.tsx
  frontend/app/src/entities/user-profile/ui/tab-tokens.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/utils/date.ts
  frontend/app/tests/e2e/profile/account-tokens.spec.ts
Labels: group/frontend

Add changelog
  changelog/+account-tokens.changed.md
  frontend/app/src/entities/user-profile/ui/account-token-item.tsx
  frontend/app/tests/e2e/profile/account-tokens.spec.ts
Labels: group/frontend

clearer
  changelog/+account-tokens.changed.md
Labels: none

one more unit test
  backend/tests/unit/core/constraint_validators/test_uniqueness_constraint_query.py
Labels: group/backend

move to new "housekeeping" towncrier section
  changelog/2193.housekeeping.md
  changelog/2194.housekeeping.md
Labels: none

remove resolution selection
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

Docs: Add videos to docs. (#5639)
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/artifact.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/ipam.mdx
  docs/docs/topics/proposed-change.mdx
  docs/docs/topics/schema.mdx
  docs/docs/topics/version-control.mdx
  docs/docs/tutorials/getting-started/branches.mdx
  docs/package-lock.json
  docs/package.json
Labels: type/documentation

fix(backend): do not use old uniqueness constraint filter
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

fix(backend): early filter on uniqueness constraint query
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

one more unit test
  backend/tests/unit/core/constraint_validators/test_uniqueness_constraint_query.py
Labels: group/backend

fix(backend): improve node_uniqueness_constraints query
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

fix(backend): improve relationship_count_per_node query
  backend/infrahub/core/query/relationship.py
Labels: group/backend

fix(backend): use explicit where clause instead of all()
  backend/infrahub/core/query/node.py
Labels: group/backend

Add spelling for nornir
  .vale/styles/spelling-exceptions.txt
Labels: none

Update 458.added.md
  changelog/458.added.md
Labels: none
