Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

add error check in details view
  frontend/app/src/pages/objects/object-details.tsx
Labels: group/frontend

add permission in ipam
  frontend/app/src/graphql/queries/getPermissions.ts
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

add error in ipam
  frontend/app/src/screens/ipam/ipam-router.tsx
Labels: group/frontend

add permissions in relationships view
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
Labels: group/frontend

Add permission report to permission backend
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/permissions/backend.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/permissions/test_backends.py
Labels: group/backend

Fix object permission protocol
  backend/infrahub/core/protocols.py
  backend/infrahub/permissions/report.py
Labels: group/backend

Use flags to represent per branch permission
  backend/infrahub/core/account.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/permissions/constants.py
Labels: group/backend

Fix error message to match
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Show permission decision value as string
  backend/infrahub/graphql/types/attribute.py
  backend/infrahub/graphql/types/permission.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

Adapt local permission backend to handle flags
  backend/infrahub/core/attribute.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

Rename enum members
  backend/infrahub/api/schema.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/permissions/test_backends.py
Labels: group/backend

Fix some programming errors
  backend/infrahub/api/schema.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/infrahub/permissions/types.py
Labels: group/backend

Remove `branch` from object permission objects
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/permissions/test_backends.py
Labels: group/backend

Adapt required permission for schema for branch
  backend/infrahub/api/schema.py
Labels: group/backend

Fix circular dependency
  backend/infrahub/core/constants/__init__.py
Labels: group/backend

Report attribute permission as int
  backend/infrahub/graphql/types/attribute.py
Labels: group/backend

Workaround enum issue affecting tests
  backend/infrahub/core/account.py
  backend/infrahub/core/enums.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/graphql/enums.py
  backend/tests/unit/core/test_enums.py
Labels: group/backend

Add edit default branch perm to get perm report func
  backend/infrahub/permissions/report.py
Labels: group/backend

Replace static strings with dataclass instances
  backend/infrahub/api/schema.py
  backend/infrahub/core/account.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/super_admin_checker.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/permissions/backend.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/infrahub/permissions/types.py
  backend/tests/unit/permissions/test_backends.py
Labels: group/backend

Disable unused arg (for now)
  backend/infrahub/permissions/report.py
Labels: group/backend

IFC-761 Use flags to handle branch permissions (#4601)
  backend/infrahub/api/schema.py
  backend/infrahub/core/account.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/enums.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/super_admin_checker.py
  backend/infrahub/graphql/enums.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/types/attribute.py
  backend/infrahub/graphql/types/permission.py
  backend/infrahub/permissions/backend.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/infrahub/permissions/types.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_enums.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/permissions/test_backends.py
Labels: group/backend

update on menu UI
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/screens/layout/menu-navigation/components/collapsed-button.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/state/atoms/schema.atom.ts
Labels: group/frontend

Disable approve/merge/close buttons for merged Proposed Changes (#4633)
  changelog/3495.fixed.md
  frontend/app/src/screens/proposed-changes/action-button/pc-approve-button.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

clean up + better naming
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

Restore original enum handling
  backend/infrahub/core/enums.py
  backend/infrahub/graphql/enums.py
  backend/tests/unit/core/test_enums.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

IFC-779 Restore original enum handling (#4635)
  backend/infrahub/core/enums.py
  backend/infrahub/graphql/enums.py
  backend/tests/unit/core/test_enums.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

update test
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
Labels: group/frontend

wording
  docs/docs/topics/schema.mdx
Labels: type/documentation

wording
  docs/docs/topics/schema.mdx
Labels: type/documentation

fixes python sdk store guide
  docs/docs/python-sdk/guides/store.mdx
Labels: type/documentation

fix for handling schema changes during merge
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/integration/diff/test_diff_merge.py
Labels: group/backend

formatting
  backend/infrahub/core/diff/calculator.py
Labels: group/backend

adding reo.dev analytics
  docs/docusaurus.config.ts
  docs/static/js/custom-reo.js
Labels: type/documentation

towncrier for reo.dev addition
  changelog/+reo_dot_dev.added.md
Labels: none

test and bug fixes
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_merger.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

remove code to set "to" timestamp on source branch in merge
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/query/merge.py
Labels: group/backend

Upgrade FastAPI and Starlette
  poetry.lock
  pyproject.toml
Labels: none

udpate object permissions
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

update global permissions
  frontend/app/src/screens/role-management/global-permissions-form.tsx
Labels: group/frontend

Update permissions decisions for global and object permissions (#4642)
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend
