Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

udpate ui for global events
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/events/ui/branch-event.tsx
Labels: group/frontend

prepare for futur change
  frontend/app/src/entities/events/ui/branch-event.tsx
Labels: group/frontend

revert change
  frontend/app/src/entities/events/ui/branch-event.tsx
Labels: group/frontend

Add support in DiffChangelogCollector for attribute value conflicts
  backend/infrahub/core/changelog/diff.py
  backend/infrahub/core/changelog/models.py
  backend/tests/unit/core/changelog/test_diff.py
Labels: group/backend

udpate details view
  frontend/app/src/entities/events/ui/event.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/events/ui/event.tsx
Labels: group/frontend

Set branch with label as primary node for branch events
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/graphql/types/common.py
  backend/infrahub/task_manager/event.py
Labels: group/backend

fix render on context change
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
Labels: group/frontend

add branch context
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend

Global activities updates and activity details page (#5806)
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/api/get-event-details.query.ts
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/ui/branch-event.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-branch-event.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/global-filter.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/global-standard-event.tsx
  frontend/app/src/entities/events/ui/group-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/entities/events/ui/standard-event.tsx
  frontend/app/src/entities/events/utils/constants.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
  frontend/app/src/pages/activities/details.tsx
  frontend/app/src/shared/components/display/text-display.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-object-id.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/type.ts
  frontend/app/src/shared/components/ui/link.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend

removed unsued code
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
Labels: group/frontend

type cleaning
  frontend/app/src/entities/nodes/types.ts
Labels: group/frontend

fix test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

Added basic support for template schema
  frontend/app/src/entities/schema/domain/get-schema.test.ts
  frontend/app/src/entities/schema/domain/get-schema.ts
  frontend/app/src/entities/schema/stores/schema.atom.ts
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/entities/schema/ui/decorators/withSchemaContext.tsx
  frontend/app/src/entities/schema/ui/hooks/useSchema.ts
  frontend/app/src/entities/schema/utils/resole-schema.test.ts
  frontend/app/src/entities/schema/utils/resolve-schema.ts
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/shared/api/rest/types.generated.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

more
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
Labels: group/frontend

add template support is details + schema view
  frontend/app/src/entities/nodes/hooks/useObjectItems.ts
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/schema/ui/schema-selector.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.tsx
Labels: group/frontend

Fix object templates being added in menu twice
  backend/infrahub/menu/generator.py
Labels: group/backend

Fix template lookup
  backend/infrahub/core/node/__init__.py
Labels: group/backend

Add test
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Fix object templates being added in menu twice (#5815)
  backend/infrahub/core/node/__init__.py
  backend/infrahub/menu/generator.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

Fix the version of infrahub in the main docker-compose
  docker-compose.yml
Labels: none

chore: update docker-compose and helm chart
  docker-compose.yml
Labels: none

fix(ci): do not update files for pre/dev releases
  .github/workflows/update-compose-file-and-chart.yml
Labels: group/ci

Revert compose to 1.1.7
  docker-compose.yml
Labels: none

fix(helm): revert version bump
  helm/Chart.yaml
Labels: none

fix(helm): revert version bump
  helm/Chart.yaml
Labels: none

Revert compose to 1.1.7
  docker-compose.yml
Labels: none

fix(ci): do not update files for pre/dev releases
  .github/workflows/update-compose-file-and-chart.yml
Labels: group/ci

Added support for template schema (#5812)
  frontend/app/src/entities/nodes/hooks/useObjectItems.ts
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/nodes/types.ts
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/schema/domain/get-schema.test.ts
  frontend/app/src/entities/schema/domain/get-schema.ts
  frontend/app/src/entities/schema/stores/schema.atom.ts
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/entities/schema/ui/decorators/withSchemaContext.tsx
  frontend/app/src/entities/schema/ui/hooks/useSchema.ts
  frontend/app/src/entities/schema/ui/schema-selector.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.tsx
  frontend/app/src/entities/schema/utils/resole-schema.test.ts
  frontend/app/src/entities/schema/utils/resolve-schema.ts
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/shared/api/rest/types.generated.ts
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

update changelog
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

1.2rc0 prep
  CHANGELOG.md
  pyproject.toml
Labels: none

Update DiffUpdate mutation to return the id of the task when wait_until_completion is False.
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/graphql/mutations/diff.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/graphql/diff/test_diff_update_mutation.py
  changelog/+diff-update.changed.md
Labels: group/backend

sticky filters
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

Align testcontainers version to main project
  python_testcontainers/pyproject.toml
Labels: none

Make type checker happy
  backend/tests/unit/graphql/test_core_account.py
Labels: group/backend

Fix generated documentation
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-menu.mdx
  docs/docs/infrahubctl/infrahubctl-object.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/infrahubctl/infrahubctl-schema.mdx
Labels: type/documentation

fix docker compose version
  docker-compose.yml
Labels: none

add service in inv
  tasks/release.py
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
