Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Add basic integration test for the http service adapter
  backend/infrahub/services/adapters/http/httpx.py
  backend/tests/integration/services/adapters/http/__init__.py
  backend/tests/integration/services/adapters/http/test_httpx.py
  changelog/5553.housekeeping.md
Labels: group/backend

Improve relationship group events for member of groups
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

fix(tasks): ignore task manager when pulling
  tasks/container_ops.py
  tasks/shared.py
Labels: none

fix-task-manager-db-healthcheck
  changelog/5739.fixed.md
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
Labels: none

fix(tasks): ignore task manager when pulling (#5752)
  tasks/container_ops.py
  tasks/shared.py
Labels: none

fix flaky test
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
Labels: group/backend

replace summary enrichment with query
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/summary_counts.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/dependencies/builder/diff/enricher/summary_counts.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
Labels: group/backend

update repository tests for counts
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/repository/base.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
Labels: group/backend

Add option to have parent events and send secondary events
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/models.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/helpers/events.py
  backend/tests/unit/core/test_changelog.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

fix yamllint line-length error
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
Labels: none

Add healthcheck & Postgress (#5753)
  .vale/styles/spelling-exceptions.txt
Labels: none

Added missing changelog for min_count and max_count support on UI
  changelog/5661.added.md
Labels: none

feat(testcontainers): add api and task worker scale out
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/haproxy.cfg
Labels: none

add the restrictions for generic versus nodes, and avoid repetitions (#5742)
  docs/docs/topics/computed-attributes.mdx
Labels: type/documentation

feat(testcontainers): add api and task worker scale out
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/haproxy.cfg
Labels: none

publish pypi: infrahub-testcontainers
  .github/workflows/publish-pypi.yml
Labels: group/ci

publish pypi: infrahub-testcontainers
  .github/workflows/publish-pypi.yml
Labels: group/ci

Added missing changelog for min_count and max_count support on UI (#5756)
  changelog/5661.added.md
Labels: none

removed debug
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
Labels: group/frontend

added logo on sidebar
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/assets/infrahub-logo.svg
  frontend/app/src/shared/components/account-menu.tsx
  frontend/app/src/shared/components/layout/header.tsx
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/layout/sidebar.tsx
  frontend/app/src/shared/components/time-selector.tsx
Labels: group/frontend

update menu
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

Updated Infrahub global layout
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/entities/branches/ui/branches-items.tsx
  frontend/app/src/entities/diff/ui/diff-empty.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/proposed-changes/ui/items.tsx
  frontend/app/src/entities/tasks/ui/task-items.tsx
  frontend/app/src/entities/tasks/ui/task-status.tsx
  frontend/app/src/entities/user-profile/ui/user-profile.tsx
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/pages/role-management/index.tsx
  frontend/app/src/pages/tasks/task-details.tsx
  frontend/app/src/shared/components/layout/content.tsx
  frontend/app/src/shared/components/layout/header.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/components/layout/sidebar.tsx
Labels: group/frontend

fix lint
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

fix lint
  frontend/app/src/shared/components/layout/sidebar.tsx
Labels: group/frontend

contentCard overflow hidden -> auto
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/entities/branches/ui/branches-items.tsx
  frontend/app/src/entities/proposed-changes/ui/items.tsx
  frontend/app/src/entities/tasks/ui/task-items.tsx
  frontend/app/src/entities/user-profile/ui/user-profile.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/pages/role-management/index.tsx
  frontend/app/src/pages/schema.tsx
  frontend/app/src/pages/tasks/task-details.tsx
  frontend/app/src/shared/components/layout/content.tsx
Labels: group/frontend

better collapse icon
  frontend/app/src/shared/components/layout/sidebar.tsx
Labels: group/frontend

adjust ui
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
Labels: group/frontend

added changelog
  changelog/+new-layout.added.md
Labels: none

Optimized query for object list
  frontend/app/src/entities/nodes/object-item-edit/generateObjectEditFormQuery.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: group/frontend

changelog
  changelog/+faster-object-list.changed.md
Labels: none

prevent card grow
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

lint
  backend/infrahub/menu/menu.py
Labels: group/backend

added unit test
  frontend/app/src/shared/api/graphql/utils.test.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

Updated Infrahub global layout (#5749)
  changelog/+new-layout.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/assets/infrahub-logo.svg
  frontend/app/src/entities/diff/ui/diff-empty.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/tasks/ui/task-status.tsx
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/pages/schema.tsx
  frontend/app/src/shared/components/account-menu.tsx
  frontend/app/src/shared/components/layout/content.tsx
  frontend/app/src/shared/components/layout/header.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/layout/sidebar.tsx
  frontend/app/src/shared/components/time-selector.tsx
Labels: group/frontend

Made object list retrieval faster with an optimized query (#5759)
  changelog/+faster-object-list.changed.md
  frontend/app/src/entities/nodes/object-item-edit/generateObjectEditFormQuery.ts
  frontend/app/src/shared/api/graphql/utils.test.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

Fix scroll on hierarchical object list
  frontend/app/src/pages/objects/layout.tsx
Labels: group/frontend

handle diff summary counts at the database level (#5712)
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/summary_counts.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/summary_counts_enricher.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/dependencies/builder/diff/enricher/summary_counts.py
  backend/tests/unit/core/diff/repository/__init__.py
  backend/tests/unit/core/diff/repository/base.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
Labels: group/backend

remove details page from router
  frontend/app/src/app/router.tsx
  frontend/app/src/pages/activities/details.tsx
Labels: group/frontend

add empty state
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

formatting
  backend/infrahub/core/diff/query/summary_counts_enricher.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
