Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Improve benchmarks of NodeUniqueAttributeConstraintQuery
  backend/infrahub/config.py
  backend/infrahub/core/validators/uniqueness/model.py
  backend/tests/conftest.py
  backend/tests/helpers/constants.py
  backend/tests/helpers/query_benchmark/car_person_generators.py
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/helpers/utils.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_manager_query.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/query_benchmark/utils.py
Labels: group/backend

IFC-767 first draft of uniqueness checks during pipeline
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/uniqueness_data_conflict_finder.py
  backend/infrahub/dependencies/builder/diff/uniqueness_data_conflict_finder.py
  backend/infrahub/dependencies/registry.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
Labels: group/backend

Convert git related tasks (sync, create branch) to prefect
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_git_createbranch.py
  backend/infrahub/message_bus/messages/request_git_sync.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/git.py
  backend/infrahub/services/scheduler.py
  backend/infrahub/tasks/recurring.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

use new getPermissions query
  frontend/app/src/graphql/queries/getPermissions.ts
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
Labels: group/frontend

get permissions for proposed change create
  frontend/app/src/pages/proposed-changes/new.tsx
Labels: group/frontend

update permissions for conflict
  frontend/app/src/screens/diff/node-diff/conflict.tsx
Labels: group/frontend

update permissions for edit proposed changes
  frontend/app/src/screens/proposed-changes/proposed-change-edit-trigger.tsx
Labels: group/frontend

update permissions for proposed changes
  frontend/app/src/graphql/queries/proposed-changes/getProposedChanges.ts
  frontend/app/src/screens/proposed-changes/action-button/pc-approve-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-close-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
Labels: group/frontend

fix unauth test
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

add flag for artifact
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

fix auth
  frontend/app/tests/e2e/objects/object-list-search.spec.ts
Labels: group/frontend

fix token.spec.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

update mock data
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/graphqlQueries.ts
  frontend/app/tests/mocks/data/permissions.ts
  frontend/app/tests/mocks/data/task.ts
  frontend/app/tests/mocks/data/task_1.ts
  frontend/app/tests/mocks/data/task_2.ts
  frontend/app/tests/mocks/data/task_3.ts
  frontend/app/tests/mocks/data/task_4.ts
  frontend/app/tests/mocks/data/task_5.ts
  frontend/app/tests/mocks/data/task_6.ts
  frontend/app/tests/mocks/data/task_7.ts
Labels: group/frontend

fix artifacts details view with object permission
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

fix auth for object list
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: group/frontend

check permission for object details and items
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/graphql/queries/objects/getObjectItems.ts
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/screens/errors/unauthorized-screen.tsx
  frontend/app/src/screens/groups/groups-manager-trigger-button.tsx
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

update types
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

use auth in hierarchical view test
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
Labels: group/frontend

fix search e2e
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

use admin auth for artifacts
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: group/frontend

skip anonymous profile test
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

fix filter test
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

permission for profile
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/graphql/queries/objects/getObjectItems.ts
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

update test for role-management (will be improved)
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/tests/e2e/permissions/accounts-object.spec.ts
  frontend/app/tests/e2e/permissions/role-management.spec.ts
Labels: group/frontend

fix profile
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/utils/permissions.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

fix loading state for items
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

remove log
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

remove permission from branch selector
  frontend/app/src/components/branch-selector.tsx
Labels: group/frontend

add kind for filter in use object items for permission
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

skip anonymous test for now
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

skip profiles
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
Labels: group/frontend

fix mock data
  frontend/app/tests/mocks/data/permissions.ts
Labels: group/frontend

update permissions structure to not provide a message if it's allowed + relationship example
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

disable generic selector item when not allowed to create
  frontend/app/src/components/form/generic-object-form.tsx
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/hooks/useSchema.ts
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/permission/queries/getObjectPermissions.ts
  frontend/app/src/screens/permission/types.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

start update messages and use new logic with current branch
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

enabled skipped tests
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend

update message
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

update message
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

update types + renaming
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/role-management/types.ts
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

moved to permission folder
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/permission/utils.ts
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
