Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Add missing fixture
  backend/tests/conftest.py
Labels: group/backend

Add `common_parent` relationship attribute (#6626)
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/constraints/count.py
  backend/infrahub/core/relationship/constraints/interface.py
  backend/infrahub/core/relationship/constraints/peer_kind.py
  backend/infrahub/core/relationship/constraints/peer_parent.py
  backend/infrahub/core/relationship/constraints/peer_relatives.py
  backend/infrahub/core/relationship/constraints/profiles_kind.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/infrahub/dependencies/builder/constraint/relationship_manager/peer_parent.py
  backend/infrahub/dependencies/registry.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/functional/constraints/peer_parent.py
  backend/tests/helpers/schema/device.py
  backend/tests/unit/core/constraint_validators/test_relationship_manager.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_relatives.py
  backend/tests/unit/core/constraint_validators/test_relationship_profiles_kind.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  docs/docs/reference/schema/relationship.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

Adjust sync?
  .github/workflows/sync-docs.yml
Labels: group/ci

Swithc action dropdown color scheme
  backend/infrahub/actions/constants.py
Labels: group/backend

Update whenever to 0.7.3
  poetry.lock
  pyproject.toml
Labels: none

fix fields re render to unset values on trigger change
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
Labels: group/frontend

fix attribute form
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
Labels: group/frontend

Forbid overriding a generic numberpool at a node level
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
Labels: group/backend

fix alerts
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
Labels: group/frontend

start add test
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

prevent dissociate in table toolabr if not possible
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend

add comment
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

add check for pre filled value
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

add tests, screenshots and guide for Events Trigers/Actions
  docs/docs/guides/events-rules-actions.mdx
  docs/docs/media/guides/events/generator-action-form-creation.png
  docs/docs/media/guides/events/group-trigger-form-creation.png
  docs/docs/media/guides/events/grp_actions-details.png
  docs/docs/media/guides/events/grp_actions-form-creation.png
  docs/docs/media/guides/events/node-trigger-form-creation.png
  docs/docs/media/guides/events/node-trigger-matches-form-creation.png
  docs/docs/topics/event-actions.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/events/events-rules-actions.spec.ts
Labels: group/frontend, type/documentation

update schema display
  frontend/app/src/entities/schema/ui/relationship-display.tsx
Labels: group/frontend

use the right property
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/relationship-parent-constraint.field.tsx
Labels: group/frontend

remove logs
  frontend/app/src/shared/components/form/fields/relationship-parent-constraint.field.tsx
Labels: group/frontend

add tests, screenshots and guide for Events Trigers/Actions
  docs/docs/guides/events-rules-actions.mdx
  docs/docs/reference/dotinfrahub.mdx
  docs/docs/topics/event-actions.mdx
Labels: type/documentation

linter
  frontend/app/tests/e2e/events/events-rules-actions.spec.ts
Labels: group/frontend

Adds fields auto-mapping within conversion mutation (#6617)
  backend/infrahub/graphql/mutations/convert_object_type.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
Labels: group/backend

use isOfKind
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

remove type
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

rename
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-tab-manager.tsx
Labels: group/frontend

rename
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-details-tab-content.tsx
Labels: group/frontend

error check
  frontend/app/src/entities/repository/ui/repository-objects-manager.tsx
Labels: group/frontend

Ensure to correctly use the same parent constraint (#6640)
  frontend/app/src/entities/schema/ui/relationship-display.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/relationship-parent-constraint.field.tsx
Labels: group/frontend

Fix lint
  docs/docs/getting-started/concepts.mdx
  docs/docs/getting-started/next-steps.mdx
  docs/docs/home.mdx
Labels: type/documentation

Various updates
  .github/workflows/sync-docs.yml
  docs/docs/getting-started/next-steps.mdx
  docs/docs/old.readme.mdx.old
  docs/sidebars.ts
Labels: group/ci, type/documentation

add common_parent in schema demo
  models/base/dcim.yml
Labels: none

update schema topic for common_parent
  docs/docs/topics/schema.mdx
Labels: type/documentation

only turn off the one test
  backend/tests/unit/core/migrations/graph/test_001.py
  backend/tests/unit/core/migrations/graph/test_003.py
  backend/tests/unit/core/migrations/graph/test_012.py
  backend/tests/unit/core/migrations/graph/test_013.py
  backend/tests/unit/core/migrations/graph/test_014.py
  backend/tests/unit/core/migrations/graph/test_017.py
  backend/tests/unit/core/migrations/graph/test_018_025.py
  backend/tests/unit/core/migrations/graph/test_019.py
  backend/tests/unit/core/migrations/graph/test_020.py
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_027.py
  backend/tests/unit/core/migrations/graph/test_030.py
Labels: group/backend

format
  backend/tests/unit/core/migrations/graph/test_014.py
  backend/tests/unit/core/migrations/graph/test_017.py
  backend/tests/unit/core/migrations/graph/test_019.py
  backend/tests/unit/core/migrations/graph/test_020.py
  backend/tests/unit/core/migrations/graph/test_027.py
  backend/tests/unit/core/migrations/graph/test_030.py
Labels: group/backend

new DiffRepository method to delete all diffs
  backend/infrahub/core/diff/query/delete_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/graph/m016_diff_delete_bug_fix.py
  backend/infrahub/core/migrations/graph/m028_delete_diffs.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
Labels: group/backend

add schema strict mode documentation
  docs/docs/reference/configuration.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

more integration tests
  backend/tests/integration/schema_lifecycle/test_unique_field_updates.py
Labels: group/backend

fix test
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

update renderMore
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend

check parentSchema
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend

update query and types
  frontend/app/src/entities/triggers/api/get-match-parent-from-api.ts
  frontend/app/src/entities/triggers/domain/get-match-parent.ts
Labels: group/frontend

fix initial state for edit
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
