Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Update development/docker-compose.yml
  development/docker-compose.yml
Labels: none

remove CI from env in ci.yml
  .github/workflows/ci.yml
Labels: group/ci

prepare release 1.2.6
  CHANGELOG.md
  changelog/+dropdown.fixed.md
  changelog/+number-pool.added.md
  changelog/+properhfiderrormessage.changed.md
  changelog/+webhook.added.md
  changelog/6021.fixed.md
  changelog/6287.fixed.md
  changelog/6301.fixed.md
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

fix flaky
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

Added CI env variables to disable animation during tests on CI (#6335)
  .github/workflows/ci.yml
  development/Dockerfile
  development/docker-compose.yml
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/ci, group/frontend

chore: update docker-compose
  docker-compose.yml
Labels: none

cleaning tailwind config
  frontend/app/tailwind.config.js
Labels: group/frontend

more
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/tailwind.config.js
  frontend/app/vite.config.ts
Labels: group/frontend

filter e2e test
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

replace font files with woff2 for better performance
  frontend/app/src/app/styles/index.css
  frontend/app/src/assets/fonts/InterVariable.ttf
  frontend/app/src/assets/fonts/InterVariable.woff2
Labels: group/frontend

docs need k8s files
  .github/workflows/sync-docs.yml
Labels: group/ci

fix
  .github/workflows/sync-docs.yml
Labels: group/ci

fix2
  .github/workflows/sync-docs.yml
Labels: group/ci

fix3
  .github/workflows/sync-docs.yml
Labels: group/ci

fix4
  .github/workflows/sync-docs.yml
Labels: group/ci

fix5
  .github/workflows/sync-docs.yml
Labels: group/ci

fix6
  .github/workflows/sync-docs.yml
Labels: group/ci

update tests for reverting a patch
  backend/tests/db_snapshot.py
  backend/tests/unit/patch/test_patch_runner.py
Labels: group/backend

WIP patch framework
  backend/infrahub/core/migrations/graph/patch_0001.py
Labels: group/backend

patch commands and framework
  backend/infrahub/cli/db.py
  backend/infrahub/cli/patch.py
  backend/infrahub/core/migrations/graph/patch_0001.py
  backend/infrahub/patch/__init__.py
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/edge_deleter.py
  backend/infrahub/patch/edge_updater.py
  backend/infrahub/patch/models.py
  backend/infrahub/patch/plan_reader.py
  backend/infrahub/patch/plan_writer.py
  backend/infrahub/patch/queries/__init__.py
  backend/infrahub/patch/queries/base.py
  backend/infrahub/patch/queries/consolidate_duplicated_nodes.py
  backend/infrahub/patch/runner.py
  backend/infrahub/patch/vertex_adder.py
  backend/infrahub/patch/vertex_deleter.py
  backend/infrahub/patch/vertex_updater.py
  backend/tests/unit/patch/__init__.py
  backend/tests/unit/patch/test_patch_runner.py
Labels: group/backend

generate cli docs
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation

add restore method
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/models.py
  backend/infrahub/patch/plan_reader.py
  backend/infrahub/patch/runner.py
Labels: group/backend

WIP patch for removing dup kind-migrated nodes following a merge
  backend/infrahub/core/migrations/graph/patch_0001.py
Labels: group/backend

update docs
  backend/infrahub/cli/patch.py
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: group/backend, type/documentation

remove actual patch from this branch
  backend/infrahub/core/migrations/graph/patch_0001.py
  backend/infrahub/patch/queries/consolidate_duplicated_nodes.py
Labels: group/backend

consolidate file names for patch plans
  backend/infrahub/cli/patch.py
  backend/infrahub/patch/constants.py
  backend/infrahub/patch/plan_reader.py
  backend/infrahub/patch/plan_writer.py
Labels: group/backend

make elementId function use dynamic
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/edge_deleter.py
  backend/infrahub/patch/edge_updater.py
  backend/infrahub/patch/vertex_adder.py
  backend/infrahub/patch/vertex_deleter.py
  backend/infrahub/patch/vertex_updater.py
Labels: group/backend

one more docstring
  backend/infrahub/patch/runner.py
Labels: group/backend

replace font files with woff2 for better performance (#6338)
  frontend/app/src/app/styles/index.css
  frontend/app/src/assets/fonts/InterVariable.ttf
  frontend/app/src/assets/fonts/InterVariable.woff2
Labels: group/frontend

fix border color because fo tailwind4
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-groups-panel.tsx
Labels: group/frontend

fix border color for tailwind v4
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-groups-panel.tsx
Labels: group/frontend

fix shrink
  frontend/app/src/shared/components/ui/command.tsx
Labels: group/frontend

update SDK sub‑module workflow to target only stable
  .github/workflows/update-sdk-submodule.yml
Labels: group/ci

refactor to track deleted IDs in a file and add failure tests
  backend/infrahub/patch/constants.py
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/edge_deleter.py
  backend/infrahub/patch/models.py
  backend/infrahub/patch/plan_reader.py
  backend/infrahub/patch/plan_writer.py
  backend/infrahub/patch/runner.py
  backend/infrahub/patch/vertex_adder.py
  backend/infrahub/patch/vertex_deleter.py
  backend/tests/unit/patch/test_patch_runner.py
Labels: group/backend

delete edges first during revert
  backend/infrahub/patch/runner.py
  backend/tests/unit/patch/test_patch_runner.py
Labels: group/backend

move call order around
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/edge_updater.py
  backend/infrahub/patch/runner.py
  backend/infrahub/patch/vertex_adder.py
  backend/infrahub/patch/vertex_updater.py
Labels: group/backend

Override handling of Prefects compound event triggers
  backend/infrahub/prefect_server/app.py
Labels: group/backend

small changes for PR feedback
  backend/infrahub/cli/patch.py
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/edge_deleter.py
  backend/infrahub/patch/models.py
  backend/infrahub/patch/runner.py
  backend/infrahub/patch/vertex_adder.py
  backend/infrahub/patch/vertex_deleter.py
  backend/tests/db_snapshot.py
  backend/tests/unit/patch/test_patch_runner.py
Labels: group/backend

do vertex/edge adds in transactions
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/vertex_adder.py
Labels: group/backend

generate docs again
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
