Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

fix artifacts diff
  backend/infrahub/core/diff/query/artifact.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/core/diff/test_calculate_artifact_diff.py
Labels: group/backend

skip diff update if no changes
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/merge.py
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

missing unit test update
  backend/tests/unit/core/diff/query/test_read.py
Labels: group/backend

refactor to improve performance if no changes
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/empty_roots.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
Labels: group/backend

pylint
  backend/infrahub/core/diff/coordinator.py
Labels: group/backend

typos
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
Labels: group/backend

update relationship docs to add some information about default value (#5308)
  docs/docs/topics/schema.mdx
Labels: type/documentation

Remove useless tests and their files
  frontend/app/tests/integrations/lib/badge.cy.tsx
  frontend/app/tests/integrations/lib/button.cy.tsx
  frontend/app/tests/integrations/lib/pill.cy.tsx
  frontend/app/tests/unit/components/branch-list.test.tsx
  frontend/app/tests/unit/components/branch-list.tsx
  frontend/app/tests/unit/components/branch-selector.test.tsx
  frontend/app/tests/unit/components/branch-selector.tsx
Labels: group/frontend

Remove useless tests and their files (#5313)
  frontend/app/tests/integrations/lib/badge.cy.tsx
  frontend/app/tests/integrations/lib/button.cy.tsx
  frontend/app/tests/integrations/lib/pill.cy.tsx
  frontend/app/tests/unit/components/branch-list.test.tsx
  frontend/app/tests/unit/components/branch-list.tsx
  frontend/app/tests/unit/components/branch-selector.test.tsx
  frontend/app/tests/unit/components/branch-selector.tsx
Labels: group/frontend

added test on list component + playwright ct
  frontend/app/.gitignore
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/playwright-ct.config.ts
  frontend/app/playwright/index.html
  frontend/app/playwright/index.tsx
  frontend/app/src/components/list.test.tsx
  frontend/app/src/components/list.tsx
Labels: group/frontend

Added test for list field
  frontend/app/src/components/form/fields/list.field.test.tsx
  frontend/app/src/components/form/fields/list.field.tsx
  frontend/app/tests/components/form.story.tsx
Labels: group/frontend

fix lint
  frontend/app/src/components/list.test.tsx
Labels: group/frontend

debug
  .github/workflows/ci.yml
Labels: group/ci

test: fix ci when updating playwright to latest version
  .github/workflows/ci.yml
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/ci, group/frontend

more test on list component
  frontend/app/src/components/list.test.tsx
Labels: group/frontend

Refactor list input to make it simpler and improve a11y
  frontend/app/src/components/form/fields/list.field.tsx
  frontend/app/src/components/inputs/constants.ts
  frontend/app/src/components/inputs/multiple-input.tsx
  frontend/app/src/components/list.tsx
Labels: group/frontend

fix test
  frontend/app/vite.config.ts
Labels: group/frontend

test: downgrade playwright
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

Refactor list input to make it simpler and improve a11y (#5304)
  .github/workflows/ci.yml
  frontend/app/.gitignore
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/playwright-ct.config.ts
  frontend/app/playwright/index.html
  frontend/app/playwright/index.tsx
  frontend/app/src/components/form/fields/list.field.test.tsx
  frontend/app/src/components/form/fields/list.field.tsx
  frontend/app/src/components/inputs/constants.ts
  frontend/app/src/components/inputs/multiple-input.tsx
  frontend/app/src/components/list.test.tsx
  frontend/app/src/components/list.tsx
  frontend/app/tests/components/form.story.tsx
  frontend/app/vite.config.ts
Labels: group/ci, group/frontend

fix alerts type
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
Labels: group/frontend

add fragment
  changelog/5293.fixed.md
Labels: none

update link to navigate to new form
  frontend/app/src/screens/branches/branch-details.tsx
Labels: group/frontend

update link and use new buttons
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/screens/branches/branch-details.tsx
Labels: group/frontend

fix(backend): randomize telemetry workflow schedule
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

add qsp
  frontend/app/src/config/qsp.ts
  frontend/app/src/screens/branches/branch-details.tsx
Labels: group/frontend

update default value in form
  frontend/app/src/screens/proposed-changes/create-form.tsx
Labels: group/frontend

add fragment
  changelog/4678.fixed.md
Labels: none

fix artifacts diff (#5311)
  backend/infrahub/core/diff/query/artifact.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/core/diff/test_calculate_artifact_diff.py
Labels: group/backend

docs fixes for vale
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/developer-guide.mdx
Labels: type/documentation

one more docs fix
  docs/docs/topics/auth.mdx
Labels: type/documentation

docs fixes for vale (#5320)
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/auth.mdx
  docs/docs/topics/developer-guide.mdx
Labels: type/documentation

add relationship identifier to saved diff
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
Labels: group/backend

update fragment
  changelog/4678.fixed.md
Labels: none

Update alerts type on errors with proposed changes and branches (#5317)
  changelog/5293.fixed.md
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
Labels: group/frontend

Update shortcut from the branch details view to create a proposed change (#5318)
  changelog/4678.fixed.md
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/config/qsp.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
Labels: group/frontend

Added support for hierarchical selection on relationship many
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-input.tsx
Labels: group/frontend

Add some details around convert_query_response.
  docs/docs/guides/generator.mdx
Labels: type/documentation

some improvement
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-input.tsx
Labels: group/frontend

more
  frontend/app/playwright/index.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-input.tsx
Labels: group/frontend

fix unselect
  frontend/app/playwright/index.html
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-input.tsx
  frontend/app/tests/fake/schema.ts
Labels: group/frontend
