Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

keep qsp on internal menu
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
Labels: group/frontend

fix search spec
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

fix test
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: group/frontend

update permissions rows and action option in form
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend

Added object section on sidebar menu (#4596)
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/components/ui/accordion.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/screens/layout/menu-navigation/components/object-avatar.tsx
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/screens/layout/menu-navigation/styles.tsx
  frontend/app/src/screens/layout/sidebar.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu-header.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu-item.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu.tsx
  frontend/app/src/state/atoms/schema.atom.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/schema.spec.ts
  frontend/app/tests/e2e/search.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
  frontend/app/tests/fixtures/menu-old.json
  frontend/app/tests/integrations/screens/app-init.cy.tsx
Labels: group/frontend

fix locator
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
Labels: group/frontend

v0.16.3 release prep
  CHANGELOG.md
  changelog/+sdk-batch-docs.fixed.md
  changelog/4511.fixed.md
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

additional changelog
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
Labels: type/documentation

Add update forms for role management (#4558)
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/table/table.tsx
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
Labels: group/frontend

v0.16.3 Release (#4600)
  CHANGELOG.md
  changelog/+sdk-batch-docs.fixed.md
  changelog/4511.fixed.md
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

Correct typing on GraphQL attributes
  backend/infrahub/core/registry.py
  backend/infrahub/graphql/mutations/attribute.py
  pyproject.toml
Labels: group/backend

Exclude npm and docusaurus directories from docker
  .dockerignore
  changelog/+docs-docker.fixed.md
Labels: none

fix object permissions delete
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

fix object permissions delete (#4607)
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend

Update resource manager topic with latest features
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

Remove stable parameter from documentation
  docs/docs/guides/installation.mdx
Labels: type/documentation

Added tailwind-animate
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/tailwind.config.js
Labels: group/frontend

redirect sign in form
  frontend/app/src/pages/sign-in.tsx
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
  frontend/app/src/screens/authentification/sign-in.tsx
Labels: group/frontend

Full refactor of IP address pool guide
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

rename sign to login
  frontend/app/cypress/support/e2e.ts
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/config/config.ts
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/pages/login.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/authentification/login-sso-buttons.tsx
  frontend/app/src/screens/authentification/login.tsx
  frontend/app/tests/e2e/auth.setup.ts
  frontend/app/tests/e2e/login.spec.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  frontend/app/tests/unit/components/form/utils/getFormFieldsFromSchema.test.ts
Labels: group/frontend

Add guide for Number Pool
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

fix: add step test invoke demo.start
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

fix: add step test invoke demo.start
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

Redesign login page + hide login form when SSO is enabled (#4610)
  frontend/app/cypress/support/e2e.ts
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/config/config.ts
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/pages/login.tsx
  frontend/app/src/pages/sign-in.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/authentification/login-sso-buttons.tsx
  frontend/app/src/screens/authentification/login.tsx
  frontend/app/src/screens/authentification/sign-in.tsx
  frontend/app/tailwind.config.js
  frontend/app/tests/e2e/auth.setup.ts
  frontend/app/tests/e2e/login.spec.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  frontend/app/tests/unit/components/form/utils/getFormFieldsFromSchema.test.ts
Labels: group/frontend

test
  .github/workflows/ci.yml
Labels: group/ci

Remove stable parameter from installation guide (#4608)
  docs/docs/guides/installation.mdx
Labels: type/documentation

test
  .github/workflows/ci.yml
Labels: group/ci

changes the Python SDK connection timeout to 60s
  changelog/+sdk-timeout.fixed.md
  development/docker-compose.yml
  docker-compose.yml
  helm/values.yaml
Labels: none

test
  .github/workflows/ci.yml
Labels: group/ci

test
  .github/workflows/ci.yml
Labels: group/ci

add global permission form
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
Labels: group/frontend

add global permission form (#4615)
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
Labels: group/frontend

test
  .github/workflows/ci.yml
Labels: group/ci
