Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

get only top level events
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

update display label query to be disabled
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
Labels: group/frontend

start to have main + child events
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/shared/components/ui/link.tsx
Labels: group/frontend

updates Jinja2 transform guide
  docs/docs/guides/jinja2-transform.mdx
Labels: type/documentation

fix wrong text color in dropdown cell caused by chromium bug
  frontend/app/src/entities/nodes/object/ui/object-table/cells/dropdown-cell.tsx
Labels: group/frontend

Set current filter value when opening relationship form
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

[FIX] dropdown cell text color + current value on relationship filter form (#5796)
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/dropdown-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

Send node mutation events after branch merge
  backend/infrahub/context.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/webhook/tasks.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

updates artifact guide
  docs/docs/guides/artifact.mdx
  docs/docs/media/guides/artifact/artifact_definition.png
  docs/docs/media/guides/artifact/artifact_detail.png
  docs/docs/media/guides/artifact/artifact_menu.png
  docs/docs/media/guides/artifact/artifact_view.png
Labels: type/documentation

update artifact topic
  docs/docs/topics/artifact.mdx
Labels: type/documentation

markdown lint
  docs/docs/guides/artifact.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/python-transform.mdx
Labels: type/documentation

updates the Python transform guide
  docs/docs/guides/python-transform.mdx
Labels: type/documentation

add functional test covering some more agnostic-aware situations
  backend/tests/functional/branch/conftest.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
Labels: group/backend

add enabled props
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
Labels: group/frontend

rename
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/group-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
Labels: group/frontend

update text
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
Labels: group/frontend

update filter modal position
  frontend/app/src/entities/events/ui/global-filter.tsx
Labels: group/frontend

update query fn
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
Labels: group/frontend

extracted filter to query logic
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/shared/api/graphql/utils.test.ts
  frontend/app/src/shared/api/graphql/utils.ts
Labels: group/frontend

fix isnull filter
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
Labels: group/frontend

align start kind header filter
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
Labels: group/frontend

enum filter
  frontend/app/src/entities/nodes/object/ui/filters/dynamic-filter-input.tsx
  frontend/app/src/shared/components/inputs/enum.tsx
Labels: group/frontend

added e2e test filter enum
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

Fix node deletion with unidirectional optional relationship
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/utils.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/test_node_manager_delete.py
Labels: group/backend

Improvements and fixes on object table filters (#5802)
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/dynamic-filter-input.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/shared/api/graphql/utils.test.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/inputs/enum.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend

update filter style
  frontend/app/src/entities/events/ui/global-filter.tsx
Labels: group/frontend

fix last import
  frontend/app/src/entities/events/ui/global-standard-event.tsx
Labels: group/frontend

udpate date in global view
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

fix count
  frontend/app/src/entities/events/api/get-events-from-api.ts
Labels: group/frontend

Builtin Menu Reorganization (#5709)
  backend/infrahub/menu/menu.py
  changelog/+menu_reorg.changed
  frontend/app/tests/e2e/tutorial/tutorial-3_schema.spec.ts
Labels: group/backend, group/frontend

update test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

add details page
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/pages/activities/details.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-object-label.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/type.ts
Labels: group/frontend

udpate details view
  frontend/app/src/entities/events/api/get-event-details-from-api.ts
  frontend/app/src/entities/events/api/get-event-details.query.ts
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
Labels: group/frontend

update test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

ui
  frontend/app/src/entities/events/ui/global-event-details.tsx
Labels: group/frontend

add main branch in activities list
  frontend/app/src/entities/events/ui/global-event.tsx
Labels: group/frontend

fix link in global event to include branch
  frontend/app/src/entities/events/ui/global-node-event.tsx
Labels: group/frontend

fix test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

fix filter
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

Add global events filter (#5788)
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/global-filter-form.tsx
  frontend/app/src/entities/events/ui/global-filter.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/group-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
