Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, group/infrahubctl, group/nornir, group/python-sdk, group/sync-engine, type/documentation

linter
  tasks/backend.py
  tasks/demo.py
  tasks/sdk.py
Labels: none

replace escape_patch(REPO_BASE) by ESCAPED_REPO_PATH for readeability
  tasks/backend.py
  tasks/ctl.py
  tasks/demo.py
  tasks/main.py
  tasks/nornir.py
  tasks/sdk.py
  tasks/sync.py
  tasks/test.py
  tasks/utils.py
Labels: none

Escaped special char in path (#1251)
  tasks/backend.py
  tasks/ctl.py
  tasks/demo.py
  tasks/main.py
  tasks/nornir.py
  tasks/sdk.py
  tasks/shared.py
  tasks/sync.py
  tasks/test.py
  tasks/utils.py
Labels: none

rename InfrahubBaseMessage class to InfrahubMessage
  backend/infrahub/message_bus/__init__.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/check_artifact_create.py
  backend/infrahub/message_bus/messages/check_repository_checkdefinition.py
  backend/infrahub/message_bus/messages/check_repository_mergeconflicts.py
  backend/infrahub/message_bus/messages/event_branch_create.py
  backend/infrahub/message_bus/messages/event_branch_merge.py
  backend/infrahub/message_bus/messages/event_node_mutated.py
  backend/infrahub/message_bus/messages/event_schema_update.py
  backend/infrahub/message_bus/messages/finalize_validator_execution.py
  backend/infrahub/message_bus/messages/git_branch_create.py
  backend/infrahub/message_bus/messages/git_diff_namesonly.py
  backend/infrahub/message_bus/messages/git_file_get.py
  backend/infrahub/message_bus/messages/git_repository_add.py
  backend/infrahub/message_bus/messages/git_repository_merge.py
  backend/infrahub/message_bus/messages/refresh_registry_branches.py
  backend/infrahub/message_bus/messages/request_artifact_generate.py
  backend/infrahub/message_bus/messages/request_artifactdefinition_check.py
  backend/infrahub/message_bus/messages/request_artifactdefinition_generate.py
  backend/infrahub/message_bus/messages/request_git_createbranch.py
  backend/infrahub/message_bus/messages/request_proposedchange_dataintegrity.py
  backend/infrahub/message_bus/messages/request_proposedchange_refreshartifacts.py
  backend/infrahub/message_bus/messages/request_proposedchange_repositorychecks.py
  backend/infrahub/message_bus/messages/request_proposedchange_schemaintegrity.py
  backend/infrahub/message_bus/messages/request_repository_checks.py
  backend/infrahub/message_bus/messages/transform_jinja_template.py
  backend/infrahub/message_bus/messages/transform_python_data.py
  backend/infrahub/message_bus/messages/trigger_artifact_definition_generate.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/message_bus/rpc.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/message_bus/__init__.py
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  backend/infrahub/tasks/check.py
  backend/tests/conftest.py
Labels: group/backend

raise NodeNotFound when local storage object does not exist
  backend/infrahub/storage/local.py
  backend/tests/unit/storage/test_local_storage.py
Labels: group/backend

update cypress config
  frontend/cypress.config.ts
Labels: group/frontend

update ui and add cypress label
  frontend/src/components/meta-details-tooltips.tsx
  frontend/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/src/screens/groups/group-details.tsx
  frontend/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/tests/e2e/object-metadata.cy.ts
Labels: group/frontend

fix meta data form function
  frontend/src/screens/object-item-meta-edit/object-item-meta-edit.tsx
  frontend/src/utils/getMutationMetaDetailsFromFormData.ts
Labels: group/frontend

Add conflict information on data integrity checks
  backend/infrahub/core/branch.py
  backend/infrahub/core/constants.py
  backend/infrahub/core/schema.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  frontend/src/graphql/queries/diff/getValidatorDetails.ts
Labels: group/backend, group/frontend

Add ability to merge branches that have deleted the same node
  backend/infrahub/core/branch.py
Labels: group/backend

fix metadata test
  frontend/tests/e2e/object-metadata.cy.ts
Labels: group/frontend

fix protected fields test
  frontend/src/components/checkbox.tsx
  frontend/tests/e2e/object-metadata.cy.ts
  frontend/tests/e2e/protected-fields.cy.ts
Labels: group/frontend

fix tuto 4
  frontend/tests/e2e/tutorial/tutorial-4-data.cy.ts
Labels: group/frontend

Update format
  nornir_plugin/nornir_infrahub/plugins/inventory/infrahub.py
  nornir_plugin/tests/unit/conftest.py
  nornir_plugin/tests/unit/test_inventory.py
Labels: group/nornir

Fix ci for nornir plugin
  .github/file-filters.yml
  .github/workflows/ci.yml
Labels: group/ci

Add task to run nornir tests
  poetry.lock
  pyproject.toml
  tasks/nornir.py
Labels: none

Catch database connection errors and raise Infrahub error
  backend/infrahub/database/__init__.py
  backend/infrahub/exceptions.py
Labels: group/backend

Add option to run nornir tests in docker
  tasks/nornir.py
Labels: none

Disable comments-indentation in Yamllint
  .yamllint.yml
Labels: none

Replace deprecated pkg_resources with importlib
  backend/infrahub/__init__.py
  pyproject.toml
Labels: group/backend

force stop infrahub-server and infrahub-git agent during demo.init
  tasks/demo.py
Labels: none

rename files
  frontend/tests/unit/utils/getFormStructureForFilters.test.ts
  frontend/tests/unit/utils/getStringJSONWithoutQuotes.test.ts
Labels: group/frontend

Add basic CI for sync subproject
  .github/file-filters.yml
  .github/workflows/ci.yml
Labels: group/ci

Fix format for pylint
  sync/infrahub-sync/infrahub_sync/cli.py
  sync/infrahub-sync/infrahub_sync/generator/__init__.py
Labels: group/sync-engine

Extend invoke commands to run in docker for sync project
  tasks/sync.py
Labels: none

adds database_name property to DatabaseSettings config class
  backend/infrahub/api/dependencies.py
  backend/infrahub/config.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/types/standard_node.py
  backend/infrahub/server.py
  backend/tests/unit/test_database.py
Labels: group/backend

Fix ci files
  .github/workflows/ci.yml
Labels: group/ci

add branch parameters validate_constraints
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

linter
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

fix mutation for meta data
  frontend/src/utils/getMutationMetaDetailsFromFormData.ts
Labels: group/frontend

add unit test for updated object and mutation
  frontend/tests/mocks/data/devices.ts
  frontend/tests/unit/utils/getMutationMetaDetailsFromFormData.test.ts
Labels: group/frontend

remove logs
  frontend/tests/unit/utils/getMutationMetaDetailsFromFormData.test.ts
Labels: group/frontend

use branch in constraints for repository
  backend/infrahub/graphql/mutations/repository.py
Labels: group/backend

add unit test for unique node in branch
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

force stop infrahub-server and infrahub-git agent during demo.init (#1264)
  tasks/demo.py
Labels: none

add branch naming documentation
  docs/tutorial/branches.md
Labels: type/documentation

removes old authentication middleware
  backend/infrahub/auth.py
  backend/infrahub/server.py
Labels: group/backend

Switch to Neo4j by default for demo
  .github/workflows/ci.yml
  tasks/shared.py
Labels: group/ci

Fix missing or wrong query names
  backend/infrahub/core/account.py
  backend/infrahub/core/node/standard.py
  backend/infrahub/core/query/__init__.py
Labels: group/backend

Fix format
  backend/infrahub/core/account.py
  backend/infrahub/core/node/standard.py
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - .github/**

"group/backend":
  - backend/**

"group/frontend":
  - frontend/**

"group/infrahubctl":
  - ctl/**

"group/nornir":
  - nornir_plugin/**

"group/python-sdk":
  - python_sdk/**

"group/sync-engine":
  - sync/**

"type/documentation":
  - docs/**
