Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

Add context to triggers/automations
  backend/infrahub/api/schema.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/models.py
  backend/infrahub/git/integrator.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/services/adapters/event/__init__.py
  backend/tests/helpers/events.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

remove duplicates
  frontend/app/src/entities/events/api/get-global-events.query.ts
  frontend/app/src/entities/events/api/get-global-events.ts
Labels: group/frontend

update query
  frontend/app/src/entities/events/api/get-events.ts
Labels: group/frontend

use regular query
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

add group events
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/group-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/utils/constants.ts
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
Labels: group/frontend

add pagination
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/api/get-events.ts
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

update type
  frontend/app/src/entities/nodes/object/ui/filters/filter-search-input.tsx
Labels: group/frontend

add search
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/api/get-events.ts
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

add search hook
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/nodes/object/ui/filters/active-filter-tags.tsx
  frontend/app/src/entities/nodes/object/ui/filters/filter-search-input.tsx
  frontend/app/src/shared/hooks/useSearch.ts
Labels: group/frontend

update global filters
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

[Regression] Fix scrolling on hierarchical object list
  frontend/app/src/pages/objects/layout.tsx
Labels: group/frontend

node vs. generic
  docs/docs/topics/schema.mdx
Labels: type/documentation

add link
  docs/docs/topics/schema.mdx
Labels: type/documentation

node vs. generic (#5765)
  docs/docs/topics/schema.mdx
Labels: type/documentation

Only send node mutation events when there has been a change
  backend/infrahub/core/changelog/models.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

rename file
  frontend/app/src/entities/nodes/relationships/api/get-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.ts
Labels: group/frontend

useSchema
  frontend/app/src/pages/objects/object-details.tsx
Labels: group/frontend

passing var to useSchema is mandatory
  frontend/app/src/entities/schema/hooks/useSchema.ts
Labels: group/frontend

fix lint
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
Labels: group/frontend

adjust padding on pill in object table
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/dropdown-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-relationship-cell.tsx
Labels: group/frontend

Added better type on get objects
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/objects-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/types.ts
Labels: group/frontend

added component object table skeleton
  frontend/app/src/entities/nodes/object/ui/objects-table/object-table-skeleton.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
Labels: group/frontend

get visible rows
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
Labels: group/frontend

define props as interface for object table + cleaning
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
Labels: group/frontend

extract data table from object table + reorg folder
  frontend/app/src/entities/nodes/object/ui/object-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/color-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/dropdown-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-body-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header-icon.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-row-identifier.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/url-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-empty.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-skeleton.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/shared/components/table/infinite-data-table.tsx
  frontend/app/src/shared/components/table/style.tsx
  frontend/app/src/shared/components/table/table-cell.tsx
Labels: group/frontend

fix test
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
Labels: group/frontend

fix on update
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

moved scroll fetch behavior into infinite data table
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/shared/components/table/infinite-data-table.tsx
Labels: group/frontend

fix
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
Labels: group/frontend

better id cell
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-row-identifier.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
Labels: group/frontend

Migrate RequestArtifactDefinitionCheck to prefect
  backend/infrahub/core/checks/__init__.py
  backend/infrahub/core/checks/models.py
  backend/infrahub/core/checks/tasks.py
  backend/infrahub/core/validators/checks_runner.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_artifactdefinition_check.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/check/__init__.py
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

Extracted data table component for flexibility + fixes and improvements (#5767)
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/color-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/dropdown-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-body-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header-icon.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-row-identifier.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/url-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-empty.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-skeleton.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/nodes/relationships/api/get-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/entities/nodes/types.ts
  frontend/app/src/entities/schema/hooks/useSchema.ts
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/shared/components/table/infinite-data-table.tsx
  frontend/app/src/shared/components/table/style.tsx
  frontend/app/src/shared/components/table/table-cell.tsx
Labels: group/frontend

Don't send node mutation events for group add/remove events
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

add event filter
  frontend/app/src/entities/events/ui/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-filter-form.tsx
  frontend/app/src/entities/events/ui/global-filter.tsx
Labels: group/frontend

update main view
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

Multiple fixes
  backend/infrahub/artifacts/__init__.py
  backend/infrahub/artifacts/models.py
  backend/infrahub/artifacts/tasks.py
  backend/infrahub/core/checks/tasks.py
  backend/infrahub/core/validators/checks_runner.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

remove search
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

rename file
  frontend/app/src/entities/events/api/get-events-from-api.ts
Labels: group/frontend

destructure
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/ui/global-events.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/events/ui/global-branch-event.tsx
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
