Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

improve description
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

fix filters for counts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

fix action list for open (unset draft)
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-combobox-list.tsx
Labels: group/frontend

fi refetch query after client migration
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
Labels: group/frontend

consistency
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

clean up
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: group/frontend

fix loading button
  frontend/app/src/shared/components/buttons/button-primitive.tsx
Labels: group/frontend

Refresh check guide (#6898)
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/check.mdx
  docs/docs/media/guides/check_proposed_change.png
Labels: type/documentation

update lits items ui
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/utils/proposed-changes.ts
Labels: group/frontend

fix filters and lint code
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
Labels: group/frontend

Removes empty events screen and improve proposed change ui for action button and description (#7016)
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
  frontend/app/src/shared/components/buttons/button-primitive.tsx
Labels: group/frontend

Fix unset draft (open) action for proposed change (#7018)
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-combobox-list.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-approve-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-close-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-draft-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-merge-button.tsx
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-reject-button.tsx
Labels: group/frontend

Refactor docker compose to match enterprise version layout. (#7008)
  docker-compose.yml
Labels: none

prevent and clean up orphaned agnostic Relationships in a branch delete (#7012)
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m035_orphan_relationships.py
  backend/infrahub/core/query/branch.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
  changelog/6933.fixed.md
Labels: group/backend

update draft filter
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
Labels: group/frontend

update item ui
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
Labels: group/frontend

add author label in filter
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
Labels: group/frontend

add draft filter
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
Labels: group/frontend

update colors
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/shared/components/ui/badge.tsx
Labels: group/frontend

feat(docs): add config preset for enterprise install
  docs/docs/guides/installation.mdx
Labels: type/documentation

markdown lint update
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

:wrench:
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

docs syntax fix
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

Fix filters for opened / draft / closed proposed changes views and improve ui (#7017)
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
  frontend/app/src/entities/proposed-changes/utils/proposed-changes.ts
  frontend/app/src/shared/components/ui/badge.tsx
Labels: group/frontend

fix Migraiton033 minimum version
  backend/infrahub/core/migrations/graph/m033_deduplicate_relationship_vertices.py
Labels: group/backend

fix display_labels accumulation
  backend/tests/unit/core/test_schema.py
Labels: group/backend

add changelog
  changelog/7022.fixed.md
Labels: none

fix(backend): batch peers fetch only for many cardinality
  backend/infrahub/core/query/node.py
Labels: group/backend

Remove unused import
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend

Fix test
  backend/tests/unit/permissions/test_manager.py
Labels: group/backend

Fix tests
  backend/tests/unit/graphql/mutations/test_schema.py
Labels: group/backend

Fixed default perm backend fixture
  backend/tests/conftest.py
  backend/tests/unit/graphql/mutations/test_mutation_context.py
  backend/tests/unit/permissions/test_manager.py
Labels: group/backend

Chech schema permission for dropdown/enum ops
  backend/infrahub/api/schema.py
  backend/infrahub/graphql/context.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/permissions/__init__.py
  backend/tests/conftest.py
  backend/tests/helpers/permissions.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_super_admin_checker.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_schema.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/permissions/test_manager.py
Labels: group/backend

Add changelog record
  changelog/6410.fixed.md
Labels: none

Wrap resource pool assignments within a lock context
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  changelog/+a97e7d93.fixed.md
Labels: group/backend

Wrap resource pool assignments within a lock context
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  changelog/+a97e7d93.fixed.md
Labels: group/backend

Use fixture in `test_setup` when possible
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_super_admin_checker.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

Cosmetic
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
Labels: group/backend

display context
  frontend/app/src/entities/diff/utils.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-thread-event.tsx
Labels: group/frontend

IFC-1499 Check schema permission for dropdown/enum operations (#7007)
  backend/infrahub/api/schema.py
  backend/infrahub/graphql/context.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/permissions/__init__.py
  backend/tests/conftest.py
  backend/tests/helpers/permissions.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_super_admin_checker.py
  backend/tests/unit/graphql/mutations/test_mutation_context.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_schema.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/permissions/test_manager.py
  changelog/6410.fixed.md
Labels: group/backend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
