Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

simplify queries with dicts instead of lists of tuples
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

query time filter fix
  backend/infrahub/core/query/diff.py
Labels: group/backend

pylint refactoring
  backend/infrahub/core/diff/calculator.py
Labels: group/backend

update test assertion
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

Set cache_policy for setup_triggers task
  backend/infrahub/trigger/tasks.py
Labels: group/backend

fix: use infrahub image to run prefect server
  .github/workflows/ci.yml
  .github/workflows/version-upgrade.yml
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
Labels: group/ci

update button import
  frontend/app/src/entities/artifacts/ui/generate.tsx
Labels: group/frontend

update file ui
  frontend/app/src/shared/components/file.tsx
Labels: group/frontend

update copy to clipboard style when there are children
  frontend/app/src/shared/components/buttons/copy-to-clipboard.tsx
Labels: group/frontend

update downlaod button
  frontend/app/src/shared/components/buttons/download.tsx
Labels: group/frontend

Raise enriched error if branch pull fails
  backend/infrahub/git/base.py
Labels: group/backend

update artifacts details ui
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
Labels: group/frontend

Fix calls to function
  backend/infrahub/git/repository.py
Labels: group/backend

Remove forgotten breakpoint
  backend/infrahub/git/base.py
Labels: group/backend

Add function to detect if a branch has conflicts
  backend/infrahub/git/base.py
Labels: group/backend

Fix default branch value for conflict checking
  backend/infrahub/git/base.py
Labels: group/backend

Fix expected error message
  backend/tests/unit/git/test_git_repository.py
Labels: group/backend

Log conflicts in task logs
  backend/infrahub/git/base.py
Labels: group/backend

Add failing test as xfail
  backend/tests/fixtures/repos/conflicting-branches/initial__main/commit1/test.gql
  backend/tests/fixtures/repos/conflicting-branches/initial__main/commit2/test.gql
  backend/tests/fixtures/repos/conflicting-branches/pr_0001__change1/commit1/base_commit
  backend/tests/fixtures/repos/conflicting-branches/pr_0001__change1/commit1/test.gql
  backend/tests/helpers/file_repo.py
  backend/tests/unit/git/test_git_repository.py
Labels: group/backend

Support repo without remote
  backend/infrahub/git/base.py
Labels: group/backend

Prevent branch import if it has conflicts
  backend/infrahub/git/base.py
Labels: group/backend

Add missing import
  backend/infrahub/git/base.py
Labels: group/backend

remove copy hfid if undefined
  frontend/app/src/shared/components/menu/object-details-button.tsx
Labels: group/frontend

update props
  frontend/app/src/entities/nodes/object-header.tsx
Labels: group/frontend

Fix configuration for HTTP adapter
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
Labels: group/backend

update layout
  frontend/app/src/app/router.tsx
Labels: group/frontend

add custom artifact header
  frontend/app/src/entities/artifacts/ui/artifact-header.tsx
Labels: group/frontend

udpate object details button
  frontend/app/src/shared/components/menu/object-details-button.tsx
Labels: group/frontend

update artifact details view
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
Labels: group/frontend

Add changelog record
  changelog/5085.fixed.md
Labels: none

IFC-968 Prevent importing git remote branch with conflicts (#5340)
  backend/infrahub/git/base.py
  backend/infrahub/git/repository.py
  backend/tests/fixtures/repos/conflicting-branches/initial__main/commit1/test.gql
  backend/tests/fixtures/repos/conflicting-branches/initial__main/commit2/test.gql
  backend/tests/fixtures/repos/conflicting-branches/pr_0001__change1/commit1/base_commit
  backend/tests/fixtures/repos/conflicting-branches/pr_0001__change1/commit1/test.gql
  backend/tests/helpers/file_repo.py
  backend/tests/unit/git/test_git_repository.py
  changelog/5085.fixed.md
Labels: group/backend

update content type badges
  frontend/app/src/shared/components/file.tsx
Labels: group/frontend

remove is protected check on relationship
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/isFieldDisabled.ts
Labels: group/frontend

lint fix
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
Labels: group/frontend

Extracted code for attribute field into a dedicated function
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
Labels: group/frontend

Extracted code for relationship field into a dedicated function
  frontend/app/graphql.config.ts
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationshipSchema.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
Labels: group/frontend

improved type
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
Labels: group/frontend

fix breadcrumb
  frontend/app/src/app/router.tsx
Labels: group/frontend

add code viewer
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/shared/components/editor/code/code-viewer.tsx
Labels: group/frontend

udpate markdown component name and imports
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/shared/components/conversations/comment.tsx
  frontend/app/src/shared/components/editor/markdown/index.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-render.tsx
Labels: group/frontend

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
