Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

add a more verbose error message
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
Labels: group/backend

actually include error message
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/tests/unit/core/migrations/graph/test_018.py
Labels: group/backend

chore(backend): add graphql schema manager spans
  backend/infrahub/graphql/manager.py
Labels: group/backend

fix(backend): small optimization to graphql schema generate
  backend/infrahub/graphql/manager.py
Labels: group/backend

add fragment
  changelog/branch-actions.changed.md
Labels: none

Fix schema dropdown removal by adding branch param
  backend/infrahub/graphql/mutations/schema.py
Labels: group/backend

Add changelog record
  changelog/5242.fixed.md
Labels: none

fix(backend): do not cleanup labels for each db result row
  backend/infrahub/core/query/__init__.py
  backend/tests/unit/core/test_query.py
Labels: group/backend

fix(backend): speedup load_schema_from_db by removing pagination
  backend/infrahub/core/schema/manager.py
Labels: group/backend

IFC-1015 Fix schema dropdown removal (#5392)
  backend/infrahub/graphql/mutations/schema.py
  changelog/5242.fixed.md
Labels: group/backend

Upgrade ruff=0.8.6
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/infrahub/api/artifact.py
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/diff/diff.py
  backend/infrahub/api/file.py
  backend/infrahub/api/menu.py
  backend/infrahub/api/query.py
  backend/infrahub/api/schema.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/core/task/task_log.py
  backend/infrahub/core/validators/shared.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/database/index.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/proposed_change/tasks.py
  backend/templates/attributeschema_imports.j2
  backend/templates/basenodeschema_imports.j2
  backend/templates/genericschema_imports.j2
  backend/templates/relationshipschema_imports.j2
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/graphql/mutations/test_repository.py
  poetry.lock
  pyproject.toml
Labels: group/ci, group/backend

Extend InfrahubTask query to return multiple related nodes
  backend/infrahub/graphql/types/task.py
  backend/infrahub/task_manager/models.py
  backend/infrahub/task_manager/task.py
  backend/tests/unit/graphql/queries/test_task.py
  changelog/+task-deprecated.changed.md
  changelog/+tasknode.added.md
Labels: group/backend

Remove static ports for Neo4j container in dev environment
  development/docker-compose-database-neo4j.yml
Labels: none

Disable action buttons depending on the on going tasks (#5391)
  changelog/branch-actions.changed.md
  frontend/app/src/components/filters/tasks-filter-form.tsx
  frontend/app/src/screens/branches/branch-actions/branch-merge-button.tsx
  frontend/app/src/screens/branches/branch-actions/branch-rebase-button.tsx
  frontend/app/src/screens/branches/branch-actions/branch-validate-button.tsx
  frontend/app/src/screens/branches/branch-actions/graphql/getBranchActionState.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/tasks/constants.ts
Labels: group/frontend

Add await keyword
  backend/tests/unit/graphql/test_schema.py
Labels: group/backend

fix(backend): small optimization to graphql schema generate
  backend/infrahub/graphql/manager.py
Labels: group/backend

fix(backend): do not cleanup labels for each db result row
  backend/infrahub/core/query/__init__.py
  backend/tests/unit/core/test_query.py
Labels: group/backend

Fix ordering logic
  backend/infrahub/core/query/node.py
  backend/tests/query_benchmark/test_node_get_list.py
Labels: group/backend

Fix ruff rules for "UP" (Dict -> dict etc)
  backend/infrahub/core/validators/interface.py
  backend/infrahub/graphql/enums.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/message_bus/messages/event_node_mutated.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/task_manager/models.py
  backend/infrahub/visuals.py
  backend/tests/fixtures/repos/test_base/initial__main/unit/transforms/multiplier.py
  backend/tests/helpers/query_benchmark/car_person_generators.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/integration/schema_lifecycle/shared.py
  backend/tests/integration/schema_lifecycle/test_schema_update.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_inherit_from.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_rebase.py
  backend/tests/integration/sdk/test_node_create_constraint.py
  backend/tests/integration/shared.py
  backend/tests/query_benchmark/utils.py
  backend/tests/scale/common/utils.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/constraint_validators/conftest.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/core/test_node_query.py
  backend/tests/unit/core/test_relationship_query.py
  backend/tests/unit/graphql/queries/test_task.py
  backend/tests/unit/graphql/test_graphql_query.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  pyproject.toml
  tasks/utils.py
  utilities/db_backup/__main__.py
Labels: group/backend

fix(docker): pin poetry to 1.8.5
  .devcontainer/Dockerfile
  development/Dockerfile
Labels: none

start update related nodes
  frontend/app/src/graphql/queries/tasks/getTasksItems.ts
  frontend/app/src/screens/tasks/task-items.tsx
Labels: group/frontend

add inline display
  frontend/app/src/components/display/inline-display.tsx
Labels: group/frontend

update role management
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

Add setting for public url
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  backend/infrahub/config.py
  changelog/5306.added.md
Labels: group/backend

chore: update docker-compose and helm chart
  docker-compose.yml
Labels: none

prepare v1.1.2
  CHANGELOG.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_1_2.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

missing unit test update
  backend/tests/unit/core/diff/query/test_read.py
Labels: group/backend

update some method and variable names
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/repository/repository.py
Labels: group/backend

unit test update
  backend/tests/integration/diff/test_diff_merge.py
Labels: group/backend

pylint
  backend/infrahub/core/diff/coordinator.py
Labels: group/backend

fix mock function call name
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

unit tests, little more refactoring
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/integration_docker/test_propose_change_repository.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

add changelog
  changelog/+incremental-diff-performance.fixed.md
Labels: none

some more comments and naming cleanup
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/empty_roots.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/graph/m016_diff_delete_bug_fix.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/tests/unit/core/diff/test_diff_merger.py
  backend/tests/unit/core/ipam/conftest.py
Labels: group/backend

add relationship identifier to saved diff
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
Labels: group/backend

add moved file
  backend/infrahub/core/diff/query/roots_metadata.py
Labels: group/backend

refactor coordinator to allow skipping diff loading and calculation
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_combiner.py
Labels: group/backend

deal with CoreDataCheck syncing
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/dependencies/builder/diff/data_check_synchronizer.py
Labels: group/backend

typos
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
Labels: group/backend

skip diff update if no changes
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/merge.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend
