Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

Allow using generic in pool mutation
  backend/infrahub/graphql/mutations/resource_manager.py
Labels: group/backend

Fix conditional
  backend/infrahub/graphql/mutations/resource_manager.py
Labels: group/backend

Adapt unit test
  backend/tests/unit/graphql/mutations/test_resource_manager.py
Labels: group/backend

fixing case-swap logic in Vale and adding additional terms
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  docs/docs/development/backend.mdx
  docs/docs/development/docs.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/database-backup.mdx
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/installation.mdx
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
  docs/docs/release-notes/infrahub/release-0_14.mdx
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_15_1.mdx
  docs/docs/release-notes/infrahub/release-0_15_2.mdx
  docs/docs/release-notes/infrahub/release-0_15_3.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_1.mdx
  docs/docs/release-notes/infrahub/release-0_16_2.mdx
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
  docs/docs/release-notes/infrahub/release-0_16_4.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/release-notes/infrahub/release-1_1_5.mdx
  docs/docs/release-notes/infrahub/release-1_2_1.mdx
  docs/docs/topics/database-backup.mdx
  docs/docs/topics/developer-guide.mdx
  docs/docs/topics/hardware-requirements.mdx
  docs/docs/topics/local-demo-environment.mdx
  docs/docs/topics/webhooks.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
Labels: type/documentation

add AttributeParameters and link to AttributeSchema
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/templates/attributeschema_imports.j2
  backend/tests/unit/core/test_schema.py
  docs/docs/reference/schema/attribute.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: group/backend, type/documentation

few small updates
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
Labels: group/backend

support content validation for regex, min/max_length
  backend/infrahub/core/attribute.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/tests/unit/core/test_attribute.py
Labels: group/backend

update constraint validators for parameters
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/determiner.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/core/test_attribute.py
Labels: group/backend

fix some unit tests
  backend/infrahub/core/validators/__init__.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
Labels: group/backend

1.2.5 prep and updating previous release notes
  CHANGELOG.md
  changelog/+component.added.md
  changelog/+zero_prefix_migration.added.md
  changelog/5736.added.md
  changelog/5866.fixed.md
  changelog/6080.changed.md
  changelog/6248.added.md
  changelog/6267.fixed.md
  changelog/6269.fixed.md
  changelog/6272.fixed.md
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/docs/release-notes/infrahub/release-1_2_1.mdx
  docs/docs/release-notes/infrahub/release-1_2_2.mdx
  docs/docs/release-notes/infrahub/release-1_2_3.mdx
  docs/docs/release-notes/infrahub/release-1_2_4.mdx
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

Update Test Containers version
  python_testcontainers/pyproject.toml
Labels: none

fix Neo4j reference in docs.
  backend/infrahub/cli/db.py
Labels: group/backend

Update Test Containers version
  python_testcontainers/pyproject.toml
Labels: none

1.2.5 prep and updating previous release notes
  CHANGELOG.md
  changelog/+component.added.md
  changelog/+zero_prefix_migration.added.md
  changelog/5736.added.md
  changelog/5866.fixed.md
  changelog/6080.changed.md
  changelog/6248.added.md
  changelog/6267.fixed.md
  changelog/6269.fixed.md
  changelog/6272.fixed.md
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/docs/release-notes/infrahub/release-1_2_1.mdx
  docs/docs/release-notes/infrahub/release-1_2_2.mdx
  docs/docs/release-notes/infrahub/release-1_2_3.mdx
  docs/docs/release-notes/infrahub/release-1_2_4.mdx
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

fixing case-swap logic in Vale and adding additional terms
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  docs/docs/development/backend.mdx
  docs/docs/development/docs.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/database-backup.mdx
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/installation.mdx
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
  docs/docs/release-notes/infrahub/release-0_14.mdx
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_15_1.mdx
  docs/docs/release-notes/infrahub/release-0_15_2.mdx
  docs/docs/release-notes/infrahub/release-0_15_3.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_1.mdx
  docs/docs/release-notes/infrahub/release-0_16_2.mdx
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
  docs/docs/release-notes/infrahub/release-0_16_4.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/release-notes/infrahub/release-1_1_5.mdx
  docs/docs/release-notes/infrahub/release-1_2_1.mdx
  docs/docs/topics/database-backup.mdx
  docs/docs/topics/developer-guide.mdx
  docs/docs/topics/hardware-requirements.mdx
  docs/docs/topics/local-demo-environment.mdx
  docs/docs/topics/webhooks.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
Labels: type/documentation

fix Neo4j reference in docs.
  backend/infrahub/cli/db.py
Labels: group/backend

chore: update docker-compose
  docker-compose.yml
Labels: none

Revert "fixing case-swap logic in Vale and adding additional terms"
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  docs/docs/development/backend.mdx
  docs/docs/development/docs.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/database-backup.mdx
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/installation.mdx
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
  docs/docs/release-notes/infrahub/release-0_14.mdx
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_15_1.mdx
  docs/docs/release-notes/infrahub/release-0_15_2.mdx
  docs/docs/release-notes/infrahub/release-0_15_3.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_1.mdx
  docs/docs/release-notes/infrahub/release-0_16_2.mdx
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
  docs/docs/release-notes/infrahub/release-0_16_4.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/release-notes/infrahub/release-1_1_5.mdx
  docs/docs/release-notes/infrahub/release-1_2_1.mdx
  docs/docs/topics/database-backup.mdx
  docs/docs/topics/developer-guide.mdx
  docs/docs/topics/hardware-requirements.mdx
  docs/docs/topics/local-demo-environment.mdx
  docs/docs/topics/webhooks.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
Labels: type/documentation

Revert "fix Neo4j reference in docs."
  backend/infrahub/cli/db.py
Labels: group/backend

Revert "Update Test Containers version"
  python_testcontainers/pyproject.toml
Labels: none

Revert "1.2.5 prep and updating previous release notes"
  CHANGELOG.md
  changelog/+component.added.md
  changelog/+zero_prefix_migration.added.md
  changelog/5736.added.md
  changelog/5866.fixed.md
  changelog/6080.changed.md
  changelog/6248.added.md
  changelog/6267.fixed.md
  changelog/6269.fixed.md
  changelog/6272.fixed.md
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/docs/release-notes/infrahub/release-1_2_1.mdx
  docs/docs/release-notes/infrahub/release-1_2_2.mdx
  docs/docs/release-notes/infrahub/release-1_2_3.mdx
  docs/docs/release-notes/infrahub/release-1_2_4.mdx
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

updating changelog for latest stable updates
  CHANGELOG.md
  changelog/+fixupsertwithrelationships
  changelog/+removeschematextfields.md
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
Labels: type/documentation

Final 1.2.5 prep (#6286)
  CHANGELOG.md
  changelog/+fixupsertwithrelationships
  changelog/+removeschematextfields.md
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
Labels: type/documentation

Add generics to node selection in number pool form (#6277)
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  changelog/+number-pool.added.md
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
Labels: group/backend, group/frontend

Disable tailwind-animate in CI
  .github/workflows/ci.yml
  frontend/app/tailwind.config.js
Labels: group/ci, group/frontend

remove font
  frontend/app/src/app/styles/index.css
  frontend/app/src/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf
Labels: group/frontend

Fix upsert with both default_filter and hfid defined
  backend/infrahub/graphql/mutations/main.py
  backend/tests/functional/ipam/test_upsert_default_filter_and_hfid.py
  changelog/+fixupsertwithrelationships.md
  changelog/+upsertdefaultfilterandhfid.md
Labels: group/backend

use john name
  backend/infrahub/graphql/mutations/main.py
  backend/tests/functional/ipam/test_upsert_default_filter_and_hfid.py
Labels: group/backend

Disable animation during E2E tests in CI (#6288)
  .github/workflows/ci.yml
  frontend/app/tailwind.config.js
Labels: group/ci, group/frontend

add INFRAHUB_SECRET_KEY to configuration documentation
  docs/docs/reference/configuration.mdx
Labels: type/documentation

Fix typo for INFRAHUB_SECURITY_SECRET_KEY
  docs/docs/reference/configuration.mdx
Labels: type/documentation

Added "Remove from groups" action on table toolbar
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-remove-from-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/toolbar-add-to-groups-action.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
Labels: group/frontend

Filter by group containing selected rows
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-remove-from-groups-action.tsx
Labels: group/frontend

update changelog
  changelog/+selection-table.added.md
Labels: none

Use local fonts to prevent mandatory internet connectivity (#6265)
  frontend/app/index.html
  frontend/app/src/app/styles/index.css
  frontend/app/src/assets/fonts/Inter-VariableFont_opsz,wght.ttf
Labels: group/frontend

Added "Remove from groups" action on table toolbar (#6295)
  changelog/+selection-table.added.md
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-remove-from-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/toolbar-add-to-groups-action.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
Labels: group/frontend

fix(testcontainers): add tracing configuration
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix(backend): trace row count returned by database
  backend/infrahub/database/__init__.py
Labels: group/backend

update vale case-swap to match other repositories, and fix issues with GitLab vs Gitlab
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  docs/docs/guides/repository.mdx
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/docs/overview/data.mdx
  docs/docs/overview/transformations.mdx
Labels: type/documentation

add ndoeselect field
  frontend/app/src/entities/webhook/ui/webhook-form.tsx
  frontend/app/src/shared/components/form/fields/node-kind-select.tsx
  frontend/app/src/shared/components/form/type.ts
Labels: group/frontend
