Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

add message from api on 403
  frontend/app/src/screens/object-items/object-items-paginated.tsx
Labels: group/frontend

better message
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/utils/permissions.ts
Labels: group/frontend

fix profiles spec
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

fix number pool
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
Labels: group/frontend

[FIX] Added context on relationship add mutation (#4621)
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

Create default roles
  backend/infrahub/auth.py
  backend/infrahub/core/initialization.py
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/backend, group/frontend

added changelog
  changelog/4598.fixed.md
Labels: none

fix error causing
  frontend/app/src/screens/objects/object-header.tsx
Labels: group/frontend

clean up old permissions
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/hooks/usePermission.ts
Labels: group/frontend

bump version to v0.16.4
  helm/Chart.yaml
  pyproject.toml
Labels: none

added changelog
  CHANGELOG.md
  changelog/4598.fixed.md
Labels: none

Convert Transform tasks to prefect
  backend/infrahub/api/transformation.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/transform_python_data.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/transform/__init__.py
  backend/infrahub/message_bus/operations/transform/jinja.py
  backend/infrahub/message_bus/operations/transform/python.py
  backend/infrahub/transformations/__init__.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/api/test_10_transformation_api.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/message_bus/operations/transform/test_python.py
Labels: group/backend

Create permissions and menu items if none previously existed
  backend/infrahub/cli/db.py
Labels: group/backend

add release notes to the documentation
  CHANGELOG.md
  docs/docs/release-notes/infrahub/release-0_16_4.mdx
  docs/sidebars.ts
Labels: type/documentation

fix permissions call for array
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/groups/groups-manager.tsx
  frontend/app/src/screens/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-details.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/permission/utils.ts
Labels: group/frontend

update mock data
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/mocks/data/devices.ts
Labels: group/frontend

fix: correct issue with env variables for 1.0.0
  development/docker-compose.yml
  docker-compose.yml
Labels: none

update mock data
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend

updadte logic for branches
  frontend/app/src/screens/branches/branch-details.tsx
Labels: group/frontend

update permissions for authenticated
  frontend/app/src/screens/artifacts/generate.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/diff/artifact-diff/artifact-content-diff.tsx
  frontend/app/src/screens/diff/checks/checks-summary.tsx
  frontend/app/src/screens/diff/file-diff/file-content-diff.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
Labels: group/frontend

update permissions for threads and comments
  frontend/app/src/components/conversations/thread.tsx
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesObjectThreads.ts
  frontend/app/src/screens/diff/node-diff/thread.tsx
Labels: group/frontend

fix tutorial
  frontend/app/src/components/time-selector.tsx
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

chore: Correct Enum + Be able to support CACHE_USERNAME/PASSWORD
  docker-compose.yml
  tasks/dev.py
Labels: none

start update table for permissions
  frontend/app/src/components/table/table.tsx
  frontend/app/src/graphql/queries/ipam/ip-address.ts
  frontend/app/src/graphql/queries/ipam/prefixes.ts
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefix-details.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
Labels: group/frontend

fix: typo
  docker-compose.yml
Labels: none

cleaning
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

update permissions for role management
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend

Enable noUnusedImports rule in Biome
  frontend/app/biome.json
  frontend/app/src/components/branch-selector.tsx
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/components/filters/filter-kind-selector.tsx
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/components/form/branch-create-form.tsx
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/common.tsx
  frontend/app/src/components/form/fields/enum.field.tsx
  frontend/app/src/components/form/fields/number.field.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-loading.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-approve-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-close-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-edit-trigger.tsx
  frontend/app/src/screens/repository/repository-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/tests/integrations/lib/badge.cy.tsx
  frontend/app/tests/integrations/lib/button.cy.tsx
  frontend/app/tests/integrations/lib/pill.cy.tsx
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  frontend/app/tests/integrations/screens/conversations.cy.tsx
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend

cleaning 2
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
  frontend/app/tests/e2e/objects/object-list-search.spec.ts
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

Enable noUnusedImports rule in Biome (#4656)
  frontend/app/biome.json
  frontend/app/src/components/branch-selector.tsx
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/components/filters/filter-kind-selector.tsx
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/components/form/branch-create-form.tsx
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/common.tsx
  frontend/app/src/components/form/fields/enum.field.tsx
  frontend/app/src/components/form/fields/number.field.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-loading.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-approve-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-close-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-edit-trigger.tsx
  frontend/app/src/screens/repository/repository-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/tests/integrations/lib/badge.cy.tsx
  frontend/app/tests/integrations/lib/button.cy.tsx
  frontend/app/tests/integrations/lib/pill.cy.tsx
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  frontend/app/tests/integrations/screens/conversations.cy.tsx
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend

fix: lint
  tasks/dev.py
Labels: none

update permissions
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
Labels: group/frontend

update router for artifacts and graphql
  frontend/app/src/pages/objects/CoreArtifact/artifact-details.tsx
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
Labels: group/frontend

lint
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend

enable noUndeclaredDependencies in Biome
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend

ordering
  frontend/app/package.json
Labels: group/frontend

update package lock
  frontend/app/package-lock.json
Labels: group/frontend

update
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend

enable noUndeclaredDependencies in Biome (#4657)
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend

Add resource pool manager and other various fixes
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
