Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

rebase query
  frontend/app/src/entities/branches/api/rebase-branch-from-api.ts
  frontend/app/src/entities/branches/api/rebaseBranch.ts
  frontend/app/src/entities/branches/domain/rebase-branch.ts
  frontend/app/src/entities/branches/ui/branch-rebase-button.tsx
  frontend/app/src/entities/diff/domain/update-diff.mutation.ts
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/ui/diff-rebase-button.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: group/frontend

Upgrade to Prefect 3.1.15
  backend/tests/helpers/utils.py
  helm/values.yaml
  poetry.lock
  pyproject.toml
Labels: group/backend

FIX
  frontend/app/src/entities/diff/node-diff/index.tsx
Labels: group/frontend

fix
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: group/frontend

fix
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: group/frontend

style
  frontend/app/src/entities/diff/ui/diff-computing.tsx
Labels: group/frontend

style
  frontend/app/src/entities/diff/ui/diff-computing.tsx
Labels: group/frontend

Split node diff into multiple components (#5666)
  frontend/app/src/entities/branches/api/rebase-branch-from-api.ts
  frontend/app/src/entities/branches/api/rebaseBranch.ts
  frontend/app/src/entities/branches/domain/rebase-branch.ts
  frontend/app/src/entities/branches/ui/branch-rebase-button.tsx
  frontend/app/src/entities/diff/api/diff-update.ts
  frontend/app/src/entities/diff/api/update-diff-from-api.ts
  frontend/app/src/entities/diff/checks/conflict.tsx
  frontend/app/src/entities/diff/domain/update-diff.mutation.ts
  frontend/app/src/entities/diff/domain/update-diff.ts
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/node-diff/node-attribute.tsx
  frontend/app/src/entities/diff/node-diff/node-property.tsx
  frontend/app/src/entities/diff/node-diff/node-relationship-element.tsx
  frontend/app/src/entities/diff/node-diff/thread.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/diff/ui/diff-badge.tsx
  frontend/app/src/entities/diff/ui/diff-computing.tsx
  frontend/app/src/entities/diff/ui/diff-empty.tsx
  frontend/app/src/entities/diff/ui/diff-no-found.tsx
  frontend/app/src/entities/diff/ui/diff-rebase-button.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
  frontend/app/src/entities/diff/ui/diff-tree.tsx
  frontend/app/src/entities/diff/utils.tsx
  frontend/app/src/entities/proposed-changes/ui/diff-filter.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/unit/diff/diff-tree/formatDiffNodesToDiffTree.test.ts
  frontend/app/tests/unit/diff/diff-tree/generateRootCategoryNodeForDiffTree.test.ts
Labels: group/frontend

Incrementally load node diff in UI view
  frontend/app/src/entities/diff/api/get-diff-tree-from-api.ts
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: group/frontend

Add ability to filter events on multiple levels
  backend/infrahub/events/models.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

Incrementally load node diff in UI view (#5676)
  frontend/app/src/entities/diff/api/get-diff-tree-from-api.ts
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: group/frontend

Added BranchesProvider to guarantee branch availability
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/branches/api/get-branches-from-api.ts
  frontend/app/src/entities/branches/api/getBranches.ts
  frontend/app/src/entities/branches/domain/get-branches.query.ts
  frontend/app/src/entities/branches/domain/get-branches.ts
  frontend/app/src/entities/branches/ui/branches-items.tsx
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/shared/components/layout/layout.tsx
Labels: group/frontend

fix
  frontend/app/src/entities/branches/api/get-branches-from-api.ts
  frontend/app/tests/integrations/screens/branche-items.cy.tsx
Labels: group/frontend

fix
  frontend/app/src/shared/components/branch-selector.tsx
  frontend/app/src/shared/components/form/branch-create-form.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
Labels: group/frontend

fix typo in "Actions" weight
  backend/infrahub/menu/menu.py
Labels: group/backend

chore: upgrade to neo4j 5.26
  backend/tests/helpers/constants.py
  docker-compose.yml
  helm/Chart.yaml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
  utilities/db_backup/__main__.py
Labels: group/backend

fix(backend): use new syntax for subqueries
  backend/infrahub/core/account.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/query/subquery.py
  backend/infrahub/core/validators/attribute/choices.py
  backend/infrahub/core/validators/attribute/enum.py
  backend/infrahub/core/validators/attribute/kind.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/optional.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/attribute/unique.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/query.py
  backend/infrahub/core/validators/relationship/count.py
  backend/infrahub/core/validators/relationship/optional.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/tests/unit/core/test_query_subquery.py
Labels: group/backend

fix(ci): remove chromium netlink workaround
  .github/workflows/ci.yml
Labels: group/ci

fix(ci): remove chromium netlink workaround
  .github/workflows/ci.yml
Labels: group/ci

Added BranchesProvider to guarantee branch availability (#5678)
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/branches/api/get-branches-from-api.ts
  frontend/app/src/entities/branches/domain/get-branches.query.ts
  frontend/app/src/entities/branches/domain/get-branches.ts
  frontend/app/src/entities/branches/ui/branches-items.tsx
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/shared/components/branch-selector.tsx
  frontend/app/src/shared/components/form/branch-create-form.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/tests/integrations/screens/branche-items.cy.tsx
Labels: group/frontend

start add activities structure
  frontend/app/src/entities/nodes/activities/api/get-activities.query.ts
  frontend/app/src/entities/nodes/activities/api/get-activities.ts
  frontend/app/src/entities/nodes/activities/ui/activities.tsx
  frontend/app/src/entities/nodes/activities/utils/constants.ts
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

fix import
  frontend/app/src/entities/diff/checks/conflict.tsx
Labels: group/frontend

fix conflicts length check
  frontend/app/src/entities/diff/checks/check.tsx
Labels: group/frontend

lint
  frontend/app/src/entities/diff/node-diff/utils.tsx
Labels: group/frontend

fix merge state
  frontend/app/src/entities/diff/node-diff/conflict.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/tasks/api/checkTasksItemDetails.ts
Labels: group/frontend

Add support to indicate node.parent in the node_changelog
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/events/node_action.py
  backend/tests/unit/core/test_changelog.py
Labels: group/backend

increase the number of diff per page to 300
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
Labels: group/frontend

fixed blinking scroll bar when window is narrow and diff is loading
  frontend/app/src/entities/diff/node-diff/index.tsx
Labels: group/frontend

diff tree and diff list are scrollable independently
  frontend/app/src/entities/diff/node-diff/index.tsx
Labels: group/frontend

changelog
  changelog/+data-diff.added.md
Labels: none

Improvement and fixes on data diff view (#5682)
  changelog/+data-diff.added.md
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/node-diff/index.tsx
Labels: group/frontend

FIX: set main as current branch, when a branch is not found
  frontend/app/src/entities/branches/domain/get-branches.ts
  frontend/app/src/entities/branches/ui/branches-provider.tsx
Labels: group/frontend

add fragment
  changelog/5565.fixed.md
Labels: none

FIX: set main as current branch, when a branch is not found (#5685)
  frontend/app/src/entities/branches/domain/get-branches.ts
  frontend/app/src/entities/branches/ui/branches-provider.tsx
Labels: group/frontend

Add pagination support for InfrahubEvent through InfrahubEventNext
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

Add RelationshipManager.get_parent()
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/test_relationship_manager.py
Labels: group/backend

update refetch
  frontend/app/src/entities/diff/node-diff/conflict.tsx
Labels: group/frontend

fix(backend): node_create_all duplicate AttributeValue rels
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/resource_manager.py
Labels: group/backend

more update
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend
