Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]

update test to reproduce error
  backend/infrahub/core/constraint/node/runner.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

refactor a little
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

fix(testcontainers): update version fixture
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: none

Audit fix for docs and template (#6232)
  docs/package-lock.json
  docs/package.json
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/plugins/template/package.json
Labels: group/frontend, type/documentation

Use react-aria dialog in search anywhere
  frontend/app/src/shared/components/search/search-anywhere-dialog.tsx
  frontend/app/src/shared/components/search/search-anywhere-input.tsx
  frontend/app/src/shared/components/search/search-anywhere.tsx
Labels: group/frontend

Add changelog
  changelog/+fixupsertwithrelationships
Labels: none

upsert with changed relationships bug (#6234)
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+fixupsertwithrelationships
Labels: group/backend

Use react-aria dialog in search anywhere (#6236)
  frontend/app/src/shared/components/search/search-anywhere-dialog.tsx
  frontend/app/src/shared/components/search/search-anywhere-input.tsx
  frontend/app/src/shared/components/search/search-anywhere.tsx
Labels: group/frontend

Restrict event.related payload for CoreGraphQLQueryGroup events
  backend/infrahub/events/group_action.py
  backend/infrahub/events/node_action.py
Labels: group/backend

Correctly update deleted fields while updating a schema
  backend/infrahub/core/models.py
  backend/tests/functional/api/test_load_schema.py
Labels: group/backend

Remove doc
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  docs/docs/reference/schema/generic.mdx
  docs/docs/reference/schema/node.mdx
Labels: group/backend, type/documentation

temporary set default filter explicitly
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/tests/functional/api/test_load_schema.py
  docs/docs/reference/schema/generic.mdx
  docs/docs/reference/schema/node.mdx
  tasks/backend.py
Labels: group/backend, type/documentation

Add change for more attributes
  backend/infrahub/core/schema/basenode_schema.py
  backend/tests/functional/api/test_load_schema.py
  changelog/+removeschematextfields.md
  docs/docs/topics/schema.mdx
  tasks/backend.py
Labels: group/backend, type/documentation

Correctly update deleted fields while updating a schema (#6226)
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  backend/tests/functional/api/test_load_schema.py
  changelog/+removeschematextfields.md
  docs/docs/reference/schema/generic.mdx
  docs/docs/reference/schema/node.mdx
  docs/docs/topics/schema.mdx
Labels: group/backend, type/documentation

Prep release 1.2.4
  CHANGELOG.md
  changelog/+duplicatedoptionaluniqueattributes.fixed.md
  changelog/+e038e218.fixed.md
  changelog/+hfid-template.fixed.md
  changelog/6073.fixed.md
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: none

chore: update docker-compose
  docker-compose.yml
Labels: none

fix(testcontainers): measurement durations are wrong
  python_testcontainers/infrahub_testcontainers/models.py
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: none

save progress
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/constants/schema.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/dropdown.py
  backend/templates/schema_sdk/generate_hashable_models.j2
  backend/templates/schema_sdk/generate_schema.j2
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_model_hashable.py
  tasks/backend.py
Labels: group/backend

Fix flaky on groups E2E test
  frontend/app/tests/e2e/groups/groups.spec.ts
Labels: group/frontend

Fix flaky on groups E2E test (#6242)
  frontend/app/tests/e2e/groups/groups.spec.ts
Labels: group/frontend

Migrate RequestProposedChangePipeline to prefect
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/base_with_diff.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_refreshartifacts.py
  backend/infrahub/message_bus/messages/request_proposedchange_pipeline.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: group/backend, type/documentation

audit fix
  frontend/app/package-lock.json
Labels: group/frontend

fix package audit
  frontend/packages/ui/package-lock.json
Labels: group/frontend

new infrahub db command to export part of database without values
  backend/infrahub/cli/db.py
Labels: group/backend

generate docs and changelog
  changelog/6248.added.md
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation

add some vale words
  .vale/styles/spelling-exceptions.txt
Labels: none

refactor commands to improve speed, reduce memory footprint
  backend/infrahub/cli/db.py
Labels: group/backend

a little more output for the user
  backend/infrahub/cli/db.py
Labels: group/backend

small cypher change
  backend/infrahub/cli/db.py
Labels: group/backend

Clear GraphQLSchemaManager cache when deleting branches
  backend/infrahub/core/registry.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/tasks/registry.py
  backend/tests/unit/graphql/test_manager.py
  changelog/6021.fixed.md
Labels: group/backend

Audit fix for frontend dependencies (#6245)
  frontend/app/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: group/frontend

start check which form to use
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

add default value
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

fix handle submit
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

add fragment
  changelog/+component.added.md
Labels: none

prevent adding relationship after node creation
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

generate docs again
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation

:wrench:
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
Labels: group/frontend

Add support for computed attributes on generics
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/tests/helpers/schema/location.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/unit/core/schema/schema_branch/test_validate_computed_attributes.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  changelog/5736.added.md
  docs/docs/topics/computed-attributes.mdx
Labels: group/backend, type/documentation

add 2 comments
  backend/infrahub/cli/db.py
Labels: group/backend
