Repository opsmill/infrahub, changes with the labels that .github/labeler.yml gives for each.
All labels: group/ci, group/backend, group/frontend, type/documentation

fix(testcontainers): add healthcheck for scraper
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix(testcontainers): add tracing configuration
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

fix(testcontainers): wait for database to become online after restore
  python_testcontainers/infrahub_testcontainers/container.py
Labels: none

fix(testcontainers): add db resources limit parameters
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: none

feat(benchtool): show cpu model
  utilities/benchmark/entrypoint.sh
Labels: none

fix(k8s): adjust indentation and formatting in various YAML configuration files
  development/k8s/infrahub-values.yaml
  development/k8s/minio-values.yaml
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
  development/k8s/redis-sentinel-proxy-deploy.yaml
  development/k8s/redis-sentinel-proxy-svc.yaml
  development/k8s/taskmanagerdb.yaml
Labels: none

fix(k8s): add missing YAML document separator in multiple configuration files
  development/k8s/infrahub-values.yaml
  development/k8s/minio-values.yaml
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
  development/k8s/rabbitmq-values.yaml
  development/k8s/redis-sentinel-proxy-deploy.yaml
  development/k8s/redis-sentinel-proxy-svc.yaml
  development/k8s/redis-values.yaml
  development/k8s/service-values.yaml
  development/k8s/taskmanagerdb.yaml
Labels: none

fix(ci): testcontainers test and docker syntax
  .github/file-filters.yml
  .github/workflows/ci.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: group/ci

fix(styles): add 'kubectl' to branded terms case swap and 'Terraform' to sentence case exceptions
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/Infrahub/sentence-case.yml
Labels: none

fix(styles): add missing YAML document separator in branded terms and sentence case configuration files
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/Infrahub/sentence-case.yml
Labels: none

add hook to get namespace info
  frontend/app/src/entities/schema/ui/hooks/useNamespace.ts
Labels: group/frontend

disable option for restricted namespaces
  frontend/app/src/shared/components/inputs/dropdown.tsx
Labels: group/frontend

fix(ci): testcontainers test and docker syntax
  .github/file-filters.yml
  .github/workflows/ci.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: group/ci

add fragment
  changelog/+dropdown.fixed.md
Labels: none

remove workaround
  frontend/app/src/shared/components/inputs/dropdown.tsx
Labels: group/frontend

disable enum option creation
  frontend/app/src/shared/components/inputs/enum.tsx
Labels: group/frontend

update fragment
  changelog/+dropdown.fixed.md
Labels: none

move e2e test
  frontend/app/src/entities/webhook/ui/webhook.spec.ts
Labels: group/frontend

add test id
  frontend/app/src/shared/components/inputs/dropdown.tsx
Labels: group/frontend

update test to use branch + add test for disabled button
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
Labels: group/frontend

hide buttons
  frontend/app/src/shared/components/inputs/dropdown.tsx
  frontend/app/src/shared/components/inputs/enum.tsx
Labels: group/frontend

update import
  frontend/app/src/entities/schema/ui/hooks/useNamespace.ts
Labels: group/frontend

update test
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
Labels: group/frontend

revert move e2e test
  frontend/app/tests/e2e/webhook/webhook.spec.ts
  frontend/app/tsconfig.json
Labels: group/frontend

fix import
  frontend/app/src/entities/schema/ui/hooks/useNamespace.ts
Labels: group/frontend

fix(styles): update branded terms case swap and add 'kubectl' to spelling exceptions
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/spelling-exceptions.txt
Labels: none

revert config
  frontend/app/tsconfig.json
Labels: group/frontend

fix(k8s): adjust indentation and formatting in various YAML configuration files
  development/k8s/infrahub-values.yaml
  development/k8s/minio-values.yaml
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
  development/k8s/redis-sentinel-proxy-deploy.yaml
  development/k8s/redis-sentinel-proxy-svc.yaml
  development/k8s/taskmanagerdb.yaml
Labels: none

fix(deployment): update Infrahub version and storage class configuration
  development/deploy.tf
Labels: none

fix(k8s): update Neo4j resource limits and Prefect image tag
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
Labels: none

fix(docs): reorder redis-sentinel proxy service YAML block in architecture documentation
  docs/docs/topics/architecture.mdx
Labels: type/documentation

fix(styles): add missing YAML document separator in branded terms and sentence case configuration files
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/Infrahub/sentence-case.yml
Labels: none

fix(docs): correct redis-sentinel proxy service deployment instructions and add Prefect Helm chart scaling note
  docs/docs/topics/architecture.mdx
Labels: type/documentation

feat(k8s): add Helm chart values for Infrahub components and architecture documentation
  development/k8s/infrahub-values.yaml
  development/k8s/minio-values.yaml
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
  development/k8s/rabbitmq-values.yaml
  development/k8s/redis-sentinel-proxy-deploy.yaml
  development/k8s/redis-sentinel-proxy-svc.yaml
  development/k8s/redis-values.yaml
  development/k8s/service-values.yaml
  development/k8s/taskmanagerdb.yaml
  docs/docs/topics/architecture.mdx
Labels: type/documentation

fix(k8s): add missing YAML document separator in multiple configuration files
  development/k8s/infrahub-values.yaml
  development/k8s/minio-values.yaml
  development/k8s/neo4j-values.yaml
  development/k8s/prefect-values.yaml
  development/k8s/rabbitmq-values.yaml
  development/k8s/redis-sentinel-proxy-deploy.yaml
  development/k8s/redis-sentinel-proxy-svc.yaml
  development/k8s/redis-values.yaml
  development/k8s/service-values.yaml
  development/k8s/taskmanagerdb.yaml
Labels: none

fix(styles): add 'kubectl' to branded terms case swap and 'Terraform' to sentence case exceptions
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/Infrahub/sentence-case.yml
Labels: none

fix(docs): remove redundant Neo4j configuration snippet from architecture documentation
  docs/docs/topics/architecture.mdx
Labels: type/documentation

fix(styles): update branded terms case swap and add 'kubectl' to spelling exceptions
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/spelling-exceptions.txt
Labels: none

Disable option creation for restricted namespaces in dropdown and enum (#6334)
  changelog/+dropdown.fixed.md
  frontend/app/src/entities/schema/ui/hooks/useNamespace.ts
  frontend/app/src/shared/components/inputs/dropdown.tsx
  frontend/app/src/shared/components/inputs/enum.tsx
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
Labels: group/frontend

Added CI env variables to disable animation during tests on CI
  development/Dockerfile
  development/docker-compose.yml
Labels: none

.github/labeler.yml:

---
"group/ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"group/backend":
  - changed-files:
      - any-glob-to-any-file: ["backend/**"]

"group/frontend":
  - changed-files:
      - any-glob-to-any-file: ["frontend/**"]

"type/documentation":
  - changed-files:
      - any-glob-to-any-file: ["docs/**"]
