Repository opsmill/infrahub, pull requests merged in 2024-08, with the labels that each got.

#3920 Proposed changes list UI updates
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/components/buttons/tabs-buttons.tsx
  frontend/app/src/components/conversations/comment.tsx
  frontend/app/src/components/display/avatar.tsx
  frontend/app/src/components/display/date-display.tsx
  frontend/app/src/components/modals/modal-delete.tsx
  frontend/app/src/components/table/table.tsx
  frontend/app/src/components/ui/badge.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/config/qsp.ts
  frontend/app/src/graphql/queries/proposed-changes/getProposedChanges.ts
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesArtifacts.ts
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDetails.ts
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffSummary.ts
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesTasks.ts
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/proposed-changes/items.tsx
  frontend/app/src/pages/proposed-changes/new.tsx
  frontend/app/src/pages/proposed-changes/proposed-changes-items.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/proposed-changes/checks-tab.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/counter.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
  frontend/app/src/screens/proposed-changes/item-info.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-item.tsx
  frontend/app/src/screens/proposed-changes/reviewers.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_data.spec.ts
Labels: type/feature, group/frontend

#3967 On list view, clicking on a relationship redirects to its details page
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/graphql/queries/objects/getObjectRelationshipDetails.ts
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-cell.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/schema/types.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/objects-paginated.spec.ts
  frontend/app/tests/mocks/data/devices.ts
Labels: type/feature, group/frontend

#3981 Cleanup on proposed changes list + fixed and improvement TS types
  frontend/app/graphql.config.ts
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/components/table/table.tsx
  frontend/app/src/config/qsp.ts
  frontend/app/src/graphql/mutations/proposed-changes/deleteProposedChange.ts
  frontend/app/src/graphql/queries/proposed-changes/getProposedChanges.ts
  frontend/app/src/screens/proposed-changes/item-info.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: type/feature, group/frontend, ci/skip-changelog

#3993 feat(helm): add cloud related templates
  helm/Chart.yaml
  helm/templates/cloud/network-policies.yaml
  helm/templates/cloud/proxy-classes.yaml
  helm/templates/cloud/secrets.yaml
  helm/templates/cloud/traefik-middlewares.yaml
  helm/values.yaml
Labels: ci/skip-changelog

#3998 Add constants for CoreThread and CoreComment
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend

#3955 Main diff view UI updates
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/components/buttons/copy-to-clipboard.tsx
  frontend/app/src/components/display/accordion.tsx
  frontend/app/src/components/display/badge-circle.tsx
  frontend/app/src/components/ui/badge.tsx
  frontend/app/src/graphql/queries/proposed-changes/getThreadsAndChecks.ts
  frontend/app/src/screens/diff/checks/conflict.tsx
  frontend/app/src/screens/diff/data-diff-element.tsx
  frontend/app/src/screens/diff/data-diff-node.tsx
  frontend/app/src/screens/diff/data-diff-peer.tsx
  frontend/app/src/screens/diff/data-diff-property.tsx
  frontend/app/src/screens/diff/data-diff.tsx
  frontend/app/src/screens/diff/diff-conflict-info.tsx
  frontend/app/src/screens/diff/diff-thread.tsx
  frontend/app/src/screens/diff/schema-diff.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/reviewers.tsx
  frontend/app/src/utils/diff.tsx
  frontend/app/src/utils/string.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_data.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/integrations/screens/data-diff.cy.tsx
Labels: type/feature, group/frontend

#3988 Diff summary on proposed changes views
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffSummary.ts
  frontend/app/src/hooks/useQuery.ts
  frontend/app/src/screens/diff/data-diff.tsx
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
Labels: group/frontend, type/task

#3992 Deploy Storybook with Chromatic + upgrade storybook to 8.2.7
  .github/workflows/chromatic.yml
  frontend/packages/ui/package-lock.json
  frontend/packages/ui/package.json
Labels: group/frontend, group/ci

#4006 Fix schema inconsistency issue by reverting 3792
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: type/bug, group/backend

#4005 Fix for inherited attribute / relationships not being updated
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: type/bug, group/backend

#3977 Database Migrations for CoreAccount after migration to Generic
  backend/infrahub/cli/db.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/query/__init__.py
  backend/infrahub/core/migrations/query/attribute_rename.py
  backend/infrahub/core/migrations/query/delete_element_in_schema.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/query/relationship_duplicate.py
  backend/infrahub/core/migrations/query/schema_attribute_update.py
  backend/infrahub/core/migrations/schema/attribute_name_update.py
  backend/infrahub/core/migrations/schema/node_attribute_add.py
  backend/infrahub/core/migrations/schema/node_attribute_remove.py
  backend/infrahub/core/migrations/schema/node_kind_update.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/models.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/migrations/graph/test_012.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_query.py
Labels: type/feature, group/backend

#3965 Rework examples schema
  models/examples/contract.yml
  models/examples/extension_contract.yml
  models/examples/extension_power.yml
Labels: type/task, type/ecosystem, group/schema

#4010 Split Object form into several components + add hook useSchema
  frontend/app/src/components/form/generic-object-form.tsx
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/components/form/node-form.tsx
  frontend/app/src/components/form/node-with-profile-form.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/profiles-selector.tsx
  frontend/app/src/hooks/useSchema.ts
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#4018 Fix regression after split on object form
  frontend/app/src/components/form/generic-object-form.tsx
  frontend/app/src/components/form/node-form.tsx
  frontend/app/src/components/form/node-with-profile-form.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/hooks/useSchema.ts
Labels: type/bug, group/frontend, ci/skip-changelog

#4022 [FIX] Correctly submit form when only profiles are edited but node fields are untouched
  frontend/app/src/components/form/node-form.tsx
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/utils/array.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: type/bug, group/frontend

#4019 Fix user token view with no tokens
  backend/infrahub/core/initialization.py
  backend/infrahub/graphql/queries/account.py
Labels: type/bug, group/backend

#4015 Add db migration for CorePasswordCredential
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m013_convert_git_password_credential.py
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/core/migrations/query/delete_element_in_schema.py
  backend/infrahub/core/migrations/schema/node_attribute_add.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/database/__init__.py
  backend/tests/unit/core/migrations/graph/test_013.py
Labels: type/feature, group/backend

#4021 set up plumbing and documentation for `towncrier`
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/.gitignore
  docs/docs/development/changelog.mdx
  docs/docs/development/docs.mdx
  docs/sidebars.ts
  pyproject.toml
  python_sdk/CHANGELOG.md
  python_sdk/changelog/.gitignore
  python_sdk/pyproject.toml
Labels: type/documentation, group/python-sdk

#4014 update getting-started/branches
  docs/docs/tutorials/getting-started/branches.mdx
Labels: type/documentation

#3980 IFC-30 Add `status` attribute to generic account
  backend/infrahub/api/auth.py
  backend/infrahub/api/dependencies.py
  backend/infrahub/auth.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/unit/core/test_account.py
  python_sdk/infrahub_sdk/protocols.py
Labels: type/feature, group/backend, group/python-sdk

#4026 Fix attribute uniqueness validator to not run in isolated mode
  backend/infrahub/core/validators/attribute/unique.py
Labels: type/bug, group/backend

#4029 Avoid running attribute uniqueness check on schema attributes
  backend/infrahub/core/validators/attribute/unique.py
Labels: type/bug, group/backend

#4031 Fix schema inconsistency issue by reverting 3792
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: type/bug, group/backend

#4032 Add towncrier as dev dependency
  poetry.lock
  pyproject.toml
Labels: ci/skip-changelog

#4035 Fix some docs typo
  .github/workflows/ci.yml
  docs/docs/development/docs.mdx
  docs/docs/development/frontend/getting-set-up.mdx
  docs/docs/development/frontend/testing-guidelines.mdx
  docs/docs/media/tutorial_1_branch_creation.png
  docs/docs/media/tutorial_1_branch_details.png
  docs/docs/media/tutorial_1_branch_diff.png
  docs/docs/media/tutorial_1_branch_list.png
  docs/docs/media/tutorial_1_organization_create.png
  docs/docs/media/tutorial_1_organization_details.png
  docs/docs/media/tutorial_1_organization_edit.png
  docs/docs/media/tutorial_1_organizations.png
  docs/docs/media/tutorial_2_historical.png
  docs/docs/media/tutorial_3_schema.png
  docs/docs/media/tutorial_4_metadata.png
  docs/docs/media/tutorial_4_metadata_edit.png
  docs/docs/media/tutorial_6_branch_creation.png
  docs/docs/media/tutorial_6_interface_update.png
  docs/docs/tutorials/getting-started/branches.mdx
  docs/docs/tutorials/getting-started/resource-manager.mdx
  frontend/app/cypress.config.ts
  frontend/app/tests/utils.ts
Labels: type/documentation, group/frontend, group/ci

#4037 Add towncrier newsfragments for resolved issues
  .github/workflows/ci.yml
  changelog/3986.fixed.md
  changelog/3994.fixed.md
Labels: ci/skip-changelog, group/ci

#4030 Add number pool around attribute of type number in form
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/input.field.tsx
  frontend/app/src/components/form/fields/number.field.tsx
  frontend/app/src/components/form/node-form.tsx
  frontend/app/src/components/form/pool-selector.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/components/form/utils/updateFormFieldValue.ts
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/popover.tsx
  frontend/app/src/graphql/queries/forms/getFormRequirements.ts
  frontend/app/src/screens/resource-manager/constants.ts
  frontend/app/src/screens/resource-manager/resource-selector.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/mocks/data/number-pool.ts
Labels: type/feature, group/frontend

#4033 Make schema integrity check messages more user-friendly
  backend/infrahub/core/diff/model.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/3987.fixed.md
Labels: type/bug, group/backend

#4045 Add newsfragment for #4025
  changelog/4025.fixed.md
Labels: ci/skip-changelog

#4048 Add fragment for #4035
  changelog/4035.fixed.md
Labels: ci/skip-changelog

#4050 Fix uniqueness constraint with enum attribute
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  changelog/4054.fixed.md
Labels: type/bug, group/backend

#4044 Add CICD job to update helm/chart.yaml
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
  .github/workflows/update-compose-file-and-chart.yml
  tasks/dev.py
Labels: ci/skip-changelog, type/task, group/ci

#4040 Profile type select update to display informations on the related node object
  frontend/app/src/components/form/generic-object-form.tsx
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

#4039 Profile type select update to display informations on the related node object
  changelog/4001.fixed.md
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

#4056 IFC-248 - Branch parameters in SDK
  .github/workflows/ci.yml
  backend/tests/unit/git/conftest.py
  python_sdk/changelog/4056.fixed.md
  python_sdk/infrahub_sdk/checks.py
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/generator.py
  python_sdk/infrahub_sdk/node.py
  python_sdk/tests/unit/sdk/conftest.py
Labels: type/bug, group/backend, group/python-sdk, group/ci

#4034 Set default_value even for 'falsy' values
  backend/infrahub/core/migrations/query/attribute_add.py
Labels: group/backend, ci/skip-changelog

#4059 Backport fix for inherited attribute / relationships not being updated
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4004.fixed.md
Labels: type/bug, group/backend

#4053 Added toggle to hide/display auto-generated groups on group manager
  frontend/app/src/graphql/queries/groups/getGroups.ts
  frontend/app/src/screens/groups/groups-manager.tsx
  frontend/app/src/screens/groups/object-groups-list.tsx
  frontend/app/src/screens/groups/types.ts
  frontend/app/tests/e2e/objects/object-groups.spec.ts
Labels: type/feature, group/frontend

#4060 [FIX] Set the correct initial source on the edit form when a field contains its default value
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/unit/components/form/utils/getFieldDefaultValue.test.ts
Labels: type/bug, group/frontend, ci/skip-changelog

#4061 Pre-release Infrahub SDK 0.12.3
  python_sdk/poetry.lock
  python_sdk/pyproject.toml
Labels: group/python-sdk, ci/skip-changelog

#3868 IFC-41 cache enriched diff
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository.py
  backend/infrahub/core/diff/repository/__init__.py
  backend/infrahub/core/diff/repository/get_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/diff/repository/save_query.py
  backend/infrahub/core/query/__init__.py
  backend/tests/unit/core/diff/test_diff_repository.py
  poetry.lock
  pyproject.toml
Labels: group/backend, type/housekeeping

#4075 [FIX] Handle enum of any attribute's kind
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/tests/unit/components/form/utils/getFormFieldsFromSchema.test.ts
Labels: type/bug, group/frontend

#3878 IPAM search bar
  frontend/app/src/components/ui/card.tsx
  frontend/app/src/components/ui/search-input.tsx
  frontend/app/src/graphql/queries/ipam/prefixes.ts
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/screens/layout/layout.tsx
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
Labels: type/feature, group/frontend

#4065 Serve Swagger & Redoc files locally so that the REST-API docs work offline or when isolated from the internet
  backend/infrahub/api/__init__.py
  backend/infrahub/api/static/redoc.standalone.js
  backend/infrahub/api/static/swagger-ui-bundle.js
  backend/infrahub/api/static/swagger-ui.css
  backend/infrahub/server.py
  changelog/4063.added.md
Labels: type/feature, group/backend

#3919 IFC-42 conflict enrichment for diffs
  backend/infrahub/core/constants/database.py
  backend/infrahub/core/diff/conflicts_identifier.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher.py
  backend/infrahub/core/diff/enricher/__init__.py
  backend/infrahub/core/diff/enricher/aggregated.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/enricher/interface.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/get_query.py
  backend/infrahub/core/diff/repository/save_query.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/test_conflicts_identifier.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

#4079 [FIX] Added value props to markdown editor + reset comment after submit
  frontend/app/src/components/editor/index.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/hooks/useCodeMirror.ts
Labels: type/bug, group/frontend

#3979 IFC-40 component to combine diffs
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
Labels: group/backend

#4064 Capture SSL errors for git commands
  backend/infrahub/git/base.py
Labels: type/bug, group/backend

#4083 Expose useForm through from's ref
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend, ci/skip-changelog

#4084 Append .git to http repositories if missing
  backend/infrahub/graphql/mutations/repository.py
  backend/tests/unit/graphql/mutations/test_repository.py
Labels: type/feature, group/backend

#4090 Prepare v0.15.3 Release
  .markdownlint.yaml
  .vale/styles/spelling-exceptions.txt
  .yamllint.yml
  CHANGELOG.md
  changelog/3986.fixed.md
  changelog/3987.fixed.md
  changelog/3994.fixed.md
  changelog/4001.fixed.md
  changelog/4004.fixed.md
  changelog/4025.fixed.md
  changelog/4035.fixed.md
  changelog/4054.fixed.md
  changelog/4063.added.md
  docs/docs/release-notes/release-0_15_1.mdx
  docs/docs/release-notes/release-0_15_2.mdx
  docs/docs/release-notes/release-0_15_3.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#4088 Consolidate CoreRepository/Read-Only -> Generic in menu
  backend/infrahub/api/menu.py
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend, type/housekeeping

#4087 Add repository credentials to the menu
  backend/infrahub/api/menu.py
  backend/infrahub/core/schema/definitions/core.py
  frontend/app/tests/e2e/objects/object-update.spec.ts
Labels: group/backend, group/frontend, type/housekeeping

#4096 [FIX] fix validation rules on some form using DynamicForm
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/components/form/branch-create-form.tsx
  frontend/app/src/components/form/fields/checkbox.field.tsx
  frontend/app/src/components/form/fields/input.field.tsx
  frontend/app/src/components/form/fields/password-input.field.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/components/form/utils/validation.ts
  frontend/app/src/components/ui/password-input.tsx
  frontend/app/src/pages/sign-in.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/user-profile/tab-preferences.tsx
Labels: type/bug, group/frontend, ci/skip-changelog

#4098 Update diff summary query
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffSummary.ts
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
Labels: type/bug, group/frontend

#4092 Remove ignore statements that are no longer required
  python_sdk/infrahub_sdk/client.py
Labels: group/python-sdk, ci/skip-changelog

#4067 Number pool form improvements for node and attribute selection
  backend/infrahub/core/schema/definitions/core.py
  frontend/app/src/components/form/fields/dropdown.field.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/hooks/useFormValues.ts
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
Labels: group/backend, group/frontend, type/task

#4101 DiffTree summaries and conflicts
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/conflicts_identifier.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/aggregated.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/get_query.py
  backend/infrahub/core/diff/repository/save_query.py
  backend/infrahub/dependencies/builder/diff/conflicts_enricher.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_conflicts_identifier.py
  backend/tests/unit/core/diff/test_diff_combiner.py
Labels: group/backend

#4091 Update SlideOver title
  frontend/app/src/components/display/properties-popover.tsx
  frontend/app/src/components/form/fields/color.field.tsx
  frontend/app/src/components/form/object-edit-slide-over-trigger.tsx
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/tests/e2e/form/multi-select.spec.ts
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: type/feature, group/frontend

#4100 IFC-42 Add parent node to diff
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/get_query.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/dependencies/builder/diff/enricher/hierarchy.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/conftest.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4106 [FIX] GraphQL viewer component display query correctly
  frontend/app/src/components/editor/graphql/graphql-viewer.tsx
  frontend/app/src/hooks/useCodeMirror.ts
Labels: type/bug, group/frontend

#4110 update diff labels enricher to include peer display labels
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/get_query.py
  backend/infrahub/core/diff/repository/save_query.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_labels_enricher.py
Labels: group/backend

#4112 cardinality=one enricher for diffs to clean up one-member relationships
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/dependencies/builder/diff/enricher/cardinality_one.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
Labels: group/backend

#4115 IFC 42 - Refactor how DiffRepository is stored in the graph
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/get_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4113 add path identifier strings to diff elements
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/get_query.py
  backend/infrahub/core/diff/repository/save_query.py
  backend/infrahub/dependencies/builder/diff/enricher/aggregated.py
  backend/infrahub/dependencies/builder/diff/enricher/path_identifier.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_path_identifier_enricher.py
Labels: group/backend

#4118 IFC-42 Initial implementation of DiffSummary and Filters
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/__init__.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/query/filters.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/diff/repository/save_query.py
  backend/infrahub/core/query/utils.py
  backend/infrahub/graphql/queries/diff/diff.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/schema.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/query/__init__.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4119 fixes SDK upsert mutations not including HFID
  python_sdk/infrahub_sdk/node.py
Labels: type/bug, group/python-sdk

#4121 fix bug in conflict enrichment
  backend/infrahub/core/diff/conflicts_enricher.py
Labels: group/backend

#4122 [FIX] Update query name after backend update
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffSummary.ts
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
Labels: group/frontend, ci/skip-changelog

#4109 New UI for repository form
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/node-form.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/ui/card.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/screens/repository/repository-form.tsx
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
Labels: type/feature, group/frontend

#4127 DiffTree: Add flag to include or exclude parents from response
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/query/test_read.py
Labels: group/backend

#4125 Update format of parent for nodes in DiffTree
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4128 diff calculation bug where owner is also the peer on a related node
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
Labels: group/backend

#4108 Add `unique_for` attribute to number pool
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/pools/number.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  python_sdk/infrahub_sdk/protocols.py
Labels: type/feature, group/backend, group/python-sdk

#4111 Add certificate verrification section to external repository guide
  docs/docs/guides/repository.mdx
Labels: type/documentation, ci/skip-changelog

#4133 fixes SDK upsert mutations not including HFID (cherrypick #4119)
  python_sdk/infrahub_sdk/node.py
Labels: type/bug, group/python-sdk

#4134 infrahub-sdk release v0.12.4
  poetry.lock
  python_sdk/pyproject.toml
Labels: group/python-sdk

#4131 Add repository action button
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/mutations/repository/actions.ts
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/repository/repository-action-menu.tsx
Labels: type/feature, group/frontend

#4139 fix(codespaces): set env var before demo.start
  .devcontainer/postCreateCommand.sh
  .devcontainer/updateContentCommand.sh
Labels: ci/skip-changelog

#4141 fix(codespaces): wait more after starting demo
  .devcontainer/updateContentCommand.sh
Labels: ci/skip-changelog

#4123 Fixes SDK error on save after include
  python_sdk/infrahub_sdk/node.py
  python_sdk/tests/unit/sdk/test_node.py
Labels: type/bug, group/python-sdk

#4129 diff coordinator update
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/summary_counts.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/repository/delete_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/diff/repository/save_query.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/dependencies/builder/diff/enricher/summary_counts.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_diff_update.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/diff.py
  backend/tests/integration/diff/__init__.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/graphql/test_diff_tree_query.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4117 Refactor status sync of repositories
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/git/actions.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/repository.py
  backend/infrahub/git_report.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/tests/fixtures/schemas/schema_01.json
  backend/tests/unit/git/test_git_repository.py
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/data.py
  python_sdk/infrahub_sdk/protocols.py
  python_sdk/tests/fixtures/schema_02.json
  python_sdk/tests/unit/sdk/conftest.py
  python_sdk/tests/unit/sdk/test_client.py
Labels: group/backend, group/python-sdk

#4136 Implemented feedback on form UX
  frontend/app/src/components/editor/index.tsx
  frontend/app/src/components/form/fields/checkbox.field.tsx
  frontend/app/src/components/form/fields/color.field.tsx
  frontend/app/src/components/form/fields/common.tsx
  frontend/app/src/components/form/fields/datetime.field.tsx
  frontend/app/src/components/form/fields/dropdown.field.tsx
  frontend/app/src/components/form/fields/enum.field.tsx
  frontend/app/src/components/form/fields/input.field.tsx
  frontend/app/src/components/form/fields/json.field.tsx
  frontend/app/src/components/form/fields/list.field.tsx
  frontend/app/src/components/form/fields/number.field.tsx
  frontend/app/src/components/form/fields/password-input.field.tsx
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/inputs/checkbox.tsx
  frontend/app/src/components/list.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/tailwind.config.js
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#4135 Define GraphQL queries in .infrahub.yml files
  backend/infrahub/git/integrator.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/infrahub-demo-edge/initial__main/.infrahub.yml
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/git/test_git_repository.py
  docs/docs/reference/dotinfrahub.mdx
  python_sdk/infrahub_sdk/ctl/check.py
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/infrahub_sdk/ctl/generator.py
  python_sdk/infrahub_sdk/ctl/utils.py
  python_sdk/infrahub_sdk/schema.py
Labels: type/documentation, group/backend, type/housekeeping, group/python-sdk

#4142 Fixes SDK error on save after include (cherrypick #4123)
  python_sdk/infrahub_sdk/node.py
  python_sdk/tests/unit/sdk/test_node.py
Labels: type/bug, group/python-sdk

#4151 fix(codespaces): get the prebuilt demo image working on develop
  .devcontainer/onCreateCommand.sh
  .devcontainer/updateContentCommand.sh
  development/docker-compose-deps.yml
  development/docker-compose.yml
  tasks/shared.py
Labels: ci/skip-changelog

#4150 Redesigned dropdown menu and action button on object details view
  frontend/app/src/components/menu/object-help-button.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/components/ui/tooltip.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/screens/groups/groups-manager-trigger-button.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/repository/repository-action-menu.tsx
Labels: type/feature, group/frontend, ci/skip-changelog

#4132 Add mutation to set a selection on a new diff conflict
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/query/delete_query.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/get_conflict_query.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query/time_range_query.py
  backend/infrahub/core/diff/query/update_conflict_query.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/dependencies/builder/diff/deserializer.py
  backend/infrahub/dependencies/builder/diff/repository.py
  backend/infrahub/graphql/enums.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/mutations/diff_conflict.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/schema.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

#3930 Integrate Protocols with NodeManager to improve typing in the backend
  backend/infrahub/api/artifact.py
  backend/infrahub/api/transformation.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/protocols_base.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/graphql/mutations/node_getter/by_id.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/query.py
  backend/infrahub/graphql/subscription/graphql_query.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_manager_node.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#3960 Improvement infrahubctl message on error
  python_sdk/changelog/+infrahubctl_errors.changed.md
  python_sdk/infrahub_sdk/ctl/schema.py
  python_sdk/infrahub_sdk/ctl/utils.py
  python_sdk/infrahub_sdk/ctl/validate.py
  python_sdk/tests/unit/ctl/test_branch_app.py
  python_sdk/tests/unit/ctl/test_schema_app.py
  python_sdk/tests/unit/ctl/test_validate_app.py
Labels: group/python-sdk, type/user-centric

#4159 Improve logging when importing repository objects
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git_credential/helper.py
  backend/infrahub/git_report.py
  python_sdk/infrahub_sdk/_importer.py
Labels: group/backend, type/housekeeping, group/python-sdk

#4153 integrate new diff conflicts with CoreDataCheck
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/conflicts_extractor.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/model/diff.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/dependencies/builder/diff/conflicts_extractor.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/dependencies/builder/diff/data_check_conflict_recorder.py
  backend/infrahub/dependencies/builder/diff/data_check_synchronizer.py
  backend/infrahub/dependencies/registry.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/diff_conflict.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/message_bus/operations/requests/diff.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4154 Allow users to add a new generic to an existing node
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/node_schema.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/dependencies/builder/constraint/schema/aggregated.py
  backend/infrahub/dependencies/builder/constraint/schema/inherit_from.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_inherit_from.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/4051.fixed.md
  docs/docs/reference/schema/validator-migration.mdx
Labels: type/bug, type/documentation, group/backend

#4165 Enforce Python3 style super()
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/base.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4166 Use correct dict-iterator (ruff=PERF102)
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/payload_builder.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/models.py
  backend/infrahub/graphql/utils.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4164 Fix annotations for infrastructure_edge.py
  models/infrastructure_edge.py
  pyproject.toml
Labels: ci/skip-changelog

#4169 fix diff conflict selected_branch serialization
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/graphql/test_diff_tree_query.py
  python_sdk/infrahub_sdk/timestamp.py
Labels: group/backend, group/python-sdk

#4171 fixes git clone command in installation guide
  docs/docs/guides/installation.mdx
Labels: type/documentation, ci/skip-changelog

#4173 Fix schema topic documentation
  docs/docs/topics/schema.mdx
Labels: type/documentation

#4170 Added diff tree
  frontend/app/src/components/display/accordion.tsx
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffTree.ts
  frontend/app/src/screens/diff/diff-badge.tsx
  frontend/app/src/screens/diff/diff-tree.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/diff/node-diff/node.tsx
  frontend/app/src/screens/diff/node-diff/types.ts
  frontend/app/src/screens/ipam/ipam-tree/utils.ts
Labels: type/feature, group/frontend

#4177 Remove mention of isolated mode in docs
  docs/docs/topics/schema.mdx
Labels: type/documentation, type/housekeeping

#4176 Move credentials objects within the menu to the admin section
  backend/infrahub/api/menu.py
Labels: group/backend, ci/skip-changelog

#4180 Update on Diff tree UX
  frontend/app/src/screens/diff/diff-tree.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/diff/node-diff/node-attribute.tsx
  frontend/app/src/screens/diff/node-diff/node-property.tsx
  frontend/app/src/screens/diff/node-diff/node-relationship-element.tsx
  frontend/app/src/screens/diff/node-diff/node-relationship.tsx
  frontend/app/src/screens/diff/node-diff/node.tsx
  frontend/app/src/screens/diff/node-diff/types.ts
  frontend/app/src/screens/diff/node-diff/utils.tsx
Labels: group/frontend, ci/skip-changelog

#4168 diff lifecycle tests and bugs
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
  backend/tests/unit/core/diff/test_path_identifier_enricher.py
Labels: group/backend

#4183 UI improvement and cleaning on Search Anywhere
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: type/documentation, type/feature, group/backend, group/frontend

#4194 Python SDK 0.13.0 Pre Release 1
  poetry.lock
  python_sdk/pyproject.toml
Labels: group/python-sdk, ci/skip-changelog

#4193 IFC-264 - Diff refresh fix in branch details view
  frontend/app/src/decorators/withSchemaContext.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/diff/node-diff/node.tsx
Labels: type/bug, group/frontend

#4196 IFC-585 diff relationship cardinality
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4190 Update proposed change overview UI
  frontend/app/src/components/conversations/thread.tsx
  frontend/app/src/components/ui/card.tsx
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDetails.ts
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/screens/diff/artifact-diff/artifact-content-diff.tsx
  frontend/app/src/screens/diff/file-diff/file-content-diff.tsx
  frontend/app/src/screens/diff/node-diff/comments.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/utils/diff.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: type/feature, group/frontend

#4195 IFC-597 - Handle error messages from context in apollo hook + update diff summary error state
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/hooks/useQuery.ts
  frontend/app/src/screens/errors/error-screen.tsx
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
Labels: group/frontend, type/housekeeping

#4187 Allow generators and artifacts to run on node without name attribute
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  changelog/4062.fixed.md
Labels: group/backend

#4192 Add support for using default_branch in git other than main
  backend/infrahub/core/merge.py
  backend/infrahub/git/base.py
  backend/infrahub/git/repository.py
  backend/infrahub/message_bus/messages/git_repository_merge.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/bug, type/documentation, group/backend

#4178 Diff updates for UI and E2E test
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/components/buttons/retry.tsx
  frontend/app/src/components/buttons/toggle-buttons.tsx
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/screens/diff/diff-tree.tsx
  frontend/app/src/screens/diff/node-diff/conflict.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/diff/node-diff/node.tsx
  frontend/app/src/screens/diff/node-diff/thread.tsx
  frontend/app/src/screens/errors/no-data-found.tsx
  frontend/app/src/screens/layout/content.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-diff-update-button.tsx
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend, type/housekeeping

#4208 IFC-604 - Update repositories fields
  frontend/app/src/screens/repository/repository-form.tsx
  python_sdk/tests/fixtures/schema_02.json
Labels: type/bug, group/frontend, group/python-sdk

#4216 IFC-601 set contains_conflict correctly on diff relationship element
  backend/infrahub/core/diff/enricher/summary_counts.py
  backend/tests/integration/diff/test_diff_update.py
Labels: group/backend

#4202 Add dropdown to attribute kind list in schema topic in the documentation
  docs/docs/topics/schema.mdx
Labels: type/documentation, ci/skip-changelog

#4201 Add support for using partial_match queries with array variables
  backend/infrahub/core/query/node.py
  backend/tests/unit/graphql/test_graphql_partial_match.py
Labels: type/bug, group/backend

#4214 Set attribute source when assigning from number pools
  backend/infrahub/core/node/__init__.py
Labels: type/bug, group/backend

#4191 IFC-589 - Updates states filters for proposed changes list view
  frontend/app/src/graphql/queries/proposed-changes/getProposedChanges.ts
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
Labels: type/bug, group/frontend

#4212 IFC-561 - Namespace in object dropdown for number pool form
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
Labels: group/frontend, type/housekeeping

#4213 IFC-560 - unique_for field in number pool form
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
Labels: group/frontend, type/housekeeping

#4217 Add newsfragment for importing non main default branch
  changelog/3435.fixed.md
Labels: ci/skip-changelog

#4218 Use correct attribute names for update errors
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
Labels: group/backend, ci/skip-changelog

#4221 Remove unique_for from CoreNumberPool
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  python_sdk/infrahub_sdk/protocols.py
Labels: group/backend, group/frontend, type/housekeeping, group/python-sdk

#4219 Fix number pool from_pool inconsistency
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/mutations/attribute.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  python_sdk/infrahub_sdk/node.py
Labels: group/backend, type/housekeeping, group/python-sdk

#4199 Update diff tree construction by using "parent" value of DiffTree query
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffTree.ts
  frontend/app/src/screens/diff/diff-badge.tsx
  frontend/app/src/screens/diff/diff-tree.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/diff/node-diff/node-relationship-element.tsx
  frontend/app/src/screens/diff/node-diff/utils.tsx
  frontend/app/src/screens/ipam/ipam-tree/utils.ts
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/tests/unit/components/tree/addItemsToTree.test.ts
  frontend/app/tests/unit/diff/diff-tree/formatDiffNodesToDiffTree.test.ts
  frontend/app/tests/unit/diff/diff-tree/generateRootCategoryNodeForDiffTree.test.ts
Labels: type/feature, group/frontend

#4222 IFC-607 - Update from pool structure in mutation for number pool
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/updateFormFieldValue.ts
Labels: group/frontend, type/housekeeping

#4223 IFC-587 track conflicts with an attribute instead of by ID
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/mutations/diff_conflict.py
  backend/tests/integration/diff/test_diff_update.py
  python_sdk/infrahub_sdk/protocols.py
Labels: group/backend, group/python-sdk

#4205 Allow seaching by HFIDs
  backend/infrahub/core/manager.py
  backend/infrahub/core/schema_manager.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/types/mixin.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/graphql/test_manager.py
  changelog/3908.added.md
  python_sdk/changelog/3908.added.md
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/node.py
  python_sdk/tests/fixtures/schema_01.json
  python_sdk/tests/unit/sdk/test_client.py
Labels: type/feature, group/backend, group/python-sdk

#4226 Fixed a bug preventing threads on artifact from being resolved on overview tab
  frontend/app/src/components/conversations/thread.tsx
  frontend/app/src/config/constants.tsx
Labels: type/bug, group/frontend

#4229 [FIX] Edit form contains only relationship field of cardinality many if kind is Attribute or Parent
  frontend/app/src/components/form/node-form.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/components/form/utils/getRelationshipsForForm.ts
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/tests/unit/components/form/utils/getRelationshipsForForm.test.ts
Labels: type/bug, group/frontend

#4224 Add colors to generic repo dropdown choices
  backend/infrahub/core/schema/definitions/core.py
Labels: group/backend, ci/skip-changelog

#4215 IFC-598 - Rebase button on diff view
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/screens/diff/diff-badge.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-diff-update-button.tsx
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: type/feature, group/frontend

#4197 IFC-583 improve diff labels
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/node.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/helpers/schema/car.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_labels_enricher.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend
