Repository opsmill/infrahub, pull requests merged in 2024-11, with the labels that each got.

#4819 Merge develop-1.1 into develop
  .github/workflows/ci.yml
  backend/infrahub/core/utils.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/base.py
  backend/infrahub/git/directory.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/trigger/__init__.py
  backend/infrahub/message_bus/operations/trigger/generator_definition.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/guides/repository.mdx
  docs/docs/reference/message-bus-events.mdx
  docs/docs/topics/local-demo-environment.mdx
  pyproject.toml
Labels: type/documentation, group/backend, group/ci

#4814 Migrate GitRepositoryPullReadOnly to prefect
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/git_repository_read_only_pull.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4821 Fix invalid type for environment variable default
  backend/tests/benchmark/test_graphql_query.py
  pyproject.toml
  tasks/shared.py
Labels: group/backend

#4815 Sur 31102024 docs
  docs/docs/guides/create-schema.mdx
  docs/docs/media/guides/create_schema_1.png
  docs/docs/media/guides/create_schema_2.png
  docs/docs/media/guides/create_schema_3.png
  docs/docs/media/guides/create_schema_generics.png
  docs/docs/media/guides/create_schema_graphql_1.png
Labels: type/documentation

#4778 Convert BranchDelete task and event to Prefect
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/node/standard.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_proposed_change_cancel.py
  backend/infrahub/message_bus/messages/trigger_generatordefinition_run.py
  backend/infrahub/message_bus/messages/trigger_proposed_change_cancel.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/trigger/__init__.py
  backend/infrahub/message_bus/operations/trigger/proposed_change.py
  backend/infrahub/proposed_change/__init__.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/services/adapters/event/__init__.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/utils.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  backend/tests/unit/message_bus/test_mappings.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4830 Use protocol for CoreGraphQLQuery
  backend/infrahub/api/query.py
Labels: group/backend

#4823 Integrate Prefect Flow data into existing InfrahubTask query
  backend/infrahub/core/task/task.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/models.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

#4835 Fixes create schema guide
  docs/docs/guides/create-schema.mdx
Labels: type/documentation, ci/skip-changelog

#4775 Search anywhere supports IPV6 extended format
  backend/infrahub/core/attribute.py
  backend/infrahub/graphql/queries/search.py
  backend/tests/unit/graphql/queries/test_search.py
  changelog/4613.fixed.md
Labels: group/backend

#4422 Added combobox component for Relationship many
  frontend/app/src/components/filters/utils/getFiltersFromFormData.ts
  frontend/app/src/components/filters/utils/getObjectFromFilters.ts
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-many.field.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/input.tsx
  frontend/app/src/components/ui/style.ts
  frontend/app/src/graphql/mutations/groups/updateGroupsQuery.ts
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/screens/groups/add-group-form.tsx
  frontend/app/src/screens/groups/add-group-trigger-button.tsx
  frontend/app/src/screens/groups/groups-manager.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/form/proposed-change-edit-form.tsx
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  frontend/app/tests/e2e/form/multi-select.spec.ts
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-groups.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/mocks/data/task_6.ts
  frontend/app/tests/unit/components/filters/getFiltersFromFormData.test.ts
  frontend/app/tests/unit/components/filters/getObjectFromFilters.test.ts
  frontend/app/tests/unit/components/form/utils/getCreateMutationFromFormData.test.ts
  frontend/app/tests/unit/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/tests/unit/components/form/utils/getUpdateMutationFromFormData.test.ts
Labels: group/frontend

#4842 Migrate RequestGeneratorDefinitionRun to prefect
  backend/infrahub/generators/models.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/check_generator_run.py
  backend/infrahub/message_bus/messages/request_generatordefinition_check.py
  backend/infrahub/message_bus/messages/request_generatordefinition_run.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4841 Add wait_for_completion option to BranchRebase and BranchDelete mutatations
  .github/workflows/ci.yml
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/functional/__init__.py
  backend/tests/functional/branch/__init__.py
  backend/tests/functional/branch/test_graphql_mutation.py
  tasks/backend.py
Labels: group/backend, group/ci

#4833 Cont working on InfrahubTask
  backend/infrahub/core/task/task.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/graphql/types/task.py
  backend/infrahub/task_manager/__init__.py
  backend/infrahub/task_manager/constants.py
  backend/infrahub/task_manager/models.py
  backend/infrahub/task_manager/task.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

#4818 add merge rollback logic
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/merge.py
  backend/infrahub/exceptions.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/tests/integration/diff/test_merge_rollback.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

#4848 Update getting started tutorial, groups guide and screenshots in docs
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/groups.mdx
  docs/docs/media/create_repository.png
  docs/docs/media/group_tagconfig_grp_new_members.png
  docs/docs/media/tutorial_6_interface_update.png
  docs/docs/media/tutorial_resource_manager_add_device_form.png
  docs/docs/media/tutorial_resource_manager_loopbacks_pool.png
  docs/docs/tutorials/getting-started/branches.mdx
  docs/docs/tutorials/getting-started/creating-an-object.mdx
  docs/docs/tutorials/getting-started/custom-api-endpoint.mdx
  docs/docs/tutorials/getting-started/git-integration.mdx
  docs/docs/tutorials/getting-started/graphql-mutation.mdx
  docs/docs/tutorials/getting-started/historical-data.mdx
  docs/docs/tutorials/getting-started/jinja2-integration.mdx
  docs/docs/tutorials/getting-started/lineage-information.mdx
  docs/docs/tutorials/getting-started/rendering-configuration.mdx
  docs/docs/tutorials/getting-started/resource-manager.mdx
  docs/docs/tutorials/getting-started/schema.mdx
  docs/sidebars.ts
Labels: type/documentation, ci/skip-changelog

#4844 Updated docs screenshot update process and documentation
  docs/docs/development/docs.mdx
  frontend/app/package.json
  frontend/app/playwright.config.ts
  frontend/app/tests/e2e/login.spec.ts
Labels: type/documentation, group/frontend

#4853 Disable backend-tests-memgraph in CI
  .github/workflows/ci.yml
Labels: group/ci

#4852 Fix tasks after backend updates
  frontend/app/src/graphql/queries/tasks/getTasksItemDetails.ts
  frontend/app/src/graphql/queries/tasks/getTasksItems.ts
  frontend/app/src/pages/tasks/task-details.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
  frontend/app/src/screens/tasks/task-items.tsx
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
Labels: group/frontend, type/housekeeping

#4788 Migrate GitRepositoryAdd to prefect
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/git_repository_add.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/helpers/file_repo.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4860 Fix issues with InfrahubTask filter not working with ids
  backend/infrahub/graphql/queries/task.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

#4862 Transition away from InfrahubCheck.init()
  backend/infrahub/git/integrator.py
Labels: group/backend

#4858 fix hierarchy schema update
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_migration_hierarchy_change.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4838.fixed.md
  changelog/4839.fixed.md
Labels: group/backend

#4868 Convert BranchValidate mutation to a prefect task and support async execution
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/unit/graphql/mutations/test_branch.py
Labels: group/backend

#4611 Add support for initial generation of computed attributes
  backend/infrahub/api/schema.py
  backend/infrahub/computed_attribute/__init__.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/computed_attribute.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/support/__init__.py
  backend/infrahub/support/macro.py
  backend/infrahub/workflows/catalogue.py
  backend/templates/attributeschema_imports.j2
  backend/tests/constants/kind.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/child.py
  backend/tests/helpers/schema/thing.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/core/schema/schema_branch/test_validate_computed_attributes.py
  backend/tests/unit/graphql/queries/test_task.py
  backend/tests/unit/graphql/test_mutation_create_macros.py
  docs/docs/reference/schema/attribute.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: type/documentation, group/backend

#4875 Allow the use of HFID of a node to create a related node on a generc relationship
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/types/attribute.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  changelog/4649.added.md
Labels: group/backend

#4873 Tasks indicator for the current branch
  frontend/app/src/components/ui/pulse.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/queries/tasks/getTasksStatus.ts
  frontend/app/src/images/icons/tasks-status.svg
  frontend/app/src/screens/layout/header.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
Labels: type/feature, group/frontend

#4865 remove /diff/data and /diff/schema endpoints
  backend/infrahub/api/diff/diff.py
  backend/tests/unit/api/diff/test_diff_data_query.py
  changelog/+diff-api-endpoints.removed.md
Labels: group/backend

#4884 Migrate GitRepositoryAddReadOnly to prefect
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/git_repository_read_only_add.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4878 Search anywhere looks at Groups
  backend/infrahub/graphql/queries/search.py
  backend/tests/unit/graphql/queries/test_search.py
  changelog/3173.fixed.md
Labels: group/backend

#4888 Add cloud provider's machine type to hardware requirements in the documentation
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/hardware-requirements.mdx
Labels: type/documentation, ci/skip-changelog

#4890 Refactor computed_attribute_setup
  backend/infrahub/computed_attribute/constants.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/tests/unit/computed_attribute/__init__.py
  backend/tests/unit/computed_attribute/test_models.py
Labels: group/backend

#4880 Verify permissions in computed_attribute mutation
  backend/infrahub/graphql/mutations/computed_attribute.py
Labels: group/backend

#4885 Migrate RequestProposedChangeDataIntegrity to prefect
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/models.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4889 fix hierarchical relationship handling in diff
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

#4895 Release 1.0.3 prep
  CHANGELOG.md
  changelog/+numpy.fixed.md
  changelog/4838.fixed.md
  changelog/4839.fixed.md
  docs/docs/release-notes/infrahub/release-1_0_3.mdx
  docs/docs/release-notes/infrahub/release-1_0_4-DRAFT.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#4855 Add HFID for Profile nodes
  backend/infrahub/core/schema/schema_branch.py
  changelog/4758.fixed.md
Labels: type/bug, group/backend

#4893 Convert BranchMerge mutation to a prefect task
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/models.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/helpers/utils.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
Labels: group/backend

#4897 fix bad Env Var name
  docs/docs/release-notes/infrahub/release-1_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_1.mdx
  docs/docs/release-notes/infrahub/release-1_0_2.mdx
  docs/docs/release-notes/infrahub/release-1_0_3.mdx
  docs/docs/release-notes/infrahub/release-1_0_4-DRAFT.mdx
Labels: type/documentation

#4874 Convert proposed change merge to a prefect task
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/graphql/types/task.py
  backend/infrahub/message_bus/messages/request_diff_refresh.py
  backend/infrahub/proposed_change/constants.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/unit/core/test_constants.py
Labels: group/backend

#4892 Tie Prefect automation for computed attribute to target specific attribute
  backend/infrahub/computed_attribute/tasks.py
Labels: group/backend

#4867 IFC-873 Remove shared storage requirements for git workers
  backend/infrahub/git/base.py
  backend/infrahub/git/repository.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/refresh_git_fetch.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/services/adapters/message_bus/__init__.py
  backend/infrahub/services/adapters/message_bus/nats.py
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/git/test_git_transform.py
  changelog/4296.fixed.md
  changelog/4789.fixed.md
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4902 Fix serialization for ComputedAttribute in schema
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/computed_attribute.py
  backend/infrahub/core/schema/manager.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_node.py
  backend/tests/unit/graphql/test_mutation_create_macros.py
Labels: group/backend

#4901 Add flow_run_name to flows
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/groups/tasks.py
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/send/webhook.py
  backend/infrahub/tasks/telemetry.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/utils.py
Labels: group/backend

#4903 Returns a proper error message when trying to load a schema with a generic with the same Kind as an existing node
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/api/test_40_schema_api.py
  changelog/4837.fixed.md
Labels: type/bug, group/backend

#4900 Add more filters to InfrahubTask query and return workflow name
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/types/task.py
  backend/infrahub/task_manager/task.py
  backend/infrahub/tasks/dummy.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

#4910 Add support for nested model in HashableModel.update
  backend/infrahub/core/models.py
  backend/tests/unit/core/test_model_hashable.py
Labels: group/backend

#4914 Fixes git repositories variable
  docker-compose.yml
Labels: type/housekeeping, ci/skip-changelog

#4870 update IpamDiffParser to use new diff
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/ipam/kinds_getter.py
  backend/infrahub/core/query/node.py
  backend/infrahub/dependencies/builder/diff/ipam_diff_parser.py
  backend/infrahub/dependencies/builder/ip/__init__.py
  backend/infrahub/dependencies/builder/ip/kinds_getter.py
  backend/infrahub/dependencies/registry.py
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/core/ipam/test_ipam_diff_parser.py
Labels: group/backend

#4915 Remove Profile in registry for renamed schema nodes
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_main.py
  changelog/4909.fixed.md
Labels: group/backend

#4923 Remove Profile in registry for renamed schema nodes
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_main.py
  changelog/4909.fixed.md
Labels: group/backend

#4918 Migrate EventSchemaUpdate to InfrahubEvent
  backend/infrahub/api/schema.py
  backend/infrahub/events/schema_action.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/schema/__init__.py
  backend/infrahub/schema/constants.py
  backend/infrahub/schema/tasks.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  pyproject.toml
Labels: group/backend

#4925 Change the match logic for computed jinja attributes
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

#4899 rewrite artifacts diff endpoint
  backend/infrahub/api/diff/diff.py
  backend/infrahub/core/diff/artifacts/__init__.py
  backend/infrahub/core/diff/artifacts/calculator.py
  backend/infrahub/core/diff/model/diff.py
  backend/infrahub/core/diff/payload_builder.py
  backend/infrahub/core/diff/query/artifact.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/queries/__init__.py
  backend/infrahub/graphql/queries/diff/diff.py
  backend/infrahub/graphql/schema.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/api/test_15_diff.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/diff/test_calculate_artifact_diff.py
  backend/tests/unit/core/diff/test_diff_payload.py
  changelog/+diff-artifacts.fixed.md
  pyproject.toml
Labels: group/backend

#4928 Infrahub v1.0.4 release prep
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/4758.fixed.md
  changelog/4837.fixed.md
  changelog/4898.fixed.md
  changelog/4909.fixed.md
  docs/docs/release-notes/infrahub/release-1_0_4.mdx
  docs/docs/release-notes/infrahub/release-1_0_5-DRAFT.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#4927 Cleanup logic for computed attributes
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/schema_branch_computed.py
Labels: group/backend

#4926 Add event after repos are synced
  backend/infrahub/events/repository_action.py
  backend/infrahub/git/constants.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
Labels: group/backend

#4846 re-adding the id attribute and updated the note
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

#4864 Asnyc actions in branch details view
  .github/workflows/ci.yml
  frontend/app/src/graphql/mutations/branches/deleteBranch.ts
  frontend/app/src/graphql/mutations/branches/mergeBranch.ts
  frontend/app/src/graphql/mutations/branches/rebaseBranch.ts
  frontend/app/src/graphql/mutations/branches/validateBranch.ts
  frontend/app/src/graphql/queries/tasks/getTasksItemDetails.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/branches/task-display.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/tasks/constants.ts
  frontend/app/src/screens/tasks/logs.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: type/feature, group/frontend, group/ci

#4917 Convert BranchCreate mutation to a prefect workflow
  backend/infrahub/core/branch/flow_models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/git/base.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/models.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/queries/test_branch.py
Labels: group/backend

#4882 Add tasks in propsoed changes details
  frontend/app/src/components/ui/badge.tsx
  frontend/app/src/graphql/queries/tasks/getTasksItemDetails.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: type/feature, group/frontend

#4933 Minor cleanup of computed_attribute jinja code + test
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/tests/constants/kind.py
  backend/tests/functional/computed_attributes/__init__.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/color.py
  backend/tests/helpers/schema/tshirt.py
Labels: group/backend

#4940 Forbid changing optional property of inherited attributes
  backend/infrahub/core/schema/node_schema.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4936.fixed.md
Labels: group/backend

#4938 Allow`type` as a node attribute name
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/constants.py
  backend/infrahub/graphql/types/interface.py
  backend/tests/integration/user_workflows/test_node_with_type_name_attr.py
  backend/tests/unit/core/test_attribute.py
  backend/tests/unit/core/test_node.py
  changelog/4381.fixed.md
Labels: group/backend

#4947 Fix test_merge_proposed_change_permission_failure flakyness
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

#4949 Remove wait for completion in mutation
  frontend/app/src/graphql/mutations/branches/deleteBranch.ts
Labels: type/bug, group/frontend, ci/skip-changelog

#4953 1.0.5 release prep
  CHANGELOG.md
  changelog/4381.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_5.mdx
  docs/docs/release-notes/infrahub/release-1_0_6-DRAFT.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#4955 Forbid changing optional property of inherited attributes (stable backport)
  backend/infrahub/core/schema/node_schema.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4936.fixed.md
Labels: group/backend

#4951 Add missing await keyword before async function
  backend/infrahub/task_manager/task.py
Labels: group/backend

#4943 Use selective updates when saving a Node object
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

#4937 Trigger Transform computed attributes by GraphQL query group
  backend/infrahub/computed_attribute/constants.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/fixtures/repos/computed-attributes-functional/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/computed-attributes-functional/initial__main/transforms/__init__.py
  backend/tests/fixtures/repos/computed-attributes-functional/initial__main/transforms/model.py
  backend/tests/fixtures/repos/computed-attributes-functional/initial__main/transforms/tshirt_colors.gql
  backend/tests/fixtures/repos/computed-attributes-functional/initial__main/transforms/tshirt_pitch.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/helpers/schema/tshirt.py
  backend/tests/unit/computed_attribute/test_models.py
  pyproject.toml
Labels: group/backend

#4946 Sort workflow variables and add test to ensure order
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend

#4960 Update integrations
  docs/docs/integrations/readme.mdx
Labels: type/documentation

#4959 Enforce permission edit_default_branch when loading schema
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/schema.py
  changelog/+anonymous.fixed.md
  changelog/4958.fixed.md
Labels: group/backend

#4935 Tasks overview filters - IFC-919
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/components/filters/tasks-filter-form.tsx
  frontend/app/src/components/filters/utils/getObjectFromFilters.ts
  frontend/app/src/graphql/queries/tasks/getTasksItems.ts
  frontend/app/src/pages/tasks/index.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/tasks/constants.ts
  frontend/app/src/screens/tasks/task-items.tsx
Labels: type/feature, group/frontend, cd/preview

#4963 Add schema topic back to menu in docs
  docs/sidebars.ts
Labels: type/documentation, group/backend

#4944 Remove task_report and git_report
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/git_report.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/services/__init__.py
  backend/tests/adapters/log.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/transform/test_transform.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

#4966 Logout API call on signout - IFC-931
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/utils/fetch.ts
Labels: group/frontend

#4961 only add deleted edges where necessary when deleting a relationship
  backend/infrahub/core/query/relationship.py
  changelog/+extra-deleted-edges.fixed.md
Labels: group/backend

#4967 Migrate GitDiffNamesOnly to prefect
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/git_diff_namesonly.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/__init__.py
  backend/infrahub/message_bus/operations/git/diff.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4956 remove parent nodes from copy during diff combine
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  changelog/+diff-hierarchy-add.fixed.md
Labels: group/backend

#4974 Stable mergeback
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/schema.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/query/relationship.py
  changelog/+diff-hierarchy-add.fixed.md
  changelog/+extra-deleted-edges.fixed.md
  docker-compose.yml
  docs/docs/integrations/readme.mdx
  docs/docs/release-notes/infrahub/release-1_0_6.mdx
  docs/docs/release-notes/infrahub/release-1_0_7-DRAFT.mdx
  docs/sidebars.ts
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/utils/fetch.ts
  helm/Chart.yaml
Labels: type/documentation, group/backend, group/frontend

#4976 Enforce repo management permission
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

#4972 Migrate RequestProposedChangeRunGenerators to prefect
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_rungenerators.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4984 Enforce repo management permission (backport from stable)
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

#4981 Add additional Jinja2 filters as allowed for computed attributes
  backend/infrahub/support/macro.py
Labels: group/backend

#4980 fix relationship delete query branch problems
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

#4983 Trigger refresh of computed attributes on schema/repo changes
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

#4986 Migrate RequestProposedChangeRepositoryCheck to prefect
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_repositorychecks.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4997 fix for merging diff with attrs set to null
  backend/infrahub/core/diff/merger/serializer.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  changelog/4996.fixed.md
Labels: group/backend

#4992 Loosen requirements for when to regenerate artifacts
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  changelog/4198.fixed.md
Labels: group/backend

#4993 Add a guide to support adapters with custom CA certificates with Infrahub-sync
  docs/docs/integrations/sync/guides/custom-certificates.mdx
  docs/docs/integrations/sync/readme.mdx
Labels: type/documentation, group/sync-engine, ci/skip-changelog, type/ecosystem

#5007 Add Postgre SQL version to prefect values
  helm/Chart.yaml
  helm/values.yaml
Labels: type/housekeeping, ci/skip-changelog

#5015 Remove `required: false` form the development docker-compose
  development/docker-compose.yml
Labels: type/housekeeping, ci/skip-changelog

#5014 release v1.0.7
  CHANGELOG.md
  changelog/+diff-hierarchy-add.fixed.md
  changelog/+extra-deleted-edges.fixed.md
  changelog/4996.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_7.mdx
  docs/docs/release-notes/infrahub/release-1_0_8-DRAFT.mdx
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#5010 add a diff-related unit test
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

#4970 IFC-500 Please ASYNC linting rules
  backend/infrahub/cli/git_agent.py
  backend/infrahub/graphql/app.py
  backend/infrahub/lock.py
  backend/tests/conftest.py
  backend/tests/unit/api/test_60_storage.py
  backend/tests/unit/conftest.py
  backend/tests/unit/storage/test_local_storage.py
  pyproject.toml
Labels: group/backend

#4931 IFC-619 Add deprecation for attributes and relationships
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4245.added.md
  docs/docs/reference/schema/attribute.mdx
  docs/docs/reference/schema/relationship.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: type/documentation, group/backend

#5013 Cherry-pick #4929
  .devcontainer/onCreateCommand.sh
  .devcontainer/updateContentCommand.sh
  .vale/styles/spelling-exceptions.txt
  development/docker-compose-deps.yml
  development/docker-compose.yml
  docs/docs/development/docs.mdx
  docs/docs/development/frontend/getting-set-up.mdx
  docs/docs/guides/installation.mdx
  docs/docs/snippets/pre-reqs-base.mdx
  docs/docs/snippets/pre-reqs-frontend.mdx
  docs/docs/topics/local-demo-environment.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
  tasks/demo.py
Labels: type/documentation, ci/skip-changelog

#5004 Add URL as an allowed computed attribute kind
  backend/infrahub/computed_attribute/constants.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_validate_computed_attributes.py
Labels: group/backend

#5012 Upgrade pydantic-settings & opentelemetry
  backend/infrahub/server.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#5016 Branch verification and redirect
  frontend/app/src/components/ui/alert.tsx
  frontend/app/src/screens/layout/layout.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
  frontend/app/tests/e2e/branches.spec.ts
Labels: type/bug, group/frontend

#5018 Remove unused attributes from registry
  backend/infrahub/core/registry.py
Labels: group/backend

#5020 Stable mergeback
  CHANGELOG.md
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/query/diff.py
  backend/tests/conftest.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  changelog/+diff-hierarchy-add.fixed.md
  changelog/+extra-deleted-edges.fixed.md
  development/docker-compose-deps.yml
  development/docker-compose.yml
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_7.mdx
  docs/docs/release-notes/infrahub/release-1_0_8-DRAFT.mdx
  helm/Chart.yaml
  helm/values.yaml
Labels: type/documentation, group/backend

#4985 Fixes user permissions updates
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/components/ui/search-input.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: type/bug, group/frontend

#5022 Migrate RequestProposedChangeRunTests to Prefect
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_runtests.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4990 IFC-739 Remove references to account role attribute
  backend/infrahub/api/artifact.py
  backend/infrahub/api/dependencies.py
  backend/infrahub/auth.py
  backend/infrahub/core/account.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/read_only_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/read_write_checker.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/fixtures/schemas/schema_02.json
  backend/tests/unit/api/test_auth.py
  backend/tests/unit/api/test_auth_cookies.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_account.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_super_admin_checker.py
  backend/tests/unit/graphql/auth/test_parent_checker.py
  backend/tests/unit/graphql/auth/test_read_only_checker.py
  backend/tests/unit/graphql/auth/test_read_write_checker.py
  backend/tests/unit/graphql/conftest.py
  backend/tests/unit/graphql/test_core_account.py
  changelog/+perm-accountrole.removed.md
  frontend/app/tests/e2e/profile/profile.spec.ts
  frontend/app/tests/mocks/data/account-profile.ts
  frontend/app/tests/mocks/data/account.ts
  frontend/app/tests/mocks/data/artifact.ts
  frontend/app/tests/mocks/data/conversations.ts
  frontend/app/tests/mocks/data/schema.ts
  models/examples/security/infrastructure_security.py
  models/infrastructure_edge.py
Labels: group/backend, group/frontend

#5009 Add support to use "parent" hierarchy relationships with computed attributes
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/tests/constants/kind.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/location.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
Labels: group/backend

#4998 bubble UNCHANGED action up when combining diffs
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/relationship.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/graphql/test_diff_tree_query.py
  changelog/+merge-rel-metadata.fixed.md
Labels: group/backend

#5019 Add branch support to computed attributes based on Jinja2
  backend/infrahub/computed_attribute/constants.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/registry.py
  backend/infrahub/schema/tasks.py
  backend/tests/unit/computed_attribute/test_models.py
Labels: group/backend

#5025 Search anywhere shortcut updates
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/components/search/search-anywhere.tsx
Labels: type/bug, group/frontend

#4919 Migrate EventBranchCreate to InfrahubEvent
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/tests/adapters/message_bus.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/queries/test_branch.py
Labels: group/backend

#4994 Add node tag for repository flows
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/utils.py
Labels: group/backend

#5017 Add `condition: service_healthy` to task-manager-db
  docker-compose.yml
Labels: type/housekeeping, ci/skip-changelog

#5030 Format to max two decimals
  backend/infrahub/workflows/utils.py
Labels: group/backend

#5031 Ensure to only save the computed attribute on mutation
  backend/infrahub/graphql/mutations/computed_attribute.py
Labels: group/backend

#5029 Refactor webhooks
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/refresh_webhook_configuration.py
  backend/infrahub/message_bus/messages/trigger_webhook_actions.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/node.py
  backend/infrahub/message_bus/operations/event/worker.py
  backend/infrahub/message_bus/operations/refresh/__init__.py
  backend/infrahub/message_bus/operations/refresh/webhook.py
  backend/infrahub/message_bus/operations/trigger/__init__.py
  backend/infrahub/message_bus/operations/trigger/webhook.py
  backend/infrahub/send/models.py
  backend/infrahub/send/webhook.py
  backend/infrahub/webhook/__init__.py
  backend/infrahub/webhook/constants.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/message_bus/test_mappings.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5024 Check perm the same way everywhere
  backend/infrahub/api/artifact.py
  backend/infrahub/api/schema.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  changelog/+perm-check.fixed.md
Labels: group/backend

#5027 update branch validate to use new diff
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/query/has_conflicts_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/unit/core/diff/test_diff_has_conflicts_query.py
Labels: group/backend

#5037 add retry decorator to Ipam reconcile method
  backend/infrahub/core/ipam/reconciler.py
  changelog/+retry-ipam-reconcile.fixed.md
Labels: group/backend

#5038 version 1.1.0b1
  .vale/styles/Infrahub/sentence-case.yml
  CHANGELOG.md
  changelog/+diff-api-endpoints.removed.md
  changelog/+diff-artifacts.fixed.md
  changelog/+irresolvable-conflicts.fixed.md
  changelog/+merge-rel-metadata.fixed.md
  changelog/+perm-accountrole.removed.md
  changelog/+perm-check.fixed.md
  changelog/3173.fixed.md
  changelog/3587.removed.md
  changelog/4198.fixed.md
  changelog/4245.added.md
  changelog/4296.fixed.md
  changelog/4613.fixed.md
  changelog/4649.added.md
  changelog/4789.fixed.md
  changelog/4909.fixed.md
  changelog/4936.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#5033 Re-enable rules N805, N812, RUF027 and SIM115 for ruff
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/menu/menu.py
  backend/infrahub/storage.py
  backend/infrahub/support/macro.py
  backend/tests/constants/__init__.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/core/schema_manager/test_validate_schema_path.py
  backend/tests/unit/git/conftest.py
  pyproject.toml
  utilities/db_backup/__main__.py
Labels: group/backend

#4982 chore: clean test docker compose
  .github/workflows/ci.yml
  .github/workflows/scale-tests.yml
  development/docker-compose-test-database-memgraph.yml
  development/docker-compose-test-database-neo4j.yml
  development/docker-compose-test-deps.yml
  development/docker-compose-test-message-queue.yml
  development/docker-compose-test-scale.yml
  development/docker-compose-test.yml
  tasks/backend.py
  tasks/docs.py
  tasks/sdk.py
  tasks/shared.py
Labels: group/ci

#5040 Add CODEOWNERS for easy tagging of reviewers based on folder structure
  .github/CODEOWNERS
Labels: type/housekeeping, ci/skip-changelog

#5046 Log graphql errors while testing
  backend/tests/benchmark/test_graphql_query.py
  backend/tests/helpers/graphql.py
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
  backend/tests/integration/ipam/test_ipam_utilization.py
  backend/tests/integration/profiles/test_profile_lifecycle.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/graphql/mutations/test_schema.py
  backend/tests/unit/graphql/mutations/test_task.py
  backend/tests/unit/graphql/mutations/test_update_generic.py
  backend/tests/unit/graphql/profiles/test_mutation_create.py
  backend/tests/unit/graphql/profiles/test_query.py
  backend/tests/unit/graphql/queries/test_branch.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/queries/test_relationship.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  backend/tests/unit/graphql/queries/test_search.py
  backend/tests/unit/graphql/queries/test_task.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/graphql/test_diff_tree_query.py
  backend/tests/unit/graphql/test_graphql_query.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  backend/tests/unit/graphql/test_mutation_delete.py
  backend/tests/unit/graphql/test_mutation_graphqlquery.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  backend/tests/unit/graphql/test_parser.py
Labels: group/backend

#5047 Set artifact content type when rendered
  backend/infrahub/git/integrator.py
  changelog/4969.fixed.md
Labels: group/backend

#5026 handle node deleted merge edge case
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/test_utils.py
Labels: group/backend

#5045 Modify error message on login and -> or
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/tests/e2e/login.spec.ts
Labels: group/frontend

#5049 Load and process new schema before replacing registry branch
  backend/infrahub/tasks/registry.py
  changelog/5008.fixed.md
Labels: group/backend

#5050 Raise error if pool allocation misses data to create node
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
Labels: group/backend

#4978 Computed attribute documentation part 1
  docs/docs/guides/computed-attributes.mdx
  docs/docs/topics/computed-attributes.mdx
  docs/sidebars.ts
  models/base/dcim.yml
Labels: type/documentation

#5063 Add fragments for releasse note
  changelog/+branch-exists.fixed.md
  changelog/4861.fixed.md
  changelog/4863.fixed.md
  changelog/4881.fixed.md
  changelog/4952.fixed.md
  changelog/4962.fixed.md
Labels: ci/skip-changelog

#5043 Minor cleanup of computed attribute workflows
  backend/infrahub/computed_attribute/tasks.py
Labels: group/backend

#5039 Update search anywhere to use cmdk and fix focus issues - IFC-837
  changelog/4715.fixed.md
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: type/bug, group/frontend, cd/preview

#5053 Corrections to branch support for jinja2 attributes
  backend/infrahub/computed_attribute/tasks.py
Labels: group/backend

#5042 Workflow Catalogue cleanup
  backend/infrahub/task_manager/task.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/models.py
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
Labels: group/backend, group/frontend

#5068 Cherry pick 4978
  docs/docs/guides/computed-attributes.mdx
  docs/docs/topics/computed-attributes.mdx
  docs/sidebars.ts
  models/base/dcim.yml
Labels: type/documentation

#5072 drop tracking id from any diffs using it after a merge completes
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/query/drop_tracking_id.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

#5074 update ipam reconcile query to handle deleted relationships correctly
  backend/infrahub/core/query/ipam.py
  backend/tests/unit/core/ipam/test_ipam_reconcile_query.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  changelog/+ipam-reconcile-delete.fixed.md
Labels: group/backend

#5075 Stable to release 1.1
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/query/drop_tracking_id.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/ipam/reconciler.py
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/core/ipam/test_ipam_reconcile_query.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  changelog/+generator-read-only-repo.fixed.md
  changelog/+ipam-reconcile-delete.fixed.md
  changelog/+retry-ipam-reconcile.fixed.md
  changelog/4715.fixed.md
  changelog/4969.fixed.md
  changelog/5006.fixed.md
  docker-compose.yml
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/tests/e2e/search.spec.ts
  helm/values.yaml
Labels: group/backend, group/frontend

#5073 fix(ci): use forked paths-filter
  .github/workflows/ci.yml
Labels: group/ci

#5082 Loosen requirements for when to regenerate artifacts
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  changelog/4198.fixed.md
Labels: group/backend

#5083 fix(ci): use forked paths-filter
  .github/workflows/ci.yml
Labels: group/ci

#5021 Restore logs for local testing
  backend/infrahub/log.py
  backend/tests/conftest.py
  backend/tests/unit/git_credential/test_git_helper.py
  pyproject.toml
Labels: group/backend

#5066 Fix confusing path in Docs for backup utility
  docs/docs/guides/database-backup.mdx
Labels: type/documentation, ci/skip-changelog

#5065 Wait until schema convergence when syncing a repo with schema updates
  backend/infrahub/git/integrator.py
  backend/tests/helpers/test_app.py
  changelog/5051.fixed.md
Labels: group/backend

#5084 Remove flows for webhooks and node mutated event
  backend/infrahub/message_bus/operations/event/node.py
  backend/infrahub/message_bus/operations/trigger/webhook.py
  backend/tests/unit/message_bus/test_mappings.py
Labels: group/backend

#5069 Use neo4j sessions for multiple flows/tasks
  .github/workflows/ci.yml
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/ipam/tasks.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  changelog/generator-group-create.fixed.md
Labels: group/backend, group/ci

#5086 Add default group setting for SSO accounts
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  backend/infrahub/config.py
  changelog/4924.added.md
  docs/docs/guides/sso.mdx
Labels: type/documentation, group/backend

#5089 Add sub flow while processing jinja2 computed attribute
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/utils.py
Labels: group/backend

#5064 Docs changes for task workers no longer needing shared storage
  docs/docs/media/repository_architecture.excalidraw.svg
  docs/docs/topics/repository.mdx
Labels: type/documentation
