Repository opsmill/infrahub, pull requests merged in 2024-05, with the labels that each got.

#3492 fix infrahub version in docker-compose version
  docker-compose.yml
Labels: ci/skip-changelog, type/task

#3498 update otto
  README.md
  docs/docs/media/otto.png
Labels: type/documentation

#3494 Remove ignore mypy errors from infrahub.api.storage
  pyproject.toml
Labels: type/housekeeping

#3511 Sync stable into develop
  .devcontainer/demo-container/devcontainer.json
  .devcontainer/devcontainer.json
  README.md
  docker-compose.yml
  docs/docs/media/otto.png
Labels: type/documentation, ci/skip-changelog

#3510 Avoid star-arg unpacking after keyword arguments
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/graphql/mutations/main.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3493 Add inheritance topic docs
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation, type/task

#3464 Add resource manager documentation
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/resource-manager.mdx
  docs/docs/media/guides/resource-manager-create-device.png
  docs/docs/media/tutorial_resource_manager_add_device_form.png
  docs/docs/media/tutorial_resource_manager_loopbacks_pool.png
  docs/docs/python-sdk/guides/resource-manager.mdx
  docs/docs/topics/ipam.mdx
  docs/docs/topics/resource-manager.mdx
  docs/docs/tutorials/getting-started/resource-manager.mdx
  docs/sidebars.ts
Labels: type/documentation, ci/skip-changelog

#3514 Update screenshots in getting started tutorial
  docs/docs/media/tutorial_1_branch_creation.png
  docs/docs/media/tutorial_1_branch_details.png
  docs/docs/media/tutorial_1_branch_diff.png
  docs/docs/media/tutorial_1_branch_list.png
  docs/docs/media/tutorial_1_organization_create.png
  docs/docs/media/tutorial_1_organization_details.png
  docs/docs/media/tutorial_1_organization_edit.png
  docs/docs/media/tutorial_1_organizations.png
  docs/docs/media/tutorial_2_historical.png
  docs/docs/media/tutorial_3_schema.png
  docs/docs/media/tutorial_4_metadata.png
  docs/docs/media/tutorial_4_metadata_edit.png
  docs/docs/media/tutorial_6_branch_creation.png
  docs/docs/media/tutorial_6_interface_update.png
Labels: type/documentation, ci/skip-changelog

#3513 update demo-container url
  README.md
  docs/docs/guides/installation.mdx
Labels: type/documentation, type/task

#3517 Fix Ruff N811: Constant imported as non-constant
  backend/infrahub/graphql/mutations/task.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3508 Integration test for pool selector display
  frontend/tests/e2e/form/multi-select.spec.ts
  frontend/tests/e2e/objects/artifact.spec.ts
  frontend/tests/integrations/screens/object-fields.cy.tsx
  frontend/tests/mocks/data/ip-address.ts
  frontend/tests/mocks/data/ip-prefix.ts
  frontend/tests/mocks/data/task_6.ts
Labels: group/frontend, type/housekeeping

#3516 fix(ci): disable CI observability and labeler for forks
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
Labels: ci/skip-changelog, group/ci

#3520 Fix Ruff PTH207: Replace `glob` with `Path.glob`
  backend/infrahub/git/repository.py
  backend/tests/conftest.py
  backend/tests/helpers/file_repo.py
  backend/tests/integration/conftest.py
  backend/tests/integration/git/conftest.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/git/test_repository.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
  backend/tests/integration/message_bus/operations/request/conftest.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/integration/proposed_change/test_proposed_change_profile.py
  backend/tests/unit/conftest.py
  pyproject.toml
  python_sdk/infrahub_sdk/ctl/schema.py
  python_sdk/infrahub_sdk/ctl/utils.py
  python_sdk/infrahub_sdk/pytest_plugin/items/base.py
  python_sdk/infrahub_sdk/pytest_plugin/models.py
  python_sdk/infrahub_sdk/utils.py
  python_sdk/pyproject.toml
  python_sdk/tests/unit/pytest_plugin/test_plugin.py
  tasks/performance.py
Labels: group/backend, type/housekeeping, group/python-sdk

#3504 Add a custom page to better display a graphql query
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/buttons/button-primitive.tsx
  frontend/src/components/buttons/copy-to-clipboard.tsx
  frontend/src/components/display/properties-popover.tsx
  frontend/src/components/editor/code-viewer-limiter.tsx
  frontend/src/components/editor/graphql/graphql-viewer.tsx
  frontend/src/components/form/object-edit-slide-over-trigger.tsx
  frontend/src/config/constants.tsx
  frontend/src/hooks/useCodeMirror.ts
  frontend/src/screens/graphql/details/graphql-query-details-card.tsx
  frontend/src/screens/graphql/details/graphql-query-details-page-skeleton.tsx
  frontend/src/screens/graphql/details/graphql-query-details-page.tsx
  frontend/src/screens/graphql/details/graphql-query-viewer-card.tsx
  frontend/src/screens/ipam/constants.ts
  frontend/src/screens/object-item-details/object-attribute-row.tsx
  frontend/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
Labels: type/feature, group/frontend

#3529 Fix Ruff PTH123: `open()` should be replaced by `Path.open()`
  backend/infrahub/api/internal.py
  backend/tests/scale/common/events.py
  backend/tests/unit/api/test_60_storage.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/git/test_git_repository.py
  pyproject.toml
  python_sdk/infrahub_sdk/playback.py
  python_sdk/infrahub_sdk/recorder.py
  python_sdk/pyproject.toml
  tasks/backend.py
  tasks/docs.py
  tasks/schema.py
  tasks/utils.py
Labels: group/backend, type/housekeeping, group/python-sdk

#3528 Fields description in question mark
  frontend/src/components/display/question-mark.tsx
  frontend/src/components/form/checkbox.tsx
  frontend/src/components/form/color-picker.tsx
  frontend/src/components/form/date-picker.tsx
  frontend/src/components/form/input.tsx
  frontend/src/components/form/select-2-step.tsx
  frontend/src/components/form/select.tsx
  frontend/src/components/form/switch.tsx
  frontend/src/components/form/textarea.tsx
  frontend/src/screens/edit-form-hook/dynamic-control-types.ts
  frontend/tests/integrations/screens/object-fields.cy.tsx
  frontend/tests/mocks/data/task_7.ts
Labels: type/bug, group/frontend

#3530 Fix some typing issues in the schema manager
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/core/schema_manager.py
Labels: group/backend, type/housekeeping

#3532 Activate ruff rules for bandit security checks
  pyproject.toml
  python_sdk/pyproject.toml
  sync/pyproject.toml
Labels: type/housekeeping, group/python-sdk, group/sync-engine

#3526 Add prefix length to IP prefix sorting properties
  backend/infrahub/core/attribute.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/schema/definitions/core.py
Labels: type/bug, group/backend

#3525 Remove *args from Query and subclasses
  backend/infrahub/core/account.py
  backend/infrahub/core/migrations/graph/m001_add_version_to_graph.py
  backend/infrahub/core/migrations/graph/m002_attribute_is_default.py
  backend/infrahub/core/migrations/graph/m003_relationship_parent_optional.py
  backend/infrahub/core/migrations/graph/m004_add_attr_documentation.py
  backend/infrahub/core/migrations/graph/m005_add_rel_read_only.py
  backend/infrahub/core/migrations/graph/m006_add_rel_on_delete.py
  backend/infrahub/core/migrations/graph/m007_add_rel_allow_override.py
  backend/infrahub/core/migrations/graph/m008_add_human_friendly_id.py
  backend/infrahub/core/migrations/schema/attribute_name_update.py
  backend/infrahub/core/migrations/schema/node_attribute_add.py
  backend/infrahub/core/migrations/schema/node_attribute_remove.py
  backend/infrahub/core/migrations/schema/node_kind_update.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/branch.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/query/standard_node.py
  backend/infrahub/core/query/task.py
  backend/infrahub/core/query/task_log.py
  backend/infrahub/core/validators/attribute/choices.py
  backend/infrahub/core/validators/attribute/enum.py
  backend/infrahub/core/validators/attribute/kind.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/optional.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/attribute/unique.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/relationship/count.py
  backend/infrahub/core/validators/relationship/optional.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/core/validators/shared.py
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend, type/housekeeping

#3537 Indicate that we aren't using md5 for security checks
  backend/infrahub/api/storage.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema_manager.py
  backend/infrahub/git/repository.py
  backend/infrahub/utils.py
  backend/tests/unit/api/test_60_storage.py
  pyproject.toml
  python_sdk/infrahub_sdk/utils.py
  python_sdk/pyproject.toml
Labels: group/backend, type/housekeeping, group/python-sdk

#3535 Replace Pydantic v1 with v2
  backend/infrahub/api/dependencies.py
  backend/infrahub/auth.py
  backend/tests/unit/core/test_branch_diff.py
Labels: group/backend, type/housekeeping

#3536 Fix Ruff PTH122: `os.path.splitext()` should be replaced
  backend/infrahub/git/repository.py
  pyproject.toml
  python_sdk/infrahub_sdk/_importer.py
  python_sdk/infrahub_sdk/ctl/check.py
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/pyproject.toml
Labels: group/backend, type/housekeeping, group/python-sdk

#3523 Validate attribute kind are the same when inheriting attributes
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/conftest.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: type/bug, group/backend

#3539 Migrate repository to pydantic v2
  backend/infrahub/git/repository.py
Labels: group/backend, type/housekeeping

#3543 Migrate diff api to pydantic v2
  backend/infrahub/api/diff/validation_models.py
  backend/tests/unit/api/diff/test_diff_query_validation.py
Labels: group/backend, type/housekeeping

#3546 Upgrade pydantic=2.7.2
  poetry.lock
  pyproject.toml
Labels: group/backend, type/housekeeping

#3548 Upgrade ruff=0.4.6
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  python_sdk/poetry.lock
  python_sdk/pyproject.toml
  sync/poetry.lock
  sync/pyproject.toml
Labels: type/housekeeping, group/python-sdk, group/sync-engine, group/ci

#3549 Migrate exception handler to pydantic v2
  backend/infrahub/api/exception_handlers.py
  backend/tests/unit/api/test_api_exception_handler.py
Labels: group/backend, type/housekeeping

#3544 Remove outdated development docs index page
  docs/docs/development/readme.mdx
  docs/sidebars.ts
Labels: type/documentation, type/housekeeping
