Repository opsmill/infrahub, pull requests merged in 2024-07, with the labels that each got.

#3724 add label for ProfileSchemas
  backend/infrahub/core/schema_manager.py
Labels: group/backend

#3720 set branch for Nodes returned by NodeListGetInfoQuery
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_manager_node.py
Labels: group/backend

#3732 Add tree navigation on hierarchical model
  frontend/app/src/components/ui/tree-sheleton.tsx
  frontend/app/src/components/ui/tree.tsx
  frontend/app/src/graphql/queries/objects/objectTreeQuery.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
  frontend/app/tests/e2e/objects/objects-paginated.spec.ts
Labels: type/feature, group/frontend

#3739 FIlters update removes pagination offset
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/frontend, type/housekeeping

#3667 Add model for number pool
  backend/infrahub/api/menu.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/registry.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/mutations/attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/pools/number.py
  backend/infrahub/utils.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/ticket.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend, type/housekeeping

#3735 Validate if an attribute `default_value` matches its kind
  backend/infrahub/core/attribute.py
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_node.py
Labels: type/bug, group/backend

#3306 Add Core to restricted namespaces
  backend/infrahub/core/constants/__init__.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
  python_sdk/tests/fixtures/models/valid_schemas/contract.yml
  python_sdk/tests/integration/conftest.py
  python_sdk/tests/integration/test_infrahub_client.py
  python_sdk/tests/integration/test_infrahub_client_sync.py
  python_sdk/tests/integration/test_node.py
Labels: group/backend, group/frontend, type/housekeeping, group/python-sdk

#3747 fix(ci): filter all suffixes for preview releases
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
Labels: ci/skip-changelog, group/ci

#3750 Minor cleanup to infrastructure_edge script
  models/__init__.py
  models/infrastructure_edge.py
  pyproject.toml
Labels: ci/skip-changelog

#3746 Fix support for list variables in GraphQL analyzer
  python_sdk/infrahub_sdk/analyzer.py
  python_sdk/tests/unit/sdk/test_query_analyzer.py
Labels: type/bug, group/python-sdk

#3751 Fix construct path for path that already contains qsp
  frontend/app/src/utils/fetch.ts
Labels: type/bug, group/frontend

#3749 Add number pool tests
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
Labels: group/backend, type/housekeeping

#3754 Readability updates for infrastructure_edge script
  models/infrastructure_edge.py
  pyproject.toml
Labels: ci/skip-changelog

#3756 infrastructure_edge: Convert dicts/tuples to objects
  models/infrastructure_edge.py
  pyproject.toml
Labels: ci/skip-changelog

#3757 infrastructure_edge: Convert device to object
  models/infrastructure_edge.py
Labels: ci/skip-changelog

#3759 Upgrade to Ruff 0.5.0
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/tests/integration/schema_lifecycle/test_schema_validator_rebase.py
  poetry.lock
  pyproject.toml
  python_sdk/poetry.lock
  python_sdk/pyproject.toml
  sync/poetry.lock
  sync/pyproject.toml
Labels: group/backend, type/housekeeping, group/python-sdk, group/sync-engine, group/ci

#3760 Updates the pools details query to verify if it needs to check the profiles or not
  frontend/app/src/screens/resource-manager/resource-pool-page.tsx
Labels: type/bug, group/frontend

#3763 Multiple fixes for hierarchical tree + empty / loading states in the app
  frontend/app/src/components/ui/tree.tsx
  frontend/app/src/decorators/withSchemaContext.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/screens/errors/no-data-found.tsx
  frontend/app/src/screens/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/screens/ipam/ipam-page.tsx
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefix-details.tsx
  frontend/app/src/screens/loading-screen/loading-screen.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/state/atoms/state.atom.ts
  frontend/app/tests/e2e/form/multi-select.spec.ts
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-groups.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-2_data-lineage-and-metadata.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
Labels: type/bug, group/frontend

#3755 Implement MAC address specific type
  backend/infrahub/core/attribute.py
  backend/infrahub/graphql/types/__init__.py
  backend/infrahub/graphql/types/attribute.py
  backend/infrahub/types.py
  backend/tests/unit/core/test_attribute.py
Labels: type/feature, group/backend

#3770 Raise the limit of labels from 32 to 64
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  docs/docs/reference/schema/generic.mdx
  docs/docs/reference/schema/node.mdx
Labels: type/documentation, group/backend, type/housekeeping

#3761 fix(config): change default value for db type
  backend/infrahub/config.py
Labels: group/backend, type/housekeeping

#3773 infrastructure_edge: Use RelationshipAdd where applicable
  models/infrastructure_edge.py
Labels: ci/skip-changelog

#3774 Generate CoreNumberPool protocol for SDK
  python_sdk/infrahub_sdk/protocols.py
Labels: type/housekeeping, group/python-sdk

#3752 fix(utilities): update requests lib to fix docker issue
  poetry.lock
  utilities/db_backup/__main__.py
Labels: ci/skip-changelog

#3753 fix(backend): various perf optimizations
  backend/infrahub/core/schema/attribute_schema.py
  python_sdk/infrahub_sdk/uuidt.py
Labels: group/backend, group/python-sdk, ci/skip-changelog

#3764 feat(backend, db): use metadata when executing query
  backend/infrahub/database/__init__.py
Labels: group/backend, type/housekeeping

#3778 infrastructure_edge: performance and readability cleanup
  models/infrastructure_edge.py
Labels: ci/skip-changelog

#3779 Set generate_profile to false for pools
  backend/infrahub/core/schema/definitions/core.py
Labels: type/bug, group/backend

#3780 Readability improvements for P2P links
  models/infrastructure_edge.py
Labels: ci/skip-changelog

#3783 optimized hierarchical tree fetching + several fixes
  frontend/app/src/graphql/queries/objects/objectTreeQuery.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/screens/ipam/constants.ts
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.state.ts
  frontend/app/src/screens/ipam/ipam-tree/utils.ts
  frontend/app/src/screens/object-item-details/relationships-details-paginated.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
Labels: group/frontend, ci/skip-changelog

#3772 Combobox badge for options
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-create-page.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_data.spec.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
Labels: type/feature, group/frontend

#3787 on IPAM prefix table, display column "member type" as Dropdown
  frontend/app/src/graphql/queries/ipam/prefixes.ts
  frontend/app/src/screens/ipam/prefixes/ipam-prefix-details.tsx
Labels: type/feature, group/frontend

#3789 Moved proposed change create page into /pages folder
  frontend/app/src/pages/proposed-changes/new.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-create-form.tsx
Labels: group/frontend, ci/skip-changelog

#3790 Fix value and filtering on combobox without badge
  frontend/app/src/components/ui/combobox.tsx
Labels: group/frontend, ci/skip-changelog

#3777 Update certifi=2024.7.4
  poetry.lock
  python_sdk/poetry.lock
  sync/poetry.lock
Labels: type/housekeeping, group/python-sdk, group/sync-engine

#3786 Create l2 interfaces in batch
  models/infrastructure_edge.py
  pyproject.toml
Labels: ci/skip-changelog

#3781 fix(utilities): update requests lib to fix docker issue
  poetry.lock
  utilities/db_backup/__main__.py
Labels: ci/skip-changelog

#3785 fix(core, db): avoid tracing warning log
  backend/infrahub/database/__init__.py
Labels: group/backend, ci/skip-changelog

#3795 Enables object creation when relationship peer is pointing to a generic
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/decorators/withSchemaContext.tsx
Labels: group/frontend, type/housekeeping

#3768 Add decorator to handle exceptions for commands
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/ctl/branch.py
  python_sdk/infrahub_sdk/ctl/check.py
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/infrahub_sdk/ctl/parameters.py
  python_sdk/infrahub_sdk/ctl/schema.py
  python_sdk/infrahub_sdk/ctl/utils.py
  python_sdk/infrahub_sdk/ctl/validate.py
  python_sdk/tests/unit/ctl/test_branch_app.py
  python_sdk/tests/unit/ctl/test_schema_app.py
  python_sdk/tests/unit/ctl/test_validate_app.py
  python_sdk/tests/unit/sdk/test_schema.py
Labels: type/bug, group/python-sdk, group/infrahubctl

#3796 Catch and report git authentication failures
  backend/infrahub/git/actions.py
  backend/infrahub/git/base.py
Labels: group/backend, type/housekeeping

#3797 fix: add an artifact to a group
  frontend/app/src/screens/groups/add-object-to-group.tsx
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: type/bug, group/frontend

#3798 Hide "Add artifact" button
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: type/bug, group/frontend

#3792 profiles relationship cleanup
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m011_remove_profile_relationship_schema.py
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend, ci/skip-changelog

#3799 Set version to 0.15.0
  docker-compose.yml
  pyproject.toml
Labels: ci/skip-changelog

#3803 Fix schema import from dir by git agent
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/git/test_git_repository.py
  pyproject.toml
Labels: type/bug, group/backend

#3805 Activate Ruff performance linting rules
  pyproject.toml
  python_sdk/pyproject.toml
  sync/pyproject.toml
Labels: type/housekeeping, group/python-sdk, group/sync-engine

#3804 Migrated Storybook to TS + update to latest version
  frontend/packages/ui/.eslintrc.cjs
  frontend/packages/ui/.gitignore
  frontend/packages/ui/.storybook/main.js
  frontend/packages/ui/.storybook/main.ts
  frontend/packages/ui/.storybook/preview.css
  frontend/packages/ui/.storybook/preview.ts
  frontend/packages/ui/LICENSE
  frontend/packages/ui/README.md
  frontend/packages/ui/index.html
  frontend/packages/ui/index.tsx
  frontend/packages/ui/package-lock.json
  frontend/packages/ui/package.json
  frontend/packages/ui/postcss.config.js
  frontend/packages/ui/public/vite.svg
  frontend/packages/ui/src/App.css
  frontend/packages/ui/src/App.jsx
  frontend/packages/ui/src/assets/font/OpenSans-Light-webfont.eot
  frontend/packages/ui/src/assets/font/OpenSans-Light-webfont.svg
  frontend/packages/ui/src/assets/font/OpenSans-Light-webfont.ttf
  frontend/packages/ui/src/assets/font/OpenSans-Light-webfont.woff
  frontend/packages/ui/src/assets/font/OpenSans-Regular-webfont.eot
  frontend/packages/ui/src/assets/font/OpenSans-Regular-webfont.svg
  frontend/packages/ui/src/assets/font/OpenSans-Regular-webfont.ttf
  frontend/packages/ui/src/assets/font/OpenSans-Regular-webfont.woff
  frontend/packages/ui/src/assets/icon/percolate.eot
  frontend/packages/ui/src/assets/icon/percolate.svg
  frontend/packages/ui/src/assets/icon/percolate.ttf
  frontend/packages/ui/src/assets/icon/percolate.woff
  frontend/packages/ui/src/assets/react.svg
  frontend/packages/ui/src/components/Badge/Badge.stories.tsx
  frontend/packages/ui/src/components/Badge/Badge.tsx
  frontend/packages/ui/src/components/Badge/index.tsx
  frontend/packages/ui/src/index.css
  frontend/packages/ui/src/main.jsx
  frontend/packages/ui/src/stories/Button.jsx
  frontend/packages/ui/src/stories/Button.stories.js
  frontend/packages/ui/src/stories/Header.jsx
  frontend/packages/ui/src/stories/Header.stories.js
  frontend/packages/ui/src/stories/Page.jsx
  frontend/packages/ui/src/stories/Page.stories.js
  frontend/packages/ui/src/stories/button.css
  frontend/packages/ui/src/stories/header.css
  frontend/packages/ui/src/stories/page.css
  frontend/packages/ui/src/utils/cn.ts
  frontend/packages/ui/src/vite-env.d.ts
  frontend/packages/ui/tailwind.config.js
  frontend/packages/ui/tsconfig.json
  frontend/packages/ui/vite.config.js
  frontend/packages/ui/vite.config.ts
  frontend/packages/ui/yarn.lock
Labels: type/feature, group/frontend

#3810 Update Storybook to 8.2.1 + fix app building
  frontend/packages/ui/.storybook/preview.ts
  frontend/packages/ui/index.ts
  frontend/packages/ui/package-lock.json
  frontend/packages/ui/package.json
  frontend/packages/ui/src/components/Badge/Badge.stories.tsx
  frontend/packages/ui/src/components/Badge/Badge.tsx
  frontend/packages/ui/src/components/Badge/index.ts
  frontend/packages/ui/src/stories/Configure.mdx
  frontend/packages/ui/src/tsconfig.node.json
  frontend/packages/ui/tsconfig.app.json
  frontend/packages/ui/tsconfig.json
  frontend/packages/ui/tsconfig.node.json
  frontend/packages/ui/vite.config.ts
Labels: group/frontend, ci/skip-changelog

#3809 Add action to re-import a repository using the latest commit
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/graphql/types/common.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/git_repository_importobjects.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/tests/unit/graphql/mutations/test_repository.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, type/feature, group/backend

#3811 Upgrade GitPython=3.1.43
  poetry.lock
  python_sdk/poetry.lock
Labels: type/housekeeping, group/python-sdk

#3814 Security update for zipp dependency
  poetry.lock
  python_sdk/poetry.lock
Labels: type/housekeeping, group/python-sdk

#3817 chore(ci): add preview label
  .github/labels.yml
Labels: ci/skip-changelog, group/ci

#3819 fix(ci): use pr head commit instead of last merge commit
  .github/workflows/publish-dev-docker-image.yml
Labels: ci/skip-changelog, group/ci

#3813 Set "get:schema/" API endpoint as deprecated
  backend/infrahub/api/schema.py
Labels: type/bug, group/backend

#3818 Add Mutation to validate connectivity / credentials against Git repos
  backend/infrahub/git/base.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/git_repository_connectivity.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/repository.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, type/feature, group/backend

#3823 Split apart SDK mypy ignore rules into separate files
  python_sdk/pyproject.toml
Labels: type/housekeeping, group/python-sdk

#3822 Add test for repository connectivity action
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
Labels: group/backend, type/housekeeping

#3826 Fix typehints on CTL branch
  python_sdk/infrahub_sdk/ctl/branch.py
  python_sdk/pyproject.toml
Labels: type/housekeeping, group/python-sdk

#3827 infrastructure_edge: Move L3 interface names to Device object
  models/infrastructure_edge.py
Labels: type/housekeeping

#3828 Fix typing for ctl client
  python_sdk/infrahub_sdk/ctl/client.py
  python_sdk/pyproject.toml
Labels: type/housekeeping, group/python-sdk

#3835 Update Python SDK version to 0.12.0
  poetry.lock
  python_sdk/pyproject.toml
Labels: group/python-sdk

#3834 Sync back stable into develop
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m011_remove_profile_relationship_schema.py
  backend/infrahub/core/schema_manager.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/git/test_git_repository.py
  docker-compose.yml
  docs/docs/media/release_notes/infrahub_0_15_0/generic_relationship_select.png
  docs/docs/media/release_notes/infrahub_0_15_0/hierarchical_view.png
  docs/docs/release-notes/release-0_15.mdx
  poetry.lock
  pyproject.toml
  python_sdk/pyproject.toml
Labels: type/documentation, group/backend, group/python-sdk, ci/skip-changelog

#3836 Update version number to latest dev release and reorganize release notes folder in docs
  docs/docs/release-notes/infrahub/release-0_10.mdx
  docs/docs/release-notes/infrahub/release-0_11.mdx
  docs/docs/release-notes/infrahub/release-0_12.mdx
  docs/docs/release-notes/infrahub/release-0_13.mdx
  docs/docs/release-notes/infrahub/release-0_14.mdx
  docs/docs/release-notes/infrahub/release-0_15.mdx
  docs/docs/release-notes/infrahub/release-0_16-DRAFT.mdx
  docs/docs/release-notes/infrahub/release-0_6.mdx
  docs/docs/release-notes/infrahub/release-0_7.mdx
  docs/docs/release-notes/infrahub/release-0_8.mdx
  docs/docs/release-notes/infrahub/release-0_9.mdx
  docs/docs/release-notes/python-sdk/release-0_13-DRAFT.mdx
  docs/sidebars.ts
  poetry.lock
  pyproject.toml
  python_sdk/pyproject.toml
Labels: type/documentation, group/python-sdk

#3815 Added groups manager view
  frontend/app/src/components/display/slide-over.tsx
  frontend/app/src/components/layouts/item-group.tsx
  frontend/app/src/components/menu/object-help-button.tsx
  frontend/app/src/components/modals/modal-delete.tsx
  frontend/app/src/components/ui/search-input.tsx
  frontend/app/src/graphql/mutations/relationships/addRelationship.ts
  frontend/app/src/graphql/mutations/relationships/removeRelationship.ts
  frontend/app/src/graphql/queries/groups/getGroups.ts
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/errors/no-data-found.tsx
  frontend/app/src/screens/groups/add-group-form.tsx
  frontend/app/src/screens/groups/add-group-trigger-button.tsx
  frontend/app/src/screens/groups/add-object-to-group.tsx
  frontend/app/src/screens/groups/groups-manager-trigger-button.tsx
  frontend/app/src/screens/groups/groups-manager.tsx
  frontend/app/src/screens/groups/object-groups-list.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationships-details-paginated.tsx
  frontend/app/src/utils/common.ts
  frontend/app/src/utils/objects.ts
  frontend/app/src/utils/string.tsx
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/objects/object-groups.spec.ts
Labels: type/feature, group/frontend, cd/preview

#3838 Fix disabling fields when it is protected and owned by another user
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/utils/formStructureForCreateEdit.ts
  frontend/app/tests/unit/utils/getFormFieldsFromSchema.test.ts
Labels: type/bug, group/frontend

#3840 Merge stable into develop
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/utils/formStructureForCreateEdit.ts
  frontend/app/tests/unit/utils/getFormFieldsFromSchema.test.ts
Labels: group/frontend, ci/skip-changelog

#3808 Multiple profiles for object form
  docs/docs/release-notes/infrahub/release-0_16-DRAFT.mdx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/utils/getMutationDetailsFromFormData.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-groups.spec.ts
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/unit/utils/getObjectDefaultValue.test.ts
Labels: type/documentation, type/feature, group/frontend

#3844 IFC-111 set repository display label correctly in proposed change diff
  backend/infrahub/api/diff/diff.py
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/model.py
  backend/infrahub/core/manager.py
Labels: group/backend, type/task

#3852 Removed old form code
  frontend/app/src/components/filters.tsx
  frontend/app/src/components/form/checkbox.tsx
  frontend/app/src/components/form/code-editor.tsx
  frontend/app/src/components/form/color-picker.tsx
  frontend/app/src/components/form/date-picker.tsx
  frontend/app/src/components/form/fields/common.tsx
  frontend/app/src/components/form/input.tsx
  frontend/app/src/components/form/list.tsx
  frontend/app/src/components/form/select-2-step.tsx
  frontend/app/src/components/form/select.tsx
  frontend/app/src/components/form/switch.tsx
  frontend/app/src/components/form/textarea.tsx
  frontend/app/src/components/inputs/date-picker.tsx
  frontend/app/src/components/inputs/switch.tsx
  frontend/app/src/components/inputs/textarea-with-editor.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/hooks/usePrevious.ts
  frontend/app/src/screens/diff/diff.tsx
  frontend/app/src/screens/edit-form-hook/dynamic-control.tsx
  frontend/app/src/screens/edit-form-hook/form.tsx
  frontend/app/src/utils/objects.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#3280 New diff query and parser
  backend/infrahub/api/diff/diff.py
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/exceptions.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/diff/model/__init__.py
  backend/infrahub/core/diff/model/diff.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/payload_builder.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/validators/determiner.py
  backend/infrahub/graphql/queries/diff/diff.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/core/diff/__init__.py
  backend/tests/unit/core/diff/test_diff_init.py
  backend/tests/unit/core/diff/test_diff_payload.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  python_sdk/infrahub_sdk/timestamp.py
Labels: group/backend, type/housekeeping, group/python-sdk

#3675 Update docker-compose CICD with invoke commands
  .github/workflows/update-compose-file.yml
  backend/infrahub/config.py
  docker-compose.yml
  tasks/dev.py
Labels: group/backend, group/ci

#3845 ifc-73 update profile schema label to be more human friendly
  backend/infrahub/core/schema_manager.py
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/backend, group/frontend, type/task

#3848 Upgrade setuptools to fix vulnerability
  poetry.lock
  python_sdk/poetry.lock
Labels: group/backend, type/housekeeping, group/python-sdk

#3854 Improved typing, testing and file structure under getFormFieldsFromSchema + fixed filters on a profiles generic
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/profiles-selector.tsx
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/components/form/utils/isFieldDisabled.ts
  frontend/app/src/screens/edit-form-hook/dynamic-control-types.ts
  frontend/app/src/utils/common.ts
  frontend/app/src/utils/formStructureForCreateEdit.ts
  frontend/app/src/utils/getObjectItemDisplayValue.tsx
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/tests/unit/isFieldDisabled.test.ts
  frontend/app/tests/unit/utils/getFieldDefaultValue.test.ts
  frontend/app/tests/unit/utils/getFormFieldsFromSchema.test.ts
  frontend/app/tests/unit/utils/getFormStructure.test.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#3784 Always run tests in the `tests` directory of repos
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/pytest_plugin.py
Labels: type/bug, group/backend

#3856 Add missing overview docs pages
  docs/docs/media/overview-data.excalidraw.svg
  docs/docs/media/overview-interfaces.excalidraw.svg
  docs/docs/media/overview-schema.excalidraw.svg
  docs/docs/media/overview-transformations.excalidraw.svg
  docs/docs/media/overview-versioning.excalidraw.svg
  docs/docs/media/overview.excalidraw.svg
  docs/docs/overview/data.mdx
  docs/docs/overview/generators.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/overview/readme.mdx
  docs/docs/overview/schema.mdx
  docs/docs/overview/transformations.mdx
  docs/docs/overview/versioning.mdx
  docs/docs/topics/transformation.mdx
  docs/sidebars.ts
Labels: type/documentation

#3843 Multiple profiles for object form (cherry pick from develop)
  docs/docs/release-notes/release-0_15.1_DRAFT.mdx
  frontend/app/src/Root.tsx
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/buttons/clipboard.tsx
  frontend/app/src/components/conversations/thread.tsx
  frontend/app/src/components/editor/code-editor.tsx
  frontend/app/src/components/file.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/components/list.tsx
  frontend/app/src/components/ui/alert.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/decorators/withSchemaContext.tsx
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/screens/artifacts/generate.tsx
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/diff/artifact-diff/artifact-content-diff.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/screens/diff/checks/checks-summary.tsx
  frontend/app/src/screens/diff/checks/conflict.tsx
  frontend/app/src/screens/diff/data-diff.tsx
  frontend/app/src/screens/diff/diff-comments.tsx
  frontend/app/src/screens/diff/file-diff/file-content-diff.tsx
  frontend/app/src/screens/diff/schema-diff.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefix-details.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-list.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationships-details-paginated.tsx
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/screens/object-item-meta-edit/object-item-meta-edit.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-create-form.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-item.tsx
  frontend/app/src/screens/user-profile/tab-preferences.tsx
  frontend/app/src/utils/getMutationDetailsFromFormData.ts
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-groups.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_data.spec.ts
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/unit/utils/getObjectDefaultValue.test.ts
Labels: type/documentation, type/feature, group/frontend

#3850 Hides parent field if not available in generic relationship select
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: type/feature, group/frontend

#3861 Hides parent field if not available in generic relationship select
  docs/docs/release-notes/release-0_15.1_DRAFT.mdx
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: type/documentation, type/feature, group/frontend

#3837 Generic selector fixes to correctly reset values when changing kind or object
  docs/docs/release-notes/release-0_15.1_DRAFT.mdx
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/inputs/select.tsx
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
Labels: type/bug, type/documentation, group/frontend

#3864 Properly remove typer cli and update documentation
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
  poetry.lock
  pyproject.toml
  python_sdk/poetry.lock
  python_sdk/pyproject.toml
Labels: type/documentation, group/python-sdk

#3863 Merge branch 'stable' into develop
  .github/workflows/update-compose-file.yml
  backend/infrahub/config.py
  docker-compose.yml
  docs/docs/media/overview-data.excalidraw.svg
  docs/docs/media/overview-interfaces.excalidraw.svg
  docs/docs/media/overview-schema.excalidraw.svg
  docs/docs/media/overview-transformations.excalidraw.svg
  docs/docs/media/overview-versioning.excalidraw.svg
  docs/docs/media/overview.excalidraw.svg
  docs/docs/overview/data.mdx
  docs/docs/overview/generators.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/overview/readme.mdx
  docs/docs/overview/schema.mdx
  docs/docs/overview/transformations.mdx
  docs/docs/overview/versioning.mdx
  docs/docs/release-notes/release-0_15.1_DRAFT.mdx
  docs/docs/topics/transformation.mdx
  docs/sidebars.ts
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/hooks/usePrevious.ts
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  tasks/dev.py
Labels: type/documentation, group/backend, group/frontend, ci/skip-changelog, group/ci

#3867 feat(infrahubctl): add repository add command
  .github/workflows/ci.yml
  helm/Chart.yaml
  helm/templates/infrahub-demo-data-job.yaml
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/infrahub_sdk/ctl/repository.py
  tasks/dev.py
Labels: type/housekeeping, group/python-sdk, group/infrahubctl, group/ci

#3870 Add option to fetch peers nodes in query_peers
  backend/infrahub/core/manager.py
  backend/infrahub/graphql/resolver.py
Labels: type/bug, group/backend

#3841 Replace deprecated API call "get:schema/" from SDK
  backend/tests/unit/conftest.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  python_sdk/infrahub_sdk/schema.py
  python_sdk/tests/unit/sdk/conftest.py
Labels: group/backend, group/python-sdk

#3881 Improve Python Protocols
  backend/infrahub/core/attribute.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/protocols_base.py
  backend/infrahub/database/__init__.py
  backend/templates/generate_protocols.j2
  python_sdk/infrahub_sdk/protocols.py
  tasks/backend.py
Labels: group/backend, group/python-sdk

#3887 Center branch loader when accessing the app
  frontend/app/src/screens/layout/layout.tsx
Labels: group/frontend, type/housekeeping

#3883 feat(infrahubctl): add repository add command
  .github/workflows/ci.yml
  helm/Chart.yaml
  helm/templates/infrahub-demo-data-job.yaml
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/infrahub_sdk/ctl/repository.py
  tasks/dev.py
Labels: group/python-sdk, ci/skip-changelog, group/ci

#3885 Activate poetry env to make sure pydantic-settings is present
  .github/workflows/update-compose-file.yml
Labels: ci/skip-changelog, group/ci

#3872 IPAM tree total count for each nodes
  frontend/app/src/components/ui/tree-sheleton.tsx
  frontend/app/src/graphql/queries/ipam/prefixes.ts
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/screens/ipam/ipam-tree/utils.ts
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
Labels: type/feature, group/frontend

#3896 Udpate Infrahub version to 0.15.1 and Python SDK to 0.12.1
  helm/Chart.yaml
  poetry.lock
  pyproject.toml
  python_sdk/pyproject.toml
Labels: group/python-sdk

#3879 Add new labels to classify issues better
  .github/labels.yml
Labels: group/ci

#3902 update docker-compose version to 0.15.1
  docker-compose.yml
Labels: ci/skip-changelog

#3903 Add documentation for `infrahubctl repository` command
  docs/docs/infrahubctl/infrahubctl-repository.mdx
Labels: type/documentation

#3906 Fix a missing dependency in storybook + upgraded it to latest version (8.2.5)
  frontend/packages/ui/package-lock.json
  frontend/packages/ui/package.json
Labels: group/frontend, ci/skip-changelog

#3912 Fix return code when trying to use a restricted namespace
  backend/infrahub/api/schema.py
  backend/tests/unit/api/test_40_schema_api.py
Labels: type/bug, group/backend, group/schema

#3911 Fix OpenAPI documentation of schema load endpoint
  backend/infrahub/api/schema.py
Labels: type/bug, group/backend

#3907 fix flakiness to profiles e2e test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend, ci/skip-changelog

#3910 Add new attribute `group_type` to CoreGroup
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/message_bus/operations/requests/graphql_query_group.py
  backend/tests/unit/graphql/test_manager.py
  python_sdk/infrahub_sdk/protocols.py
Labels: group/backend, group/python-sdk

#3862 IFC-42 example new diff query
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/schema.py
  backend/tests/unit/graphql/test_graphql_query.py
Labels: group/backend, type/housekeeping

#3897 IFC-151 run artifact refresh after generators in PC pipeline
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/base_with_diff.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_dataintegrity.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_refreshartifacts.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_repositorychecks.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_rungenerators.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_runtests.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_schemaintegrity.py
  backend/infrahub/message_bus/messages/request_proposedchange_dataintegrity.py
  backend/infrahub/message_bus/messages/request_proposedchange_repositorychecks.py
  backend/infrahub/message_bus/messages/request_proposedchange_rungenerators.py
  backend/infrahub/message_bus/messages/request_proposedchange_runtests.py
  backend/infrahub/message_bus/messages/request_proposedchange_schemaintegrity.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/bug, type/documentation, group/backend

#3913 Fix error rendering in infrahubctl schema load
  backend/tests/helpers/cli.py
  python_sdk/infrahub_sdk/ctl/schema.py
  python_sdk/tests/fixtures/models/non_valid_namespace.json
  python_sdk/tests/unit/ctl/test_branch_app.py
  python_sdk/tests/unit/ctl/test_schema_app.py
  python_sdk/tests/unit/sdk/test_schema.py
Labels: type/bug, group/backend, group/python-sdk

#3807 IFC-29 Convert account node to use a generic
  backend/infrahub/api/menu.py
  backend/infrahub/auth.py
  backend/infrahub/core/account.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/registry.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/core/task/user_task.py
  backend/infrahub/graphql/auth/query_permission_checker/read_only_checker.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/graphql/schema.py
  backend/tests/unit/api/test_auth.py
  backend/tests/unit/api/test_auth_cookies.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_core_account_self_update.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  docs/docs/guides/managing-api-tokens.mdx
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/mutations/accounts/createAccountToken.ts
  frontend/app/src/graphql/mutations/accounts/updateAccountPassword.ts
  frontend/app/src/graphql/queries/accounts/getAllAccounts.ts
  frontend/app/src/graphql/queries/accounts/getTokens.ts
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/pages/proposed-changes/proposed-changes-items.tsx
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/src/screens/user-profile/token-schema.ts
  frontend/app/src/screens/user-profile/user-profile.tsx
  frontend/app/tests/fixtures/account-token-update-date.json
  frontend/app/tests/fixtures/menu.json
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/mocks/data/account-profile.ts
  frontend/app/tests/mocks/data/account.ts
  frontend/app/tests/mocks/data/conversations.ts
  models/infrastructure_edge.py
  python_sdk/examples/node_create_inline.py
  python_sdk/infrahub_sdk/protocols.py
  python_sdk/tests/integration/conftest.py
  python_sdk/tests/integration/test_infrahub_client.py
  python_sdk/tests/integration/test_infrahub_client_sync.py
  python_sdk/tests/integration/test_node.py
Labels: type/documentation, type/feature, group/backend, group/frontend, group/python-sdk

#3918 Indicate on each form field the source of the value
  frontend/app/src/components/form/fields/checkbox.field.tsx
  frontend/app/src/components/form/fields/color.field.tsx
  frontend/app/src/components/form/fields/common.tsx
  frontend/app/src/components/form/fields/datetime.field.tsx
  frontend/app/src/components/form/fields/dropdown.field.tsx
  frontend/app/src/components/form/fields/enum.field.tsx
  frontend/app/src/components/form/fields/input.field.tsx
  frontend/app/src/components/form/fields/json.field.tsx
  frontend/app/src/components/form/fields/list.field.tsx
  frontend/app/src/components/form/fields/password-input.field.tsx
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/src/components/form/utils/updateFormFieldValue.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/components/ui/badge.tsx
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/src/utils/objects.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/unit/components/form/utils/getCreateMutationFromFormData.test.ts
  frontend/app/tests/unit/components/form/utils/getFieldDefaultValue.test.ts
  frontend/app/tests/unit/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/tests/unit/components/form/utils/getUpdateMutationFromFormData.test.ts
Labels: type/feature, group/frontend, cd/preview

#3917 [FIX] branch details page open correctly when branchname contains "/"
  frontend/app/src/pages/branches/branch-details.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/screens/diff/data-diff-element.tsx
  frontend/app/src/screens/diff/data-diff-node.tsx
  frontend/app/src/screens/diff/data-diff-peer.tsx
  frontend/app/src/screens/diff/data-diff-property.tsx
  frontend/app/src/screens/diff/data-diff.tsx
  frontend/app/src/screens/diff/file-diff/files-diff.tsx
  frontend/app/src/screens/diff/schema-diff.tsx
Labels: type/bug, group/frontend, cd/preview

#3950 Add update mutation for generic
  backend/infrahub/graphql/manager.py
  backend/tests/unit/graphql/mutations/test_update_generic.py
Labels: type/feature, group/backend

#3949 Fix infrahuctl config parsing from file
  python_sdk/infrahub_sdk/ctl/config.py
Labels: type/bug, group/python-sdk

#3958 Fix dot on tree being hidden when there is a very long text + css improvement on tree
  frontend/app/src/components/ui/tree-sheleton.tsx
  frontend/app/src/components/ui/tree.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
Labels: type/bug, group/frontend

#3964 [FIX] button covering graphql query view
  frontend/app/src/screens/graphql/details/graphql-query-viewer-card.tsx
Labels: type/bug, group/frontend

#3957 Add protocols for attributes for Python SDK and split Sync and Async
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/message_bus/messages/schema_validator_path.py
  backend/infrahub/message_bus/operations/requests/generator.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/templates/generate_protocols_sdk.j2
  pyproject.toml
  python_sdk/infrahub_sdk/protocols.py
  python_sdk/infrahub_sdk/protocols_base.py
  tasks/backend.py
Labels: type/feature, group/backend, group/python-sdk

#3945 Move Credential for Git repository into new CorePasswordCredential model
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/git_credential/askpass.py
  backend/infrahub/git_credential/helper.py
  backend/tests/fixtures/schemas/core_schema_01.json
  backend/tests/unit/git_credential/conftest.py
  backend/tests/unit/git_credential/test_git_askpass.py
  backend/tests/unit/git_credential/test_git_helper.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  python_sdk/infrahub_sdk/ctl/repository.py
  python_sdk/infrahub_sdk/protocols.py
Labels: type/feature, group/backend, group/python-sdk

#3948 Add field `status` to CoreGenericRepository
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/git/actions.py
  backend/infrahub/git_report.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/services/__init__.py
  backend/tests/unit/git/test_git_rpc.py
  python_sdk/infrahub_sdk/protocols.py
Labels: group/backend, group/python-sdk

#3966 Allow using HFID when creating new nodes
  backend/infrahub/core/attribute.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/manager.py
  python_sdk/infrahub_sdk/node.py
Labels: type/feature, group/backend, group/python-sdk

#3973 Merge stable into develop
  .github/workflows/update-compose-file.yml
  backend/infrahub/api/schema.py
  backend/infrahub/core/manager.py
  backend/infrahub/graphql/resolver.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/__init__.py
  backend/infrahub/message_bus/messages/proposed_change/base_with_diff.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_dataintegrity.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_refreshartifacts.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_repositorychecks.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_rungenerators.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_runtests.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_schemaintegrity.py
  backend/infrahub/message_bus/messages/request_proposedchange_dataintegrity.py
  backend/infrahub/message_bus/messages/request_proposedchange_repositorychecks.py
  backend/infrahub/message_bus/messages/request_proposedchange_rungenerators.py
  backend/infrahub/message_bus/messages/request_proposedchange_runtests.py
  backend/infrahub/message_bus/messages/request_proposedchange_schemaintegrity.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/tests/helpers/cli.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/api/test_40_schema_api.py
  docker-compose.yml
  docs/docs/guides/installation.mdx
  docs/docs/reference/message-bus-events.mdx
  frontend/app/src/components/ui/tree-sheleton.tsx
  frontend/app/src/components/ui/tree.tsx
  frontend/app/src/pages/branches/branch-details.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/screens/diff/data-diff-element.tsx
  frontend/app/src/screens/diff/data-diff-node.tsx
  frontend/app/src/screens/diff/data-diff-peer.tsx
  frontend/app/src/screens/diff/data-diff-property.tsx
  frontend/app/src/screens/diff/data-diff.tsx
  frontend/app/src/screens/diff/file-diff/files-diff.tsx
  frontend/app/src/screens/diff/schema-diff.tsx
  frontend/app/src/screens/graphql/details/graphql-query-viewer-card.tsx
  frontend/app/src/screens/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  helm/Chart.yaml
  python_sdk/infrahub_sdk/ctl/config.py
  python_sdk/infrahub_sdk/ctl/schema.py
  python_sdk/tests/fixtures/models/non_valid_namespace.json
  python_sdk/tests/unit/ctl/test_branch_app.py
  python_sdk/tests/unit/ctl/test_schema_app.py
  python_sdk/tests/unit/sdk/test_schema.py
Labels: type/documentation, group/backend, group/frontend, group/python-sdk, ci/skip-changelog, group/ci

#3972 Validate HFID/uniqueness constraint format
  backend/infrahub/core/schema_manager.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
  backend/tests/integration/sdk/test_node_create_constraint.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/graphql/test_mutation_update.py
  docs/docs/topics/schema.mdx
Labels: type/bug, type/documentation, group/backend, type/user-centric

#3971 IFC-135 diff summary update
  backend/infrahub/graphql/queries/__init__.py
  backend/infrahub/graphql/queries/diff/diff.py
  backend/infrahub/graphql/queries/diff/old.py
  backend/infrahub/graphql/schema.py
  backend/tests/unit/graphql/test_graphql_query.py
Labels: type/bug, group/backend

#3974 [FIX] Regression on proposed changes form (create and update)
  frontend/app/src/components/form/type.ts
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-create-form.tsx
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: type/bug, group/frontend, ci/skip-changelog
