Repository opsmill/infrahub, pull requests merged in 2024-10, with the labels that each got.

#4506 Avoid shadowing 'at' in get_branch_oarams
  backend/infrahub/api/dependencies.py
Labels: group/backend, ci/skip-changelog

#4510 Remove imports from graphql.mutation and use direct path
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/types.py
Labels: group/backend

#4512 release v0.16.2
  CHANGELOG.md
  changelog/4323.fixed.md
  changelog/4438.fixed.md
  changelog/4454.fixed.md
  changelog/4460.fixed.md
  docs/docs/release-notes/infrahub/release-0_16_2.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#4513 Merging `stable` down to `develop` post v0.16.2
  .github/workflows/update-compose-file-and-chart.yml
  CHANGELOG.md
  changelog/4323.fixed.md
  changelog/4438.fixed.md
  changelog/4454.fixed.md
  changelog/4460.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-0_16_2.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  helm/templates/_env.tpl
Labels: type/documentation, group/ci

#4500 Add permission checks for /api/graphql
  backend/infrahub/api/query.py
  backend/tests/unit/api/test_05_query_api.py
Labels: group/backend, ci/skip-changelog

#4478 Add READ and DELETE views for permissions
  backend/infrahub/api/menu.py
  frontend/app/.eslintignore
  frontend/app/.prettierignore
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/display/avatar.tsx
  frontend/app/src/components/display/color-display.tsx
  frontend/app/src/components/display/pill.tsx
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/components/table/table.tsx
  frontend/app/src/components/tabs-routes.tsx
  frontend/app/src/components/tabs.tsx
  frontend/app/src/components/ui/badge-copy.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/graphql/queries/role-management/getCounts.ts
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/pages/role-management/index.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/form/proposed-change-edit-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/group-member.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/index.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/src/screens/user-profile/user-profile.tsx
  frontend/app/tests/e2e/role-management/read.spec.ts
  frontend/app/tests/fixtures/config.json
Labels: type/feature, group/backend, group/frontend

#4508 New layout for Infrahub UI - Part 1 - Initial structure
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/branch-selector.tsx
  frontend/app/src/components/menu/object-help-button.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/time-selector.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/command.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/components/ui/popover.tsx
  frontend/app/src/config/config.ts
  frontend/app/src/graphql/queries/branches/getBranches.ts
  frontend/app/src/images/infrahub-logo.svg
  frontend/app/src/pages/homepage.tsx
  frontend/app/src/screens/layout/app-version.tsx
  frontend/app/src/screens/layout/footer.tsx
  frontend/app/src/screens/layout/header.tsx
  frontend/app/src/screens/layout/layout.tsx
  frontend/app/src/screens/layout/sidebar.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu-header.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu-item.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu.tsx
  frontend/app/src/screens/layout/sidebar/index.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/repository/repository-action-menu.tsx
  frontend/app/src/screens/user-profile/user-profile.tsx
  frontend/app/tests/e2e/auth.setup.ts
  frontend/app/tests/e2e/branches.spec.ts
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
  frontend/app/tests/e2e/menu.spec.ts
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-list-search.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
  frontend/app/tests/e2e/profile/tokens.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/search.spec.ts
  frontend/app/tests/e2e/signin.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/utils.ts
Labels: type/feature, group/frontend

#4401 Migration of schema migrations and validations to prefect
  .gitignore
  backend/infrahub/api/schema.py
  backend/infrahub/cli/db.py
  backend/infrahub/core/migrations/schema/models.py
  backend/infrahub/core/migrations/schema/runner.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/schema_manager.py
  backend/infrahub/core/validators/models/__init__.py
  backend/infrahub/core/validators/models/validate_migration.py
  backend/infrahub/core/validators/models/violation.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/message_bus/messages/schema_migration_path.py
  backend/infrahub/message_bus/messages/schema_validator_path.py
  backend/infrahub/message_bus/operations/schema/migration.py
  backend/infrahub/message_bus/operations/schema/validator.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/api/test_20_graphql_api.py
  backend/tests/unit/api/test_40_schema_api.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#4518 Add `invoke pull` command to pull latest changes from git
  tasks/__init__.py
Labels: group/frontend, type/housekeeping

#4520 Add simple test to validate each workflow
  backend/tests/unit/workflows/__init__.py
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend, ci/skip-changelog

#4374 Parametrize demo edge script
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
  models/infrastructure_edge.py
Labels: type/feature, group/frontend

#4528 Fix custom provider and swap out json -> data in payload
  backend/infrahub/api/oauth2.py
  backend/infrahub/config.py
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
Labels: group/backend, type/housekeeping

#4527 Switch font to Inter
  frontend/app/index.html
  frontend/app/src/styles/index.css
Labels: type/feature, group/frontend

#4443 IFC-671 Lock branch and proposed change merge with global permissions
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/permissions/local_backend.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: type/feature, group/backend

#4529 Fix imports after non rebased merge
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
Labels: group/backend, ci/skip-changelog

#4526 Add support for custom CA bundles to http.adapter
  backend/infrahub/config.py
  backend/infrahub/services/adapters/http/httpx.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#4524 chore: dynamic port pipeline
  .github/workflows/ci.yml
  .github/workflows/scale-tests.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci

#4535 [FIX] Allows SSO login buttons to redirect outside of current domain
  backend/infrahub/config.py
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
Labels: group/backend, group/frontend, ci/skip-changelog, cd/preview

#4521 Added breadcrumb based on current route
  frontend/app/src/components/ui/breadcrumb.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-navigation.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-link.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-loading.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/style.ts
  frontend/app/src/screens/layout/breadcrumb-navigation/type.ts
  frontend/app/src/screens/layout/content.tsx
  frontend/app/src/screens/layout/header.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/utils/objects.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/prefix-summary.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: type/feature, group/frontend

#4536 chore: fix pipeline docker image
  .github/workflows/ci-docker-image.yml
  .github/workflows/publish-dev-docker-image.yml
Labels: group/ci, cd/preview

#4515 Cleanup tests dependencies
  backend/tests/conftest.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  backend/tests/integration/transform/test_transform_jinja2.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/api/test_05_query_api.py
  backend/tests/unit/api/test_10_transformation_api.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/api/test_12_file.py
  backend/tests/unit/api/test_40_schema_api.py
  backend/tests/unit/api/test_60_storage.py
  backend/tests/unit/graphql/test_app.py
  backend/tests/unit/services/adapters/redis/test_redis.py
Labels: group/backend, type/housekeeping

#4532 fix diff calculation bug around deleted edges
  backend/infrahub/core/branch.py
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/relationship.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

#4543 Add missing special method return types (for ANN204)
  backend/infrahub/core/manager.py
  backend/infrahub/core/validators/attribute/unique.py
  backend/infrahub/core/validators/determiner.py
  backend/infrahub/core/validators/node/generate_profile.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/relationship/count.py
  backend/infrahub/core/validators/relationship/optional.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/core/validators/shared.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/core/validators/uniqueness/index.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/index.py
  backend/infrahub/database/manager.py
  backend/infrahub/database/memgraph.py
  backend/infrahub/database/neo4j.py
  backend/infrahub/exceptions.py
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/auth/query_permission_checker/anonymous_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/checker.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/node_getter/by_default_filter.py
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/infrahub/graphql/mutations/node_getter/by_id.py
  backend/infrahub/lock.py
  backend/infrahub/middleware.py
  backend/infrahub/pools/prefix.py
  backend/infrahub/serve/log.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/message_bus/local.py
  backend/infrahub/test_data/shared.py
Labels: group/backend, ci/skip-changelog

#4542 Replace ternary `if` expression with `or` operator (ruff: FURB110)
  backend/infrahub/core/ipam/utilization.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4533 Merge infrahub-git agent and task runner into task-worker
  .devcontainer/updateContentCommand.sh
  .github/workflows/ci.yml
  .github/workflows/scale-tests.yml
  .github/workflows/version-upgrade.yml
  backend/infrahub/workers/infrahub_async.py
  backend/tests/scale/common/config.py
  changelog/1075.fixed.md
  development/Dockerfile
  development/docker-compose-database-memgraph.yml
  development/docker-compose-database-neo4j.yml
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  development/docker-compose-test-scale.yml
  development/docker-compose.default.yml
  development/docker-compose.dev-override.yml.tmp
  development/docker-compose.local-build.yml
  development/docker-compose.override.yml.tmp
  development/docker-compose.yml
  development/infrahub.toml
  development/prometheus/config.yml
  development/vmagent.yml
  docs/docs/reference/configuration.mdx
  tasks/container_ops.py
  tasks/demo.py
  tasks/dev.py
  tasks/infra_ops.py
  tasks/shared.py
Labels: type/documentation, group/backend, group/ci

#4537 Add guides for OAuth2 and OICD
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  backend/infrahub/config.py
  docs/docs/guides/sso.mdx
  docs/sidebars.ts
Labels: type/documentation, group/backend, type/housekeeping

#4548 Move account resolver from schema.py to resolver.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/schema.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4544 IFC-751 save diff in smaller pieces to prevent OOM
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
  changelog/4511.fixed.md
Labels: group/backend

#4547 merge stable to develop
  backend/infrahub/core/branch.py
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/relationship.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_repository.py
  changelog/4511.fixed.md
Labels: group/backend

#4552 fix(ci): update infrahub address after restarting
  .github/workflows/ci.yml
Labels: ci/skip-changelog

#4534 IFC-668 Add manage account related objects permission
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/super_admin_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: type/feature, group/backend

#4539 All Account button, beside icon, is a link to login page
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/screens/layout/app-version.tsx
  frontend/app/tests/e2e/signin.spec.ts
Labels: group/frontend, ci/skip-changelog, cd/preview

#4541 Removed unused dependencies + fixed flaky e2e tests
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#4559 Fix test_schema_integrity graphql mock endpoint
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

#4505 add new WIP `DiffMerger` class
  backend/infrahub/core/diff/merger/__init__.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

#4561 allow to customize infrahub docker image source
  docker-compose.yml
Labels: ci/skip-changelog

#4549 Convert all operations to prefect flows
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/event/node.py
  backend/infrahub/message_bus/operations/event/schema.py
  backend/infrahub/message_bus/operations/event/worker.py
  backend/infrahub/message_bus/operations/finalize/validator.py
  backend/infrahub/message_bus/operations/git/branch.py
  backend/infrahub/message_bus/operations/git/diff.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/message_bus/operations/refresh/webhook.py
  backend/infrahub/message_bus/operations/requests/artifact.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/diff.py
  backend/infrahub/message_bus/operations/requests/generator.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/message_bus/operations/requests/git.py
  backend/infrahub/message_bus/operations/requests/graphql_query_group.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/message_bus/operations/schema/migration.py
  backend/infrahub/message_bus/operations/schema/validator.py
  backend/infrahub/message_bus/operations/send/echo.py
  backend/infrahub/message_bus/operations/send/telemetry.py
  backend/infrahub/message_bus/operations/send/webhook.py
  backend/infrahub/message_bus/operations/transform/jinja.py
  backend/infrahub/message_bus/operations/transform/python.py
  backend/infrahub/message_bus/operations/trigger/artifact_definition.py
  backend/infrahub/message_bus/operations/trigger/generator_definition.py
  backend/infrahub/message_bus/operations/trigger/ipam.py
  backend/infrahub/message_bus/operations/trigger/proposed_change.py
  backend/infrahub/message_bus/operations/trigger/webhook.py
  backend/tests/adapters/message_bus.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  backend/tests/unit/message_bus/test_mappings.py
Labels: group/backend

#4550 Various enhancements around Prefect
  backend/infrahub/cli/__init__.py
  backend/infrahub/cli/tasks.py
  backend/infrahub/config.py
  backend/infrahub/graphql/app.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/services/component.py
  backend/infrahub/tasks/dummy.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/conftest.py
  backend/tests/integration/services/adapters/workflow/__init__.py
  backend/tests/integration/services/adapters/workflow/conftest.py
  backend/tests/integration/services/adapters/workflow/test_prefect.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  development/docker-compose.local-build.yml
  development/docker-compose.yml
  docker-compose.yml
  helm/values.yaml
Labels: group/backend

#4553 IFC-669 Add permission management global permission
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: type/feature, group/backend

#4557 Implement redirection to initial URL after SSO login
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  backend/infrahub/models.py
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
Labels: type/feature, group/backend, group/frontend

#4572 [FRONT] Handle error response on authorization code validation
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/pages/sign-in.tsx
Labels: group/frontend, ci/skip-changelog, cd/preview

#4562 IFC-672 Add global permission to protect repositories against changes
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: type/feature, group/backend

#4575 fixed link + added icons in new menu
  backend/infrahub/menu/menu.py
  backend/tests/unit/graphql/mutations/test_menu.py
Labels: group/backend, ci/skip-changelog

#4574 Add SSO through OAuth & OIDC
  changelog/1568.added.md
Labels: ci/skip-changelog

#4569 Trigger backend tests on updated SDK commits
  .github/file-filters.yml
Labels: ci/skip-changelog, group/ci

#4577 Specify stable branch for demo install
  docs/docs/guides/installation.mdx
Labels: type/documentation

#4560 IFC-670 Add global permission to protect schema against changes
  backend/infrahub/api/schema.py
  backend/infrahub/core/constants/__init__.py
  backend/tests/unit/api/test_40_schema_api.py
Labels: type/feature, group/backend

#4566 update WIP diff merge query to handle relationships and attributes
  backend/infrahub/core/diff/merger/model.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

#4581 migration to delete all diffs b/c some could be incorrect
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m016_diff_delete_bug_fix.py
Labels: group/backend

#4580 Added new menu section for internal menu item
  frontend/app/src/components/ui/divider.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/config/config.ts
  frontend/app/src/infraops.d.ts
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/screens/layout/menu-navigation/types.ts
  frontend/app/src/screens/layout/sidebar.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu.tsx
  frontend/app/tests/fixtures/menu-old.json
  frontend/app/tests/fixtures/menu.json
  frontend/app/tests/integrations/screens/app-init.cy.tsx
Labels: type/feature, group/frontend

#4584 Restrict size of common string attribute kinds
  backend/infrahub/core/attribute.py
  backend/infrahub/types.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_attribute.py
  changelog/4432.fixed.md
Labels: group/backend

#4578 Remove deprecated get:schema/ endpoint
  backend/infrahub/api/schema.py
  changelog/3884.removed.md
Labels: group/backend

#4563 support deletes in AccountPermissionQuery
  backend/infrahub/core/account.py
  backend/tests/unit/graphql/test_core_account.py
Labels: group/backend

#4585 support properties on attributes in the new merge
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/model.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

#4504 Instantiate DB queries benchmarking framework
  backend/infrahub/core/query/__init__.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/analyzer.py
  backend/infrahub/database/constants.py
  backend/infrahub/test_data/gen_connected_nodes.py
  backend/infrahub/test_data/gen_isolated_node.py
  backend/infrahub/test_data/gen_node_profile_node.py
  backend/infrahub/test_data/shared.py
  backend/tests/benchmark/test_graphql_query.py
  backend/tests/conftest.py
  backend/tests/helpers/constants.py
  backend/tests/helpers/query_benchmark/__init__.py
  backend/tests/helpers/query_benchmark/car_person_generators.py
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/helpers/utils.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/query_benchmark/__init__.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_manager_query.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/query_benchmark/utils.py
  backend/tests/test_data/__init__.py
  backend/tests/test_data/dataset01.py
  backend/tests/test_data/dataset03.py
  backend/tests/test_data/dataset04.py
  backend/tests/unit/conftest.py
  pyproject.toml
  utilities/db_query_benchmark.py
Labels: group/backend

#4592 Fix report with just a super admin permission
  backend/infrahub/permissions/report.py
Labels: type/bug, group/backend

#4597 Refactor global permission query to handle deletion
  backend/infrahub/core/account.py
Labels: type/bug, group/backend

#4596 Added object section on sidebar menu
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/components/ui/accordion.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/screens/layout/menu-navigation/components/object-avatar.tsx
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/screens/layout/menu-navigation/styles.tsx
  frontend/app/src/screens/layout/sidebar.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu-header.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu-item.tsx
  frontend/app/src/screens/layout/sidebar/desktop-menu.tsx
  frontend/app/src/state/atoms/schema.atom.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/schema.spec.ts
  frontend/app/tests/e2e/search.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
  frontend/app/tests/fixtures/menu-old.json
  frontend/app/tests/integrations/screens/app-init.cy.tsx
Labels: type/feature, group/frontend

#4558 Add update forms for role management
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/table/table.tsx
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
Labels: type/feature, group/frontend

#4600 v0.16.3 Release
  CHANGELOG.md
  changelog/+sdk-batch-docs.fixed.md
  changelog/4511.fixed.md
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#4602 stable->develop mergeback
  CHANGELOG.md
  changelog/+sdk-batch-docs.fixed.md
  changelog/4511.fixed.md
  docs/docs/release-notes/infrahub/release-0_16_3.mdx
  docs/sidebars.ts
Labels: type/documentation

#4607 Object permissions delete fix
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: type/bug, group/frontend

#4604 Correct typing on GraphQL attributes
  backend/infrahub/core/registry.py
  backend/infrahub/graphql/mutations/attribute.py
  pyproject.toml
Labels: group/backend

#4610 Redesign login page + hide login form when SSO is enabled
  frontend/app/cypress/support/e2e.ts
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/config/config.ts
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/pages/login.tsx
  frontend/app/src/pages/sign-in.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/authentification/login-sso-buttons.tsx
  frontend/app/src/screens/authentification/login.tsx
  frontend/app/src/screens/authentification/sign-in.tsx
  frontend/app/tailwind.config.js
  frontend/app/tests/e2e/auth.setup.ts
  frontend/app/tests/e2e/login.spec.ts
  frontend/app/tests/e2e/profile/profile.spec.ts
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  frontend/app/tests/unit/components/form/utils/getFormFieldsFromSchema.test.ts
Labels: type/feature, group/frontend

#4608 Remove stable parameter from installation guide
  docs/docs/guides/installation.mdx
Labels: type/documentation

#4615 Global permission custom form
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
Labels: type/feature, group/frontend

#4605 Exclude npm and docusaurus directories from docker
  .dockerignore
  changelog/+docs-docker.fixed.md
Labels: type/bug

#4621 [FIX] Added missing context on relationship add mutation
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
Labels: type/bug, group/frontend

#4618 On account settings, renamed tab "Preferences" into "Password"
  frontend/app/src/pages/profile.tsx
  frontend/app/src/screens/user-profile/tab-update-password.tsx
  frontend/app/src/screens/user-profile/user-profile.tsx
Labels: type/feature, group/frontend

#4586 Add integration tests for Prefect worker
  backend/infrahub/api/schema.py
  backend/infrahub/api/transformation.py
  backend/infrahub/cli/db.py
  backend/infrahub/cli/tasks.py
  backend/infrahub/message_bus/operations/refresh/webhook.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/tasks/dummy.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/helpers/test_worker.py
  backend/tests/integration/services/adapters/workflow/conftest.py
  backend/tests/integration/services/adapters/workflow/test_prefect.py
  backend/tests/integration/services/adapters/workflow/test_setup.py
  backend/tests/integration/services/adapters/workflow/test_workflow_execution.py
  backend/tests/integration/workers/__init__.py
  backend/tests/integration/workers/test_infrahubasync.py
Labels: group/backend, type/housekeeping

#4614 Sidebar is collapsible
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/ui/dropdown-menu.tsx
  frontend/app/src/components/ui/scroll-area.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/config/localStorage.ts
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/hooks/useLocalStorage.ts
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/src/screens/layout/menu-navigation/components/collapsed-button.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/screens/layout/menu-navigation/components/object-avatar.tsx
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/screens/layout/sidebar.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/integrations/screens/artifact-diff.cy.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
Labels: type/feature, group/frontend

#4612 Changes the Python SDK connection timeout to 60s
  changelog/+sdk-timeout.fixed.md
  development/docker-compose.yml
  docker-compose.yml
  helm/values.yaml
Labels: type/housekeeping

#4624 Enable E2E auth setup to work when SSO is enabled
  frontend/app/tests/e2e/auth.setup.ts
Labels: group/frontend, ci/skip-changelog

#4626 New Layout: Wrap banch related pages in a card
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/style.ts
  frontend/app/src/screens/layout/content.tsx
Labels: type/feature, group/frontend

#4627 chore: add pipeline test invoke demo
  .github/workflows/ci.yml
Labels: group/ci

#4620 Remove husky pre commit hook
  .dockerignore
  .github/workflows/ci.yml
  .husky/.gitignore
  .husky/pre-commit
  frontend/app/package-lock.json
  frontend/app/package.json
  package-lock.json
  package.json
Labels: group/frontend, type/housekeeping, group/ci

#4632 Retry all button for checks is bigger
  changelog/4315.fixed.md
  frontend/app/src/screens/diff/checks/checks-summary.tsx
Labels: type/bug, group/frontend

#4634 Added link to our Discord server in the account menu
  changelog/+discord-link.added.md
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/config/config.ts
Labels: type/feature, group/frontend

#4601 IFC-761 Use flags to handle branch permissions
  backend/infrahub/api/schema.py
  backend/infrahub/core/account.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/enums.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/super_admin_checker.py
  backend/infrahub/graphql/enums.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/types/attribute.py
  backend/infrahub/graphql/types/permission.py
  backend/infrahub/permissions/backend.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/infrahub/permissions/types.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_enums.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/permissions/test_backends.py
Labels: type/feature, group/backend

#4628 Add support for context to InfrahubDatabase
  backend/infrahub/database/__init__.py
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_manager_query.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/query_benchmark/utils.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#4633 Disable approve/merge/close buttons for merged Proposed Changes
  changelog/3495.fixed.md
  frontend/app/src/screens/proposed-changes/action-button/pc-approve-button.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: type/bug, group/frontend

#4635 IFC-779 Restore original enum handling and fix tests
  backend/infrahub/core/enums.py
  backend/infrahub/graphql/enums.py
  backend/tests/unit/core/test_enums.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: type/bug, group/backend

#4629 Fix Python SDK store guide
  docs/docs/python-sdk/guides/store.mdx
Labels: type/documentation, ci/skip-changelog

#4637 fixes python sdk store guide
  docs/docs/python-sdk/guides/store.mdx
Labels: type/documentation, ci/skip-changelog

#4642 Update permissions decisions for global and object permissions
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
Labels: group/frontend, type/housekeeping

#4640 Convert Ipam reconciliation task to prefect
  backend/infrahub/core/ipam/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/trigger_ipam_reconciliation.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/trigger/__init__.py
  backend/infrahub/message_bus/operations/trigger/ipam.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/adapters/message_bus.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4641 Convert git related tasks (sync, create branch) to prefect
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_git_createbranch.py
  backend/infrahub/message_bus/messages/request_git_sync.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/git.py
  backend/infrahub/services/scheduler.py
  backend/infrahub/tasks/recurring.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4651 [FIX] Added context on relationship add mutation (#4621)
  changelog/4598.fixed.md
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
Labels: type/bug, group/frontend

#4646 Create default roles and cleanups
  backend/infrahub/auth.py
  backend/infrahub/core/initialization.py
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/backend, group/frontend

#4653 release v0.16.4
  CHANGELOG.md
  changelog/4598.fixed.md
  docs/docs/release-notes/infrahub/release-0_16_4.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#4654 Create permissions and menu items if none previously existed
  backend/infrahub/cli/db.py
Labels: group/backend

#4656 Enable noUnusedImports rule in Biome
  frontend/app/biome.json
  frontend/app/src/components/branch-selector.tsx
  frontend/app/src/components/conversations/add-comment.tsx
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/components/filters/filter-kind-selector.tsx
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/components/form/branch-create-form.tsx
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/common.tsx
  frontend/app/src/components/form/fields/enum.field.tsx
  frontend/app/src/components/form/fields/number.field.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-dynamic-element.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-loading.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-approve-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-close-button.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-edit-trigger.tsx
  frontend/app/src/screens/repository/repository-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/tests/integrations/lib/badge.cy.tsx
  frontend/app/tests/integrations/lib/button.cy.tsx
  frontend/app/tests/integrations/lib/pill.cy.tsx
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  frontend/app/tests/integrations/screens/conversations.cy.tsx
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#4606 Use object permissions in object details and object items
  frontend/app/src/components/branch-selector.tsx
  frontend/app/src/components/form/generic-object-form.tsx
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/components/time-selector.tsx
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/graphql/queries/objects/getObjectItems.ts
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/hooks/useSchema.ts
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/errors/unauthorized-screen.tsx
  frontend/app/src/screens/groups/groups-manager-trigger-button.tsx
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/permission/queries/getObjectPermissions.ts
  frontend/app/src/screens/permission/types.ts
  frontend/app/src/screens/permission/utils.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/permissions/accounts-object.spec.ts
  frontend/app/tests/e2e/permissions/role-management.spec.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/graphqlQueries.ts
  frontend/app/tests/mocks/data/permissions.ts
  frontend/app/tests/mocks/data/task.ts
  frontend/app/tests/mocks/data/task_1.ts
  frontend/app/tests/mocks/data/task_2.ts
  frontend/app/tests/mocks/data/task_3.ts
  frontend/app/tests/mocks/data/task_4.ts
  frontend/app/tests/mocks/data/task_5.ts
  frontend/app/tests/mocks/data/task_6.ts
  frontend/app/tests/mocks/data/task_7.ts
Labels: type/feature, group/frontend, cd/preview

#4657 enable noUndeclaredDependencies in Biome
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/pages/graphql/index.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#4638 Add reo.dev analytics to documentation
  changelog/+reo_dot_dev.added.md
  docs/docusaurus.config.ts
  docs/static/js/custom-reo.js
Labels: type/documentation

#4645 Improve benchmarks of NodeUniqueAttributeConstraintQuery
  backend/infrahub/core/validators/uniqueness/model.py
  backend/tests/conftest.py
  backend/tests/helpers/constants.py
  backend/tests/helpers/query_benchmark/car_person_generators.py
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/helpers/utils.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_manager_query.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/query_benchmark/utils.py
Labels: group/backend

#4660 bring reo.dev into stable docs
  docs/docusaurus.config.ts
  docs/static/js/custom-reo.js
Labels: type/documentation

#4652 Convert Transform tasks to prefect
  backend/infrahub/api/transformation.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/transform_python_data.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/transform/__init__.py
  backend/infrahub/message_bus/operations/transform/jinja.py
  backend/infrahub/message_bus/operations/transform/python.py
  backend/infrahub/transformations/__init__.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/__init__.py
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/person_with_cars_transform.py
  backend/tests/integration/conftest.py
  backend/tests/integration/transform/test_transform.py
  backend/tests/unit/api/test_10_transformation_api.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/message_bus/operations/transform/test_python.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4669 Add menu to admin section of the menu and Disable profiles for menu items
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/menu/menu.py
Labels: group/backend

#4668 Update graphene, gunicorn and uvicorn to latest version
  poetry.lock
  pyproject.toml
Labels: type/housekeeping

#4661 Fix metric missing the query name in Prometheus data
  backend/infrahub/core/node/standard.py
  backend/infrahub/core/query/standard_node.py
  changelog/+metric-none.fixed.md
Labels: group/backend

#4670 Ensure the HFID of a related node is properly returned via GraphQL
  backend/infrahub/core/manager.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/4482.fixed.md
Labels: type/bug, group/backend

#4674 Fix conflicting permissions resolver.
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolver.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

#4671 Refactor QueryAnalyzer to GraphProfileGenerator for query benchmarks
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
Labels: group/backend

#4675 Permissions form fixes
  changelog/+permissions.added.md
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/roles.tsx
Labels: group/frontend, type/housekeeping

#4666 New Layout: wrapped all pages main content in a card + display hierarchy in breadcrumb
  frontend/app/src/components/editor/code-editor.tsx
  frontend/app/src/components/table/table.tsx
  frontend/app/src/components/tabs.tsx
  frontend/app/src/components/ui/card.tsx
  frontend/app/src/components/ui/scroll-area.tsx
  frontend/app/src/graphql/queries/proposed-changes/getProposedChanges.ts
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/login.tsx
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/pages/role-management/index.tsx
  frontend/app/src/pages/schema.tsx
  frontend/app/src/pages/tasks/index.tsx
  frontend/app/src/pages/tasks/task-details.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/diff/checks/checks.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/graphql/details/graphql-query-details-card.tsx
  frontend/app/src/screens/graphql/details/graphql-query-viewer-card.tsx
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/breadcrumb-navigation.tsx
  frontend/app/src/screens/layout/breadcrumb-navigation/items/breadcrumb-schema-selector.tsx
  frontend/app/src/screens/layout/content.tsx
  frontend/app/src/screens/layout/layout.tsx
  frontend/app/src/screens/object-item-details/object-attribute-row.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-cell.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/proposed-changes/conversations.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/resource-manager/resource-selector.tsx
  frontend/app/src/screens/tasks/task-items.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/src/screens/user-profile/tab-tokens.tsx
  frontend/app/src/screens/user-profile/user-profile.tsx
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/profile/tokens.spec.ts
Labels: type/feature, group/frontend

#4679 Create all allowed global permissions by default
  backend/infrahub/core/initialization.py
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: type/feature, group/backend, group/frontend

#4680 Fixed validation for regex list type attributes
  backend/infrahub/core/attribute.py
  backend/tests/integration/sdk/test_node_create_constraint.py
  backend/tests/unit/core/test_attribute.py
  changelog/3929.fixed.md
Labels: type/bug, group/backend

#4681 Remove unused task GitBranchCreate
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/git_branch_create.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/git/__init__.py
  backend/infrahub/message_bus/operations/git/branch.py
  backend/tests/unit/message_bus/operations/git/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4609 Update resource manager documentation
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

#4686 Fix Ruff UP007 for tests and utils
  backend/tests/helpers/graphql.py
  backend/tests/integration/ipam/test_ipam_utilization.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  backend/tests/unit/git/test_git_rpc.py
  pyproject.toml
  tasks/container_ops.py
  tasks/dev.py
Labels: group/backend

#4687 Add / correct typehints to query.attribute
  backend/infrahub/core/query/attribute.py
  pyproject.toml
Labels: group/backend

#4676 Fix number pool allocation report for deleted nodes
  backend/infrahub/core/query/resource_manager.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
Labels: type/bug, group/backend

#4683 Permissions updates - IFC-788 / IFC-794 / IFC-798 / IFC-799 / IFC-800 / IFC-805 / IFC-806 / IFC-807 / IFC-809
  frontend/app/src/components/display/slide-over.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/graphql/queries/objects/dropdownOptions.ts
  frontend/app/src/graphql/queries/objects/getObjectDisplayLabel.ts
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/constants.ts
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend, type/housekeeping

#4693 fix(ci): run CI for release branches
  .github/workflows/ci.yml
Labels: group/ci

#4684 Fix service fixture initialization for test_merged
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

#4690 Return friendly error for invalid uniqueness_constraint
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/__init__.py
  backend/tests/unit/core/schema/schema_branch/__init__.py
  backend/tests/unit/core/schema/schema_branch/test_schema_uniqueness_constraints.py
  changelog/4677.fixed.md
Labels: type/bug, group/backend

#4696 Add clear message if view is not authorized + refresh permissions on logout - IFC-797 / IFC-804
  frontend/app/src/components/display/accordion.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/screens/errors/unauthorized-screen.tsx
  frontend/app/src/screens/role-management/contants.ts
Labels: group/frontend, type/housekeeping

#4698 Added search on role management tables
  frontend/app/biome.json
  frontend/app/src/graphql/queries/role-management/getAccounts.ts
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getGroups.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/index.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/utils/common.ts
Labels: type/feature, group/frontend

#4685 Migrate TriggerArtifactDefinitionGenerate to prefect
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/trigger_artifact_definition_generate.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/trigger/__init__.py
  backend/infrahub/message_bus/operations/trigger/artifact_definition.py
  backend/infrahub/services/__init__.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/ipam/test_ipam_merge_reconcile.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4699 Migrate RequestArtifactGenerate to prefect
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/artifact.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/conftest.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4689 Convert branch rebase mutation to a workflow
  backend/infrahub/core/branch/__init__.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/ipam/tasks.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/message_bus/messages/event_branch_rebased.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/graphql/mutations/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4707 Disable test_create_proposed_change temporarily
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
Labels: group/backend

#4703 Fix Yoda condition rule for ruff
  backend/infrahub/graphql/manager.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/test_graphql_partial_match.py
  pyproject.toml
  tasks/shared.py
Labels: group/backend

#4708 Fixes for PEP 484 prohibits implicit `Optional`
  backend/infrahub/core/query/relationship.py
  backend/infrahub/trace.py
  pyproject.toml
Labels: group/backend

#4695 Cherry pick doc resource manager
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation

#4694 Add tags to deployment and run in Prefect
  backend/infrahub/api/schema.py
  backend/infrahub/cli/db.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/git/tasks.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/constants.py
  backend/infrahub/workflows/models.py
  backend/infrahub/workflows/utils.py
Labels: group/backend

#4704 Add final uuid to order_by clause
  backend/infrahub/core/query/node.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/widget.py
  backend/tests/unit/core/test_node_get_list_query.py
Labels: type/bug, group/backend

#4701 Properly delete inherited attribute and relationship on Node
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4301.fixed.md
Labels: type/bug, group/backend

#4697 Updates relationships display in role management - IFC-835
  frontend/app/src/components/display/avatar.tsx
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/graphql/queries/role-management/getObjectPermissions.ts
  frontend/app/src/graphql/queries/role-management/getRoles.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/group-member.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/relationship-display.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: type/feature, group/frontend

#4688 only add status=deleted edges if relationship crosses branches
  backend/infrahub/core/diff/branch_differ.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_payload.py
  backend/tests/unit/core/test_relationships_rebase.py
Labels: group/backend

#4718 Set namespace on node select for object permissions - IFC-802
  frontend/app/src/components/inputs/dropdown.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: group/frontend, type/housekeeping

#4721 Docs and screenshots updates for 1.0 architecture changes
  .devcontainer/welcome
  README.md
  docs/docs/faq/faq.mdx
  docs/docs/guides/artifact.mdx
  docs/docs/guides/installation.mdx
  docs/docs/media/group_tagconfig_grp_adding_members.png
  docs/docs/media/group_tagconfig_grp_new_grp.png
  docs/docs/media/infrahub-readme.gif
  docs/docs/media/infrahub-readme.png
  docs/docs/media/tutorial_1_branch_creation.png
  docs/docs/media/tutorial_1_branch_details.png
  docs/docs/media/tutorial_1_branch_diff.png
  docs/docs/media/tutorial_1_branch_list.png
  docs/docs/media/tutorial_1_organization_create.png
  docs/docs/media/tutorial_1_organization_details.png
  docs/docs/media/tutorial_1_organization_edit.png
  docs/docs/media/tutorial_1_organizations.png
  docs/docs/media/tutorial_2_historical.png
  docs/docs/media/tutorial_3_schema.png
  docs/docs/media/tutorial_4_metadata.png
  docs/docs/media/tutorial_4_metadata_edit.png
  docs/docs/media/tutorial_6_branch_creation.png
  docs/docs/overview/interfaces.mdx
  docs/docs/reference/configuration.mdx
  docs/docs/reference/git-agent.mdx
  docs/docs/topics/architecture.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/local-demo-environment.mdx
  docs/docs/topics/object-storage.mdx
  docs/docs/topics/repository.mdx
  docs/docs/topics/resources-testing-framework.mdx
  docs/docs/tutorials/getting-started/git-integration.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
  tasks/demo.py
  tasks/dev.py
Labels: type/documentation

#4712 TestInfrahubApp.client fixture set services.service.client
  backend/tests/helpers/test_app.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/ipam/test_ipam_merge_reconcile.py
  backend/tests/integration/ipam/test_proposed_change_reconcile.py
  backend/tests/integration/proposed_change/test_proposed_change_repository.py
Labels: group/backend

#4728 IFC-838 update merge logic to handle AttributeValues of unexpected type
  backend/infrahub/core/diff/query/merge.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

#4720 Migrate RequestGeneratorRun to prefect
  backend/infrahub/generators/__init__.py
  backend/infrahub/generators/models.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4725 Add JWT token authentication to SDK client guide
  docs/docs/python-sdk/guides/client.mdx
Labels: type/documentation, ci/skip-changelog

#4709 Add note about GraphQL schema endpoint
  docs/docs/topics/graphql.mdx
Labels: type/documentation

#4713 Migrate RequestArtifactDefinitionGenerate to prefect
  backend/infrahub/api/artifact.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_artifactdefinition_generate.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4705 Add description to permission schema
  backend/infrahub/api/schema.py
  backend/infrahub/core/account.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/merge_operation_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/super_admin_checker.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_super_admin_checker.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  backend/tests/unit/permissions/test_backends.py
  frontend/app/src/graphql/queries/role-management/getGlobalPermissions.ts
  frontend/app/src/screens/role-management/global-permissions-form.tsx
Labels: type/feature, group/backend, group/frontend

#4717 Override prefect logs
  backend/infrahub/log.py
Labels: group/backend

#4729 Convert branch merge mutation to a workflow
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/ipam/tasks.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/message_bus/messages/event_branch_merge.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4730 Finalize the migration of the telemetry task to prefect
  backend/infrahub/config.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/send_telemetry_push.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/send/__init__.py
  backend/infrahub/services/scheduler.py
  backend/infrahub/tasks/recurring.py
  backend/infrahub/tasks/telemetry.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4662 Add support for additional context to the metrics for query execution time
  backend/infrahub/core/protocols_base.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/constants.py
  backend/infrahub/database/metrics.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
Labels: group/backend

#4724 SSO Documentation - IFC-776
  docs/docs/guides/sso.mdx
  docs/docs/topics/auth.mdx
Labels: type/documentation, ci/skip-changelog

#4734 Migrate SendWebhook to prefect
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/send/__init__.py
  backend/infrahub/message_bus/operations/send/webhook.py
  backend/infrahub/message_bus/operations/trigger/webhook.py
  backend/infrahub/send/__init__.py
  backend/infrahub/send/models.py
  backend/infrahub/send/webhook.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4733 Migrate RequestDiffUpdate/RequestDiffRefresh to prefect
  backend/infrahub/core/diff/models.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#4732 Added button to filter auto generated groups is items view
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/graphql/queries/objects/objectTreeQuery.tsx
  frontend/app/src/screens/groups/groups-auto-generated-filter-button.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/hierarchical-tree.tsx
  frontend/app/src/screens/schema/utils.ts
  frontend/app/src/state/atoms/schema.atom.ts
Labels: type/feature, group/frontend

#4735 Run git sync every 1 minute
  backend/infrahub/config.py
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

#4736 Added resizable panel + use it on hierarchical view
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/ui/resizable.tsx
  frontend/app/src/pages/objects/layout.tsx
Labels: type/feature, group/frontend
