Repository opsmill/infrahub, pull requests merged in 2024-06, with the labels that each got.

#3556 Fixes to typehints on standard_node
  backend/infrahub/core/query/standard_node.py
Labels: group/backend, type/housekeeping

#3559 Fixes to typehints for GraphQL types
  backend/infrahub/core/registry.py
  backend/infrahub/types.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3564 Change linting order mypy <> pylint
  .github/workflows/ci.yml
  tasks/backend.py
  tasks/sdk.py
Labels: ci/skip-changelog, group/ci

#3554 Updates to type-hints on core.node
  backend/infrahub/core/node/__init__.py
Labels: group/backend, type/housekeeping

#3533 Add description to resource pool default_prefix_length attribute
  backend/infrahub/core/schema/definitions/core.py
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation, group/backend, type/housekeeping

#3566 Add db-retry decorator for IPAM mutations
  backend/infrahub/graphql/mutations/ipam.py
Labels: group/backend, type/housekeeping

#3568 Fix typing on infrahub.exceptions
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/node.py
  backend/infrahub/exceptions.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3567 Version 0.14.1
  docker-compose.yml
  pyproject.toml
Labels: ci/skip-changelog

#3569 Add db-retry decorator for IPAM mutations
  backend/infrahub/graphql/mutations/ipam.py
Labels: group/backend, type/housekeeping

#3574 Fix typehints in GraphQL app
  backend/infrahub/graphql/app.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3573 Upgrade Ruff version in pre-commit
  .pre-commit-config.yaml
Labels: ci/skip-changelog

#3570 Update oneliner docker-compose
  docker-compose.yml
Labels: group/backend, type/housekeeping, type/task

#3575 Fix select 2 step when It contains Profiles
  frontend/src/utils/getSchemaObjectColumns.ts
  frontend/tests/e2e/objects/artifact.spec.ts
Labels: type/bug, group/frontend

#3561 First try at generating protocols for core models
  backend/infrahub/api/file.py
  backend/infrahub/auth.py
  backend/infrahub/core/definitions.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/task/task.py
  backend/infrahub/core/task/user_task.py
  backend/infrahub/graphql/queries/account.py
  backend/templates/generate_protocols.j2
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/git/test_repository.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/core/test_protocols.py
  pyproject.toml
  tasks/backend.py
Labels: group/backend

#3540 fix(backend, api): include dropdown options in json schema
  backend/infrahub/api/schema.py
  backend/tests/unit/api/test_40_schema_api.py
Labels: group/backend, type/housekeeping

#3581 Replace pytest.state with proper classes
  backend/tests/integration/schema_lifecycle/test_migration_attribute_branch.py
  backend/tests/integration/schema_lifecycle/test_migration_relationship_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_branch.py
  backend/tests/integration/user_workflows/test_user_worflow.py
Labels: group/backend, type/housekeeping

#3552 Added new Form component + Combobox + use them on proposed change creation form
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/index.tsx
  frontend/src/components/inputs/select.tsx
  frontend/src/components/ui/combobox.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/search-input.tsx
  frontend/src/graphql/mutations/proposed-changes/createProposedChange.ts
  frontend/src/screens/proposed-changes/proposed-changes-create-page.tsx
  frontend/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/tests/e2e/proposed-changes/proposed-changes_data.spec.ts
  frontend/tests/utils.ts
Labels: type/feature, group/frontend, type/housekeeping

#3583 Remove conditional check if client exists
  backend/infrahub/git/repository.py
  backend/tests/helpers/test_client.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/conftest.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/git/test_git_read_only_repository.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/git/test_git_rpc.py
Labels: group/backend, type/housekeeping

#3463 add generate_profile flag to node schema
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m009_add_generate_profile_attr.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/node_schema.py
  backend/infrahub/core/schema_manager.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/aggregated_checker.py
  backend/infrahub/core/validators/node/generate_profile.py
  backend/infrahub/dependencies/builder/constraint/schema/aggregated.py
  backend/infrahub/dependencies/builder/constraint/schema/generate_profile.py
  backend/tests/integration/schema_lifecycle/shared.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_main.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/core/constraint_validators/test_node_generate_profiles_update.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  docs/docs/reference/schema/node.mdx
  docs/docs/reference/schema/validator-migration.mdx
  frontend/src/hooks/usePrevious.ts
  frontend/src/screens/edit-form-hook/form.tsx
  frontend/src/screens/object-item-create/object-item-create-paginated.tsx
  frontend/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/tests/integrations/screens/object-fields.cy.tsx
  frontend/tests/mocks/data/devices.ts
  frontend/tests/mocks/data/task_1.ts
  models/base/location.yml
  models/base/organization.yml
Labels: type/documentation, type/feature, group/backend, group/frontend

#3578 Merge stable into develop
  .vale/styles/spelling-exceptions.txt
  README.md
  backend/infrahub/core/attribute.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/schema/definitions/core.py
  docker-compose.yml
  docs/docs/development/readme.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/media/guides/resource-manager-create-device.png
  docs/docs/media/tutorial_1_branch_creation.png
  docs/docs/media/tutorial_1_branch_details.png
  docs/docs/media/tutorial_1_branch_diff.png
  docs/docs/media/tutorial_1_branch_list.png
  docs/docs/media/tutorial_1_organization_create.png
  docs/docs/media/tutorial_1_organization_details.png
  docs/docs/media/tutorial_1_organization_edit.png
  docs/docs/media/tutorial_1_organizations.png
  docs/docs/media/tutorial_2_historical.png
  docs/docs/media/tutorial_3_schema.png
  docs/docs/media/tutorial_4_metadata.png
  docs/docs/media/tutorial_4_metadata_edit.png
  docs/docs/media/tutorial_6_branch_creation.png
  docs/docs/media/tutorial_6_interface_update.png
  docs/docs/media/tutorial_resource_manager_add_device_form.png
  docs/docs/media/tutorial_resource_manager_loopbacks_pool.png
  docs/docs/python-sdk/guides/resource-manager.mdx
  docs/docs/topics/ipam.mdx
  docs/docs/topics/resource-manager.mdx
  docs/docs/topics/schema.mdx
  docs/docs/tutorials/getting-started/resource-manager.mdx
  docs/sidebars.ts
  frontend/playwright.config.ts
  frontend/src/components/display/question-mark.tsx
  frontend/src/components/form/checkbox.tsx
  frontend/src/components/form/color-picker.tsx
  frontend/src/components/form/date-picker.tsx
  frontend/src/components/form/input.tsx
  frontend/src/components/form/select-2-step.tsx
  frontend/src/components/form/select.tsx
  frontend/src/components/form/switch.tsx
  frontend/src/components/form/textarea.tsx
  frontend/src/screens/edit-form-hook/dynamic-control-types.ts
  frontend/src/screens/edit-form-hook/dynamic-control.tsx
  frontend/tests/e2e/objects/object-filters.spec.ts
  frontend/tests/integrations/screens/object-fields.cy.tsx
  frontend/tests/mocks/data/task_7.ts
  frontend/tests/utils.ts
  pyproject.toml
Labels: type/documentation, group/backend, group/frontend, ci/skip-changelog

#3593 fix(helm): use shorter ingress name
  helm/Chart.yaml
  helm/templates/infrahub-server-ingress.yaml
Labels: ci/skip-changelog

#3582 Use objectEditTigger instead of duplicating slideOver on new page
  frontend/src/components/form/object-edit-slide-over-trigger.tsx
  frontend/src/screens/graphql/details/graphql-query-details-card.tsx
  frontend/src/screens/groups/group-items.tsx
  frontend/src/screens/groups/group-relationship.tsx
  frontend/src/screens/groups/group-relationships.tsx
  frontend/src/screens/ipam/common/ip-details-card.tsx
  frontend/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/src/screens/resource-manager/resource-pool-page.tsx
  frontend/tests/e2e/ipam/ipam-crud.spec.ts
Labels: group/frontend, type/housekeeping

#3596 Update version in stable to 0.14.2-dev
  pyproject.toml
Labels: ci/skip-changelog

#3605 feat(helm): make dependencies optional
  helm/Chart.yaml
  helm/templates/cache.yaml
  helm/templates/database.yaml
  helm/templates/message-queue-configmap.yaml
  helm/templates/message-queue.yaml
  helm/values.yaml
Labels: ci/skip-changelog

#3604 Enable Ruff UP rules (with ignores)
  pyproject.toml
  python_sdk/pyproject.toml
  sync/infrahub-sync/infrahub_sync/adapters/nautobot.py
  sync/infrahub-sync/infrahub_sync/adapters/netbox.py
  sync/pyproject.toml
Labels: group/backend, type/housekeeping, group/python-sdk, group/sync-engine, ci/skip-changelog

#3560 BREAKING: Remove deprecated "at" for create, update delete for nodes
  python_sdk/infrahub_sdk/node.py
Labels: type/housekeeping, group/python-sdk

#3562 Mark InfrahubClient(/Sync).init as deprecated
  backend/infrahub/git_credential/askpass.py
  backend/infrahub/git_credential/helper.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/git/conftest.py
  docs/_templates/sdk_config.j2
  docs/docs/python-sdk/guides/batch.mdx
  docs/docs/python-sdk/guides/branches.mdx
  docs/docs/python-sdk/guides/client.mdx
  docs/docs/python-sdk/guides/object-storage.mdx
  docs/docs/python-sdk/guides/tracking.mdx
  docs/docs/python-sdk/reference/config.mdx
  python_sdk/examples/branch_create.py
  python_sdk/examples/branch_create_sync.py
  python_sdk/examples/branch_list.py
  python_sdk/examples/branch_list_sync.py
  python_sdk/examples/branch_merge.py
  python_sdk/examples/branch_merge_sync.py
  python_sdk/examples/branch_rebase.py
  python_sdk/examples/branch_rebase_sync.py
  python_sdk/examples/example_create_sync.py
  python_sdk/examples/example_delete.py
  python_sdk/examples/example_update.py
  python_sdk/examples/node_create_data.py
  python_sdk/examples/node_create_inline.py
  python_sdk/examples/query_all.py
  python_sdk/examples/query_filters.py
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/transforms.py
  python_sdk/tests/integration/test_infrahub_client.py
  python_sdk/tests/integration/test_infrahub_client_sync.py
  python_sdk/tests/integration/test_node.py
  python_sdk/tests/integration/test_schema.py
  python_sdk/tests/unit/sdk/checks/conftest.py
  python_sdk/tests/unit/sdk/conftest.py
  python_sdk/tests/unit/sdk/test_client.py
  python_sdk/tests/unit/sdk/test_schema.py
Labels: type/documentation, group/backend, type/housekeeping, group/python-sdk

#3588 Fix typehints on GraphQL API endpoint
  backend/infrahub/graphql/api/endpoints.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3589 Git Repository replace self.client -> self.sdk
  backend/infrahub/git/repository.py
Labels: group/backend, type/housekeeping

#3607 Add correct key, value types for registry.branch dict
  backend/infrahub/core/registry.py
Labels: group/backend, type/housekeeping

#3609 Temporary fix for runtime error
  backend/infrahub/core/initialization.py
Labels: type/bug, group/backend

#3610 Resolve relationship when computing HFID
  backend/infrahub/core/node/__init__.py
Labels: type/bug, group/backend

#3602 Allow use of `from_pool` for Relationship create mutation
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/types/attribute.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: type/bug, group/backend

#3612 Rewrite SDK client allocation functions
  python_sdk/infrahub_sdk/client.py
Labels: type/housekeeping, group/python-sdk

#3611 Typing cleanup for git.repository
  backend/infrahub/git/repository.py
Labels: group/backend, type/housekeeping

#3624 Fix ctl generator subcommand when targets exist in a branch
  python_sdk/infrahub_sdk/ctl/generator.py
Labels: type/bug, group/python-sdk

#3618 Minor cleanup to repository code
  backend/infrahub/git/repository.py
  backend/infrahub/webhook.py
Labels: group/backend, type/housekeeping

#3627 Fix GraphQL parameters for allocation mutations
  python_sdk/infrahub_sdk/client.py
Labels: type/bug, group/python-sdk

#3628 Move Worktree and directory functions to separate files
  backend/infrahub/git/__init__.py
  backend/infrahub/git/constants.py
  backend/infrahub/git/directory.py
  backend/infrahub/git/repository.py
  backend/infrahub/git/worktree.py
  backend/tests/unit/git/test_git_repository.py
Labels: group/backend, type/housekeeping

#3623 Fix resource manager sdk guide
  docs/docs/python-sdk/guides/resource-manager.mdx
Labels: type/documentation, ci/skip-changelog

#3632 fix npm audit
  frontend/package-lock.json
Labels: group/frontend, ci/skip-changelog

#3599 Adds pool selector in select 2 steps
  frontend/src/components/form/select-2-step.tsx
  frontend/src/screens/edit-form-hook/dynamic-control-types.ts
  frontend/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/tests/e2e/objects/object-relationships.spec.ts
Labels: type/feature, group/frontend

#3615 Adds backbone service model to demo schema
  models/base/service.yml
  models/infrastructure_edge.py
Labels: ci/skip-changelog, group/schema

#3631 Fix prefix length IP resource mutations
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
Labels: type/bug, group/backend

#3638 Backport resource manager mutations to stable
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  python_sdk/infrahub_sdk/client.py
Labels: group/backend, group/python-sdk

#3639 Empty option in select correctly sends null in the mutation
  frontend/src/components/inputs/select.tsx
  frontend/tests/e2e/objects/object-update.spec.ts
Labels: type/bug, group/frontend

#3633 Split repository base into two classes
  backend/infrahub/git/__init__.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/repository.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/requests/generator.py
  backend/tests/unit/git/test_git_repository.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3643 Merge stable to develop
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/types/attribute.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  docs/docs/python-sdk/guides/resource-manager.mdx
  frontend/src/components/form/select-2-step.tsx
  frontend/src/components/inputs/select.tsx
  frontend/src/screens/edit-form-hook/dynamic-control-types.ts
  frontend/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/tests/e2e/objects/object-relationships.spec.ts
  frontend/tests/e2e/objects/object-update.spec.ts
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/ctl/generator.py
Labels: ci/skip-changelog

#3644 Branch details updates
  frontend/src/components/buttons/tabs-buttons.tsx
  frontend/src/screens/branches/branch-item-details.tsx
  frontend/src/screens/diff/artifact-diff/artifact-repo-diff.tsx
  frontend/src/screens/diff/artifact-diff/artifacts-diff.tsx
Labels: type/bug, group/frontend

#3645 Prepare Python SDK 0.11.1 release
  poetry.lock
  python_sdk/pyproject.toml
Labels: group/python-sdk, ci/skip-changelog

#3651 Make node manager `find_object` behaviour consistent
  backend/infrahub/core/manager.py
  backend/tests/unit/core/test_manager_node.py
Labels: type/bug, group/backend

#3649 chore(helm): use upstream charts for dependencies
  helm/Chart.yaml
  helm/templates/cache.yaml
  helm/templates/database.yaml
  helm/templates/infrahub-demo-data-job.yaml
  helm/templates/infrahub-git.yaml
  helm/templates/infrahub-server-db-init-job.yaml
  helm/templates/infrahub-server.yaml
  helm/templates/message-queue.yaml
  helm/values.yaml
Labels: type/housekeeping

#3648 Ipfabric sync integration
  models/examples/ipfabric/ipfabric.yml
  poetry.lock
  sync/examples/ipfabric_to_infrahub/config.yml
  sync/examples/ipfabric_to_infrahub/infrahub/__init__.py
  sync/examples/ipfabric_to_infrahub/infrahub/sync_adapter.py
  sync/examples/ipfabric_to_infrahub/infrahub/sync_models.py
  sync/examples/ipfabric_to_infrahub/ipfabricsync/__init__.py
  sync/examples/ipfabric_to_infrahub/ipfabricsync/sync_adapter.py
  sync/examples/ipfabric_to_infrahub/ipfabricsync/sync_models.py
  sync/infrahub-sync/infrahub_sync/__init__.py
  sync/infrahub-sync/infrahub_sync/adapters/infrahub.py
  sync/infrahub-sync/infrahub_sync/adapters/ipfabricsync.py
  sync/infrahub-sync/infrahub_sync/adapters/nautobot.py
  sync/infrahub-sync/infrahub_sync/adapters/netbox.py
  sync/infrahub-sync/infrahub_sync/cli.py
  sync/poetry.lock
Labels: group/sync-engine, type/ecosystem

#3655 fix(helm): remove duplicate env variables
  helm/Chart.yaml
  helm/templates/_env.tpl
  helm/templates/infrahub-demo-data-job.yaml
  helm/templates/infrahub-git.yaml
  helm/templates/infrahub-server-db-init-job.yaml
  helm/templates/infrahub-server.yaml
Labels: type/housekeeping

#3622 Drop Pydantic v1 support in Python SDK
  .github/workflows/ci.yml
  docs/_templates/sdk_config.j2
  python_sdk/infrahub_sdk/analyzer.py
  python_sdk/infrahub_sdk/branch.py
  python_sdk/infrahub_sdk/checks.py
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/config.py
  python_sdk/infrahub_sdk/ctl/check.py
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/infrahub_sdk/ctl/config.py
  python_sdk/infrahub_sdk/ctl/generator.py
  python_sdk/infrahub_sdk/ctl/repository.py
  python_sdk/infrahub_sdk/ctl/schema.py
  python_sdk/infrahub_sdk/ctl/validate.py
  python_sdk/infrahub_sdk/data.py
  python_sdk/infrahub_sdk/playback.py
  python_sdk/infrahub_sdk/pytest_plugin/models.py
  python_sdk/infrahub_sdk/recorder.py
  python_sdk/infrahub_sdk/schema.py
  python_sdk/infrahub_sdk/yaml.py
  python_sdk/poetry.lock
  python_sdk/pyproject.toml
  python_sdk/tests/unit/sdk/test_config.py
  python_sdk/tests/unit/sdk/test_query_analyzer.py
  tasks/docs.py
  tasks/schema.py
Labels: type/housekeeping, group/python-sdk, group/ci

#3657 fix(helm): typo in db env var
  helm/Chart.yaml
  helm/templates/_env.tpl
Labels: ci/skip-changelog

#3656 Behaviour update for boolean attributes
  frontend/src/utils/formStructureForCreateEdit.ts
  frontend/src/utils/getSchemaObjectColumns.ts
  frontend/tests/integrations/screens/object-fields.cy.tsx
Labels: type/bug, group/frontend

#3662 feat(helm): add configurable tolerations
  helm/Chart.yaml
  helm/templates/infrahub-git.yaml
  helm/templates/infrahub-server.yaml
Labels: type/housekeeping, group/helm

#3665 Upgrade mypy=1.10.0
  poetry.lock
Labels: type/housekeeping

#3664 Add managing api tokens guide to the documentation
  docs/docs/guides/managing-api-tokens.mdx
  docs/docs/topics/auth.mdx
  docs/sidebars.ts
Labels: type/documentation, ci/skip-changelog

#3669 npm audit fix on docs
  frontend/.vscode/settings.json
  frontend/package-lock.json
Labels: type/documentation, group/frontend, ci/skip-changelog

#3668 Fix ruff command to produce correct exit code
  .github/workflows/ci.yml
  python_sdk/tests/unit/sdk/test_schema.py
  sync/infrahub-sync/infrahub_sync/adapters/ipfabricsync.py
Labels: type/housekeeping, group/python-sdk, group/sync-engine, group/ci

#3671 Validate `member_type` for `IPPrefixPoolGetResource`
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
Labels: type/bug, group/backend

#3674 Fix dead tutorials link
  frontend/app/src/screens/homepage.tsx
Labels: type/documentation, group/frontend, type/housekeeping

#3683 Fix sidebar to generate an index page for all tutorials
  docs/sidebars.ts
Labels: type/documentation, type/housekeeping

#3678 Fix default value in form for all attribute's field
  frontend/app/src/components/form/utils.ts
  frontend/app/tests/unit/utils/getObjectDefaultValue.test.ts
Labels: type/bug, group/frontend

#3686 npm audit fix
  docs/package-lock.json
  frontend/app/package-lock.json
  frontend/packages/ui/package-lock.json
  frontend/packages/ui/yarn.lock
  package-lock.json
Labels: type/documentation, group/frontend, ci/skip-changelog

#3685 Fix security issues in urllib3
  poetry.lock
  python_sdk/poetry.lock
  sync/poetry.lock
Labels: type/housekeeping, group/python-sdk, group/sync-engine

#3673 Add methods to allocated details of pools
  python_sdk/infrahub_sdk/node.py
  python_sdk/tests/fixtures/schema_ipam.json
  python_sdk/tests/unit/sdk/conftest.py
  python_sdk/tests/unit/sdk/test_client.py
  python_sdk/tests/unit/sdk/test_node.py
Labels: type/feature, group/python-sdk

#3660 Fix querying resource pool with resources not in active branch
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/resolver.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
Labels: type/bug, group/backend

#3693 feat(helm): add runtimeClass param
  helm/Chart.yaml
  helm/templates/infrahub-git.yaml
  helm/templates/infrahub-server.yaml
Labels: ci/skip-changelog

#3691 Cypher relationship delete bugs
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_relationship_query.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#3692 Merge stable back to develop
  backend/infrahub/core/manager.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/infrahub/graphql/resolver.py
  backend/tests/unit/core/test_manager_node.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  docs/docs/guides/managing-api-tokens.mdx
  docs/docs/topics/auth.mdx
  docs/sidebars.ts
  frontend/app/src/components/buttons/tabs-buttons.tsx
  frontend/app/src/components/form/fields/checkbox.field.tsx
  frontend/app/src/components/form/utils.ts
  frontend/app/src/components/inputs/checkbox.tsx
  frontend/app/src/screens/branches/branch-item-details.tsx
  frontend/app/src/screens/diff/artifact-diff/artifact-repo-diff.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/utils/formStructureForCreateEdit.ts
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  poetry.lock
Labels: type/documentation, group/backend, group/frontend

#3694 Remove Python 3.9 support and upgrade boto3 & urllib3
  poetry.lock
  pyproject.toml
Labels: type/housekeeping

#3704 Properly set default value for mode in Config
  python_sdk/infrahub_sdk/config.py
Labels: type/housekeeping, group/python-sdk

#3679 Hierarchical dropdowns for relationships
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/fields/checkbox.field.tsx
  frontend/app/src/components/form/fields/common.tsx
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/components/ui/label.tsx
  frontend/app/src/graphql/queries/objects/dropdownOptions.ts
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-2_data-lineage-and-metadata.spec.ts
Labels: type/feature, group/frontend

#3688 Expose GraphQL search anywhere query
  backend/infrahub/graphql/queries/__init__.py
  backend/infrahub/graphql/queries/search.py
  backend/infrahub/graphql/schema.py
  backend/tests/unit/graphql/queries/test_search.py
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/src/config/constants.tsx
  frontend/app/src/graphql/queries/objects/search.ts
  frontend/app/tests/e2e/search.spec.ts
Labels: type/feature, group/backend, group/frontend

#3706 Update router to use React Router's data APIs
  frontend/app/index.html
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/Root.tsx
  frontend/app/src/main.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/artifacts/object-item-details-paginated.tsx
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/branches/branch-item-details.tsx
  frontend/app/src/screens/branches/branches-items.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/screens/diff/data-diff-element.tsx
  frontend/app/src/screens/diff/data-diff-node.tsx
  frontend/app/src/screens/diff/data-diff-peer.tsx
  frontend/app/src/screens/diff/data-diff-property.tsx
  frontend/app/src/screens/diff/data-diff.tsx
  frontend/app/src/screens/diff/file-diff/files-diff.tsx
  frontend/app/src/screens/diff/schema-diff.tsx
  frontend/app/src/screens/errors/error-fallback.tsx
  frontend/app/src/screens/graphql/details/graphql-query-details-page.tsx
  frontend/app/src/screens/graphql/graphql-sandbox-page.tsx
  frontend/app/src/screens/graphql/redirect-to-graphql-sandbox-page.tsx
  frontend/app/src/screens/homepage.tsx
  frontend/app/src/screens/ipam/ipam-page.tsx
  frontend/app/src/screens/ipam/ipam-router.tsx
  frontend/app/src/screens/layout/layout.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-create-page.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-details.tsx
  frontend/app/src/screens/proposed-changes/proposed-changes-items.tsx
  frontend/app/src/screens/resource-manager/resource-allocation-page.tsx
  frontend/app/src/screens/resource-manager/resource-manager-page.tsx
  frontend/app/src/screens/resource-manager/resource-pool-page.tsx
  frontend/app/src/screens/schema/schema-page.tsx
  frontend/app/src/screens/sign-in/sign-in.tsx
  frontend/app/src/screens/tasks/task-item-details-screen.tsx
  frontend/app/src/screens/tasks/task-items-screen.tsx
  frontend/app/src/screens/user-profile/user-profile.tsx
  frontend/app/tests/e2e/branches.spec.ts
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_data.spec.ts
  frontend/app/tests/e2e/search.spec.ts
  frontend/app/tests/e2e/signin.spec.ts
  frontend/app/tests/integrations/screens/app-cy.tsx
  frontend/app/tests/integrations/screens/app-init.cy.tsx
Labels: group/frontend, type/housekeeping

#3711 Update version to 0.14.2
  pyproject.toml
Labels: ci/skip-changelog

#3714 Remove quotes from type annotation (fix UP037)
  backend/infrahub/message_bus/__init__.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3715 Fix typehints in graphql.types.node
  backend/infrahub/graphql/types/node.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#3717 `isnull` filter for relationships and attributes on backend
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/subquery.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/types/mixin.py
  backend/infrahub/types.py
  backend/tests/unit/core/test_node_get_list_query.py
  backend/tests/unit/graphql/test_graphql_query.py
  backend/tests/unit/graphql/test_manager.py
Labels: group/backend

#3723 Remove unneeded `url` parameter from `decode_json`
  python_sdk/infrahub_sdk/branch.py
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/utils.py
Labels: type/housekeeping, group/python-sdk

#3712 Hierarchical dropdowns update to hide parent and node fields + use clear labels
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-2_data-lineage-and-metadata.spec.ts
Labels: type/feature, group/frontend

#3729 Improve error message on repo config read failure
  python_sdk/infrahub_sdk/ctl/exceptions.py
  python_sdk/infrahub_sdk/ctl/repository.py
Labels: type/bug, group/python-sdk

#3731 chore(github): add version to bug issue form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: ci/skip-changelog, group/ci

#3705 Add infrahubctl command to export protocols
  backend/templates/generate_protocols_sdk.j2
  docs/docs/infrahubctl/infrahubctl-protocols.mdx
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/infrahub_sdk/ctl/constants.py
  python_sdk/infrahub_sdk/protocols.py
  tasks/backend.py
  tasks/shared.py
Labels: type/feature, group/python-sdk

#3727 Added Layout for object details page + hooks useObjectDetails
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/groups/add-object-to-group.tsx
  frontend/app/src/screens/layout/content.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationships-details-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/user-profile/tab-profile.tsx
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/objects-paginated.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/unit/components/object-item-details.test.tsx
  frontend/app/tests/unit/components/object-item-details.tsx
Labels: type/feature, group/frontend
