Repository opsmill/infrahub, pull requests merged in 2024-09, with the labels that each got.

#4235 fix(helm): make demo data command dynamic
  helm/Chart.yaml
  helm/templates/infrahub-demo-data-job.yaml
  helm/values.yaml
Labels: ci/skip-changelog

#4236 fix(helm): linter values.yaml
  helm/values.yaml
Labels: ci/skip-changelog

#4237 Add ruff rules FURB, RUF & SIM
  pyproject.toml
  python_sdk/pyproject.toml
Labels: group/python-sdk, ci/skip-changelog

#4227 Documentation for enhanced git integration
  docs/docs/development/docs.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/media/create_repository.png
  docs/docs/topics/graphql.mdx
  docs/docs/topics/infrahub-yml.mdx
  docs/docs/topics/repository.mdx
  docs/docs/tutorials/getting-started/git-integration.mdx
Labels: type/documentation

#4152 fix(codespaces): wait for infrahub to start
  .devcontainer/postCreateCommand.sh
  tasks/container_ops.py
  tasks/demo.py
  tasks/dev.py
Labels: ci/skip-changelog

#4231 IFC-576 fields for untracked changes on DiffSummary and DiffTree
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4238 Fix HFID when using generic relationship attributes
  python_sdk/changelog/3900.fixed.md
  python_sdk/infrahub_sdk/node.py
Labels: type/bug, group/python-sdk

#4242 make diff responses consistent with NULL vs being empty
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/graphql/test_diff_tree_query.py
Labels: group/backend

#4230 IFC-572 - Account permissions fix
  frontend/app/src/hooks/usePermission.ts
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/tests/e2e/permissions/accounts-object.spec.ts
Labels: type/bug, group/frontend

#4241 IFC-613 - Form pool update cleanup
  frontend/app/src/components/form/pool-selector.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/tests/unit/components/form/utils/getFieldDefaultValue.test.ts
Labels: group/frontend

#4240 Added counter and icon of checks conclusion on proposed change list
  frontend/app/src/components/buttons/tabs-buttons.tsx
  frontend/app/src/components/ui/tooltip.tsx
  frontend/app/src/graphql/queries/proposed-changes/getProposedChanges.ts
  frontend/app/src/images/icons/proposed-change-checks-failure.svg
  frontend/app/src/images/icons/proposed-change-checks-success.svg
  frontend/app/src/images/icons/proposed-change-checks-unknown.svg
  frontend/app/src/screens/diff/diff-tree.tsx
  frontend/app/src/screens/proposed-changes/item-info.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
Labels: type/feature, group/frontend, ci/skip-changelog

#4248 Apply a lock to DiffCoordinator._update_diffs()
  backend/infrahub/core/diff/coordinator.py
Labels: group/backend, ci/skip-changelog

#4251 Added help button on proposed change
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
Labels: group/frontend, ci/skip-changelog

#4247 Differentiate when diff is empty vs when diff is being computed
  frontend/app/src/screens/diff/diff-tree.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/diff/node-diff/utils.tsx
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: type/feature, group/frontend, ci/skip-changelog

#4258 Fixed css issue on Time selector calendar when no datepicker is loaded
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/components/time-selector.tsx
Labels: type/bug, group/frontend

#4255 Update Python packages ahead of 0.16 release
  poetry.lock
  pyproject.toml
Labels: group/backend, type/housekeeping

#4259 Rename Repository.admin_status -> internal_status
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/migrations/graph/m013_convert_git_password_credential.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/git/actions.py
  backend/infrahub/git/base.py
  backend/infrahub/git/repository.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/message_bus/messages/git_repository_add.py
  backend/infrahub/message_bus/messages/git_repository_merge.py
  backend/infrahub/message_bus/messages/git_repository_read_only_add.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/tests/fixtures/schemas/schema_01.json
  backend/tests/integration/git/test_repository.py
  backend/tests/integration/git/test_repository_branch.py
  backend/tests/unit/core/migrations/graph/test_013.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/graphql/mutations/test_repository.py
  docs/docs/reference/message-bus-events.mdx
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/data.py
  python_sdk/infrahub_sdk/protocols.py
  python_sdk/tests/fixtures/schema_02.json
  python_sdk/tests/unit/sdk/conftest.py
Labels: type/documentation, group/backend, group/python-sdk, ci/skip-changelog

#4225 Fix idempotency for number pools
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/pools/number.py
  backend/infrahub/utils.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
Labels: type/bug, group/backend

#4244 IFC-618 fix diff relationship bug when conflicting changes with main changes after branch changes
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
  backend/tests/unit/core/diff/test_diff_query_parser.py
Labels: group/backend

#4265 fix(ci): disable dependabot incompatible steps
  .github/workflows/ci.yml
Labels: ci/skip-changelog, group/ci

#4262 Minor tutorial docs fixes related to `Integration with Git`
  docs/docs/tutorials/getting-started/git-integration.mdx
  docs/sidebars.ts
Labels: type/documentation

#4263 IFC-623 diff locking enhancements
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/lock.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
Labels: group/backend

#4267 Added link to the related tab on each column of proposed change list
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffSummary.ts
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/diff/node-diff/types.ts
  frontend/app/src/screens/proposed-changes/diff-filter.tsx
  frontend/app/src/screens/proposed-changes/diff-summary.tsx
  frontend/app/src/screens/proposed-changes/items.tsx
Labels: type/feature, group/frontend

#4264 e2e diff tests with better locking
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffTree.ts
  frontend/app/src/screens/diff/node-diff/node-attribute.tsx
  frontend/app/src/screens/diff/node-diff/node-property.tsx
  frontend/app/src/screens/diff/node-diff/node.tsx
  frontend/app/src/screens/diff/node-diff/types.ts
  frontend/app/src/screens/diff/node-diff/utils.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend

#4253 add diff conflict at the attribute level for value conflicts
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/graphql/test_diff_tree_query.py
  frontend/app/src/components/buttons/toggle-buttons.tsx
  frontend/app/src/graphql/queries/proposed-changes/getProposedChangesDiffTree.ts
  frontend/app/src/screens/diff/node-diff/conflict.tsx
  frontend/app/src/screens/diff/node-diff/node-attribute.tsx
  frontend/app/src/screens/diff/node-diff/node-property.tsx
  frontend/app/src/screens/diff/node-diff/node.tsx
  frontend/app/src/screens/diff/node-diff/types.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: group/backend, group/frontend

#4269 Add internal HTTP adapter to allow for generic access from Infrahub
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
  backend/infrahub/webhook.py
  changelog/3302.added.md
Labels: type/feature, group/backend

#4268 Fix available URLs after running infrahub server in backend guide
  docs/docs/development/backend.mdx
Labels: type/documentation

#4274 Add SchemaProtocol overloads to Node.init
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/protocols_base.py
  backend/infrahub/test_data/dataset01.py
  pyproject.toml
Labels: group/backend, type/housekeeping

#4277 Fix typing for return codes of public functions
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/base.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/schema_manager.py
  backend/infrahub/core/utils.py
  backend/infrahub/git_credential/askpass.py
  backend/infrahub/graphql/utils.py
  backend/infrahub/lock.py
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/requests/artifact.py
  backend/infrahub/message_bus/operations/requests/graphql_query_group.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/test_data/gen_connected_nodes.py
  backend/infrahub/test_data/gen_isolated_node.py
  backend/infrahub/test_data/gen_node_profile_node.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4275 Slight typing cleanup
  backend/infrahub/message_bus/operations/send/telemetry.py
  backend/infrahub/message_bus/operations/send/webhook.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4185 IFC-31 Add schema and query for global permissions
  backend/infrahub/api/menu.py
  backend/infrahub/core/account.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/queries/__init__.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/schema.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/graphql/test_core_account_self_update.py
  backend/tests/unit/graphql/test_graphql_utils.py
  backend/tests/unit/graphql/test_query_analyzer.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  python_sdk/infrahub_sdk/protocols.py
  python_sdk/infrahub_sdk/transfer/importer/json.py
  python_sdk/tests/integration/test_export_import.py
Labels: type/feature, group/backend, group/frontend, group/python-sdk

#4281 Sort __all__ statements
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/relationship/__init__.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/graphql/mutations/__init__.py
  backend/infrahub/graphql/queries/__init__.py
  backend/infrahub/graphql/types/__init__.py
  backend/tests/helpers/schema/__init__.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4282 Correct return types for special methods in tests
  backend/tests/adapters/message_bus.py
  backend/tests/helpers/test_client.py
  backend/tests/scale/common/protocols.py
  backend/tests/scale/common/users.py
  backend/tests/unit/api/test_api_exception_handler.py
  backend/tests/unit/git/test_git_rpc.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4287 Remove unused noqa
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/query/schema_attribute_update.py
  backend/infrahub/core/node/standard.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/validators/interface.py
  backend/templates/relationshipschema_imports.j2
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4286 Prefer `is` operator over `isinstance` to check if an object is `None`
  backend/infrahub/core/relationship/model.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4284 Fix type-hints for trigger.ipam
  backend/infrahub/message_bus/operations/trigger/ipam.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4280 Type cleanup in ./utilities
  pyproject.toml
  utilities/db_backup/__main__.py
  utilities/locust_dataset03_api_response_time.py
  utilities/proposed_change_faker.py
Labels: ci/skip-changelog

#4285 Change return type for Node.init
  backend/infrahub/core/node/__init__.py
Labels: group/backend, ci/skip-changelog

#4283 Avoid extraneous parentheses
  backend/infrahub/core/models.py
  backend/infrahub/core/node/constraints/attribute_uniqueness.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4260 IFC-31 Permission backends
  backend/infrahub/config.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/registry.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/permissions/__init__.py
  backend/infrahub/permissions/backend.py
  backend/infrahub/permissions/local_backend.py
  backend/tests/unit/permissions/__init__.py
  backend/tests/unit/permissions/test_backends.py
Labels: type/feature, group/backend

#4290 chore: upgrade to neo4j 5.20
  docker-compose.yml
  helm/Chart.yaml
  tasks/shared.py
Labels: type/housekeeping

#4294 feat(helm): add configurable annotations and labels for pods
  helm/Chart.yaml
  helm/templates/infrahub-git.yaml
  helm/templates/infrahub-server.yaml
Labels: ci/skip-changelog

#4293 Slight simplification for permissions for loop
  backend/infrahub/core/registry.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/permissions/__init__.py
Labels: group/backend, ci/skip-changelog

#4271 Reduced flakiness on multiple end-to-end tests
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/account-menu.tsx
  frontend/app/src/components/display/slide-over.tsx
  frontend/app/src/components/form/object-create-form-trigger.tsx
  frontend/app/src/components/form/object-edit-slide-over-trigger.tsx
  frontend/app/src/graphql/queries/accounts/getProfileDetails.ts
  frontend/app/src/graphql/queries/branches/getBranchDetails.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/diff/checks/conflict.tsx
  frontend/app/src/screens/diff/node-diff/conflict.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/tests/e2e/branches.spec.ts
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/mocks/data/account-profile.ts
  frontend/app/tests/utils.ts
Labels: group/frontend

#4279 Fix 4120: Repository name cannot contain '/' character anymore
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/integration/sdk/test_node_create_constraint.py
Labels: group/backend

#4261 IFC-31 Enforce default branch edition permission
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/auth/query_permission_checker/anonymous_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/checker.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/default_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/interface.py
  backend/infrahub/graphql/auth/query_permission_checker/read_only_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/read_write_checker.py
  backend/tests/unit/graphql/auth/test_anonymous_checker.py
  backend/tests/unit/graphql/auth/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/test_default_checker.py
  backend/tests/unit/graphql/auth/test_parent_checker.py
  backend/tests/unit/graphql/auth/test_read_only_checker.py
  backend/tests/unit/graphql/auth/test_read_write_checker.py
  models/infrastructure_edge.py
Labels: type/feature, group/backend

#4254 IFC-575 new logic to recalculating a diff and maintaining conflicts
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflict_transferer.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/query/empty_roots.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/dependencies/builder/diff/conflict_transferer.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_diff_refresh.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/diff.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/diff/test_conflict_transferer.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
  pyproject.toml
Labels: type/documentation, group/backend

#4298 Add Any typehints for "*args" parameters
  backend/infrahub/core/query/diff.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/resolver.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4304 Configure Neo4j Notification system
  backend/infrahub/database/__init__.py
Labels: group/backend

#4310 fix(codespaces): wait for infrahub to start (#4152)
  .devcontainer/postCreateCommand.sh
  tasks/container_ops.py
  tasks/demo.py
  tasks/dev.py
Labels: ci/skip-changelog

#4312 fix(codespaces): increase healthcheck retries for database
  development/docker-compose-database-neo4j.yml
Labels: ci/skip-changelog

#4239 Add Groups Topics & Reference in docs
  .github/workflows/ci.yml
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/Infrahub/spelling.yml
  .vale/styles/spelling-exceptions.txt
  docs/_templates/sdk_config.j2
  docs/docs/development/docs.mdx
  docs/docs/faq/faq.mdx
  docs/docs/guides/artifact.mdx
  docs/docs/guides/check.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/groups.mdx
  docs/docs/guides/import-schema.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/media/group_tagconfig_grp_adding_members.png
  docs/docs/media/group_tagconfig_grp_new_grp.png
  docs/docs/media/group_tagconfig_grp_new_members.png
  docs/docs/media/guides/artifact/artifact_group_members.png
  docs/docs/python-sdk/guides/branches.mdx
  docs/docs/python-sdk/guides/client.mdx
  docs/docs/python-sdk/guides/installation.mdx
  docs/docs/python-sdk/guides/query_data.mdx
  docs/docs/python-sdk/reference/config.mdx
  docs/docs/reference/configuration.mdx
  docs/docs/reference/schema/groups.mdx
  docs/docs/topics/architecture.mdx
  docs/docs/topics/groups.mdx
  docs/docs/topics/infrahub-yml.mdx
  docs/docs/topics/schema.mdx
  docs/docs/tutorials/getting-started/schema.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/groups/groups.spec.ts
  tasks/docs.py
Labels: type/documentation, group/frontend, group/ci

#4299 Number attributes now support large integers
  backend/infrahub/graphql/mutations/attribute.py
  backend/infrahub/graphql/types/attribute.py
  backend/infrahub/types.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/graphql/mutations/test_number_supports_large_integers.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/4179.added.md
Labels: group/backend

#4324 Pull latest changes from stable into release-0.16 and resolve conflicts
  .devcontainer/postCreateCommand.sh
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/integration/sdk/test_node_create_constraint.py
  development/docker-compose-database-neo4j.yml
  docs/docs/guides/installation.mdx
  docs/docs/topics/schema.mdx
  poetry.lock
  python_sdk/poetry.lock
  python_sdk/pyproject.toml
  tasks/container_ops.py
  tasks/demo.py
  tasks/dev.py
Labels: type/documentation, group/backend, group/python-sdk, ci/skip-changelog

#4330 Fix typo in doc and repository form
  docs/docs/guides/repository.mdx
  frontend/app/src/screens/repository/repository-form.tsx
  python_sdk/tests/fixtures/schema_02.json
Labels: type/documentation, group/frontend, type/housekeeping, group/python-sdk, ci/skip-changelog

#4327 Update screenshots for release 0.16
  docs/docs/media/group_tagconfig_grp_adding_members.png
  docs/docs/media/group_tagconfig_grp_new_grp.png
  docs/docs/media/group_tagconfig_grp_new_members.png
  docs/docs/media/tutorial_1_branch_creation.png
  docs/docs/media/tutorial_1_branch_details.png
  docs/docs/media/tutorial_1_branch_diff.png
  docs/docs/media/tutorial_1_branch_list.png
  docs/docs/media/tutorial_1_organization_create.png
  docs/docs/media/tutorial_1_organization_details.png
  docs/docs/media/tutorial_1_organization_edit.png
  docs/docs/media/tutorial_1_organizations.png
  docs/docs/media/tutorial_2_historical.png
  docs/docs/media/tutorial_3_schema.png
  docs/docs/media/tutorial_4_metadata.png
  docs/docs/media/tutorial_4_metadata_edit.png
  docs/docs/media/tutorial_6_branch_creation.png
  docs/docs/media/tutorial_6_interface_update.png
Labels: type/documentation

#4333 Fix notification for neo4j
  backend/infrahub/database/__init__.py
Labels: group/backend

#4328 Changelog and Release Notes for 0.16
  .vale/styles/Infrahub/sentence-case.yml
  CHANGELOG.md
  changelog/3435.fixed.md
  changelog/3908.added.md
  changelog/4051.fixed.md
  changelog/4062.fixed.md
  changelog/4120.fixed.md
  changelog/4179.added.md
  docs/docs/media/release_notes/infrahub_0_16_0/diff_view_enhancements.png
  docs/docs/media/release_notes/infrahub_0_16_0/diff_view_enhancements_before.png
  docs/docs/media/release_notes/infrahub_0_16_0/hide_auto_generated_groups.png
  docs/docs/media/release_notes/infrahub_0_16_0/number_pool.png
  docs/docs/media/release_notes/infrahub_0_16_0/number_pool_detail.png
  docs/docs/release-notes/infrahub/release-0_12.mdx
  docs/docs/release-notes/infrahub/release-0_13.mdx
  docs/docs/release-notes/infrahub/release-0_14.mdx
  docs/docs/release-notes/infrahub/release-0_15.mdx
  docs/docs/release-notes/infrahub/release-0_15_1.mdx
  docs/docs/release-notes/infrahub/release-0_15_2.mdx
  docs/docs/release-notes/infrahub/release-0_15_3.mdx
  docs/docs/release-notes/infrahub/release-0_16.mdx
  docs/docs/release-notes/infrahub/release-1_0-DRAFT.mdx
  docs/docs/release-notes/python-sdk/release-0_13-DRAFT.mdx
  docs/docs/topics/schema.mdx
  docs/sidebars.ts
  poetry.lock
  pyproject.toml
Labels: type/documentation

#4306 Add support for Protocol in the Python SDK to improve typing
  .github/workflows/ci.yml
  backend/infrahub/git/integrator.py
  backend/infrahub/message_bus/operations/requests/generator.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  docs/docs/infrahubctl/infrahubctl-protocols.mdx
  models/examples/security/infrastructure_security.py
  models/infrastructure_edge.py
  models/protocols.py
  python_sdk/infrahub_sdk/batch.py
  python_sdk/infrahub_sdk/client.py
  python_sdk/infrahub_sdk/code_generator.py
  python_sdk/infrahub_sdk/ctl/cli_commands.py
  python_sdk/infrahub_sdk/ctl/constants.py
  python_sdk/infrahub_sdk/ctl/schema.py
  python_sdk/infrahub_sdk/protocols_base.py
  python_sdk/infrahub_sdk/schema.py
  python_sdk/infrahub_sdk/store.py
  python_sdk/infrahub_sdk/uuidt.py
  python_sdk/poetry.lock
  python_sdk/pyproject.toml
  python_sdk/tests/unit/sdk/conftest.py
Labels: type/documentation, group/backend, group/python-sdk, group/ci

#4342 Prep python sdk release v0.13.0
  docs/docs/release-notes/python-sdk/release-0_13.mdx
  docs/docs/release-notes/python-sdk/release-1_0-DRAFT.mdx
  docs/sidebars.ts
  python_sdk/CHANGELOG.md
  python_sdk/changelog/+infrahubctl_errors.changed.md
  python_sdk/changelog/3900.fixed.md
  python_sdk/changelog/3908.added.md
  python_sdk/changelog/4056.fixed.md
  python_sdk/pyproject.toml
Labels: type/documentation, group/python-sdk, ci/skip-changelog

#4335 IFC-555 relationship peer required bug
  backend/infrahub/core/constraint/node/runner.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_update.py
Labels: group/backend

#4320 IFC-564 - Pre populates parent field in relationships
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/graphql/queries/objects/getRelationshipParent.ts
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
Labels: type/feature, group/frontend

#4329 Raise 422 SchemaNotFoundError while uploading a schema referring an unexisting schemanode
  backend/infrahub/core/schema_manager.py
  backend/tests/integration/schema_lifecycle/test_schema_missing_menu_placement.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4089.fixed.md
Labels: type/bug, group/backend

#4348 Add typing for retry_db_transaction decorator
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/resource_manager.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4349 Add component Enum
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/fields/enum.field.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/components/inputs/enum.tsx
  frontend/app/src/components/ui/command.tsx
  frontend/app/src/components/ui/popover.tsx
  frontend/app/src/graphql/mutations/schema/enum.ts
  frontend/app/tests/unit/components/form/utils/getFormFieldsFromSchema.test.ts
Labels: type/feature, group/frontend

#4351 IFC-605 fix delete constraint to handle relationships on generics
  backend/infrahub/core/node/delete_validator.py
  backend/tests/unit/graphql/test_mutation_delete.py
  changelog/4207.fixed.md
Labels: group/backend

#4352 IFC-569: infer hfid from single-attribute uniqueness constraint
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4174.fixed.md
  changelog/4181.fixed.md
Labels: group/backend

#4356 IFC-582 synchronize uniqueness_constraints and unique attributes
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/core/schema_manager.py
  backend/tests/conftest.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/4182.fixed.md
Labels: group/backend

#4364 Fix Guide Create Schema, set attribute to unique
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

#4276 IFC-31 Add object permission support
  backend/infrahub/core/account.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/auth/query_permission_checker/anonymous_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/checker.py
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/default_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/interface.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/read_only_checker.py
  backend/infrahub/graphql/auth/query_permission_checker/read_write_checker.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/permissions/backend.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/utils.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/__init__.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/test_anonymous_checker.py
  backend/tests/unit/graphql/auth/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/test_default_checker.py
  backend/tests/unit/graphql/auth/test_parent_checker.py
  backend/tests/unit/graphql/auth/test_read_only_checker.py
  backend/tests/unit/graphql/auth/test_read_write_checker.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  python_sdk/infrahub_sdk/protocols.py
  python_sdk/tests/integration/test_export_import.py
Labels: type/feature, group/backend, group/python-sdk

#4367 fix pytest plugin integration tests
  python_sdk/infrahub_sdk/pytest_plugin/plugin.py
Labels: group/python-sdk

#4368 Rename UserRole, UserGroup -> AccountRole & AccountGroup
  backend/infrahub/api/menu.py
  backend/infrahub/core/account.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/test_graphql_utils.py
  backend/tests/unit/graphql/test_query_analyzer.py
  models/infrastructure_edge.py
  python_sdk/infrahub_sdk/protocols.py
Labels: group/backend, group/python-sdk, ci/skip-changelog

#4339 Add ability to construct HFIDs from payload for upsert mutations
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/4167.added.md
  python_sdk/infrahub_sdk/node.py
Labels: type/feature, group/backend, group/python-sdk

#4377 use elementId() instead of ID() for neo4j queries
  backend/infrahub/core/protocols_base.py
  backend/infrahub/core/query/branch.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/query/standard_node.py
  backend/infrahub/core/utils.py
  backend/infrahub/database/__init__.py
  backend/tests/unit/core/test_core_utils.py
Labels: group/backend

#4371 Add support for nested object permissions
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend, ci/skip-changelog

#4375 update discord url
  README.md
  docs/docs/faq/faq.mdx
  frontend/app/src/screens/errors/error-fallback.tsx
Labels: type/documentation, group/frontend

#4383 Add skeleton for permissions within paginated results
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/types/__init__.py
  backend/infrahub/graphql/types/enums.py
  backend/infrahub/graphql/types/mixin.py
  backend/infrahub/graphql/types/permission.py
Labels: group/backend, ci/skip-changelog

#4359 Add component Combobox and Dropdown
  frontend/app/src/components/display/slide-over.tsx
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/components/filters/filter-kind-selector.tsx
  frontend/app/src/components/filters/filters.tsx
  frontend/app/src/components/form/constants.ts
  frontend/app/src/components/form/fields/dropdown.field.tsx
  frontend/app/src/components/form/fields/enum.field.tsx
  frontend/app/src/components/form/generic-selector.tsx
  frontend/app/src/components/form/object-form.tsx
  frontend/app/src/components/form/pool-selector.tsx
  frontend/app/src/components/form/profiles-selector.tsx
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/components/inputs/dropdown.tsx
  frontend/app/src/components/inputs/enum.tsx
  frontend/app/src/components/ui/combobox-legacy.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/command.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/graphql/mutations/schema/dropdown.ts
  frontend/app/src/hooks/useFormValues.ts
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/form/proposed-change-edit-form.tsx
  frontend/app/src/screens/resource-manager/constants.ts
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/tests/unit/components/form/utils/getFormFieldsFromSchema.test.ts
Labels: type/feature, group/frontend

#4384 Remove incorrect consumer timeout
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  changelog/4308.fixed.md
  docker-compose.yml
  tasks/shared.py
Labels: type/bug, group/backend

#4385 Remove GetListMixin.get_list
  backend/infrahub/graphql/types/mixin.py
Labels: group/backend, ci/skip-changelog

#4390 Fix check-and-remove-from-set (FURB132)
  pyproject.toml
  tasks/dev.py
Labels: ci/skip-changelog

#4391 Add typehints to GraphQL mixin
  backend/infrahub/graphql/types/mixin.py
  backend/infrahub/graphql/types/node.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4389 Add type annotations for returned objects
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/utils.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4393 Remove job to run release drafter for SDK
  .github/workflows/release-note.yml
Labels: ci/skip-changelog, group/ci

#4395 Configure yamllint to ignore .git folder
  .yamllint.yml
Labels: ci/skip-changelog

#4394 fix(sdk): use https submodule instead of ssh
  .gitmodules
Labels: ci/skip-changelog

#4392 Fix typing for GraphQL types attributes
  backend/infrahub/core/registry.py
  backend/infrahub/graphql/types/attribute.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4398 Cherry-pick : Remove job to run release drafter for SDK into stable
  .github/workflows/release-note.yml
Labels: group/ci

#4403 Add cancel button in repository form
  changelog/4402.fixed.md
  frontend/app/src/screens/repository/repository-form.tsx
Labels: type/bug, group/frontend

#4405 install docs cleanup
  docs/docs/development/backend.mdx
  docs/docs/development/docs.mdx
  docs/docs/development/frontend/getting-set-up.mdx
  docs/docs/development/frontend/readme.mdx
  docs/docs/development/frontend/testing-guidelines.mdx
  docs/docs/faq/faq.mdx
  docs/docs/guides/artifact.mdx
  docs/docs/guides/check.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/groups.mdx
  docs/docs/guides/import-schema.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/object-storage.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/infrahubctl/infrahubctl-branch.mdx
  docs/docs/infrahubctl/infrahubctl-check.mdx
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-generator.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-protocols.mdx
  docs/docs/infrahubctl/infrahubctl-render.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/infrahubctl/infrahubctl-schema.mdx
  docs/docs/infrahubctl/infrahubctl-transform.mdx
  docs/docs/infrahubctl/infrahubctl-validate.mdx
  docs/docs/infrahubctl/infrahubctl-version.mdx
  docs/docs/integrations/sync/guides/installation.mdx
  docs/docs/integrations/sync/guides/run.mdx
  docs/docs/integrations/sync/reference/cli.mdx
  docs/docs/python-sdk/guides/installation.mdx
  docs/docs/python-sdk/guides/resource-manager.mdx
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
  docs/docs/reference/infrahub-cli/infrahub-git-agent.mdx
  docs/docs/reference/infrahub-cli/infrahub-server.mdx
  docs/docs/release-notes/infrahub/release-0_15.mdx
  docs/docs/release-notes/infrahub/release-0_7.mdx
  docs/docs/topics/architecture.mdx
  docs/docs/topics/hardware-requirements.mdx
  docs/docs/topics/local-demo-environment.mdx
  docs/docs/topics/schema.mdx
  docs/docs/topics/version-control.mdx
  docs/docs/tutorials/getting-started/branches.mdx
  docs/docs/tutorials/getting-started/readme.mdx
  docs/docs/tutorials/getting-started/schema.mdx
Labels: type/documentation

#4406 regenerate docs
  docs/docs/infrahubctl/infrahubctl-branch.mdx
  docs/docs/infrahubctl/infrahubctl-check.mdx
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-generator.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-protocols.mdx
  docs/docs/infrahubctl/infrahubctl-render.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/infrahubctl/infrahubctl-schema.mdx
  docs/docs/infrahubctl/infrahubctl-transform.mdx
  docs/docs/infrahubctl/infrahubctl-validate.mdx
  docs/docs/infrahubctl/infrahubctl-version.mdx
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
  docs/docs/reference/infrahub-cli/infrahub-git-agent.mdx
  docs/docs/reference/infrahub-cli/infrahub-server.mdx
Labels: type/documentation

#4362 Update action buttons on details views
  changelog/4362.added.md
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/components/modals/modal-delete.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/object-item-details/action-buttons/index.tsx
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationships-details-paginated.tsx
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: type/feature, group/frontend

#4407 Remove root parameter from methods called by .mutate()
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/resource_manager.py
Labels: group/backend, ci/skip-changelog

#4409 Upgrade ruff=0.6.6
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: ci/skip-changelog, group/ci

#4408 Add return codes for classmethods (typing)
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/base.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/utils.py
  backend/infrahub/graphql/mutations/attribute.py
  backend/infrahub/graphql/types/standard_node.py
  backend/infrahub/types.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4413 Fix rendering of display label for attribute with enum
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/test_node.py
  changelog/4382.fixed.md
Labels: type/bug, group/backend

#4414 Add validation for hierarchy parent and children
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/hierarchy/test_hierarchy_create.py
  backend/tests/unit/core/hierarchy/test_hierarchy_update.py
  changelog/4325.fixed.md
Labels: type/bug, group/backend

#4411 Add dev profile for docker compose
  development/docker-compose-deps.yml
  development/docker-compose.yml
  tasks/__init__.py
  tasks/container_ops.py
  tasks/demo.py
  tasks/dev.py
  tasks/infra_ops.py
  tasks/shared.py
Labels: type/bug

#4410 Add missing typehints to tasks
  pyproject.toml
  tasks/__init__.py
  tasks/backend.py
  tasks/demo.py
  tasks/dev.py
  tasks/docs.py
  tasks/main.py
  tasks/performance.py
  tasks/schema.py
  tasks/sdk.py
  tasks/shared.py
Labels: ci/skip-changelog

#4345 Add HFID to schema view in frontend
  changelog/4172.added.md
  frontend/app/src/screens/schema/schema-viewer.tsx
Labels: type/feature, group/frontend

#4412 Remove the database index on AttributeValue value to allow attribute value to be larger than 8167 bytes
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/query/resource_manager.py
  backend/tests/unit/core/migrations/graph/test_014.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  changelog/4399.fixed.md
Labels: type/bug, group/backend

#4424 fix(backend): use correct timeout value with NATS
  backend/infrahub/services/adapters/message_bus/__init__.py
Labels: type/bug, group/backend

#4386 Populate permissions in query results
  backend/infrahub/core/account.py
  backend/infrahub/graphql/__init__.py
  backend/infrahub/graphql/types/mixin.py
  backend/infrahub/permissions/report.py
  backend/infrahub/permissions/types.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
Labels: group/backend

#4425 Add missing docs link for GeneratorDefinition/GeneratorInstance
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/core.py
  changelog/4316.fixed.md
Labels: group/backend

#4431 Remove unnecessary `True if ... else False` (SIM210)
  backend/tests/scale/common/events.py
  pyproject.toml
  tasks/docs.py
Labels: group/backend, ci/skip-changelog

#4430 Avoid parentheses for tuples in subscripts. (RUF031)
  backend/infrahub/api/diff/diff.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/models.py
  backend/infrahub/core/query/node.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4404 CI tests run outside docker and use testcontainers fixtures
  .github/workflows/ci.yml
  backend/infrahub/config.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  backend/tests/unit/api/test_api_base.py
  changelog/4308.fixed.md
  changelog/4362.added.md
  docs/docs/development/backend.mdx
  poetry.lock
  pyproject.toml
  tasks/backend.py
Labels: type/documentation, group/backend, group/ci

#4428 Update action buttons on details views
  changelog/4362.added.md
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/components/modals/modal-delete.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/object-item-details/action-buttons/index.tsx
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/src/screens/object-item-details/relationships-details-paginated.tsx
  frontend/app/src/screens/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: type/feature, group/frontend

#4426 Display Parent relationship in list view
  frontend/app/src/config/constants.tsx
  frontend/app/src/screens/object-item-details/relationship-details-paginated.tsx
  frontend/app/tests/mocks/data/devices.ts
Labels: type/feature, group/frontend

#4436 Properly raise repo import errors instead of catching them
  backend/infrahub/git/integrator.py
  changelog/4334.fixed.md
Labels: type/bug, group/backend

#4433 fix(ci): switch main jobs to use neo4j
  .github/workflows/ci.yml
Labels: ci/skip-changelog, group/ci

#4437 IFC-721 Fix default branch permission checker permission lookup
  backend/infrahub/graphql/auth/query_permission_checker/default_branch_checker.py
Labels: type/bug, group/backend

#4344 Generate uniqueness_constraints for schema node if hfid exists
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4186.fixed.md
Labels: type/bug, group/backend

#4434 Tasks pagination fix in proposed changes
  changelog/4434.fixed.md
  frontend/app/src/graphql/queries/tasks/getTasksItems.ts
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/screens/tasks/task-items.tsx
Labels: type/bug, group/frontend

#4419 Prevent forms from being closed if there are unsaved changes
  changelog/4419.added.md
  frontend/app/.eslintrc
  frontend/app/src/components/display/slide-over.tsx
  frontend/app/src/components/modals/modal-confirm.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/hooks/usePagination.ts
Labels: type/feature, group/frontend

#4450 release prep for v0.16.1
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/3730.fixed.md
  changelog/3891.added.md
  changelog/4089.fixed.md
  changelog/4124.fixed.md
  changelog/4167.added.md
  changelog/4172.added.md
  changelog/4174.fixed.md
  changelog/4181.fixed.md
  changelog/4182.fixed.md
  changelog/4186.fixed.md
  changelog/4207.fixed.md
  changelog/4308.fixed.md
  changelog/4316.fixed.md
  changelog/4325.fixed.md
  changelog/4334.fixed.md
  changelog/4362.added.md
  changelog/4382.fixed.md
  changelog/4399.fixed.md
  changelog/4402.fixed.md
  changelog/4419.added.md
  changelog/4434.fixed.md
  docs/docs/release-notes/infrahub/release-0_16_1.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#4455 Fix cypher query for global permissions
  backend/infrahub/core/account.py
Labels: type/bug, group/backend

#4456 Fix IpamIPAddressCreate mutation in the GraphQL mutation section of the getting started tutorial
  docs/docs/tutorials/getting-started/graphql-mutation.mdx
Labels: type/documentation, ci/skip-changelog

#4427 Loading a schema with an incorrect order_by field raise a proper error
  backend/infrahub/core/constants/schema.py
  backend/infrahub/core/schema_manager.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_relationship.py
  changelog/4323.fixed.md
Labels: group/backend

#4461 Fix construct HFID for upsert mutations for number attributes
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/tests/constants/kind.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/4460.fixed.md
Labels: type/bug, group/backend

#4459 Fix performance issue for count only queries
  backend/infrahub/graphql/types/mixin.py
  changelog/4454.fixed.md
Labels: type/bug, group/backend

#4466 Add healthcheck to memgraph testcontainer
  backend/tests/conftest.py
Labels: group/backend

#4468 fix(ci): publish checkbox is reversed
  .github/workflows/publish-dev-docker-image.yml
Labels: ci/skip-changelog

#4467 fix(ci): publish checkbox is reversed
  .github/workflows/publish-dev-docker-image.yml
Labels: ci/skip-changelog, group/ci

#4457 Add OAuth2 support for basic login
  backend/infrahub/api/__init__.py
  backend/infrahub/api/internal.py
  backend/infrahub/api/oauth2.py
  backend/infrahub/config.py
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
  backend/tests/unit/api/test_50_config_api.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#4469 Add exceptions and config for HTTP adapter
  backend/infrahub/config.py
  backend/infrahub/exceptions.py
  backend/infrahub/services/adapters/http/httpx.py
Labels: group/backend

#4470 Add `identifier` read-only field to permissions
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
Labels: type/bug, group/backend

#4464 Improve documentation around Git integration
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/topics/repository.mdx
Labels: type/documentation

#4475 Remove "any" as permission branch/name/namespace wildcard
  backend/infrahub/core/initialization.py
  backend/infrahub/permissions/local_backend.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
Labels: group/backend, ci/skip-changelog

#4376 refactor diff calculation query to get less information
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/dependencies/builder/diff/conflicts_enricher.py
  backend/infrahub/dependencies/registry.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  changelog/4438.fixed.md
Labels: group/backend

#4481 Removed web-vitals package
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/Root.tsx
  frontend/app/src/reportWebVitals.ts
Labels: group/frontend, ci/skip-changelog

#4485 Update Playwright, Cypress and Browserslist to latest version
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend, ci/skip-changelog

#4480 merge stable into develop
  backend/infrahub/core/constants/schema.py
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/diff_summary.py
  backend/infrahub/core/diff/query/save_query.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/schema_manager.py
  backend/infrahub/dependencies/builder/diff/conflicts_enricher.py
  backend/infrahub/dependencies/registry.py
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/infrahub/graphql/types/mixin.py
  backend/tests/constants/kind.py
  backend/tests/unit/core/diff/test_conflicts_enricher.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_relationship.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  changelog/4323.fixed.md
  changelog/4438.fixed.md
  changelog/4454.fixed.md
  changelog/4460.fixed.md
Labels: group/backend

#4476 Fix ability to run tests without testcontainers enabled
  backend/tests/conftest.py
Labels: group/backend, ci/skip-changelog

#4491 Fix login redirection that was sending users to the homepage instead of the previous page in some cases
  frontend/app/src/pages/sign-in.tsx
  frontend/app/tests/e2e/signin.spec.ts
Labels: group/frontend, ci/skip-changelog

#4492 fix dependency alert on docs, ui, and plugins
  docs/package-lock.json
  docs/package.json
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: type/documentation, group/frontend, type/housekeeping, ci/skip-changelog

#4488 Fix config for PLW3201 Bad or misspelled dunder method name
  pyproject.toml
Labels: ci/skip-changelog

#4490 Remove unnecessary key check before dictionary access
  backend/infrahub/core/diff/branch_differ.py
  pyproject.toml
Labels: group/backend, ci/skip-changelog

#4495 chore(helm): upgrade prefect to 3.0.3
  helm/values.yaml
Labels: ci/skip-changelog

#4487 Send telemetry data with service.http adapter
  backend/infrahub/message_bus/operations/send/telemetry.py
Labels: group/backend, ci/skip-changelog

#4473 Fetch config in login page
  frontend/app/src/router.tsx
  frontend/app/src/state/atoms/config.atom.ts
  frontend/app/tests/fixtures/config.json
  frontend/app/tests/mocks/data/config.ts
Labels: group/frontend, ci/skip-changelog

#4465 IFC-725 Implement and validate permission denial
  backend/infrahub/core/account.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/permissions/local_backend.py
  backend/infrahub/permissions/report.py
  backend/tests/unit/conftest.py
  backend/tests/unit/permissions/test_backends.py
Labels: type/feature, group/backend

#4499 Generate random INFRAHUB_DB_BACKUP_PORT during backend-benchmark
  .github/workflows/ci.yml
Labels: group/ci

#4489 Remove GetListMixin
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/permissions.py
  backend/infrahub/graphql/resolver.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/graphql/types/__init__.py
  backend/infrahub/graphql/types/interface.py
  backend/infrahub/graphql/types/mixin.py
  backend/infrahub/graphql/types/node.py
Labels: group/backend, ci/skip-changelog

#4502 fix(ci): disable NATS jobs
  .github/workflows/ci.yml
Labels: ci/skip-changelog, group/ci

#4497 Add SSO in Infrahub UI
  frontend/app/src/components/ui/divider.tsx
  frontend/app/src/hooks/useAuth.tsx
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/pages/sign-in.tsx
  frontend/app/src/router.tsx
  frontend/app/src/screens/authentification/sign-in-sso-buttons.tsx
  frontend/app/src/screens/authentification/sign-in.tsx
Labels: type/feature, group/frontend

#4501 Backend benchmark tests do not rely on docker compose files anymore
  .github/workflows/ci.yml
Labels: group/ci

#4477 Only run container.get_exposed_port() once
  backend/tests/conftest.py
Labels: group/backend, ci/skip-changelog
