Repository opsmill/infrahub, pull requests merged in 2024-12, with the labels that each got.

#5114 npm audit fix
  frontend/app/package-lock.json
Labels: group/frontend, ci/skip-changelog

#5104 Fix query filter on attribute of type List
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/utils.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/5091.fixed.md
Labels: type/bug, group/backend

#5119 correctly set value for list field on create/update/filter form
  frontend/app/src/components/filters/utils/getFiltersFromFormData.ts
  frontend/app/src/components/filters/utils/getObjectFromFilters.ts
  frontend/app/src/components/form/type.ts
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/tests/unit/components/filters/getFiltersFromFormData.test.ts
  frontend/app/tests/unit/components/filters/getObjectFromFilters.test.ts
  frontend/app/tests/unit/components/form/utils/getCreateMutationFromFormData.test.ts
  frontend/app/tests/unit/components/form/utils/getUpdateMutationFromFormData.test.ts
Labels: type/bug, group/frontend

#5097 Convert Git repository import methods to prefect tasks
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/git/test_git_rpc.py
Labels: group/backend

#5032 re-enable PTH rules for ruff
  backend/infrahub/api/internal.py
  backend/infrahub/config.py
  backend/infrahub/git/integrator.py
  backend/infrahub/serve/worker.py
  backend/infrahub/server.py
  backend/tests/conftest.py
  backend/tests/helpers/file_repo.py
  backend/tests/helpers/test_app.py
  backend/tests/integration/conftest.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/unit/api/test_60_storage.py
  backend/tests/unit/api/test_internal.py
  backend/tests/unit/conftest.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  backend/tests/unit/storage/test_local_storage.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_utils.py
  pyproject.toml
  tasks/docs.py
  tasks/sdk.py
  tasks/shared.py
Labels: group/backend

#5102 Migrate schema validation / schema migration
  backend/infrahub/api/schema.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/migrations/schema/models.py
  backend/infrahub/core/migrations/schema/runner.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/checker.py
  backend/infrahub/core/validators/models/validate_migration.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/schema_migration_path.py
  backend/infrahub/message_bus/messages/schema_validator_path.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/schema/__init__.py
  backend/infrahub/message_bus/operations/schema/migration.py
  backend/infrahub/message_bus/operations/schema/validator.py
  backend/infrahub/proposed_change/tasks.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_checker.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
  backend/tests/unit/core/migrations/schema/test_node_attribute_add.py
  backend/tests/unit/core/migrations/schema/test_node_remove.py
  backend/tests/unit/core/migrations/schema/test_runner.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5128 fix SchemaNotFoundError for renamed schema during diff enrichment
  backend/infrahub/core/diff/payload_builder.py
  changelog/+schema-rename-diff.fixed.md
Labels: group/backend

#5123 Fixes user permissions updates (#4985)
  changelog/4881.fixed.md
  changelog/4952.fixed.md
  frontend/app/src/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/components/modals/modal-delete-object.tsx
  frontend/app/src/components/ui/search-input.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend, ci/skip-changelog

#5115 Helper for integration tests based on docker compose
  backend/infrahub/testing/__init__.py
  backend/infrahub/testing/container.py
  backend/infrahub/testing/docker-compose.test.yml
  backend/infrahub/testing/helpers.py
  backend/infrahub/testing/schemas/__init__.py
  backend/infrahub/testing/schemas/car_person.py
  backend/tests/integration_docker/__init__.py
  backend/tests/integration_docker/test_schema_migration.py
Labels: group/backend

#5101 Support updating artifact definition targets
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  changelog/5060.fixed.md
Labels: group/backend

#5117 Uniformize VERSION
  docker-compose.yml
Labels: type/housekeeping, ci/skip-changelog

#5121 Run permission queries without isolation mode
  backend/infrahub/core/account.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  changelog/5110.fixed.md
Labels: group/backend

#5127 IFC-988 Enforce artifact's object to be artifact targets
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/helpers/schema/person.py
  changelog/+artifact-target.fixed.md
  changelog/+generator-group-create.fixed.md
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: group/backend, group/frontend

#5112 Update docs installation guide
  docs/docs/guides/installation.mdx
Labels: type/documentation, ci/skip-changelog

#5116 Add validator when adding a new attribute / relationship to the schema
  backend/infrahub/core/models.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/attribute/choices.py
  backend/infrahub/core/validators/attribute/enum.py
  backend/infrahub/core/validators/attribute/kind.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/optional.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/attribute/unique.py
  backend/infrahub/core/validators/node/attribute.py
  backend/infrahub/core/validators/node/generate_profile.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/node/relationship.py
  backend/infrahub/core/validators/query.py
  backend/infrahub/core/validators/relationship/count.py
  backend/infrahub/core/validators/relationship/optional.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/dependencies/builder/constraint/schema/aggregated.py
  backend/infrahub/dependencies/builder/constraint/schema/node_attribute.py
  backend/infrahub/dependencies/builder/constraint/schema/node_relationship.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_add_mandatory_attr_rel.py
  backend/tests/unit/core/constraint_validators/test_query_node_not_present.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/5106.fixed.md
Labels: type/bug, group/backend

#5137 release v1.0.8
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/+artifact-target.fixed.md
  changelog/+ddd89dc2.fixed.md
  changelog/+generator-group-create.fixed.md
  changelog/+generator-read-only-repo.fixed.md
  changelog/+ipam-reconcile-delete.fixed.md
  changelog/+retry-ipam-reconcile.fixed.md
  changelog/+schema-rename-diff.fixed.md
  changelog/4198.fixed.md
  changelog/4715.fixed.md
  changelog/4881.fixed.md
  changelog/4912.fixed.md
  changelog/4924.added.md
  changelog/4952.fixed.md
  changelog/4969.fixed.md
  changelog/5006.fixed.md
  changelog/5008.fixed.md
  changelog/5051.fixed.md
  changelog/5060.fixed.md
  changelog/5077.added.md
  changelog/5091.fixed.md
  changelog/5110.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_8.mdx
  docs/docs/release-notes/infrahub/release-1_0_9-DRAFT.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#5138 Refresh branch hash in cache for local worker on create
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/unit/graphql/mutations/test_branch.py
  changelog/5130.fixed.md
Labels: group/backend

#5093 Update relationship field to use new combobox and improve UI/UX
  .github/workflows/ci.yml
  frontend/app/playwright.config.ts
  frontend/app/src/components/display/slide-over.tsx
  frontend/app/src/components/form/fields/relationship-many.field.tsx
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/graphql/utils.ts
  frontend/app/src/screens/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/utils/getMutationMetaDetailsFromFormData.ts
  frontend/app/src/utils/getObjectItemDisplayValue.tsx
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: group/frontend, group/ci

#5135 Add pagination and backend search in new combobox for relationships
  changelog/+search-pagination-combobox.added.md
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: type/feature, group/frontend

#5146 Update relationship one input style on required error state
  frontend/app/src/components/inputs/relationship-one.tsx
Labels: group/frontend

#5147 fix(ci): add workflow_dispatch for publish pypi
  .github/workflows/publish-pypi.yml
Labels: group/ci

#5148 chore(ci): remove legacy chart repo
  .github/workflows/publish-helm-chart.yml
Labels: group/ci

#5153 modif ci file
  .github/workflows/ci.yml
  backend/tests/integration/diff/test_diff_rebase.py
Labels: group/backend, group/ci

#5156 initial CI and invoke tasks for releases
  .github/file-filters.yml
  .github/workflows/ci.yml
  .github/workflows/update-compose-file-and-chart.yml
  .vale.ini
  .vale/styles/spelling-exceptions.txt
  changelog/4519.added.md
  poetry.lock
  pyproject.toml
  tasks/__init__.py
  tasks/dev.py
  tasks/docs.py
  tasks/release.py
  tasks/shared.py
  tasks/utils.py
Labels: group/ci

#5160 move imports into functions to allow `invoke` execution
  .github/workflows/ci.yml
  tasks/release.py
  tasks/shared.py
  tasks/utils.py
Labels: group/ci

#5161 Merge stable in 1.0.9-beta
  .github/file-filters.yml
  .github/workflows/ci.yml
  .github/workflows/publish-helm-chart.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/update-compose-file-and-chart.yml
  .vale.ini
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/unit/graphql/mutations/test_branch.py
  changelog/+artifact-target.fixed.md
  changelog/+changelog_edits.fixed.md
  changelog/+ddd89dc2.fixed.md
  changelog/+generator-group-create.fixed.md
  changelog/+generator-read-only-repo.fixed.md
  changelog/+ipam-reconcile-delete.fixed.md
  changelog/+retry-ipam-reconcile.fixed.md
  changelog/+schema-rename-diff.fixed.md
  changelog/+towncrier_template.added.md
  changelog/4198.fixed.md
  changelog/4519.added.md
  changelog/4715.fixed.md
  changelog/4881.fixed.md
  changelog/4912.fixed.md
  changelog/4924.added.md
  changelog/4952.fixed.md
  changelog/4969.fixed.md
  changelog/5006.fixed.md
  changelog/5008.fixed.md
  changelog/5051.fixed.md
  changelog/5060.fixed.md
  changelog/5077.added.md
  changelog/5091.fixed.md
  changelog/5110.fixed.md
  changelog/5130.fixed.md
  changelog/towncrier.md.template
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_0_8.mdx
  docs/docs/release-notes/infrahub/release-1_0_9-DRAFT.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  poetry.lock
  pyproject.toml
  tasks/__init__.py
  tasks/dev.py
  tasks/docs.py
  tasks/release.py
  tasks/shared.py
  tasks/utils.py
Labels: group/frontend, ci/skip-changelog, group/ci

#5143 Review the overview
  docs/docs/overview/generators.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/schema.mdx
  docs/docs/overview/versioning.mdx
  docs/docs/topics/infrahub-yml.mdx
Labels: type/documentation

#5139 Fix error message returned while querying for a missing repository file
  backend/infrahub/api/file.py
  backend/infrahub/exceptions.py
  backend/infrahub/message_bus/messages/git_file_get.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/tests/integration/git/test_git_repository.py
Labels: group/backend

#5159 update doc for MacOs install
  docs/docs/guides/installation.mdx
Labels: type/documentation

#5088 Convert EventBranchRebased to InfrahubEvent
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/models.py
  backend/infrahub/core/diff/payload_builder.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/integration/ipam/base.py
  backend/tests/integration/ipam/conftest.py
  backend/tests/integration/ipam/test_ipam_rebase_reconcile.py
  backend/tests/integration/ipam/test_ipam_utilization.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_branch.py
  backend/tests/integration/shared.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  backend/tests/unit/message_bus/operations/refresh/__init__.py
  backend/tests/unit/message_bus/operations/refresh/test_registry.py
Labels: group/backend

#5166 Add new CICD trigger to update submodule
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/trigger-submodule.yml
Labels: type/housekeeping, ci/skip-changelog, group/ci

#5167 fix typo in doc
  docs/docs/topics/ipam.mdx
Labels: type/documentation

#5169 Rm fix doc typo shell
  docs/docs/guides/installation.mdx
Labels: type/documentation

#5174 Update trigger-submodule.yml
  .github/workflows/trigger-submodule.yml
Labels: ci/skip-changelog, group/ci

#5176 Define as @classmethod and remove noqa statements
  backend/infrahub/config.py
Labels: group/backend

#5170 Add CoreProfile to database
  backend/infrahub/core/schema/manager.py
  changelog/+f91354a0.fixed.md
Labels: group/backend

#5140 Use the branch uuid instead of the internal database id to track the hash of the schema in the cache
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/services/component.py
  changelog/+branch-hash-id.fixed.md
Labels: type/bug, group/backend

#5175 refactor Search Anywhere component
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/api/client.ts
  frontend/app/src/components/search/queries/get-doc-results.ts
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/components/search/search-anywhere-context.ts
  frontend/app/src/components/search/search-anywhere-dialog.tsx
  frontend/app/src/components/search/search-anywhere-empty.tsx
  frontend/app/src/components/search/search-anywhere-group.tsx
  frontend/app/src/components/search/search-anywhere-input.tsx
  frontend/app/src/components/search/search-anywhere-item.tsx
  frontend/app/src/components/search/search-anywhere-trigger.tsx
  frontend/app/src/components/search/search-anywhere.tsx
  frontend/app/src/components/search/search-docs.tsx
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/src/devtools.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend, type/housekeeping

#5179 Add trigger to update submodule in Enterprise
  .github/workflows/release.yml
  .github/workflows/trigger-submodule.yml
  .github/workflows/update-submodule.yml
Labels: type/housekeeping, ci/skip-changelog, group/ci

#5181 Consistently use "Save" on all forms submit button
  changelog/4850.fixed.md
  frontend/app/src/App.tsx
  frontend/app/src/screens/resource-manager/number-pool-form.tsx
  frontend/app/src/screens/role-management/account-form.tsx
  frontend/app/src/screens/role-management/account-group-form.tsx
  frontend/app/src/screens/role-management/account-role-form.tsx
  frontend/app/src/screens/role-management/global-permissions-form.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
Labels: type/bug, group/frontend, type/housekeeping

#5180 Refresh menu after access token has expired
  changelog/5099.fixed.md
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/api/client.ts
  frontend/app/src/components/search/search-actions.tsx
  frontend/app/src/infraops.d.ts
  frontend/app/src/screens/layout/menu-navigation/get-menu.ts
  frontend/app/src/screens/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/state/atoms/schema.atom.ts
  frontend/app/tsconfig.json
Labels: type/bug, group/frontend

#5182 Add uuid to spelling-exceptions
  .vale/styles/spelling-exceptions.txt
Labels: type/documentation, type/housekeeping, ci/skip-changelog

#5184 On generic schema viewer, display "Hierarchical" value
  changelog/+schema-viewer.added.md
  frontend/app/src/components/filters/filter-form.tsx
  frontend/app/src/hooks/useObjectDetails.ts
  frontend/app/src/screens/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/screens/schema/schema-selector.tsx
  frontend/app/src/screens/schema/schema-viewer.tsx
  frontend/app/src/screens/schema/utils.ts
  frontend/app/src/utils/common.ts
  frontend/app/src/utils/getSchemaObjectColumns.ts
  frontend/app/src/utils/objects.ts
Labels: type/feature, group/frontend

#5186 Initialize services for infrahub db update-core-schema
  backend/infrahub/cli/db.py
Labels: group/backend

#5187 Fix error with `pool` as relationship name
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/__init__.py
  changelog/4807.fixed.md
Labels: group/backend

#5191 Search shortcuts show 'Cmd' on macOS and 'Ctrl' on other systems.
  changelog/4861.fixed.md
  frontend/app/src/components/search/search-anywhere-trigger.tsx
Labels: type/bug, group/frontend

#5172 Fixes SEMVER release tasks
  tasks/release.py
Labels: type/housekeeping, ci/skip-changelog

#5133 handle generics and generics peers correctly when deleting nodes
  backend/infrahub/core/node/delete_validator.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_node_manager_delete.py
  changelog/4332.fixed.md
Labels: group/backend

#5163 refactor ipam unit tests to maintain data
  backend/infrahub/core/query/delete.py
  backend/tests/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/ipam/conftest.py
  backend/tests/unit/core/ipam/test_ipam_reconcile_query.py
  backend/tests/unit/core/ipam/test_ipam_reconciler.py
Labels: group/backend

#5199 chore: removed duplicated component AddRelationshipAction
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/inputs/relationship-one.tsx
  frontend/app/src/screens/objects/relationships/components/add-relationship-action.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5200 Fix parent query in relationship to ensure to get the parent of the current node
  changelog/5035.fixed.md
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
Labels: type/bug, group/frontend

#5185 Added always-on sandbox and instruqt tutorial
  CONTRIBUTING.md
  README.md
  docs/docs/faq/faq.mdx
  docs/docs/guides/installation.mdx
  docs/docs/tutorials/getting-started/readme.mdx
Labels: type/documentation

#5192 Fix name dropdown selection for object permissions form
  changelog/5100.fixed.md
  frontend/app/src/screens/role-management/object-permissions-form.tsx
Labels: type/bug, group/frontend

#5195 IFC-993 Fix uniqueness constraint with enum attributes
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  changelog/5132.fixed.md
Labels: group/backend

#5203 IFC-993 Fix uniqueness constraint with enum attributes
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  changelog/5132.fixed.md
Labels: group/backend

#5198 Upgrade prefect to 3.1.5
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/task_manager/task.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/tasks/telemetry.py
  backend/infrahub/testing/docker-compose.test.yml
  backend/infrahub/transformations/tasks.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/initialization.py
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

#5188 Add CoreProfile to diff
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_migration_hierarchy_change.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#5183 Ensure that deleted nodes are removed from the schema_branch
  backend/infrahub/core/merge.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/manager.py
  backend/tests/integration_docker/test_files/delete_interface_schema.yml
  backend/tests/integration_docker/test_files/device_and_interface_schema.yml
  backend/tests/integration_docker/test_schema_migration.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4836.fixed.md
Labels: group/backend

#5164 Generate GraphQL schema during startup
  backend/infrahub/core/initialization.py
  backend/infrahub/tasks/registry.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/unit/api/test_50_config_api.py
  backend/tests/unit/api/test_auth.py
  backend/tests/unit/api/test_openapi.py
Labels: group/backend

#5194 Add lock on object creation
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/lock.py
  backend/tests/functional/ipam/__init__.py
  backend/tests/functional/ipam/base.py
  backend/tests/functional/ipam/conftest.py
  backend/tests/functional/ipam/test_ipam_merge_reconcile.py
  backend/tests/functional/ipam/test_ipam_rebase_reconcile.py
  backend/tests/functional/ipam/test_ipam_utilization.py
  backend/tests/functional/ipam/test_load_concurrent_prefixes.py
  backend/tests/functional/ipam/test_proposed_change_reconcile.py
  backend/tests/unit/core/test_get_kinds_lock.py
  pyproject.toml
Labels: group/backend

#5207 Merge stable into release-1.1 with resolved conflicts
  CONTRIBUTING.md
  README.md
  backend/infrahub/core/initialization.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/tasks/registry.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/integration/schema_lifecycle/test_migration_hierarchy_change.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/integration_docker/test_files/delete_interface_schema.yml
  backend/tests/integration_docker/test_files/device_and_interface_schema.yml
  backend/tests/integration_docker/test_schema_migration.py
  backend/tests/unit/api/test_50_config_api.py
  backend/tests/unit/api/test_auth.py
  backend/tests/unit/api/test_openapi.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4836.fixed.md
  changelog/5035.fixed.md
  changelog/5100.fixed.md
  docs/docs/faq/faq.mdx
  docs/docs/guides/installation.mdx
  docs/docs/topics/schema.mdx
  docs/docs/tutorials/getting-started/readme.mdx
  frontend/app/src/components/form/fields/relationship.field.tsx
  frontend/app/src/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  pyproject.toml
Labels: type/documentation, group/backend, group/frontend

#5209 release v1.0.9 prep
  CHANGELOG.md
  changelog/+branch-hash-id.fixed.md
  changelog/+changelog_edits.fixed.md
  changelog/+f91354a0.fixed.md
  changelog/+schema-viewer.added.md
  changelog/+search-pagination-combobox.added.md
  changelog/+towncrier_template.added.md
  changelog/4332.fixed.md
  changelog/4519.added.md
  changelog/4807.fixed.md
  changelog/4836.fixed.md
  changelog/4850.fixed.md
  changelog/4861.fixed.md
  changelog/5035.fixed.md
  changelog/5099.fixed.md
  changelog/5100.fixed.md
  changelog/5106.fixed.md
  changelog/5130.fixed.md
  changelog/5132.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_9.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
Labels: type/documentation

#5210 Release 1.1.0b2 prep
  CHANGELOG.md
  changelog/+branch-hash-id.fixed.md
  changelog/+changelog_edits.fixed.md
  changelog/+f91354a0.fixed.md
  changelog/+schema-viewer.added.md
  changelog/+search-pagination-combobox.added.md
  changelog/+towncrier_template.added.md
  changelog/4332.fixed.md
  changelog/4519.added.md
  changelog/4807.fixed.md
  changelog/4836.fixed.md
  changelog/4850.fixed.md
  changelog/4861.fixed.md
  changelog/5035.fixed.md
  changelog/5099.fixed.md
  changelog/5100.fixed.md
  changelog/5106.fixed.md
  changelog/5130.fixed.md
  changelog/5132.fixed.md
  docs/docs/release-notes/infrahub/release-0_15_0.mdx
  docs/docs/release-notes/infrahub/release-0_16_0.mdx
  docs/docs/release-notes/infrahub/release-1_0_9.mdx
  docs/docs/release-notes/infrahub/release-1_1_0.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#5213 Don't always pull images
  .github/workflows/ci.yml
Labels: group/ci

#4896 Replace PrefixPool with netaddr.IPSet
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/pools/prefix.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/pools/test_prefix.py
  changelog/3547.changed.md
Labels: type/housekeeping

#5212 Cont working on Workflow logs
  backend/infrahub/message_bus/operations/check/artifact.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/tests/unit/message_bus/test_mappings.py
Labels: group/backend

#5211 Use uuid for branch identifier in schema converge function
  backend/infrahub/workflows/utils.py
Labels: group/backend

#5220 Fix combobox value for relationship many
  frontend/app/src/components/inputs/relationship-many.tsx
Labels: type/bug, group/frontend

#5222 Adjust the pagination style on small screens
  frontend/app/src/components/ui/pagination.tsx
Labels: type/bug, group/frontend

#5228 Switch Prefect to 3.0.9
  backend/infrahub/testing/docker-compose.test.yml
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  helm/Chart.yaml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

#5225 Cont working on Prefect flows
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/requests/repository.py
Labels: group/backend

#5227 Add namespace tag to all flows
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/workflows/utils.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

#5230 update 3.0.11 prefect
  backend/infrahub/testing/docker-compose.test.yml
  backend/tests/conftest.py
  backend/tests/helpers/test_worker.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  helm/Chart.yaml
  helm/values.yaml
  poetry.lock
  pyproject.toml
  tasks/shared.py
Labels: group/backend

#5231 Clickable link for URL kind in the details view
  changelog/5005.added.md
  frontend/app/src/components/ui/link.tsx
  frontend/app/src/utils/getObjectItemDisplayValue.tsx
Labels: type/feature, group/frontend

#5201 Enhanced relationship inputs for hierarchical models with a new option to navigate and select objects directly within the hierarchy
  changelog/4636.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/popover.tsx
  frontend/app/src/screens/branches/get-current-branch.test.ts
  frontend/app/src/screens/branches/get-current-branch.ts
  frontend/app/src/screens/objects/relationships/api/queries.ts
  frontend/app/src/screens/objects/relationships/components/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships.test.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships.ts
  frontend/app/src/screens/objects/relationships/domain/types.ts
  frontend/app/src/screens/schema/get-schema.test.ts
  frontend/app/src/screens/schema/get-schema.ts
  frontend/app/src/screens/schema/utils.test.ts
  frontend/app/src/screens/schema/utils.ts
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
  frontend/app/tests/fake/branch.ts
  frontend/app/tests/fake/schema.ts
Labels: type/feature, group/frontend, cd/preview

#5237 Refresh Docker-compose and Helm Chart
  docker-compose.yml
  helm/Chart.yaml
Labels: type/housekeeping, ci/skip-changelog

#5239 enable Biome rule noUnusedVariables
  .github/workflows/ci.yml
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/api/client.ts
  frontend/app/src/components/display/password-display.tsx
  frontend/app/src/components/form/fields/json.field.tsx
  frontend/app/src/components/inputs/input.tsx
  frontend/app/src/components/inputs/multiple-input.tsx
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/components/notifications.tsx
  frontend/app/src/screens/diff/artifact-diff/artifacts-diff.tsx
  frontend/app/src/screens/diff/checks/checks.tsx
  frontend/app/src/screens/diff/file-diff/files-diff.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/screens/ipam/ip-addresses/ipam-ip-address.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefix-details.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary-list.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes-summary.tsx
  frontend/app/src/screens/ipam/prefixes/ipam-prefixes.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
  frontend/app/src/utils/common.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog, group/ci

#5234 Add logs and tags to flows for proposed changes
  backend/infrahub/message_bus/messages/request_repository_userchecks.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/task_manager/task.py
  backend/tests/integration/diff/test_diff_update.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5246 Do not display error message on search anywhere
  frontend/app/src/components/search/search-nodes.tsx
Labels: group/frontend, ci/skip-changelog

#5250 Do not send event messages that have been migrated already to RabbitMQ
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/node_action.py
  backend/infrahub/events/schema_action.py
Labels: group/backend

#5249 Use 3.0.11-python3.12 in docker-compose oneliner
  docker-compose.yml
Labels: type/housekeeping, ci/skip-changelog

#5248 Display tasks in the proposed changes view only if needed - IFC-1010
  changelog/+tasks-display.fixed.md
  frontend/app/src/graphql/queries/tasks/checkTasksItemDetails.ts
  frontend/app/src/screens/branches/task-display.tsx
  frontend/app/src/screens/proposed-changes/proposed-change-details.tsx
  frontend/app/src/screens/tasks/constants.ts
Labels: type/feature, group/frontend

#5245 Setup migration to add CoreProfile schema node
  backend/infrahub/cli/db.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/migrations/graph/test_017.py
Labels: group/backend

#5247 Ensure git repository is initialized locally before accessing files
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/exceptions.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/repository.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/git/file.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
Labels: group/backend

#5254 Remove extra kind print
  backend/infrahub/core/schema/manager.py
Labels: group/backend

#4672 Fix prefetch_relationships to work with hierarchical nodes
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_manager_node.py
  backend/tests/unit/core/test_node_query.py
  changelog/3065.fixed.md
Labels: group/backend

#5244 single relationship data loader for graphql
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/loaders/__init__.py
  backend/infrahub/graphql/loaders/node.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolvers/__init__.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/infrahub/graphql/subscription/graphql_query.py
  backend/tests/unit/core/test_manager_node.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/522.changed.md
  poetry.lock
  pyproject.toml
Labels: group/backend

#5233 Add branch support to transform based computed attributes
  backend/infrahub/computed_attribute/constants.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/branch/constants.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/registry.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/server.py
  backend/infrahub/services/scheduler.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/ipam/test_proposed_change_reconcile.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
Labels: group/backend

#5258 Add CoreProfile db migration
  backend/infrahub/cli/db.py
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
  backend/infrahub/core/node/__init__.py
Labels: group/backend

#5256 Prevent double tab navigation with a button is inside a link
  frontend/app/src/screens/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
Labels: type/bug, group/frontend, ci/skip-changelog

#5252 Correctly scroll and form fields when there is a submit error
  frontend/app/src/components/editor/index.tsx
  frontend/app/src/components/editor/json/json-editor.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/components/form/fields/relationship-many.field.tsx
  frontend/app/src/components/form/fields/textarea.field.tsx
  frontend/app/src/components/inputs/color-picker.tsx
  frontend/app/src/components/inputs/date-picker.tsx
  frontend/app/src/components/inputs/input.tsx
  frontend/app/src/components/inputs/relationship-many.tsx
  frontend/app/src/components/list.tsx
  frontend/app/src/components/ui/combobox.tsx
  frontend/app/src/components/ui/form.tsx
  frontend/app/src/components/ui/style.ts
  frontend/app/src/screens/objects/relationships/components/relationship-hierarchical-input.tsx
Labels: type/bug, group/frontend

#5251 Add identifier and direction into the Schema Topics
  docs/docs/topics/schema.mdx
Labels: type/documentation, ci/skip-changelog

#5262 Fix query to correctly send variables in the task details query
  changelog/5002.fixed.md
  changelog/5118.fixed.md
  frontend/app/src/components/ui/id.tsx
Labels: type/bug, group/frontend

#5259 Add flow_run_name and tags to git-repository-check-generator-run
  backend/infrahub/message_bus/messages/check_generator_run.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5266 Add more logs during Artifacts processing in a propose change
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
Labels: group/backend

#5265 Improved response time of menu api endpoint
  backend/infrahub/api/menu.py
  changelog/+menu-api.changed.md
Labels: group/backend

#5267 Introduce the new combobox for the pagination
  frontend/app/src/components/ui/pagination.tsx
  frontend/app/tests/e2e/ipam/ip-address-list.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: type/bug, group/frontend

#5271 Use combobox for ip namespace selector in IPAM
  frontend/app/src/components/inputs/select.tsx
  frontend/app/src/graphql/queries/ipam/ip-namespaces.ts
  frontend/app/src/screens/ipam/ip-namespace-selector.tsx
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
Labels: type/bug, group/frontend

#5272 Biome: enable rule noSwitchDeclarations, noUnusedFunctionParameters and noDoubleEquals
  frontend/app/biome.json
  frontend/app/src/components/filters/filter-kind-selector.tsx
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/src/graphql/graphqlClientApollo.tsx
  frontend/app/src/hooks/useObjectItems.ts
  frontend/app/src/screens/diff/node-diff/index.tsx
  frontend/app/src/screens/object-items/object-items-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/utils/getObjectItemDisplayValue.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5240 test version
  .github/workflows/ci.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci

#5280 Add log group around the building of the docker container
  .github/workflows/ci.yml
Labels: group/ci

#5274 Display the IP Namespace for prefixes and IP adresses in the searchanywhere - IFC-299
  changelog/3577.fixed.md
  frontend/app/src/components/search/search-nodes.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend, type/housekeeping

#5283 Number attributes do not accept boolean values
  backend/infrahub/core/attribute.py
  backend/tests/unit/core/schema/schema_branch/test_number_attribute_default_value.py
Labels: group/backend

#5285 Lock CoreGroup kinds on any branch
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/core/test_get_kinds_lock.py
Labels: group/backend

#5296 fix(docs): remove helm pull policy example
  docs/docs/guides/installation.mdx
Labels: type/documentation

#5298 Minor changes around flow logs
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/message_bus/operations/check/repository.py
Labels: group/backend

#5291 fix issue that causes illegal diff query
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

#5295 Fix issue with branch creation in Git
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/merge.py
  backend/infrahub/git/base.py
  backend/infrahub/git/models.py
  backend/infrahub/git/repository.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/message_bus/messages/refresh_git_fetch.py
  backend/infrahub/message_bus/operations/git/repository.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/branch/test_graphql_mutation.py
  backend/tests/unit/git/conftest.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/git/test_git_rpc.py
  docs/docs/reference/message-bus-events.mdx
  pyproject.toml
Labels: type/documentation, group/backend

#5300 merge stable to release 1.1
  backend/infrahub/core/attribute.py
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/schema/schema_branch/test_number_attribute_default_value.py
Labels: group/backend

#5264 Add branch locking mechanism explanation to documentation
  docs/docs/topics/version-control.mdx
Labels: type/documentation, ci/skip-changelog

#5305 Run get_commit_worktree() at correct indentation level
  backend/infrahub/git/integrator.py
Labels: group/backend

#5301 Cleanup graphql-query tasks
  backend/infrahub/api/query.py
  backend/infrahub/git/tasks.py
  backend/infrahub/groups/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/api/test_05_query_api.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
Labels: group/backend

#5260 Capture additional loggers during task execution
  backend/infrahub/cli/tasks.py
  backend/infrahub/config.py
  backend/infrahub/log.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/tasks/dummy.py
  backend/infrahub/workers/infrahub_async.py
  docs/docs/topics/developer-guide.mdx
  docs/sidebars.ts
Labels: type/documentation, group/backend

#5309 Ensure all tasks accessing the database are using a dedicated session
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/tasks/telemetry.py
Labels: group/backend

#5307 Consider updated fields for Jinja2 based computed attributes
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/webhook/tasks.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
Labels: group/backend

#5308 Update relationship docs to add some information about default value
  docs/docs/topics/schema.mdx
Labels: type/documentation, ci/skip-changelog

#5313 Remove useless tests and their files
  frontend/app/tests/integrations/lib/badge.cy.tsx
  frontend/app/tests/integrations/lib/button.cy.tsx
  frontend/app/tests/integrations/lib/pill.cy.tsx
  frontend/app/tests/unit/components/branch-list.test.tsx
  frontend/app/tests/unit/components/branch-list.tsx
  frontend/app/tests/unit/components/branch-selector.test.tsx
  frontend/app/tests/unit/components/branch-selector.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5304 Refactor list input to make it simpler and improve a11y
  .github/workflows/ci.yml
  frontend/app/.gitignore
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/playwright-ct.config.ts
  frontend/app/playwright/index.html
  frontend/app/playwright/index.tsx
  frontend/app/src/components/form/fields/list.field.test.tsx
  frontend/app/src/components/form/fields/list.field.tsx
  frontend/app/src/components/inputs/constants.ts
  frontend/app/src/components/inputs/multiple-input.tsx
  frontend/app/src/components/list.test.tsx
  frontend/app/src/components/list.tsx
  frontend/app/tests/components/form.story.tsx
  frontend/app/vite.config.ts
Labels: group/frontend, group/ci

#5311 fix artifacts diff
  backend/infrahub/core/diff/query/artifact.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/core/diff/test_calculate_artifact_diff.py
Labels: group/backend

#5320 docs fixes for vale
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/auth.mdx
  docs/docs/topics/developer-guide.mdx
Labels: type/documentation

#5317 Update alerts type on errors with proposed changes and branches
  changelog/5293.fixed.md
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/proposed-changes/action-button/pc-merge-button.tsx
Labels: type/bug, group/frontend

#5318 Update shortcut from the branch details view to create a proposed change
  changelog/4678.fixed.md
  frontend/app/src/components/buttons/button-primitive.tsx
  frontend/app/src/config/qsp.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/proposed-changes/create-form.tsx
Labels: group/frontend, type/housekeeping

#5321 Added support for hierarchical selection on relationship many
  frontend/app/playwright/index.html
  frontend/app/playwright/index.tsx
  frontend/app/src/components/form/dynamic-form.tsx
  frontend/app/src/components/form/fields/relationship-hierarchical.field.tsx
  frontend/app/src/graphql/queries/objects/generateRelationshipListQuery.ts
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-input.tsx
  frontend/app/tests/fake/schema.ts
Labels: type/feature, group/frontend

#5324 update vitest to 2.1.8
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/tests/unit/components/button.test.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5319 fix(backend): randomize telemetry workflow schedule
  backend/infrahub/workflows/catalogue.py
Labels: group/backend

#5287 Add support for repository to TestInfrahub class
  .gitignore
  backend/infrahub/testing/__init__.py
  backend/infrahub/testing/helpers.py
  backend/infrahub/testing/schemas/__init__.py
  backend/infrahub/testing/schemas/car_person.py
  backend/tests/integration_docker/test_propose_change_repository.py
  backend/tests/integration_docker/test_schema_migration.py
  poetry.lock
  pyproject.toml
  python_testcontainers/README.md
  python_testcontainers/infrahub_testcontainers/__init__.py
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/helpers.py
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
  python_testcontainers/tasks.py
Labels: group/backend

#5332 merge stable to release-1.1
  docs/docs/topics/schema.mdx
  poetry.lock
Labels: type/documentation

#5314 Ensure _get_entities_with_data_loader is not using the default db session
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/+gqlquery.fixed.md
Labels: type/bug, group/backend

#5341 spelling cleanup
  .vale/styles/spelling-exceptions.txt
  docs/docs/integrations/sync/reference/config.mdx
Labels: type/documentation

#5343 Fix issue with log level
  docker-compose.yml
  tasks/release.py
Labels: type/housekeeping, ci/skip-changelog
