Repository opsmill/infrahub, pull requests merged in 2025-09, with the labels that each got.

#7109 Add "lock." prefix to global locks, include worker ID to lock value
  backend/infrahub/lock.py
Labels: group/backend

#7117 fix(tests): flaky integration docker on enterprise
  backend/tests/integration_docker/test_computed_attributes.py
Labels: group/backend

#7118 IFC-1760 Fix invalid 403s when looking at `CoreNode`
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_super_admin_checker.py
  changelog/6733.fixed.md
  changelog/ifc1760.fixed.md
  frontend/app/tests/e2e/role-management/role-management.spec.ts
Labels: group/backend, group/frontend

#7125 Refactor 'infrahub shell'
  backend/infrahub/cli/__init__.py
Labels: group/backend

#7049 updated architecture topic
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/installation.mdx
  docs/docs/guides/production-deployment.mdx
  docs/docs/guides/profiles.mdx
  docs/docs/guides/sso.mdx
  docs/docs/topics/architecture.mdx
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
Labels: type/documentation

#7126 Use Query Key factories to better manage them
  changelog/+query-key.fixed.md
  changelog/6418.fixed.md
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.query.ts
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-create-form-trigger.tsx
  frontend/app/src/entities/ipam/ip-namespaces/domain/get-ip-namespace-list.query.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-ip-prefix-ancestors.query.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-ip-prefix-list.query.ts
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-available-identifier.tsx
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/get-object.query.ts
  frontend/app/src/entities/nodes/object/domain/get-object.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/entities/nodes/object/domain/object.query-keys.test.ts
  frontend/app/src/entities/nodes/object/domain/object.query-keys.ts
  frontend/app/src/entities/nodes/object/domain/update-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-menu.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/object-actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-objects-modal.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager-toolbar.tsx
  frontend/app/src/entities/nodes/relationships/domain/add-relationships/add-relationships.mutation.ts
  frontend/app/src/entities/nodes/relationships/domain/get-default-parent.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-count/get-relationship-count.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-properties/get-relationship-properties.query.ts
  frontend/app/src/entities/nodes/relationships/domain/relationships.query-keys.test.ts
  frontend/app/src/entities/nodes/relationships/domain/relationships.query-keys.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.mutation.ts
  frontend/app/src/entities/nodes/relationships/ui/dissociate-relationships-modal.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-properties.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-available-actions.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-available-actions.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-details.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
  frontend/app/src/entities/proposed-changes/domain/proposed-changes.query-keys.test.ts
  frontend/app/src/entities/proposed-changes/domain/proposed-changes.query-keys.ts
  frontend/app/src/entities/proposed-changes/domain/update-review.mutation.ts
  frontend/app/src/entities/repository/domain/get-repository-group.query.ts
  frontend/app/src/entities/repository/ui/repository-action-menu.tsx
  frontend/app/src/entities/tasks/domain/get-node-task-count/get-task-count.query.ts
  frontend/app/src/entities/triggers/api/get-match-parent-from-api.ts
  frontend/app/src/entities/triggers/domain/get-match-parent.query.ts
  frontend/app/src/entities/triggers/domain/get-match-parent.ts
  frontend/app/src/pages/ipam/ipam-namespace-list-page.tsx
  frontend/app/src/shared/components/modals/modal-delete.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#7146 Set code owners for Python project files
  .github/CODEOWNERS
Labels: group/ci

#7152 Merge 'stable' into 'develop' with resolved conflicts
  .github/CODEOWNERS
  changelog/+filter-kind.fixed.md
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-schema-selector.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
  poetry.lock
  pyproject.toml
Labels: group/frontend, group/ci

#7159 Delete unused files and dead code
  changelog/+frontend.housekeeping.md
  changelog/+linter-formatter.fixed.md
  frontend/app/src/config/config.ts
  frontend/app/src/config/constants.ts
  frontend/app/src/entities/branches/ui/diff.tsx
  frontend/app/src/entities/diff/api/resolveConflict.ts
  frontend/app/src/entities/diff/node-diff/conflict.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/index.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-details-tab-content.tsx
  frontend/app/src/entities/proposed-changes/ui/reviewers.tsx
  frontend/app/src/entities/repository/constants.ts
  frontend/app/src/entities/repository/domain/get-repository-group.query.ts
  frontend/app/src/entities/repository/ui/repository-objects-manager.tsx
  frontend/app/src/entities/repository/ui/repository-objects-tab.tsx
  frontend/app/src/pages/branches/details.tsx
  frontend/app/src/pages/ipam/ipam-details-index-page.tsx
  frontend/app/src/pages/objects/CoreArtifact/artifact-details.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/shared/components/aria/modal.tsx
  frontend/app/src/shared/components/buttons/button-with-tooltip.tsx
  frontend/app/src/shared/components/buttons/tabs-buttons.tsx
  frontend/app/src/shared/components/buttons/toggle-buttons.tsx
  frontend/app/src/shared/components/editor/code/code-viewer-limiter.tsx
  frontend/app/src/shared/components/modals/modal.tsx
  frontend/app/src/shared/utils/array.ts
  frontend/app/src/shared/utils/common.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#7155 IFC-1796 Add method to get changes between 2 commits
  backend/infrahub/git/base.py
  backend/tests/fixtures/repos/changed-files/initial__main/commit1/test.gql
  backend/tests/fixtures/repos/changed-files/initial__main/commit2/test.gql
  backend/tests/fixtures/repos/changed-files/initial__main/commit3/README.md
  backend/tests/integration/git/test_repository.py
Labels: group/backend

#7175 IFC-1801 Add mutation to trigger computed attribute re-computation
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/schema.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  changelog/+ifc1801.added.md
Labels: group/backend

#7194 Ignore keyword scan for dependabot push
  .github/workflows/keyword-scan.yml
Labels: group/ci

#7172 fix(ci): add branch rebase test to upgrade test job
  .github/workflows/version-upgrade.yml
  tasks/dev.py
Labels: group/ci

#7207 Bump CodSpeedHQ/action from 3 to 4
  .github/workflows/ci.yml
Labels: group/ci

#7214 fix artifact docs
  .vale/styles/spelling-exceptions.txt
  CLAUDE.md
  docs/docs/academy/academy.mdx
  docs/docs/academy/getting-started/infrahub-introduction.mdx
  docs/docs/guides/artifact.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/groups.mdx
  docs/docs/guides/upgrade.mdx
  docs/docs/release-notes/infrahub/release-1_4_0.mdx
  docs/docs/topics/architecture.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/branching.mdx
  docs/docs/topics/check.mdx
  docs/docs/topics/community-vs-enterprise.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/graphql.mdx
  docs/docs/topics/groups.mdx
  docs/docs/topics/infrahub-yml.mdx
  docs/docs/topics/schema.mdx
  docs/docs/topics/transformation.mdx
Labels: type/documentation

#7212 Add artifact definition name to artifact webhook events
  backend/infrahub/artifacts/models.py
  backend/infrahub/events/artifact_action.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/proposed_change/tasks.py
  changelog/+e610424b.added.md
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation, group/backend

#7210 Refactor GraphQLSchemaManager and add graphql registry
  backend/infrahub/core/initialization.py
  backend/infrahub/graphql/api/endpoints.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/registry.py
  backend/infrahub/tasks/registry.py
  backend/tests/conftest.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/integration/user_workflows/test_user_worflow.py
  backend/tests/unit/graphql/test_graphql_query.py
  backend/tests/unit/graphql/test_manager.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/graphql/test_query_analyzer.py
Labels: group/backend

#7219 fix example
  docs/docs/guides/artifact.mdx
Labels: type/documentation

#7221 chore: 1.4.7 release
  CHANGELOG.md
  changelog/+IFC-1771.fixed.md
  changelog/+a2ec144f.added.md
  changelog/+e610424b.added.md
  changelog/7208.fixed.md
  docs/docs/release-notes/infrahub/release-1_4_7.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#7223 IFC-1811: Replace toml package with tomllib and tomli optionally
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/keyword-scan.yml
  .github/workflows/version-upgrade.yml
  backend/infrahub/config.py
  docs/docs/tutorials/getting-started/readme.mdx
  poetry.lock
  pyproject.toml
  tasks/utils.py
Labels: type/documentation, group/backend, group/ci

#6469 Support converting repository type
  backend/infrahub/api/artifact.py
  backend/infrahub/api/query.py
  backend/infrahub/api/schema.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/branch/needs_rebase_status.py
  backend/infrahub/core/convert_object_type/conversion.py
  backend/infrahub/core/convert_object_type/object_conversion.py
  backend/infrahub/core/convert_object_type/repository_conversion.py
  backend/infrahub/core/convert_object_type/schema_mapping.py
  backend/infrahub/core/node/create.py
  backend/infrahub/core/node/lock_utils.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/definitions/core/repository.py
  backend/infrahub/graphql/api/dependencies.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/middleware.py
  backend/infrahub/graphql/mutations/convert_object_type.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/lock.py
  backend/infrahub/repositories/__init__.py
  backend/infrahub/repositories/create_repository.py
  backend/infrahub/tasks/registry.py
  backend/tests/conftest.py
  backend/tests/functional/branch/test_branch_needs_rebase.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
  backend/tests/functional/convert_object_type/test_convert_repositories.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/convert_object_type/test_convert_object_type.py
  backend/tests/unit/core/test_get_kinds_lock.py
  backend/tests/unit/core/test_registry.py
  docs/docs/guides/object-conversion.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/repository/repository-objects.spec.ts
Labels: type/documentation, group/backend, group/frontend

#7225 fix(backend): remove internal pagination limit
  backend/infrahub/config.py
Labels: group/backend

#7226 IFC-1216: Restrict origin_branch value to the default branch
  backend/infrahub/graphql/mutations/branch.py
  backend/tests/unit/graphql/mutations/test_branch.py
Labels: group/backend

#7229 Use smaller transactions in branch delete cypher query
  backend/infrahub/core/query/branch.py
  changelog/5713.fixed.md
  changelog/7161.fixed.md
Labels: group/backend

#7233 Update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.test.tsx
Labels: group/frontend, ci/skip-changelog

#7213 Add form from selected kind for object convert type
  frontend/app/src/entities/nodes/object/api/get-object-convert-fields-mapping-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-object-convert-fields-mapping.query.ts
  frontend/app/src/entities/nodes/object/domain/get-object-convert-fields-mapping.ts
  frontend/app/src/entities/nodes/object/domain/object.query-keys.ts
  frontend/app/src/entities/nodes/object/ui/filters/schema-combobox-list.tsx
  frontend/app/src/entities/nodes/object/ui/object-convert.tsx
  frontend/app/src/shared/components/form/convert-form.tsx
Labels: group/frontend

#7196 Store dynamic types for GraphQL schema by hash
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/registry.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_graphql_query.py
  backend/tests/unit/graphql/test_manager.py
Labels: group/backend

#7164 migration for fixing improperly reconciled IP objects
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m039_ipam_reconcile.py
  backend/tests/unit/core/migrations/graph/test_039.py
Labels: group/backend

#7234 IFC-499: Clean up dead locks at set intervals
  backend/infrahub/config.py
  backend/infrahub/lock.py
  backend/infrahub/locks/__init__.py
  backend/infrahub/locks/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/locks/__init__.py
  backend/tests/unit/locks/test_clean_up_deadlocks.py
  backend/tests/unit/test_lock.py
  changelog/1290.added.md
  docs/docs/reference/configuration.mdx
Labels: type/documentation, group/backend

#7266 Update schema_hash for flaky test
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#7279 fix schema integrity check to remove resolved violations
  backend/infrahub/proposed_change/tasks.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/7278.fixed.md
Labels: group/backend

#7246 IFC-1487: Allow min_count only for node creation
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/test_relationship.py
  backend/tests/unit/core/test_relationship_manager.py
Labels: group/backend

#7286 Corrections for tests
  backend/infrahub/workflows/catalogue.py
  backend/tests/unit/display_labels/test_gather.py
Labels: group/backend

#7289 Update schema for flaky relationship test
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#7285 Fix payload for transform webhook to align with other webhooks
  backend/infrahub/webhook/models.py
  changelog/6815.fixed.md
Labels: group/backend
