Repository opsmill/infrahub, pull requests merged in 2025-08, with the labels that each got.

#6887 chore: upgrade prefect-redis to latest
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: group/backend

#6875 IFC-1633 Add events related to proposed change actions
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/__init__.py
  backend/infrahub/events/proposed_change_action.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/task_manager/event.py
  backend/tests/functional/proposed_change/test_review.py
  backend/tests/helpers/events.py
  changelog/+ifc1633.added.md
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation, group/backend

#6927 fix for unlikely diff bug
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  changelog/6928.fixed.md
Labels: group/backend

#6939 Auto-suggest Ip address/prefix when opening a children creation form
  frontend/app/src/entities/ipam/ip-addresses/api/get-next-ip-address-available-from-api.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-next-ip-address-available.query.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-next-ip-address-available.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
  frontend/app/src/entities/ipam/ip-prefixes/api/get-next-ip-prefix-available-from-api.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-next-ip-prefix-available.query.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-next-ip-prefix-available.ts
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-creation-form.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/tests/e2e/ipam/ip-prefix-create.spec.ts
Labels: type/feature, group/frontend

#6942 Revert the state to the PC if the merge check fails
  backend/infrahub/proposed_change/tasks.py
Labels: group/backend

#6941 Use proper prefix for PC mutation
  backend/infrahub/graphql/schema.py
  backend/tests/functional/proposed_change/test_check_for_approval_revoke.py
Labels: group/backend

#6952 cleanup and best practices
  docs/docs/guides/create-schema.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

#6953 add netpicker mention
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  CLAUDE.md
  docs/docs/faq/faq.mdx
  docs/docs/getting-started/next-steps.mdx
  docs/docs/home.mdx
Labels: type/documentation

#6958 fix(ci): ensure pipx uses correct python version
  .github/workflows/ci.yml
Labels: group/ci

#6945 IFC-1686 Add support for `kinds` filter for generic IP query
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/parser.py
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

#6960 Added preview of current IP attributes/rels in IPAM details page header
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-details-header.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-prefix-attributes-visible-in-list-view.ts
  frontend/app/src/entities/nodes/object/ui/object-details/object-details-menu.tsx
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/shared/components/container.tsx
  frontend/app/tests/e2e/ipam/ip-prefix-list.spec.ts
Labels: type/feature, group/frontend

#6963 Enable collapsing IPAM tree
  frontend/app/src/config/localStorage.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ipam-details-header.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/pages/ipam/ipam-layout.tsx
  frontend/app/src/shared/components/aria/separator.tsx
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
Labels: type/feature, group/frontend

#6964 removed useless "use client"
  frontend/app/src/shared/components/aria/radio-group.tsx
  frontend/app/src/shared/components/ui/accordion.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#6966 another fix for migrated kind nodes in the diff
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/test_relationship_query.py
  changelog/+migrated-kind-diff.fixed.md
Labels: group/backend

#6972 Fix all docs
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/topics/schema.mdx
Labels: type/documentation

#6975 Fix links
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

#6978 Document uniqueness constraint optimization
  docs/docs/topics/schema.mdx
Labels: type/documentation

#6979 Fix total comments count in proposed changes list view
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-from-api.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
Labels: group/frontend

#6985 Hide IPAM menu when there are no IP node kinds
  backend/infrahub/core/schema/manager.py
  backend/infrahub/menu/generator.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/menu/test_generator.py
  changelog/+dbcd1be4.changed.md
Labels: group/backend

#6986 Add bulk edit on object table
  changelog/+ifc225.added.md
  frontend/app/src/entities/nodes/object/domain/update-object.mutation.ts
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-context.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-bulk-edit-objects.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/processing-mutate-object.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-delete-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-edit-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/toolbar-button.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-relationships-manager.tsx
  frontend/app/src/shared/api/types.ts
  frontend/app/src/shared/components/aria/modal.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/tests/e2e/objects/object-list-bulk-edit.spec.ts
Labels: type/feature, group/frontend

#6764 adding AttributeValueIndexed nodes
  backend/infrahub/cli/db.py
  backend/infrahub/config.py
  backend/infrahub/core/attribute.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/core/graph/schema.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m035_drop_attr_value_index.py
  backend/infrahub/core/migrations/query/attribute_add.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/core/validators/uniqueness/model.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/types.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_constraint_query.py
  backend/tests/unit/core/test_attribute.py
  backend/tests/unit/core/test_query_subquery.py
  backend/tests/unit/core/test_schema.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/+6587.added.md
Labels: group/backend

#6932 cleanup resource manager guide
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
  docs/docs/tutorials/getting-started/resource-manager.mdx
Labels: type/documentation

#6929 Add events in overview page
  changelog/proposed-changes.changed.md
  frontend/app/src/entities/artifacts/ui/artifact-generate-button.tsx
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/domain/get-events.query.ts
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-thread-event.tsx
  frontend/app/src/entities/proposed-changes/api/get-proposed-change-thread-from-api.ts
  frontend/app/src/entities/proposed-changes/constants.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-change-thread.ts
  frontend/app/src/entities/proposed-changes/ui/overview.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
  frontend/app/src/entities/role-manager/ui/accounts.tsx
  frontend/app/src/entities/role-manager/ui/global-permissions.tsx
  frontend/app/src/entities/role-manager/ui/groups.tsx
  frontend/app/src/entities/role-manager/ui/object-permissions.tsx
  frontend/app/src/entities/role-manager/ui/roles.tsx
  frontend/app/src/entities/tasks/ui/task-display.tsx
  frontend/app/src/shared/api/types.ts
  frontend/app/src/shared/components/conversations/comment.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/src/shared/components/modals/modal-confirm.tsx
  frontend/app/src/shared/components/utils/infinite-trigger.tsx
  frontend/app/src/shared/hooks/useFilters.ts
Labels: group/frontend

#6996 Add missing copier deps to fix CI pipeline
  .github/file-filters.yml
  poetry.lock
  pyproject.toml
Labels: group/ci

#6883 fix(backend): create node with many rels faster
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/core/migrations/graph/test_003.py
  backend/tests/unit/core/migrations/graph/test_012.py
  backend/tests/unit/core/migrations/graph/test_013.py
  backend/tests/unit/core/test_node.py
  backend/tests/unit/core/test_relationship.py
  backend/tests/unit/core/test_relationship_query.py
Labels: group/backend

#7001 Preserve selected kind in IPAM object table when navigating
  frontend/app/src/entities/ipam/utils.ts
  frontend/app/src/entities/nodes/object/ui/object-table/hooks/use-schema-selected-in-object-table.tsx
Labels: type/feature, group/frontend, ci/skip-changelog

#7002 Fix error when filtering by node fields in IPAM, hide available IPs when filters are applied
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.ts
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-prefixes/api/get-ip-prefix-list-from-api.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-ip-prefix-list.ts
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-details.tsx
  frontend/app/src/entities/ipam/utils.ts
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
Labels: type/feature, group/frontend, ci/skip-changelog

#6991 adds migration for new AttributeValueIndexed vertices
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m036_index_attr_vals.py
  backend/tests/unit/core/migrations/graph/test_036.py
Labels: group/backend

#7016 Removes empty events screen and improve proposed change ui for action button and description
  frontend/app/src/entities/proposed-changes/ui/action-button/pc-actions-button.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-events.tsx
  frontend/app/src/shared/components/buttons/button-primitive.tsx
Labels: group/frontend

#7012 prevent and clean up orphaned agnostic Relationships in a branch delete
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m035_orphan_relationships.py
  backend/infrahub/core/query/branch.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
  changelog/6933.fixed.md
Labels: group/backend

#7007 IFC-1499 Check schema permission for dropdown/enum operations
  backend/infrahub/api/schema.py
  backend/infrahub/graphql/context.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/permissions/__init__.py
  backend/tests/conftest.py
  backend/tests/helpers/permissions.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_default_branch_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_merge_operation_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_super_admin_checker.py
  backend/tests/unit/graphql/mutations/test_mutation_context.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_schema.py
  backend/tests/unit/graphql/queries/test_list_permissions.py
  backend/tests/unit/graphql/test_core_account.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/permissions/test_manager.py
  changelog/6410.fixed.md
Labels: group/backend

#7024 fix(backend): batch peers fetch only for many cardinality
  backend/infrahub/core/query/node.py
Labels: group/backend

#7020 feat(docs): add config preset for enterprise install
  docs/docs/guides/installation.mdx
Labels: type/documentation

#7033 Add proposed change event when multiple approvals are revoked
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/__init__.py
  backend/infrahub/events/proposed_change_action.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation, group/backend

#7038 IFC-1750 Fix default PC Reviewer role permission set
  backend/infrahub/core/initialization.py
  backend/infrahub/permissions/__init__.py
  backend/infrahub/permissions/constants.py
  backend/infrahub/permissions/globals.py
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/backend, group/frontend

#7039 prepare release 1.3.7
  CHANGELOG.md
  changelog/+a97e7d93.fixed.md
  changelog/6410.fixed.md
  changelog/6933.fixed.md
  changelog/7022.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_7.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#6955 improve profiles docs
  .github/workflows/ci.yml
  .vale.ini
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  docs/docs/development/docs.mdx
  docs/docs/guides/menu.mdx
  docs/docs/guides/profiles.mdx
  docs/docs/media/guides/profiles/form-profiles.png
  docs/docs/media/guides/profiles/metadata.png
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
  docs/docs/topics/profiles.mdx
  tasks/docs.py
Labels: type/documentation, group/ci

#7068 Update relationships of cardinality many in bulk edit IFC-1744
  frontend/app/src/entities/nodes/object/api/update-object-from-api.ts
  frontend/app/src/entities/nodes/object/utils/get-relationship-mutations.ts
  frontend/app/src/shared/components/form/constants.ts
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
Labels: group/frontend

#7054 Automatic revoke event in proposed change - IHP-22
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/proposed-changes/constants.ts
Labels: group/frontend

#7069 Remove include_available from query if set to false
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-prefixes/api/get-ip-prefix-list-from-api.ts
  frontend/app/src/shared/api/graphql/utils.ts
Labels: group/frontend

#7071 Add ability to reset fields to null in bulk edit
  frontend/app/src/entities/nodes/object/api/update-object-from-api.ts
  frontend/app/src/shared/components/aria/checkbox.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/checkbox.field.tsx
  frontend/app/src/shared/components/form/fields/color.field.tsx
  frontend/app/src/shared/components/form/fields/common.tsx
  frontend/app/src/shared/components/form/fields/datetime.field.tsx
  frontend/app/src/shared/components/form/fields/dropdown.field.tsx
  frontend/app/src/shared/components/form/fields/enum.field.tsx
  frontend/app/src/shared/components/form/fields/input.field.tsx
  frontend/app/src/shared/components/form/fields/json.field.tsx
  frontend/app/src/shared/components/form/fields/list.field.tsx
  frontend/app/src/shared/components/form/fields/node-kind.field.tsx
  frontend/app/src/shared/components/form/fields/password-input.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/regular-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-many.field.tsx
  frontend/app/src/shared/components/form/fields/select.field.tsx
  frontend/app/src/shared/components/form/fields/textarea.field.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/canDisplayResetActions.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
Labels: group/frontend

#7062 fixes for diffing and merging a branch into an emtpy default branch
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/integration/schema_lifecycle/test_empty_main_merge.py
  changelog/6484.fixed.md
Labels: group/backend

#7095 prepare release 1.4.1
  CHANGELOG.md
  changelog/7086.fixed.md
  docs/docs/release-notes/infrahub/release-1_4_1.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#7073 Add reverse proxy info
  docs/docs/guides/sso.mdx
Labels: type/documentation

#7103 prepare release 1.4.2
  CHANGELOG.md
  changelog/+3cdf0ab8.fixed.md
  changelog/+pc-revoke-approvals.fixed.md
  docs/docs/release-notes/infrahub/release-1_4_2.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#7102 Migrate generate artifact function to tanstack query
  changelog/7102.fixed.md
  frontend/app/src/entities/artifacts/api/generate-artifact-from-api.ts
  frontend/app/src/entities/artifacts/domain/generate-artifact.mutation.ts
  frontend/app/src/entities/artifacts/domain/generate-artifact.ts
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/entities/artifacts/ui/artifact-generate-button.tsx
  frontend/app/src/entities/artifacts/ui/artifact-header.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
Labels: type/bug, group/frontend, type/housekeeping

#7003 add deployment docs page
  .vale/styles/Infrahub/sentence-case.yml
  .vale/styles/spelling-exceptions.txt
  README.md
  docs/docs/faq/faq.mdx
  docs/docs/guides/production-deployment.mdx
  docs/sidebars.ts
Labels: type/documentation

#7050 docs - community vs enterprise
  .vale/styles/spelling-exceptions.txt
  CLAUDE.md
  docs/docs/faq/faq.mdx
  docs/docs/topics/community-vs-enterprise.mdx
  docs/sidebars.ts
  docs/src/components/HomePage/header.tsx
Labels: type/documentation

#7110 docs: add release notes for version 1.4.3
  docs/docs/release-notes/infrahub/release-1_4_3.mdx
  docs/sidebars.ts
Labels: type/documentation

#7111 docs: update release notes for version 1.4.3
  CHANGELOG.md
  changelog/7102.fixed.md
  docs/docs/release-notes/infrahub/release-1_4_3.mdx
Labels: type/documentation
