Repository opsmill/infrahub, pull requests merged in 2025-07, with the labels that each got.

#6686 Add form context accros forms
  changelog/6686.added.md
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/relationships/api/get-default-parent-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-default-parent.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-default-parent.ts
  frontend/app/src/entities/repository/ui/repository-form.tsx
  frontend/app/src/entities/resource-manager/ui/ip-address-pool-form.tsx
  frontend/app/src/entities/resource-manager/ui/ip-prefix-pool-form.tsx
  frontend/app/src/entities/role-manager/ui/account-form.tsx
  frontend/app/src/entities/role-manager/ui/account-group-form.tsx
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/role-manager/ui/global-permissions-form.tsx
  frontend/app/src/entities/role-manager/ui/object-permissions-form.tsx
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/relationship-many.field.test.tsx
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/regular-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-many.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-parent-constraint.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship.field.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/form-context.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/form/utils/getParentRelationship.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/triggers/triggers.spec.ts
Labels: group/frontend

#6766 fix(ci): run e2e tests only when required
  .github/workflows/ci.yml
Labels: group/ci

#6769 Stable to develop
  .github/workflows/ci.yml
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/diff_locker.py
  backend/infrahub/core/merge.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/dependencies/builder/diff/locker.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/integration/diff/test_merge_rollback.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/ipam/test_ipam_diff_parser.py
  backend/tests/unit/core/test_branch_merge.py
  changelog/6704.fixed.md
Labels: group/backend, group/ci

#6772 Revert upsert mutation to use InputObjectType instead of a dict
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/graphql/mutations/test_webhook.py
  changelog/6641.fixed.md
Labels: group/backend

#6765 Initial instructions for Github Copilot
  .github/instructions/python-docstring.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/tooling.instructions.md
Labels: group/ci

#6798 Fix duplicate `member_type` arg for prefix pool
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  changelog/+prefixpool-member_type.fixed.md
Labels: group/backend

#6792 add infrahub db check command
  backend/infrahub/cli/db.py
  changelog/+db_sanity_cmd.added.md
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation, group/backend

#6805 Remove Cypress
  .github/workflows/ci.yml
  docs/docs/development/frontend/getting-set-up.mdx
  docs/docs/development/frontend/readme.mdx
  docs/docs/development/frontend/testing-guidelines.mdx
  frontend/.gitignore
  frontend/app/.gitignore
  frontend/app/cypress.config.ts
  frontend/app/cypress.d.ts
  frontend/app/cypress/support/commands.ts
  frontend/app/cypress/support/component-index.html
  frontend/app/cypress/support/component.tsx
  frontend/app/cypress/support/e2e.ts
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/nodes/object-item-meta-edit/getMutationMetaDetailsFromFormData.test.ts
  frontend/app/tests/fixtures/account-token-update-date.json
  frontend/app/tests/fixtures/artifacts.json
  frontend/app/tests/fixtures/auth.ts
  frontend/app/tests/fixtures/branches.json
  frontend/app/tests/fixtures/config.json
  frontend/app/tests/fixtures/device-detail-update-name.json
  frontend/app/tests/fixtures/device-items-delete.json
  frontend/app/tests/fixtures/diff-data.json
  frontend/app/tests/fixtures/example.json
  frontend/app/tests/fixtures/info.json
  frontend/app/tests/fixtures/login.json
  frontend/app/tests/fixtures/menu.json
  frontend/app/tests/fixtures/schema.json
  frontend/app/tests/fixtures/schemaSummary.json
  frontend/app/tests/fixtures/storage-new.json
  frontend/app/tests/fixtures/storage-old.json
  frontend/app/tests/integrations/screens/account.cy.tsx
  frontend/app/tests/integrations/screens/app-init.cy.tsx
  frontend/app/tests/integrations/screens/artifact-diff.cy.tsx
  frontend/app/tests/integrations/screens/conversations.cy.tsx
  frontend/app/tests/mocks/data/account-profile.ts
  frontend/app/tests/mocks/data/account.ts
  frontend/app/tests/mocks/data/artifact.ts
  frontend/app/tests/mocks/data/branches.ts
  frontend/app/tests/mocks/data/config.ts
  frontend/app/tests/mocks/data/conversations.ts
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tests/mocks/data/graphqlQueries.ts
  frontend/app/tests/mocks/data/ip-address.ts
  frontend/app/tests/mocks/data/ip-prefix.ts
  frontend/app/tests/mocks/data/number-pool.ts
  frontend/app/tests/mocks/data/permissions.ts
  frontend/app/tests/mocks/data/proposedChanges.ts
  frontend/app/tests/mocks/data/task_1.ts
  frontend/app/tests/mocks/data/task_2.ts
  frontend/app/tests/mocks/data/task_3.ts
  frontend/app/tests/mocks/data/task_4.ts
  frontend/app/tests/mocks/data/task_5.ts
  frontend/app/tests/mocks/data/task_6.ts
  frontend/app/tests/mocks/data/task_7.ts
  frontend/app/tests/mocks/jotai/atom.tsx
  frontend/app/tsconfig.json
  frontend/app/vite.config.ts
Labels: type/documentation, group/frontend, type/housekeeping, group/ci

#6810 Add Infrahub namespace to get resource mutations
  backend/infrahub/graphql/schema.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  changelog/+ifc1601.changed.md
  docs/docs/guides/resource-manager.mdx
Labels: type/documentation, group/backend

#6773 Add configuration for proposed change approval
  backend/infrahub/api/internal.py
  backend/infrahub/config.py
  backend/infrahub/constants/environment.py
  backend/infrahub/server.py
  backend/infrahub/workers/dependencies.py
  backend/tests/unit/api/test_50_internals.py
Labels: group/backend

#6809 Fixed autocompletion in Graphiql 5
  changelog/+graphiql.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/vite.config.ts
Labels: group/frontend, ci/skip-changelog

#6816 fix BranchDelete
  backend/infrahub/core/branch/enums.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/initialization.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/graph/m013_convert_git_password_credential.py
  backend/infrahub/core/migrations/graph/m032_cleanup_orphaned_branch_relationships.py
  backend/infrahub/core/node/standard.py
  backend/infrahub/core/query/branch.py
  backend/tests/unit/core/migrations/graph/test_032.py
  changelog/6797.fixed.md
Labels: group/backend

#6812 duplicate Relationships cleanup migration
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m033_deduplicate_relationship_vertices.py
  backend/tests/unit/core/migrations/graph/test_033.py
  changelog/+delete-dup-rels.fixed.md
Labels: group/backend

#6829 prep release 1.3.3
  CHANGELOG.md
  changelog/+db_sanity_cmd.added.md
  changelog/+delete-dup-rels.fixed.md
  changelog/+graphiql.added.md
  changelog/+integration-test-neo4j.fixed.md
  changelog/+prefixpool-member_type.fixed.md
  changelog/+prevent_dup_rels.fixed.md
  changelog/+run-migration-command.added.md
  changelog/6641.fixed.md
  changelog/6704.fixed.md
  changelog/6797.fixed.md
  docs/docs/release-notes/infrahub/release-1_3_3.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#6823 Fixed validation bug on number attribute using number pool
  changelog/6817.fixed.md
  frontend/app/src/entities/nodes/api/getFormRequirements.ts
  frontend/app/src/entities/resource-manager/api/get-number-pools-from-api.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.query.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.ts
  frontend/app/src/entities/resource-manager/domain/type.ts
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/pool-selector.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
Labels: type/bug, group/frontend

#6786 IFC-1588 Change GraphQL resolver to return available IP prefixes/addresses
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/profile_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/template_schema.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/resolvers/ipam.py
  backend/infrahub/graphql/types/__init__.py
  backend/infrahub/graphql/types/attribute.py
  backend/tests/unit/graphql/queries/test_ipam.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+ifc1588.added.md
  pyproject.toml
Labels: group/backend

#6835 Fixes 500 error on empty schemas list
  backend/infrahub/api/schema.py
  changelog/6834.fixed.md
Labels: group/backend

#6831 diff crash with double-deleted schemas
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/integration/diff/test_diff_rebase.py
  backend/tests/unit/core/diff/test_coordinator.py
  changelog/6830.fixed.md
Labels: group/backend

#6841 Merge stable in develop
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/api/schema.py
  changelog/+graphiql.fixed.md
  changelog/6817.fixed.md
  changelog/6834.fixed.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/nodes/api/getFormRequirements.ts
  frontend/app/src/entities/resource-manager/api/get-number-pools-from-api.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.query.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.ts
  frontend/app/src/entities/resource-manager/domain/type.ts
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/pages/graphql/graphql-worker.ts
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/pool-selector.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
  frontend/app/vite.config.ts
Labels: type/documentation, group/backend, group/frontend, group/ci

#6832 Add py.typed file
  backend/infrahub/py.typed
Labels: group/backend

#6820 Initial version for AI instructions with writing doc
  .github/copilot-instructions.md
  .github/instructions/documentation.instructions.md
  docs/docs/development/docs.mdx
Labels: type/documentation, group/ci

#6813 Add migration for Attribute NumberPool on existing nodes
  backend/infrahub/core/migrations/schema/node_attribute_add.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/validators/node/attribute.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/tasks/registry.py
  backend/tests/functional/pools/test_numberpool_lifecycle.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
  changelog/6802.fixed.md
Labels: group/backend

#6861 Fix Resource Pool utilization query for large IPv6 prefix resource
  backend/infrahub/graphql/queries/resource_manager.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  changelog/6855.fixed.md
Labels: group/backend

#6856 chore: upgrade prefect to 3.4.9
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#6863 Ensure Templates attributes and relationships order weights are aligned with original node.
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/test_node.py
  changelog/6838.fixed.md
Labels: group/backend

#6854 fix orphaned SchemaRelationships bug
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m034_find_orphaned_schema_fields.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/tests/functional/api/test_load_schema.py
  backend/tests/unit/core/migrations/graph/test_034.py
  changelog/6852.fixed.md
Labels: group/backend

#6796 Enhanced List View with Filters and UI Redesign - IFC-1638 - IFC-1543
  changelog/proposed-changes.changed.md
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/object/ui/delete-object-modal.tsx
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-counts-from-api.ts
  frontend/app/src/entities/proposed-changes/api/get-proposed-changes-from-api.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChanges.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesArtifacts.ts
  frontend/app/src/entities/proposed-changes/api/getProposedChangesTasks.ts
  frontend/app/src/entities/proposed-changes/constant.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes-counts.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.query.ts
  frontend/app/src/entities/proposed-changes/domain/get-proposed-changes.ts
  frontend/app/src/entities/proposed-changes/ui/counter.tsx
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
  frontend/app/src/entities/proposed-changes/ui/item-info.tsx
  frontend/app/src/entities/proposed-changes/ui/items.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-item.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter-link.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-table-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-actions-cell.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager-toolbar.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-manager.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-header.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table-skeleton.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-changes-table.tsx
  frontend/app/src/entities/proposed-changes/utils/compute-proposed-change-filters.ts
  frontend/app/src/pages/proposed-changes/items.tsx
  frontend/app/src/shared/components/display/date-display.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_checks.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
Labels: group/frontend

#6872 Stable to develop
  .github/copilot-instructions.md
  .github/instructions/documentation.instructions.md
  CONTRIBUTING.md
  LICENSE.txt
  LICENSING.md
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m034_find_orphaned_schema_fields.py
  backend/infrahub/core/migrations/schema/node_attribute_add.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/node/attribute.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/tasks/registry.py
  backend/tests/functional/api/test_load_schema.py
  backend/tests/functional/pools/test_numberpool_lifecycle.py
  backend/tests/unit/core/migrations/graph/test_034.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
  backend/tests/unit/core/test_node.py
  backend/tests/unit/graphql/queries/test_display_label.py
  backend/tests/unit/graphql/queries/test_resource_pool.py
  backend/tests/unit/graphql/test_graphql_query.py
  changelog/6802.fixed.md
  changelog/6838.fixed.md
  changelog/6845.fixed.md
  changelog/6852.fixed.md
  changelog/6855.fixed.md
  docs/docs/development/docs.mdx
  docs/docs/topics/graphql.mdx
  docs/docs/tutorials/getting-started/graphql-query.mdx
  frontend/app/src/shared/components/search/search-actions.tsx
  frontend/app/src/shared/components/search/search-nodes.tsx
  pyproject.toml
Labels: type/documentation, group/backend, group/frontend, group/ci

#6878 add registry initialization to migration
  backend/infrahub/core/migrations/graph/m034_find_orphaned_schema_fields.py
  backend/tests/unit/core/migrations/graph/test_034.py
Labels: group/backend

#6874 IFC-1690 Fix available prefixes when parent prefix is empty
  backend/infrahub/graphql/resolvers/ipam.py
  backend/tests/unit/graphql/queries/test_ipam.py
Labels: group/backend

#6893 Fix repository objects view
  changelog/repo-objects.fixed.md
  frontend/app/src/entities/repository/domain/get-repository-group.ts
  frontend/app/src/entities/repository/ui/repository-objects-manager.tsx
  frontend/app/src/entities/repository/ui/repository-objects-tab.tsx
  frontend/app/src/shared/components/errors/no-data-found.tsx
  frontend/app/tests/e2e/repository/repository-objects.spec.ts
Labels: group/frontend

#6894 Adding service catalog to the getting started doc
  docs/docs/getting-started/quick-start.mdx
Labels: type/documentation

#6899 Lock on names for GraphQLQueryGroup
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/core/test_get_kinds_lock.py
Labels: group/backend

#6868 IFC-1637 Add permission to review proposed changes
  backend/infrahub/cli/upgrade.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/initialization.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/permissions/globals.py
  backend/tests/functional/proposed_change/test_proposed_change_review.py
  backend/tests/helpers/test_app.py
  changelog/+ifc1637.added.md
Labels: group/backend

#6870 Display available IP prefixes in list view
  changelog/+ifc1586.added.md
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/ipam/ip-prefix-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-prefixes/api/get-ip-prefix-list-from-api.ts
  frontend/app/src/entities/ipam/ip-prefixes/domain/get-ip-prefix-list.ts
  frontend/app/src/entities/ipam/ip-prefixes/types.ts
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-available-identifier.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/filters/active-object-filter-tags.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/object-actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/style.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-actions-column.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-remove-from-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-objects-modal.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-delete-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/table/data-table.tsx
  frontend/app/src/shared/components/table/style.tsx
  frontend/app/src/shared/hooks/useFilters.ts
Labels: type/feature, group/frontend, cd/preview

#6922 Remove prefect events ASC flaky test
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

#6925 Add prefix length to IP range addresses
  backend/infrahub/graphql/resolvers/ipam.py
Labels: group/backend

#6920 Display available ip addresses in ip address list view
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/ipam/ip-addresses/api/get-ip-address-list-from-api.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.query.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/get-ip-address-list.ts
  frontend/app/src/entities/ipam/ip-addresses/domain/types.ts
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-create-form-trigger.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-available-identifier.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-attributes-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-relationships-visible-in-list-view.ts
  frontend/app/src/entities/ipam/ip-addresses/utils/get-ip-address-table-columns.tsx
  frontend/app/src/entities/ipam/ip-prefixes/ui/ip-prefix-availability-filter-tag.tsx
  frontend/app/src/entities/ipam/ip-prefixes/utils/get-ip-prefix-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/filters/active-object-filter-tags.tsx
Labels: type/feature, group/frontend

#6877 Introduce new categories
  docs/sidebars.ts
  docs/src/css/custom.css
Labels: type/documentation

#6919 Add ProposedChange.total_comments readonly property
  backend/infrahub/core/initialization.py
  backend/infrahub/core/node/proposed_change.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/tests/functional/proposed_change/test_comment_counts.py
  backend/tests/functional/proposed_change/test_review.py
Labels: group/backend

#6930 IP Prefix details page now show the list of members first instead of full details
  changelog/+ifc1586.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/ip-addresses/ui/ip-address-table.tsx
  frontend/app/src/entities/ipam/ip-namespaces/ui/ip-namespace-tabs.tsx
  frontend/app/src/entities/ipam/ipam-details-tabs.tsx
  frontend/app/src/pages/ipam/ipam-details-index-page.tsx
  frontend/app/src/pages/ipam/ipam-details-layout.tsx
  frontend/app/src/shared/components/ui/link.tsx
  frontend/app/tests/e2e/ipam/ip-prefix-list.spec.ts
Labels: type/feature, group/frontend
