Repository opsmill/infrahub, pull requests merged in 2025-06, with the labels that each got.

#6580 update cypher query to use less memory
  backend/infrahub/core/diff/query/save.py
  changelog/6568.fixed.md
Labels: group/backend

#6588 update menu with new IPAM URL
  backend/infrahub/menu/menu.py
  backend/tests/unit/menu/conftest.py
Labels: group/backend, cd/preview

#6591 Stable to develop
  backend/infrahub/core/diff/query/save.py
  changelog/+generic-one.fixed.md
  docs/docs/topics/schema.mdx
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-detailed-view.test.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-detailed-view.ts
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: type/documentation, group/backend, group/frontend

#6594 remove txn for diff calculation in pc pipeline
  backend/infrahub/message_bus/operations/requests/proposed_change.py
Labels: group/backend

#6602 Prep release 1.2.12
  CHANGELOG.md
  changelog/+add-missing-sessions.fixed.md
  changelog/+generic-one.fixed.md
  changelog/+posthumous-edges.fixed.md
  changelog/6478.fixed.md
  changelog/6502.fixed.md
  changelog/6568.fixed.md
  docs/docs/release-notes/infrahub/release-1_2_12.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#6606 Stable to release 1.3
  CHANGELOG.md
  backend/infrahub/proposed_change/tasks.py
  changelog/+add-missing-sessions.fixed.md
  changelog/+generic-one.fixed.md
  changelog/+posthumous-edges.fixed.md
  changelog/6478.fixed.md
  changelog/6502.fixed.md
  changelog/6568.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_2_12.mdx
  docs/sidebars.ts
Labels: type/documentation, group/backend

#6608 Restrict range modifications on schema defined number pools
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
Labels: group/backend

#6607 Fix importing repository objects twice
  backend/infrahub/git/integrator.py
Labels: group/backend

#6622 Added a link "Raw" to open raw artifact file in a new tab
  changelog/6513.added.md
  frontend/app/src/entities/artifacts/ui/artifact-file-button.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-copy.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-download.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file.tsx
Labels: type/feature, group/frontend

#6610 make the assertion errors in db_snapshot.py more verbose in pytest
  backend/tests/conftest.py
Labels: group/backend

#6619 Dropdown enum cleanup
  backend/infrahub/actions/constants.py
Labels: group/backend

#6621 Add missing kinds for Trigger rule setup in Prefect
  backend/infrahub/actions/constants.py
Labels: group/backend

#6633 Add display labels for matches
  backend/infrahub/actions/schema.py
Labels: group/backend

#6623 Remove delete option for node trigger rules (for now)
  backend/infrahub/actions/constants.py
  backend/tests/unit/actions/test_gather.py
Labels: group/backend

#6635 Switch action dropdown color scheme
  backend/infrahub/actions/constants.py
Labels: group/backend

#6640 Ensure to correctly use the same parent constraint
  frontend/app/src/entities/schema/ui/relationship-display.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/relationship-parent-constraint.field.tsx
Labels: group/frontend

#6630 add psutil to install procedures for `invoke bundle.collect`
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/installation.mdx
Labels: type/documentation

#6637 Forbid overriding a generic numberpool at a node level
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
Labels: group/backend

#6645 add schema strict mode documentation
  docs/docs/reference/configuration.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation

#6598 Display repository objects in a dedicated tab - IFC-1529
  changelog/6598.added.md
  frontend/app/src/entities/nodes/object-item-details/action-buttons/index.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object/ui/object-tabs.tsx
  frontend/app/src/entities/nodes/relationships/api/get-relationship-count-from-api.ts
  frontend/app/src/entities/nodes/relationships/ui/object-details-tab-content.tsx
  frontend/app/src/entities/repository/api/get-repository-group-from-api.ts
  frontend/app/src/entities/repository/constant.tsx
  frontend/app/src/entities/repository/domain/get-repository-group.query.ts
  frontend/app/src/entities/repository/domain/get-repository-group.ts
  frontend/app/src/entities/repository/ui/repository-objects-manager.tsx
  frontend/app/src/entities/repository/ui/repository-objects-tab.tsx
  frontend/app/src/entities/tasks/ui/task-tab.tsx
Labels: group/frontend

#6648 Fix repository validator state
  backend/infrahub/git/tasks.py
Labels: group/backend

#6631 skip broken test
  backend/tests/db_snapshot.py
  backend/tests/unit/core/migrations/graph/test_023.py
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
Labels: group/backend

#6649 Add images for new IPAM
  docs/docs/media/guides/resources-manager/resource_manager_rss_prefix_10_100_0.png
  docs/docs/media/guides/resources-manager/resource_manager_rss_prefix_10_100_1.png
Labels: type/documentation

#6413 Getting started refactoring
  .github/workflows/sync-docs.yml
  docs/docs/faq/faq.mdx
  docs/docs/getting-started/concepts.mdx
  docs/docs/getting-started/next-steps.mdx
  docs/docs/getting-started/overview.mdx
  docs/docs/getting-started/quick-start.mdx
  docs/docs/guides/artifact.mdx
  docs/docs/guides/check.mdx
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/import-schema.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/home.mdx
  docs/docs/overview/data.mdx.old
  docs/docs/overview/generators.mdx.old
  docs/docs/overview/integrations.mdx.old
  docs/docs/overview/interfaces.mdx.old
  docs/docs/overview/readme.mdx.old
  docs/docs/overview/schema.mdx.old
  docs/docs/overview/transformations.mdx.old
  docs/docs/overview/versioning.mdx.old
  docs/docs/readme.mdx
  docs/docs/topics/resources-testing-framework.mdx
  docs/docs/topics/tasks.mdx
  docs/docs/tutorials/getting-started/rendering-configuration.mdx
  docs/sidebars.ts
  docs/src/components/HomePage/card.tsx
  docs/src/components/HomePage/header.tsx
  docs/src/components/HomePage/styles.module.css
  docs/static/img/ansible.svg
  docs/static/img/arrow-right.svg
  docs/static/img/discord.png
  docs/static/img/education.svg
  docs/static/img/github.png
  docs/static/img/infrahub.svg
  docs/static/img/nornir.png
  docs/static/img/python.svg
  docs/static/img/sync.svg
  docs/static/img/yaml.png
  docs/static/medias/demo.mp4
Labels: type/documentation, group/ci

#6642 Add Common Parent in Schema Topic
  docs/docs/topics/schema.mdx
  models/base/dcim.yml
Labels: type/documentation

#6654 spelling & linting
  .vale/styles/spelling-exceptions.txt
  docs/docs/getting-started/concepts.mdx
  docs/docs/getting-started/next-steps.mdx
  docs/docs/guides/create-schema.mdx
Labels: type/documentation

#6618 Create attribute based NumberPools when the schema is updated
  backend/infrahub/pools/tasks.py
  backend/tests/functional/pools/test_numberpool_lifecycle.py
Labels: group/backend

#6644 new DiffRepository method to delete all diffs
  backend/infrahub/core/diff/query/delete_query.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/graph/m016_diff_delete_bug_fix.py
  backend/infrahub/core/migrations/graph/m028_delete_diffs.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
Labels: group/backend

#6658 Allow for optional relationships to be missing in computed attributes
  backend/infrahub/core/node/__init__.py
  changelog/6426.fixed.md
Labels: group/backend

#6661 Refresh GraphQL schema after a branch rebase operation
  backend/infrahub/message_bus/operations/refresh/registry.py
  changelog/6561.fixed.md
Labels: group/backend

#6664 Merge stable back into release-1.3
  docs/docs/guides/python-transform.mdx
  docs/docs/topics/webhooks.mdx
Labels: type/documentation

#6653 make diff update methods prefect flows
  backend/infrahub/core/diff/coordinator.py
Labels: group/backend

#6672 Fixed overfetching in hierarchical tree view
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/shared/utils/element.ts
Labels: type/bug, group/frontend

#6680 Disable flaky event test
  frontend/app/tests/e2e/events/events-rules-actions.spec.ts
Labels: group/frontend

#6682 add graphql videos to docs
  docs/docs/topics/graphql.mdx
  docs/docs/tutorials/getting-started/graphql-query.mdx
  docs/package-lock.json
  docs/package.json
Labels: type/documentation

#6685 Bump release date and add delay to test
  CHANGELOG.md
  backend/tests/integration/schema_lifecycle/test_migration_attribute_branch.py
Labels: group/backend

#6595 allow renaming unique attrs
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/shared.py
  backend/tests/integration/schema_lifecycle/test_migration_attribute_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_main.py
  backend/tests/integration/schema_lifecycle/test_unique_field_updates.py
  backend/tests/unit/core/node/__init__.py
  backend/tests/unit/core/node/test_node_field_name_update.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/6147.fixed.md
Labels: group/backend

#6690 Enable Biome rule "noExportsInTest"
  frontend/app/biome.json
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.test.ts
  frontend/app/tests/e2e/triggers/triggers.spec.ts
  frontend/app/tests/fake/form.ts
  frontend/app/tests/fake/schema.ts
  frontend/app/tests/unit/components/filters/getObjectFromFilters.test.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#6705 clarify migration guide in 1.3.0 release notes
  docs/docs/release-notes/infrahub/release-1_3_0.mdx
Labels: type/documentation

#6697 Upgrade Prefect to 3.4.6
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: group/backend

#6721 Fix return-value in SchemaBranch
  backend/infrahub/core/schema/schema_branch.py
  pyproject.toml
Labels: group/backend

#6723 Fix untyped def in proposed change mutation
  backend/infrahub/graphql/mutations/proposed_change.py
  pyproject.toml
Labels: group/backend

#6727 Fix untyped def for node
  backend/infrahub/core/node/__init__.py
  pyproject.toml
Labels: group/backend

#6722 Fix schema manager return values
  backend/infrahub/core/schema/manager.py
  pyproject.toml
Labels: group/backend

#6752 refactor tracking node specifiers to perform better
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/query_parser.py
  changelog/6751.fixed.md
Labels: group/backend

#6745 Fixed: min/max constraints no longer trigger on empty values when the field is optional
  changelog/6671.fixed.md
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/entities/role-manager/ui/account-form.tsx
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/role-manager/ui/global-permissions-form.tsx
  frontend/app/src/entities/role-manager/ui/object-permissions-form.tsx
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/entities/schema/utils/validation/validate-number-attribute.test.ts
  frontend/app/src/entities/schema/utils/validation/validate-number-attribute.ts
  frontend/app/src/entities/schema/utils/validation/validate-relationship-many.ts
  frontend/app/src/entities/schema/utils/validation/validate-text-attribute.test.ts
  frontend/app/src/entities/schema/utils/validation/validate-text-attribute.ts
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
  frontend/app/src/entities/triggers/ui/node-relationship-match-form.tsx
  frontend/app/src/entities/user-profile/ui/token-schema.ts
  frontend/app/src/shared/components/form/fields/number.field.tsx
  frontend/app/src/shared/components/form/fields/relationship-many.field.test.tsx
  frontend/app/src/shared/components/form/fields/relationship-many.field.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/validation.test.ts
  frontend/app/src/shared/components/form/utils/validation.ts
Labels: type/bug, group/frontend

#6756 Fixed search in object template selector during creation form
  changelog/6724.fixed.md
  frontend/app/src/entities/nodes/object-template/object-template-autocomplete.tsx
Labels: type/bug, group/frontend
