Repository opsmill/infrahub, pull requests merged in 2025-02, with the labels that each got.

#5641 Updates for relationships for Node changelog
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/relationship/model.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_changelog.py
Labels: group/backend

#5651 Merge stable back into develop with resolved pyproject conflicts
  CHANGELOG.md
  backend/infrahub/api/oidc.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/api/test_oidc.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  changelog/+diff-perf.fixed.md
  changelog/3489.added.md
  changelog/3682.fixed.md
  changelog/5452.added.md
  changelog/5563.fixed.md
  changelog/5573.fixed.md
  docker-compose.yml
  docs/docs/faq/faq.mdx
  docs/docs/integrations/infrahub-ansible/readme.mdx
  docs/docs/integrations/nornir-infrahub/readme.mdx
  docs/docs/integrations/readme.mdx
  docs/docs/integrations/sync/guides/creation.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
  docs/docs/integrations/sync/guides/installation.mdx
  docs/docs/integrations/sync/guides/run.mdx
  docs/docs/integrations/sync/readme.mdx
  docs/docs/integrations/sync/reference/cli.mdx
  docs/docs/integrations/sync/reference/config.mdx
  docs/docs/media/infrahub_sync_process.excalidraw.svg
  docs/docs/media/release_notes/infrahub_1_1_6/json_artifact.png
  docs/docs/media/release_notes/infrahub_1_1_6/markdown_artifact_preview.png
  docs/docs/media/release_notes/infrahub_1_1_6/markdown_artifact_raw.png
  docs/docs/media/release_notes/infrahub_1_1_6/svg_artifact.png
  docs/docs/media/release_notes/infrahub_1_1_6/text_artifact.png
  docs/docs/media/release_notes/infrahub_1_1_6/yaml_artifact.png
  docs/docs/overview/data.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
  docs/docs/release-notes/infrahub/release-1_1_6.mdx
  docs/package-lock.json
  docs/sidebars.ts
  frontend/app/src/entities/proposed-changes/ui/diff-filter.tsx
  frontend/app/src/entities/proposed-changes/ui/diff-summary.tsx
  frontend/app/src/pages/homepage.tsx
  helm/Chart.yaml
Labels: type/documentation, group/backend, group/frontend

#5639 Docs: Add videos to docs.
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/artifact.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/ipam.mdx
  docs/docs/topics/proposed-change.mdx
  docs/docs/topics/schema.mdx
  docs/docs/topics/version-control.mdx
  docs/docs/tutorials/getting-started/branches.mdx
  docs/package-lock.json
  docs/package.json
Labels: type/documentation

#5656 Reworked Account tokens view
  changelog/+account-tokens.changed.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/groups/ui/groups-auto-generated-filter-button.tsx
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object-items/object-items-paginated.tsx
  frontend/app/src/entities/user-profile/api/createAccountToken.ts
  frontend/app/src/entities/user-profile/api/get-account-token-from-api.ts
  frontend/app/src/entities/user-profile/domain/get-infrahub-account-token.query.ts
  frontend/app/src/entities/user-profile/domain/get-infrahub-account-token.ts
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-delete-action.tsx
  frontend/app/src/entities/user-profile/ui/account-token-item.tsx
  frontend/app/src/entities/user-profile/ui/account-token-list.tsx
  frontend/app/src/entities/user-profile/ui/tab-tokens.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/utils/date.ts
  frontend/app/tests/e2e/profile/account-tokens.spec.ts
Labels: type/bug, type/feature, group/frontend

#5655 Fix CoreNumberPool utilization
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
Labels: group/backend

#5663 fix diff limit/offset logic
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

#5662 Fixed overflow issues on sidebar's menu
  changelog/+menu.fixed.md
  frontend/app/src/shared/components/account-menu.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
Labels: type/bug, group/frontend

#5659 Exclude node properties from node events
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/ipam.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/core/test_node.py
  changelog/5664.changed.md
Labels: group/backend

#5617 allow updating a diff when saving instead of forcing a create
  backend/infrahub/core/diff/query/save.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

#5652 add test and changes for a relationship identifier migration
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_path_identifier_enricher.py
Labels: group/backend

#5643 Add containerlab to codespace image
  .devcontainer/Dockerfile
  changelog/458.added.md
Labels: dependencies

#5668 stable -> develop
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/core/attribute.py
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/node/ipam.py
  backend/infrahub/core/node/permissions.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/core/validators/uniqueness/query.py
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_constraint_query.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/core/diff/test_path_identifier_enricher.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/core/test_node.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+menu.fixed.md
  changelog/5664.changed.md
  docs/docs/guides/artifact.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/ipam.mdx
  docs/docs/topics/proposed-change.mdx
  docs/docs/topics/schema.mdx
  docs/docs/topics/version-control.mdx
  docs/docs/tutorials/getting-started/branches.mdx
  docs/package-lock.json
  docs/package.json
  frontend/app/src/shared/components/account-menu.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
Labels: type/documentation, group/backend, group/frontend

#5654 Refactor InfrahubEvent query
  backend/infrahub/api/schema.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/events/repository_action.py
  backend/infrahub/events/schema_action.py
  backend/infrahub/git/integrator.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/types/enums.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/git/test_git_repository.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/graphql/test_mutation_update.py
Labels: group/backend

#5667 Add node_changelog for deleted nodes & cardinaly many relationships
  backend/infrahub/core/attribute.py
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/test_changelog.py
Labels: group/backend

#5666 Split node diff into multiple components
  frontend/app/src/entities/branches/api/rebase-branch-from-api.ts
  frontend/app/src/entities/branches/api/rebaseBranch.ts
  frontend/app/src/entities/branches/domain/rebase-branch.ts
  frontend/app/src/entities/branches/ui/branch-rebase-button.tsx
  frontend/app/src/entities/diff/api/diff-update.ts
  frontend/app/src/entities/diff/api/update-diff-from-api.ts
  frontend/app/src/entities/diff/checks/conflict.tsx
  frontend/app/src/entities/diff/domain/update-diff.mutation.ts
  frontend/app/src/entities/diff/domain/update-diff.ts
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/node-diff/node-attribute.tsx
  frontend/app/src/entities/diff/node-diff/node-property.tsx
  frontend/app/src/entities/diff/node-diff/node-relationship-element.tsx
  frontend/app/src/entities/diff/node-diff/thread.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/diff/ui/diff-badge.tsx
  frontend/app/src/entities/diff/ui/diff-computing.tsx
  frontend/app/src/entities/diff/ui/diff-empty.tsx
  frontend/app/src/entities/diff/ui/diff-no-found.tsx
  frontend/app/src/entities/diff/ui/diff-rebase-button.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
  frontend/app/src/entities/diff/ui/diff-tree.tsx
  frontend/app/src/entities/diff/utils.tsx
  frontend/app/src/entities/proposed-changes/ui/diff-filter.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/unit/diff/diff-tree/formatDiffNodesToDiffTree.test.ts
  frontend/app/tests/unit/diff/diff-tree/generateRootCategoryNodeForDiffTree.test.ts
Labels: type/bug, group/frontend

#5676 Incrementally load node diff in UI view
  frontend/app/src/entities/diff/api/get-diff-tree-from-api.ts
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
Labels: type/bug, group/frontend

#5677 Add ability to filter events on multiple levels
  backend/infrahub/events/models.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

#5680 fix(ci): remove chromium netlink workaround
  .github/workflows/ci.yml
Labels: group/ci

#5678 Added BranchesProvider to guarantee branch availability
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/branches/api/get-branches-from-api.ts
  frontend/app/src/entities/branches/domain/get-branches.query.ts
  frontend/app/src/entities/branches/domain/get-branches.ts
  frontend/app/src/entities/branches/ui/branches-items.tsx
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/shared/components/branch-selector.tsx
  frontend/app/src/shared/components/form/branch-create-form.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/tests/integrations/screens/branche-items.cy.tsx
Labels: type/bug, group/frontend

#5682 Improvement and fixes on data diff view
  changelog/+data-diff.added.md
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/node-diff/index.tsx
Labels: type/feature, group/frontend

#5685 FIX: set main as current branch, when a branch is not found
  frontend/app/src/entities/branches/domain/get-branches.ts
  frontend/app/src/entities/branches/ui/branches-provider.tsx
Labels: type/bug, group/frontend

#5683 Merge stable into develop
  changelog/+data-diff.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/branches/api/get-branches-from-api.ts
  frontend/app/src/entities/branches/api/rebase-branch-from-api.ts
  frontend/app/src/entities/branches/api/rebaseBranch.ts
  frontend/app/src/entities/branches/domain/get-branches.query.ts
  frontend/app/src/entities/branches/domain/get-branches.ts
  frontend/app/src/entities/branches/domain/rebase-branch.ts
  frontend/app/src/entities/branches/ui/branch-rebase-button.tsx
  frontend/app/src/entities/branches/ui/branches-items.tsx
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/entities/diff/api/diff-update.ts
  frontend/app/src/entities/diff/api/get-diff-tree-from-api.ts
  frontend/app/src/entities/diff/api/update-diff-from-api.ts
  frontend/app/src/entities/diff/checks/conflict.tsx
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/domain/update-diff.mutation.ts
  frontend/app/src/entities/diff/domain/update-diff.ts
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/diff/node-diff/index.tsx
  frontend/app/src/entities/diff/node-diff/node-attribute.tsx
  frontend/app/src/entities/diff/node-diff/node-property.tsx
  frontend/app/src/entities/diff/node-diff/node-relationship-element.tsx
  frontend/app/src/entities/diff/node-diff/thread.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/diff/ui/diff-badge.tsx
  frontend/app/src/entities/diff/ui/diff-computing.tsx
  frontend/app/src/entities/diff/ui/diff-empty.tsx
  frontend/app/src/entities/diff/ui/diff-no-found.tsx
  frontend/app/src/entities/diff/ui/diff-rebase-button.tsx
  frontend/app/src/entities/diff/ui/diff-refresh-button.tsx
  frontend/app/src/entities/diff/ui/diff-tree.tsx
  frontend/app/src/entities/diff/utils.tsx
  frontend/app/src/entities/proposed-changes/ui/diff-filter.tsx
  frontend/app/src/shared/components/branch-selector.tsx
  frontend/app/src/shared/components/conversations/thread.tsx
  frontend/app/src/shared/components/form/branch-create-form.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-branch-selector.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/integrations/screens/branche-items.cy.tsx
  frontend/app/tests/unit/diff/diff-tree/formatDiffNodesToDiffTree.test.ts
  frontend/app/tests/unit/diff/diff-tree/generateRootCategoryNodeForDiffTree.test.ts
Labels: group/frontend, ci/skip-changelog

#5688 Add pagination support for InfrahubEvent through InfrahubEventNext
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

#5690 Add RelationshipManager.get_parent()
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/core/test_relationship_manager.py
Labels: group/backend

#5660 Update data integrity checks UI - IFC-1158
  changelog/+checks.fixed.md
  frontend/app/src/entities/diff/api/getCheckDetails.ts
  frontend/app/src/entities/diff/api/getValidatorDetails.ts
  frontend/app/src/entities/diff/api/getValidators.ts
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/diff/checks/conflict.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: type/feature, group/frontend

#5686 Block the merge button only if there is ongoing tasks for the proposed change
  changelog/5565.fixed.md
  frontend/app/src/entities/diff/node-diff/conflict.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/tasks/api/checkTasksItemDetails.ts
Labels: type/bug, group/frontend

#5689 Update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend, type/housekeeping

#5694 Update to React 19
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/diff/node-diff/comments.tsx
  frontend/app/src/entities/diff/node-diff/thread.tsx
  frontend/app/src/entities/schema/decorators/withSchemaContext.tsx
  frontend/app/src/shared/components/display/slide-over.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/components/search/search-anywhere-context.ts
  frontend/app/src/shared/components/search/search-anywhere.tsx
  frontend/app/src/shared/components/ui/form.tsx
  frontend/app/src/shared/lib/use-query-params.ts
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: group/frontend, type/housekeeping

#5696 update readme
  CONTRIBUTING.md
  README.md
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
Labels: type/documentation

#5698 Merge stable back into develop with conflict resolution
  CONTRIBUTING.md
  README.md
  changelog/+checks.fixed.md
  changelog/5565.fixed.md
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
  frontend/app/src/entities/diff/api/getCheckDetails.ts
  frontend/app/src/entities/diff/api/getValidatorDetails.ts
  frontend/app/src/entities/diff/api/getValidators.ts
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/diff/checks/conflict.tsx
  frontend/app/src/entities/diff/node-diff/conflict.tsx
  frontend/app/src/entities/diff/node-diff/utils.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/tasks/api/checkTasksItemDetails.ts
Labels: type/documentation, group/frontend

#5701 Don't collect 'source' and 'owner' for relationship
  backend/infrahub/graphql/mutations/relationship.py
Labels: group/backend

#5700 Add events from relationship updates
  backend/infrahub/core/changelog/models.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/models.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  pyproject.toml
Labels: group/backend

#5704 IFC-681 Use same transaction for object mutate create
  backend/infrahub/graphql/mutations/main.py
  changelog/4303.fixed.md
Labels: group/backend

#5710 fix links
  docs/docs/overview/data.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
Labels: type/documentation

#5706 Tests and fixes for InfrahubContext
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/workers/utils.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/api/test_10_query.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_repository.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

#5707 Remove client init method from documentation
  docs/docs/python-sdk/guides/resource-manager.mdx
Labels: type/documentation

#5699 Better filter UI/UX for relationship columns + added is empty / is not empty condition
  frontend/app/src/entities/nodes/edit-form-hook/dynamic-control-types.ts
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/filters/active-filter-tags.tsx
  frontend/app/src/entities/nodes/object/ui/filters/filter-condition-select.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/style.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-row-identifier.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-input.tsx
  frontend/app/src/shared/components/aria/list-box.tsx
  frontend/app/src/shared/components/aria/popover.tsx
  frontend/app/src/shared/components/aria/select.tsx
  frontend/app/src/shared/components/buttons/button-primitive.tsx
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.ts
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/inputs/select-old.tsx
  frontend/app/src/shared/components/ui/combobox.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: type/feature, group/frontend

#5578 Add support for Context in backend
  backend/infrahub/api/artifact.py
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/query.py
  backend/infrahub/api/schema.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/context.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/messages/event_branch_merge.py
  backend/infrahub/message_bus/messages/request_proposedchange_pipeline.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/services/adapters/workflow/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/workers/utils.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/api/test_10_query.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_repository.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5716 Merge stable into develop
  README.md
  backend/infrahub/graphql/mutations/main.py
  changelog/4303.fixed.md
  docs/docs/overview/data.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/readme.mdx
  docs/docs/python-sdk/guides/resource-manager.mdx
Labels: type/documentation, group/backend, ci/skip-changelog

#5715 Fix illegal test dataset
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch.py
  backend/tests/unit/core/test_branch_merge.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

#5717 Improved UI/UX on attribute filters
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/dynamic-filter-input.tsx
  frontend/app/src/entities/nodes/object/ui/filters/filter-condition-select.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/table-column-header.tsx
  frontend/app/src/shared/components/aria/radio-group.tsx
  frontend/app/src/shared/components/filters/filter-kind-selector.tsx
  frontend/app/src/shared/components/filters/utils/get-current-filter-condition.ts
  frontend/app/src/shared/components/inputs/dropdown.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: type/feature, group/frontend

#5726 Revert changes to base_dataset_02 fixture
  backend/tests/unit/conftest.py
  backend/tests/unit/core/test_branch.py
  backend/tests/unit/core/test_branch_merge.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/core/test_node_query.py
Labels: group/backend

#5727 Ensure SearchAnyWhere resolver returns valid responses
  backend/infrahub/graphql/queries/search.py
  backend/tests/unit/graphql/queries/test_search.py
Labels: group/backend

#5720 Add API wrapper to Prefect for custom endpoints
  .github/workflows/version-upgrade.yml
  backend/infrahub/events/models.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/prefect_server/__init__.py
  backend/infrahub/prefect_server/app.py
  backend/infrahub/prefect_server/database.py
  backend/infrahub/prefect_server/events.py
  backend/infrahub/prefect_server/models.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/queries/test_event.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  development/docker-compose.local-build-deps.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
Labels: group/backend, group/ci

#5728 Added support on UI for relationships' min_count and max_count
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/validation.test.ts
  frontend/app/src/shared/components/form/utils/validation.ts
  frontend/app/tests/fake/node.ts
Labels: type/feature, group/frontend

#5708 Add nodes activities in the details view
  changelog/+activities.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/api/get-events.ts
  frontend/app/src/entities/events/ui/branch-event.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/entities/events/utils/constants.ts
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
  frontend/app/src/pages/activities/details.tsx
  frontend/app/src/pages/activities/index.tsx
  frontend/app/src/shared/components/ui/timeline-border.tsx
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: type/feature, group/frontend

#5724 only return diff metadata after update
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/aggregated.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/all_conflicts.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query/field_summary.py
  backend/infrahub/core/diff/query/has_conflicts_query.py
  backend/infrahub/core/diff/query/merge_tracking_id.py
  backend/infrahub/core/diff/query/roots_metadata.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/time_range_query.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/utils.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/graphql/diff/__init__.py
  backend/tests/unit/graphql/diff/test_diff_tree_query.py
  backend/tests/unit/graphql/diff/test_diff_update_mutation.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
Labels: group/backend

#5745 Stable to develop
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/aggregated.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/all_conflicts.py
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query/field_summary.py
  backend/infrahub/core/diff/query/has_conflicts_query.py
  backend/infrahub/core/diff/query/merge_tracking_id.py
  backend/infrahub/core/diff/query/roots_metadata.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/time_range_query.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/utils.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/graphql/diff/__init__.py
  backend/tests/unit/graphql/diff/test_diff_tree_query.py
  backend/tests/unit/graphql/diff/test_diff_update_mutation.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/guides/installation.mdx
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: type/documentation, group/backend

#5730 Add basic integration test for the http service adapter
  backend/infrahub/services/adapters/http/httpx.py
  backend/tests/integration/services/adapters/http/__init__.py
  backend/tests/integration/services/adapters/http/test_httpx.py
  changelog/5553.housekeeping.md
Labels: group/backend

#5751 Merge stable into develop
  .github/workflows/sync-docs.yml
  poetry.lock
Labels: group/ci

#5729 Improve relationship group events for member of groups
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#5742 Add the restrictions for `computed_attribute` with Generics Nodes
  docs/docs/topics/computed-attributes.mdx
Labels: type/documentation

#5746 publish pypi: infrahub-testcontainers
  .github/workflows/publish-pypi.yml
Labels: group/ci

#5749 Updated Infrahub global layout
  changelog/+new-layout.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/assets/infrahub-logo.svg
  frontend/app/src/entities/diff/ui/diff-empty.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/tasks/ui/task-status.tsx
  frontend/app/src/pages/graphql/index.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/proposed-changes/details.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/pages/resource-manager/resource-pool-details.tsx
  frontend/app/src/pages/schema.tsx
  frontend/app/src/shared/components/account-menu.tsx
  frontend/app/src/shared/components/layout/content.tsx
  frontend/app/src/shared/components/layout/header.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-object.tsx
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/layout/sidebar.tsx
  frontend/app/src/shared/components/time-selector.tsx
Labels: type/feature, group/frontend

#5759 Made object list retrieval faster with an optimized query
  changelog/+faster-object-list.changed.md
  frontend/app/src/entities/nodes/object-item-edit/generateObjectEditFormQuery.ts
  frontend/app/src/shared/api/graphql/utils.test.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend, type/housekeeping

#5712 handle diff summary counts at the database level
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/enricher/summary_counts.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/summary_counts_enricher.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/infrahub/dependencies/builder/diff/enricher/summary_counts.py
  backend/tests/unit/core/diff/repository/__init__.py
  backend/tests/unit/core/diff/repository/base.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
Labels: group/backend

#5734 Add option to have parent events and send secondary events
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/models.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/helpers/events.py
  backend/tests/unit/core/test_changelog.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

#5762 Stable to develop
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/summary_counts_enricher.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/dependencies/builder/diff/coordinator.py
  backend/tests/unit/core/diff/repository/__init__.py
  backend/tests/unit/core/diff/repository/base.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_cardinality_one_enricher.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
Labels: group/backend

#5761 [Regression] Fix scrolling on hierarchical object list
  frontend/app/src/pages/objects/layout.tsx
Labels: type/feature, group/frontend, ci/skip-changelog

#5765 node vs. generic
  docs/docs/topics/schema.mdx
Labels: type/documentation

#5758 Add context to triggers/automations
  backend/infrahub/api/schema.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/models.py
  backend/infrahub/git/integrator.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/services/adapters/event/__init__.py
  backend/tests/helpers/events.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_update.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

#5763 Only send node mutation events when there has been a change
  backend/infrahub/core/changelog/models.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

#5767 Extracted data table component for flexibility
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/color-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/dropdown-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-body-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header-icon.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-row-identifier.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/url-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-empty.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-skeleton.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/objects-table.tsx
  frontend/app/src/entities/nodes/relationships/api/get-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/entities/nodes/types.ts
  frontend/app/src/entities/schema/hooks/useSchema.ts
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/src/pages/objects/object-items.tsx
  frontend/app/src/pages/resource-manager/index.tsx
  frontend/app/src/shared/components/table/infinite-data-table.tsx
  frontend/app/src/shared/components/table/style.tsx
  frontend/app/src/shared/components/table/table-cell.tsx
Labels: group/frontend

#5770 Don't send node mutation events for group add/remove events
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#5671 only get and save the parts of the diff we need
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/filters.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/factories.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  changelog/+diff-performance.fixed.md
Labels: group/backend

#5766 Add additional parameters to InfrahubEvent
  backend/infrahub/core/changelog/models.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

#5773 add blog link to docs
  docs/docs/guides/generator.mdx
  docs/docs/overview/data.mdx
  docs/docs/overview/generators.mdx
  docs/docs/overview/integrations.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/overview/readme.mdx
  docs/docs/overview/schema.mdx
  docs/docs/overview/transformations.mdx
  docs/docs/overview/versioning.mdx
  docs/docs/topics/generator.mdx
Labels: type/documentation

#5737 Migrate RequestArtifactDefinitionCheck to prefect
  backend/infrahub/artifacts/__init__.py
  backend/infrahub/artifacts/models.py
  backend/infrahub/artifacts/tasks.py
  backend/infrahub/core/validators/checks_runner.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_artifactdefinition_check.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/check/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5771 ensure api query reacts to branch and date changes
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/branches/ui/branches-provider.tsx
  frontend/app/src/entities/branches/ui/hooks/use-current-branch.ts
  frontend/app/src/entities/diff/api/get-diff-tree-from-api.ts
  frontend/app/src/entities/diff/domain/get-diff-tree.ts
  frontend/app/src/entities/diff/node-diff/conflict.tsx
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/entities/nodes/api/generateRelationshipListQuery.ts
  frontend/app/src/entities/nodes/hierarchical-tree.tsx
  frontend/app/src/entities/nodes/object/api/delete-object-from-api.ts
  frontend/app/src/entities/nodes/object/domain/delete-object.mutation.ts
  frontend/app/src/entities/nodes/object/domain/delete-object.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/object/ui/objects-manager.tsx
  frontend/app/src/entities/nodes/relationships/api/get-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/entities/nodes/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/entities/permission/api/get-permissions-from-api.ts
  frontend/app/src/entities/permission/domain/get-object-permissions.query.ts
  frontend/app/src/entities/permission/domain/get-object-permissions.ts
  frontend/app/src/entities/proposed-changes/ui/proposed-change-edit-form.tsx
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch.query.ts
  frontend/app/src/entities/tasks/ui/task-status.test.tsx
  frontend/app/src/entities/tasks/ui/task-status.tsx
  frontend/app/src/shared/api/types.ts
  frontend/app/src/shared/components/branch-selector.tsx
  frontend/app/src/shared/components/display/slide-over.tsx
  frontend/app/src/shared/components/layout/menu-navigation/get-menu.ts
  frontend/app/src/shared/components/layout/menu-navigation/menu-navigation.tsx
  frontend/app/src/shared/components/menu/domain/get-menu.query.ts
  frontend/app/src/shared/components/menu/domain/get-menu.ts
  frontend/app/src/shared/components/search/search-actions.tsx
  frontend/app/tests/components/render.tsx
Labels: type/bug, group/frontend, ci/skip-changelog

#5780 Use react-query instead of apollo to remove a relationship
  frontend/app/src/entities/groups/ui/object-groups-list.tsx
  frontend/app/src/entities/nodes/relationships/api/remove-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.mutation.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/remove-relationships/remove-relationships.ts
  frontend/app/src/shared/api/types.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5777 Fix incorrect event value for proposed change state after merging
  backend/infrahub/graphql/mutations/proposed_change.py
  changelog/5600.fixed.md
Labels: group/backend

#5776 Add list of ancestor events
  backend/infrahub/events/models.py
Labels: group/backend

#5772 Check for permissions in rel add/delete mutations
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/permissions/__init__.py
  backend/infrahub/permissions/types.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/permissions/test_types.py
  changelog/+relationship-mutation-permission.fixed.md
Labels: group/backend

#5781 Added edit in object table actions
  frontend/app/src/entities/nodes/object/ui/object-table/cells/actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: type/feature, group/frontend

#5775 Refactor InfrahubEventFilter
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/task_manager/event.py
  backend/infrahub/task_manager/models.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

#5782 Display hfid on relationship cells
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/utils/get-node-label.test.ts
  frontend/app/src/entities/nodes/object/utils/get-node-label.ts
  frontend/app/src/entities/nodes/types.ts
  frontend/app/src/shared/api/graphql/utils.test.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
Labels: type/feature, group/frontend

#5785 changelog prep for 1.1.7
  CHANGELOG.md
  changelog/+checks.fixed.md
  changelog/+data-diff.added.md
  changelog/+diff-performance.fixed.md
  changelog/+menu.fixed.md
  changelog/+relationship-mutation-permission.fixed.md
  changelog/4303.fixed.md
  changelog/5565.fixed.md
  changelog/5664.changed.md
  changelog/5739.fixed.md
  docs/docs/release-notes/infrahub/release-1_1_7.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#5790 Refactor RelationshipAdd & RelationshipRemove mutations
  backend/infrahub/graphql/mutations/relationship.py
Labels: group/backend

#5692 Add DiffEvents class to generate changelog events from a diff
  backend/infrahub/core/changelog/diff.py
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/merge.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/unit/core/changelog/__init__.py
  backend/tests/unit/core/changelog/test_diff.py
  backend/tests/unit/core/changelog/test_models.py
Labels: group/backend

#5796 [FIX] dropdown cell text color + current value on relationship filter form
  frontend/app/src/entities/nodes/object/ui/filters/attribute-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/filters/relationship-filter-form.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/dropdown-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/tests/e2e/objects/object-filters.spec.ts
Labels: type/bug, group/frontend, ci/skip-changelog

#5697 Rework documentation for atifacts and transformations
  docs/docs/guides/artifact.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/media/guides/artifact/artifact_definition.png
  docs/docs/media/guides/artifact/artifact_detail.png
  docs/docs/media/guides/artifact/artifact_menu.png
  docs/docs/media/guides/artifact/artifact_view.png
  docs/docs/topics/artifact.mdx
Labels: type/documentation

#5788 Add global events filter
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/api/get-events.query.ts
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-events-filters.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/global-filter-form.tsx
  frontend/app/src/entities/events/ui/global-filter.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/group-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.ts
  frontend/app/src/entities/nodes/object/ui/display-label.tsx
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: type/feature, group/frontend

#5795 Migrated new table in relationships tabs view
  frontend/app/src/entities/nodes/api/getObjectRelationshipDetails.ts
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object-item-details/relationships-details-paginated.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/actions-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/object-actions-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-actions-column.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/relationships/api/get-object-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/api/get-relationship-properties-from-api.ts
  frontend/app/src/entities/nodes/relationships/api/removeRelationship.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-properties/get-relationship-properties.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationship-properties/get-relationship-properties.ts
  frontend/app/src/entities/nodes/relationships/domain/types.ts
  frontend/app/src/entities/nodes/relationships/ui/dissociate-relationships-modal.tsx
  frontend/app/src/entities/nodes/relationships/ui/object-relationships-manager.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-properties.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/get-relationship-actions-column.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-actions-cell.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
  frontend/app/src/shared/components/table/style.tsx
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-hierarchical.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/e2e/objects/object-relationships.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-4_integration-with-git.spec.ts
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
Labels: type/feature, group/frontend

#5805 display node label based on row's object kind instead of query kind
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/utils/get-node-label.test.ts
  frontend/app/src/entities/nodes/object/utils/get-node-label.ts
Labels: type/feature, group/frontend, ci/skip-changelog

#5799 add functional test covering some more agnostic-aware situations
  backend/tests/functional/branch/conftest.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
Labels: group/backend

#5798 Send node mutation events after branch merge
  backend/infrahub/context.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/changelog/diff.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/services/adapters/event/__init__.py
  backend/tests/helpers/utils.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  backend/tests/integration/proposed_change/test_proposed_change_profile.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

#5804 Report permissions for profiles and templates
  backend/infrahub/graphql/manager.py
Labels: group/backend

#5811 IFC-1246 Add support for attribute rel in object templates
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

#5814 Resolve conflits merge 02212025
  backend/tests/functional/branch/conftest.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
  docker-compose.yml
  docs/docs/guides/artifact.mdx
  docs/docs/guides/check.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/infrahubctl.mdx
  docs/docs/media/guides/artifact/artifact_definition.png
  docs/docs/media/guides/artifact/artifact_detail.png
  docs/docs/media/guides/artifact/artifact_menu.png
  docs/docs/media/guides/artifact/artifact_view.png
  docs/docs/overview/data.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/python-sdk/guides/batch.mdx
  docs/docs/python-sdk/guides/branches.mdx
  docs/docs/python-sdk/guides/client.mdx
  docs/docs/python-sdk/guides/create_update_delete.mdx
  docs/docs/python-sdk/guides/installation.mdx
  docs/docs/python-sdk/guides/object-storage.mdx
  docs/docs/python-sdk/guides/query_data.mdx
  docs/docs/python-sdk/guides/resource-manager.mdx
  docs/docs/python-sdk/guides/store.mdx
  docs/docs/python-sdk/guides/tracking.mdx
  docs/docs/python-sdk/readme.mdx
  docs/docs/python-sdk/reference/config.mdx
  docs/docs/python-sdk/topics/tracking.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/object-storage.mdx
  docs/docusaurus.config.ts
  docs/globalVars.js
  docs/sidebars.ts
  helm/Chart.yaml
  poetry.lock
  tasks/docs.py
Labels: type/documentation, group/backend

#5815 Fix object templates being added in menu twice
  backend/infrahub/core/node/__init__.py
  backend/infrahub/menu/generator.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

#5812 Added support for template schema
  frontend/app/src/entities/nodes/hooks/useObjectItems.ts
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/nodes/types.ts
  frontend/app/src/entities/nodes/utils.ts
  frontend/app/src/entities/schema/domain/get-schema.test.ts
  frontend/app/src/entities/schema/domain/get-schema.ts
  frontend/app/src/entities/schema/stores/schema.atom.ts
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/entities/schema/ui/decorators/withSchemaContext.tsx
  frontend/app/src/entities/schema/ui/hooks/useSchema.ts
  frontend/app/src/entities/schema/ui/schema-selector.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.tsx
  frontend/app/src/entities/schema/utils/resole-schema.test.ts
  frontend/app/src/entities/schema/utils/resolve-schema.ts
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/shared/api/rest/types.generated.ts
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/fake/schema.ts
Labels: type/feature, group/frontend

#5817 Add support in DiffChangelogCollector for attribute value conflicts
  backend/infrahub/core/changelog/diff.py
  backend/infrahub/core/changelog/models.py
  backend/tests/unit/core/changelog/test_diff.py
Labels: group/backend

#5819 Update DiffUpdate mutation to return the id of the task when running asynchronously
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/graphql/mutations/diff.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/graphql/diff/test_diff_update_mutation.py
  changelog/+diff-update.changed.md
Labels: group/backend

#5833 Align testcontainers version to main project
  backend/tests/unit/graphql/test_core_account.py
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-menu.mdx
  docs/docs/infrahubctl/infrahubctl-object.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/infrahubctl/infrahubctl-schema.mdx
  python_testcontainers/pyproject.toml
Labels: type/documentation, group/backend

#5791 IFC-1053 Add mutation to trigger run of a generator
  backend/infrahub/generators/models.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/graphql/mutations/generator.py
  backend/infrahub/graphql/schema.py
  backend/tests/functional/generator/test_mutation_generator.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_mutation_generator.py
Labels: group/backend

#5840 Fix template generation for generics
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

#5845 Add back branch name to node mutation event resource
  backend/infrahub/events/node_action.py
Labels: group/backend

#5846 Add missing context parameter
  backend/infrahub/computed_attribute/tasks.py
Labels: group/backend

#5849 Update yaml theme to fix import issues - IFC-1259
  frontend/app/src/shared/components/editor/code/code-viewer.tsx
Labels: type/bug, group/frontend

#5842 fixes to allow getting a diff for a single branch
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

#5834 Add support for changelog conflict resolution for attribute properties
  backend/infrahub/core/changelog/diff.py
  backend/tests/unit/core/changelog/test_diff.py
Labels: group/backend

#5809 Fix node kind migration with agnostic relationships
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/tests/conftest.py
  backend/tests/functional/branch/conftest.py
  backend/tests/helpers/db_validation.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  backend/tests/unit/core/migrations/schema/test_node_remove.py
Labels: group/backend

#5852 Merge stable into release-1.2 w/ conflicts resolution
  .github/workflows/update-compose-file-and-chart.yml
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/graphql/mutations/diff.py
  backend/tests/integration/diff/test_diff_update.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/graphql/diff/test_diff_update_mutation.py
  changelog/+diff-update.changed.md
  changelog/+peer-count.fixed.md
  helm/Chart.yaml
Labels: group/backend, group/ci

#5832 Fix duplication of relationships for templates
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

#5838 Add node changelog events for cascade delete mutations
  backend/infrahub/core/manager.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/tests/unit/graphql/test_mutation_delete.py
Labels: group/backend

#5828 Added "start from a template" on object creation form
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object-template/object-template-autocomplete.tsx
  frontend/app/src/entities/nodes/object-template/object-template-form.tsx
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/nodes/types.ts
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.tsx
  frontend/app/src/entities/schema/utils/get-template-relationship-from-schema.test.ts
  frontend/app/src/entities/schema/utils/get-template-relationship-from-schema.ts
  frontend/app/src/entities/schema/utils/is-template-schema.test.ts
  frontend/app/src/entities/schema/utils/is-template-schema.ts
  frontend/app/src/shared/components/form/fields/common.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.ts
  frontend/app/src/shared/components/form/utils/getRelationshipParent.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.ts
  frontend/app/src/shared/components/ui/combobox.tsx
Labels: type/feature, group/frontend

#5857 clean and migrate sdk
  docs/docs/guides/check.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/menu.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/infrahubctl.mdx
  docs/docs/infrahubctl/infrahubctl-branch.mdx
  docs/docs/infrahubctl/infrahubctl-check.mdx
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-generator.mdx
  docs/docs/infrahubctl/infrahubctl-info.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-menu.mdx
  docs/docs/infrahubctl/infrahubctl-object.mdx
  docs/docs/infrahubctl/infrahubctl-protocols.mdx
  docs/docs/infrahubctl/infrahubctl-render.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/infrahubctl/infrahubctl-schema.mdx
  docs/docs/infrahubctl/infrahubctl-transform.mdx
  docs/docs/infrahubctl/infrahubctl-validate.mdx
  docs/docs/infrahubctl/infrahubctl-version.mdx
  docs/docs/overview/data.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/overview/schema.mdx
  docs/docs/reference/configuration.mdx
  docs/docs/topics/developer-guide.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/object-storage.mdx
  docs/docs/topics/transformation.mdx
  docs/docusaurus.config.ts
  docs/globalVars.js
  docs/sidebars.ts
  tasks/docs.py
Labels: type/documentation

#5803 Fix node deletion with unidirectional optional relationship
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_node_manager_delete.py
Labels: group/backend

#5861 Fix getting permissions for templates
  backend/infrahub/graphql/permissions.py
Labels: group/backend

#5801 improve diff save performance
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/diff.py
  backend/tests/unit/core/diff/repository/base.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  changelog/+diff-save.changed.md
Labels: group/backend

#5856 Split core schema into multiple files
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/menu.py
  backend/infrahub/core/schema/definitions/core/repository.py
  backend/infrahub/core/schema/relationship_schema.py
Labels: group/backend

#5859 Merge stable into release-1.2
  .github/file-filters.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/publish-helm-chart.yml
  .github/workflows/release.yml
  .github/workflows/update-compose-file-and-chart.yml
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/tests/conftest.py
  backend/tests/functional/branch/conftest.py
  backend/tests/helpers/db_validation.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  backend/tests/unit/core/migrations/schema/test_node_remove.py
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/templates/_env.tpl
  helm/templates/_helpers.tpl
  helm/templates/emma.yaml
  helm/templates/infrahub-demo-data-job.yaml
  helm/templates/infrahub-server-db-init-job.yaml
  helm/templates/infrahub-server-ingress.yaml
  helm/templates/infrahub-server.yaml
  helm/templates/infrahub-task-worker.yaml
  helm/values.yaml
  tasks/release.py
Labels: group/backend, group/ci

#5831 Refactor branch events with regards to impacted branch
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/infrahub/task_manager/models.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
Labels: group/backend

#5830 Migrate run repository user checks tasks
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/check_repository_checkdefinition.py
  backend/infrahub/message_bus/messages/check_repository_mergeconflicts.py
  backend/infrahub/message_bus/messages/check_repository_usercheck.py
  backend/infrahub/message_bus/messages/request_repository_checks.py
  backend/infrahub/message_bus/messages/request_repository_userchecks.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/check/__init__.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/operations/requests/repository.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5640 Add migration to fix database edges state
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m019_restore_rels_to_time.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/definitions/core.py
  backend/tests/conftest.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
  backend/tests/helpers/db_validation.py
  backend/tests/unit/core/migrations/graph/test_019.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  backend/tests/unit/core/migrations/schema/test_node_remove.py
Labels: group/backend

#5873 Added support for object template on generics
  frontend/app/src/entities/nodes/object-template/object-template-form.tsx
  frontend/app/src/shared/components/form/generic-object-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: type/feature, group/frontend

#5871 Housekeeping on GraphqlQueryDetailsPage component
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/pages/objects/object-details.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5853 Add ancestors to group events
  backend/infrahub/core/manager.py
  backend/infrahub/events/group_action.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#5872 Display icons of sub-menu items
  changelog/+icon-sub-menu.added.md
  frontend/app/src/shared/components/layout/menu-navigation/components/menu-section-internal.tsx
  frontend/app/src/shared/components/ui/dropdown-menu.tsx
Labels: type/feature, group/frontend

#5876 Removed useless call to get config
  frontend/app/src/shared/hooks/usePagination.ts
Labels: group/frontend, ci/skip-changelog

#5879 Support generic relationships in object templates
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#5880 Display custom error page on crash
  frontend/app/src/app/app.tsx
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/events/ui/global-events.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/shared/components/errors/error-boundary-app.tsx
  frontend/app/src/shared/components/errors/error-boundary-router.tsx
  frontend/app/src/shared/components/errors/error-fallback.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
Labels: type/feature, group/frontend, ci/skip-changelog

#5875 Set attr source when using values from template
  backend/infrahub/core/node/__init__.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/core/test_node.py
Labels: group/backend

#5867 improve schema topic
  docs/docs/media/location_menu.png
  docs/docs/media/reference/schema/location_menu.png
  docs/docs/topics/computed-attributes.mdx
  docs/docs/topics/schema.mdx
  frontend/app/tests/e2e/menu/menu-view.spec.ts
Labels: type/documentation, group/frontend

#5885 Reorganize core schema into multiple files
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/account.py
  backend/infrahub/core/schema/definitions/core/artifact.py
  backend/infrahub/core/schema/definitions/core/builtin.py
  backend/infrahub/core/schema/definitions/core/check.py
  backend/infrahub/core/schema/definitions/core/generator.py
  backend/infrahub/core/schema/definitions/core/graphql_query.py
  backend/infrahub/core/schema/definitions/core/group.py
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/definitions/core/lineage.py
  backend/infrahub/core/schema/definitions/core/permission.py
  backend/infrahub/core/schema/definitions/core/profile.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/infrahub/core/schema/definitions/core/propose_change_comment.py
  backend/infrahub/core/schema/definitions/core/propose_change_validator.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/infrahub/core/schema/definitions/core/template.py
  backend/infrahub/core/schema/definitions/core/transform.py
  backend/infrahub/core/schema/definitions/core/webhook.py
Labels: group/backend

#5883 Merge stable into release-1.2
  backend/infrahub/core/changelog/diff.py
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/constants/schema.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/diff.py
  backend/tests/unit/core/changelog/test_models.py
  backend/tests/unit/core/diff/repository/base.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/test_node_manager_delete.py
  changelog/+diff-save.changed.md
  docs/docs/guides/check.mdx
  docs/docs/guides/generator.mdx
  docs/docs/guides/jinja2-transform.mdx
  docs/docs/guides/menu.mdx
  docs/docs/guides/python-transform.mdx
  docs/docs/guides/repository.mdx
  docs/docs/infrahubctl.mdx
  docs/docs/infrahubctl/infrahubctl-branch.mdx
  docs/docs/infrahubctl/infrahubctl-check.mdx
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-generator.mdx
  docs/docs/infrahubctl/infrahubctl-info.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-menu.mdx
  docs/docs/infrahubctl/infrahubctl-object.mdx
  docs/docs/infrahubctl/infrahubctl-protocols.mdx
  docs/docs/infrahubctl/infrahubctl-render.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
  docs/docs/infrahubctl/infrahubctl-schema.mdx
  docs/docs/infrahubctl/infrahubctl-transform.mdx
  docs/docs/infrahubctl/infrahubctl-validate.mdx
  docs/docs/infrahubctl/infrahubctl-version.mdx
  docs/docs/overview/data.mdx
  docs/docs/overview/interfaces.mdx
  docs/docs/overview/schema.mdx
  docs/docs/reference/configuration.mdx
  docs/docs/reference/menu.mdx
  docs/docs/topics/developer-guide.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/object-storage.mdx
  docs/docs/topics/transformation.mdx
  docs/docusaurus.config.ts
  docs/globalVars.js
  docs/sidebars.ts
  models/base_menu.yml
  tasks/docs.py
Labels: type/documentation, group/backend

#5884 Optimized count query on object list page
  frontend/app/src/entities/nodes/api/getObjectItems.ts
  frontend/app/src/entities/nodes/hooks/useObjectItems.ts
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object/api/get-objects-count-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.ts
  frontend/app/src/entities/user-profile/api/getTokens.ts
  frontend/app/tests/e2e/resource-manager/resource-pool.spec.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5882 Add artifact events
  backend/infrahub/artifacts/models.py
  backend/infrahub/artifacts/tasks.py
  backend/infrahub/events/artifact_action.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/message_bus/messages/proposed_change/request_proposedchange_refreshartifacts.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/task_manager/event.py
  backend/infrahub/tasks/artifact.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5890 Retry event query to prefects events API on failures
  backend/infrahub/exceptions.py
  backend/infrahub/task_manager/event.py
Labels: group/backend

#5892 Ruff fixes for UP007
  backend/infrahub/lock.py
  backend/infrahub/message_bus/__init__.py
  backend/infrahub/message_bus/messages/check_generator_run.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/cache/__init__.py
  backend/infrahub/services/adapters/cache/nats.py
  backend/infrahub/services/adapters/cache/redis.py
  backend/infrahub/services/adapters/message_bus/__init__.py
  backend/infrahub/services/adapters/message_bus/local.py
  backend/infrahub/services/adapters/message_bus/nats.py
  backend/infrahub/services/adapters/message_bus/rabbitmq.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/services/component.py
  backend/infrahub/services/protocols.py
  backend/infrahub/services/scheduler.py
Labels: group/backend

#5877 Refactoring of Webhook to support `event_type` and `branch_scope`
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/webhook.py
  backend/infrahub/git/integrator.py
  backend/infrahub/menu/menu.py
  backend/infrahub/message_bus/operations/event/worker.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/webhook/triggers.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/infrahub/workflows/models.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/webhook_transformer.py
  backend/tests/functional/webhook/__init__.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/unit/trigger/__init__.py
  backend/tests/unit/trigger/test_catalogue.py
  backend/tests/unit/webhook/test_models.py
  backend/tests/unit/workflows/test_models.py
Labels: group/backend
