Repository opsmill/infrahub, pull requests merged in 2025-04, with the labels that each got.

#6198 fix off by one error in ip prefix reconcile query
  backend/infrahub/core/query/ipam.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/ipam/test_ipam_reconcile_query.py
  changelog/6172.fixed.md
Labels: group/backend

#6194 Fix issue when renaming Generic name or namespace
  backend/infrahub/core/models.py
  backend/tests/integration/schema_lifecycle/test_migration_generic_renaming.py
  changelog/+migration.fixed.md
Labels: group/backend

#6201 Enable back E2E tests on profile
  frontend/app/tests/e2e/objects/profiles/profile-on-generic.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend, ci/skip-changelog

#6203 Merge release-1.1 into stable (w/ Conflict resolution)
  backend/infrahub/core/models.py
  backend/tests/integration/schema_lifecycle/test_migration_generic_renaming.py
  changelog/+migration.fixed.md
  changelog/6051.fixed.md
  changelog/6060.fixed.md
Labels: group/backend

#6196 new migration to fix missing hierarchy for merged,deleted branches
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m022_missing_hierarchy_backfill.py
  backend/tests/unit/core/migrations/graph/test_022.py
  changelog/6019.fixed.md
Labels: group/backend

#6208 Merge release-1.1 into stable after renaming migration 22
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m024_missing_hierarchy_backfill.py
  backend/tests/unit/core/migrations/graph/test_024.py
  changelog/6019.fixed.md
Labels: group/backend

#6175 Do not allow duplicated optional unique attributes
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/infrahub/core/migrations/graph/m025_uniqueness_nulls.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/changelog/test_models.py
  backend/tests/unit/core/migrations/graph/test_018_025.py
  backend/tests/unit/graphql/test_mutation_create.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+duplicatedoptionaluniqueattributes.fixed.md
Labels: group/backend

#6190 Migrate run generator check to Prefect
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/check_generator_run.py
  backend/infrahub/message_bus/messages/finalize_validator_execution.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/check/__init__.py
  backend/infrahub/message_bus/operations/check/generator.py
  backend/infrahub/message_bus/operations/finalize/__init__.py
  backend/infrahub/message_bus/operations/finalize/validator.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#6220 Remove EventWorkerNewPrimaryAPI
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/event_worker_newprimaryapi.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/__init__.py
  backend/infrahub/message_bus/operations/event/worker.py
  backend/infrahub/services/component.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#6215 fix generic schema attr delete migration for overridden attrs
  backend/infrahub/core/migrations/schema/node_attribute_remove.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/migrations/schema/test_node_attribute_remove.py
  changelog/6073.fixed.md
Labels: group/backend

#6223 Disable profiles e2e test
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

#6218 IFC-1409 Fix HFID duplicates for component templates
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_template_update.py
  changelog/+hfid-template.fixed.md
Labels: group/backend

#6229 FIx e2e test for activities filters
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
Labels: group/frontend

#6221 Migrate RequestGeneratorDefinitionCheck to prefect
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/request_generatordefinition_check.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/requests/__init__.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/workflows/catalogue.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#6189 Update playwright workers and enable select 2 steps + tutorial 3 + proposed changes tests
  frontend/app/playwright.config.ts
  frontend/app/src/entities/diff/checks/validator.tsx
  frontend/app/src/entities/proposed-changes/ui/checks-tab.tsx
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/form/select-2-steps.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
Labels: group/frontend

#6216 Refactor import and init of adapter drivers
  backend/infrahub/cli/git_agent.py
  backend/infrahub/config.py
  backend/infrahub/server.py
  backend/infrahub/services/adapters/cache/__init__.py
  backend/infrahub/services/adapters/cache/redis.py
  backend/infrahub/services/adapters/message_bus/__init__.py
  backend/infrahub/workers/infrahub_async.py
Labels: group/backend

#6232 Audit fix for docs and template
  docs/package-lock.json
  docs/package.json
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/plugins/template/package.json
Labels: type/documentation, group/frontend

#6234 upsert with changed relationships bug
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+fixupsertwithrelationships
Labels: group/backend

#6236 Use react-aria dialog in search anywhere
  frontend/app/src/shared/components/search/search-anywhere-dialog.tsx
  frontend/app/src/shared/components/search/search-anywhere-input.tsx
  frontend/app/src/shared/components/search/search-anywhere.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#6237 Restrict event.related payload for CoreGraphQLQueryGroup events
  backend/infrahub/events/group_action.py
  backend/infrahub/events/node_action.py
Labels: group/backend

#6226 Correctly update deleted fields while updating a schema
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  backend/tests/functional/api/test_load_schema.py
  changelog/+removeschematextfields.md
  docs/docs/reference/schema/generic.mdx
  docs/docs/reference/schema/node.mdx
  docs/docs/topics/schema.mdx
Labels: type/documentation, group/backend

#6242 Fix flaky on groups E2E test
  frontend/app/tests/e2e/groups/groups.spec.ts
Labels: group/frontend, ci/skip-changelog

#6245 Audit fix for frontend dependencies
  frontend/app/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: group/frontend

#6247 new infrahub db command to export part of database without values
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/cli/db.py
  backend/tests/unit/cli/__init__.py
  backend/tests/unit/cli/test_cli.py
  backend/tests/unit/cli/test_selected_export.py
  changelog/6248.added.md
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation, group/backend

#6257 add migration to fix children of 0.0.0.0/0 prefixes if necessary
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m026_0000_prefix_fix.py
  changelog/+zero_prefix_migration.added.md
Labels: group/backend

#6262 Fix audit
  docs/package-lock.json
Labels: type/documentation

#6254 IFC-1398 Support number from pool through generics
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/tests/unit/core/resource_manager/test_number_pool.py
  changelog/6080.changed.md
Labels: group/backend

#6260 Fix flaky E2E tests
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
Labels: group/frontend

#6246 Add row selection on table and "Add to groups" action
  changelog/+selection-table.added.md
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/get-object-table-columns.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/processing-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/processing-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/selected-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/selected-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/toolbar-add-to-groups-action.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/toolbar-button.tsx
  frontend/app/src/entities/nodes/relationships/api/add-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/api/addRelationship.ts
  frontend/app/src/entities/nodes/relationships/domain/add-relationships/add-relationships.mutation.ts
  frontend/app/src/entities/nodes/relationships/domain/add-relationships/add-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/add-relationships/add-relationships.ts
  frontend/app/src/shared/components/aria/checkbox.tsx
  frontend/app/src/shared/components/aria/label.tsx
  frontend/app/src/shared/components/aria/popover.tsx
  frontend/app/src/shared/components/table/infinite-data-table.tsx
  frontend/app/src/shared/components/ui/command.tsx
  frontend/app/vite.config.ts
Labels: type/feature, group/frontend, cd/preview

#6264 Remove deprecated "fetch" parameter in prefect result.state
  backend/infrahub/services/adapters/workflow/worker.py
Labels: group/backend

#6258 Refactor handling of diff_summary within pipeline
  backend/infrahub/message_bus/messages/request_proposedchange_pipeline.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/proposed_change/branch_diff.py
  backend/infrahub/proposed_change/tasks.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/5866.fixed.md
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#6183 Migrate BranchMergeEvent to prefect
  backend/infrahub/core/branch/flow_models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/event_branch_merge.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/ipam/base.py
  backend/tests/functional/ipam/test_ipam_merge_reconcile.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#6268 Fixed ability to override timeouts on Python transforms and checks
  backend/infrahub/git/integrator.py
  backend/tests/functional/webhook/test_task.py
  changelog/6267.fixed.md
Labels: group/backend

#6256 Add support for computed attributes on generics
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/tests/helpers/schema/location.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/unit/core/schema/schema_branch/test_validate_computed_attributes.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  changelog/5736.added.md
  docs/docs/topics/computed-attributes.mdx
Labels: group/backend

#6272 Fix vertical scrolling issue in hierarchical node detailed view
  changelog/6269.fixed.md
  frontend/app/src/pages/objects/layout.tsx
Labels: type/bug, group/frontend

#6255 Update component relationship form IFC-1265
  changelog/+component.added.md
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
Labels: group/frontend

#6275 Upgrade Prefect to 3.3.4
  backend/tests/helpers/utils.py
  backend/tests/integration/workers/test_infrahubasync.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#6276 Merge 'stable' into 'develop' with resolved conflicts
  backend/infrahub/core/branch/flow_models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/git/integrator.py
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/event_branch_merge.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/__init__.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/proposed_change/branch_diff.py
  backend/infrahub/proposed_change/models.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/services/adapters/workflow/worker.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/ipam/base.py
  backend/tests/functional/ipam/test_ipam_merge_reconcile.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/helpers/schema/location.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/unit/core/resource_manager/test_number_pool.py
  backend/tests/unit/core/schema/schema_branch/test_validate_computed_attributes.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/5736.added.md
  changelog/5866.fixed.md
  changelog/6080.changed.md
  changelog/6267.fixed.md
  changelog/6269.fixed.md
  changelog/6272.fixed.md
  docs/docs/reference/message-bus-events.mdx
  docs/docs/topics/computed-attributes.mdx
  docs/package-lock.json
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/shared/components/tabs.tsx
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
  python_testcontainers/infrahub_testcontainers/models.py
  python_testcontainers/infrahub_testcontainers/performance_test.py
Labels: type/documentation, group/backend, group/frontend

#6286 Final 1.2.5 prep
  CHANGELOG.md
  changelog/+fixupsertwithrelationships
  changelog/+removeschematextfields.md
  docs/docs/release-notes/infrahub/release-1_2_5.mdx
Labels: type/documentation

#6243 Clear GraphQLSchemaManager cache when deleting branches
  backend/infrahub/core/registry.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/tasks/registry.py
  backend/tests/unit/graphql/test_manager.py
  changelog/6021.fixed.md
Labels: group/backend

#6277 Add generics to node selection in number pool form
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
  changelog/+number-pool.added.md
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/tests/e2e/resource-manager/number-pool.spec.ts
Labels: group/backend, group/frontend

#6294 add INFRAHUB_SECRTET_KEY to configuration documentation
  docs/docs/reference/configuration.mdx
Labels: type/documentation

#6297 Fix typo for INFRAHUB_SECURITY_SECRET_KEY
  docs/docs/reference/configuration.mdx
Labels: type/documentation

#6265 Use local fonts to prevent mandatory internet connectivity
  frontend/app/index.html
  frontend/app/src/app/styles/index.css
  frontend/app/src/assets/fonts/Inter-VariableFont_opsz,wght.ttf
Labels: group/frontend, cd/preview

#6278 docs: add information on setting up a Gitlab external repository
  docs/docs/guides/repository.mdx
  docs/docs/media/gitlab_project_access_token.png
Labels: type/documentation

#6295 Added "Remove from groups" action on table toolbar
  changelog/+selection-table.added.md
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/bulk-mutate-groups.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/group-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/processing-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-group-item.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/selected-groups-panel.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-remove-from-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/toolbar-add-to-groups-action.test.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/add-to-groups/toolbar-add-to-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
Labels: type/feature, group/frontend, cd/preview

#6305 update vale case-swap to match other repositories, and fix issues wit…
  .vale/styles/Infrahub/branded-terms-case-swap.yml
  docs/docs/guides/repository.mdx
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/docs/overview/data.mdx
  docs/docs/overview/transformations.mdx
Labels: type/documentation

#6291 Fix upsert with both default_filter and hfid defined
  backend/infrahub/graphql/mutations/main.py
  backend/tests/functional/ipam/test_upsert_default_filter_and_hfid.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  changelog/+upsertdefaultfilterandhfid.md
Labels: group/backend

#6306 fix(backend): trace row count returned by database
  backend/infrahub/database/__init__.py
Labels: group/backend

#6304 IFC-1445 Add relationships + attributes to generic template
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/6287.fixed.md
Labels: group/backend

#6307 Added "dissociate" action on relationship table toolbar + update design
  changelog/+selection-table.added.md
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/groups/toolbar-remove-from-groups-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/toolbar-button.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/toolbar-divider.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/toolbar-dissociate-action.tsx
  frontend/app/src/shared/components/table/infinite-data-table.tsx
Labels: type/feature, group/frontend

#6321 IFC-1463 Raise better error messages on HFID lookup failure
  backend/infrahub/core/manager.py
  backend/tests/unit/core/test_manager_node.py
  changelog/+properhfiderrormessage.changed.md
Labels: group/backend

#6314 Add node kind select input for webhook
  changelog/+webhook.added.md
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/node-kind-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
  frontend/app/src/entities/webhook/ui/webhook-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/node-kind.field.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: type/feature, group/frontend

#6319 IFC-1453 Add HFID to generic template to fix HFID usage
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/6301.fixed.md
Labels: group/backend

#6324 Merge stable into develop
  backend/infrahub/core/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_manager_node.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/+properhfiderrormessage.changed.md
  changelog/+webhook.added.md
  changelog/6287.fixed.md
  changelog/6301.fixed.md
  docs/docs/guides/computed-attributes.mdx
  docs/docs/guides/jinja2-transform.mdx
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/node-kind-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
  frontend/app/src/entities/webhook/ui/webhook-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/node-kind.field.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: type/documentation, group/backend, group/frontend

#6317 Update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#6333 fix(ci): testcontainers test and docker syntax
  .github/file-filters.yml
  .github/workflows/ci.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: group/ci

#6334 Disable option creation for restricted namespaces in dropdown and enum
  changelog/+dropdown.fixed.md
  frontend/app/src/entities/schema/ui/hooks/useNamespace.ts
  frontend/app/src/shared/components/inputs/dropdown.tsx
  frontend/app/src/shared/components/inputs/enum.tsx
  frontend/app/tests/e2e/objects/object-dropdown-creation.spec.ts
Labels: group/frontend

#6335 Added CI env variables to disable animation during tests on CI
  .github/workflows/ci.yml
  development/Dockerfile
  development/docker-compose.yml
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend, ci/skip-changelog, group/ci

#6338 Replace font files with woff2 for better performance
  frontend/app/src/app/styles/index.css
  frontend/app/src/assets/fonts/InterVariable.ttf
  frontend/app/src/assets/fonts/InterVariable.woff2
Labels: group/frontend, type/housekeeping

#6344 update SDK sub‑module workflow to target only stable
  .github/workflows/update-sdk-submodule.yml
Labels: group/ci

#6311 patching command framework `infrahub db patch plan/apply/revert`
  backend/infrahub/cli/db.py
  backend/infrahub/cli/patch.py
  backend/infrahub/patch/__init__.py
  backend/infrahub/patch/constants.py
  backend/infrahub/patch/edge_adder.py
  backend/infrahub/patch/edge_deleter.py
  backend/infrahub/patch/edge_updater.py
  backend/infrahub/patch/models.py
  backend/infrahub/patch/plan_reader.py
  backend/infrahub/patch/plan_writer.py
  backend/infrahub/patch/queries/__init__.py
  backend/infrahub/patch/queries/base.py
  backend/infrahub/patch/runner.py
  backend/infrahub/patch/vertex_adder.py
  backend/infrahub/patch/vertex_deleter.py
  backend/infrahub/patch/vertex_updater.py
  backend/tests/db_snapshot.py
  backend/tests/unit/patch/__init__.py
  backend/tests/unit/patch/test_patch_runner.py
  docs/docs/reference/infrahub-cli/infrahub-db.mdx
Labels: type/documentation, group/backend

#6353 docs: add artifact content types and clarify transformation output formats
  docs/docs/topics/artifact.mdx
  docs/docs/topics/transformation.mdx
Labels: type/documentation

#6348 Refactor computed attribute update_computed_attribute_value_jinja2
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  changelog/6351.fixed.md
Labels: group/backend

#6350 Mutating a backend node with extra attrs logs instead of raising
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/test_node.py
  changelog/6349.fixed.md
Labels: group/backend

#6249 fix(backend): improve IPPrefixReconcileQuery performance
  backend/infrahub/core/query/ipam.py
  changelog/+a17d8299.fixed.md
Labels: group/backend

#6366 update frontend dependencies
  docs/package-lock.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/nodes/object/utils/get-node-label.test.ts
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: type/documentation, group/frontend, type/housekeeping, ci/skip-changelog

#6365 improve video player appearance
  docs/docs/guides/artifact.mdx
  docs/docs/guides/create-schema.mdx
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/release-notes/infrahub/release-1_0_0.mdx
  docs/docs/topics/artifact.mdx
  docs/docs/topics/generator.mdx
  docs/docs/topics/ipam.mdx
  docs/docs/topics/proposed-change.mdx
  docs/docs/topics/schema.mdx
  docs/docs/topics/version-control.mdx
  docs/docs/tutorials/getting-started/branches.mdx
  docs/package-lock.json
  docs/src/components/VideoPlayer/index.tsx
Labels: type/documentation

#6369 AggregatedConstraintChecker correctly raises errors
  backend/infrahub/core/validators/aggregated_checker.py
Labels: group/backend

#6368 fix(docs): bad pg_dump command with docker
  docs/docs/guides/installation-enterprise.mdx
Labels: type/documentation

#6371 Upgrade Prefect to 3.3.7
  backend/tests/helpers/utils.py
  changelog/+1f69fa65.housekeeping.md
  poetry.lock
  pyproject.toml
Labels: group/backend

#6362 Fix flaky e2e test tutorial-1
  frontend/app/playwright.config.ts
  frontend/app/src/shared/components/buttons/button.tsx
  frontend/app/src/shared/components/ui/form.tsx
  frontend/app/tests/e2e/branches/merge-branch.spec.ts
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-2_data-lineage-and-metadata.spec.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/utils.ts
Labels: group/frontend, ci/skip-changelog

#6370 fix infrahub version in repository dispatch call for the release workflow
  .github/workflows/release.yml
Labels: group/ci

#6372 Enhance git credential helper performances
  backend/infrahub/config.py
  backend/infrahub/constants/__init__.py
  backend/infrahub/constants/database.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/index.py
  backend/infrahub/database/memgraph.py
  backend/infrahub/database/neo4j.py
  backend/infrahub/git_credential/helper.py
  backend/tests/helpers/query_benchmark/benchmark_config.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/query_benchmark/test_diff_query.py
  backend/tests/query_benchmark/test_node_get_list.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/unit/core/migrations/graph/test_014.py
  tasks/release.py
Labels: group/backend

#6340 deduplication patches
  .gitignore
  backend/infrahub/patch/queries/consolidate_duplicated_nodes.py
  backend/infrahub/patch/queries/delete_duplicated_edges.py
  backend/tests/unit/patch/kind_deduplication_patches/__init__.py
  backend/tests/unit/patch/kind_deduplication_patches/data_export/README.txt
  backend/tests/unit/patch/kind_deduplication_patches/data_export/edges.csv
  backend/tests/unit/patch/kind_deduplication_patches/data_export/vertices.csv
  backend/tests/unit/patch/kind_deduplication_patches/test_patches.py
Labels: group/backend

#6380 Various fixes
  .gitignore
  backend/infrahub/core/schema/definitions/core/builtin.py
  backend/tests/fixtures/schemas/schema_02.json
  frontend/app/tests/e2e/objects/object-list.spec.ts
  frontend/app/tests/fake/schema.ts
Labels: group/backend, group/frontend
