Repository opsmill/infrahub, pull requests merged in 2025-10, with the labels that each got.

#7293 Ignore attribute from template if the value is not defined
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/create.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/7259.fixed.md
Labels: group/backend

#7302 prep release 1.4.10
  CHANGELOG.md
  changelog/7259.fixed.md
  changelog/7301.fixed.md
  changelog/compose.housekeeping.md
  docs/docs/release-notes/infrahub/release-1_4_10.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#7304 Autofocus 1st field in login form
  changelog/+autofocus-login.added.md
  frontend/app/src/entities/authentication/ui/login.tsx
  frontend/app/src/shared/components/form/fields/input.field.tsx
Labels: type/feature, group/frontend

#7305 Correctly display XML and CSV artifacts in the UI + fallback
  changelog/7294.fixed.md
  frontend/app/src/entities/artifacts/types.ts
  frontend/app/src/entities/artifacts/ui/artifact-file.tsx
  frontend/app/src/shared/components/editor/csv-table.tsx
Labels: type/bug, group/frontend

#7303 small cypher fix
  backend/infrahub/core/diff/query/artifact.py
Labels: group/backend

#7297 Add mutation and events for HFID
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/node_property_attribute.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/schema/schema_branch_hfid.py
  backend/infrahub/graphql/mutations/hfid.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/hfid/__init__.py
  backend/infrahub/hfid/gather.py
  backend/infrahub/hfid/models.py
  backend/infrahub/hfid/tasks.py
  backend/infrahub/hfid/triggers.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/models.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/unit/graphql/mutations/test_hfid.py
Labels: group/backend

#7307 IFC-1826 Integrate display_label and HFID in changelog
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/core/changelog/test_models.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/graphql/diff/test_diff_tree_query.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/graphql/test_mutation_upsert.py
Labels: group/backend

#7310 Fixed number pool popover position issue on initial render
  changelog/+ui-number-pool.fixed.md
  frontend/app/src/entities/resource-manager/api/get-number-pools-from-api.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.query.ts
  frontend/app/src/entities/resource-manager/domain/get-number-pools.ts
  frontend/app/src/entities/resource-manager/domain/type.ts
  frontend/app/src/shared/components/form/fields/input.field.tsx
  frontend/app/src/shared/components/form/pool-selector.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/inputs/pool-select.tsx
Labels: type/bug, group/frontend

#7315 Fixed minor style issues
  changelog/IFC-1780.fixed.md
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/proposed-change-events/proposed-change-event-title.tsx
  frontend/app/src/entities/nodes/relationships/ui/add-relationship-action.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
Labels: type/bug, group/frontend

#7312 Update Prefect to 3.4.22
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
  python_testcontainers/poetry.lock
  python_testcontainers/pyproject.toml
Labels: group/backend

#7311 migration for saving profile attributes on nodes
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m040_profile_attrs_in_db.py
  backend/tests/unit/core/migrations/graph/test_040.py
Labels: group/backend

#7232 Add input selection between source object and custom value
  changelog/+object-convert.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/artifacts/ui/artifact-details-menu.tsx
  frontend/app/src/entities/nodes/convert/api/convert-object-from-api.ts
  frontend/app/src/entities/nodes/convert/api/get-object-convert-fields-mapping-from-api.ts
  frontend/app/src/entities/nodes/convert/domain/convert-object.mutation.ts
  frontend/app/src/entities/nodes/convert/domain/convert-object.ts
  frontend/app/src/entities/nodes/convert/domain/get-object-convert-fields-mapping.query.ts
  frontend/app/src/entities/nodes/convert/domain/get-object-convert-fields-mapping.ts
  frontend/app/src/entities/nodes/convert/types.ts
  frontend/app/src/entities/nodes/convert/ui/convert-field-label.tsx
  frontend/app/src/entities/nodes/convert/ui/convert-form-field.tsx
  frontend/app/src/entities/nodes/convert/ui/convert-form.tsx
  frontend/app/src/entities/nodes/convert/ui/convert-source-field.tsx
  frontend/app/src/entities/nodes/convert/ui/convert-source-input.tsx
  frontend/app/src/entities/nodes/convert/ui/object-convert.tsx
  frontend/app/src/entities/nodes/convert/ui/target-schema-combobox-list.tsx
  frontend/app/src/entities/nodes/convert/utils/get-field-value-from-mapping.ts
  frontend/app/src/entities/nodes/convert/utils/has-field-mapping.ts
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object/ui/filters/schema-combobox-list.tsx
  frontend/app/src/entities/nodes/object/ui/object-convert.tsx
  frontend/app/src/pages/objects/object-convert.tsx
  frontend/app/src/shared/components/aria/radio-group.tsx
  frontend/app/src/shared/components/form/convert-form.tsx
  frontend/app/src/shared/components/form/fields/checkbox.field.tsx
  frontend/app/src/shared/components/form/fields/color.field.tsx
  frontend/app/src/shared/components/form/fields/datetime.field.tsx
  frontend/app/src/shared/components/form/fields/dropdown.field.tsx
  frontend/app/src/shared/components/form/fields/enum.field.tsx
  frontend/app/src/shared/components/form/fields/input.field.tsx
  frontend/app/src/shared/components/form/fields/json.field.tsx
  frontend/app/src/shared/components/form/fields/list.field.tsx
  frontend/app/src/shared/components/form/fields/number.field.tsx
  frontend/app/src/shared/components/form/fields/password-input.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/generic-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/regular-relationship.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-hierarchical.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-many.field.tsx
  frontend/app/src/shared/components/form/fields/relationships/relationship-parent-constraint.field.tsx
  frontend/app/src/shared/components/form/fields/select.field.tsx
  frontend/app/src/shared/components/form/fields/textarea.field.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/layout/content.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/src/shared/components/ui/badge.tsx
  frontend/app/src/shared/components/ui/form.tsx
Labels: group/frontend

#7330 Remove requirement for docstrings
  .github/instructions/python.instructions.md
Labels: group/ci

#7322 IFC-1496: Check optional node kind value
  backend/infrahub/graphql/mutations/webhook.py
  backend/tests/unit/graphql/mutations/test_webhook.py
  changelog/6397.fixed.md
Labels: group/backend

#7337 Update schema hash for flaky test
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#7340 Avoid regenerating schema if the hash already exists
  backend/tests/unit/graphql/test_mutation_graphqlquery.py
Labels: group/backend
