Repository opsmill/infrahub, pull requests merged in 2025-01, with the labels that each got.

#5344 Fix query response time when the number of historical value for a given attribute is large
  backend/infrahub/core/query/node.py
  changelog/+attrquery.fixed.md
Labels: type/bug, group/backend

#5346 fix(backend): early filter on relationship_get_peer
  backend/infrahub/core/query/relationship.py
Labels: group/backend

#5352 Update the object details view with HFID - IFC-784
  changelog/4648.changed.md
  frontend/app/src/components/buttons/copy-to-clipboard.tsx
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/mocks/data/devices.ts
Labels: type/feature, group/frontend

#5365 New task link from the object details view
  changelog/tasks-link.added.md
  frontend/app/src/components/filters/tasks-filter-form.tsx
  frontend/app/src/components/form/name-select.tsx
  frontend/app/src/components/form/node-select.tsx
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/tasks/task-items.tsx
Labels: type/feature, group/frontend

#5369 support IP Namespaces on branches
  backend/infrahub/graphql/mutations/ipam.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  changelog/+ipnamespace-branch.fixed.md
Labels: group/backend

#5371 Pin version of Poetry to 1.8.5
  .github/workflows/ci.yml
  .github/workflows/poetry-check.yml
  .github/workflows/update-compose-file-and-chart.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci

#5370 raise better error for invalid HFID relationship
  backend/infrahub/core/relationship/model.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/5360.fixed.md
Labels: group/backend

#5372 Pin version of poetry for snok/install-poetry
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
Labels: group/ci

#5375 Prepare release 1.1.1
  CHANGELOG.md
  changelog/+attrquery.fixed.md
  changelog/+gqlquery.fixed.md
  changelog/+ipnamespace-branch.fixed.md
  changelog/5360.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_1_1.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#5349 docs: fix some typos in the documentation
  docs/docs/topics/schema.mdx
Labels: type/documentation

#5366 Improve NodeGetListQuery on default branch and when using filters
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_get_list_query.py
Labels: group/backend

#5386 fix missing branch param in computed attributes logic
  backend/infrahub/core/node/__init__.py
  backend/tests/unit/graphql/test_mutation_create_jinja2_attributes.py
  changelog/5385.fixed.md
Labels: group/backend

#5392 IFC-1015 Fix schema dropdown removal
  backend/infrahub/graphql/mutations/schema.py
  changelog/5242.fixed.md
Labels: group/backend

#5393 Upgrade ruff=0.8.6
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/infrahub/api/artifact.py
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/diff/diff.py
  backend/infrahub/api/file.py
  backend/infrahub/api/menu.py
  backend/infrahub/api/query.py
  backend/infrahub/api/schema.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/migrations/graph/m014_remove_index_attr_value.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/core/task/task_log.py
  backend/infrahub/core/validators/shared.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/database/index.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/infrahub/proposed_change/tasks.py
  backend/templates/attributeschema_imports.j2
  backend/templates/basenodeschema_imports.j2
  backend/templates/genericschema_imports.j2
  backend/templates/relationshipschema_imports.j2
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/graphql/mutations/test_repository.py
  poetry.lock
  pyproject.toml
Labels: group/backend, group/ci

#5339 Ensure top level types in GraphQL schema are not optional and that list elements are non nullable
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/queries/branch.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/queries/internal.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/graphql/queries/relationship.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/graphql/queries/search.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/infrahub/graphql/types/permission.py
  backend/infrahub/graphql/types/relationship.py
  backend/infrahub/graphql/utils.py
  backend/tests/unit/graphql/test_schema.py
  changelog/+graphql.changed.md
Labels: group/backend

#5378 Extend InfrahubTask query to return multiple related nodes
  backend/infrahub/graphql/types/task.py
  backend/infrahub/task_manager/models.py
  backend/infrahub/task_manager/task.py
  backend/tests/unit/graphql/queries/test_task.py
  changelog/+task-deprecated.changed.md
  changelog/+tasknode.added.md
Labels: group/backend

#5391 Disable action buttons depending on the on going tasks
  changelog/branch-actions.changed.md
  frontend/app/src/components/filters/tasks-filter-form.tsx
  frontend/app/src/screens/branches/branch-actions/branch-merge-button.tsx
  frontend/app/src/screens/branches/branch-actions/branch-rebase-button.tsx
  frontend/app/src/screens/branches/branch-actions/branch-validate-button.tsx
  frontend/app/src/screens/branches/branch-actions/graphql/getBranchActionState.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/tasks/constants.ts
Labels: type/feature, group/frontend

#5380 Disable default ordering in GraphQL queries
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/query/node.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/models.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/tests/query_benchmark/conftest.py
  backend/tests/query_benchmark/test_diff_query.py
  backend/tests/query_benchmark/test_node_get_list.py
  backend/tests/query_benchmark/test_node_unique_attribute_constraint.py
  backend/tests/unit/core/test_node_get_list_query.py
  backend/tests/unit/graphql/queries/test_order.py
  backend/tests/unit/graphql/test_manager.py
  changelog/add.5376.md
Labels: group/backend

#5383 treat "NULL" as actual value for uniqueness checks
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/validators/uniqueness/index.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/core/migrations/graph/test_018.py
  changelog/+uniqueness-nulls.fixed.md
Labels: group/backend

#5382 Add `retry_db_transaction` decorator to a few mutations where it was missing
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/resource_manager.py
Labels: group/backend

#5406 Fix issue with task related nodes
  backend/infrahub/graphql/types/task.py
Labels: group/backend

#5342 skip expensive diff operations when possible
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/empty_roots.py
  backend/infrahub/core/diff/query/field_specifiers.py
  backend/infrahub/core/diff/query/roots_metadata.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/integrity/object_conflict/conflict_recorder.py
  backend/infrahub/core/merge.py
  backend/infrahub/core/migrations/graph/m015_diff_format_update.py
  backend/infrahub/core/migrations/graph/m016_diff_delete_bug_fix.py
  backend/infrahub/dependencies/builder/diff/data_check_synchronizer.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/message_bus/operations/event/branch.py
  backend/tests/integration/diff/test_diff_incremental_addition.py
  backend/tests/integration/diff/test_diff_merge.py
  backend/tests/integration_docker/test_propose_change_repository.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_coordinator_lock.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_merger.py
  backend/tests/unit/core/ipam/conftest.py
  backend/tests/unit/graphql/test_diff_tree_query.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  changelog/+incremental-diff-performance.fixed.md
Labels: group/backend

#5325 Component testing using vitest browser mode
  .github/workflows/ci.yml
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/playwright-ct.config.ts
  frontend/app/playwright/index.html
  frontend/app/playwright/index.tsx
  frontend/app/src/components/form/fields/list.field.test.tsx
  frontend/app/src/components/list.test.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships/get-relationships.query.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/screens/objects/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.test.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/schema/utils.ts
  frontend/app/tests/components/render.tsx
  frontend/app/tsconfig.json
  frontend/app/vite.config.ts
Labels: group/frontend, group/ci

#5405 release v1.1.2
  CHANGELOG.md
  changelog/+incremental-diff-performance.fixed.md
  changelog/+task-deprecated.changed.md
  changelog/+tasknode.added.md
  changelog/+uniqueness-nulls.fixed.md
  changelog/5242.fixed.md
  changelog/5306.added.md
  changelog/5350.added.md
  changelog/5385.fixed.md
  changelog/add.5376.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_1_2.mdx
  docs/sidebars.ts
  helm/Chart.yaml
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#5424 Adds documentation for property argument on Python SDK query methods
  docs/docs/python-sdk/guides/query_data.mdx
Labels: type/documentation, ci/skip-changelog

#5417 Cherry pick a few features from develop to make stable consistent for the frontend project
  .github/workflows/ci.yml
  changelog/4648.changed.md
  changelog/branch-actions.changed.md
  changelog/tasks-link.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/playwright-ct.config.ts
  frontend/app/playwright/index.html
  frontend/app/playwright/index.tsx
  frontend/app/src/components/buttons/copy-to-clipboard.tsx
  frontend/app/src/components/filters/tasks-filter-form.tsx
  frontend/app/src/components/form/fields/list.field.test.tsx
  frontend/app/src/components/form/name-select.tsx
  frontend/app/src/components/form/node-select.tsx
  frontend/app/src/components/list.test.tsx
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/graphql/queries/objects/getObjectDetails.ts
  frontend/app/src/screens/branches/branch-actions/branch-merge-button.tsx
  frontend/app/src/screens/branches/branch-actions/branch-rebase-button.tsx
  frontend/app/src/screens/branches/branch-actions/branch-validate-button.tsx
  frontend/app/src/screens/branches/branch-actions/graphql/getBranchActionState.ts
  frontend/app/src/screens/branches/branch-details.tsx
  frontend/app/src/screens/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/screens/objects/object-header.tsx
  frontend/app/src/screens/objects/relationships/domain/get-relationships/get-relationships.query.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/screens/objects/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/screens/objects/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.test.tsx
  frontend/app/src/screens/objects/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/src/screens/role-management/object-permissions-form.tsx
  frontend/app/src/screens/schema/utils.ts
  frontend/app/src/screens/tasks/constants.ts
  frontend/app/src/screens/tasks/task-items.tsx
  frontend/app/tests/components/render.tsx
  frontend/app/tests/e2e/objects/object-details.spec.ts
  frontend/app/tests/e2e/objects/object-update.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
  frontend/app/tests/mocks/data/devices.ts
  frontend/app/tsconfig.json
  frontend/app/vite.config.ts
Labels: type/feature, group/frontend, type/housekeeping, group/ci

#5425 Cleanup old code from graphql utils & enable mypy
  backend/infrahub/graphql/utils.py
  pyproject.toml
Labels: group/backend

#5426 Correct auto fixable rules from ruff 0.8.6
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/enums.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/migrations/graph/m012_convert_account_generic.py
  backend/infrahub/core/migrations/graph/m013_convert_git_password_credential.py
  backend/infrahub/core/models.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/graphql/enums.py
  backend/infrahub/message_bus/types.py
  pyproject.toml
Labels: group/backend

#5415 IFC-1031 Fix access to REST endpoints for anonymous
  backend/infrahub/api/__init__.py
  backend/infrahub/api/artifact.py
  backend/infrahub/api/auth.py
  backend/infrahub/api/diff/diff.py
  backend/infrahub/api/file.py
  backend/infrahub/api/internal.py
  backend/infrahub/api/schema.py
  backend/infrahub/api/storage.py
  backend/infrahub/api/transformation.py
  backend/infrahub/graphql/api/endpoints.py
  backend/tests/unit/api/test_00_auth.py
  backend/tests/unit/api/test_01_auth_cookies.py
  backend/tests/unit/api/test_02_base.py
  backend/tests/unit/api/test_03_menu.py
  backend/tests/unit/api/test_10_query.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/api/test_12_file.py
  backend/tests/unit/api/test_15_diff.py
  backend/tests/unit/api/test_20_graphql.py
  backend/tests/unit/api/test_40_schema.py
  backend/tests/unit/api/test_50_config_api.py
  backend/tests/unit/api/test_50_internals.py
  backend/tests/unit/api/test_70_openapi.py
  backend/tests/unit/api/test_api_base.py
  changelog/5312.fixed.md
  frontend/app/src/utils/fetch.ts
Labels: group/backend, group/frontend

#5411 Slight fix for GraphQL app typing
  backend/infrahub/graphql/app.py
Labels: group/backend

#5428 Adds documentation on querying large amount of data using the SDK
  docs/docs/python-sdk/guides/query_data.mdx
Labels: type/documentation, ci/skip-changelog

#5429 Fix TS errors on *.svg imports
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/menu/object-details-button.tsx
  frontend/app/src/pages/login.tsx
  frontend/app/src/screens/layout/tasks-status.tsx
  frontend/app/src/screens/proposed-changes/item-info.tsx
  frontend/app/src/vite-env.d.ts
  frontend/app/vite.config.ts
Labels: group/frontend, type/housekeeping

#5412 Handle multiple related nodes in the tasks list view
  changelog/related-nodes.changed.md
  frontend/app/src/components/display/inline-display.tsx
  frontend/app/src/graphql/queries/tasks/getTasksItemDetails.ts
  frontend/app/src/graphql/queries/tasks/getTasksItems.ts
  frontend/app/src/screens/role-management/accounts.tsx
  frontend/app/src/screens/role-management/global-permissions.tsx
  frontend/app/src/screens/role-management/groups.tsx
  frontend/app/src/screens/role-management/object-permissions.tsx
  frontend/app/src/screens/role-management/roles.tsx
  frontend/app/src/screens/tasks/task-item-details.tsx
  frontend/app/src/screens/tasks/task-items.tsx
Labels: type/feature, group/frontend

#5438 Fix issue where `related_nodes` is empty unless the query includes `related_node` too
  backend/infrahub/task_manager/task.py
Labels: group/backend

#5440 IFC-1032 Fix IP pool allocation with deleted nodes
  backend/infrahub/core/query/ipam.py
  changelog/5315.fixed.md
Labels: group/backend

#5444 Fix generated documentation
  docs/docs/infrahubctl/infrahubctl-version.mdx
Labels: type/documentation

#5436 IFC-1033 Fix IP addr being in IP pfx pool allocated nodes
  backend/infrahub/core/ipam/utilization.py
  backend/infrahub/core/query/ipam.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/infrahub/graphql/queries/resource_manager.py
  changelog/5316.fixed.md
Labels: group/backend

#5445 add more diff-related logging
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/merge.py
  backend/tests/unit/core/diff/test_diff_merger.py
Labels: group/backend

#5446 skip profile schemas when checking for schema migrations
  backend/infrahub/core/validators/models/violation.py
  backend/infrahub/core/validators/tasks.py
Labels: group/backend

#5461 Change S3 storage default_acl setting to a default value `private`
  backend/infrahub/config.py
  changelog/s3-storage-default-acl.changed.md
Labels: group/backend

#5465 Added ConfigProvider to ensure config data is always available
  frontend/app/cypress/support/component.tsx
  frontend/app/src/app/app.tsx
  frontend/app/src/app/root.tsx
  frontend/app/src/app/router.tsx
  frontend/app/src/config/config.atom.ts
  frontend/app/src/config/config.ts
  frontend/app/src/entities/authentication/ui/login-sso-buttons.tsx
  frontend/app/src/entities/authentication/ui/login.tsx
  frontend/app/src/entities/authentication/ui/useAuth.tsx
  frontend/app/src/entities/config/config-provider.tsx
  frontend/app/src/entities/config/get-config.query.ts
  frontend/app/src/entities/config/get-config.ts
  frontend/app/src/entities/config/types.ts
  frontend/app/src/entities/permission/utils.ts
  frontend/app/src/pages/auth-callback.tsx
  frontend/app/src/shared/components/loading/infrahub-loading.tsx
  frontend/app/src/shared/hooks/usePagination.ts
  frontend/app/tests/integrations/screens/artifact-diff.cy.tsx
  frontend/app/tests/integrations/screens/conversations.cy.tsx
  frontend/app/tests/integrations/screens/object-details-relationships.cy.tsx
  frontend/app/tests/integrations/screens/object-details.cy.tsx
  frontend/app/tests/integrations/screens/object-fields.cy.tsx
  frontend/app/tests/integrations/screens/object-items-deletion.cy.tsx
  frontend/app/tests/integrations/screens/object-items.cy.tsx
Labels: group/frontend, type/housekeeping

#5387 Consolidate Prefect automation into Trigger
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/core/branch/constants.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/git/constants.py
  backend/infrahub/git/tasks.py
  backend/infrahub/schema/constants.py
  backend/infrahub/schema/tasks.py
  backend/infrahub/trigger/__init__.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/constants.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/constants.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/webhook/triggers.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/tests/unit/workflows/test_catalogue.py
Labels: group/backend

#5416 add tracing sso
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  development/docker-compose.yml
Labels: group/backend

#5460 add AttributeKindChecker to aggregated constraints
  backend/infrahub/core/attribute.py
  backend/infrahub/core/validators/attribute/kind.py
  backend/infrahub/dependencies/builder/constraint/schema/aggregated.py
  backend/infrahub/dependencies/builder/constraint/schema/attribute_kind.py
  changelog/5460.fixed.md
Labels: group/backend

#5466 IFC-1128 Fix account with perm not able to update accounts
  backend/infrahub/auth.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/graphql/mutations/main.py
  changelog/5455.fixed.md
Labels: group/backend

#5472 Remove pull_request option from experimental config in the frontend
  frontend/app/src/shared/api/rest/types.generated.ts
  frontend/app/tests/fixtures/config.json
  frontend/app/tests/mocks/data/config.ts
Labels: group/frontend, type/housekeeping

#5476 Improve performances of AttributeAddQuery
  backend/infrahub/core/migrations/query/attribute_add.py
Labels: type/bug, group/backend

#5477 Cleanup around CliContext
  backend/infrahub/cli/__init__.py
  backend/infrahub/cli/context.py
  backend/infrahub/cli/db.py
  backend/infrahub/cli/git_agent.py
Labels: group/backend

#5490 add tracing sso
  backend/infrahub/api/oauth2.py
  backend/infrahub/api/oidc.py
  development/docker-compose.yml
Labels: group/backend

#5478 diff calculation performance improvement
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
Labels: group/backend

#5462 fix previous value bug for multiple updates on branch
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/conflicts_enricher.py
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/query_parser.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

#5479 Add new content types for Artifacts
  backend/infrahub/core/constants/__init__.py
  changelog/5452.added.md
Labels: group/backend

#5449 check testcontainers version match infrahub
  .github/workflows/ci.yml
  python_testcontainers/pyproject.toml
Labels: group/ci

#5482 IFC-592 Merge schemas when loading them from files
  backend/infrahub/api/schema.py
  backend/infrahub/core/schema/__init__.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/4188.fixed.md
Labels: group/backend

#5499 enable test to backend docker integration
  .github/workflows/ci.yml
  backend/tests/integration_docker/test_schema_migration.py
Labels: group/backend, group/ci

#5503 Remove experimental pull request configuration option
  backend/infrahub/config.py
  changelog/5409.removed.md
  development/docker-compose.yml
  docker-compose.yml
  docs/docs/reference/configuration.mdx
Labels: type/documentation, group/backend

#5437 enable test to backend docker integration
  .github/workflows/ci.yml
  backend/tests/integration_docker/test_schema_migration.py
Labels: group/backend, group/ci

#5379 Set PREFECT_API_URL correctly during tests
  backend/tests/conftest.py
  backend/tests/helpers/test_app.py
  backend/tests/helpers/test_worker.py
  backend/tests/helpers/utils.py
Labels: group/backend

#5453 document docs sync to infrahub-docs
  docs/docs/development/docs.mdx
Labels: type/documentation

#5506 Use `data.get("identifier")` instead of `data.get("identifier", None)
  backend/infrahub/graphql/mutations/resource_manager.py
  pyproject.toml
Labels: group/backend

#5469 Refactor GraphQLQueryAnalyzer
  backend/infrahub/api/query.py
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/tests/unit/graphql/auth/query_permission_checker/test_object_permission_checker.py
  backend/tests/unit/graphql/test_query_analyzer.py
Labels: group/backend

#5508 Break apart ruff pytest ruleset into specific rules
  backend/tests/conftest.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/conftest.py
  pyproject.toml
Labels: group/backend

#5494 Branch task indicator does not refetch when window is not focused
  changelog/+task-status-polling.fixed.md
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/branches/ui/hooks/use-current-branch.ts
  frontend/app/src/entities/tasks/api/get-branch-task-status-from-api.ts
  frontend/app/src/entities/tasks/api/getTasksItemsCount.ts
  frontend/app/src/entities/tasks/api/getTasksStatus.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch.query.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch.test.ts
  frontend/app/src/entities/tasks/domain/is-task-running-on-branch.ts
  frontend/app/src/entities/tasks/ui/task-status.test.tsx
  frontend/app/src/entities/tasks/ui/task-status.tsx
  frontend/app/src/shared/components/layout/header.tsx
  frontend/app/src/shared/components/layout/tasks-status.tsx
  frontend/app/src/shared/components/ui/pulse.tsx
  frontend/app/tests/components/render.tsx
  frontend/app/tests/fake/branch.ts
Labels: type/bug, group/frontend

#5509 Helper cards now scale based on user's defined font size
  changelog/+homepage-accessibility.fixed.md
  frontend/app/src/pages/homepage.tsx
Labels: type/bug, group/frontend

#5511 Prepare v1.1.4
  .github/workflows/update-compose-file-and-chart.yml
  CHANGELOG.md
  changelog/+homepage-accessibility.fixed.md
  changelog/+task-status-polling.fixed.md
  changelog/4188.fixed.md
  changelog/5409.removed.md
  changelog/5452.added.md
  docs/docs/release-notes/infrahub/release-1_1_4.mdx
  docs/sidebars.ts
  pyproject.toml
  tasks/release.py
Labels: type/documentation, group/ci

#5517 Update backend dependencies : FastAPI, pydantic, neo4j, faker, and uvloop
  backend/infrahub/types.py
  docs/docs/python-sdk/reference/config.mdx
  poetry.lock
  pyproject.toml
Labels: type/documentation, group/backend

#5512 update frontend dependencies
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/shared/api/graphql/graphqlClientApollo.tsx
  frontend/app/vite.config.ts
Labels: group/frontend, type/housekeeping

#5470 Retrieve correctly the profile attributes for the form
  changelog/5276.fixed.md
  frontend/app/src/shared/components/editor/json/json-editor.tsx
  frontend/app/src/shared/components/form/profiles-selector.tsx
  frontend/app/tests/unit/data/deviceSchema.ts
  frontend/app/tests/unit/utils/getSchemaObjectColumns.test.ts
Labels: type/bug, group/frontend

#5454 Fix parent filter rule for relationships in forms to not mark as required if the field is required
  changelog/5418.fixed.md
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
Labels: type/bug, group/frontend

#5524 Initialize InfrahubComponent correctly
  backend/infrahub/services/__init__.py
Labels: group/backend

#5495 more verbose schema integrity error message
  backend/infrahub/core/validators/aggregated_checker.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_add_mandatory_attr_rel.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_inherit_from.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_rebase.py
  backend/tests/unit/api/test_40_schema.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+constraint-error-messages.fixed.md
Labels: group/backend

#5471 Ensure Transforms and Checks are executed with the correct timeout
  backend/infrahub/api/artifact.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/message_bus/messages/check_repository_usercheck.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/transformations/constants.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/person_with_cars_transform.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  changelog/5456.fixed.md
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5525 Switch to query_report for GraphQL Analyzer
  backend/infrahub/api/query.py
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/infrahub/graphql/mutations/graphql_query.py
  changelog/4644.changed.md
Labels: group/backend

#5533 Merge stable into develop
  backend/infrahub/api/artifact.py
  backend/infrahub/api/transformation.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/validators/aggregated_checker.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/message_bus/messages/check_repository_usercheck.py
  backend/infrahub/message_bus/operations/check/repository.py
  backend/infrahub/transformations/constants.py
  backend/infrahub/transformations/models.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/person_with_cars_transform.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_add_mandatory_attr_rel.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_generic_uniqueness.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_inherit_from.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_rebase.py
  backend/tests/unit/api/test_11_artifact.py
  backend/tests/unit/api/test_40_schema.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/graphql/test_mutation_artifact_definition.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+constraint-error-messages.fixed.md
  changelog/5276.fixed.md
  changelog/5334.fixed.md
  changelog/5418.fixed.md
  changelog/5456.fixed.md
  changelog/5522.fixed.md
  development/docker-compose.yml
  docker-compose.yml
  docs/docs/reference/message-bus-events.mdx
  frontend/app/biome.json
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/entities/proposed-changes/ui/proposed-change-edit-form.tsx
  frontend/app/src/shared/api/graphql/graphqlClientApollo.tsx
  frontend/app/src/shared/components/editor/json/json-editor.tsx
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
  frontend/app/src/shared/components/form/profiles-selector.tsx
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getUpdateMutationFromFormData.ts
  frontend/app/tests/e2e/proposed-changes/proposed-changes.spec.ts
  frontend/app/tests/unit/data/deviceSchema.ts
  frontend/app/tests/unit/utils/getSchemaObjectColumns.test.ts
  frontend/app/vite.config.ts
  helm/templates/infrahub-server.yaml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
Labels: type/documentation, group/backend, group/frontend

#5467 Initial query interfaces for events
  backend/infrahub/events/models.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/queries/event.py
  backend/infrahub/graphql/schema.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/helpers/events.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

#5537 test merging pr into lgu-stable
  backend/tests/functional/ipam/test_load_concurrent_prefixes.py
Labels: group/backend

#5458 Remove global services.service
  backend/infrahub/api/query.py
  backend/infrahub/api/transformation.py
  backend/infrahub/cli/db.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/ipam/tasks.py
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/tasks.py
  backend/infrahub/graphql/initialization.py
  backend/infrahub/graphql/mutations/tasks.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/graphql/query.py
  backend/infrahub/groups/tasks.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/server.py
  backend/infrahub/services/__init__.py
  backend/infrahub/services/adapters/workflow/local.py
  backend/infrahub/tasks/telemetry.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workers/utils.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/functional/ipam/test_proposed_change_reconcile.py
  backend/tests/helpers/graphql.py
  backend/tests/helpers/test_app.py
  backend/tests/helpers/utils.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration/message_bus/operations/request/conftest.py
  backend/tests/integration/message_bus/operations/request/test_proposed_change.py
  backend/tests/integration/transform/test_transform.py
  backend/tests/integration/user_workflows/test_node_with_type_name_attr.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
  backend/tests/unit/core/test_branch_diff.py
  backend/tests/unit/core/test_branch_rebase.py
  backend/tests/unit/git/test_git_rpc.py
  backend/tests/unit/git/test_git_transform.py
  backend/tests/unit/graphql/mutations/test_branch.py
  backend/tests/unit/graphql/mutations/test_number_supports_large_integers.py
  backend/tests/unit/graphql/mutations/test_proposed_change.py
  backend/tests/unit/graphql/mutations/test_repository.py
  backend/tests/unit/graphql/queries/test_branch.py
  backend/tests/unit/graphql/test_query.py
  backend/tests/unit/message_bus/operations/event/test_branch.py
  backend/tests/unit/message_bus/operations/requests/test_graphql_query_group.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

#5535 Improved typing and naming on attribute kind
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/edit-form-hook/dynamic-control-types.ts
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visibile-in-list.test.ts
  frontend/app/src/entities/nodes/object/utils/get-attributes-visible-in-list.ts
  frontend/app/src/entities/resource-manager/ui/number-pool-form.tsx
  frontend/app/src/entities/schema/constants.ts
  frontend/app/src/entities/schema/types.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/search/search-nodes.tsx
  frontend/app/tests/fake/schema.ts
Labels: group/frontend, type/housekeeping

#5500 Allow OIDC fallback to id_token for group support
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/api/oidc.py
  backend/tests/adapters/http.py
  backend/tests/unit/api/test_oidc.py
  changelog/5464.added.md
  poetry.lock
  pyproject.toml
Labels: group/backend

#5528 move node-level diff query to its own query and limit it
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/test_query_diff.py
Labels: group/backend

#5541 Fix too many relationship error
  backend/infrahub/core/relationship/model.py
  backend/tests/functional/ipam/conftest.py
  backend/tests/functional/ipam/test_load_concurrent_prefixes.py
  changelog/5474.fixed.md
Labels: group/backend

#5546 Sync docs: update sidebars and transform relative links to absolute p…
  .github/workflows/sync-docs.yml
Labels: group/ci

#5547 Sync docs: update sidebars and transform relative links to absolute p…
  .github/workflows/sync-docs.yml
Labels: group/ci

#5549 fix(ci): run invoke demo start test only on stable
  .github/workflows/ci.yml
Labels: group/ci

#5518 Upgrade Prefect to 3.1.13
  .github/workflows/ci.yml
  .github/workflows/version-upgrade.yml
  backend/infrahub/core/migrations/schema/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/generators/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/task_manager/constants.py
  backend/infrahub/task_manager/task.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/tasks/telemetry.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/workers/infrahub_async.py
  backend/infrahub/workflows/initialization.py
  backend/tests/conftest.py
  backend/tests/functional/conftest.py
  backend/tests/helpers/utils.py
  backend/tests/integration/conftest.py
  backend/tests/integration/git/test_git_repository.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  backend/tests/unit/api/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/queries/test_task.py
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  helm/values.yaml
  poetry.lock
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
Labels: group/backend, group/ci

#5548 fix: use infrahub image to run prefect server
  .github/workflows/ci.yml
  .github/workflows/version-upgrade.yml
  development/docker-compose-deps-nats.yml
  development/docker-compose-deps.yml
  docker-compose.yml
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/shared.py
Labels: group/ci

#5340 IFC-968 Prevent importing git remote branch with conflicts
  backend/infrahub/git/base.py
  backend/infrahub/git/repository.py
  backend/tests/fixtures/repos/conflicting-branches/initial__main/commit1/test.gql
  backend/tests/fixtures/repos/conflicting-branches/initial__main/commit2/test.gql
  backend/tests/fixtures/repos/conflicting-branches/pr_0001__change1/commit1/base_commit
  backend/tests/fixtures/repos/conflicting-branches/pr_0001__change1/commit1/test.gql
  backend/tests/helpers/file_repo.py
  backend/tests/unit/git/test_git_repository.py
  changelog/5085.fixed.md
Labels: group/backend

#5552 Fix configuration for HTTP adapter
  backend/infrahub/services/adapters/http/__init__.py
  backend/infrahub/services/adapters/http/httpx.py
Labels: group/backend

#5554 Extracted code for form field generation into a dedicated function
  frontend/app/graphql.config.ts
  frontend/app/src/shared/components/form/type.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
  frontend/app/src/shared/components/form/utils/getFormFieldFromRelationship.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.test.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/form/utils/isFieldDisabled.ts
Labels: group/frontend, type/housekeeping

#5557 Removed dependencies @tailwindcss/forms
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/tailwind.config.js
Labels: group/frontend

#5519 Use `artifact_name` instead of `name` from ArtifactDefinition to generate artifacts
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/requests/artifact_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/message_bus/types.py
  backend/tests/integration/git/test_readonly_repository.py
  changelog/5484.fixed.md
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: group/backend, group/frontend

#5534 Display the computed attribute in the schema visualizer
  changelog/5515.added.md
  frontend/app/src/entities/schema/ui/attribute-display.tsx
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.tsx
  frontend/app/src/entities/schema/ui/styled.tsx
  frontend/app/src/pages/schema.tsx
  frontend/app/src/shared/components/buttons/button-primitive.tsx
  frontend/app/src/shared/components/modals/modal.tsx
  frontend/app/tests/components/render.tsx
Labels: type/feature, group/frontend, cd/preview

#5543 limit attributes/relationship diffs
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_coordinator.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

#5576 Add react-scan on frontend dev mode
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/app/devtools.tsx
Labels: group/frontend

#5581 Fixes the infrahubctl command docs after upgrading SDK to v1.7.0
  docs/docs/infrahubctl/infrahubctl-dump.mdx
  docs/docs/infrahubctl/infrahubctl-load.mdx
  docs/docs/infrahubctl/infrahubctl-repository.mdx
  docs/docs/infrahubctl/infrahubctl-run.mdx
Labels: type/documentation

#5574 Fixes issue when retrieving files from S3 buckets
  backend/infrahub/storage.py
  changelog/5573.fixed.md
Labels: group/backend

#5551 Implement workaround for prefect client.find_automation()
  backend/infrahub/webhook/tasks.py
Labels: group/backend

#5580 Set target-version for ruff to Python 3.10
  backend/infrahub/core/attribute.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/ipam/reconciler.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/infrahub/core/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/standard.py
  backend/infrahub/core/property.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/utils.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/utils.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/loaders/node.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/types/node.py
  backend/infrahub/menu/models.py
  backend/infrahub/services/component.py
  backend/tests/adapters/cache.py
  backend/tests/adapters/log.py
  backend/tests/adapters/message_bus.py
  backend/tests/conftest.py
  backend/tests/helpers/file_repo.py
  backend/tests/helpers/query_benchmark/car_person_generators.py
  backend/tests/helpers/query_benchmark/data_generator.py
  backend/tests/helpers/query_benchmark/db_query_profiler.py
  backend/tests/helpers/test_client.py
  backend/tests/integration/conftest.py
  backend/tests/integration/schema_lifecycle/test_migration_attribute_branch.py
  backend/tests/integration/schema_lifecycle/test_migration_relationship_branch.py
  backend/tests/integration/schema_lifecycle/test_schema_attribute_remove_add.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_branch.py
  backend/tests/query_benchmark/utils.py
  backend/tests/scale/common/stagers.py
  backend/tests/unit/api/test_api_exception_handler.py
  backend/tests/unit/core/diff/test_diff_repository.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_model_hashable.py
  backend/tests/unit/core/test_node_standard.py
  models/infrastructure_edge.py
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/container.py
  tasks/__init__.py
  tasks/backend.py
  tasks/docs.py
  tasks/main.py
  tasks/sdk.py
  utilities/db_backup/__main__.py
Labels: group/backend

#5583 Upgrade Prefect 3.1.14
  backend/tests/helpers/utils.py
  helm/values.yaml
  poetry.lock
  pyproject.toml
Labels: group/backend

#5561 IFC-15 Support for mandatory/optional parent relationship
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/test_data/dataset01.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/3682.fixed.md
Labels: group/backend

#5586 Cleanup release-drafter
  .github/infrahub-release-drafter.yml
  .github/workflows/release-note.yml
Labels: group/ci

#5564 Revert proposed change state to open on merge failure
  backend/infrahub/proposed_change/tasks.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  changelog/5563.fixed.md
Labels: group/backend

#5590 Fix branch agnostic too many relationships error
  backend/infrahub/core/relationship/model.py
  backend/tests/functional/branch/conftest.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
Labels: group/backend

#5597 Test github bot
  backend/infrahub/core/relationship/model.py
Labels: group/backend

#5585 Add docs for API Tokens UI
  docs/docs/guides/managing-api-tokens.mdx
  docs/docs/media/profile_tokens.png
  docs/docs/media/profile_tokens_copy.png
  docs/docs/media/profile_tokens_create.png
  frontend/app/tests/e2e/profile/tokens.spec.ts
Labels: type/documentation, group/frontend

#5575 get diffs batched
  backend/infrahub/core/diff/query/diff_get.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/tests/unit/core/diff/test_diff_repository.py
Labels: group/backend

#5596 Fix issue with new content types when generating artifacts
  backend/infrahub/git/integrator.py
  backend/tests/fixtures/repos/car-dealership/initial__main/.infrahub.yml
  backend/tests/fixtures/repos/car-dealership/initial__main/templates/person_with_cars_yaml.j2
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/car_spec_markdown.py
  backend/tests/integration/git/test_readonly_repository.py
  backend/tests/integration_docker/test_propose_change_repository.py
Labels: group/backend

#5601 WIP: Test Github Bot
  backend/infrahub/core/branch/tasks.py
Labels: group/backend

#5555 New content-types in artifacts preview
  changelog/5452.added.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/entities/artifacts/ui/artifact-header.tsx
  frontend/app/src/entities/artifacts/ui/generate.tsx
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
  frontend/app/src/entities/proposed-changes/ui/proposed-change-details.tsx
  frontend/app/src/entities/schema/ui/computed-attribute-display.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
  frontend/app/src/shared/components/buttons/copy-to-clipboard.tsx
  frontend/app/src/shared/components/buttons/download.tsx
  frontend/app/src/shared/components/conversations/comment.tsx
  frontend/app/src/shared/components/display/svg.tsx
  frontend/app/src/shared/components/editor/code-editor.tsx
  frontend/app/src/shared/components/editor/code/code-viewer-limiter.tsx
  frontend/app/src/shared/components/editor/code/code-viewer.tsx
  frontend/app/src/shared/components/editor/graphql/graphql-viewer.tsx
  frontend/app/src/shared/components/editor/markdown/index.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-editor-header.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-render.tsx
  frontend/app/src/shared/components/editor/markdown/markdown-viewer.tsx
  frontend/app/src/shared/components/file.tsx
  frontend/app/src/shared/components/form/fields/textarea.field.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/tests/e2e/objects/artifact.spec.ts
Labels: type/feature, group/frontend, cd/preview

#5606 prevent ipam diff parser crash
  backend/infrahub/core/diff/ipam_diff_parser.py
Labels: group/backend

#5605 fix bug in merge logic that caused duplicate edges in the databae
  backend/infrahub/core/diff/merger/serializer.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
Labels: group/backend

#5577 Cleanup structure of events
  backend/infrahub/api/schema.py
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/events/repository_action.py
  backend/infrahub/events/schema_action.py
  backend/infrahub/git/integrator.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/types/event.py
  backend/tests/unit/graphql/queries/test_event.py
  backend/tests/unit/task_manager/test_event.py
Labels: group/backend

#5611 Fix Dependabot dependencies alerts
  frontend/app/package-lock.json
  frontend/packages/plugins/template/package-lock.json
  frontend/packages/ui/package-lock.json
Labels: group/frontend, type/housekeeping

#5608 Rename context to graphql_context
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/task/user_task.py
  backend/infrahub/graphql/mutations/account.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/diff_conflict.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/permissions.py
  backend/infrahub/graphql/queries/account.py
  backend/infrahub/graphql/queries/branch.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/graphql/queries/relationship.py
  backend/infrahub/graphql/queries/resource_manager.py
  backend/infrahub/graphql/queries/search.py
  backend/infrahub/graphql/queries/status.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/infrahub/graphql/subscription/graphql_query.py
  backend/infrahub/graphql/types/branch.py
  backend/infrahub/graphql/types/interface.py
  backend/infrahub/graphql/types/standard_node.py
Labels: group/backend

#5620 Removed old Popover using @headless/ui
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/diff/checks/validator.tsx
  frontend/app/src/shared/components/buttons/info-button.tsx
  frontend/app/src/shared/components/buttons/more-button.tsx
  frontend/app/src/shared/components/display/popover.tsx
  frontend/app/src/shared/components/inputs/color-picker.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5603 Add dropdown field for Default Address Type in IP Address Pool form to use nodes that inherit from BuildinIPAddress
  changelog/3489.added.md
  frontend/app/src/entities/ipam/constants.ts
  frontend/app/src/entities/resource-manager/constants.ts
  frontend/app/src/entities/resource-manager/ui/ip-address-pool-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/ui/command.tsx
Labels: type/feature, group/frontend, cd/preview

#5591 Add mutation reporting for InfrahubQueryAnalyzer.query_report
  backend/infrahub/graphql/analyzer.py
  backend/infrahub/graphql/auth/query_permission_checker/object_permission_checker.py
  backend/tests/unit/graphql/test_query_analyzer.py
Labels: group/backend

#5621 Removed old combobox component
  frontend/app/src/entities/nodes/object-item-edit/object-item-edit-paginated.tsx
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/proposed-changes/ui/create-form.tsx
  frontend/app/src/shared/components/form/fields/number.field.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/pool-selector.tsx
  frontend/app/src/shared/components/form/profiles-selector.tsx
  frontend/app/src/shared/components/ui/combobox-legacy.tsx
  frontend/app/tests/e2e/objects/profiles/multi-profiles.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
Labels: group/frontend

#5624 Loosen requirements of token verification for OIDC id_token groups
  backend/infrahub/api/oidc.py
  backend/tests/unit/api/test_oidc.py
  changelog/5623.fixed.md
Labels: group/backend

#5631 fix(ci): disable test tracing
  .github/workflows/ci.yml
Labels: group/ci

#5630 fix(ci): disable test tracing
  .github/workflows/ci.yml
Labels: group/ci

#5633 release 1.1.6 prep
  CHANGELOG.md
  changelog/+diff-perf.fixed.md
  changelog/3489.added.md
  changelog/3682.fixed.md
  changelog/5452.added.md
  changelog/5563.fixed.md
  changelog/5573.fixed.md
  changelog/5623.fixed.md
  docs/docs/media/release_notes/infrahub_1_1_6/json_artifact.png
  docs/docs/media/release_notes/infrahub_1_1_6/markdown_artifact_preview.png
  docs/docs/media/release_notes/infrahub_1_1_6/markdown_artifact_raw.png
  docs/docs/media/release_notes/infrahub_1_1_6/svg_artifact.png
  docs/docs/media/release_notes/infrahub_1_1_6/text_artifact.png
  docs/docs/media/release_notes/infrahub_1_1_6/yaml_artifact.png
  docs/docs/release-notes/infrahub/release-1_1_6.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#5618 Add ability to track node changelog during mutations
  backend/infrahub/core/attribute.py
  backend/infrahub/core/changelog/__init__.py
  backend/infrahub/core/changelog/models.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/events/models.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/services/__init__.py
  backend/infrahub/webhook/tasks.py
  backend/tests/adapters/event.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_update.py
Labels: group/backend

#5632 change docs to local repos
  docs/docs/integrations/nornir-infrahub/readme.mdx
  docs/docs/integrations/readme.mdx
  docs/docs/integrations/sync/guides/creation.mdx
  docs/docs/integrations/sync/guides/custom-certificates.mdx
  docs/docs/integrations/sync/guides/installation.mdx
  docs/docs/integrations/sync/guides/run.mdx
  docs/docs/integrations/sync/readme.mdx
  docs/docs/integrations/sync/reference/cli.mdx
  docs/docs/integrations/sync/reference/config.mdx
  docs/docs/media/infrahub_sync_process.excalidraw.svg
  docs/docs/overview/data.mdx
  docs/package-lock.json
  docs/sidebars.ts
Labels: type/documentation

#5625 Several fixes on new table
  frontend/app/src/entities/nodes/object/ui/filters/filter-search-input.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/cells/generics/kind-header-cell.tsx
  frontend/app/src/entities/nodes/object/ui/objects-table/get-object-table-columns.tsx
  frontend/app/src/shared/components/inputs/search-input.tsx
  frontend/app/src/shared/hooks/useDebounce.ts
  frontend/app/tests/e2e/login.spec.ts
Labels: type/bug, group/frontend, ci/skip-changelog

#5634 update diff logic to handle schema kind migration
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  backend/tests/unit/core/diff/test_diff_calculator.py
Labels: group/backend

#5645 Add information about git submodules
  docs/docs/development/backend.mdx
Labels: type/documentation

#5646 Add PostgreSQL to architecture drawings
  docs/docs/media/high_level_architecture.excalidraw.svg
  docs/docs/media/high_level_architecture_ha.excalidraw.svg
  docs/docs/topics/architecture.mdx
  docs/docs/tutorials/getting-started/introduction-to-infrahub.mdx
Labels: type/documentation
