Repository opsmill/infrahub, pull requests merged in 2025-03, with the labels that each got.

#5894 Update main Python packages
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/core/diff/query/filters.py
  backend/infrahub/message_bus/__init__.py
  backend/infrahub/task_manager/models.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#5874 Provide option to set GraphQL context information as input to mutations
  backend/infrahub/graphql/context.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/branch.py
  backend/infrahub/graphql/mutations/computed_attribute.py
  backend/infrahub/graphql/mutations/diff.py
  backend/infrahub/graphql/mutations/diff_conflict.py
  backend/infrahub/graphql/mutations/generator.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/types/context.py
  backend/tests/unit/graphql/mutations/test_mutation_context.py
Labels: group/backend

#5881 Add menu item in builtin menu for templates
  backend/infrahub/menu/constants.py
  backend/infrahub/menu/generator.py
  backend/infrahub/menu/menu.py
Labels: group/backend

#5900 On edit form, display source when a field value is from template
  frontend/app/src/app/app.tsx
  frontend/app/src/entities/nodes/api/basicMutation.ts
  frontend/app/src/entities/nodes/object-item-edit/generateObjectEditFormQuery.ts
  frontend/app/src/entities/schema/utils/is-pool-schema.test.ts
  frontend/app/src/entities/schema/utils/is-pool-schema.ts
  frontend/app/src/shared/api/graphql/utils.test.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getFieldDefaultValue.ts
  frontend/app/src/shared/utils/common.ts
Labels: type/feature, group/frontend

#5902 Simplified relationship many component
  frontend/app/src/entities/nodes/api/generateRelationshipListQuery.ts
  frontend/app/src/entities/role-manager/ui/account-role-form.tsx
  frontend/app/src/entities/role-manager/ui/permission-combobox.tsx
  frontend/app/src/entities/schema/utils/is-hierarchical-schema.ts
  frontend/app/src/shared/components/form/fields/relationship-many.field.tsx
  frontend/app/src/shared/components/inputs/relationship-many.tsx
  frontend/app/src/shared/components/ui/command.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5914 Stable to release 1.2
  backend/infrahub/core/diff/enricher/cardinality_one.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/enricher/labels.py
  backend/infrahub/core/diff/enricher/path_identifier.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/parent_node_adder.py
  backend/infrahub/core/diff/payload_builder.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query/summary_counts_enricher.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/core/graph/index.py
  backend/infrahub/dependencies/builder/diff/deserializer.py
  backend/infrahub/dependencies/builder/diff/enricher/hierarchy.py
  backend/infrahub/dependencies/builder/diff/parent_node_adder.py
  backend/tests/unit/core/diff/query/test_read.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_diff_get_all_conflicts.py
  backend/tests/unit/core/diff/test_diff_has_conflicts_query.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/graphql/diff/test_diff_update_mutation.py
Labels: group/backend

#5910 Add `generate_template` to node and generic schema
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m020_add_generate_template_attr.py
Labels: group/backend

#5903 Add override_context global permission
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/graphql/context.py
  backend/infrahub/permissions/globals.py
  backend/tests/helpers/permissions.py
  backend/tests/unit/graphql/mutations/test_mutation_context.py
  backend/tests/unit/graphql/test_mutation_relationship.py
Labels: group/backend

#5865 Send node mutation events with rebase
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/core/changelog/diff.py
  backend/infrahub/core/changelog/models.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/models.py
  backend/tests/integration/schema_lifecycle/test_migration_attribute_branch.py
Labels: group/backend

#5923 IFC-1342 Mention "template" in label for rel pointing to templates
  backend/infrahub/core/schema/schema_branch.py
Labels: group/backend

#5916 Do not include templates in individual menu items
  backend/infrahub/core/schema/schema_branch.py
  frontend/app/src/config/constants.tsx
  frontend/app/src/shared/components/form/generic-selector.tsx
Labels: group/backend, group/frontend

#5918 Update activities links and add more events in the UI
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/branch-event.tsx
  frontend/app/src/entities/events/ui/event.tsx
  frontend/app/src/entities/events/ui/global-branch-event.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/global-group-event.tsx
  frontend/app/src/entities/events/ui/global-node-event.tsx
  frontend/app/src/entities/events/ui/global-standard-event.tsx
  frontend/app/src/entities/events/ui/group-event.tsx
  frontend/app/src/entities/events/ui/node-event.tsx
  frontend/app/src/entities/events/ui/node-events.tsx
  frontend/app/src/entities/events/ui/standard-event.tsx
  frontend/app/src/entities/events/utils/constants.ts
  frontend/app/src/entities/nodes/object/api/get-display-label.query.ts
  frontend/app/src/entities/nodes/object/ui/node-label.tsx
  frontend/app/src/entities/schema/ui/decorators/withSchemaContext.tsx
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
Labels: group/frontend

#5929 Fixed incorrect toast messages for IP address pool creation, updates, and errors
  changelog/5908.fixed.md
  frontend/app/src/entities/resource-manager/ui/ip-address-pool-form.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
Labels: type/bug, group/frontend

#5935 Fix testcontainers check
  .github/file-filters.yml
  .github/workflows/ci.yml
  python_testcontainers/pyproject.toml
Labels: group/ci

#5940 update frontend dependencies
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/shared/components/editor/markdown/markdown-render.tsx
  frontend/app/src/shared/components/table/style.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5939 fix(ci): deps install for docker integration job
  .github/workflows/ci.yml
Labels: group/ci

#5946 Fix event doc
  .github/workflows/ci.yml
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation, group/ci

#5936 Upgrade Prefect 3.2.11 and install prefect redis
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/tasks.py
  backend/infrahub/transformations/tasks.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/tests/helpers/utils.py
  backend/tests/integration/git/test_git_repository.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#5948 [FIX] Deleting an object from the details view keeps you on your current branch instead of redirecting to the main branch
  changelog/5232.fixed.md
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/tests/e2e/objects/object-details-delete.spec.ts
  frontend/app/tests/e2e/utils/graphql.ts
Labels: type/bug, group/frontend

#5944 Various fixes for Webhook
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/models.py
  backend/infrahub/webhook/models.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/webhook/triggers.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/unit/trigger/test_catalogue.py
Labels: group/backend

#5950 Fix file selection for documentation style CI job
  .github/workflows/ci.yml
  docs/_templates/infrahub-events.j2
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation, group/ci

#5957 Fix deprecated parameter for diff update requests
  frontend/app/src/entities/branches/api/rebase-branch-from-api.ts
  frontend/app/src/entities/branches/domain/rebase-branch.ts
  frontend/app/src/entities/branches/ui/branch-rebase-button.tsx
  frontend/app/src/entities/diff/api/update-diff-from-api.ts
  frontend/app/src/entities/diff/domain/update-diff.ts
Labels: group/frontend

#5953 Add validator events
  backend/infrahub/core/constants/__init__.py
  backend/infrahub/core/validators/checks_runner.py
  backend/infrahub/events/validator_action.py
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/messages/finalize_validator_execution.py
  backend/infrahub/message_bus/messages/request_generatordefinition_check.py
  backend/infrahub/message_bus/operations/finalize/validator.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/message_bus/operations/requests/proposed_change.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/validators/__init__.py
  backend/infrahub/validators/events.py
  backend/infrahub/workers/utils.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  docs/docs/reference/infrahub-events.mdx
  docs/docs/reference/message-bus-events.mdx
  frontend/app/src/entities/events/constants.ts
Labels: type/documentation, group/backend, group/frontend

#5959 Fixed pagination on relationship table
  frontend/app/src/entities/nodes/relationships/api/get-object-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-object-relationships/get-object-relationships.ts
  frontend/app/src/shared/components/table/style.tsx
Labels: type/bug, group/frontend

#5958 Update activities texts
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/tests/e2e/activity-log/global-activity-log.spec.ts
  frontend/app/tests/e2e/activity-log/object-activity-log.spec.ts
Labels: group/frontend

#5955 migration to clean up duplicated edges
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m020_duplicate_edges.py
  backend/infrahub/core/migrations/shared.py
  backend/tests/unit/core/migrations/graph/test_020.py
  changelog/+duplicate-db-edges.fixed.md
Labels: group/backend

#5938 IFC-1348 Make templates for generics generics
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/graphql/mutations/main.py
  backend/tests/constants/kind.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/helpers/schema/device.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_node.py
  backend/tests/unit/graphql/test_mutation_create.py
Labels: group/backend

#5967 Merge stable to release1.2 (2025-03-07)
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m020_duplicate_edges.py
  backend/infrahub/core/migrations/graph/m021_add_generate_template_attr.py
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/resource_manager.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/migrations/graph/test_020.py
  backend/tests/unit/core/test_concurrent_save.py
  changelog/+duplicate-db-edges.fixed.md
  changelog/+getresource.fixed.md
  changelog/+uniqueness-constraint-overlap.fixed.md
Labels: group/backend

#5964 Additional fixes for ruff UP007
  backend/infrahub/api/dependencies.py
  backend/infrahub/api/diff/validation_models.py
  backend/infrahub/database/__init__.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/infrahub/git/models.py
  backend/infrahub/git/repository.py
  backend/infrahub/git/worktree.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/artifact_definition.py
  backend/infrahub/graphql/mutations/graphql_query.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/menu.py
  backend/infrahub/graphql/mutations/models.py
  backend/infrahub/graphql/mutations/node_getter/by_default_filter.py
  backend/infrahub/graphql/mutations/node_getter/by_hfid.py
  backend/infrahub/graphql/mutations/node_getter/by_id.py
  backend/infrahub/graphql/mutations/node_getter/interface.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/graphql/mutations/schema.py
  backend/infrahub/graphql/parser.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/infrahub/graphql/queries/ipam.py
  backend/infrahub/graphql/queries/relationship.py
  backend/infrahub/graphql/queries/search.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/types/node.py
  backend/infrahub/graphql/utils.py
  backend/infrahub/pools/number.py
  backend/infrahub/pytest_plugin.py
  backend/infrahub/tasks/artifact.py
  backend/infrahub/webhook/models.py
  backend/infrahub/workers/infrahub_async.py
Labels: group/backend

#5963 Slight cleanup of validators
  backend/infrahub/git/tasks.py
  backend/infrahub/message_bus/operations/requests/generator_definition.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/validators/tasks.py
Labels: group/backend

#5960 feat(backend): add database connection throttling
  backend/infrahub/config.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/metrics.py
Labels: group/backend

#5974 Fix consistent import of pytest
  backend/infrahub/pytest_plugin.py
  pyproject.toml
Labels: group/backend

#5979 fix(ci): git config before helm commit
  .github/workflows/update-compose-file-and-chart.yml
Labels: group/ci

#5977 Allow passing any filter to relationship combobox list
  frontend/app/src/entities/nodes/api/generateRelationshipListQuery.ts
  frontend/app/src/entities/nodes/relationships/api/get-relationships-from-api.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.query.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.test.ts
  frontend/app/src/entities/nodes/relationships/domain/get-relationships/get-relationships.ts
  frontend/app/src/entities/nodes/relationships/ui/relationship-combobox-list.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-hierarchical-combobox-list.tsx
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend, ci/skip-changelog

#5973 Clean up unused bus messages
  backend/infrahub/message_bus/messages/__init__.py
  backend/infrahub/message_bus/messages/event_branch_create.py
  backend/infrahub/message_bus/messages/event_branch_delete.py
  backend/infrahub/message_bus/messages/event_branch_rebased.py
  backend/infrahub/message_bus/messages/event_node_mutated.py
  backend/infrahub/message_bus/messages/event_schema_update.py
  backend/infrahub/message_bus/operations/__init__.py
  backend/infrahub/message_bus/operations/event/__init__.py
  backend/infrahub/message_bus/operations/event/node.py
  backend/infrahub/message_bus/operations/event/schema.py
  backend/tests/integration/services/adapters/message_bus/test_rabbitmq.py
  docs/docs/reference/message-bus-events.mdx
Labels: type/documentation, group/backend

#5984 IFC-1346 Set optional value for attr/rel of sub-templates
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#5962 Add activities for graphql queries
  frontend/app/src/entities/events/ui/node-details-events.tsx
  frontend/app/src/entities/graphql/ui/graphql-query-activities.tsx
  frontend/app/src/entities/graphql/ui/graphql-query-details-card.tsx
  frontend/app/src/entities/graphql/ui/graphql-query-viewer-card.tsx
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/pages/objects/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/shared/components/editor/graphql/graphql-viewer.tsx
  frontend/app/tests/e2e/objects/CoreGraphQLQuery/core-graphql-query.spec.ts
Labels: group/frontend

#5986 Consistent date taime picker in filters
  frontend/app/src/shared/components/inputs/date-picker.tsx
Labels: group/frontend

#5987 disable flaky test while fixing it
  frontend/app/tests/e2e/proposed-changes/proposed-changes_diff.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5976 Merge stable into release-1.2 (wo/ conflict)
  CHANGELOG.md
  changelog/+diff-save.changed.md
  changelog/+diff-update.changed.md
  changelog/+duplicate-db-edges.fixed.md
  changelog/+getresource.fixed.md
  changelog/+peer-count.fixed.md
  changelog/+uniqueness-constraint-overlap.fixed.md
  docs/docs/release-notes/infrahub/release-1_1_8.mdx
  docs/sidebars.ts
Labels: type/documentation

#5981 update docusaurus
  docs/package-lock.json
  docs/package.json
Labels: type/documentation

#5996 Add optional proposed change ID to branch merged event
  backend/infrahub/core/branch/tasks.py
  backend/infrahub/events/branch_action.py
  backend/infrahub/proposed_change/tasks.py
  backend/tests/integration/proposed_change/test_proposed_change_conflict.py
  docs/docs/reference/infrahub-events.mdx
Labels: type/documentation, group/backend

#5951 Update artifact details UI + add activities
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/artifacts/constants.ts
  frontend/app/src/entities/artifacts/types.ts
  frontend/app/src/entities/artifacts/ui/artifact-details-menu.tsx
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-copy.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file-download.tsx
  frontend/app/src/entities/artifacts/ui/artifact-file.tsx
  frontend/app/src/entities/artifacts/ui/artifact-generate-button.tsx
  frontend/app/src/entities/artifacts/ui/artifact-header.tsx
  frontend/app/src/entities/artifacts/ui/artifact-status-badge.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/nodes/object/ui/node-description.tsx
  frontend/app/src/entities/permission/utils.ts
  frontend/app/src/pages/objects/CoreArtifact/artifact-details.tsx
  frontend/app/src/shared/components/buttons/clipboard.tsx
  frontend/app/src/shared/components/buttons/download.tsx
  frontend/app/src/shared/components/display/svg.tsx
  frontend/app/src/shared/components/download.tsx
  frontend/app/src/shared/components/file.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/src/shared/components/ui/scroll-area.tsx
  frontend/app/src/shared/hooks/useCopyToClipboard.ts
Labels: type/feature, group/frontend

#6000 Fix UP007 violations for non-core files
  backend/infrahub/artifacts/models.py
  backend/infrahub/artifacts/tasks.py
  backend/infrahub/cli/db.py
  backend/infrahub/config.py
  backend/infrahub/dependencies/component/registry.py
  backend/infrahub/exceptions.py
  backend/infrahub/generators/models.py
  backend/infrahub/git_credential/askpass.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/manager.py
  pyproject.toml
Labels: group/backend

#5992 Add tests for activities and fix links from details view
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/utils.ts
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
  frontend/app/tests/e2e/activities/global-activities.spec.ts
  frontend/app/tests/e2e/activities/object-activities.spec.ts
Labels: group/frontend

#5997 Make template relationship identifiers consistent
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#6001 fix flaky on profiles and branches E2E test
  frontend/app/tests/e2e/branches.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/utils.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#5920 Add missing handling of secondary changelog relationships
  backend/infrahub/core/changelog/models.py
  backend/infrahub/graphql/mutations/relationship.py
  backend/tests/unit/core/changelog/test_models.py
  backend/tests/unit/graphql/test_mutation_update.py
Labels: group/backend

#6006 docs links
  docs/docs/development/frontend/readme.mdx
  docs/docs/overview/readme.mdx
Labels: type/documentation

#6002 fix relationship query loopback bug
  backend/infrahub/core/query/node.py
  backend/tests/integration/schema_lifecycle/shared.py
  backend/tests/integration/schema_lifecycle/test_schema_migration_branch.py
  changelog/+relationship_query.fixed.md
Labels: group/backend

#6004 Merge stable into release-1.2
  .github/workflows/update-compose-file-and-chart.yml
  backend/infrahub/config.py
  backend/infrahub/database/__init__.py
  backend/infrahub/database/metrics.py
  development/Dockerfile
  docker-compose.yml
  docs/package-lock.json
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  tasks/__init__.py
  tasks/bundle.py
  tasks/container_ops.py
  tasks/demo.py
  tasks/dev.py
  utilities/collect
Labels: type/documentation, group/backend, group/ci

#6003 Refactor retry logic for InfrahubEvent query
  backend/infrahub/task_manager/event.py
Labels: group/backend

#6008 Fix: able to clear value for a list attribute using UI edit form
  changelog/5934.fixed.md
  frontend/app/src/shared/components/form/fields/list.field.test.tsx
  frontend/app/src/shared/components/form/fields/list.field.tsx
  frontend/app/src/shared/components/list.tsx
Labels: type/bug, group/frontend

#5983 Added button to re-run generator instance
  frontend/app/src/app/app.tsx
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/generators/api/run-generator-from-api.ts
  frontend/app/src/entities/generators/constants.ts
  frontend/app/src/entities/generators/domain/run-generator.mutation.ts
  frontend/app/src/entities/generators/domain/run-generator.ts
  frontend/app/src/entities/generators/ui/generator-definition-run-button.tsx
  frontend/app/src/entities/generators/ui/generator-run-button.tsx
  frontend/app/src/entities/nodes/object-item-details/action-buttons/details-buttons.tsx
  frontend/app/src/shared/components/aria/menu.tsx
  frontend/app/src/shared/components/inputs/relationship-many.tsx
  frontend/app/src/shared/components/style-rac.ts
  frontend/app/tests/components/render.tsx
Labels: type/feature, group/frontend

#5990 Add migration to update the default menu
  backend/infrahub/cli/db.py
  backend/infrahub/core/initialization.py
  backend/infrahub/menu/generator.py
  backend/infrahub/menu/models.py
  backend/infrahub/menu/utils.py
  backend/tests/unit/menu/conftest.py
  backend/tests/unit/menu/test_models.py
  backend/tests/unit/menu/test_update.py
  frontend/app/src/shared/components/search/search-actions.tsx
Labels: group/backend, group/frontend

#6016 Fixed an issue causing useQuery use previous current branch
  frontend/app/src/entities/branches/ui/branches-provider.tsx
Labels: type/bug, group/frontend, ci/skip-changelog

#6007 Allow to specify a node kind on a webhook to match against a kind
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/webhook.py
  backend/infrahub/events/artifact_action.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/events/utils.py
  backend/infrahub/events/validator_action.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/webhook.py
  backend/infrahub/webhook/models.py
  backend/tests/functional/webhook/test_task.py
  backend/tests/unit/graphql/mutations/test_webhook.py
Labels: group/backend

#6017 IFC-1373 Remove `object_template` relationship if template is turned off
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#6023 IFC-1376 Do not generate templates for absent node schemas
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#6025 Fixed an issue where schema from previous branch was present in another branch
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/schema/api/get-schema-from-api.ts
  frontend/app/src/entities/schema/api/get-schema-summary-from-api.ts
  frontend/app/src/entities/schema/domain/get-schema-hash.query.ts
  frontend/app/src/entities/schema/domain/get-schema-hash.ts
  frontend/app/src/entities/schema/domain/load-schema.query.ts
  frontend/app/src/entities/schema/domain/load-schema.ts
  frontend/app/src/entities/schema/stores/schema.atom.ts
  frontend/app/src/entities/schema/ui/decorators/withSchemaContext.tsx
  frontend/app/src/entities/schema/ui/providers/schema-provider.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/shared/api/types.ts
  frontend/app/src/shared/components/layout/app-layout.tsx
  frontend/app/src/shared/components/layout/layout.tsx
  frontend/app/src/shared/stores/state.atom.ts
  frontend/app/tests/integrations/screens/artifact-diff.cy.tsx
Labels: type/bug, group/frontend

#6015 Convert computed attribute to use trigger system
  backend/infrahub/computed_attribute/gather.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/computed_attribute/triggers.py
  backend/infrahub/events/repository_action.py
  backend/infrahub/proposed_change/tasks.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/constants.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/setup.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/webhook/constants.py
  backend/infrahub/webhook/gather.py
  backend/infrahub/webhook/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/infrahub/workflows/initialization.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/unit/computed_attribute/conftest.py
  backend/tests/unit/computed_attribute/test_gather.py
  backend/tests/unit/trigger/test_tasks.py
Labels: group/backend

#6031 Display label on dropdown cell + display 0 on number cell
  frontend/app/src/entities/nodes/object/ui/object-table/cells/dropdown-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
Labels: type/bug, group/frontend, ci/skip-changelog

#6032 IFC-1378 Fix generation of too many templates
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#6026 Hide infrahub events and infrahub git-agent
  backend/infrahub/cli/__init__.py
Labels: group/backend

#6034 fix diff merge to preserve hierarchy
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m021_missing_hierarchy_merge.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/migrations/graph/test_021.py
  changelog/6019.fixed.md
Labels: group/backend

#6036 Merge stable into release 1.2 with updated migrations
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m021_missing_hierarchy_merge.py
  backend/infrahub/core/migrations/graph/m022_add_generate_template_attr.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/migrations/graph/test_021.py
  changelog/6019.fixed.md
Labels: group/backend

#6039 release 1.1.9
  CHANGELOG.md
  changelog/+many_data_loader.added.md
  changelog/+relationship_query.fixed.md
  changelog/6019.fixed.md
  docs/docs/release-notes/infrahub/release-1_1_9.mdx
  docs/sidebars.ts
  pyproject.toml
Labels: type/documentation

#6033 Tighten event filtering constraints for Jinja2 based computed attributes
  backend/infrahub/computed_attribute/gather.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/infrahub/events/node_action.py
  backend/tests/unit/computed_attribute/test_gather.py
Labels: group/backend

#6043 Swap 'Optional' -> | None for generated code
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/generated/base_node_schema.py
  backend/infrahub/core/schema/generated/node_schema.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/templates/attributeschema_imports.j2
  backend/templates/basenodeschema_imports.j2
  backend/templates/genericschema_imports.j2
  backend/templates/nodeschema_imports.j2
  backend/templates/relationshipschema_imports.j2
Labels: group/backend

#6047 Fix loop over branches in registry that might change
  backend/infrahub/computed_attribute/gather.py
Labels: group/backend

#6049 Add missing event descriptions and node_kind to docs
  backend/infrahub/events/artifact_action.py
  backend/infrahub/events/group_action.py
  backend/infrahub/events/node_action.py
  docs/_templates/infrahub-events.j2
  docs/docs/reference/infrahub-events.mdx
  tasks/docs.py
Labels: type/documentation, group/backend

#6054 IFC-1390 Make component template inherit from own generic
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/template.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
Labels: group/backend

#6050 Change name format for computed attribute jinja2 triggers
  backend/infrahub/computed_attribute/models.py
  backend/tests/unit/computed_attribute/test_gather.py
Labels: group/backend

#6053 Fix typing issues for Ruff UP007
  backend/infrahub/core/migrations/shared.py
  backend/infrahub/core/protocols_base.py
  backend/infrahub/core/query/__init__.py
  backend/infrahub/core/query/attribute.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/query/standard_node.py
  backend/infrahub/core/query/subquery.py
  backend/infrahub/core/registry.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/computed_attribute.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/dropdown.py
  backend/infrahub/core/schema/generic_schema.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/task/task.py
  backend/infrahub/core/task/user_task.py
  backend/infrahub/core/utils.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/aggregated_checker.py
  backend/infrahub/core/validators/attribute/choices.py
  backend/infrahub/core/validators/attribute/enum.py
  backend/infrahub/core/validators/attribute/kind.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/optional.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/attribute/unique.py
  backend/infrahub/core/validators/determiner.py
  backend/infrahub/core/validators/model.py
  backend/infrahub/core/validators/node/attribute.py
  backend/infrahub/core/validators/node/generate_profile.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/node/relationship.py
  backend/infrahub/core/validators/relationship/count.py
  backend/infrahub/core/validators/relationship/optional.py
  backend/infrahub/core/validators/relationship/peer.py
  backend/infrahub/core/validators/shared.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/core/validators/uniqueness/index.py
  backend/infrahub/core/validators/uniqueness/model.py
Labels: group/backend

#6052 Return field default value when template's field relationship many is an empty array
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.test.ts
  frontend/app/src/shared/components/form/utils/getRelationshipDefaultValue.ts
Labels: type/bug, group/frontend

#6020 Add `infrahub upgrade` command
  .github/workflows/version-upgrade.yml
  backend/infrahub/cli/__init__.py
  backend/infrahub/cli/constants.py
  backend/infrahub/cli/db.py
  backend/infrahub/cli/upgrade.py
  backend/infrahub/menu/models.py
  backend/infrahub/menu/repository.py
  backend/infrahub/menu/utils.py
  backend/tests/unit/menu/conftest.py
  backend/tests/unit/menu/test_generator.py
  backend/tests/unit/menu/test_repository.py
  tasks/container_ops.py
  tasks/dev.py
Labels: group/backend, group/ci

#6037 Convert core schema in dict format to use proper Model
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/migrations/graph/m017_add_core_profile.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/account.py
  backend/infrahub/core/schema/definitions/core/artifact.py
  backend/infrahub/core/schema/definitions/core/builtin.py
  backend/infrahub/core/schema/definitions/core/check.py
  backend/infrahub/core/schema/definitions/core/core.py
  backend/infrahub/core/schema/definitions/core/generator.py
  backend/infrahub/core/schema/definitions/core/graphql_query.py
  backend/infrahub/core/schema/definitions/core/group.py
  backend/infrahub/core/schema/definitions/core/ipam.py
  backend/infrahub/core/schema/definitions/core/lineage.py
  backend/infrahub/core/schema/definitions/core/menu.py
  backend/infrahub/core/schema/definitions/core/permission.py
  backend/infrahub/core/schema/definitions/core/profile.py
  backend/infrahub/core/schema/definitions/core/propose_change.py
  backend/infrahub/core/schema/definitions/core/propose_change_comment.py
  backend/infrahub/core/schema/definitions/core/propose_change_validator.py
  backend/infrahub/core/schema/definitions/core/repository.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/infrahub/core/schema/definitions/core/template.py
  backend/infrahub/core/schema/definitions/core/transform.py
  backend/infrahub/core/schema/definitions/core/webhook.py
  backend/infrahub/core/schema/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#6057 IFC-1328 Make template name not unique for components
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
Labels: group/backend

#6055 fix(ci): avoid stale containers when cancelling job
  .github/workflows/ci.yml
Labels: group/ci

#6065 Merge stable into release-1.2
  .github/workflows/ci.yml
  poetry.lock
  python_testcontainers/infrahub_testcontainers/container.py
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: group/ci

#6046 sort menu
  docs/_templates/infrahub-events.j2
  docs/docs/reference/infrahub-events.mdx
  docs/docs/topics/events.mdx
  docs/sidebars.ts
Labels: type/documentation

#6067 [FLAKY] Immediately show new account token modal after creation
  frontend/app/src/entities/user-profile/ui/account-token-create-action.tsx
Labels: group/frontend, ci/skip-changelog

#6071 Upgrade ruff=0.11.0
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/infrahub/api/schema.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/utils.py
  backend/infrahub/graphql/mutations/repository.py
  backend/infrahub/workflows/models.py
  backend/tests/adapters/cache.py
  backend/tests/helpers/test_app.py
  backend/tests/unit/conftest.py
  backend/tests/unit/graphql/test_schema.py
  poetry.lock
  pyproject.toml
  python_testcontainers/infrahub_testcontainers/container.py
Labels: group/backend, group/ci

#6079 Fix flaky test on group E2E test
  frontend/app/tests/e2e/groups/groups.spec.ts
Labels: group/frontend, ci/skip-changelog

#6078 Fix typing for GraphQL return statements
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/proposed_change.py
  backend/infrahub/graphql/mutations/repository.py
  pyproject.toml
Labels: group/backend

#6072 Correctly display relationship of cardinality many on IPAM summary
  changelog/5925.fixed.md
  frontend/app/src/entities/ipam/common/ip-details-card.tsx
  frontend/app/src/entities/ipam/ip-addresses/ip-address-summary.tsx
  frontend/app/src/entities/ipam/prefixes/ipam-prefixes-summary-details.tsx
  frontend/app/src/entities/role-manager/ui/relationship-display.tsx
Labels: type/bug, group/frontend

#6069 Update schema integrity check
  frontend/app/src/entities/diff/checks/check.tsx
  frontend/app/src/entities/diff/checks/data-conflict.tsx
  frontend/app/src/entities/diff/checks/data-integrity-conflicts.tsx
  frontend/app/src/entities/diff/checks/schema-conflict.tsx
  frontend/app/src/entities/diff/checks/schema-integrity-conflicts.tsx
  frontend/app/src/entities/diff/node-diff/node-attribute.tsx
  frontend/app/src/entities/diff/node-diff/node-property.tsx
Labels: group/frontend

#6081 Fix adding/updating Generic/Component Relationships in IPAM views
  changelog/5924.fixed.md
  frontend/app/src/entities/nodes/object-item-edit/generateObjectEditFormQuery.ts
  frontend/app/src/shared/components/form/utils/getFormFieldsFromSchema.ts
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: type/bug, group/frontend

#6082 On object creation form, display field for members_of_groups relationship
  changelog/+member_of_groups.added.md
  frontend/app/src/shared/components/form/utils/getRelationshipsForForm.ts
Labels: type/feature, group/frontend

#6083 Added missing changelog
  changelog/+layout.added.md
  changelog/3456.added.md
  changelog/5354.added.md
  changelog/5889.fixed.md
Labels: ci/skip-changelog

#6076 fix(ci): ensure python 3.12 on failing jobs
  .github/workflows/ci.yml
Labels: group/ci

#5991 fix(ci): make benchmarks verbose to catch exceptions
  .github/workflows/ci.yml
Labels: group/ci

#6022 Fix deprecated warnings for Pydantic
  backend/infrahub/core/migrations/schema/models.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/models/validate_migration.py
  backend/tests/unit/core/constraint_validators/test_models.py
  backend/tests/unit/core/migrations/schema/test_models.py
Labels: group/backend

#6077 Add relationship info to node mutation activity log entries
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/events/node_action.py
  backend/infrahub/graphql/types/event.py
  backend/infrahub/task_manager/event.py
  backend/tests/unit/graphql/queries/test_event.py
Labels: group/backend

#6095 Add artifact activities
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/constants.ts
  frontend/app/src/entities/events/types.ts
  frontend/app/src/entities/events/ui/artifact-events/artifact-event-title.tsx
  frontend/app/src/entities/events/ui/branch-events/branch-event-title.tsx
  frontend/app/src/entities/events/ui/event-card.tsx
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/global-event-details.tsx
  frontend/app/src/entities/events/ui/global-event.tsx
  frontend/app/src/entities/events/ui/group-events/group-event-title.tsx
  frontend/app/src/entities/events/ui/node-events/node-event-title.tsx
  frontend/app/src/entities/events/ui/standard-events/standard-event-title.tsx
Labels: group/frontend

#5998 Add node creations batch benchmark
  .github/labels.yml
  .github/workflows/ci.yml
  backend/tests/benchmark/intensive/__init__.py
  backend/tests/benchmark/intensive/test_batch_create.py
  backend/tests/conftest.py
  backend/tests/unit/conftest.py
Labels: group/backend, group/ci, ci/run-intensive-benchmarks

#6097 Fix computed attribute relationship issue of passing object by reference
  backend/infrahub/core/schema/schema_branch_computed.py
  backend/tests/integration_docker/test_computed_attributes.py
Labels: group/backend

#5965 Docs: Webhook docs
  .vale/styles/spelling-exceptions.txt
  docs/docs/guides/webhooks.mdx
  docs/docs/media/fastapi_webhook_reciever.txt
  docs/docs/media/webhook_create.png
  docs/docs/media/webhook_detail.png
  docs/docs/media/webhook_list.png
  docs/docs/topics/events.mdx
  docs/docs/topics/webhooks.mdx
  docs/sidebars.ts
  frontend/app/tests/e2e/activities/object-activities.spec.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: type/documentation, group/frontend

#6104 Remove extra CI benchmarks run
  .github/workflows/ci.yml
Labels: group/ci

#6103 Update 1.2.0 release notes
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

#6120 update release notes for 1.2
  docs/docs/release-notes/infrahub/release-1_2_0.mdx
Labels: type/documentation

#6126 fix(ci): enable flaky e2e test detection
  .github/workflows/ci.yml
Labels: group/ci

#6117 Fix HFID validation with empty peer uniqueness constraints
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/schema_branch/test_schema_hfid.py
Labels: group/backend

#6106 Do not allow editing metadata on read_only attribute
  changelog/5558.fixed.md
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/tests/e2e/objects/object-metadata.spec.ts
Labels: type/bug, group/frontend

#6094 fix(docs): add backup tool workaround
  docs/docs/guides/database-backup.mdx
Labels: type/documentation

#6129 fix(backend): add more tracing spans
  backend/infrahub/graphql/resolvers/resolver.py
Labels: group/backend

#6131 disabled flaky test
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

#6121 Fix typing for core.utils
  backend/infrahub/core/utils.py
  pyproject.toml
Labels: group/backend

#6122 Fix typing for infrahub.trace
  backend/infrahub/trace.py
  pyproject.toml
Labels: group/backend

#6107 Remove node creation from event filter of mandatory computed attributes
  backend/infrahub/computed_attribute/models.py
  changelog/6105.changed.md
Labels: group/backend

#6074 inherited schema fixes
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/manager.py
  backend/infrahub/core/schema/node_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
Labels: group/backend

#6134 Use schema_hash in client.schema.all() to speed up Jinja2 attributes
  backend/infrahub/computed_attribute/tasks.py
  changelog/6133.changed.md
Labels: group/backend

#6114 Restrict event query filters for transform based computed attributes
  backend/infrahub/computed_attribute/gather.py
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/graphql/analyzer.py
  backend/tests/functional/computed_attributes/test_computed_attribute.py
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/integration_docker/test_files/computed_tshirt.yml
  backend/tests/integration_docker/test_files/repos/computed_attribute/.gitignore
  backend/tests/integration_docker/test_files/repos/computed_attribute/.infrahub.yml
  backend/tests/integration_docker/test_files/repos/computed_attribute/README.md
  backend/tests/integration_docker/test_files/repos/computed_attribute/transforms/device_name_attribute.gql
  backend/tests/integration_docker/test_files/repos/computed_attribute/transforms/device_name_attribute.py
  changelog/6113.changed.md
Labels: group/backend

#6137 Disabled flaky tests to unblock team
  .github/workflows/ci.yml
  frontend/app/playwright.config.ts
  frontend/app/tests/e2e/activities/global-activities-filters.spec.ts
  frontend/app/tests/e2e/activities/global-activities.spec.ts
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/objects/artifact-definition.spec.ts
  frontend/app/tests/e2e/objects/artifact.spec.ts
  frontend/app/tests/e2e/tutorial/tutorial-1_object-create-update-diff-and-merge.spec.ts
Labels: group/frontend, ci/skip-changelog, group/ci

#6140 bump migration number to be correct
  backend/infrahub/core/graph/__init__.py
Labels: group/backend

#6142 Add SCHEMA_STRICT_MODE to disable hfid restriction
  backend/infrahub/config.py
  backend/infrahub/core/schema/schema_branch.py
  changelog/+schema_strict_mode.added.md
Labels: group/backend

#6143 Fix object template rel create in a branch
  backend/infrahub/graphql/mutations/main.py
  backend/tests/unit/graphql/test_mutation_create.py
  changelog/+templateinbranch.fixed.md
Labels: group/backend

#6130 Allow renaming of inherited kinds
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/models.py
  backend/infrahub/core/validators/interface.py
  backend/infrahub/core/validators/model.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/tests/unit/core/constraint_validators/test_attribute_choices_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_enum_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_kind_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_optional.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_unique_update.py
  backend/tests/unit/core/constraint_validators/test_node_generate_profiles_update.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_count.py
  backend/tests/unit/core/constraint_validators/test_relationship_optional_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  changelog/6051.fixed.md
  changelog/6060.fixed.md
Labels: group/backend

#6148 Re-add object template guide and topic to docs sidebar menu
  docs/sidebars.ts
Labels: type/documentation

#6138 remove sdk release notes
  docs/docs/release-notes/python-sdk/release-0_13.mdx
  docs/docs/release-notes/python-sdk/release-1_0-DRAFT.mdx
  docs/sidebars.ts
Labels: type/documentation

#6152 Merge release 1.1 into stable
  backend/infrahub/core/migrations/__init__.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/models.py
  backend/infrahub/core/validators/interface.py
  backend/infrahub/core/validators/model.py
  backend/infrahub/core/validators/node/hierarchy.py
  backend/infrahub/core/validators/node/inherit_from.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/tests/unit/core/constraint_validators/test_attribute_choices_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_enum_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_kind_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_optional.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_attribute_unique_update.py
  backend/tests/unit/core/constraint_validators/test_node_generate_profiles_update.py
  backend/tests/unit/core/constraint_validators/test_node_hierarchy_update.py
  backend/tests/unit/core/constraint_validators/test_node_inherit_from_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_count.py
  backend/tests/unit/core/constraint_validators/test_relationship_optional_update.py
  backend/tests/unit/core/constraint_validators/test_relationship_peer_update.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/core/migrations/schema/test_node_kind_update.py
  changelog/6051.fixed.md
  changelog/6060.fixed.md
Labels: group/backend

#5966 Improve node upsert performances
  .github/workflows/ci.yml
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/migrations/graph/m018_uniqueness_nulls.py
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/uniqueness/checker.py
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/infrahub/exceptions.py
  backend/infrahub/graphql/mutations/ipam.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/mutations/node_getter/by_default_filter.py
  backend/infrahub/server.py
  backend/tests/conftest.py
  backend/tests/node_creation.py
  backend/tests/unit/core/changelog/test_models.py
  backend/tests/unit/core/constraint_validators/conftest.py
  backend/tests/unit/core/constraint_validators/test_node_grouped_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_node_uniqueness.py
  backend/tests/unit/core/constraint_validators/test_uniqueness_checker.py
  backend/tests/unit/graphql/mutations/test_ipam.py
  backend/tests/unit/graphql/test_mutation_relationship.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+schemastrictmode.added.md
  changelog/upsertperformances.changed.md
Labels: group/backend, group/ci, ci/run-intensive-benchmarks

#6154 Disable failing E2E tests to unblock CI
  frontend/app/tests/e2e/branches.spec.ts
  frontend/app/tests/e2e/docs-regression-check/guides/resource_manager_guide.spec.ts
  frontend/app/tests/e2e/docs-regression-check/tutorials/tutorial-3_schema.spec.ts
  frontend/app/tests/e2e/groups/groups.spec.ts
  frontend/app/tests/e2e/ipam/ipam-crud.spec.ts
  frontend/app/tests/e2e/ipam/ipam-tree.spec.ts
  frontend/app/tests/e2e/ipam/prefix-summary.spec.ts
  frontend/app/tests/e2e/object-template/create-object-instance-using-template.spec.ts
  frontend/app/tests/e2e/objects/profiles/profiles.spec.ts
  frontend/app/tests/e2e/webhook/webhook.spec.ts
Labels: group/frontend

#6153 Fix version of internal graph after 1.2 release
  backend/infrahub/core/graph/__init__.py
  changelog/+graphver.fixed.md
Labels: group/backend

#6116 Display relationships updates in activity details
  changelog/activities.added.md
  frontend/app/src/entities/events/api/get-events-from-api.ts
  frontend/app/src/entities/events/ui/event-details-popover.tsx
  frontend/app/src/entities/events/ui/event-details.tsx
  frontend/app/src/entities/events/ui/node-events/event-relationships.tsx
  frontend/app/tests/e2e/tasks/tasks-view.spec.ts
Labels: group/frontend

#6135 Fix merge button state depending on ongoing merge tasks
  changelog/6059.fixed.md
  frontend/app/src/entities/branches/ui/branch-details.tsx
  frontend/app/src/entities/branches/ui/branch-merge-button.tsx
  frontend/app/tests/e2e/branches/branches.spec.ts
  frontend/app/tests/e2e/branches/merge-branch.spec.ts
  frontend/app/tests/e2e/docs-regression-check/guides/resource_manager_guide.spec.ts
  frontend/app/tests/e2e/objects/object-list.spec.ts
Labels: group/frontend

#6157 Add upgrade documentation
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/sidebars.ts
Labels: type/documentation

#6150 integration test covering updated order weights
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
  changelog/5684.fixed.md
Labels: group/backend

#6009 IFC-1243 Set operational status of repo after fetch
  backend/infrahub/exceptions.py
  backend/infrahub/git/base.py
  backend/infrahub/git/integrator.py
  backend/tests/integration/git/test_repository.py
  backend/tests/unit/git/test_git_repository.py
  changelog/5755.fixed.md
Labels: group/backend

#6167 Revert "fix(ci): remove chromium netlink workaround"
  .github/workflows/ci.yml
  frontend/app/playwright.config.ts
Labels: group/frontend, group/ci

#6165 update NodeGetKindQuery for nodes with a migrated kind
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_kind_query.py
  changelog/+node-kind-query.fixed.md
Labels: group/backend

#6109 Increase pytest session timeout for intensive benchmarks
  backend/tests/benchmark/intensive/test_batch_create.py
  pyproject.toml
Labels: group/backend, ci/run-intensive-benchmarks

#6176 Fix test read.spec.ts
  frontend/app/playwright.config.ts
  frontend/app/tests/e2e/ipam/ip-namespace.spec.ts
  frontend/app/tests/e2e/role-management/account-and-group-crud.spec.ts
  frontend/app/tests/e2e/role-management/read.spec.ts
  frontend/app/tests/e2e/role-management/roles-crud.spec.ts
  frontend/app/tests/utils.ts
Labels: group/frontend, ci/skip-changelog

#6193 Fix upserting a node with an existing non-hfid unique attribute in payload
  backend/infrahub/core/node/constraints/grouped_uniqueness.py
  backend/tests/conftest.py
  backend/tests/unit/graphql/test_mutation_upsert.py
  changelog/+upsertuniqueattributes.fixed.md
Labels: group/backend
