Repository opsmill/infrahub, pull requests merged in 2025-05, with the labels that each got.

#6387 update NodeListGetRelationshipQuery to be more efficient
  backend/infrahub/core/manager.py
  backend/infrahub/core/query/node.py
  backend/tests/unit/core/test_node_query.py
  changelog/+node_list_get_relationship_query.fixed.md
Labels: group/backend

#6384 Add note about rebase after core schema updates
  backend/infrahub/cli/db.py
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
Labels: type/documentation, group/backend

#6395 Restrict computed attribute query to the required attribute
  backend/infrahub/graphql/mutations/computed_attribute.py
  changelog/6403.changed.md
Labels: group/backend

#6396 Refactored and tested function to get relationships visible in tab
  frontend/app/src/config/constants.tsx
  frontend/app/src/entities/nodes/hooks/useObjectDetails.ts
  frontend/app/src/entities/nodes/object-item-details/object-item-details-paginated.tsx
  frontend/app/src/entities/nodes/object-items/getSchemaObjectColumns.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-tab.test.ts
  frontend/app/src/entities/nodes/object/utils/get-relationships-visible-in-tab.ts
Labels: group/frontend, type/housekeeping

#6376 Deleting branch correctly deletes nodes with agnostic relationships
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m027_delete_isolated_nodes.py
  backend/infrahub/core/query/branch.py
  backend/tests/functional/branch/test_delete_agnostic_rel.py
  backend/tests/unit/core/migrations/graph/test_027.py
Labels: group/backend

#6408 fix(ci): repository dispatch after image is published
  .github/workflows/release.yml
Labels: group/ci

#6412 ci: add INFRAHUB_CUSTOMER2_REPOSITORY to repository-dispatcher
  .github/workflows/repository-dispatch.yml
Labels: ci/skip-changelog, group/ci

#6414 Fix textarea UI display in object details view
  changelog/6400.fixed.md
  frontend/app/src/entities/nodes/getObjectItemDisplayValue.tsx
Labels: group/frontend

#6391 logic for deleting nodes removed from a diff
  backend/infrahub/core/diff/coordinator.py
  backend/infrahub/core/diff/data_check_synchronizer.py
  backend/infrahub/core/diff/ipam_diff_parser.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/drop_nodes.py
  backend/infrahub/core/diff/query/filters.py
  backend/infrahub/core/diff/repository/repository.py
  backend/infrahub/graphql/queries/diff/tree.py
  backend/tests/unit/core/diff/test_coordinator.py
Labels: group/backend

#6343 Add support for converting object type
  backend/infrahub/core/convert_object_type/__init__.py
  backend/infrahub/core/convert_object_type/conversion.py
  backend/infrahub/core/convert_object_type/schema_mapping.py
  backend/infrahub/core/manager.py
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/create.py
  backend/infrahub/core/protocols_base.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/relationship/model.py
  backend/infrahub/core/schema/__init__.py
  backend/infrahub/graphql/mutations/convert_object_type.py
  backend/infrahub/graphql/mutations/main.py
  backend/infrahub/graphql/queries/convert_object_type_mapping.py
  backend/infrahub/graphql/schema.py
  backend/tests/conftest.py
  backend/tests/functional/convert_object_type/__init__.py
  backend/tests/functional/convert_object_type/test_convert_object_type.py
  backend/tests/unit/core/convert_object_type/__init__.py
  backend/tests/unit/core/convert_object_type/test_convert_object_type.py
Labels: group/backend

#6405 Update date display to include year and fix consistency across list and details views
  changelog/+date-format.fixed.md
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-attribute-cell.tsx
  frontend/app/src/shared/components/display/date-display.tsx
  frontend/app/src/shared/utils/date.ts
Labels: type/bug, group/frontend

#6423 IFC-1501 Generate templates for inherited kinds
  backend/infrahub/core/schema/schema_branch.py
  changelog/6415.fixed.md
Labels: group/backend

#6427 v1.2.9 release prep
  CHANGELOG.md
  changelog/+add_schema_strict_mode_testcontainers.added.md
  changelog/+comp_attr_setup_dup.fixed.md
  changelog/+date-format.fixed.md
  changelog/+db_performance_improvement.added.md
  changelog/5463.fixed.md
  changelog/6400.fixed.md
  changelog/6403.changed.md
  changelog/6415.fixed.md
  docker-compose.yml
  docs/docs/release-notes/infrahub/release-1_2_7.mdx
  docs/docs/release-notes/infrahub/release-1_2_8.mdx
  docs/docs/release-notes/infrahub/release-1_2_9.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#6421 fix bug in rel create for migrated kind nodes
  backend/infrahub/core/branch/models.py
  backend/infrahub/core/query/relationship.py
  backend/tests/unit/core/test_relationship_query.py
  changelog/+rel_create_on_migrated_kind_node.fixed.md
Labels: group/backend

#6422 change wording
  README.md
  docs/docs/faq/faq.mdx
Labels: type/documentation

#6430 ci: add INFRAHUB_CUSTOMER3_REPOSITORY to repository-dispatcher
  .github/workflows/repository-dispatch.yml
Labels: ci/skip-changelog, group/ci

#6429 Make sure doc sync only runs on commit to stable
  .github/workflows/sync-docs.yml
Labels: group/ci

#6434 Upgrade Prefect to 3.4.1
  backend/tests/helpers/utils.py
  poetry.lock
  pyproject.toml
Labels: group/backend

#6438 Add 'List' kinds to LARGE_ATTRIBUTE_TYPES
  backend/infrahub/types.py
  changelog/+f9d7f87b.fixed.md
Labels: group/backend

#6432 fix webhook signature calculation
  backend/infrahub/webhook/models.py
  changelog/6323.fixed.md
  docs/docs/media/fastapi_webhook_receiver.txt
  docs/docs/topics/webhooks.mdx
Labels: group/backend

#6445 edit demo to sandbox doc
  README.md
  docs/docs/faq/faq.mdx
Labels: type/documentation

#6401 handle migrated kind nodes in diff and merge logic
  backend/infrahub/core/diff/calculator.py
  backend/infrahub/core/diff/combiner.py
  backend/infrahub/core/diff/enricher/hierarchy.py
  backend/infrahub/core/diff/merger/merger.py
  backend/infrahub/core/diff/merger/serializer.py
  backend/infrahub/core/diff/model/path.py
  backend/infrahub/core/diff/query/merge.py
  backend/infrahub/core/diff/query/save.py
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/diff/repository/deserializer.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/m028_delete_diffs.py
  backend/infrahub/core/query/diff.py
  backend/infrahub/core/query/node.py
  backend/infrahub/core/query/relationship.py
  backend/tests/integration/schema_lifecycle/test_migration_kind_update.py
  backend/tests/unit/core/diff/repository/test_diff_repository.py
  backend/tests/unit/core/diff/repository/test_diff_summary_counts.py
  backend/tests/unit/core/diff/test_diff_and_merge.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/diff/test_diff_combiner.py
  backend/tests/unit/core/diff/test_diff_hierarchy_enricher.py
  backend/tests/unit/core/diff/test_diff_merger.py
  backend/tests/unit/core/test_relationship_query.py
  changelog/+merge_merge_node_kind_migration.fixed.md
Labels: group/backend

#6448 Add support for alternate fields in schema path
  backend/infrahub/core/attribute.py
  backend/tests/unit/core/test_types.py
  changelog/5769.added.md
Labels: group/backend

#6440 Ensure Jinja2 computed attribute recalculate only when the template changes
  .gitignore
  backend/infrahub/computed_attribute/models.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/trigger/setup.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration_docker/test_computed_attributes.py
  changelog/+comp_attr_jinja_hash.added.md
Labels: group/backend

#6425 Add event triggered actions
  backend/infrahub/actions/__init__.py
  backend/infrahub/actions/constants.py
  backend/infrahub/actions/gather.py
  backend/infrahub/actions/models.py
  backend/infrahub/actions/parsers.py
  backend/infrahub/actions/schema.py
  backend/infrahub/actions/tasks.py
  backend/infrahub/actions/triggers.py
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/action.py
  backend/infrahub/trigger/catalogue.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/infrahub/workflows/catalogue.py
  backend/tests/integration_docker/test_triggered_actions.py
  backend/tests/unit/actions/__init__.py
  backend/tests/unit/actions/test_constants.py
  backend/tests/unit/actions/test_gather.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: group/backend

#6451 Extract get schema icon logic into a utils function
  frontend/app/src/entities/nodes/object/ui/node-description.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-column-header-icon.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-relationship-cell.tsx
  frontend/app/src/entities/schema/utils/get-schema-icon.test.ts
  frontend/app/src/entities/schema/utils/get-schema-icon.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#6452 Migrate from useObjectDetails to useGetObject (part 2)
  frontend/app/src/entities/artifacts/ui/artifact-details.tsx
  frontend/app/src/entities/groups/ui/add-group-trigger-button.tsx
  frontend/app/src/entities/groups/ui/groups-manager-trigger-button.tsx
  frontend/app/src/entities/nodes/object/ui/CoreGraphQLQuery/graphql-query-details.tsx
  frontend/app/src/shared/components/layout/breadcrumb-navigation/items/breadcrumb-object-selector.tsx
  frontend/app/src/shared/components/search/search-anywhere-dialog.tsx
  frontend/app/src/shared/components/search/search-nodes.tsx
  frontend/app/tests/e2e/search.spec.ts
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#6394 Add bulk delete in list and relationships views
  changelog/+selection-table.added.md
  changelog/2932.added.md
  frontend/app/src/entities/nodes/object/api/delete-objects-from-api.ts
  frontend/app/src/entities/nodes/object/domain/delete-objects.mutation.ts
  frontend/app/src/entities/nodes/object/domain/delete-objects.ts
  frontend/app/src/entities/nodes/object/ui/object-table/cells/table-identifier-cell.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-skeleton.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/delete-objects-modal.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/actions/objects/toolbar-delete-action.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/toolbar/object-table-toolbar.tsx
  frontend/app/src/shared/api/graphql/graphqlClientApollo.tsx
  frontend/app/tests/e2e/objects/objects-bulk-delete.spec.ts
Labels: group/frontend, cd/preview

#6456 Reenable convert query test for transforms and fix code
  backend/infrahub/proposed_change/tasks.py
  backend/tests/fixtures/repos/car-dealership/initial__main/transforms/converted_person_with_cars.py
Labels: group/backend

#6459 order results of the uniqueness constraint query
  backend/infrahub/core/validators/uniqueness/query.py
Labels: group/backend

#6259 refactor: optimize database access with read_only parameter
  backend/infrahub/config.py
  backend/infrahub/core/constraint/node/runner.py
  backend/infrahub/core/diff/tasks.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/app.py
  backend/infrahub/graphql/loaders/node.py
  backend/infrahub/graphql/loaders/peers.py
  backend/infrahub/graphql/queries/relationship.py
  backend/infrahub/graphql/resolvers/many_relationship.py
  backend/infrahub/graphql/resolvers/resolver.py
  backend/infrahub/graphql/resolvers/single_relationship.py
  backend/infrahub/graphql/subscription/graphql_query.py
  backend/infrahub/graphql/types/branch.py
  backend/infrahub/message_bus/operations/refresh/registry.py
  backend/infrahub/telemetry/database.py
  backend/infrahub/telemetry/tasks.py
  development/docker-compose.yml
  docker-compose.yml
Labels: group/backend

#6465 Additional tests and guard rails for triggers and actions
  backend/infrahub/actions/models.py
  backend/infrahub/graphql/manager.py
  backend/infrahub/graphql/mutations/action.py
  backend/tests/unit/actions/test_gather.py
  backend/tests/unit/graphql/mutations/test_action.py
Labels: group/backend

#6466 Improve monitoring
  development/docker-compose-observability.yml
  development/docker-compose.override.yml.tmp
  development/grafana/provisioning/dashboards/container_resources.json
  development/grafana/provisioning/dashboards/infrahub_monitoring.json
  development/grafana/provisioning/dashboards/loki_monitoring.json
  development/grafana/provisioning/dashboards/neo4j_monitoring.json
  development/grafana/provisioning/dashboards/rabbitmq_instance_monitoring.json
  development/loki/config.yml
  development/memgraph_exporter/Dockerfile
  development/memgraph_exporter/config.yml
  development/tempo/config.yml
Labels: type/housekeeping

#6471 Update Python packages
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: group/ci

#6472 Use lock when configuring action triggers
  backend/infrahub/actions/tasks.py
Labels: group/backend

#6476 Fix issue where next page loaded even when table wasn't scrolled
  .vale/styles/spelling-exceptions.txt
  changelog/infinite-scroll.fixed.md
  frontend/app/src/entities/nodes/object/ui/object-table/object-table-skeleton.tsx
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
  frontend/app/src/pages/objects/layout.tsx
  frontend/app/src/shared/components/table/data-table.tsx
  frontend/app/src/shared/components/ui/scroll-area.tsx
  frontend/app/src/shared/components/utils/infinite-scroll.tsx
Labels: type/bug, group/frontend, cd/preview

#6479 Revert: do not display table skeleton when table's data is refreshing
  frontend/app/src/entities/nodes/object/ui/object-table/object-table.tsx
  frontend/app/src/entities/nodes/relationships/ui/relationship-table/relationship-table.tsx
Labels: group/frontend, ci/skip-changelog

#6473 Remove matching_related from events and use native Prefect 3.4.1
  backend/infrahub/prefect_server/models.py
  backend/infrahub/task_manager/models.py
Labels: group/backend

#6490 Correctly save proposed changed with merging state
  backend/infrahub/graphql/mutations/proposed_change.py
Labels: group/backend

#6489 Correct code for wait for prefect automations
  backend/tests/integration_docker/test_triggered_actions.py
Labels: group/backend

#6483 fix batching bug in diff query
  backend/infrahub/core/diff/query_parser.py
  backend/infrahub/core/query/diff.py
  changelog/+diff_batch_bug.fixed.md
Labels: group/backend

#6274 add AttributeParameters and link to AttributeSchema
  backend/infrahub/core/attribute.py
  backend/infrahub/core/models.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/__init__.py
  backend/infrahub/core/validators/attribute/length.py
  backend/infrahub/core/validators/attribute/regex.py
  backend/infrahub/core/validators/determiner.py
  backend/infrahub/core/validators/enum.py
  backend/templates/attributeschema_imports.j2
  backend/tests/integration/schema_lifecycle/test_attribute_parameters_update.py
  backend/tests/integration/schema_lifecycle/test_generic_migrations.py
  backend/tests/integration/schema_lifecycle/test_schema_validator_main.py
  backend/tests/unit/core/constraint_validators/test_attribute_length.py
  backend/tests/unit/core/constraint_validators/test_attribute_regex_update.py
  backend/tests/unit/core/constraint_validators/test_determiner.py
  backend/tests/unit/core/constraint_validators/test_task_schema_validate_migrations.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  backend/tests/unit/core/test_attribute.py
  backend/tests/unit/core/test_schema.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/4246.added.md
  docs/docs/reference/schema/attribute.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: type/documentation, group/backend

#6486 Fix for typing within SchemaBranch
  backend/infrahub/core/schema/schema_branch.py
  pyproject.toml
Labels: group/backend

#6487 Menu changes for trigger rules and actions
  backend/infrahub/actions/schema.py
  backend/infrahub/menu/menu.py
Labels: group/backend

#6468 Enable node selection in node trigger rule form
  frontend/app/src/entities/schema/constants.ts
  frontend/app/src/entities/schema/ui/providers/schema-provider.tsx
  frontend/app/src/entities/triggers/constants.ts
  frontend/app/src/entities/webhook/ui/webhook-form.tsx
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/utils/getFormFieldFromAttribute.ts
Labels: type/feature, group/frontend, cd/preview

#6446 Increase tasks logs limit
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/types/task_log.py
  backend/infrahub/task_manager/task.py
  backend/tests/unit/graphql/queries/test_task.py
Labels: group/backend

#6501 Allow specifying column order in DataTable
  frontend/app/src/shared/components/table/data-table.tsx
Labels: group/frontend, ci/skip-changelog

#6488 Enable attribute selection in node attribute match form
  frontend/app/src/entities/nodes/object-item-details/action-buttons/relationships-buttons.tsx
  frontend/app/src/entities/triggers/constants.ts
  frontend/app/src/entities/triggers/ui/node-attribute-match-form.tsx
  frontend/app/src/shared/components/form/node-form.tsx
  frontend/app/src/shared/components/form/object-form.tsx
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.test.ts
  frontend/app/src/shared/components/form/utils/mutations/getCreateMutationFromFormData.ts
Labels: group/frontend, cd/preview

#6505 Fixed ts types on GroupsManagerTriggerProps
  frontend/app/src/entities/groups/ui/groups-manager-trigger-button.tsx
  frontend/app/src/shared/components/aria/popover.tsx
Labels: group/frontend, type/housekeeping, ci/skip-changelog

#6509 Type hints for return codes
  backend/infrahub/core/attribute.py
  backend/infrahub/core/node/standard.py
  backend/infrahub/database/__init__.py
  pyproject.toml
Labels: group/backend

#6512 update remaining cypher CALL subqueries to new format
  backend/infrahub/core/migrations/query/attribute_rename.py
  backend/infrahub/core/migrations/query/delete_element_in_schema.py
  backend/infrahub/core/migrations/query/node_duplicate.py
  backend/infrahub/core/migrations/query/relationship_duplicate.py
  backend/infrahub/core/migrations/schema/node_attribute_remove.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/infrahub/core/query/relationship.py
Labels: group/backend

#6511 IFC-1530 Add weighted pool resource generic
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/resource_manager/test_ipaddress_pool.py
  backend/tests/unit/core/resource_manager/test_prefix_pool.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+pool_weighted_allocation.added.md
Labels: group/backend

#6507 Add support for NumberPool attribute kind
  backend/infrahub/core/node/__init__.py
  backend/infrahub/core/node/resource_manager/number_pool.py
  backend/infrahub/core/schema/attribute_parameters.py
  backend/infrahub/core/schema/attribute_schema.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/database/__init__.py
  backend/infrahub/types.py
  backend/templates/attributeschema_imports.j2
  backend/tests/helpers/schema/snow.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
  docs/docs/reference/schema/attribute.mdx
Labels: type/documentation, group/backend

#6504 Migrated menu to react-aria-components
  changelog/+menu.added.md
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/artifacts/ui/artifact-details-menu.tsx
  frontend/app/src/entities/repository/ui/repository-action-menu.tsx
  frontend/app/src/entities/schema/ui/schema-help-menu.tsx
  frontend/app/src/shared/components/aria/menu.tsx
  frontend/app/src/shared/components/menu/object-details-button.tsx
  frontend/app/src/shared/components/menu/object-help-button.tsx
  frontend/app/tests/e2e/schema.spec.ts
Labels: type/feature, group/frontend

#6514 Allow passing filters to object count query in UI
  changelog/object-count.added.md
  frontend/app/src/entities/nodes/object-header.tsx
  frontend/app/src/entities/nodes/object/api/get-objects-count-from-api.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.query.ts
  frontend/app/src/entities/nodes/object/domain/get-objects-count.ts
Labels: type/feature, group/frontend

#6520 New ip namespace list view with count
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/namespaces/domain/get-ip-namespace-list.query.ts
  frontend/app/src/entities/ipam/namespaces/domain/get-ip-namespace-list.ts
  frontend/app/src/entities/ipam/namespaces/ui/ip-namespace-card.tsx
  frontend/app/src/entities/nodes/object/domain/get-objects.query.ts
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/ipam/namespaces/ip-namespace-list-page.tsx
  frontend/app/src/shared/components/container.tsx
Labels: type/feature, group/frontend

#6518 Weighted pool allocation docs and attribute description
  .vale/styles/spelling-exceptions.txt
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  docs/docs/guides/resource-manager.mdx
  docs/docs/topics/resource-manager.mdx
Labels: type/documentation, group/backend

#6522 Forbid the deletion of NumberPools in use by NumberPool attributes
  backend/infrahub/core/schema/manager.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/tests/helpers/schema/__init__.py
  backend/tests/unit/graphql/mutations/test_resource_manager.py
Labels: group/backend

#6524 Require attribute NumberPool to be mandatory and read-only
  backend/infrahub/core/schema/schema_branch.py
  backend/tests/unit/core/schema/test_attribute_parameters.py
Labels: group/backend

#6523 Prepare release 1.2.11
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  changelog/+diff_batch_bug.fixed.md
  changelog/+pool_weighted_allocation.added.md
  changelog/infinite-scroll.fixed.md
  docs/docs/release-notes/infrahub/release-1_2_10.mdx
  docs/docs/release-notes/infrahub/release-1_2_11.mdx
  docs/sidebars.ts
  pyproject.toml
  python_testcontainers/pyproject.toml
Labels: type/documentation

#6525 Replace deprecated config parameter
  backend/infrahub/core/schema/attribute_parameters.py
Labels: group/backend

#6529 Stable to develop
  .vale/styles/spelling-exceptions.txt
  CHANGELOG.md
  backend/infrahub/core/constants/infrahubkind.py
  backend/infrahub/core/node/resource_manager/ip_address_pool.py
  backend/infrahub/core/node/resource_manager/ip_prefix_pool.py
  backend/infrahub/core/protocols.py
  backend/infrahub/core/schema/definitions/core/__init__.py
  backend/infrahub/core/schema/definitions/core/resource_pool.py
  backend/infrahub/database/__init__.py
  backend/infrahub/graphql/mutations/resource_manager.py
  backend/infrahub/graphql/queries/task.py
  backend/infrahub/graphql/types/task_log.py
  backend/infrahub/task_manager/task.py
  backend/tests/unit/conftest.py
  backend/tests/unit/core/resource_manager/test_ipaddress_pool.py
  backend/tests/unit/core/resource_manager/test_prefix_pool.py
  backend/tests/unit/graphql/queries/test_task.py
  backend/tests/unit/message_bus/operations/requests/test_proposed_change.py
  changelog/+diff_batch_bug.fixed.md
  changelog/infinite-scroll.fixed.md
  docker-compose.yml
  docs/docs/guides/installation-enterprise.mdx
  docs/docs/guides/installation.mdx
  docs/docs/guides/resource-manager.mdx
  docs/docs/guides/upgrade-enterprise.mdx
  docs/docs/guides/upgrade.mdx
  docs/docs/release-notes/infrahub/release-1_2_10.mdx
  docs/docs/release-notes/infrahub/release-1_2_11.mdx
  docs/docs/topics/resource-manager.mdx
  docs/sidebars.ts
  docs/src/components/EnterpriseBadge.jsx
Labels: type/documentation, group/backend

#6516 Display new parameters in the schema viewer for attribute of kind NumberPool - IFC-1524
  frontend/app/src/entities/schema/ui/attribute-display.tsx
  frontend/app/src/entities/schema/ui/schema-viewer.test.tsx
  frontend/app/src/shared/utils/number.ts
  frontend/app/tests/fake/schema.ts
Labels: group/frontend

#6528 Wrap IPAM UI with IpNamespaceProvider to ensure correct IP namespace logic and data
  frontend/app/src/app/router.tsx
  frontend/app/src/entities/ipam/api/prefixes.ts
  frontend/app/src/entities/ipam/common/namespace.state.ts
  frontend/app/src/entities/ipam/ip-addresses/ipam-ip-address-list.tsx
  frontend/app/src/entities/ipam/ip-namespace-selector.tsx
  frontend/app/src/entities/ipam/ipam-router.tsx
  frontend/app/src/entities/ipam/ipam-tree/ipam-tree.tsx
  frontend/app/src/entities/ipam/namespaces/domain/get-ip-namespace-list.ts
  frontend/app/src/entities/ipam/namespaces/ui/ip-namespace-provider.tsx
  frontend/app/src/entities/ipam/prefixes/ipam-prefix-details.tsx
  frontend/app/src/entities/ipam/prefixes/ipam-prefixes-summary-details.tsx
  frontend/app/src/entities/ipam/prefixes/ipam-prefixes-summary-list.tsx
  frontend/app/src/pages/ipam/layout.tsx
  frontend/app/src/pages/ipam/namespaces/ip-namespace-list-page.tsx
  frontend/app/src/shared/components/aria/popover.tsx
  frontend/app/tests/e2e/ipam/prefix-list.spec.ts
Labels: type/feature, group/frontend, cd/preview

#6536 Merge stable into develop
  .devcontainer/Dockerfile
  .github/workflows/ci-docker-image.yml
  .github/workflows/ci.yml
  .github/workflows/define-versions.yml
  .github/workflows/poetry-check.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/update-compose-file-and-chart.yml
  .github/workflows/version-upgrade.yml
  development/Dockerfile
  development/docker-compose.yml
  poetry.lock
  python_testcontainers/poetry.lock
Labels: group/ci

#6543 Add numberpool validation & constraint tests
  backend/tests/unit/core/constraint_validators/test_attribute_numberpool_constraints.py
Labels: group/backend

#6545 Stable to develop
  .gitignore
  backend/infrahub/core/constants/database.py
  backend/infrahub/core/graph/__init__.py
  backend/infrahub/core/migrations/graph/__init__.py
  backend/infrahub/core/migrations/graph/m029_duplicates_cleanup.py
  backend/infrahub/database/validation.py
  backend/infrahub/patch/queries/consolidate_duplicated_nodes.py
  backend/infrahub/patch/queries/delete_duplicated_edges.py
  backend/tests/unit/core/migrations/graph/test_029/__init__.py
  backend/tests/unit/core/migrations/graph/test_029/data_export/README.md
  backend/tests/unit/core/migrations/graph/test_029/data_export/edges.csv
  backend/tests/unit/core/migrations/graph/test_029/data_export/vertices.csv
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
  backend/tests/unit/patch/kind_deduplication_patches/test_patches.py
  changelog/6502.fixed.md
  poetry.lock
  python_testcontainers/infrahub_testcontainers/docker-compose.test.yml
  python_testcontainers/infrahub_testcontainers/helpers.py
Labels: group/backend

#6549 Simplify comparison
  backend/infrahub/core/path.py
  backend/infrahub/core/relationship/model.py
  pyproject.toml
  utilities/db_backup/__main__.py
Labels: group/backend

#6546 add missing database sessions
  backend/infrahub/message_bus/operations/refresh/registry.py
  backend/infrahub/webhook/tasks.py
  changelog/+add-missing-sessions.fixed.md
Labels: group/backend

#6526 IFC-279 Allow to define same peer set contraint
  backend/infrahub/core/relationship/constraints/peer_relatives.py
  backend/infrahub/core/schema/definitions/internal.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/dependencies/builder/constraint/grouped/node_runner.py
  backend/infrahub/dependencies/builder/constraint/relationship_manager/peer_relatives.py
  backend/infrahub/dependencies/registry.py
  backend/tests/constants/kind.py
  backend/tests/functional/constraints/__init__.py
  backend/tests/functional/constraints/peer_relatives.py
  backend/tests/helpers/schema/device.py
  backend/tests/unit/core/constraint_validators/test_relationship_relatives.py
  backend/tests/unit/core/schema_manager/test_manager_schema.py
  changelog/3709.added.md
  docs/docs/reference/schema/relationship.mdx
  docs/docs/reference/schema/validator-migration.mdx
Labels: type/documentation, group/backend

#6553 Map attribute kind to parameter for Yaml language server
  backend/infrahub/core/schema/attribute_schema.py
Labels: group/backend

#6559 Validate `IPHost` unique attributes are working properly
  backend/tests/functional/ipam/test_ipam_uniqueness_constraint.py
Labels: group/backend

#6222 add doc cluster backup/restaure
  docs/docs/guides/database-backup.mdx
  docs/docs/media/guides/database_backup_restore_standalone_step3.png
  docs/docs/media/guides/database_backup_restore_standalone_step6_1.png
  docs/docs/media/guides/database_backup_restore_standalone_step6_2.png
  docs/docs/media/guides/database_backup_restore_step3.png
  docs/docs/media/guides/database_backup_restore_step5.png
  docs/docs/media/guides/database_backup_restore_step6.png
  docs/docs/media/guides/database_backup_restore_step7.png
  docs/docs/media/guides/database_backup_restore_step8_1.png
  docs/docs/media/guides/database_backup_restore_step8_2.png
Labels: type/documentation

#6475 Add central locking options for updating triggers
  backend/infrahub/actions/tasks.py
  backend/infrahub/computed_attribute/gather.py
  backend/infrahub/computed_attribute/tasks.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/setup.py
  backend/infrahub/webhook/tasks.py
Labels: group/backend

#6558 Enable same parent constraint in the frontend
  frontend/app/src/entities/nodes/object/domain/get-object.ts
  frontend/app/src/shared/api/graphql/utils.ts
  frontend/app/src/shared/components/form/dynamic-form.tsx
  frontend/app/src/shared/components/form/fields/relationship-parent-constraint.field.tsx
  frontend/app/src/shared/components/form/fields/relationship.field.tsx
Labels: type/feature, group/frontend

#6564 Display common relatives property in schema viewer
  frontend/app/src/entities/schema/ui/relationship-display.tsx
  frontend/app/src/entities/schema/ui/styled.tsx
Labels: group/frontend

#6565 IFC-1517 Don't set unique constraints on generic templates
  backend/infrahub/core/schema/schema_branch.py
  changelog/6478.fixed.md
Labels: group/backend

#6560 Linting: RUF036 `None` not at the end of the type annotation
  backend/infrahub/core/schema/basenode_schema.py
  backend/infrahub/core/schema/schema_branch.py
  pyproject.toml
Labels: group/backend

#6571 Linting: RUF100 Unused `noqa` directive
  backend/infrahub/cli/db.py
  backend/infrahub/core/convert_object_type/conversion.py
  backend/infrahub/core/diff/query/time_range_query.py
  backend/infrahub/core/migrations/graph/m013_convert_git_password_credential.py
  backend/infrahub/core/migrations/query/relationship_duplicate.py
  backend/infrahub/core/migrations/schema/node_remove.py
  backend/infrahub/core/node/base.py
  backend/infrahub/core/query/relationship.py
  backend/infrahub/core/schema/generated/attribute_schema.py
  backend/infrahub/core/schema/generated/relationship_schema.py
  backend/infrahub/core/schema/schema_branch.py
  backend/infrahub/core/validators/tasks.py
  backend/infrahub/database/__init__.py
  backend/infrahub/dependencies/builder/diff/deserializer.py
  backend/infrahub/events/models.py
  backend/infrahub/trigger/models.py
  backend/infrahub/trigger/tasks.py
  backend/templates/attributeschema_imports.j2
  backend/templates/relationshipschema_imports.j2
  backend/tests/integration_docker/test_computed_attributes.py
  backend/tests/unit/core/diff/test_diff_calculator.py
  models/infrastructure_edge.py
  pyproject.toml
  python_testcontainers/tasks.py
  tasks/docs.py
Labels: group/backend

#6541 fix(ci): remove invalid poetry 2 commands
  .github/workflows/ci.yml
  .github/workflows/poetry-check.yml
  .github/workflows/update-compose-file-and-chart.yml
  .github/workflows/version-upgrade.yml
Labels: group/ci

#6570 remove needlessly scary error message
  backend/infrahub/graphql/mutations/main.py
Labels: group/backend

#6567 extra-thorough test for latest migration
  backend/infrahub/core/migrations/graph/m029_duplicates_cleanup.py
  backend/tests/db_snapshot.py
  backend/tests/unit/core/migrations/graph/test_029/test_029.py
Labels: group/backend
